@*@model IEnumerable<HPCL.Common.Models.ResponseModel.MobileDispenser.MobileDispenserRetailOutletMappingResponse>
*@
    @model HPCL.Common.Models.ViewModel.MobileDispenser.MobileDispenserViewModel
@using HPCL.Common.Resources
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Profile</a> </li>
            <li class="breadcrumb-item font-weight-light">Mobile Dispenser Retail Outlet Mapping</li>
        </ul>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form" }))
        {

            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Mobile Dispenser Retail Outlet Mapping</p>
                        <div class="col-lg-12 col-md-12 col-12 pb-0">
                            <p class="text-dark px-0 py-2 mb-3 font-weight-bold" style="border-bottom:1px solid #ccc;">Search Mapping</p>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-5 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-0">
                                        <label class="font-weight-normal col-md-5 col-12">Mobile Dispenser Id<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <input class="form-control" id="" name="mdispenserid" type="text" value="">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-12 px-0">
                                    <div class="d-flex align-items-center flex-wrap mb-0">
                                        <label class="font-weight-normal col-md-5 col-12">Status <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">

                                              @*@Html.DropDownList("Mobiledropdown2", ViewBag.StatusName as SelectList,"StatusName")*@
                                                @*@Html.DropDownList("MySkills", (IEnumerable<SelectListItem>)ViewBag.Status)*@
      @Html.DropDownListFor(model => model.GetStatus, new SelectList(Model.GetStatus, "StatusName"), new { @class = "form-control" })


       
                                             <select name="zonalOffice" id="StatusId" class="form-control"   onchange="StatusSearchMobile()">
                                                    <option selected="selected" value="-1">--All--</option>
                                                    <option value="0">Pending</option>
                                                    <option value="1">Approved</option>
                                                    <option value="2">Rejected</option>
                                                    <option value="3">test</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center justify-content-end flex-wrap mb-0">
                                        <div class="px-2">
                                            <button class="btn btn_primary" type="button" onclick="SearchMobile()">Search</button>
                                        </div>
                                        <div class="px-2">
                                            <button class="btn btn_primary" type="button">Add Retail Outlet</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div id="Mobiletbl">
                   <table id="UserMappingTable" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3"  style="width:100%">
        <thead>
            <tr>
                <th style="">Serial Number</th>
                <th style="">Mobile Dispenser Id</th>
                <th style="">Mapped Merchant Id</th>
                <th style="">CreatedBy</th>
                <th style="">CreatedTime</th>
                <th style="">Status</th>
                <th style="">ModifiedBy</th>
                <th style="">ModifiedTime</th>
                <th style="">Remarks</th>


                
            </tr>
        </thead>
        <tbody class="bg-white">
            @if (Model.GetAllDataMobileDispenser.Count() > 0)
            {
                int i = 0;
                @foreach (var item in Model.GetAllDataMobileDispenser)
                {
                    i++;
                    <tr>
                        <td>@i</td>
                       
                        <td>@item.MobileDispenserId</td>
                        <td>@item.MappedMerchantId</td>
                        <td>@item.CreatedBy</td>
                        <td>@item.CreatedTime</td>
                         <td>@item.Status</td>
                        <td>@item.ModifiedBy</td>
                        <td>@item.ModifiedTime</td>
                        <td>@item.Remarks</td>
                        

                    </tr>
                }
            }
            else
            {
         @*  <div class="mb-3 text-center alert alert-danger">
            No Record Found
        </div>*@
            }

        </tbody>

    </table>
    </div>

                </div>
            </div>
        }
        
    </div>

</div>

<script type="text/javascript">


 


function SearchMobile() {
     var merchantId = '3411120001';
       var status = 0;
    debugger;
    $.ajax({
        type: 'POST',  // http method
        url: '@Url.Action("SearchMobileDispenserRetailsOutletMapping", "MobileDispenser")',
        contentType: "application/json; charset=utf-8",
        data: { merchantId: merchantId, status:status },
        dataType: "text",
        success: function (data, status, xhr) {
            var v = data;
            if (status == 'success') {
                $("#Mobiletbl").html("");
                $("#Mobiletbl").html(data);
                $('html, body').animate({
                    scrollTop: $("#Mobiletbl").offset().top
                }, 2000);
            }
            else {
                console.log(v);
            }
        },
        error: function (jqXhr, textStatus, errorMessage) {
            alert("Error");
        }
    });
}





function StatusSearchMobile() {
    
       var status = '3'/*$('#StatusId').val();*/
    debugger;
    $.ajax({
        type: 'POST',  // http method
        url: '@Url.Action("StatusMobileDispenserRetailsOutletMapping", "MobileDispenser")',
        contentType: "application/json; charset=utf-8",
        data: {status:status },
        dataType: "text",
        success: function (data, status, xhr) {
            var v = data;
            if (status == 'success') {
                $("#Mobiletbl").html("");
                $("#Mobiletbl").html(data);
                $('html, body').animate({
                    scrollTop: $("#Mobiletbl").offset().top
                }, 2000);
            }
            else {
                $("#Mobiletbl").html("");
                //console.log(v);
            }
        },
        error: function (jqXhr, textStatus, errorMessage) {
            alert("Error");
        }
    });
}
</script>


 
