@model HPCL.Common.Models.ViewModel.CustomerSearch.ControlCardPinResetReq
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Search")" class="text_primary">Search</a> </li>
            <li class="breadcrumb-item font-weight-light">Control Card Pin Reset</li>
        </ul>
        <form id="formValid">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Control Card Pin Resets</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">

                            <div id="successUpdate" class="mb-3 text-center alert alert-success" style="display:none;"></div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="col-md-2 col-12">Reset By <sup class="text-danger">*</sup></label>
                                        <div class="col-md-10 col-12">
                                            <div class="form-check form-check-inline">
                                                <input type="radio" name="SearchType" value="CustomerId" checked="checked" /> <span class="ml-2"> Customer ID </span>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                <input type="radio" name="SearchType" value="ControlCardNumber" />  <span class="ml-2"> Control Card Number </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-5 col-12">Customer ID/Control Card No. <sup class="text-danger">*</sup></label>
                                        
                                        <div class="col-md-7 col-12" id="customerclicked" style="display:none;">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @id = "custIdVal", @class = "restrictPaste form-control", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.CustomerID, "", new {@id="custIdValErr", @class = "text-danger error" })
                                            </div>
                                        </div>

                                        <div class="col-md-7 col-12" id="controlCardClicked" style="display:none;">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ControlCardNo, new { @id = "controlcardVal", @class = "restrictPaste form-control", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.ControlCardNo, "", new {@id="controlcardValErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="resetPin()">Reset Pin</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="resetClick()">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <div class="mb-3 text-center alert alert-danger" style="display:none;" id="noRecord">
                            </div>
                        </div>
             
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<script>

    function resetClick(){
        window.location.reload(true);
    }

    $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        if ($('input[name=SearchType]:checked').val() == "CustomerId") {
            
            document.getElementById("controlCardClicked").style.display = "none";
            document.getElementById("customerclicked").style.display = "block";

        } else if ($('input[name=SearchType]:checked').val() == "ControlCardNumber") {
            
            document.getElementById("customerclicked").style.display = "none";
            document.getElementById("controlCardClicked").style.display = "block";
        }

        $('input[type=radio][name=SearchType]').change(function () {
            if ($(this).val() == "CustomerId") {
                
                $("#custIdValErr").text("");
                document.getElementById("controlCardClicked").style.display = "none";
                document.getElementById("customerclicked").style.display = "block";

            } else if ($(this).val() == "ControlCardNumber") {
               
                $("#controlcardValErr").text("");
                document.getElementById("customerclicked").style.display = "none";
                document.getElementById("controlCardClicked").style.display = "block";
            }
        });
        
    });

    function resetPin(){

        var flag = "Y";
        
        if ($('input[name=SearchType]:checked').val() == "CustomerId") {
            if($("#custIdVal").val() == ''){
                $("#custIdValErr").text("Customer ID should not be left empty");
                flag = "N";
            }
        }else if($('input[name=SearchType]:checked').val() == "ControlCardNumber"){
            if($("#controlcardVal").val() == ''){
                $("#controlcardValErr").text("Control Card Number should not be left empty");
                flag = "N";
            }
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
            if ($("#formValid").valid()) {

                $.ajax({
                    type: 'POST',  // http method
                    url: '@Url.Action("ControlCardPinReset", "CustomerSearch")',
                    data: $('#formValid').serialize(),
                    dataType: "json",
                    success: function (res, status, xhr) {

                        console.log(res);

                        document.getElementById("noRecord").style.display = "none";
                        document.getElementById("successUpdate").style.display = "none";

                        if(res.searchList.success == true){
                            if(res.searchList.data[0].status == 1){

                                $("#successUpdate").html('');
                                $("#successUpdate").append(res.searchList.data[0].reason);
                                document.getElementById("successUpdate").style.display = "block";
                            }else{
                                $("#noRecord").html('');
                                $("#noRecord").append(res.searchList.data[0].reason);
                                document.getElementById("noRecord").style.display = "block";
                            }
                        }else{
                            $("#noRecord").html('');
                            $("#noRecord").append(res.searchList.message);
                            document.getElementById("noRecord").style.display = "block";
                        }

                    },
                        error: function (jqXhr, textStatus, errorMessage) {
                            alert("Error Populating Status Type");
                        }
                });

            } else {
                return false;
            }
        }
    }
</script>