@model HPCL.Common.Models.ResponseModel.Locations.HeadOfficeDetailsResponse

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Locations</a> </li>
            <li class="breadcrumb-item font-weight-light">Head Office Details</li>
        </ul>
        <form id="HodForm">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="border-1 rounded border-grey w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Head Office Details</p>
                            <div class="form-group d-flex align-items-center flex-wrap">

                            </div>
                    
                            <div id="resMsg" class="mb-3 text-center" style="background-color: #a0f1d6;display:none;"></div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div>
                                    @Html.HiddenFor(m => m.data[0].HQID);
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-5 col-12">Head Office Code <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.data[0].HQCode, new {@maxlength = "4", @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.data[0].HQCode, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-5 col-12">Head Office Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.data[0].HQName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.data[0].HQName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-12 col-md-6">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-5 col-12">Head Office Short Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.data[0].HQShortName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.data[0].HQShortName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mb-3">
                            <div class="px-2">
                                <button class="btn btn_primary" type="button" id="btnSave" name="submit" onclick="UpdateHod()">Save</button>
                            </div>
                            <div class="px-2">
                                <button class="btn btn_primary" id="=btnCancel" name="cancel" onclick="resetClick()">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    });
    function resetClick() {
        window.location.reload(true);
    }

    function UpdateHod() {
        if ($("#HodForm").valid()) {
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("HeadOfficeUpdate", "Locations")',
                data: $('#HodForm').serialize(),  // data to submit
                success: function (res, status, xhr) {
                    if (res != null) {
                        $("#resMsg").html("");
                        $("#resMsg").append("<span>" + res + "</span>")
                        document.getElementById("resMsg").style.display = "block";
                    } else {
                        document.getElementById("resMsg").style.display = "none";
                    }
                },  
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error");
                }
            });
        } else {
            return false;
        }
    }
</script>