@model HPCL_Web.Models.Locations.HeadOfficeDetails

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">

        <form name="applicationForm" onsubmit="return submitForm()" class="w-100">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Head Office Details</p>
                            <div class="form-group d-flex align-items-center flex-wrap">

                            </div>

                            <div id="responseAlert" class="alert alert-primary" role="alert" style="padding: 10px; padding-bottom: 2px; display:none;">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                                <p>@ViewBag.Message</p>
                            </div>

                            <div class="form-group d-flex align-items-center flex-wrap">

                            </div>
                            <div class="form-group d-flex align-items-center flex-wrap">
                                <label class="font-weight-normal col-md-5 col-12">Head Office Code <sup class="text-danger">*</sup></label>
                                <div class="col-md-7 col-12">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.HQCode, new { @class = "form-control", style = "width:50%" })
                                        @Html.ValidationMessageFor(m => m.HQCode, "", new { @class = "text-danger" })
                                    </div>
                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="hqCode_error"></span>
                                </div>
                            </div>

                            <div class="form-group d-flex align-items-center flex-wrap">
                                <label class="font-weight-normal col-md-5 col-12">Head Office Name <sup class="text-danger">*</sup></label>
                                <div class="col-md-7 col-12">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.HQName, new { @class = "form-control", style = "width:50%" })
                                        @Html.ValidationMessageFor(m => m.HQName, "", new { @class = "text-danger" })
                                    </div>
                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="hqName_error"></span>
                                </div>
                            </div>

                            <div class="form-group d-flex align-items-center flex-wrap">
                                <label class="font-weight-normal col-md-5 col-12">Head Office Short Name <sup class="text-danger">*</sup></label>
                                <div class="col-md-7 col-12">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.HQShortName, new { @class = "form-control", style = "width:50%" })
                                        @Html.ValidationMessageFor(m => m.HQShortName, "", new { @class = "text-danger" })
                                    </div>
                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="hqShortName_error"></span>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn" type="button" id="btnSave" name="submit" onclick="document.getElementById('responseAlert').style.display = 'block';" style="background-color:#084693;color:white;">Save</button>
                                <button class="btn"  id="=btnCancel" name="cancel" style="background-color:#084693;color:white;">Cancel</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>