<div style="width:100%;">
    <div class="pt-0 px-0">
        <p class="font-weight-bold" style="font-size: 14px;border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-left: 15px;">Office Locations</p>
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("HeadOfficeDetails", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Head Office</h4>
                        <p>Update Head Quater Office</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ZonalOfficersList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Zonal Offices</h4>
                        <p>Add/Update/Delete Zonal Offices</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RegionalOfficersList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Regional Offices</h4>
                        <p>Add/Update/Delete Regional Offices</p>
                    </div>
                </a>
            </div>
        </div>

        <p class="font-weight-bold" style="font-size: 14px;border-bottom: 1px solid #ccc;padding-bottom: 10px;margin-left: 15px;">Geographical Locations</p>
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("CountryRegionList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Country Region</h4>
                        <p>Add/Update/Delete Country Region</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("StateList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>State</h4>
                        <p>Add/Update/Delete State</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DistrictList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>District</h4>
                        <p>Add/Update/Delete District</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("CityList", "Locations")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>City</h4>
                        <p>Add/Update/Delete City</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>