@model HPCL.Common.Models.ViewModel.CustomerFeeWaiver.PendingCustomer

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Enrollments")" class="text_primary">Enrollments</a> </li>
            <li class="breadcrumb-item font-weight-light">Approve Fee Waiver</li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Approve Fee Waiver</p>
                    <div class="py-2 p-md-4">
                        <div class="w-100">

                            <div id="approveRejectFail" class="mb-3 text-center alert alert-danger" style="display:none;"></div>
                            <div id="approveRejectSuccess" class="mb-3 text-center alert alert-success" style="display:none;"></div>

                            <form id="formVal" method="post" data-ajax="true" asp-controller="CustomerFeeWaiver" asp-action="FeeWaiver" data-ajax-method="POST" data-ajax-success="OnSuccessFeeWaiverLoad" data-ajax-failure="OnFailure">
                                <div>
                                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                                        <div class="col-md-12 col-12 px-0">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-2 col-12 px-0">Form Number</label>
                                                <div class="col-md-3 col-12">
                                                    @Html.TextBoxFor(m => m.FormNumber, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                                    @Html.ValidationMessageFor(m => m.FormNumber, "", new { @class = "text-danger", @id = "FormNumberErrMsg" })
                                                </div>
                                                <div class="col-md-7 col-12 px-0">
                                                    <div class="form-group d-flex align-items-center flex-wrap mb-0">
                                                        <div class="px-2">
                                                            <button class="btn btn_primary" type="submit" id="btnSave" onclick="return SubmitValidations()" name="submit">SEARCH</button>
                                                        </div>
                                                        <div class="px-2">
                                                            <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetClick()">RESET</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="clearfix"></div>
                                    <div id="noRecord" class="mb-3 text-center alert alert-danger" style="display:none;"></div>
                                    <div class="clearfix"></div>
                                    
                                    <div class="table-responsive" id="customerSearchDiv" style="display:none;">
                                        <table id="customerSearchTblBind" class="datatable table table-striped d-block table-bordered table-responsive mt-3" style="width:100%;">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        S.No.
                                                    </th>
                                                    <th>
                                                        Customer Reference No.
                                                    </th>
                                                    <th style="width:1%">
                                                        Zonal
                                                    </th>
                                                    <th>
                                                        Regional
                                                    </th>
                                                    <th>
                                                        Form No.
                                                    </th>
                                                    <th>
                                                        Customer Name
                                                    </th>
                                                    <th>
                                                         RBE/RSM Name
                                                    </th>
                                                    <th>
                                                        Mobile No.
                                                    </th>
                                                    <th>
                                                        Action
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>
                            </form>

                            <div id="detailsSection">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                </div>

                                <div id="detailsWaiverSection" style="display:none;">
                                    <form>
                                        <fieldset class="border-1 rounded border-grey">
                                            <legend class="font-weight-bold font-12 d-inline-block w-auto px-2 ml-2">Card Preference</legend>

                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="d-flex align-items-center justify-content-start mr-3">
                                                            @Html.RadioButtonFor(m => m.CardPreference, "Card", new { @id = "cardChecked", disabled = "disabled" }) <span class="ml-2"> Card </span>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start">
                                                            @Html.RadioButtonFor(m => m.CardPreference, "Cardless", new { @id = "cardlessChecked", disabled = "disabled" }) <span class="ml-2"> Cardless </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="form-group d-flex align-items-center flex-wrap">
                                        </div>

                                        <fieldset class="border-1 rounded border-grey" id="cardInsideSection" style="display:none;">
                                            <legend class="font-weight-bold font-12 d-inline-block w-auto px-2 ml-2">Fee Payment Details</legend>

                                            <div class="form-group d-flex align-items-center flex-wrap">
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <div class="d-flex align-items-center justify-content-start">
                                                        <div class="d-flex align-items-center justify-content-start mr-3">
                                                            @Html.RadioButtonFor(m => m.FeePaymentsCollectorFeeWaiver, "Online", new { @id = "rbtnOnline", @class = "radio-toolbar", @disabled = "disabled" })
                                                            <span class="ml-2">Online</span>
                                                        </div>
                                                        <div class="d-flex align-items-center justify-content-start mr-3">
                                                            @Html.RadioButtonFor(m => m.FeePaymentsCollectorFeeWaiver, "Fee Waiver", new { @id = "rbtnFeeWaiver", @class = "radio-toolbar", @disabled = "disabled" })
                                                            <span class="ml-2">Fee Waiver</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="onlineRadioClick" style="display:none;">
                                                <div class="d-flex align-items-center justify-content-start flex-wrap col-12">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Payment Source<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.FeePaymentNo, new { @class = "form-control FeePaymentNoId", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(m => m.FeePaymentNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Payment Date<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.FeePaymentDate, new { @class = "form-control datepicker FeePaymentDateId", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(m => m.FeePaymentDate, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div id="feeWaiverRadioClick" style="display:none;">
                                                <div class="d-flex align-items-center justify-content-start flex-wrap col-12">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Approval Email From<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.FeePaymentNo, new { @class = "form-control FeePaymentNoId", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(m => m.FeePaymentNo, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Approval Email Date<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.FeePaymentDate, new { @class = "form-control datepicker FeePaymentDateId", @disabled = "disabled" })
                                                                @Html.ValidationMessageFor(m => m.FeePaymentDate, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>

                                          <table id="FleetAndCredit" class="table table-striped table-bordered text-nowrap table-responsive mb-3 mt-3 w-100" style="display:none; margin:auto;">
                                            <thead>
                                                <tr> 

                                                    <th>
                                                        S.No.
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Make")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Year Of Registration")
                                                    </th>
                                                    <th class="mobhide">
                                                        @Html.DisplayName("Mobile No.")
                                                    </th>

                                                </tr>
                                            </thead>
                                        </table>
                                        

                                        <table id="AttachedAndGeneric" class="table table-striped table-bordered text-nowrap table-responsive mb-3 mt-3 w-100" style="display:none; margin:auto;">
                                            <thead>
                                                <tr>

                                                    <th>
                                                        S.No.
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Card Identifier")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle No")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Make")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Year of Registration")
                                                    </th>
                                                    <th class="mobhide">
                                                        @Html.DisplayName("Mobile No.")
                                                    </th>

                                                </tr>
                                            </thead>
                                        </table>

                                        <table id="CorporateAndNonFleet" class="table table-striped table-bordered mt-3 mb-3 text-nowrap table-responsive w-50" style="display:none; margin:auto;">
                                            <thead>
                                                <tr>

                                                    <th>
                                                        S.No.
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Card Identifier")
                                                    </th>
                                                    <th class="mobhide">
                                                        @Html.DisplayName("Mobile No.")
                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>


                                        @*<div class="d-flex mt-2 justify-content-center">
                                            <div class="px-2">
                                            <button class="btn btn_primary" type="submit" id="btnSave" name="submit" style="background-color:#084693;color:white;float:left">EDIT</button>
                                            </div>
                                            </div>*@


                                        <div class="d-flex align-items-center justify-content-center">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-3 col-12">Comments : </label>
                                                    <div class="col-md-9 col-12">
                                                        @Html.TextAreaFor(m => m.Comments, new {@maxlength = "100", @id = "commentId", @class = "form-control", @type = "Date" })
                                                        @Html.ValidationMessageFor(m => m.Comments, "", new { @id = "cmtError", @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-12 col-12 mt-3">
                                            <div class="d-flex align-items-center justify-content-center mt-3">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnSave" name="submit" onclick="approveClick()">APPROVE</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnSave" name="submit" onclick="rejectClick()">REJECT</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="viewSelectedCustomer" class="modal fade">
    <div class="modal-dialog modal-lg" style="max-width:960px;width:100%;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text_primary" id="exampleModalLabel">Customer Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="bodyFetch">
                <div id="CustDetails">
                    @Html.Partial("ViewCustomer")
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

<script>

    function resetClick() {
        window.location.reload(true);
    }

    $(document).ready(function () {
        document.getElementById("FleetAndCredit").style.display = none;
        document.getElementById("AttachedAndGeneric").style.display = none;
        document.getElementById("CorporateAndNonFleet").style.display = none;
    });

    function OnSuccessFeeWaiverLoad(res) {

         document.getElementById('detailsWaiverSection').style.display = 'none';
        console.log(res);

        if (res.pendingList.success == true) {

            document.getElementById("noRecord").style.display = "none";

            //$("#customerSearchTblBind td").parent().remove();

            $('#customerSearchTblBind').DataTable().clear().destroy();

            var tbl = $('#customerSearchTblBind').DataTable({
                paging: true,
                searching: false,
                stateSave: true,
                "bDestroy": true,
                "lengthMenu": [5, 10, 20, 50, 100, 200, 500, 1000, 2000],
                "autoWidth": false,
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ Records",
                    "info": "Showing _START_ to _END_ of _TOTAL_ Records"
                }
            });

            var girdList = res.pendingList.data;

            for (var i = 0; i < girdList.length; i++) {

                var srNumber = (i + 1);
                var customerReferenceNo = "<a href='#aaa' class='cust'>" + (girdList[i].customerReferenceNo || '') + "</a>";
                var zonalOfficeName = (girdList[i].zonalOfficeName || '');
                var regionalOfficeName = (girdList[i].regionalOfficeName || '');
                var formNumber = "<span class='frmNo'>" + (girdList[i].formNumber || '') + "</span>";
                var customerName = (girdList[i].customerName || '');
                var createdRoleName = (girdList[i].createdRoleName || '');
                var mobileNo = (girdList[i].mobileNo || '');
                var approvalLink = "<a href='#aa' class='approveDtls' onclick='gotopage()'>APPROVE</a>";

                tbl.row.add([
                    srNumber,
                    customerReferenceNo,
                    zonalOfficeName,
                    regionalOfficeName,
                    formNumber,
                    customerName,
                    createdRoleName,
                    mobileNo,
                    approvalLink
                ]).draw();
            }

            document.getElementById('customerSearchDiv').style.display = 'block';

            $('html, body').animate({
                scrollTop: $("#customerSearchTblBind").offset().top
            }, 2000);
        } else {
            document.getElementById("customerSearchDiv").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.pendingList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }

    }

    function gotopage() {
        $('#cmtError').text("");
        $('html, body').animate({
            scrollTop: $("#detailsSection").offset().top
        }, 2000);
    }

    $("#customerSearchTblBind").on('click', '.cust', function (e) {

        var formNum = $(this).closest("tr").find(".frmNo").text();

        $.ajax({
            url: "@Url.Action("ViewCustomerDetails", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { formNumber: formNum },
            success: function (res) {
                console.log("customer", res);

                if (res.vewCustomerAllList.success == true) {

                    var customerList = res.vewCustomerAllList.data.getCustomerDetails;
                    var kycDetails = res.vewCustomerAllList.data.customerKYCDetails;

                    //console.log("card limit", res.limitDetailsList);

                    //$('#CustomerTypeID').val(customerList[0].customerTypeId);
                    //$('#customerSubType').val(customerList[0].customerSubtypeId);

                    var CustomerType = $('<option value="' + customerList[0].customerTypeName + '">' + customerList[0].customerTypeName + '</option>');
                    $('#CustomerTypeID').append(CustomerType);

                    var custSubType = $('<option value="' + customerList[0].customerSubtypeName + '">' + customerList[0].customerSubtypeName + '</option>');
                    $('#CustomerSubTypeID').append(custSubType);

                    var appDate;

                    if(((customerList[0].dateOfApplication) == "01-01-0001") || ((customerList[0].dateOfApplication) == "01-01-1900") || ((customerList[0].dateOfApplication) == null)){
                        appDate = "";
                    }else{
                        appDate = moment(customerList[0].dateOfApplication, 'DD-MM-YYYY').format('DD-MM-YYYY');
                    }

                    $('#applicationDate').val(appDate);

                    var CustomerSalesArea = $('<option value="' + customerList[0].salesArea + '">' + customerList[0].salesArea + '</option>');
                    $('#CustomerSalesAreaID').append(CustomerSalesArea);

                    var CustomerZonalOffice = $('<option value="' + customerList[0].zonalOfficeName + '">' + customerList[0].zonalOfficeName + '</option>');
                    $('#CustomerZonalOfficeID').append(CustomerZonalOffice);

                    var regionalOff = $('<option value="' + customerList[0].regionalOfficeName + '">' + customerList[0].regionalOfficeName + '</option>');
                    $('#CustomerRegionID').append(regionalOff);

                    var TypeOfCustomer = $('<option value="' + customerList[0].typeOfCustomerName + '">' + customerList[0].typeOfCustomerName + '</option>');
                    $('#TypeOfCustomerID').append(TypeOfCustomer);

                    var TierOfCustomer = $('<option value="' + customerList[0].tierOfCustomerName + '">' + customerList[0].tierOfCustomerName + '</option>');
                    $('#TierOfCustomerID').append(TierOfCustomer);


                    var IndividualTitle = $('<option value="' + customerList[0].individualOrgNameTitle + '">' + customerList[0].individualOrgNameTitle + '</option>');
                    $('#IndividualOrgNameTitle').append(IndividualTitle);

                    $('#IndividualOrgName').val(customerList[0].individualOrgName);

                    $('#CustomerNameOnCard').val(customerList[0].nameOnCard);

                    var CustomerTbentity = $('<option value="' + customerList[0].typeOfBusinessEntityName + '">' + customerList[0].typeOfBusinessEntityName + '</option>');
                    $('#CustomerTbentityID').append(CustomerTbentity);

                    var ResidenceStatus = $('<option value="' + customerList[0].residenceStatus + '">' + customerList[0].residenceStatus + '</option>');
                    $('#CustomerResidenceStatus').append(ResidenceStatus);

                    $('#CustomerIncomeTaxPan').val(customerList[0].incomeTaxPan);

                    //Address Tab
                    $('#CommunicationAddress1').val(customerList[0].communicationAddress1);
                    $('#CommunicationAddress2').val(customerList[0].communicationAddress2);
                    $('#CommunicationAddress3').val(customerList[0].communicationAddress3);
                    $('#CommunicationLocation').val(customerList[0].communicationLocation);
                    $('#CommunicationCity').val(customerList[0].communicationCityName);
                    $('#CommunicationPinCode').val(customerList[0].communicationPincode);

                    var CommunicationStateName = $('<option value="' + customerList[0].communicationStateName + '">' + customerList[0].communicationStateName + '</option>');
                    $('#CommunicationStateID').append(CommunicationStateName);

                    var CommunicationDistrict = $('<option value="' + customerList[0].communicationDistrictName + '">' + customerList[0].communicationDistrictName + '</option>');
                    $('#CommunicationDistrictId').append(CommunicationDistrict);

                    var comPhNoCode;
                    var comPhNo;

                    var comPhNoSplit =  (customerList[0].communicationPhoneNo).split('-');
                  
                    if(customerList[0].communicationPhoneNo == "-"){
                        comPhNo = "";
                        comPhNoCode = "";
                    }else{
                        comPhNoCode = comPhNoSplit[0];
                        comPhNo = comPhNoSplit[1];
                    }

                    $('#CommunicationPhoneNoCode').val(comPhNoCode);
                    $('#CommunicationPhoneNo').val(comPhNo);


                    var comFaxNoCode;
                    var comFaxNo;

                    var comFaxNoSplit =  (customerList[0].communicationFax).split('-');
                  
                    if(customerList[0].communicationFax == "-"){
                        comFaxNoCode = "";
                        comFaxNo = "";
                    }else{
                        comFaxNoCode = comFaxNoSplit[0];
                        comFaxNo = comFaxNoSplit[1];
                    }

                    $('#CommunicationFaxCode').val(comFaxNoCode);
                    $('#CommunicationFax').val(comFaxNo);

                    $('#CommunicationMobileNumber').val(customerList[0].communicationMobileNo);
                    $('#CommunicationEmail').val(customerList[0].communicationEmailid);


                    $('#PerOrRegAddress1').val(customerList[0].permanentAddress1);
                    $('#PerOrRegAddress2').val(customerList[0].permanentAddress2);
                    $('#PerOrRegAddress3').val(customerList[0].permanentAddress3);
                    $('#PerOrRegAddressLocation').val(customerList[0].permanentLocation);
                    $('#PerOrRegAddressCity').val(customerList[0].permanentCityName);
                    $('#PerOrRegAddressPinCode').val(customerList[0].permanentPincode);

                    var PermanentStateName = $('<option value="' + customerList[0].permanentStateName + '">' + customerList[0].permanentStateName + '</option>');
                    $('#PerOrRegAddressStateID').append(PermanentStateName);

                    var pDistrict = $('<option value="' + customerList[0].permanentDistrictName + '">' + customerList[0].permanentDistrictName + '</option>');
                    $('#PerOrRegAddressDistrict').append(pDistrict);


                    var keyPhNoCode;
                    var keyPhNo;

                    var keyPhNoSplit =  (customerList[0].permanentPhoneNo).split('-');
                  
                    if(customerList[0].permanentPhoneNo == "-"){
                        keyPhNoCode = "";
                        keyPhNo = "";
                    }else{
                        keyPhNoCode = keyPhNoSplit[0];
                        keyPhNo = keyPhNoSplit[1];
                    }

                    $('#PerOrRegAddressPhoneNumberCode').val(keyPhNoCode);
                    $('#PerOrRegAddressPhoneNumber').val(keyPhNo);


                    var keyFaxNoCode;
                    var keyFaxNo;

                    var keyFaxNoSplit =  (customerList[0].permanentFax).split('-');
                  
                    if(customerList[0].permanentFax == "-"){
                        keyFaxNoCode = "";
                        keyFaxNo = "";
                    }else{
                        keyFaxNoCode = keyFaxNoSplit[0];
                        keyFaxNo = keyFaxNoSplit[1];
                    }

                    $('#PermanentFaxCode').val(keyFaxNoCode);
                    $('#PermanentFax').val(keyFaxNo);


                    //Official Details Tab
                    var OffTitle = $('<option value="' + customerList[0].keyOfficialTitle + '">' + customerList[0].keyOfficialTitle + '</option>');
                    $('#KeyOffTitle').append(OffTitle);

                    $('#KeyOffFirstName').val(customerList[0].keyOfficialFirstName);
                    $('#KeyOffLastName').val(customerList[0].keyOfficialLastName);
                    $('#KeyOffDesignation').val(customerList[0].keyOfficialDesignation);

                    var keyOffPhNoCode;
                    var keyOffPhNo;

                    var keyOffPhNoSplit =  (customerList[0].keyOfficialPhoneNo).split('-');
                  
                    if(customerList[0].keyOfficialPhoneNo == "-"){
                        keyOffPhNoCode = "";
                        keyOffPhNo = "";
                    }else{
                        keyOffPhNoCode = keyOffPhNoSplit[0];
                        keyOffPhNo = keyOffPhNoSplit[1];
                    }

                    $('#KeyOffPhoneNumberCode').val(keyOffPhNoCode);
                    $('#KeyOffPhoneNumber').val(keyOffPhNo);

                    $('#KeyOffMobileNumber').val(customerList[0].keyOfficialMobile);
                    $('#KeyOffIndividualInitials').val(customerList[0].keyOfficialIndividualInitials);
                    $('#KeyOffMiddleName').val(customerList[0].keyOfficialMiddleName);

                    var keyOffFaxNoCode;
                    var keyOffFaxNo;

                    var keyOffFaxNoSplit =  (customerList[0].keyOfficialFax).split('-');
                  
                    if(customerList[0].keyOfficialFax == "-"){
                        keyOffFaxNoCode = "";
                        keyOffFaxNo = "";
                    }else{
                        keyOffFaxNoCode = keyOffFaxNoSplit[0];
                        keyOffFaxNo = keyOffFaxNoSplit[1];
                    }

                    $('#KeyOffFaxCode').val(keyOffFaxNoCode);
                    $('#KeyOffFax').val(keyOffFaxNo);

                    $('#KeyOffEmail').val(customerList[0].keyOfficialEmail);

                    var OfficialSecretQuestion = $('<option value="' + customerList[0].keyOfficialSecretQuestionName + '">' + (customerList[0].keyOfficialSecretQuestionName || '') + '</option>');
                    $('#KeyOfficialSecretQuestion').append(OfficialSecretQuestion);

                    $('#KeyOfficialSecretAnswer').val(customerList[0].keyOfficialSecretAnswer);

                    
                    var hcv = (customerList[0].fleetSizeNoOfVechileOwnedHCV == 0) ? hcv = "" : hcv = (customerList[0].fleetSizeNoOfVechileOwnedHCV);
                    var lcv = (customerList[0].fleetSizeNoOfVechileOwnedLCV == 0) ? lcv = "" : lcv = (customerList[0].fleetSizeNoOfVechileOwnedLCV);
                    var suv = (customerList[0].fleetSizeNoOfVechileOwnedMUVSUV == 0) ? suv = "" : suv = (customerList[0].fleetSizeNoOfVechileOwnedMUVSUV);
                    var jeep = (customerList[0].fleetSizeNoOfVechileOwnedCarJeep == 0) ? jeep = "" : jeep = (customerList[0].fleetSizeNoOfVechileOwnedCarJeep);

                    $('#FleetSizeNoOfVechileOwnedHCV').val(hcv);
                    $('#FleetSizeNoOfVechileOwnedLCV').val(lcv);
                    $('#FleetSizeNoOfVechileOwnedMUVSUV').val(suv);
                    $('#FleetSizeNoOfVechileOwnedCarJeep').val(jeep);

                    var customerTypeOfFleet = $('<option value="' + customerList[0].keyOfficialTypeOfFleetName + '">' + (customerList[0].keyOfficialTypeOfFleetName || '') + '</option>');
                    $('#CustomerTypeOfFleetID').append(customerTypeOfFleet);

                    $('#KeyOfficialCardAppliedFor').val(customerList[0].keyOfficialCardAppliedFor);

                    var monSpVchl1 = (customerList[0].keyOfficialApproxMonthlySpendsonVechile1 == 0) ? monSpVchl1 = "" : monSpVchl1 = (customerList[0].keyOfficialApproxMonthlySpendsonVechile1);
                    var monSpVchl2 = (customerList[0].keyOfficialApproxMonthlySpendsonVechile2 == 0) ? monSpVchl2 = "" : monSpVchl2 = (customerList[0].keyOfficialApproxMonthlySpendsonVechile2);

                    $('#KeyOfficialApproxMonthlySpendsonVechile1').val(monSpVchl1);
                    $('#KeyOfficialApproxMonthlySpendsonVechile2').val(monSpVchl2);
                    $('#AreaOfOperation').val(customerList[0].areaOfOperation);
               
                    var newDob;
                    var dtoa;

                    if(((customerList[0].keyOfficialDOB) == "01-01-0001") || ((customerList[0].keyOfficialDOB) == "01-01-1900") || ((customerList[0].keyOfficialDOB) == null)){
                        newDob = "";
                    }else{
                        newDob = moment(customerList[0].keyOfficialDOB, 'DD-MM-YYYY').format('DD-MM-YYYY');
                    }

                    if(((customerList[0].keyOfficialDOA) == "01-01-0001") || ((customerList[0].keyOfficialDOA) == "01-01-1900") || ((customerList[0].keyOfficialDOA) == null)){
                        dtoa = "";
                    }else{
                        dtoa = moment(customerList[0].keyOfficialDOA, 'DD-MM-YYYY').format('DD-MM-YYYY');
                    }

                    console.log(customerList[0].keyOfficialDOA+"        "+dtoa);

                    $('#KeyOfficialDOB').val(newDob);
                    $('#KeyOffDateOfAnniversary').val(dtoa);


                    res.kycDetailsResult
                    //KYC
                    console.log('Ravi');
                    console.log(res.kycDetailsResult);

                    if (kycDetails.length > 0) {
                        var IdProofTypeName = $('<option value="' + kycDetails[0].idProofTypeName + '">' + kycDetails[0].idProofTypeName + '</option>');
                        $('.IdProofType').append(IdProofTypeName);

                        $('#IdProofDocumentNo').val(kycDetails[0].idProofDocumentNo);

                        $('#IdProofFront').attr('src', kycDetails[0].idProofFront);
                        $('#IdProofBack').attr('src', kycDetails[0].idProofBack);
                        $('#AddressProofBack').attr('src', kycDetails[0].addressProofBack);
                        $('#AddressProofFront').attr('src', kycDetails[0].addressProofFront);


                        var AddressProofTypeName = $('<option value="' + kycDetails[0].addressProofTypeName + '">' + kycDetails[0].addressProofTypeName + '</option>');
                        $('#AddressProofType').append(AddressProofTypeName);
                        $('#AddressProofDocumentNo').val(kycDetails[0].addressProofDocumentNo);
                    }
                    else {
                        var IdProofTypeName1 = $('<option value="' + '' + '">' + '' + '</option>');
                        $('.IdProofType').append(IdProofTypeName1);
                        $('#IdProofDocumentNo').val("");

                        $('#IdProofFront').attr('src', null);
                        $('#IdProofBack').attr('src', null);
                        $('#AddressProofBack').attr('src', null);
                        $('#AddressProofFront').attr('src', null);


                        var AddressProofTypeName1 = $('<option value="' + '' + '">' + '' + '</option>');
                        $('#AddressProofType').append(AddressProofTypeName);
                        $('#AddressProofDocumentNo').val("");
                    }



                    $("#ManageCardHeader").replaceWith("<p class='text_primary px-3 py-2 bg-grey m-0 font-weight-bold'>Customer Details With Form Number: ( " + FormNumber + ") </p>");

                    $("#BasicInformationTab").removeClass("disabled");
                    $('#BasicInformationTab').tab('show');
                    $("#AddressTab").removeClass("disabled");
                    $("#OfficialDetailsTab").removeClass("disabled");
                    $("#KYCDetailsTab").removeClass("disabled");

                    //$('#BasicInformationTab').tab('show');
                    $("#bodyFetch").html($('#CustDetails'));

                    $("#BasicInformation").addClass("active show");

                    $("#viewSelectedCustomer").modal('show');
                }else{
                    document.getElementById("detailsWaiverSection").style.display = "none";
                    $("#noRecord").html("");
                    $("#noRecord").append("<span>" + res.vewCustomerAllList.message + "</span>");
                    document.getElementById("noRecord").style.display = "block";
                }

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
        });

    });



    function OnFailure(data) {
        alert(data);
    }

    var customerReferenceNo;
    var formNumber;

    $("#customerSearchTblBind").on('click', '.approveDtls', function (e) {

        var currentRow = $(this).closest("tr");

        customerReferenceNo = currentRow.find(".cust").text();
        formNumber = currentRow.find(".frmNo").text();

        console.log(customerReferenceNo, "cust");

         $.ajax({
            url: "@Url.Action("BindPendingCustomer", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { formNumber:formNumber },
             success: function (res) {

                 console.log("res", res);

                 if (res.searchList.success == true) {

                     document.getElementById("noRecord").style.display = "none";
                     document.getElementById("cardInsideSection").style.display = "none";


                     var basicDetails = res.searchList.data.getApproveFeeWaiverBasicDetail;
                     var cardDetails = res.searchList.data.getApproveFeeWaiverCardDetail;

                     $('input[name="CardPreference"][value="' + basicDetails[0].cardPreference + '"]').prop('checked', true);
                     $('input[name="FeePaymentsCollectorFeeWaiver"][value="' + basicDetails[0].feePaymentsCollectorFeeWaiver + '"]').prop('checked', true);

                     $('.FeePaymentNoId').val(basicDetails[0].feePaymentNo);

                     var feeDate = moment(basicDetails[0].feePaymentDate, 'DD-MM-YYYY').format('DD-MM-YYYY');

                     $('.FeePaymentDateId').val(feeDate);

                     console.log($('input[name="CardPreference"]:checked').val(), "pref");

                     if ($('input[name=CardPreference]:checked').val() == "Card") {
                         document.getElementById("cardInsideSection").style.display = "block";
                         $(".mobhide").hide();
                     /*    document.getElementsByClassName(".mobhide").style.display = "none";*/
                     } else if ($('input[name=CardPreference]:checked').val() == "Cardless") {
                         document.getElementById("cardInsideSection").style.display = "none";
                         /*    document.getElementsByClassName(".mobhide").style.display = "block";*/
                         $(".mobhide").show();
                     }

                     console.log($('input[name="FeePaymentsCollectorFeeWaiver"]:checked').val(), "cards");

                     if ($('input[name=FeePaymentsCollectorFeeWaiver]:checked').val() == "Fee Waiver") {
                         document.getElementById("onlineRadioClick").style.display = "none";
                         document.getElementById("feeWaiverRadioClick").style.display = "block";
                     } else if ($('input[name=FeePaymentsCollectorFeeWaiver]:checked').val() == "Online"){
                         document.getElementById("feeWaiverRadioClick").style.display = "none";
                         document.getElementById("onlineRadioClick").style.display = "block";
                     }

                     if ((basicDetails[0].customerTypeName == "Fleet") || (basicDetails[0].customerTypeName == "Credit")) {

                         $("#FleetAndCredit td").parent().remove();

                         for (var i = 0; i < cardDetails.length; i++) {

                             var rows = "<tbody><tr>"
                                 + "<td>" + (cardDetails[i].srNumber || '') +"</td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].vechileNo || '') + "' type='text' value='" + (cardDetails[i].vechileNo || '') + "' readonly='readonly'></td>"
                                 + "<td><select readonly='readonly' class='form-control vls'><option value='" + (cardDetails[i].vehicleType || '') + "'>" + (cardDetails[i].vehicleType || '') + "</option></select></td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].vehicleMake || '') + "' type='text' value='" + (cardDetails[i].vehicleMake || '') + "' readonly='readonly'></td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].yearOfRegistration || '') + "' type='text' value='" + (cardDetails[i].yearOfRegistration || '') + "' readonly='readonly'></td>"
                                 + "<td class='mobhide'><input class='form-control' name='" + (cardDetails[i].mobileno || '') + "' type='text' value='" + (cardDetails[i].mobileno || '') + "' readonly='readonly'></td>"

                                 + "</tr ></tbody > ";

                             $('#FleetAndCredit').append(rows);

                             if ($('input[name=CardPreference]:checked').val() == "Cardless") {
                                 $(".mobhide").show();
                             } else {
                                 $(".mobhide").hide();
                             }

                             $("#AttachedAndGeneric").removeClass("d-md-table");
                             $("#AttachedAndGeneric").removeClass("d-block");
                             $("#FleetAndCredit").addClass("d-md-table");
                             $("#FleetAndCredit").addClass("d-block");
                             $("#CorporateAndNonFleet").removeClass("d-md-table");
                             $("#CorporateAndNonFleet").removeClass("d-block");

                             document.getElementById('FleetAndCredit').style.display = 'block';
                             document.getElementById('AttachedAndGeneric').style.display = 'none';
                             document.getElementById('CorporateAndNonFleet').style.display = 'none';
                             document.getElementById('detailsWaiverSection').style.display = 'block';
                         }
                     }
                     else if ((basicDetails[0].customerTypeName == "Attached") || (basicDetails[0].customerTypeName == "Generic")) {


                         $("#AttachedAndGeneric td").parent().remove();

                         for (var i = 0; i < cardDetails.length; i++) {

                             var rows = "<tbody><tr>"
                                 + "<td>" + (cardDetails[i].srNumber || '') + "</td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].cardIdentifier || '') + "' type='text' value='" + (cardDetails[i].cardIdentifier || '') + "' readonly='readonly'></td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].vechileNo || '') + "' type='text' value='" + (cardDetails[i].vechileNo || '') + "' readonly='readonly'></td>"
                                 + "<td><select readonly='readonly' class='form-control vls'><option value='" + (cardDetails[i].vehicleType || '') + "'>" + (cardDetails[i].vehicleType || '') + "</option></select></td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].vehicleMake || '') + "' type='text' value='" + (cardDetails[i].vehicleMake || '') + "' readonly='readonly'></td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].yearOfRegistration || '') + "' type='text' value='" + (cardDetails[i].yearOfRegistration || '') + "' readonly='readonly'></td>"
                                 + "<td class='mobhide'><input class='form-control' name='" + (cardDetails[i].mobileno || '') + "' type='text' value='" + (cardDetails[i].mobileno || '') + "' readonly='readonly'></td>"
                                 + "</tr ></tbody > ";

                             $('#AttachedAndGeneric').append(rows);

                             if ($('input[name=CardPreference]:checked').val() == "Cardless") {
                                 $(".mobhide").show();
                             } else {
                                 $(".mobhide").hide();
                             }

                             $("#AttachedAndGeneric").addClass("d-md-table");
                             $("#AttachedAndGeneric").addClass("d-block");
                             $("#FleetAndCredit").removeClass("d-md-table");
                             $("#FleetAndCredit").removeClass("d-block");
                             $("#CorporateAndNonFleet").removeClass("d-md-table");
                             $("#CorporateAndNonFleet").removeClass("d-block");

                             document.getElementById('FleetAndCredit').style.display = 'none';
                             document.getElementById('AttachedAndGeneric').style.display = 'block';
                             document.getElementById('CorporateAndNonFleet').style.display = 'none';

                             document.getElementById('detailsWaiverSection').style.display = 'block';
                         }


                     }
                     else if ((basicDetails[0].customerTypeName == "Corporate") || (basicDetails[0].customerTypeName == "Non Fleet")) {

                         $("#CorporateAndNonFleet td").parent().remove();

                         for (var i = 0; i < cardDetails.length; i++) {

                             var rows = "<tbody><tr>"
                                 + "<td>" + (cardDetails[i].srNumber || '') + "</td>"
                                 + "<td><input class='form-control' name='" + (cardDetails[i].cardIdentifier || '') + "' type='text' value='" + (cardDetails[i].cardIdentifier || '') + "' readonly='readonly'></td>"
                                 + "<td class='mobhide'><input class='form-control' name='" + (cardDetails[i].mobileno || '') + "' type='text' value='" + (cardDetails[i].mobileno || '') + "' readonly='readonly'></td>"
                                 + "</tr ></tbody > ";

                             $('#CorporateAndNonFleet').append(rows);

                             if ($('input[name=CardPreference]:checked').val() == "Cardless") {
                                 $(".mobhide").show();
                             } else {
                                 $(".mobhide").hide();
                             }

                             $("#AttachedAndGeneric").removeClass("d-md-table");
                             $("#AttachedAndGeneric").removeClass("d-block");
                             $("#FleetAndCredit").removeClass("d-md-table");
                             $("#FleetAndCredit").removeClass("d-block");
                             $("#CorporateAndNonFleet").addClass("d-md-table");
                             $("#CorporateAndNonFleet").addClass("d-block");

                             document.getElementById('FleetAndCredit').style.display = 'none';
                             document.getElementById('AttachedAndGeneric').style.display = 'none';
                             document.getElementById('CorporateAndNonFleet').style.display = 'block';

                             document.getElementById('detailsWaiverSection').style.display = 'block';
                         }
                     }

                 } else {
                     document.getElementById("detailsWaiverSection").style.display = "none";
                     $("#noRecord").html("");
                     $("#noRecord").append("<span>" + res.searchList.message + "</span>");
                     document.getElementById("noRecord").style.display = "block";
                 }

             },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    });


    $('input[type=radio][name=FeePaymentsCollectorFeeWaiver]').change(function () {
        if ($(this).val() == "Fee Waiver") {
            document.getElementById("onlineRadioClick").style.display = "none";
            document.getElementById("feeWaiverRadioClick").style.display = "block";
        } else {
            document.getElementById("feeWaiverRadioClick").style.display = "none";
            document.getElementById("onlineRadioClick").style.display = "block";
        }
    });


    $("#commentId").on("blur", function (){

        var comments = $("#commentId").val();

        if (comments.trim() == '') {
            $('#cmtError').text("Please enter Comment!");
            return false;
        }
        if(comments.trim() != ''){
             if(!comments.trim().match(atLeastOneAlphabet)){
                $('#cmtError').text("Invalid Comment");
                return false;
            }else{
                $('#cmtError').text("");
            }
        }

    });



    function approveClick() {

        var comments = $("#commentId").val();

        var flag = "Y";

        if (comments.trim() == "") {
            $('#cmtError').text("Please enter Comment!");
            flag = "N";
        }
        if(comments.trim() != ''){
            if(!comments.trim().match(atLeastOneAlphabet)){
                $('#cmtError').text("Invalid Comment");
                flag = "N";
            }
        }

        if (flag == "N")
            e.preventDefault();


        if(flag == "Y"){
    
            $('#cmtError').text("");

            $.ajax({
                url: "@Url.Action("ApproveCustomer", "CustomerFeeWaiver")",
                type: "POST",
                dataType: "JSON",
                data: { customerReferenceNo: customerReferenceNo, comments: comments },
                success: function (res) {

                    if(res.responseMsg[0].status == 1){
                        $("#detailsSection").hide();
                        $("#formVal").hide();
                        $("#approveRejectSuccess").html("");
                        $("#approveRejectSuccess").append("<span>" + (res.responseMsg[0].reason) + "</span>");
                        document.getElementById("approveRejectSuccess").style.display = "block";
                    }else{
                        $("#approveRejectFail").html("");
                        $("#approveRejectFail").append("<span>" + (res.responseMsg[0].reason) + "</span>");
                        document.getElementById("approveRejectFail").style.display = "block";
                    }

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }

    }


    function rejectClick() {

        var comments = $("#commentId").val();

        var flag = "Y";

        if (comments.trim() == "") {
            $('#cmtError').text("Please enter Comment!");
            flag = "N";
        }
        if(comments.trim() != ''){
            if(!comments.trim().match(atLeastOneAlphabet)){
                $('#cmtError').text("Invalid Comment");
                flag = "N";
            }
        }

        if (flag == "N")
            e.preventDefault();


        if(flag == "Y"){
    
            $('#cmtError').text("");

            if (confirm('Are you sure to reject fee waiver ?')) {
                $.ajax({
                    url: "@Url.Action("RejectCustomer", "CustomerFeeWaiver")",
                    type: "POST",
                    dataType: "JSON",
                    data: { customerReferenceNo: customerReferenceNo, comments: comments },
                    success: function (res) {

                        if(res.responseMsg[0].status == 1){
                            $("#detailsSection").hide();
                            $("#formVal").hide();
                            $("#approveRejectSuccess").html("");
                            $("#approveRejectSuccess").append("<span>" + (res.responseMsg[0].reason) + "</span>");
                            document.getElementById("approveRejectSuccess").style.display = "block";
                        }else{
                            $("#approveRejectFail").html("");
                            $("#approveRejectFail").append("<span>" + (res.responseMsg[0].reason) + "</span>");
                            document.getElementById("approveRejectFail").style.display = "block";
                        }

                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });
            } else {
                console.log('cancel')
            }
        }

    }

    $("#FormNumber").on("blur", function () 
    {
        debugger;
        var formNumber = document.getElementById("FormNumber").value.trim();
        if (formNumber != "")
        {
            if (document.getElementById("FormNumber").value.substring(0, 1) == "0") 
            {
                document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
                return false;
            }
            else if (document.getElementById("FormNumber").value.length < 10) 
            {
                document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
                return false;
            }
            else if (!(document.getElementById("FormNumber").value.match(number))) 
            {
                document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
                return false;
            }
            else
                document.getElementById("FormNumberErrMsg").innerHTML = "";
        }

});

function SubmitValidations()
{
    debugger;

    var ret=true;

    var formNumber = document.getElementById("FormNumber").value.trim();
    if (formNumber != "")
    {
        if (document.getElementById("FormNumber").value.substring(0, 1) == "0") 
        {
            document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
            ret=false;
        }
        else if (document.getElementById("FormNumber").value.length < 10) 
        {
            document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
            ret=false;
        }
        else if (!(document.getElementById("FormNumber").value.match(number))) 
        {
            document.getElementById("FormNumberErrMsg").innerHTML = "Invalid Form Number. Min-Max 10 digits";
            ret=false;
        }
        else
            document.getElementById("FormNumberErrMsg").innerHTML = "";
    }

    return ret;
}
</script>