@model HPCL.Common.Models.ViewModel.CustomerFeeWaiver.PendingCustomer

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="mt-3 w-100">
    <marquee width="100%" direction="left">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
</div>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">


                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Approve Fee Waiver</p>
                    <div class="py-2 p-md-4">
                        <div class="w-100">

                            <form method="post" data-ajax="true" asp-controller="CustomerFeeWaiver" asp-action="FeeWaiver" data-ajax-method="POST" data-ajax-success="OnSuccessFeeWaiverLoad" data-ajax-failure="OnFailure">

                                <div>
                                    <fieldset class="border-1 rounded border-grey">
                                        @*<legend class="font-weight-bold">Search Customer</legend>*@
                                        <div class="d-flex align-items-center justify-content-between flex-wrap mt-3">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Form Number<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.FormNumber, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.FormNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <div class="col-lg-6 col-12 mb-3 d-flex align-items-center justify-content-start flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12"></label>
                                                <div class="col-md-7 col-12 px-0">
                                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                                        <div class="pr-2 w-50">
                                                            <button class="btn btn_primary px-4 py-2" type="submit" id="btnSave" name="submit">SEARCH</button>
                                                        </div>
                                                        <div class="pl-2 w-50">
                                                            <a class="btn btn_primary px-4 py-2" href="#" id="btnCancel" name="cancel" onclick="resetClick()">RESET</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </fieldset>


                                    <div class="table-responsive mt-3">
                                        <table id="customerSearch" class="table table-striped table-bordered text-nowrap" style="display:none;">
                                            <tr>

                                                <th>
                                                    @Html.DisplayName("Customer Reference No")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Customer Code")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Zonal")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Regional")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Form No")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Customer Name")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("RBE Name/RSM")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Mobile No")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Action")
                                                </th>

                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </form>

                            <div id="detailsSection">

                                <div class="form-group d-flex align-items-center flex-wrap">

                                </div>

                                <div id="detailsWaiverSection" style="display:none;">
                                    <form>
                                        <fieldset class="border-1 rounded border-grey">
                                            <legend class="font-weight-bold">Card Preference</legend>

                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col">
                                                                Card   @Html.RadioButtonFor(m => m.CardPreference, "Card", new { disabled = "disabled" })
                                                            </div>
                                                            <div class="col">
                                                                Cardless   @Html.RadioButtonFor(m => m.CardPreference, "Cardless", new { disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>

                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>

                                        <fieldset class="border-1 rounded border-grey">
                                            <legend class="font-weight-bold">Fee Payment Details</legend>

                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>

                                            <div class="col-md-4 col-12">
                                                <div class="form-group">
                                                    <div class="col-md-12 col-12">
                                                        <div class="row">
                                                            <div class="col">
                                                                Fee Collect(CR)   @Html.RadioButtonFor(m => m.FeePaymentsCollectFeeWaiverId, "Fee Collect(CR)", new { disabled = "disabled" })
                                                            </div>
                                                            <div class="col">
                                                                Fee Collect(Cheque)   @Html.RadioButtonFor(m => m.FeePaymentsCollectFeeWaiverId, "Fee Collect(Cheque)", new { disabled = "disabled" })
                                                            </div>
                                                            <div class="col">
                                                                Fee Waiver   @Html.RadioButtonFor(m => m.FeePaymentsCollectFeeWaiverId, "Fee Waiver", new { disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-8 col-12">
                                                <div class="form-group">
                                                    <div class="col-md-8 col-12">

                                                    </div>
                                                </div>
                                            </div>



                                            <div class="col-md-6 col-12">
                                                <div class="form-group">
                                                    <div class="col-md-7 col-12">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Approval Email From<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.FeePaymentNo, new { @id = "FeePaymentNoId", @class = "form-control", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.FeePaymentNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Approval Email Date<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.FeePaymentDate, new { @id = "FeePaymentDateId", @class = "form-control datepicker", @disabled = "disabled" })
                                                        @Html.ValidationMessageFor(m => m.FeePaymentDate, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </fieldset>

                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>


                                        <table id="approveDetails" class="table table-striped table-bordered table-responsive" style="display:inline-table;">
                                            <tr>

                                                <th>
                                                    @Html.DisplayName("Sr. No.")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Vehicle Number/Card Identifier")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Vehicle Type")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Vehicle Make")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Year of Registration")
                                                </th>
                                                <th>
                                                    @Html.DisplayName("Vehicle Owner Name")
                                                </th>

                                            </tr>
                                        </table>

                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>

                                        <div class="d-flex mt-3">
                                            <div class="px-2">
                                                <button class="btn" type="submit" id="btnSave" name="submit" style="background-color:#084693;color:white;float:left">EDIT</button>
                                            </div>
                                        </div>


                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Comments : </label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextAreaFor(m => m.Comments, new { @id = "commentId", @class = "form-control", @type = "Date", @style = "height:100px;" })
                                                    @Html.ValidationMessageFor(m => m.Comments, "", new { @id = "cmtError", @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <div class="col-md-7 col-12">
                                                    <div class="d-flex align-items-center justify-content-center mt-3">
                                                        <div class="px-2">
                                                            <button class="btn" type="button" id="btnSave" name="submit" onclick="approveClick()" style="background-color:#084693;color:white;">APPROVE</button>
                                                            <button class="btn" type="button" id="btnSave" name="submit" onclick="rejectClick()" style="background-color:#084693;color:white;">REJECT</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>

                                    </form>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div id="viewSelectedCustomer" class="modal fade" style="padding-right:60%;display:table;">
    <div class="vertical-alignment-helper">
        <div class="modal-dialog vertical-align-center">
            <div class="modal-dialog">
                <div class="modal-content" style="width:280%">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="modal-title" id="exampleModalLabel">Customer Details</h4>
                    </div>
                    <div class="modal-body" id="bodyFetch">

                        <div id="CustDetails">
                            @Html.Partial("ViewCustomer")
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

<script>

    function resetClick() {
        $("input:text").each(function () {
            $(this).val("");
        });
        $("#customerSearch td").parent().remove();
        document.getElementById('customerSearch').style.display = 'none';
        document.getElementById('detailsWaiverSection').style.display = 'none';
    }

    function OnSuccessFeeWaiverLoad(data) {
        $("#customerSearch td").parent().remove();

        for (var i = 0; i < data.pendingList.length; i++) {

            var rows = "<tbody><tr>"
                + "<td><a href='#aaa' class='cust'>" + (data.pendingList[i].customerReferenceNo || '') + "</a></td>"
                + "<td></td>"
                + "<td></td>"
                + "<td></td>"
                + "<td><span class='frmNo'>" + (data.pendingList[i].formNumber || '') + "</span></td>"
                + "<td>" + (data.pendingList[i].customerName || '') + "</td>"
                + "<td>" + (data.pendingList[i].createdRoleName || '') + "</td>"
                + "<td>" + (data.pendingList[i].mobileNo || '') + "</td>"
                + "<td><a href='#aa' class='approveDtls'>APPROVE</a></td>"
                + "</tr ></tbody > ";

            $('#customerSearch').append(rows);
        }

        document.getElementById('customerSearch').style.display = 'inline-table';
    }


    $("#customerSearch").on('click', '.cust', function (e) {

        var formNum = $(this).closest("tr").find(".frmNo").text();

        $.ajax({
            url: "@Url.Action("ViewCustomerDetails", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { formNumber: formNum },
            success: function (res) {
                console.log("customer", res);

                //console.log("card limit", res.limitDetailsList);

                //$('#CustomerTypeID').val(res.customer.customerTypeId);
                //$('#customerSubType').val(res.customer.customerSubtypeId);

                var CustomerType = $('<option value="' + res.customer.customerTypeName + '">' + res.customer.customerTypeName + '</option>');
                $('#CustomerTypeID').append(CustomerType);

                var custSubType = $('<option value="' + res.customer.customerSubtypeName + '">' + res.customer.customerSubtypeName + '</option>');
                $('#CustomerSubTypeID').append(custSubType);

                //$('#CustomerDateOfApplication').val(res.customer.dateOfApplication);
                const dateObj = new Date(res.customer.dateOfApplication);
                //$('#applicationDate').val(dateObj.getDate());
                console.log(dateObj);
                var month = dateObj.getMonth() + 1; //months from 1-12
                var day = dateObj.getDate();
                var year = dateObj.getFullYear();

                var newdate = day + "/" + month + "/" + year;
                console.log(dateObj.getDate());
                //console.log($('#applicationDate'));
                $('#applicationDate').val(newdate);

                var CustomerSalesArea = $('<option value="' + res.customer.salesArea + '">' + res.customer.salesArea + '</option>');
                $('#CustomerSalesAreaID').append(CustomerSalesArea);

                var CustomerZonalOffice = $('<option value="' + res.customer.zonalOfficeName + '">' + res.customer.zonalOfficeName + '</option>');
                $('#CustomerZonalOfficeID').append(CustomerZonalOffice);

                var regionalOff = $('<option value="' + res.customer.regionalOfficeName + '">' + res.customer.regionalOfficeName + '</option>');
                $('#CustomerRegionID').append(regionalOff);

                var TypeOfCustomer = $('<option value="' + res.customer.typeOfCustomerName + '">' + res.customer.typeOfCustomerName + '</option>');
                $('#TypeOfCustomerID').append(TypeOfCustomer);

                var TierOfCustomer = $('<option value="' + res.customer.tierOfCustomerName + '">' + res.customer.tierOfCustomerName + '</option>');
                $('#TierOfCustomerID').append(TierOfCustomer);


                var IndividualTitle = $('<option value="' + res.customer.individualOrgNameTitle + '">' + res.customer.individualOrgNameTitle + '</option>');
                $('#IndividualOrgNameTitle').append(IndividualTitle);

                $('#IndividualOrgName').val(res.customer.individualOrgName);

                $('#CustomerNameOnCard').val(res.customer.nameOnCard);

                var CustomerTbentity = $('<option value="' + res.customer.typeOfBusinessEntityName + '">' + res.customer.typeOfBusinessEntityName + '</option>');
                $('#CustomerTbentityID').append(CustomerTbentity);

                var ResidenceStatus = $('<option value="' + res.customer.residenceStatus + '">' + res.customer.residenceStatus + '</option>');
                $('#CustomerResidenceStatus').append(ResidenceStatus);

                $('#CustomerIncomeTaxPan').val(res.customer.incomeTaxPan);

                //Address Tab
                $('#CommunicationAddress1').val(res.customer.communicationAddress1);
                $('#CommunicationAddress2').val(res.customer.communicationAddress2);
                $('#CommunicationAddress3').val(res.customer.communicationAddress3);
                $('#CommunicationLocation').val(res.customer.communicationLocation);
                $('#CommunicationCity').val(res.customer.communicationCityName);
                $('#CommunicationPinCode').val(res.customer.communicationPincode);

                var CommunicationStateName = $('<option value="' + res.customer.communicationStateName + '">' + res.customer.communicationStateName + '</option>');
                $('#CommunicationStateID').append(CommunicationStateName);

                var CommunicationDistrict = $('<option value="' + res.customer.communicationDistrictName + '">' + res.customer.communicationDistrictName + '</option>');
                $('#CommunicationDistrictId').append(CommunicationDistrict);

                $('#CommunicationPhoneNo').val(res.customer.communicationPhoneNo);
                $('#CommunicationFax').val(res.customer.communicationFax);
                $('#CommunicationMobileNumber').val(res.customer.communicationMobileNo);
                $('#CommunicationEmail').val(res.customer.communicationEmailid);


                $('#PerOrRegAddress1').val(res.customer.permanentAddress1);
                $('#PerOrRegAddress2').val(res.customer.permanentAddress2);
                $('#PerOrRegAddress3').val(res.customer.permanentAddress3);
                $('#PerOrRegAddressLocation').val(res.customer.permanentLocation);
                $('#PerOrRegAddressCity').val(res.customer.permanentCityName);
                $('#PerOrRegAddressPinCode').val(res.customer.permanentPincode);

                var PermanentStateName = $('<option value="' + res.customer.permanentStateName + '">' + res.customer.permanentStateName + '</option>');
                $('#PerOrRegAddressStateID').append(PermanentStateName);

                var pDistrict = $('<option value="' + res.customer.permanentDistrictName + '">' + res.customer.permanentDistrictName + '</option>');
                $('#PerOrRegAddressDistrict').append(pDistrict);

                $('#PerOrRegAddressPhoneNumber').val(res.customer.permanentPhoneNo);
                $('#PermanentFax').val(res.customer.permanentFax);

                //Official Details Tab
                var OffTitle = $('<option value="' + res.customer.keyOfficialTitle + '">' + res.customer.keyOfficialTitle + '</option>');
                $('#KeyOffTitle').append(OffTitle);

                $('#KeyOffFirstName').val(res.customer.keyOfficialFirstName);
                $('#KeyOffLastName').val(res.customer.keyOfficialLastName);
                $('#KeyOffDesignation').val(res.customer.keyOfficialDesignation);
                $('#KeyOffPhoneNumber').val(res.customer.keyOfficialPhoneNo);
                $('#KeyOffMobileNumber').val(res.customer.keyOfficialMobile);
                $('#KeyOffIndividualInitials').val(res.customer.keyOfficialIndividualInitials);
                $('#KeyOffMiddleName').val(res.customer.keyOfficialMiddleName);
                $('#KeyOffFax').val(res.customer.keyOfficialFax);
                $('#KeyOffEmail').val(res.customer.keyOfficialEmail);

                var OfficialSecretQuestion = $('<option value="' + res.customer.keyOfficialSecretQuestionName + '">' + res.customer.keyOfficialSecretQuestionName + '</option>');
                $('#KeyOfficialSecretQuestion').append(OfficialSecretQuestion);

                $('#KeyOfficialSecretAnswer').val(res.customer.keyOfficialSecretAnswer);
                $('#FleetSizeNoOfVechileOwnedHCV').val(res.customer.fleetSizeNoOfVechileOwnedHCV);
                $('#FleetSizeNoOfVechileOwnedLCV').val(res.customer.fleetSizeNoOfVechileOwnedLCV);
                $('#FleetSizeNoOfVechileOwnedMUVSUV').val(res.customer.fleetSizeNoOfVechileOwnedMUVSUV);
                $('#FleetSizeNoOfVechileOwnedCarJeep').val(res.customer.fleetSizeNoOfVechileOwnedCarJeep);

                var customerTypeOfFleet = $('<option value="' + res.customer.keyOfficialTypeOfFleetName + '">' + res.customer.keyOfficialTypeOfFleetName + '</option>');
                $('#CustomerTypeOfFleetID').append(customerTypeOfFleet);

                $('#KeyOfficialCardAppliedFor').val(res.customer.keyOfficialCardAppliedFor);
                $('#KeyOfficialApproxMonthlySpendsonVechile1').val(res.customer.keyOfficialApproxMonthlySpendsonVechile1);
                $('#KeyOfficialApproxMonthlySpendsonVechile2').val(res.customer.keyOfficialApproxMonthlySpendsonVechile2);
                $('#AreaOfOperation').val(res.customer.areaOfOperation);
                //$('#KeyOfficialDOB').val(res.customer.keyOfficialDOB);
                //$('#KeyOffDateOfAnniversary').val(res.customer.keyOfficialDOB);

                const dateDOB = new Date(res.customer.keyOfficialDOB);
                //$('#applicationDate').val(dateObj.getDate());
                console.log(dateDOB);
                var monthDOB = dateDOB.getMonth() + 1; //months from 1-12
                var dayDOB = dateDOB.getDate();
                var yearDOB = dateDOB.getFullYear();

                var newdateDOB = dayDOB + "/" + monthDOB + "/" + yearDOB;

                $('#KeyOfficialDOB').val(newdateDOB);

                const dateDOA = new Date(res.customer.keyOfficialDOA);
                console.log(dateDOA);
                var monthDOA = dateDOA.getMonth() + 1; //months from 1-12
                var dayDOA = dateDOA.getDate();
                var yearDOA = dateDOA.getFullYear();

                var newdateDOA = dayDOA + "/" + monthDOA + "/" + yearDOA;


                $('#KeyOffDateOfAnniversary').val(newdateDOA);

                res.kycDetailsResult
                //KYC
                console.log('Ravi');
                console.log(res.kycDetailsResult);

                if (res.kycDetailsResult.length > 0) {
                    var IdProofTypeName = $('<option value="' + res.kycDetailsResult[0].idProofTypeName + '">' + res.kycDetailsResult[0].idProofTypeName + '</option>');
                    $('#IdProofType').append(IdProofTypeName);
                    $('#IdProofDocumentNo').val(res.kycDetailsResult[0].idProofDocumentNo);

                    $('#IdProofFront').attr('src', res.kycDetailsResult[0].idProofFront);
                    $('#IdProofBack').attr('src', res.kycDetailsResult[0].idProofBack);
                    $('#AddressProofBack').attr('src', res.kycDetailsResult[0].addressProofBack);
                    $('#AddressProofFront').attr('src', res.kycDetailsResult[0].addressProofFront);


                    var AddressProofTypeName = $('<option value="' + res.kycDetailsResult[0].addressProofTypeName + '">' + res.kycDetailsResult[0].addressProofTypeName + '</option>');
                    $('#AddressProofType').append(AddressProofTypeName);
                    $('#AddressProofDocumentNo').val(res.kycDetailsResult[0].addressProofDocumentNo);
                }
                else {
                    var IdProofTypeName1 = $('<option value="' + '' + '">' + '' + '</option>');
                    $('#IdProofType').append(IdProofTypeName1);
                    $('#IdProofDocumentNo').val("");

                    $('#IdProofFront').attr('src', null);
                    $('#IdProofBack').attr('src', null);
                    $('#AddressProofBack').attr('src', null);
                    $('#AddressProofFront').attr('src', null);


                    var AddressProofTypeName1 = $('<option value="' + '' + '">' + '' + '</option>');
                    $('#AddressProofType').append(AddressProofTypeName);
                    $('#AddressProofDocumentNo').val("");
                }



                $("#ManageCardHeader").replaceWith("<p class='text_primary px-3 py-2 bg-grey m-0 font-weight-bold'>Customer Details With Form Number: ( " + FormNumber + ") </p>");

                $("#BasicInformationTab").removeClass("disabled");
                $('#BasicInformationTab').tab('show');
                $("#AddressTab").removeClass("disabled");
                $("#OfficialDetailsTab").removeClass("disabled");
                $("#KYCDetailsTab").removeClass("disabled");

                //$('#BasicInformationTab').tab('show');
                $("#bodyFetch").html($('#CustDetails'));

                $("#BasicInformation").addClass("active show");

                $("#viewSelectedCustomer").modal('show');

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
        });

    });



    function OnFailure(data) {
        alert(data);
    }

    var customerReferenceNo;

    $("#customerSearch").on('click', '.approveDtls', function (e) {

        var currentRow = $(this).closest("tr");

        customerReferenceNo = currentRow.find(".cust").text();

        console.log(customerReferenceNo, "cust");

         $.ajax({
            url: "@Url.Action("BindPendingCustomer", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { customerReferenceNo: customerReferenceNo },
             success: function (res) {

                 $('input[name="CardPreference"][value="' + res.basicDetails[0].cardPreference + '"]').prop('checked', true);
                 $('input[name="FeePaymentsCollectFeeWaiverId"][value="' + res.basicDetails[0].feePaymentsCollectorFeeWaiver + '"]').prop('checked', true);

                 $('#FeePaymentNoId').val(res.basicDetails[0].feePaymentNo);

                 var momentDate = new Date(res.basicDetails[0].feePaymentDate);

                 var abc = moment(momentDate).format('YYYY-MM-DD');

                 console.log(abc, "date");

                 $('#FeePaymentDateId').val(abc);

                 $("#approveDetails td").parent().remove();

                 for (var i = 0; i < res.cardDetails.length; i++) {

                     var rows = "<tbody><tr>"
                         + "<td></td>"
                         + "<td><input class='form-control' name='" + (res.cardDetails[i].cardIdentifier || '') + "' type='text' value='" + (res.cardDetails[i].cardIdentifier || '') + "' readonly='readonly'></td>"
                         + "<td><select readonly='readonly' class='form-control vls'><option value='" + (res.cardDetails[i].vehicleType || '') + "'>" + (res.cardDetails[i].vehicleType || '') + "</option></select></td>"
                         + "<td><input class='form-control' name='" + (res.cardDetails[i].vehicleMake || '') + "' type='text' value='" + (res.cardDetails[i].vehicleMake || '') + "' readonly='readonly'></td>"
                         + "<td><input class='form-control' name='" + (res.cardDetails[i].yearOfRegistration || '') + "' type='text' value='" + (res.cardDetails[i].yearOfRegistration || '') + "' readonly='readonly'></td>"
                         + "<td>" + (res.cardDetails[i].vechileOwnerName || '') +"</td>"
                         + "</tr ></tbody > ";

                     $('#approveDetails').append(rows);

                     document.getElementById('detailsWaiverSection').style.display = 'block';
                 }
             },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    });


    function approveClick() {

        var comments = $("#commentId").val();

        if ($('#commentId').val() == "") {
            $('#cmtError').text("Comment should not be empty");
            return false;
        }
        $('#cmtError').text("");


        $.ajax({
            url: "@Url.Action("ApproveCustomer", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { customerReferenceNo: customerReferenceNo, comments: comments },
            success: function (res) {

                alert(res);

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    }


    function rejectClick() {

        var comments = $("#commentId").val();

        if ($('#commentId').val() == "") {
            $('#cmtError').text("Comment should not be empty");
            return false;
        }

        $('#cmtError').text("");

        $.ajax({
            url: "@Url.Action("RejectCustomer", "CustomerFeeWaiver")",
            type: "POST",
            dataType: "JSON",
            data: { customerReferenceNo: customerReferenceNo, comments: comments },
            success: function (res) {

                alert(res);

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    }
</script>