<div class="tab-content mt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

        <div class="h-100 mt-0">
                <div>
                    <ul class="nav nav-tabs mt-2 form_tabs mb-3">
                        <li id="CardDetails" class="nav-item">
                            <a class="nav-link active" id="BasicInformationTab" data-toggle="tab" href="#BasicInformation" role="tab">Basic Information</a>
                        </li>
                        <li id="Limits" class="nav-item">
                            <a class="nav-link" id="AddressTab" data-toggle="tab" href="#AddressSection" role="tab">Address</a>
                        </li>
                        <li id="Services" class="nav-item">
                            <a class="nav-link" id="OfficialDetailsTab" data-toggle="tab" href="#OfficialDetailsSection" role="tab">Official Details</a>
                        </li>
                        <li id="Services" class="nav-item">
                            <a class="nav-link" id="KYCDetailsTab" data-toggle="tab" href="#KYCDetailsSection" role="tab">KYC Details</a>
                        </li>
                    </ul>
                </div>

                <div class="tab-content">

                    <div id="BasicInformation" class="tab-pane" role="tabpanel">
                        <div class="w-100">
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 py-2">
                                <div class="border-1 rounded border-grey">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Application Details</p>
                                    <div class="py-3 pl-0">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Customer Type <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerTypeID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                    <span class="error" id="customerType_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Customer Sub Type <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerSubTypeID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="customerSubType_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Date of Application <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <input type="text" name="applicationDate" class="form-control" id="applicationDate" disabled>
                                                    <span class="error" id="applicationDate_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Zonal Office <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerZonalOfficeID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="zonalOffice_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerRegionID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="regionalOffice_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Sales Area <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.DropDownList("CustomerSalesAreaID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="salesArea_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Type Of Customer <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("TypeOfCustomerID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="regionalOffice_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 pr-0 pl-0 py-2">
                                <div class="border-1 rounded border-grey h-100">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Personal Details</p>
                                    <div class="py-3 pl-0">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Individual/Org. Name <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="row">
                                                        <div class="col-4">
                                                            <div class="custom_select">
                                                                @Html.DropDownList("IndividualOrgNameTitle", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                        <div class="col-8 pl-0">
                                                            @Html.TextBox("IndividualOrgName", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                         </div>
                                         <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Name on Card <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CustomerNameOnCard", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                         </div>
                                         <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Type of Business Entity </label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerTbentityID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                    <span class="error" id="typeOfbusiness_error"></span> @*<a href="#" class="form_info" title="Type of Business Entity">?</a>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Residence Status<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerResidenceStatus", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="residenceStatus_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Income Tax PAN<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CustomerIncomeTaxPan", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="incomeTaxPan_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Tier Of Customer <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("TierOfCustomerID", Enumerable.Empty<SelectListItem>(), null, new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="regionalOffice_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="AddressSection" class="tab-pane" role="tabpanel">
                        <div class="w-100">
                            <div class="border-1 rounded border-grey h-100">
                            <div class="h-100 mt-0" id="address">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                                <div class="py-3">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Address 1<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationAddress1", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="comm_address1_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Address 2<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationAddress2", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="comm_address2_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Address 3</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationAddress3", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Location</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationLocation", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">City<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationCity", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="comm_city_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Pin code<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationPinCode", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="comm_pincode_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">State<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CommunicationStateID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                    <span class="error" id="comm_states_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">District<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CommunicationDistrictId", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                    <span class="error" id="comm_district_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Phone (Office) </label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationPhoneNo", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })

                                                    @*<div class="row">
                                                            <div class="col-4">
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                            </div>
                                                        </div>*@
                                                    <span class="error" id="comm_officePhone_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Fax</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationFax", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })

                                                    @*<div class="row">
                                                            <div class="col-4">
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                            </div>
                                                        </div>*@
                                                    <div class="error" id="comm_faxNumber_error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Mobile<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationMobileNumber", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <div class="error" id="comm_mobileNumber_error"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Email<sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("CommunicationEmail", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <div class="error" id="comm_email_error"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="clearfix"></div> 
                            </div>
                            </div>
                            <div class="border-1 rounded border-grey h-100 mt-3">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Permanent/Registered Office Address</p>
                                <div class="py-3">
                                    <label class="d-flex align-items-center justify-content-start px-3">
                                    </label>
                                    <div class="row w-100" id="permanent_add">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Address 1<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddress1", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        <div class="error" id="perma_address1_error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Address 2<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddress2", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        <div class="error" id="perma_address2_error"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Address 3</label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddress3", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Location</label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddressLocation", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        <span class="error" id="perma_location_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">City<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddressCity", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        <span class="error" id="perma_city_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Pin code<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        @Html.TextBox("PerOrRegAddressPinCode", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        <span class="error" id="perma_pincode_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">State<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        <div class="custom_select">
                                                            @Html.DropDownList("PerOrRegAddressStateID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                        </div>
                                                        <span class="error" id="perma_state_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">District<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-8 col-12">
                                                        <div class="custom_select">
                                                            @Html.DropDownList("PerOrRegAddressDistrict", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                        </div>
                                                        <span class="error" id="perma_district_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Phone (Home) </label>
                                                    <div class="col-md-8 col-12">

                                                        @Html.TextBox("PerOrRegAddressPhoneNumber", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })

                                                        @*<div class="row">
                                                                <div class="col-4">
                                                                </div>
                                                                <div class="col-8 pl-0">

                                                                </div>
                                                            </div>*@
                                                        <span class="error" id="perma_officePhone_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12">Fax</label>
                                                    <div class="col-md-8 col-12">

                                                        @Html.TextBox("PermanentFax", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })

                                                        @*<div class="row">
                                                                <div class="col-4">
                                                                </div>
                                                                <div class="col-8 pl-0">
                                                                </div>
                                                            </div>*@
                                                        <span class="error" id="perma_faxNumber_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="OfficialDetailsSection" class="tab-pane" role="tabpanel">

                        <div class="w-100">
                            <div class="border-1 rounded border-grey w-100">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Key Official</p>
                                <div class="py-3">
                                    <div class="d-flex align-items-start justify-content-between flex-wrap row">
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Individual Initials </label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffIndividualInitials", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                            
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Last Name</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffLastName", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Designation <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffDesignation", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="official_designation_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Phone (Office)</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffPhoneNumber", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })

                                                    @*<div class="row">
                                                            <div class="col-4">
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Mobile <sup class="text-danger">*</sup></label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffMobileNumber", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="official_mobile_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Date of Birth</label>
                                                <div class="col-md-8 col-12">
                                                    <input type="text" name="KeyOfficialDOB" class="form-control" id="KeyOfficialDOB" disabled>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">First Name <sup class="text-danger">*</sup></label>
                                                <div class="col-md-3 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("KeyOffTitle", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                                    </div>
                                                    <span class="error" id="officialTitle_error"></span>
                                                </div>
                                                <div class="col-md-4 col-12 pl-0">
                                                    @Html.TextBox("KeyOffFirstName", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                    <span class="error" id="official_fName_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Middle Name </label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffMiddleName", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Fax</label>
                                                <div class="col-md-8 col-12">

                                                    @Html.TextBox("KeyOffFax", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })


                                                    @*<div class="row">
                                                            <div class="col-4">
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Email</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffEmail", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Date of Anniversary</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOffDateOfAnniversary", "", new { @id = "KeyOffDateOfAnniversary", @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="border-1 rounded border-grey w-100 mt-3">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Other Details</p>
                                <div class="py-3">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Secret Question</label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("KeyOfficialSecretQuestion", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Secret Answer</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOfficialSecretAnswer", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Area of Operation</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("AreaOfOperation", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })


                                                    @*<div class="d-flex align-items-center justify-content-between flex-wrap">
                                                            <label class="d-flex align-items-center justify-content-between py-3">
                                                            </label>
                                                            <label class="d-flex align-items-center justify-content-between py-3">
                                                            </label>
                                                            <label class="d-flex align-items-center justify-content-between py-3">
                                                            </label>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Fleet Size (No. of Vehicles Owned)</label>
                                                <div class="col-md-8 col-12">
                                                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                        <div class="mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                            <span class="d-flex font-12">HCV</span>
                                                            @Html.TextBox("FleetSizeNoOfVechileOwnedHCV", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                        <div class="mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                            <span class="d-flex font-12">LCV</span>
                                                            @Html.TextBox("FleetSizeNoOfVechileOwnedLCV", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                        <div class="mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                            <span class="d-flex font-12">MUV/SUV</span>
                                                            @Html.TextBox("FleetSizeNoOfVechileOwnedMUVSUV", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                        <div class="mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                            <span class="d-flex font-12">Car/Jeep</span>
                                                            @Html.TextBox("FleetSizeNoOfVechileOwnedCarJeep", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Type of Fleet</label>
                                                <div class="col-md-8 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownList("CustomerTypeOfFleetID", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Card applied for</label>
                                                <div class="col-md-8 col-12">
                                                    @Html.TextBox("KeyOfficialCardAppliedFor", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-4 col-12">Approx Monthly Spends on Vehicles</label>
                                                <div class="col-md-8 col-12">
                                                    <div class="row">
                                                        <div class="col-6 col-md-6">
                                                            <div>
                                                                <div class="custom_select">
                                                                    @Html.TextBox("KeyOfficialApproxMonthlySpendsonVechile1", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-6 col-md-6">
                                                            <div>
                                                                <div class="">
                                                                    @Html.TextBox("KeyOfficialApproxMonthlySpendsonVechile2", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>


                    <div id="KYCDetailsSection" class="tab-pane" role="tabpanel">
                        <div id="docUpdateId">
                            <fieldset class="border-1 rounded border-grey pt-3">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">ID Proof</legend>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">ID Proof<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            @Html.DropDownList("IdProofType", Enumerable.Empty<SelectListItem>(), new { @class = "form-control IdProofType disableSumo", @readonly = "readonly", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Document Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            @Html.TextBox("IdProofDocumentNo", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Front Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            <img alt="Id proof front" id="IdProofFront" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Back Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            <img alt="Id proof back" id="IdProofBack" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="col-md-4 col-6"></div>
                                        <div class="col-md-8 col-12">
                                            <div id="idPfrontImg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="col-md-4 col-6"></div>
                                        <div class="col-md-8 col-12">
                                            <div id="idPbackImg"></div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="border-1 rounded border-grey pt-3 mt-3">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Address Proof</legend>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Address Proof<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            @Html.DropDownList("AddressProofType", Enumerable.Empty<SelectListItem>(), new { @class = "form-control disableSumo", @readonly = "readonly", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Document Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            @Html.TextBox("AddressProofDocumentNo", "", new { @class = "form-control", @readonly = "readonly", disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Front Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            <img alt="Address proof front" id="AddressProofFront" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">Back Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-8 col-12">
                                            <img alt="Address proof back" id="AddressProofBack" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="col-md-4 col-6"></div>
                                        <div class="col-md-8 col-12">
                                            <div id="idAfrontImg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="col-md-4 col-6"></div>
                                        <div class="col-md-8 col-12">
                                            <div id="idAbackImg"></div>
                                        </div>
                                    </div>
                                </div>

                            </fieldset>

                            <div class="clearfix"></div>

                        </div>
                    </div>
                </div>
            
        </div>
    </div>
</div>

<script type="text/javascript">

</script>

<style>
    .nav-item > li.active > a,
    .nav-item > li.active > a:focus,
    .nav-item > li.active > a:hover {
        background-color: gray;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: gray;
    }

    .nav-pills .nav-link {
        background-color: cornflowerblue;
        color: black;
    }

    .list-group-item {
        border: none;
    }
</style>


<script>
    $(document).ready(function () {
        $('select.disableSumo')[0].sumo.unload();
        $('select.disableSumo')[1].sumo.unload();
        $('select.disableSumo')[2].sumo.unload();
        $('select.disableSumo')[3].sumo.unload();
        $('select.disableSumo')[4].sumo.unload();
        $('select.disableSumo')[5].sumo.unload();
        $('select.disableSumo')[6].sumo.unload();
        $('select.disableSumo')[7].sumo.unload();
        $('select.disableSumo')[8].sumo.unload();
        $('select.disableSumo')[9].sumo.unload();
        $('select.disableSumo')[10].sumo.unload();
        $('select.disableSumo')[11].sumo.unload();
        $('select.disableSumo')[12].sumo.unload();
        $('select.disableSumo')[13].sumo.unload();
        $('select.disableSumo')[14].sumo.unload();
        $('select.disableSumo')[15].sumo.unload();
        $('select.disableSumo')[16].sumo.unload();
        $('select.disableSumo')[17].sumo.unload();
        $('select.disableSumo')[18].sumo.unload();
    });
</script>