@model HPCL.Common.Models.ViewModel.TMS.EnrollVehicleViewModel
@using HPCL.Common.Resources
@if (Model.vehicleEnrollmentStatusList.Count() > 0)
{
    <table class="datatable table table-striped d-md-table table-bordered table-responsive" style="width:100%;" id="VehicleDetailsTbl">
        <thead>
            <tr>
                @if (Model.EnrollmentStatus == 0)
                {
                    <th style="width:5%;"><input type="checkbox" id="checkAll" /></th>
                }
                <th style="width:45%;">Vehicle No.</th>
                <th style="width:50%;">Card Number</th>
                <th style="display:none">Customer ID</th>
                <th style="display:none">Vehicle Type</th>
                <th style="display:none">TMSUserId</th>
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.vehicleEnrollmentStatusList)
            {
                i = i + 1;

                <tr>
                    @if (Model.EnrollmentStatus == 0)
                    {
                        <td>
                            <input type="checkbox" id="check_@i" />
                        </td>
                    }
                    <td>@item.VehicleNo</td>
                    <td>@item.CardNo</td>
                    <td style="display:none">@item.CustomerID</td>
                    <td style="display:none">@item.VehicleType</td>
                    <td style="display:none">@item.TMSUserId</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="clearfix"></div>

    <div class="clearfix"></div>
    <div class="d-flex align-items-center justify-content-center mt-3">
        <div class="px-2">
            @if (Model.EnrollmentStatus == 0)
            {
                <button class="btn btn_primary" type="button" onclick="submitVehicleEnrollment();">Submit</button>
            }
        </div>

    </div>
        

}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    function submitVehicleEnrollment() {
        //alert("inside submit");
        vehicleDetail = [];
        var CustomerID;
         $("#VehicleDetailsTbl tbody tr").each(function () {
             //debugger;

             var row = $(this);
             if (row.find('input[type="checkbox"]').is(":checked")) 
             {
                 var vehicleNo = row[0].cells[1].textContent;
                 var cardNo = row[0].cells[2].textContent;
                 var customerID = row[0].cells[3].textContent;
                 var vehicleType = row[0].cells[4].textContent;
                 var tmsUserId = row[0].cells[5].textContent;
                 CustomerID=row[0].cells[3].textContent;
                 vehicleDetail.push({ CustomerID: customerID, VehicleNo: vehicleNo, CardNo:cardNo, VehicleType:vehicleType,TMSUserId:tmsUserId  });
            }
         });
        var flag = "Y";
        debugger;
        if (vehicleDetail.length == 0) 
        {
            alert("Please select at least one vehicle details.");
            return;
        }

        if ($("#CustomerID").val().trim() == "")
        {
            $('#CustomerIdValErrMsg').html("Please enter Customer ID");
            flag = "N";
        }
        else if (!$("#CustomerID").val().match(mappedCustomerId))
        {
            $("#CustomerIdValErrMsg").attr("style", "display:block");
            $("#CustomerIdValErrMsg").html("Invalid Customer ID");
             flag = "N";
        }
        else
        {
           $('#CustomerIdValErrMsg').html("");
        }

        if (vehicleDetail.length > 0 && flag == "Y") {
            if (confirm("Are you sure! you want to enroll the selected vehicle(s)?")) 
            {
                var reqmodel = { CustomerID: CustomerID, vehicleEnrollmentStatusList: vehicleDetail };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubmitVehicleEnrollment", "TMS")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(reqmodel),
                    success: function (data) 
                    {
                        console.log(data,"data");
                        if (data.commonResponseData.internel_Status_Code == 1000) 
                        {
                            $("#reason").html(data.commonResponseData.reason);
                            $(".toBeHiddenOnSuccess").hide();
                            document.getElementById("reason").style.display = "block";
                            document.getElementById("dvNoData").style.display = "none";
                        }
                        else
                        {
                            document.getElementById("reason").style.display = "none";
                            document.getElementById("dvNoData").style.display = "block";
                            document.getElementById("dvNoData").innerHTML= data.commonResponseData.reason;
                        }

                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                });
            }
        }


    };
     $('select').SumoSelect({
            placeholder: '-All-',
            search: true,
            searchText: 'Enter Text here.'
        });
    
</script>