<div style="width:100%;">
    <div class="py-3 px-0 p-md-4">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("EnrollToTransportManagementSystem", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/customer-balance.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Enroll To Transport Management System</h4>
                        <p>Enroll To Transport Management System</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("EnrollVehicle", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Enroll Vehicle</h4>
                        <p>Enroll Vehicle</p>
                    </div>
                </a>
            </div>
           <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("ManageEnrollments", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Enrollments</h4>
                        <p>Manage Enrollments</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("SwitchToCargoFL", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Switch To Transport Management System</h4>
                        <p>Switch To Transport Management System</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("ApproveEnrollments", "TMS")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Enrollments Approval</h4>
                        <p>Enrollments Approval</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>