<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RequestForTatkalCard", "TatkalCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Add Tatkal Card Request</h4>
                        <p>Add Tatkal Card Request</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewAllocatedMapCard", "TatkalCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Tatkal Cards</h4>
                        <p>View Tatkal Cards</p>
                    </div>
                </a>
            </div>
            @*<div class="col-lg-3 col-md-4 col-12 mb-3">
            <a href="@Url.Action("OTCCardsAllocation", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="~/assets/images/manage_roles.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>MID Allocation of Cards</h4>
                    <p>Allocate Cards to Merchant</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
            <a href="@Url.Action("CustomerCardCreation", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Customer/Card Creation</h4>
                    <p>Customer/Card Creation</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("SetSaleLimit", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/view_multiple_customer_mapping.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Set Sale Limits for Cards</h4>
                        <p>Set Sale Limits for Individual Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("SetCcmsLimitForAllCards", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Set CCMS Limit for ALl Cards</h4>
                        <p>Set CCMS Limit for ALl Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("SetCcmsForIndCards", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Set CCMS Limit for Individual Cards</h4>
                        <p>Set CCMS Limit for Individual User Card</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("MappingCardToMerchant", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Mapping Cards to Merchant</h4>
                        <p>View User Creation Request Status </p>
                    </div>
                </a>
            </div>*@
        </div>
    </div>
</div>