@model HPCL.Common.Models.ViewModel.TatkalCardCustomer.MapTatkalCardtoCustomerModel
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4" style="background: #edecec !important;">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","TatkalCardCustomer")" class="text_primary">Tatkal Card Customer</a> </li>
            <li class="breadcrumb-item font-weight-light">Map Tatkal Cards To Tatkal Customer</li>
        </ul>

        <div id="reason" class="mb-3 text-center alert alert-success" style="display:none;"></div>
        <form class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mb-3">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text-white px-3 py-3 m-0 font-weight-bold" style="background: #084693;">Map Tatkal Cards To Tatkal Customer</p>
                        <button class="btn btn_primary add_update_btn" type="button" onclick="tableToCSV()">DOWNLOAD UNALLOCATED CARDS</button>
                        <div class="col-lg-12 col-md-12 col-12 py-3 bg-white">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label id="lblCustomerId" class="font-weight-normal col-md-2 col-12">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-3 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="customerId_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content-start mt-0">
                                                <div class="px-0">
                                                    <button class="btn btn_primary" type="button" id="btnSearch">GET UNALLOCATED CARD</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                          </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <div id="message" tabindex="0" class="mb-3 text-center alert alert-danger" style="display:none">
        </div>
        <div class="clearfix"></div>
        @*<div id="divtable" class="toBeHiddenOnSuccess" style="display:none">
            <table id="CardDetailsTbl" class="table" style="width:100%;">
            <thead>
            <tr>
            <th colspan="6">Select Un-Allocated Card(s) <input type="checkbox" id="checkAll" name="checkAll" value="checkAll"> Select All</th>
            </tr>
            </thead>
            <tbody>
            </tbody>
            </table>

            <div class="clearfix"></div>

            <div class="d-flex align-items-center justify-content-center mt-0">
            <div class="px-2">
            <button class="btn btn_primary" type="button" id="btnMap">MAP</button>
            </div>

            <div class="px-2">
            <button class="btn btn_primary" type="button" id="btnReset">RESET</button>
            </div>

            </div>
            </div>*@
            <div id="divtable" class="toBeHiddenOnSuccess" style="display:none">
            <div class="border-1 rounded border-grey pb-0">
            <div class="d-flex align-items-center flex-wrap">
                <div class="col-lg-12 col-12">
                    <div class="d-flex align-items-start flex-wrap mb-3 mt-3">
                        <label class="font-weight-normal col-md-2 col-12">Card Number(s)<sup class="text-danger">*</sup></label>
                        <div class="col-md-10 col-12">
                            <div class="custom_select">
                                <div class="col-md-12 col-12">
                                    <label class="font-weight-normal">Select Un-Allocated Card(s)</label>
                                    <label class="d-flex align-items-center mt-2">
                                        <input type="checkbox" id="checkAll" name="checkAll" value="checkAll">
                                        <span class="ml-1">Select All</span>
                                    </label>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 col-12 mt-2">
                                <div id="dvCards" style="overflow-x: hidden; overflow-y: scroll;background: #f3f3f3;border: 1px solid #c7c7c7;border-radius: 5px;padding: 10px 15px; height: 250px"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="d-flex align-items-center justify-content-center mt-0 mb-3">
                <div class="px-2">
                    <button class="btn btn_primary" type="button" id="btnMap">MAP</button>
                </div>
                <div class="px-2">
                    <button class="btn btn_primary" type="button" id="btnReset">RESET</button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        </div>
        <div class="clearfix"></div>
        <div class="border-1 rounded border-grey toBeHiddenOnSuccess">
            <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">Upload Card details File</p>
            <div class="d-flex align-items-center flex-wrap bg-white pt-3 pb-2">
                <div class="col-lg-6 col-12">
                    <div class="d-flex align-items-center flex-wrap mb-2">
                        <label id="lblCustomerId" class="font-weight-normal col-md-3 col-12">Select File<sup class="text-danger">*</sup></label>
                        <div class="col-md-6 col-12">
                            <div class="custom_select">
                                @Html.TextBoxFor(m => m.FileId, new { @class = "form-control form-control-file", Type = "file" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-md-3 col-12">
                            <div class="px-2">
                                <button class="btn btn_primary" type="button" id="btnUpload">Upload</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var searchCustomerId="";
    $("#btnSearch").click(function () {

        var customerId = $("#CustomerId").val();
         var flag="Y";
         $("#reason").html("");
         $("#reason").attr("style","display:none");
           if(customerId=="")
           {
               $("#customerId_error").attr("style", "display:block");
               $("#customerId_error").html("Enter Customer ID");
               $("#CustomerId").focus();
               flag="N";
           }
           else
           {
                $("#customerId_error").attr("style", "display:none");
                flag="Y";
                if (!customerId.match(tatkalCustomerCheck))
                {
                    $("#customerId_error").attr("style", "display:block");
                    $("#customerId_error").html("Invalid Customer ID");
                    $("#CustomerId").focus();
                     flag="N";
                }
                else
                {
                    $("#customerId_error").attr("style", "display:none");
                     flag="Y";
                }
           }
           if(flag=="Y"){
                document.getElementById("dvCards").innerHTML = "";
                $("#divtable").attr("style", "display:none");
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("GetMapTatkalCardtoCustomer", "TatkalCardCustomer")',
                    data: { CustomerID: customerId},
                    dataType: "json",
                    success: function (data, status, xhr) {
                        console.log(data);
                        if (status == 'success') {
                            if(data.objGetStatusTatkalCardsToTatkalCustomer.length > 0) {
                                if(data.objGetStatusTatkalCardsToTatkalCustomer[0].status=="0")
                                {
                                    $("#customerId_error").attr("style", "display:block");
                                    $("#customerId_error").html(data.objGetStatusTatkalCardsToTatkalCustomer[0].reason);
                                    $("#CustomerId").focus();
                                }
                                else
                                {

                                 $("#message").attr("style", "display:none");
                                 var table = $("<table ></table>");
                                 if (data.objGetCardDetailsTatkalCardsToTatkalCustomer.length > 0) {
                                       //var count = data.objGetCardDetailsTatkalCardsToTatkalCustomer.length;
                                       // var rowcount = Math.ceil((count) / 6);
                                         var cnt = 0;
                                       //var rows = "<tbody>";
                                       //for (var i = 0; i <= rowcount; i++){
                                       //rows += "<tr>";
                                       //    for (var j = 0; j < 6; j++){
                                       //        if (cnt < data.objGetCardDetailsTatkalCardsToTatkalCustomer.length){
                                       //            rows += "<td><label><input type='checkbox' name='' value='" + data.objGetCardDetailsTatkalCardsToTatkalCustomer[cnt].cardNo + "'/>"+ data.objGetCardDetailsTatkalCardsToTatkalCustomer[cnt].cardNo +"</label></td>";
                                       //            cnt = cnt + 1;
                                       //        }
                                       //    }
                                       //    rows += "</tr>";
                                       //    }
                                       //    rows += "</tbody>";
                                       //    $('#CardDetailsTbl').append(rows);
                                       //    $("#message").attr("style", "display:none");
                                        var rows = "<tbody>";
                                        $(data.objGetCardDetailsTatkalCardsToTatkalCustomer).each(function (index, item) {
                                            if( item.cardNo!=null)
                                            {
                                                var i = parseInt(index) + 1;

                                                rows += "<tr>";
                                                rows += '<td class="py-1 d-flex align-items-center"><label><input type="checkbox"  name="card" value="' + item.cardNo + '"/>'+ item.cardNo +'</label></td>';
                                                rows += "</tr>";
                                                cnt++;
                                            }
                                        });
                                        rows += "</tbody>";
                                        table.append(rows);
                                        if(cnt>0){
                                            document.getElementById("dvCards").innerHTML = "";
                                            $('#dvCards').append(table);
                                            setTimeout(function(){
                                                $("#divtable").attr("style", "display:block");
                                                $("#dvCards").attr("style", "display:block;overflow-x: hidden; overflow-y: scroll; height: 250px;background: #f3f3f3;border: 1px solid #c7c7c7;border-radius: 5px;padding: 10px 15px;");
                                            },500);
                                        }
                                        else{
                                             $("#message").html("");
                                             $("#message").append("No Record Found");
                                             $("#message").attr("style", "display:block;");
                                        }
                                 }
                                  else {
                                     $("#message").html("");
                                     $("#message").append(data.message);
                                     $("#message").attr("style", "display:block;");
                                     //$("#message").attr("style", "display:block;background-color:#f9c9c9; color:#8d0d0d; border-color: #f3abab;");
                                     $("#dvCards").attr("style", "display:none");
                                     $("#divtable").attr("style", "display:none");

                                 }
                             }
                           }
                        }
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        alert("Error " + textStatus +errorMessage);
                    }
                });
            }

    });

      $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
      $("#btnReset").click(function () {
        window.location.reload(true);

    });
      $("#btnMap").click(function () {
          debugger;
        CardDetails = [];
         //$("#CardDetailsTbl tbody tr").each(function () {
         //    debugger;
         //    var row = $(this);
         //    $(this).find('td').each(function(){
         //    if ($(this).find('input[type="checkbox"]').is(":checked")) {
         //        debugger;
         //        var cardNo = $(this).find(':checkbox:checked').val();
         //        CardDetails.push({ CardNo: cardNo });

         //   }
         //   });
         //});
            $("input:checkbox[name=card]:checked").each(function () {
            //alert("Id: " + $(this).attr("id") + " Value: " + $(this).val());
            //selectedCards = selectedCards + 1;
            CardDetails.push({ CardNo: $(this).val() });
        });
         var customerId = $("#CustomerId").val();
           if(CardDetails.length<2 ||CardDetails.length>100){
                $("#message").html("");
                $("#message").append("Min 2 and Max 100 Cards will be allowed");
                $("#message").attr("style", "display:block;background-color:#f9c9c9; color:#8d0d0d; border-color: #f3abab;");

                  $("#message").focus();
           }
           else{

                $("#message").attr("style", "display:none");
           }
           var flag="Y";
           if(customerId=="")
           {
               $("#customerId_error").attr("style", "display:block");
               $("#customerId_error").html("Enter Customer ID");
               $("#CustomerId").focus();
               flag="N";
           }
           else
           {
                $("#customerId_error").attr("style", "display:none");
                flag="Y";
                if (!customerId.match(tatkalCustomerCheck))
                {
                    $("#customerId_error").attr("style", "display:block");
                    $("#customerId_error").html("Invalid Customer ID");
                    $("#CustomerId").focus();
                     flag="N";
                }
                else
                {
                    $("#customerId_error").attr("style", "display:none");
                     flag="Y";
                }
           }

        if (CardDetails.length >= 2 && CardDetails.length<=100  && flag=="Y") {
            //if (confirm("Are you sure ?")) {

                var model = { Customerid: customerId,  ObjCardMap: CardDetails };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("UpdateTatkalCardtoCustomer", "TatkalCardCustomer")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(model),
                    success: function (data) {
                        console.log(data);
                        if(data.commonResponseData.length>0)
                        {
                            $("#reason").html("");
                            $("#reason").append("<span>" + data.commonResponseData[0].actionName + "</span></br></br>");
                            if(data.commonResponseData[0].cardNo!="")
                            {
                              $("#reason").append("<span>" + "Card Number" + "</span></br>");
                            }
                            for(var i=0;i<data.commonResponseData.length;i++)
                            {
                                if(data.commonResponseData[i].cardNo!="")
                                {
                                  $("#reason").append("<span>" + data.commonResponseData[i].cardNo + "</span></br>");
                                }
                            }
                            if(data.commonResponseData[0].status=="0")
                            {
                                $("#reason").addClass("alert-danger");
                                $("#reason").removeClass("alert-success");
                            }
                            else
                            {
                                $("#reason").addClass("alert-success");
                                $("#reason").removeClass("alert-danger");
                                $(".toBeHiddenOnSuccess").hide();
                            }
                            $("#reason").attr("style","display:block");
                            
                        }

                    },
                  error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error " + textStatus +errorMessage);
                }
                });
            }
            //}
         });
        $("#CustomerId").on("blur", function () {
            var customerId = $("#CustomerId").val();
            if (customerId != "") {

                if(searchCustomerId!=""){
                    if(searchCustomerId!=customerId){
                        $("#CardDetailsTbl td").parent().remove();
                        $("#dvCards").attr("style", "display:none");
                         $("#divtable").attr("style", "display:none");
                         $("#customerId_error").attr("style", "display:none");
                        $("#customerId_error").html("");
                    }
                }
                else{
                     $("#customerId_error").attr("style", "display:none");
                     $("#customerId_error").html("");
                }
                 if (!customerId.match(tatkalCustomerCheck)) {
                    $("#customerId_error").attr("style", "display:block");
                    $("#customerId_error").html("Invalid Customer ID");
                    $("#CustomerId").focus();
                }
            }
            else{
                $("#customerId_error").attr("style", "display:block");
                $("#customerId_error").html("Enter Customer ID");
                $("#CardDetailsTbl td").parent().remove();
                $("#dvCards").attr("style", "display:none");
                $("#divtable").attr("style", "display:none");
            }
            searchCustomerId=customerId;





     });
      function tableToCSV() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');

        if (rows.length > 0) {

            for (var i = 0; i < rows.length; i++) {

                // Get each column data
                var cols = rows[i].querySelectorAll('td,th');

                // Stores each csv row data
                var csvrow = [];
                for (var j = 0; j < cols.length; j++) {

                    // Get the text data of each cell
                    // of a row and push it to csvrow
                    //csvrow.push(cols[j].innerHTML);
                    //console.log(cols.length);
                    //console.log(cols[j].firstChild.value);
                    csvrow.push("'" + cols[j].firstChild.textContent);
                }
                //console.log(i, csvrow);
                //console.log(csvrow);
                // Combine each column value with comma
                csv_data.push(csvrow.join(","));
            }

            // Combine each row data with new line character
            csv_data = csv_data.join('\n');

            // Call this function to download csv file
            downloadCSVFile(csv_data);
        }
    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "UnallocatedTatkalCards.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

</script>