@model HPCL.Common.Models.ViewModel.TatkalCardCustomer.TatkalViewRequestModel
@{
    ViewData["Title"] = "Request Tatkal Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>



<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TatkalCardCustomer")" class="text_primary">Tatkal Card Customer</a> </li>
            <li class="breadcrumb-item">View Tatkal Cards</li>
        </ul>
        <form method="post" data-ajax="true" data-ajax-controller="TatkalCardCustomer" data-ajax-action="ViewAllocatedMapCard" data-ajax-method="POST" data-ajax-failure="OnFailure">

            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">View Tatkal Cards</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office </label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.ZonalOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getViewAllocatedCardRegionalOfc()" })
                                            @*<div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="fromDate_error"></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Regional Office</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @*@Html.DropDownListFor(m => m.CustomerRegionID, new SelectList(Model.RegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })*@
                                                <select name="CustomerRegionID" id="CustomerRegionID" class="form-control"></select>
                                                <span class="error" id="CustomerRegionID_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            <span class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            <span class="error" id="toDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-4 col-12  mb-0">Status</label>
                                    <div class="col-md-7 col-12">
                                        @*@Html.DropDownListFor(m => m.StatusFlag, new SelectList(Model.StatusModals, "StatusId", "StatusName"), new { @class = "form-control" })*@

                                        <div class="custom_select">
                                           @*@Html.DropDownListFor(m => m.StatusId, new SelectList(Model.StatusName, "StatusId", "StatusName"), new {  @class = "form-control" })*@
                                            <select name="StatusId" id="StatusId" class="form-control">
                                                    <option selected="selected" value="-1">--All--</option>
                                                    <option value="0">Pending</option>
                                                    <option value="1">Mapped</option>
                                                </select>
                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-4 col-12  mb-0"></label>
                                    <div class="col-md-7 col-12">
                                        <div class="d-flex align-items-center justify-content-center mt-0">
                                            <div class="px-2">
                                                <button class="btn btn_primary" id="btnSearch" type="submit">Search</button>
                                            </div>
                                            <div class="px-2">
                                                <button class="btn btn_primary" onclick="ResetFields()" type="button">Reset</button>
                                            </div>
                                             <div style="display:none;">@Html.TextBoxFor(m => m.RegionalOfcIdVal)</div>
                                        </div>


                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="clearfix"></div>
                        <div id="show_Table" class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {


    });

    $("#RegionalOfficeId").change(function () {
        var id = this.value;
        $("#RegionalOfcIdVal").val(id);
    });


    function ResetFields() {
       window.location.reload(true);
    };


    $("#btnSearch").click(function () {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var flag="Y";
        if (fromdate != "" && todate != "") {
            flag = checkDates("fromDate_error");
        }
        else if ((fromdate != "" && todate == "") || (fromdate == "" && todate != "")) {
            $("#toDate_error").attr("style", "display:block");
            $("#toDate_error").html("Please Select Both From Date and To Date");
            flag = "N";
        }
        else{
            $("#toDate_error").attr("style", "display:none");
            $("#toDate_error").html("");
        }
        if(flag=="Y"){
            var zonalId = $("#ZonalOfficeId").val();
            var regionID = $("#CustomerRegionID").val();
            var statusId =  $("#StatusId").val();
            var model = { FromDate: fromdate, ToDate: todate, StatusId: statusId,ZonalOfficeID:zonalId,RegionalOfficeID: regionID};

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetViewTatkalCards", "TatkalCardCustomer")',
                data: JSON.stringify(model),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                   var v = data;
                   //debugger;    
                     //if (status == 'success') {
                         $("#show_Table").html(data);
                         $('html, body').animate({
                             scrollTop: $("#show_Table").offset().top
                         }, 2000);
                     //}
                     //else {
                     //    console.log(v);
                     //}
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error"+ errorMessage);

                }
            });
        }
    });

    function getViewAllocatedCardRegionalOfc() {
        var id = $('#ZonalOfficeId :selected').val();

        //if (zonalID != "0" && zonalID != null && zonalID != "") {
        //    id = zonalID;
        //}
        var regionalID = $("#RegionalOfcIdVal").val();
         if(id>0){
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetRegionalOfcDetails", "Common")',
                data: { ZonalOfcID: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#CustomerRegionID").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "--All--"
                                    }).html("--All--").appendTo("#CustomerRegionID");
                                if (data.regionalOfficeID == regionalID) {
                                    $('<option selected = "selected">',
                                        {
                                            value: data.regionalOfficeID,
                                            text: data.regionalOfficeName
                                        }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: data.regionalOfficeID,
                                            text: data.regionalOfficeName
                                        }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                                }
                            }
                            else if (data.regionalOfficeID == regionalID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                            }

                        });
                        $("#CustomerRegionID")[0].sumo.reload();
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating Regional Office Data");
                }
            });
        }
        else{
             $("#CustomerRegionID").html('');
            $("#CustomerRegionID")[0].sumo.reload();
        }
    };
    $('select').SumoSelect({
            placeholder: '-All-',
            search: true,
            searchText: 'Enter Text here.'
        });
</script>
