@model HPCL.Common.Models.ViewModel.TatkalCardCustomer.TatkalViewRequestModel
@{
    ViewData["Title"] = "Request Tatkal Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
  


<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TatkalCardCustomer")" class="text_primary">Tatkal Cards Customer</a> </li>
            <li class="breadcrumb-item">View Tatkal Cards</li>
        </ul>
        <form method="post" data-ajax="true" data-ajax-controller="TatkalCardCustomer" data-ajax-action="ViewAllocatedMapCard" data-ajax-method="POST" data-ajax-failure="OnFailure">

            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">View Tatkal Cards</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office </label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.ZonalOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control, search_test", onchange = "getViewAllocatedCardRegionalOfc()" })
                                            @*<div class="custom_select">
                            @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
                        </div>
                        <span class="error" id="fromDate_error"></span>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Regional Office</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.CustomerRegionID, new SelectList(Model.RegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })
                                                <span class="error" id="CustomerRegionID_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control date", @type = "date" })
                                            </div>
                                            <span class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control date", @type = "date" })
                                            </div>
                                            <span class="error" id="toDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-4 col-12  mb-0">Status</label>
                                    <div class="col-md-7 col-12">
                                        @*@Html.DropDownListFor(m => m.StatusFlag, new SelectList(Model.StatusModals, "StatusId", "StatusName"), new { @class = "form-control" })*@

                                        <div class="custom_select">
                                            @Html.DropDownListFor(m => m.StatusId, new SelectList(Model.StatusName, "StatusId", "StatusName"), new { @id = "CardType", @class = "form-control" })

                                        </div>


                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-4 col-12  mb-0"></label>
                                    <div class="col-md-7 col-12">
                                        <div class="d-flex align-items-center justify-content-center mt-0">
                                            <div class="px-2">
                                                <button class="btn btn_primary" id="btnSearch" type="submit">Search</button>
                                            </div>
                                            <div class="px-2">
                                                <button class="btn btn_primary" onclick="ResetFields()" type="button">Reset</button>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            @*<div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="submit">Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" onclick="ResetFields()" type="button">Reset</button>
                                </div>
                            </div>*@
                        </div>
                        <div class="clearfix"></div>

                        <div>
                            <div class="px-3">

                                <table id="TatkalView" class="table table-bordered" style="display:none;">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("SR")
                                            </th>

                                            <th>
                                                @Html.DisplayName("ZO")
                                            </th>
                                            <th>
                                                @Html.DisplayName("RO")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Card Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Requested By")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Card Process Date")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Mapping Status")
                                            </th>

                                        </tr>
                                    </thead>
                                </table>
                            </div>
                            <div class="col-12 text-center alert-danger p-2" id="NoRecord" style="display:none">
                                Data Not Found...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </form>

    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        setDates();
        
    });
    //debugger;
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
    var zonalID = $("#ZonalOfficeId").val();
    var regionalID = $("#RegionalOfcIdVal").val();
    var fromdate = $("#FromDate").val();
    var todate = $("#ToDate").val();
    var today = new Date();
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();
    today = yyyy + '-' + mm + '-' + dd;

    function setDates() {
        var fromd = new Date();
        fromd.setMonth(fromd.getMonth() - 1);
        var dd = String(fromd.getDate()).padStart(2, '0');
        var mm = String(fromd.getMonth() + 1).padStart(2, '0'); //January is 0!
        var yyyy = fromd.getFullYear();

        fromd = yyyy + '-' + mm + '-' + dd;
        $("#FromDate").val(fromd);
        $("#ToDate").val(today);
    };
    $("#RegionalOfficeId").change(function () {
        var id = this.value;
        $("#RegionalOfcIdVal").val(id);
    });

    @*"@ViewBag.NotFoundError";*@

    //$(document).ready(function () {

    //    //if (notFoundError == "") {
    //        if (fromdate == "") {
    //            $("#FromDate").datepicker({
    //                "setDate": new Date(),
    //                "autoclose": true,
    //                dateFormat: 'dd-mm-yy'
    //            });
    //        }
    //        else {
    //            $("#FromDate").datepicker({ dateFormat: 'dd-mm-yy' });
    //        }

    //        if (todate == "") {
    //            $("#ToDate").datepicker({
    //                "setDate": new Date(),
    //                "autoclose": true,
    //                dateFormat: 'dd-mm-yy'
    //            });
    //            setDates();
    //        }
    //        else {
    //            $("#ToDate").datepicker({ dateFormat: 'dd-mm-yy' });
    //        }
    //        getMerchantRegionalOfc();
    //    //}
    //    //else {
    //    //    alert("Details not found");
    //    //}
    //});
    //$("#btnReset").click(function () {
    //    //debugger;
    //    setDates();

    //});
    //function setDates() {
    //    //debugger;

    //    var fromd = new Date();
    //    var fromMonth = fromd.getMonth();
    //    var fromday = fromd.getDate();
    //    var fromdate = (fromday < 10 ? '0' : '') + fromday + '-' +
    //        (fromMonth < 10 ? '0' : '') + fromMonth + '-' +
    //        fromd.getFullYear();

    //    var d = new Date();
    //    var month = d.getMonth() + 1;
    //    var day = d.getDate();
    //    var output = (day < 10 ? '0' : '') + day + '-' +
    //        (month < 10 ? '0' : '') + month + '-' +
    //        d.getFullYear();


    //    $("#FromDate").val(fromdate);
    //    $("#ToDate").val(output);
    //    $("#ZonalOfficeId").val(0);
    //    getMerchantRegionalOfc();
    //};


    function showGrid() {
        if ($("input:text").val() == "") {
            document.getElementById('TatkalView').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('TatkalView').style.display = 'inline-table';
        }
    }

    function ResetFields() {
        $("#NoRecord").attr("style", "display:none");
        $("input:text").each(function () {
            $(this).val("");
        });
        $("#TatkalView td").parent().remove();
        document.getElementById('TatkalView').style.display = 'none';

        $("#CustomerRegionID").val(0);
        document.getElementById("CustomerRegionID_error").innerHTML = "";
        setDates();
        $("#fromDate_error").html("");
        $("#toDate_error").html("");




    };

     @*$(document).ready(function () {

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetStatusType", "Common")',
            data: { status: "ViewAllocatedMapCard" },
            dataType: "json",
            success: function (data, status, xhr) {

                console.log(data);

                $.each(data.statusTypeList, function (i, option) {
                    $("<option/>").val(option.statusId).text(option.statusName).appendTo(".statusVal");
                });
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Status Type");
            }
        });*@




    $("#btnSearch").click(function () {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        if (fromdate == "") {
            $("#fromDate_error").attr("style", "display:block");
            $("#fromDate_error").html("Select From Date");
            flag = "N";
        }

        if (todate == "") {
            $("#toDate_error").attr("style", "display:block");
            $("#toDate_error").html("Select To Date");
            flag = "N";
        }
        if (fromdate != "" && todate != "") {
            flag = checkDates();
        }
        var RegionID = document.getElementById("CustomerRegionID").value;
        console.log(RegionID);
        if (RegionID == '' || RegionID == "0") {
            //alert('Enter Vehicle No');
           
            return;
        }
        else {
            document.getElementById("CustomerRegionID_error").innerHTML = "";
        }

        var result = false;



        $.ajax({
            type: 'POST',  // http method
            url: "GetAllTatkalCustomerCard/TatkalCardCustomer",
            data: { RegionalId: RegionID },  // data to submit
            dataType: "json",
            success: function (res) {
                console.log(res, "res");

                $("#NoRecord").attr("style", "display:none");


                if (res.searchList.length > 0) {
                    $("#TatkalView").show();


                    for (var i = 0; i < res.searchList.length; i++) {

                        var rows = "<tbody><tr>"
                            + "<td>" + (res.searchList[i].srnumber || '') + "</td>"
                            + "<td>" + (res.searchList[i].zonalOfficeName || '') + "</td>"
                            + "<td>" + (res.searchList[i].regionalOfficeName || '') + "</td>"

                            + "<td>" + (res.searchList[i].cardNo || '') + "</td>"
                            + "<td>" + (res.searchList[i].requestedBy || '') + "</td>"
                            + "<td>" + (res.searchList[i].cardProcessDate || '') + "</td>"
                            + "<td>" + (res.searchList[i].mapped || '') + "</td>"
                            + "</tr ></tbody > ";

                        $("#TatkalView").append(rows);


                    }
                } else {
                    $("#TatkalView").hide();
                    $("#NoRecord").attr("style", "display:block");

                }

            },
            error: function (jqXhr, textStatus, errorMessage) {
                document.getElementById("CustomerRegionID_error").innerHTML = "Error populating card details";

            }
        });

    });

    function getViewAllocatedCardRegionalOfc() {
        var id = $('#ZonalOfficeId :selected').val();

        if (zonalID != "0" && zonalID != null && zonalID != "") {
            id = zonalID;
        }
        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Common")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#CustomerRegionID").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == 0) {
                            $('<option>',
                                {
                                    value: 0,
                                    text: "--All--"
                                }).html("--All--").appendTo("#CustomerRegionID");
                            if (data.regionalOfficeID == regionalID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                            }
                        }
                        else if (data.regionalOfficeID == regionalID) {
                            $('<option selected = "selected">',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#CustomerRegionID");
                        }

                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };
    $(".date").on('change', function (e) {

        checkDates();
        $("#show_Table").html("");
    });

    function checkDates() {
        var fromD = $("#FromDate").val();
        var toD = $("#ToDate").val();
        var dateflag = "Y";
        if (fromD != "" && toD != "") {
            if (fromD > toD) {

                $("#fromDate_error").attr("style", "display:block");
                $("#fromDate_error").html("'From Date' should be less or equal to 'To date'");
                dateflag = "N";
            }
            else {
                $("#fromDate_error").html("");
                $("#fromDate_error").attr("style", "display:none");
            }
        }

        if (toD != "") {
            if (toD > today) {
                $("#toDate_error").attr("style", "display:block");
                $("#toDate_error").html("To Date should be less or equal to Today's date");
                dateflag = "N";
            }
            else {
                $("#toDate_error").html("");
                $("#toDate_error").attr("style", "display:none");
            }
        }

        return dateflag;
    }
</script>
