@model HPCL.Common.Models.ResponseModel.TerminalManagementResponse.ManageTerminalResponse
@using HPCL.Common.Resources
@if (Model.Data.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="ManageTerminalDetails">
        <thead style="background-color:lightgray;">
            <tr>

                <th>Terminal ID</th>
                <th>Merchant ID</th>
                <th>Approval Date</th>
                <th>Deployment Status</th>
                <th>Terminal Issuance Type</th>
                <th>Terminal Status</th>
                <th>Mapped Merchant ID</th>
                <th>Service Charge ( in Rs/Ltr )</th>
                <th>Route ID</th>
                <th>Effective Date</th>
                 <th>Action</th>
                
               
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@item.Terminalid</td>
                    <td>@item.Merchantid</td>
                    <td>@item.ApprovalDate</td>
                    <td>@item.DeploymentStatus</td>
                    <td>@item.TerminalIssuanceType</td>
                    <td>@item.TerminalStatus</td>
                    <td>@item.MappedMerchantId</td>
                    <td>@item.ServiceChargeInRsPerLtr</td>
                    <td>@item.RouteId</td>
                    <td>@item.EffectiveDate</td>
                     <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="text_primary" data-toggle="tooltip" title="" tooltip="Edit/View"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

</script>

