@model HPCL.Common.Models.ResponseModel.TerminalManagementResponse.ManageTerminalResponse
@using HPCL.Common.Resources
@if (Model.Data.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="ManageTerminalDetails">
        <thead style="background-color:lightgray;">
            <tr>

                <th>Terminal ID</th>
                <th>Merchant ID</th>
                <th>Approval Date</th>
                <th>Deployment Status</th>
                <th>Terminal Issuance Type</th>
                <th>Terminal Status</th>
                <th>Mapped Merchant ID</th>
                <th>Service Charge ( in Rs/Ltr )</th>
                <th>Route ID</th>
                <th>Effective Date</th>
                 <th>Action</th>
                
               
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@item.Terminalid</td>
                    <td><a data-toggle='modal' href='#MerchantSummaryView' onclick='ViewMerchantSummary(this)' role='tab'><span>@item.Merchantid</span></a></td>
                    <td>@item.ApprovalDate</td>
                    <td>@item.DeploymentStatus</td>
                    <td>@item.TerminalIssuanceType</td>
                    <td>@item.TerminalStatus</td>
                    <td>@(item.MappedMerchantId=="0"?"":item.MappedMerchantId)</td>
                    <td>@(item.ServiceChargeInRsPerLtr=="0"?"":item.ServiceChargeInRsPerLtr)</td>
                    <td>@item.RouteId</td>
                    <td>@item.EffectiveDate</td>
                     <td>
                            <div class="d-flex align-items-center justify-content-center">
                                <a class="text_primary" data-toggle="tooltip" title="" tooltip="Edit/View"><i class="fa fa-edit"></i></a>
                            </div>
                        </td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center alert alert-danger " >
        @Model.Message
    </div>
}
<div class="modal fade" id="MerchantSummaryView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="width:800px">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:18px;">Merchant Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                 <div class="col-lg-12 col-md-12 col-12 toBeHiddenOnSuccess" id="MerchantSummaryData">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
function ViewMerchantSummary(o){
        var erpCode=o.innerText.substr(2);
         $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetMerchantSummaryData", "TerminalManagement")',
            contentType: "application/json; charset=utf-8",
            data: { ERPCode: erpCode },
            dataType: "text",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#MerchantSummaryData").html("");
                    $("#MerchantSummaryData").html(data);
                  $('#MerchantSummaryView').modal('show');
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }
</script>

