@model HPCL.Common.Models.ViewModel.Merchant.MerchantModel
<div class="col-lg-12">
    <div class="bg-white">
        <div class="tab-content mt-3" id="myTabContent">

            <div class="border-1 rounded border-grey w-100">
                <div class="py-2 p-md-4">
                    <div class="row">
                        <div class="col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Basic Information</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class=" d-flex align-items-start flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Merchant ID :</label>
                                    <div class="col-md-7 col-12" id="SummaryMerchantID">
                                        @Model.MerchantID
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Retail Outlet Name :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetailOutletName">
                                        @Model.RetailOutletName
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Merchant Type :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryMerchantType">
                                        @Model.MerchantType
                                    </div>
                                </div>
                            </div>
                            @if (Model.MerchantType == "Mobile Dispenser")
                            {
                                <div class="col-lg-4 col-md-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 px-0">Mapped Merchant ID :</label>
                                        <div class="col-md-7 col-12 font-weight-bold" id="SummaryMerchantType">
                                            @Model.MappedMerchantID
                                        </div>
                                    </div>
                                </div>
                            }
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Dealer Name :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryDealerName">
                                        @Model.DealerName
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Dealer Mobile Number :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryDealerMobileNum">
                                        @Model.DealerMobileNumber
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Outlet Category :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryOutletCategory">
                                        @Model.OutletCategory
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Highway No :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryHighwayNum">
                                        @{
                                            string highway = "";
                                            if (Model.HighwayNumber != "" && Model.HighwayNumber != null)
                                            {
                                                if (Model.PreHighwayNumber == "1") highway = "NH-";
                                                else if (Model.PreHighwayNumber == "2") highway = "SH-";
                                            }
                                        }
                                        @highway@Model.HighwayNumber
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Highway Name :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryHighwayName">
                                        @Model.HighwayName
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">LPG-CNG Sale :<br />(3 months average in KL)</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryLPGCNGSale">
                                        @Model.LPG_CNGSale
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">PAN Card Number :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryPanCardNum">
                                        @Model.PANCardNumber
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">GST Number :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryGSTNum">
                                        @Model.GSTNumber
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">SBU Type :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummarySBUType">
                                        @Model.SBUType
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Business Details</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">ERP Code :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryERPCode">
                                        @Model.ERPCode
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Sales Area :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummarySalesArea">
                                        @Model.SalesArea
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Regional Office, Zonal Office :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRegionalZonalOfc">
                                        @Model.RegionalOffice , @Model.ZonalOffice

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Communication Address</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Address :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryAddress">
                                        @Model.Comm_Address1
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">City (PIN) :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryCity">
                                        @Model.Comm_City
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">District, State :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryDistrict">
                                        @Model.Comm_District

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Phone Office :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryPhoneOfc">
                                        @Model.Comm_PhoneNumber
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Fax :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryFax">
                                        @Model.Comm_Fax
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Retail Outlet Address</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Address :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetAddress">
                                        @Model.Retail_Outlet_Address1
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Location :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetLocation">
                                        @Model.Retail_Outlet_Location
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">City (PIN) :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetCity">
                                        @Model.Retail_Outlet_City (@Model.Retail_Outlet_Pin)
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">District, State :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetDistrictState">
                                        @Model.Retail_Outlet_District

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Phone Office :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetPhoneOfc">
                                        @Model.Retail_Outlet_PhoneOffice
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Fax :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryRetFax">
                                        @Model.Retail_Outlet_Fax
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Contact Person Details</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Name :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryName">
                                        @Model.FName @Model.MName @Model.LName
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Mobile :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryMobile">
                                        @Model.Mobile
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Email :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryEmail">
                                        @Model.Email
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Misc :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryMisc">
                                        @Model.Misc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                 

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-12 border-1 rounded border-grey px-0 mb-2">
                            <p class="text_primary mb-2 p-2 bg-grey font-weight-bold">Terminal Details</p>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">No. of Live Terminal :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryName">
                                        @Model.NumOfLiveTerminals
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-12">
                                <div class="d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12 px-0">Terminal Type :</label>
                                    <div class="col-md-7 col-12 font-weight-bold" id="SummaryName">
                                        @Model.TerminalTypeRequested
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

       
    </div>
</div>

