@model HPCL.Common.Models.ViewModel.TerminalManagementRequestViewModel
@using HPCL.Common.Resources
@if (Model.TerminalManagementRequestDetails.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="TerminalRequestDetails">
        <thead style="background-color:lightgray;">
            <tr>

                <th style="width:5%;">Merchant ID</th>
                <th style="width:10%;">Terminal ID</th>
                <th style="width:10%;">Created Date</th>
                <th style="width:10%;">Created By</th>
                <th style="width:10%;">Remark</th>
                <th style="width:10%;">Terminal Type</th>
                <th style="width:20%;">Status</th>
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.TerminalManagementRequestDetails)
            {
                i = i + 1;

                <tr>
                    <td>@item.MerchantID</td>
                    <td>@item.TerminalID</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.Remark</td>
                    <td>@item.TerminalType</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

</script>

