@model HPCL.Common.Models.ViewModel.Terminal.TerminalDeinstallationRequestViewModel
@using HPCL.Common.Resources
@if (Model.TerminalDeinstallationRequestDetails.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="TerminalRequestDetails">
        <thead style="background-color:lightgray;">
            <tr>

                <th style="width:5%;">Merchant ID</th>
                <th style="width:10%;">Terminal ID</th>
                <th style="width:10%;">Requested Date</th>
                <th style="width:10%;">Requested By</th>
                <th style="width:10%;">Modified Date</th>
                <th style="width:10%;">Modified By</th>
                <th style="width:10%;">Remarks</th>
                <th style="width:20%;">Status</th>
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.TerminalDeinstallationRequestDetails)
            {
                i = i + 1;

                <tr>
                    <td>@item.MerchantID</td>
                    <td>@item.TerminalID</td>
                    <td>@item.RequestedDate</td>
                    <td>@item.RequestedBy</td>
                    <td>@item.ModifiedDate</td>
                    <td>@item.ModifiedBy</td>
                    <td>@item.Remarks</td>
                    <td>@item.StatusName</td>
                </tr>
            }
        </tbody>
    </table>

    <div class="clearfix"></div>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

</script>

