@model HPCL.Common.Models.ViewModel.TerminalManagementRequestViewModel
@using HPCL.Common.Resources
@if (Model.TerminalManagementRequestDetails.Count() > 0)
{

    <table class="datatable table d-md-table table-striped table-bordered table-responsive" style="width:100%;" id="TerminalRequestDetails">
        <thead style="background-color:lightgray;">
            <tr>

                <th>Merchant ID</th>
                <th>Terminal ID</th>
                <th>Created Date</th>
                <th>Created By</th>
                <th>Remark</th>
                <th>Terminal Type</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.TerminalManagementRequestDetails)
            {
                i = i + 1;

                <tr>
                    <td><a data-toggle='modal' href='#MerchantSummaryView' onclick='ViewMerchantSummary(this)' role='tab'><span>@item.MerchantID</span></a></td>
                    <td>@item.TerminalID</td>
                    <td>@item.CreatedDate</td>
                    <td>@item.CreatedBy</td>
                    <td>@item.Remark</td>
                    <td>@item.TerminalType</td>
                    <td>@item.Status</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}
<div class="modal fade" id="MerchantSummaryView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:960px; margin:20px auto;">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:18px;">Merchant Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" >
                 <div class="col-lg-12 col-md-12 col-12 toBeHiddenOnSuccess" id="MerchantSummaryData">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [[-1, 10, 25, 50, 100, 250, 500, 750, 1000, 1500, 2000, 2500, 3000], ["All", 10, 25, 50, 100, 250, 500, 750, 1000, 1500, 2000, 2500, 3000]],
            "pageLength": 10,
            "fixedHeader": true,
            "paging": true,
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
    function ViewMerchantSummary(o){
        var erpCode=o.innerText.substr(2);
         $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetMerchantSummaryData", "TerminalManagement")',
            contentType: "application/json; charset=utf-8",
            data: { ERPCode: erpCode },
            dataType: "text",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#MerchantSummaryData").html("");
                    $("#MerchantSummaryData").html(data);
                  $('#MerchantSummaryView').modal('show');
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }
</script>

