@model HPCL.Common.Models.ViewModel.Terminal.TerminalDeinstallationRequestViewModel

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TerminalManagement")" class="text_primary">Terminal Management</a> </li>
            <li class="breadcrumb-item font-weight-light">Problematic Deinstalled To Deinstalled</li>
        </ul>
        <div id="reason" class="mb-3 text-center" style="background-color: #a0f1d6;"></div>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form1" ,@class="toBeHiddenOnSuccess" }))
        {
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Problematic Deinstalled To Deinstalled</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.ZonalOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getMerchantRegionalOfc()" })
                                                <span class="error" id="zonal_office_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="RegionalOfficeId" id="RegionalOfficeId" class="form-control"></select>
                                                <span class="error" id="regionalOfc_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="toDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Merchant ID </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Terminal ID </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.TerminalId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="submit">Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnReset" type="button">Reset</button>
                                </div>
                            </div>
                            <div style="display:none;">@Html.TextBoxFor(m => m.RegionalOfcIdVal)</div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }

        <div id="show_Table" class="toBeHiddenOnSuccess">
            @if (Model.TerminalDeinstallationRequestDetails.Count() > 0)
            {


                <div class="table-responsive">
                    <table class="datatable table table-striped table-bordered d-md-table d-block text-nowrap display table-responsive" style="width:100%;" id="TerminalRequestDetails">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th style="width:5%;"><input type="checkbox" id="checkAll" /></th>
                                <th style="width:5%;">Merchant ID</th>
                                <th style="width:10%;">Terminal ID</th>
                                <th style="width:10%;">Zonal Office</th>
                                <th style="width:10%;">Regional Office</th>
                                <th style="width:20%;">Status</th>
                                <th style="width:10%;">Requested By</th>
                                <th style="width:10%;">Requested Date</th>
                                <th style="width:10%;">Authorized By</th>
                                <th style="width:10%;">Authorization Date</th>
                            </tr>
                        </thead>
                        <tbody id="searchTableBody">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.TerminalDeinstallationRequestDetails)
                            {
                                i = i + 1;

                                <tr>
                                    <td><input type="checkbox" id="check_@i" /></td>
                                    <td>@item.MerchantID</td>
                                    <td>@item.TerminalID</td>
                                    <td>@item.ZonalOfficeName</td>
                                    <td>@item.RegionalOfficeName</td>
                                    <td>@item.StatusName</td>
                                    <td>@item.RequestedBy</td>
                                    <td>@item.RequestedDate</td>
                                    <td>@item.AuthorizedBy</td>
                                    <td>@item.AuthorizedDate</td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="mt-3"></div>

                <div class="d-flex align-items-center flex-wrap">
                    <div class="col-lg-6 col-12">
                        <div class="d-flex align-items-center flex-wrap mb-3">
                            <label class="font-weight-normal col-md-4 col-12">Comments<sup class="text-danger">*</sup></label>
                            <div class="col-md-7 col-12">
                                <div class="custom_select">
                                    <textarea rows="4" id="txtComments" cols="50" class="form-control"></textarea>
                                    <span class="error" id="comment_error"></span>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="d-flex align-items-center justify-content-center mt-0">
                    <div class="px-2">
                        <button class="btn btn_primary" type="button" onclick="submitProblematicDeinstalltoDeinstall();">Submit</button>
                    </div>

                </div>
            }
            else
            {
                <div class="col-12 text-center alert-danger p-2">
                    No Records found!
                </div>
            }
        </div>

    </div>
</div>
<script type="text/javascript">
    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });
    var zonalID = $("#ZonalOfficeId").val();
    var regionalID = $("#RegionalOfcIdVal").val();

      var fromdate = $("#FromDate").val();
    var todate = $("#ToDate").val();
    console.log(regionalID);

    $(document).ready(function () {

            if (fromdate == "") {
                $("#FromDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true,
                    dateFormat: 'dd-mm-yy'
                });
            }
            else {
                $("#FromDate").datepicker({ dateFormat: 'dd-mm-yy' });
            }

            if (todate == "") {
                $("#ToDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true,
                    dateFormat: 'dd-mm-yy'
                });
                setDates();
            }
            else {
                $("#ToDate").datepicker({ dateFormat: 'dd-mm-yy' });
            }
            getMerchantRegionalOfc();

    });
    $("#btnReset").click(function () {
        setDates();

    });
    $("#btnSearch").on("click", (function (e) {

        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var flag = "Y";
        if (fromdate == "") {
            $("#fromDate_error").html("Select From Date");
            flag = "N";
        }
        else
            $("#fromDate_error").html("");
        if (todate == "") {
            $("#toDate_error").html("Select To Date");
            flag = "N";
        }
        else
            $("#toDate_error").html("");
        if (flag == "N")
            e.preventDefault();

    })
    );
    function setDates() {

        var fromd = new Date();
        var fromMonth = fromd.getMonth();
        var fromday = fromd.getDate();
        var fromdate = (fromday < 10 ? '0' : '') + fromday + '-' +
            (fromMonth < 10 ? '0' : '') + fromMonth + '-' +
            fromd.getFullYear();

        var d = new Date();
        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (day < 10 ? '0' : '') + day + '-' +
            (month < 10 ? '0' : '') + month + '-' +
            d.getFullYear();


        $("#FromDate").val(fromdate);
        $("#ToDate").val(output);
        $("#ZonalOfficeId").val(0);
        $("#RegionalOfcIdVal").val("");
        getMerchantRegionalOfc();
        $("#MerchantId").val("");
        $("#TerminalId").val("");
        $("#show_Table").html("");
        $("#fromDate_error").html("");
        $("#toDate_error").html("");
       
    };
    $("#RegionalOfficeId").change(function () {
        var id = this.value;
        $("#RegionalOfcIdVal").val(id);
    });
    function getMerchantRegionalOfc() {
        var id = $('#ZonalOfficeId :selected').val();
        var regionalID = $("#RegionalOfcIdVal").val();
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Common")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#RegionalOfficeId").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == 0) {
                            $('<option>',
                                {
                                    value: 0,
                                    text: "--All--"
                                }).html("--All--").appendTo("#RegionalOfficeId");
                            if (data.regionalOfficeID == regionalID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                            }
                        }
                        else if (data.regionalOfficeID == regionalID) {
                            $('<option selected = "selected">',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };
   
    function submitProblematicDeinstalltoDeinstall() {
        merchantDetail = [];
         $("#TerminalRequestDetails tbody tr").each(function () {
             //debugger;

             var row = $(this);
             if (row.find('input[type="checkbox"]').is(":checked")) {

                 var merchantId = row[0].cells[1].textContent;
                 var terminalId = row[0].cells[2].textContent;
                 merchantDetail.push({ MerchantId: merchantId, TerminalID: terminalId });

            }
         });
        var flag = "Y";
       
        var   comments = $('#txtComments').val();
        
        if (comments == "") {
            flag = "N";
            $("#comment_error").html("Please add comments");
            return;
        }
       
        if (merchantDetail.length == 0) {
            alert("Please select at least one request to process.");
            return;
        }


        if (merchantDetail.length > 0 && flag == "Y") {
            if (confirm("Are you sure you want to close this request?")) {
                $("#comment_error").html("");
                var terminationReqmodel = { Remark: comments, ObjTerminalProblematicDeinstalledToDeinstalled: merchantDetail };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("SubmitProblematicDeinstalltoDeinstall", "TerminalManagement")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(terminationReqmodel),
                    success: function (data) {
                        setDates();
                        $("#reason").html(data);
                        $(".toBeHiddenOnSuccess").hide();

                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                });
            }
        }


    };
    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
</script>

