@model HPCL.Common.Models.ViewModel.Terminal.TerminalManagement

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "TerminalManagement")" class="text_primary">Terminal Management</a> </li>
            <li class="breadcrumb-item font-weight-light">Terminal Installation Request</li>
        </ul>
        <div id="reason" class="mb-3 text-center" style="background-color: #a0f1d6;"></div>
        @*<form id="formValid" method="POST" class="toBeHiddenOnSuccess" data-ajax="true" data-ajax-controller="TerminalManagement" data-ajax-action="TerminalInstallationRequest" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">*@
        <form id="formValid" class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mb-3">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Terminal Installation Request</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfficeId, Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control zonalFetchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.RegionalOfficeId, Enumerable.Empty<SelectListItem>(), "All", new { @class = "form-control regionalFetchId" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Merchant ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantId, new { @id = "MerchantId", @class = "form-control" })
                                            </div>
                                            <span class="error" style="display:none" id="Merchant_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"> </label>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content- mt-0 mb-3">
                                                <div class="px-2">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"> </label>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content- mt-0 mb-3">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnSearch" name="submit">Search</button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>



                            <div id="labelMerchantDetails" class="col-lg-12 col-md-12 col-12 pr-0 pl-0 pb-4 mt-3" style="display:none;">
                                <fieldset class="border-1 rounded border-grey h-100">
                                    <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2" id="label">Merchant Details</legend>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Retail Outlet Name</label>
                                            <div class="col-sm-6 col-md-6 col-12">
                                                @*<input type="text" class="col-12 text-wrap" id="RetailOutletName" style="border:none" disabled />*@
                                                <label class="font-weight-normal  col-12" id="RetailOutletName"></label>
                                            </div>

                                        </div>

                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12  mb-0" id="Add">Address:</label>
                                            <div class="col-sm-6 col-md-6 col-12">
                                                @* <input type="text" class="col-12 text-nowrap" id="RetailOutletAddress" style="border:none" disabled/>*@
                                                <label class="font-weight-normal  col-12" id="RetailOutletAddress"></label>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12  mb-0">City:</label>
                                            <div class="col-sm-6 col-md-6 col-12">
                                                @*<input type="text"   class="col-12 " id="RetailOutletCity" style="border:none" disabled/>*@
                                                <label class="font-weight-normal  col-12" id="RetailOutletCity"></label>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12  mb-0">State:</label>
                                            <div class="col-sm-6 col-md-6 col-12">
                                                @* <input type="text"  class="col-12" id="StateName" style="border:none" disabled />*@
                                                <label class="font-weight-normal  col-12" id="StateName"></label>
                                            </div>
                                        </div>

                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12  mb-0">District:</label>
                                            <div class="col-sm-6 col-md-6 col-12">
                                                @*<input type="text"  class="col-12" id="DistrictName" style="border:none" disabled/>*@
                                                <label class="font-weight-normal  col-12" id="DistrictName"></label>
                                            </div>
                                        </div>


                                    </div>
                                </fieldset>
                            </div>
                            <div id="myTable" style="display:none;">
                                <table class="table d-md-table table-bordered mt-3">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Sr No")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Terminal ID")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Last Month's Spends")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Staus")
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTableBody">
                                    </tbody>
                                </table>
                            </div>

                            <div class="clearfix"></div>

                        </div>

                        <div class="clearfix"></div>
                        <div class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;display:none;" id="noRecord">
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap">

                            <div class="w-100 px-3">
                                <fieldset class="border-1 rounded border-grey" id="Just" style="display:none">
                                    <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2" id="AddJust">Add Justification</legend>
                                    <div class="px-4 p-2 col-12">
                                        <div class="col-sm-10 col-12">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Terminal Issuance Type</label>
                                            <div class="d-flex align-items-center justify-content-start flex-wrap mb-3">
                                                <label class="mb-0 mr-4 d-flex align-items-center justify-content-start" for="terminalIssurenceType">
                                                    <input type="radio" name="terminalIssurenceType" class="mr-2" id="addOn" value="Add-On" disabled="disabled">
                                                    Add-On
                                                </label>
                                                <label class="mb-0 mr-4 d-flex align-items-center justify-content-start" for="terminalIssurenceType">
                                                    <input type="radio" name="terminalIssurenceType" class="mr-2" value="Re-Installation" id="reInstall" disabled="disabled">
                                                    Re-Installation
                                                </label>
                                            </div>
                                        </div>

                                        <div class="col-sm-10 col-12">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Terminal Type Request<sup class="text-danger">*</sup></label>
                                            <div class="d-flex align-items-center justify-content-start flex-wrap mb-3">
                                                @*<label class="mb-0 mr-4 d-flex align-items-center justify-content-start">*@

                                                @*@Html.RadioButton("terminalTypeRequest", "GPRS-Installation",new { @class = "mr-2" ,@id = "radio" })*@

                                                @*GPRS-Installation*@
                                                @*</label>*@
                                                @*<label class="mb-0 mr-4 d-flex align-items-center justify-content-start">


                                                    @Html.RadioButton("terminalTypeRequest", "Desktop-Installation", new { @class = "mr-2",@id="radio" })*@

                                                @*Desktop-Installation*@
                                                @*</label>*@
                                                <label class="mb-0 mr-4 d-flex align-items-center justify-content-start">
                                                    @*<input type="radio" name="terminalTypeRequest" class="mr-2">*@

                                                    @Html.RadioButton("terminalTypeRequest", "Wifi-Installation", new { @class = "mr-2" ,@id = "radio" ,@checked="true"})

                                                    Wifi-Installation
                                                </label>
                                                <span class="error" id="terminalIssurenceType_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-10 col-12">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Justification<sup class="text-danger">*</sup></label>
                                            <div class="d-flex align-items-center justify-content-start flex-wrap mb-3">
                                                <textarea rows="4" cols="50" id="justificationId" class="form-control"></textarea>
                                                <span class="text-danger" id="justification_error"></span>
                                            </div>
                                        </div>
                                        <div class="d-flex align-content-center justify-content-center flex-wrap">
                                            <div class="px-2">
                                                <button class="btn btn_primary" type="button" id="btnAdd" name="submit">ADD</button>
                                            </div>
                                            <div class="px-2">
                                                <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="resetPress()">RESET</button>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>

                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">

     function resetPress() {
         $("input:text").each(function () {
             $(this).val("");
         });
         $("#MerchantID").attr("style", "display:none");
         $("#labelMerchantDetails").attr("style", "display:none");
         $("#myTable").attr("style", "display:none");
         $("#Just").attr("style", "display:none");
         $("#justificationId").val("");
     }

       $(document).ready(function () {

         $('select').SumoSelect({
             placeholder: '-Select-',
             search: true,
             searchText: 'Enter Text here.'
         });

          $.ajax({
                 type: 'POST',  // http method
                 url: '@Url.Action("GetzonalOfficeList", "Common")',
                 dataType: "json",
              success: function (data, status, xhr) {

                  console.log(data);

                  $.each(data.zonalOfficeLst, function (i, option) {
                      $("<option/>").val(option.zonalOfficeID).text(option.zonalOfficeName).appendTo(".zonalFetchId");
                  });

                  $(".zonalFetchId")[0].sumo.reload();
              },
              error: function (jqXhr, textStatus, errorMessage) {
                  alert("Error Populating Zonal Office");
              }
          });
     });

     $(".zonalFetchId").change(function () {
             var id = this.value;

             if (id != 0) {
                 $("#state_error").html("");
             }

             $.ajax({
                 type: 'POST',  // http method
                 url: '@Url.Action("GetRegionalOfcDetails", "Common")',
                 data: { zonalOfcId: id },  // data to submit
                 dataType: "json",
                 success: function (data, status, xhr) {
                     var v = data;
                     if (status == 'success') {

                         console.log(id,"regional ofc");

                         $(".regionalFetchId").html("");
                         $(".regionalFetchId").append("<option value=''>All</option>");

                         if(id == ""){
                             $(".regionalFetchId")[0].sumo.reload();
                             return false;
                         }

                         $.each(data, function (i, data) { // bind the dropdown list using json result
                             $('<option>',
                                 {
                                     value: data.regionalOfficeID,
                                     text: data.regionalOfficeName
                                 }).html(data.districtName).appendTo(".regionalFetchId");
                         });
                         $(".regionalFetchId")[0].sumo.reload();
                     }
                     else {
                         console.log(v);
                     }
                 },
                 error: function (jqXhr, textStatus, errorMessage) {
                     alert("Error Populating Regional Office");
                 }
             });
     });

     $('#MerchantId').on("input", function (evt) {
         var self = $(this);
         self.val(self.val().replace(/\D/g, ""));
         if ((evt.which < 48 || evt.which > 57)) {
             evt.preventDefault();
         }
     });


     function showGrid() {
         if ($("input:text").val() == "") {
             document.getElementById('myTable').style.display = 'none';
         }
         if (($("input:text").val() != "")) {
             document.getElementById('myTable').style.display = 'inline-table';
         }
     }

     function OnSuccess(data) {

         console.log(data.searchList.data);

         var objMerchantLst = data.searchList.data.objMerchantDetail;
         var objTerminalLst = data.searchList.data.objTerminalDetail;
         var objStatusDetail = data.searchList.data.objStatusDetail;
         debugger;
          if (objStatusDetail.length>0)  {

             if(objStatusDetail[0].status=="0"){
                 $("#myTable").hide();
                 $("#labelMerchantDetails").hide();
                 $("#Just").hide();
                 $("#noRecord").html("");
                 $("#noRecord").append("<span>" + objStatusDetail[0].reason + "</span>");
                 document.getElementById("noRecord").style.display = "block";
             }
             else{
                 if (objMerchantLst.length>0 ) {
                     debugger;
                     document.getElementById("noRecord").style.display = "none";

                     $('#RetailOutletName').text(objMerchantLst[0].retailOutletName)
                     $('#RetailOutletAddress').text(objMerchantLst[0].retailOutletAddress)
                     $('#RetailOutletCity').text(objMerchantLst[0].retailOutletCity)
                     $('#StateName').text(objMerchantLst[0].stateName)
                     $('#DistrictName').text(objMerchantLst[0].districtName)

                     if ((objMerchantLst[0].terminalIssuanceType) == "Add-On") {
                         $("#addOn").prop("checked", true);
                     }

                     if ((objMerchantLst[0].terminalIssuanceType) == "Re-Installation") {
                         $("#reInstall").prop("checked", true);
                     }
                 }
                 if (objTerminalLst.length>0 ) {
                     $("#myTable td").parent().remove();
                     for (var i = 0; i < objTerminalLst.length; i++) {

                         var rows = "<tr>"
                             + "<td>" + (objTerminalLst[i].srNumber || '') + "</td>"
                             + "<td>" + (objTerminalLst[i].terminalId || '') + "</td>"
                             + "<td>" + objTerminalLst[i].lastMonthSpends + "</td>"
                             + "<td>" + (objTerminalLst[i].status || '') + "</td>"
                             + "</tr >";

                         $("#myTableBody").append(rows);
                     }

                     $("#myTable").show();
                     $("#labelMerchantDetails").show();
                     $("#Just").show();
                 }
                 if (objMerchantLst.length>0  &&objTerminalLst.length==0)  {
                     $("#labelMerchantDetails").show();
                     $("#Just").show();
                     $("#myTable").hide();
                     $("#noRecord").html("");
                     $("#noRecord").append("<span>Terminal Spends - No existing terminals for this Merchant</span>");
                     document.getElementById("noRecord").style.display = "block";
                 }
             }

         }





     };

    $("#btnAdd").on("click", (function (e) {
         var TerminalIssuanceType = $('input[name="terminalIssurenceType"]:checked').val();
         var TerminalTypeRequested = $('input[name="terminalTypeRequest"]:checked').val();
         var Justification = $("#justificationId").val();
         var MerchantId = $("#MerchantId").val();
          var flag="Y";

         if (TerminalTypeRequested == undefined){
             document.getElementById("terminalIssurenceType_error").innerHTML = "Terminal Type is required";
             flag = "N";
         }else{
             $("#terminalIssurenceType_error").html("");
         }
         if(Justification.trim() == ""){
             $("#justification_error").html("Justification is required");
             flag = "N";
         }else{
             $("#justification_error").html("");
         }

         if (flag == "N")
             e.preventDefault();
         if (flag == "Y") {

             if (confirm('Do you want to place terminal installation request for this merchant?')) {

                 var objInsertTerminal = [];

                 objInsertTerminal.push({
                     MerchantId: MerchantId,
                     TerminalIssuanceType: TerminalIssuanceType,
                     TerminalTypeRequested: TerminalTypeRequested,
                     Justification: Justification
                 });

                 $.ajax({
                     url: "@Url.Action("AddJustification", "TerminalManagement")",
                     type: "POST",
                     dataType: "JSON",
                     data: { objInsertTerminal: JSON.stringify(objInsertTerminal) },
                     success: function (res) {
                         $("#reason").html(res);
                         $(".toBeHiddenOnSuccess").hide();
                     },
                     error: function (ex) {
                         alert('Failed' + ex);
                     }
                 });
             }
         }

      }));


     $("#terminalTypeRequest").on("blur", function () {
         if ($("#terminalTypeRequest").val().length > 0) {
             document.getElementById("terminalIssurenceType_error").innerHTML = "";
         }
     });

      $("#btnSearch").click(function () {
          var flag="Y";
          var merchantID = $("#MerchantId").val();

         var flag = "Y";
         if (merchantID == "") {
             $("#Merchant_error").attr("style", "display:block");
             $("#Merchant_error").html("Merchant ID is required");
             flag = "N";
         }
         else {
             if (!merchantID.match(mappedMerchantID)) {
                 $("#Merchant_error").attr("style", "display:block");
                 $("#Merchant_error").html("Please enter valid Merchant ID");
                 flag = "N";
             }
             else {
                 $("#Merchant_error").attr("style", "display:none");
                 $("#Merchant_error").html("");
             }
         }
         if (flag=="Y") {
             var zoID = $("#ZonalOfficeId :selected").val();
             var roID = $("#RegionalOfficeId :selected").val();

             var model = { ZonalOfficeId: zoID, RegionalOfficeId: roID, MerchantId: merchantID };
             $.ajax({
                 type: 'POST',
                 url: '@Url.Action("TerminalInstallationRequest", "TerminalManagement")',
                 contentType: "application/json; charset=utf-8",
                 dataType: 'json',
                 data: JSON.stringify(model),
                 success: function (data, status, xhr) {
                     console.log(data);
                     if (status == 'success') {
                        OnSuccess(data);

                     }
                 },
                 error: function (jqXhr, textStatus, errorMessage) {
                     alert("Error " + errorMessage);
                 }
             });
         }
     });

     //$("#justificationId").on("blur", function () {
     //    if ($("#justificationId").val().length > 0) {
     //        document.getElementById("justification_error").innerHTML = "";
     //    }
     //});
     //$('input:radio').click(function () {
     //    $("#terminalIssurenceType_error").attr("style", "display:none");
     //    $("#justification_error").attr("style", "display:none");
     //});
      $("#MerchantId").on("blur", function () {
          var merchantId = $("#MerchantId").val();
          if (merchantId != "") {
             if (!merchantId.match(mappedMerchantID)) {
                 $("#Merchant_error").attr("style", "display:block");
                 $("#Merchant_error").html("Please enter valid Merchant ID");

             }
             else{
                 $("#Merchant_error").attr("style", "display:none");
                 $("#Merchant_error").html("");
             }
          }
          else{
             $("#Merchant_error").attr("style", "display:block");
             $("#Merchant_error").html("Merchant ID is required");
          }
      });
      $("#justificationId").on("blur", function () {
          var justificationId = $("#justificationId").val();
          if (justificationId.trim() == "") {

                 $("#justification_error").attr("style", "display:block");
                 $("#justification_error").html("Justification is required");

             }
             else{
                 $("#justification_error").attr("style", "display:none");
                 $("#justification_error").html("");
             }


      });
</script>


