@model HPCL.Common.Models.ResponseModel.ViewCard.ViewCardSearch
@using HPCL.Common.Resources

@if (Model.Data.Count() > 0)
{

    <table class="table table-striped table-bordered table-responsive mt-3" style="width:100%;">
        <thead>
            <tr>
                <th>SNo.</th>
                <th>Card Number</th>
                <th>Vehicle No/User Name</th>
                <th> Mobile Number</th>
                <th>Daily Sale Limit</th>
                <th>Daily Sale Balance</th>
                <th>Monthly Sale Limit</th>
                <th>Monthly Sale Balance</th>
                <th>CCMS Limit/Rs</th>
                <th>Type of Limit</th>
                <th>Availabe CCMS Limits</th>
            </tr>
        </thead>
        <tbody>
            @{
                int Sno = 1;
            }
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@Sno</td>
                    <td>@item.CardNumber</td>
                    <td>@item.VechileNo</td>
                    <td>@item.MobileNumber</td>
                    <td>@item.DailySaleLimit</td>
                    <td>@item.DailySaleBal</td>
                    <td>@item.MonthlySaleLimit</td>
                    <td>@item.MonthlySaleBal</td>
                    <td>@item.CCMSLimit</td>
                    <td>@item.LimitType</td>
                    <td>@item.AvailableCCMSLimit</td>
                </tr>
                Sno++;
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

</script>
