@model HPCL_Web.Models.ViewCard.ViewCardDetails

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">

        @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@

        <form method="post" data-ajax="true" data-ajax-controller="ViewCard" data-ajax-action="ViewCardSearch" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                    <div class="border-1 rounded border-grey h-100 mt-3">

                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold"> View Cards Limits </p>
                        <div class="py-2 p-md-4">

                            <div class="form-group d-flex align-items-center flex-wrap">
                                <div class="tab-content">
                                    <div class="row w-100">

                                        <div class="d-flex align-items-center justify-content-between flex-wrap">

                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">CustomerID<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.Customerid, new { @class = "form-control", @Id = "Customerid" })
                                                        @Html.ValidationMessageFor(m => m.Customerid, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12" id="Card" style="display:none">Card Number<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control", @Id = "CardNo", style = "display:none" })
                                                        @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12" id="Mob" style="display:none">Mobile Number<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Id = "MobileNo", style = "display:none" })
                                                        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12" id="Vec" style="display:none">Vechile Number<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.VechileNo, new { @class = "form-control", @Id = "VechileNo", style = "display:none" })
                                                        @Html.ValidationMessageFor(m => m.VechileNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="d-flex align-items-center justify-content-left mt-md-2">

                                    </div>

                                    <div class="px-2">
                                        <button class="btn" type="submit" id="btnSave" name="submit" onclick="showGrid()" style="background-color:#084693;color:white;">SEARCH</button>
                                        <a class="btn" href="#" id="btnCancel" name="cancel" onclick="resetFields()" style="background-color:#084693;color:white;">RESET</a>
                                        <a class="btn" onclick="showTable()" type="submit" id="btnAdd" name="submit" style="background-color:#084693;color:white;">ADD/EDIT MOBILE</a>
                                        <button class="btn" type="submit" id="btnEdit" name="submit" style="background-color:#084693;color:white;display:none">EDIT</button>
                                        <a class="btn" type="submit" id="btnADD" name="Add" style="background-color:#084693;color:white;display:none">ADD</a>


                                        <a class="btn" id="btnMapp" name="Mapp" style="background-color:#084693;color:white;display:none">MAPPING DETAILS</a>
                                    </div>



                                    <div class="form-group d-flex align-items-center flex-wrap">

                                    </div>

                                    <table id="CardSearch" class="table table-striped table-bordered table-responsive" style="display:none;">
                                        <tr>
                                            <th>
                                                @Html.DisplayName("Sr#")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Card Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Vehicle No/User Name")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Mobile Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Daily Sale Limit")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Daily Sale Balance")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Monthly Sale Limit")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Monthly Sale Balance")
                                            </th>
                                            <th>
                                                @Html.DisplayName("CCMS Limit/Rs")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Type of Limit")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Availabe CCMS Limits")
                                            </th>

                                        </tr>
                                    </table>

                                    <div class="form-group d-flex align-items-center flex-wrap">

                                    </div>

                                    <table id="CardEdit" class="table table-bordered" style="display:none;">
                                        <tr>
                                            <th>
                                                @Html.DisplayName(" ")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Card Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Vehicle No")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Mobile Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("FastagNumber")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Action")
                                            </th>

                                        </tr>
                                    </table>

                                    <div class="form-group d-flex align-items-center flex-wrap">

                                    </div>
                                    <table id="CardADD" class="table table-bordered" style="display:none;">
                                        <tr>
                                            <th>
                                                @Html.DisplayName(" ")
                                            </th>

                                            <th>
                                                @Html.DisplayName("Card Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Vehicle No")
                                            </th>
                                            <th>
                                                @Html.DisplayName("Mobile Number")
                                            </th>
                                            <th>
                                                @Html.DisplayName("FastagNumber")
                                            </th>


                                        </tr>
                                    </table>

                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="px-2">
                                            <button class="btn btn_primary py-2 px-1" type="button" id="save" name="submit" style="background-color:#084693;color:white;">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </form>

    </div>
</div>
<script type="text/javascript">
    function showGrid() {
        if ($("input:text").val() == "") {
            document.getElementById('CardSearch').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('CardSearch').style.display = 'inline-table';
        }
    }


    function resetFields() {
        $("input:text").each(function () {
            $(this).val("");
        });
        $("#CardSearch td").parent().remove();
        document.getElementById('CardSearch').style.display = 'none';
    }

    function OnSuccess(data) {
        debugger;

        console.log(data);



        $("#CardSearch td").parent().remove();

        for (var i = 0; i < data.searchList.length; i++) {

            var rows = "<tbody><tr>"
                + "<td>" + (data.searchList[i].srNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].cardNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].vechileNo || '') + "</td>"
                + "<td>" + (data.searchList[i].mobileNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].dailySaleLimit || '') + "</td>"
                + "<td>" + (data.searchList[i].dailySaleBal || '') + "</td>"
                + "<td>" + (data.searchList[i].monthlySaleLimit || '') + "</td>"
                + "<td>" + (data.searchList[i].monthlySaleBal  || '') + "</td>"
                + "<td>" + (data.searchList[i].cCMSLimit|| '') + "</td>"
                + "<td>" + (data.searchList[i].limitType || '') + "</td>"
                + "<td>" + (data.searchList[i].availableCCMSLimit || '') + "</td>"

                + "</tr ></tbody > ";

            $('#CardSearch').append(rows);


        }

        let tableData = $('#CardSearch').html();
        sessionStorage.setItem("tableData", tableData);

        let custmId = $('.cusId').html();
        sessionStorage.setItem("cusmId", custmId);
    }



    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

    $("#CardSearch").on('click', '.updateStatus', function (e) {

        var currentRow = $(this).closest("tr");

        var cardNumber = currentRow.find(".crdNo").text();


        console.log(customerid, "customerID");



        $.ajax({
            url: "@Url.Action("UpdateStatus","ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $('#CardNo').remove()
                $('#btnEdit').remove()
                $('#btnADD').remove()
                $('#btnMapp').remove()
                $('#btnsave').remove()



                $.ajax({
                    url: "@Url.Action("ViewCardSearch", "ViewCard")",
                    type: "POST",
                    dataType: "JSON",
                    success: function (res) {


                        $("#CardSearch td").parent().remove();

                        for (var i = 0; i < res.searchList.length; i++) {

                            var rows = "<tbody><tr>"
                                + "<td>" + (res.searchList[i].srNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                                + "<td>" + (res.searchList[i].mobileNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].dailySaleBal || '') + "</td>"
                                + "<td>" + (res.searchList[i].dailySaleLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].monthlySaleLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].monthlySaleBal || '') + "</td>"
                                + "<td>" + (res.searchList[i].cCMSLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].limitType || '') + "</td>"
                                + "<td>" + (res.searchList[i].availableCCMSLimit || '') + "</td>"

                                + "</tr ></tbody > ";

                            $('#CardSearch').append(rows);

                            $('#CardNo').attr("disabled", false);

                        }

                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    });


    function showTable() {
        if ($("input:text").val() == "") {
            document.getElementById('btnAdd').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('btnAdd').style.display = 'inline-table';
        }
    }


    var cardNo;
    var mobileNo;
    var fastagNo;

    $("#btnAdd").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("EditMobile","ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();
                $('#btnADD').show()

                $("#CardEdit").show();

                $('#btnSave').remove()
                $('#btnEdit').show()
                $('#btnMapp').show()
                $('#btnsave').show()
                $('#CardSearch').remove()

                $("#btnAdd td").parent().remove();


                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                        + "<td class='cardNo'>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td>" + (res.searchList[i].status || '') + "</td>"
                        + "<td class='mobileNo'><input class='form-control cgl cpl' name='" + (res.searchList[i].mobileNumber || '') + "' type='text' value='" + (res.searchList[i].mobileNumber || '') + "' readonly='readonly'></td>"
                        + "<td class=><input class='form-control cgl stl' name='" + (res.searchList[i].fastagNumber || '') + "' type='text' value='" + (res.searchList[i].fastagNumber || '') + "' readonly='readonly'></td>"
                        + "<td><a href='#aa' class='approveDtls'>DELETE</a></td>"
                    "</tbody></tr>"
                    $("#CardEdit").append(rows);

                    $('#btnAdd').remove()

                }


            },
            error: function (ex) {
                alert('Failed' + ex);
            }

        });

    });
    $("#CardEdit").on('click', '.checkEnable', function (e) {

        currentRow = $(this).closest("tr");

        if ($(this).is(':checked')) {

            currentRow.find('input:text').attr("readonly", false);

            mobileNumber = currentRow.find('.getMobileNo').text();
            FastagNumber = currentRow.find('.getFastagNumber').text();


            console.log("txt", textBoxValue);
        }
        if (!$(this).is(':checked')) {
            currentRow.find('input:text').attr("readonly", true);
        }
    });

   $("#save").on('click', function () {
        var cardNumber = "";
        var mobileNo = "";
        var fastagNo = "";
        $('#CardEdit tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                cardNumber = row.find("td.cardNo").text();
                mobileNo = row.find("td.mobileNo input[type='text']").val();
                fastagNo = row.find("td.fastagNo input[type='text']").val();

            }
        });
       var updateArray = new Array();
       updateArray.push({
           cardNo: cardNumber,
           mobileNo: mobileNo,
           fastagNo: fastagNo
       });
              $.ajax({
                    url: "@Url.Action("UpdateCards", "ViewCard")",
                    type: "POST",
                    dataType: "JSON",
                   data: { limitArray: updateArray},
                    success: function (res) {
                        alert(res);
                        console.log("ObjCardLimits", updateArray);
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

    });





        $("#btnADD").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("EditMobile","ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();

                $("#CardADD").show();

                $('#btnSave').remove()
                $('#btnEdit').show()
                $('#btnADD').show()
                $('#btnMapp').show()
                $('#CardEdit').remove()


                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                        + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].mobileNumber || '') + "' type='text' value='" + (res.searchList[i].mobileNumber || '') + "' readonly='readonly'></td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].fastagNumber || '') + "' type='text' value='" + (res.searchList[i].fastagNumber || '') + "' readonly='readonly'></td>"

                    "</tbody></tr>"
                    $("#CardADD").append(rows);

                    $('#btnADD').remove()

                }
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
            $("#CardADD").on('click', '.checkEnable', function (e) {

                currentRow = $(this).closest("tr");

                if ($(this).is(':checked')) {

                    currentRow.find('input:text').attr("readonly", false);

                    mobileNumber = currentRow.find('.getMobileNo').text();
                    FastagNumber = currentRow.find('.getFastagNumber').text();


                    console.log("txt", textBoxValue);
                }
                if (!$(this).is(':checked')) {
                    currentRow.find('input:text').attr("readonly", true);
                }
            });

    });

</script>