@model HPCL.Common.Models.ViewModel.ViewCard.ViewCardDetails

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="bg-white p-2 p-md-4 w-100">

    @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@

    <form method="post" data-ajax="true" data-ajax-controller="ViewCard" data-ajax-action="ViewCardSearch" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

        <div class="border-1 rounded border-grey h-100 mt-3 mb-3">
            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold"> View Cards Limits </p>
            <div class="py-2 py-md-4">
                <div class="form-group d-flex align-items-center flex-wrap">
                    <div class="w-100">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">CustomerID<sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.Customerid, new { @class = "form-control", @Id = "Customerid" })
                                        @Html.ValidationMessageFor(m => m.Customerid, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12" id="Card" style="display:none">Card Number</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control", @Id = "CardNo", style = "display:none" })
                                        @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12" id="Mob" style="display:none">Mobile Number</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", @Id = "MobileNo", style = "display:none" })
                                        @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12" id="Vec" style="display:none">Vechile Number</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.VechileNo, new { @class = "form-control", @Id = "VechileNo", style = "display:none" })
                                        @Html.ValidationMessageFor(m => m.VechileNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="d-flex align-items-center justify-content-center flex-wrap px-4 w-100 mb-0">
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="showGrid()">SEARCH</button>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetFields()">RESET</a>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a class="btn btn_primary" href="#" id="btnrest" name="cancel" onclick="resetMapp()" style="display:none">RESET</a>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a class="btn btn_primary" href="#" onclick="showTable()" id="btnAdd">ADD/EDIT MOBILE</a>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a href="#" class="btn btn_primary" id="btnEdit" onClick="refresh" style="display:none">EDIT</a>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <button class="btn btn_primary" type="submit" id="btnADD" name="submit" style="display:none">ADD</button>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a href="#" class="btn btn_primary" id="btnMapp" style="display:none">MAPPING DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mb-3 " id="CardSearch" style="display:none">
            <table class="table table-striped table-responsive  text-nowrap display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName("Sr#")
                        </th>

                        <th>
                            @Html.DisplayName("Card Number")
                        </th>
                        <th>
                            @Html.DisplayName("Vehicle No/User Name")
                        </th>
                        <th>
                            @Html.DisplayName("Mobile Number")
                        </th>
                        <th>
                            @Html.DisplayName("Daily Sale Limit")
                        </th>
                        <th>
                            @Html.DisplayName("Daily Sale Balance")
                        </th>
                        <th>
                            @Html.DisplayName("Monthly Sale Limit")
                        </th>
                        <th>
                            @Html.DisplayName("Monthly Sale Balance")
                        </th>
                        <th>
                            @Html.DisplayName("CCMS Limit/Rs")
                        </th>
                        <th>
                            @Html.DisplayName("Type of Limit")
                        </th>
                        <th>
                            @Html.DisplayName("Availabe CCMS Limits")
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <table id="CardEdit" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(" ")
                    </th>

                    <th>
                        @Html.DisplayName("Card Number")
                    </th>
                    <th>
                        @Html.DisplayName("Vehicle No")
                    </th>
                    <th>
                        @Html.DisplayName("Mobile Number")
                    </th>
                    <th>
                        @Html.DisplayName("FastagNumber")
                    </th>
                    <th>
                        @Html.DisplayName("Action")
                    </th>

                </tr>
            </thead>
        </table>

        <div class="mb-3" id="Edit" style="display:none">
            <table class="table table-striped table-responsive d-md-table d-block text-nowrap display" style="width:100%">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayName(" ")
                        </th>

                        <th>
                            @Html.DisplayName("Card Number")
                        </th>
                        <th>
                            @Html.DisplayName("Vehicle No")
                        </th>
                        <th>
                            @Html.DisplayName("Mobile Number")
                        </th>
                        <th>
                            @Html.DisplayName("FastagNumber")
                        </th>
                        <th>
                            @Html.DisplayName("Action")
                        </th>
                    </tr>
                </thead>
            </table>
        </div>

        <table id="CardADD" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName(" ")
                    </th>

                    <th>
                        @Html.DisplayName("Card Number")
                    </th>
                    <th>
                        @Html.DisplayName("Vehicle No")
                    </th>
                    <th>
                        @Html.DisplayName("Mobile Number")
                    </th>
                    <th>
                        @Html.DisplayName("FastagNumber")
                    </th>
                </tr>
            </thead>
        </table>


        <table id="CardMapp" class="table" style="display:none;">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Card Number")
                    </th>
                    <th>
                        @Html.DisplayName("Vehicle No")
                    </th>
                    <th>
                        @Html.DisplayName("Mobile Number")
                    </th>
                    <th>
                        @Html.DisplayName("FastagNumber")
                    </th>
                    <th>
                        @Html.DisplayName("Date")
                    </th>
                </tr>
            </thead>
        </table>

        <div class="form-group d-flex align-items-center justify-content-center flex-wrap mt-3">
            <div class="px-2">
                <button class="btn btn_primary" type="submit" id="save" name="submit" style="display:none;">Save</button>
                <button class="btn btn_primary" type="submit" id="Update" name="Update" style="display:none;">UPDATE</button>
            </div>
        </div>
    </form>
</div>
@using Microsoft.AspNetCore.Http;
<script type="text/javascript">
    function showGrid() {
        if ($("input:text").val() == "") {
            document.getElementById('CardSearch').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('CardSearch').style.display = 'block';
        }
    }
    $('#Customerid').on("input", function (evt) {
        var self = $(this);
        self.val(self.val().replace(/\D/g, ""));
        if ((evt.which < 48 || evt.which > 57)) {
            evt.preventDefault();
        }
    });
    $('#Customerid').on("input", function (evt) {
        var cust = document.getElementById('Customerid').val();
        if (cust.length < 10 && cust.length > 20) {
            alert(false);
        }
    });

    function resetFields() {
        $("input:text").each(function () {
            $(this).val("");
        });
        //$("#CardSearch td").parent().remove();
        document.getElementById('CardSearch').style.display = 'none';
    }

    function OnSuccess(data) {


        console.log(data);

        $("#CardSearch td").parent().remove();

       // $("#CardSearch td").parent().remove();
        var rows = "<tbody>";
        for (var i = 0; i < data.searchList.length; i++) {

            rows += "<tr>"
                + "<td>" + (data.searchList[i].srNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].cardNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].vechileNo || '') + "</td>"
                + "<td>" + (data.searchList[i].mobileNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].dailySaleLimit || '') + "</td>"
                + "<td>" + (data.searchList[i].dailySaleBal || '') + "</td>"
                + "<td>" + (data.searchList[i].monthlySaleLimit || '') + "</td>"
                + "<td>" + (data.searchList[i].monthlySaleBal  || '') + "</td>"
                + "<td>" + (data.searchList[i].cCMSLimit|| '') + "</td>"
                + "<td>" + (data.searchList[i].limitType || '') + "</td>"
                + "<td>" + (data.searchList[i].availableCCMSLimit || '') + "</td>"

                + "</tr >";


        }
          rows += "</tbody >";
           $('#CardSearch table').append(rows);

           $('#CardSearch table').DataTable({
				"lengthMenu": [5, 10, 20, 50, 100, 200, 500, 1000, 2000],
                "autoWidth": false,
				"oLanguage": {
					"sLengthMenu": "Display _MENU_ Records",
					"info": "Showing _START_ to _END_ of _TOTAL_ Records",
				}
			});


        let tableData = $('#CardSearch table').html();
        sessionStorage.setItem("tableData", tableData);

        let custmId = $('.cusId').html();
        sessionStorage.setItem("cusmId", custmId);
    }



    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

    $("#CardSearch").on('click', '.updateStatus', function (e) {

        var currentRow = $(this).closest("tr");

        var cardNumber = currentRow.find(".crdNo").text();


        console.log(customerid, "customerID");



        $.ajax({
            url: "@Url.Action("UpdateStatus","ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $('#save').remove()
                $('#CardNo').remove()
                $('#btnEdit').remove()
                $('#btnADD').remove()
                $('#btnMapp').remove()





                $.ajax({
                    url: "@Url.Action("ViewCardSearch", "ViewCard")",
                    type: "POST",
                    dataType: "JSON",
                    success: function (res) {


                        $("#CardSearch td").parent().remove();

                        for (var i = 0; i < res.searchList.length; i++) {

                            var rows = "<tbody><tr>"
                                + "<td>" + (res.searchList[i].srNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                                + "<td>" + (res.searchList[i].mobileNumber || '') + "</td>"
                                + "<td>" + (res.searchList[i].dailySaleBal || '') + "</td>"
                                + "<td>" + (res.searchList[i].dailySaleLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].monthlySaleLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].monthlySaleBal || '') + "</td>"
                                + "<td>" + (res.searchList[i].cCMSLimit || '') + "</td>"
                                + "<td>" + (res.searchList[i].limitType || '') + "</td>"
                                + "<td>" + (res.searchList[i].availableCCMSLimit || '') + "</td>"

                                + "</tr ></tbody > ";

                            $('#CardSearch').append(rows);

                            $('#CardNo').attr("disabled", false);

                        }

                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    });
//for ADDOREDIT MOBILE BUTTON

    function showTable() {
        if ($("input:text").val() == "") {
            document.getElementById('btnAdd').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('btnAdd').style.display = 'inline-table';
        }
    }
    var cardNo;
    var mobileNo;
    var fastagNo;

    $("#btnAdd").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("SearchCardMapping", "ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();
                $('#btnADD').show();

                $("#CardEdit").show();

                $('#btnSave').remove()
                $('#btnEdit').show()
                $('#btnMapp').show()
                $('#save').show()
                $('#CardSearch').remove()

                $("#CardEdit td").parent().remove();


                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                        + "<td class='cardNo'>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td class='mobileNo'><input class='form-control cgl cpl' name='" + (res.searchList[i].mobileNumber || '') + "' type='text' value='" + (res.searchList[i].mobileNumber || '') + "' readonly='readonly'></td>"
                        + "<td class=><input class='form-control cgl stl' name='" + (res.searchList[i].fastagNumber || '') + "' type='text' value='" + (res.searchList[i].fastagNumber || '') + "' readonly='readonly'></td>"
                        + "<td><a href='#aaa' onclick='resetField()' class='DeleteNumber'>DELETE</a></td></tr></tbody>";
                    "</tbody></tr>"
                    $("#CardEdit").append(rows);

                    $('#btnAdd').remove()


                }

            },
            error: function (ex) {
                alert('Failed' + ex);
            }

        });

    });
    $("#CardEdit").on('click', '.checkEnable', function (e) {

        currentRow = $(this).closest("tr");

        if ($(this).is(':checked')) {

            currentRow.find('input:text').attr("readonly", false);

            mobileNumber = currentRow.find('.getMobileNo').text();
            FastagNumber = currentRow.find('.getFastagNumber').text();

            console.log("txt", textBoxValue);
        }
        if (!$(this).is(':checked')) {
            currentRow.find('input:text').attr("readonly", true);
        }
    });

   $("#save").on('click', function () {
        var cardNumber = "";
        var mobileNo = "";
        var fastagNo = "";
        $('#CardEdit tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                cardNumber = row.find("td.cardNo").text();
                mobileNo = row.find("td.mobileNo input[type='text']").val();
                fastagNo = row.find("td.fastagNo input[type='text']").val();

            }
        });
       var updateArray = new Array();
       updateArray.push({
           cardNo: cardNumber,
           mobileNo: mobileNo,
           fastagNo: fastagNo
       });

              $.ajax({
                    url: "@Url.Action("UpdateCards", "ViewCard")",
                    type: "POST",
                    dataType: "JSON",
                   data: { limitArray: updateArray},
                    success: function (res) {
                        alert(res);
                        console.log("ObjUpdateMobileandFastagNoInCard", updateArray);
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

   });

     function resetField() {
       $("input:text").each(function () {
           $(this).val("");
       });
        document.getElementById('.getMobileNo').style.display = 'none';
    }

//FOR EDIT BUTTON
     @*$("#btnEdit").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("SearchCardMapping", "ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();
                $('#Edit').show()
                $('#btnSave').remove()
                $('#btnEdit').show()
                $('#btnADD').show()
                $('#btnMapp').show()
                $('#CardEdit').remove()

                $("#btnEdit td").parent().remove();

                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                        + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].mobileNumber || '') + "' type='text' value='" + (res.searchList[i].mobileNumber || '') + "' readonly='readonly'></td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].fastagNumber || '') + "' type='text' value='" + (res.searchList[i].fastagNumber || '') + "' readonly='readonly'></td>"

                    "</tbody></tr>"
                    $("#Edit").append(rows);

                }

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
            $("#Edit").on('click', '.checkEnable', function (e) {

                currentRow = $(this).closest("tr");

                if ($(this).is(':checked')) {

                    currentRow.find('input:text').attr("readonly", false);

                    mobileNumber = currentRow.find('.getMobileNo').text();
                    FastagNumber = currentRow.find('.getFastagNumber').text();


                    console.log("txt", textBoxValue);
                }
                if (!$(this).is(':checked')) {
                    currentRow.find('input:text').attr("readonly", true);
                }
            });

     });*@




    function resetMapp() {
        $("input:text").each(function () {
            $(this).val("");
        });
        //$("#CardSearch td").parent().remove();
        document.getElementById('CardMapp').style.display = 'none';
    }

    //For Map BUTTON

     $("#btnMapp").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("SearchCardMapping", "ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {
                $("#Customerid").val('@Context.Session.GetString("UserId")');
                $("#Customerid").attr('disabled', 'true');
                console.log(res, "res");
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();
                $('#CardMapp').show()
                $("#btnrest").show();
                $("#btnCancel").hide();
                $('#save').hide()
                $('#btnSave').remove()
                $('#btnEdit').show()
                $('#btnADD').show()
                $('#btnMapp').show()
                $('#CardEdit').remove()
                $('#Edit').remove()
                $('#Update').remove()
                $('#CardADD').remove()


                $("#CardMapp td").parent().remove();


                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td>" + (res.searchList[i].mobileNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].fastagNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].mappingDate || '') + "</td>"

                    "</tbody></tr>"
                    $("#CardMapp").append(rows);

                }
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

        });

</script>
<script type="text/javascript">

       $("#btnADD").on('click', function (e) {

        var customerid = $("#Customerid").val();

        console.log(customerid);

        $.ajax({
            url: "@Url.Action("SearchCardMapping", "ViewCard")",
            type: "POST",
            dataType: "JSON",
            data: { customerId: customerid },
            success: function (res) {

                console.log(res, "res");
                $('#Update').show();
                $('#save').remove();
                $("#Card").show();
                $("#CardNo").show();
                $("#Mob").show();
                $("#MobileNo").show();
                $("#Vec").show();
                $("#VechileNo").show();
                $('#CardADD').show()
                $('#btnSave').remove();
                $('#btnEdit').show();
                $('#btnADD').show();
                $('#btnMapp').show();
                $('#CardEdit').remove();
                $('#Edit').remove();

                $("#CardADD td").parent().remove();


                for (var i = 0; i < res.searchList.length; i++) {

                    var rows = "<tbody><tr>"
                        + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                        + "<td>" + (res.searchList[i].cardNumber || '') + "</td>"
                        + "<td>" + (res.searchList[i].vechileNo || '') + "</td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].mobileNumber || '') + "' type='text' value='" + (res.searchList[i].mobileNumber || '') + "' readonly='readonly'></td>"
                        + "<td><input class='form-control cgl cpl' name='" + (res.searchList[i].fastagNumber || '') + "' type='text' value='" + (res.searchList[i].fastagNumber || '') + "' readonly='readonly'></td>"

                    "</tbody></tr>"
                    $("#CardADD").append(rows);
                }
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
            $("#CardADD").on('click', '.checkEnable', function (e) {

                currentRow = $(this).closest("tr");

                if ($(this).is(':checked')) {

                    currentRow.find('input:text').attr("readonly", false);

                    mobileNumber = currentRow.find('.getMobileNo').text();
                    FastagNumber = currentRow.find('.getFastagNumber').text();


                    console.log("txt", textBoxValue);
                }
                if (!$(this).is(':checked')) {
                    currentRow.find('input:text').attr("readonly", true);
                }
            });

       });

    $("#Update").on('click', function () {
        currentRow.find('input:text').attr("readonly", false);
        var cardNumber = "";
        var mobileNo = "";
        var fastagNo = "";
        $('#CardADD tr').each(function () {
            var row = $(this);
            if (row.find('input[type="checkbox"]').is(':checked')) {
                cardNumber = row.find("td.cardNo").text();
                mobileNo = row.find("td.mobileNo input[type='text']").val();
                fastagNo = row.find("td.fastagNo input[type='text']").val();

            }
        });
       var updateArray = new Array();
       updateArray.push({
           cardNo: cardNumber,
           mobileNo: mobileNo,
           fastagNo: fastagNo
       });

              $.ajax({
                    url: "@Url.Action("UpdateCards", "ViewCard")",
                    type: "POST",
                    dataType: "JSON",
                   data: { limitArray: updateArray},
                    success: function (res) {
                        alert(res);
                        console.log("ObjUpdateMobileandFastagNoInCard", updateArray);
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

   });


</script>