@model HPCL.Common.Models.ViewModel.MerchantDashboard.MerchantDashboardModel
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Home</a> </li>
            <li class="breadcrumb-item font-weight-light">Merchant Dashboard</li>
        </ul>
        <div class="w-100">
            <form>
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0" style="overflow:hidden;">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Key Events and Figures</span>
                            <span class="text-white m-0 get_btn" onclick="lastKeyEvent()">Get Details</span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12 px-0" style="display:none;" id="test4">
                            <table class="table table-striped d-md-table d-block">
                                <tbody>
                                </tbody>

                                <tbody id="keyEventTable">
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Quick Links</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-2 mt-3">
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    @Html.ActionLink("Receivable Payable ","ReceivablePayableDetails","MerchantFinancials")
                                </div>
                                <div class="links_cards_box mb-3">
                                    @Html.ActionLink("  Sale Reload Details ","ERPReloadSaleEarningDetails","MerchantFinancials")
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    @Html.ActionLink("  Earning Details ","ViewEarningBreakUp","MerchantFinancials")
                                </div>
                                <div class="links_cards_box mb-3">
                                    SMS Alert Request
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="border-1 rounded border-primary pb-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Todays Transaction Summary</p>
                        <div class="col-lg-12 col-md-12 col-12 py-0 px-0">
                            <table class="table table-striped d-md-table d-block">
                                <thead>
                                    <tr style="background-color:#636363;color:#fff;">
                                        <th>Transaction Type</th>
                                        <th>Amount(Rs.)</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.todaysTransactionResponseModels)
                                    {
                                        if (item.CardSale == null)
                                        {
                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Sale</td>
                                                <td>0.00</td>
                                            </tr>

                                        }
                                        else
                                        {
                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Sale</td>
                                                <td>@item.CardSale</td>
                                            </tr>
                                        }

                                        @if (item.CCMSSale == null)
                                        {
                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Sale</td>
                                                <td>0.00</td>
                                            </tr>

                                        }
                                        else
                                        {

                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS Sale</td>
                                                <td>@item.CCMSSale</td>
                                            </tr>
                                        }
                                        @if (item.CashReload == null)
                                        {
                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Relaod</td>
                                                <td>0.00</td>
                                            </tr>

                                        }
                                        else
                                        {

                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">Cash Relaod</td>
                                                <td>@item.CashReload</td>
                                            </tr>
                                        }
                                        @if (item.CCMSRecharge == null)
                                        {
                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS Recharge</td>
                                                <td>0.00</td>
                                            </tr>

                                        }
                                        else
                                        {

                                            <tr>
                                                <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS Recharge</td>
                                                <td>@item.CCMSRecharge</td>
                                            </tr>
                                        }

                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -3px;">
                            <span class="text-white m-0">Last 5 Transactions</span>
                            <span class="text-white m-0 get_btn" onclick="searchMerchant()" id="lnkLast5Transaction">Get Details</span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="border-1 rounded border-primary pb-3" style="display:none;" id="test1">
                            <div class="col-lg-12 col-md-12 col-12 px-0">
                                <table class="table table-striped d-md-table d-block">
                                    <thead>

                                        <tr style="background-color:#636363;color:#fff;">
                                            <th>Terminal ID</th>
                                            <th>Account No.</th>
                                            <th>VechileNo</th>
                                            <th>TxnDate</th>
                                            <th>TxnType</th>
                                            <th>Amount</th>
                                        </tr>

                                    </thead>

                                    <tbody id="test">
                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>


                    <div class="clearfix"></div>
                    <div class="bg_blue_sty pb-0">
                        <div class="bg-darkgray px-2 py-2 d-flex align-items-center justify-content-end" style="margin-top: 1px;">
                            <span class="text-white m-0"><a href="#" class="text-white">@Html.ActionLink("View All Transactions","TransactionDetails","MerchantFinancials") <i class="fa fa-angle-double-right"></i></a></span>
                        </div>

                        <!--<div class="col-lg-12 col-md-12 col-12 py-2 px-2">

                        </div>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: 0px;">
                            <span class="text-white m-0">Last 5 Batch Details</span>
                            <span class="text-white m-0 get_btn" onclick="lastBatch()">Get Details</span>
                        </div>
                        <div class="border-1 rounded border-primary pb-3" style="display:none;" id="test2">
                            <div class="col-lg-12 col-md-12 col-12 px-0">
                                <table class="table table-striped d-md-table d-block">
                                    <thead>
                                        <tr style="background-color:#636363;color:#fff;">
                                            <th>Terminal ID</th>
                                            <th>BatchID</th>
                                            <th>Settlement Date</th>
                                            <th>Receivable (Rs)</th>
                                            <th>Payable</th>



                                        </tr>
                                    </thead>
                                    <tbody id="lastBatchTable">
                                        @*
                                        @foreach (var item in Model.LastBatchDetailResponseModels)
                                        {
                                        <tr>
                                        <td>@item.TerminalId</td>
                                        <td>@item.BatchID</td>
                                        <td>@item.SettlementDate</td>
                                        <td>@item.Receivable_Rs_</td>
                                        <td>@item.Payable</td>

                                        </tr>
                                        }*@

                                    </tbody>
                                </table>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -1px;">
                            <span class="text-white m-0">Last 5 Sale/Reload/Earning Details</span>
                            <span class="text-white m-0 get_btn" onclick="lastSaleEarning()">Get Details</span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12 px-0" style="display:none;" id="test3">
                            <table class="table table-striped d-md-table d-block">
                                <thead>
                                    <tr style="background-color:#636363;color:#fff;">
                                        <th>Date</th>
                                        <th>Reload(Rs)</th>
                                        <th>Sale (Rs)</th>
                                        <th>Earning (Rs)</th>
                                    </tr>
                                </thead>
                                <tbody id="lastSalesEarningTable">

                                    @* @foreach (var item in Model.LastSaleReloadEarningDetailsResponseModels)
                                    {
                                    <tr>
                                    <td>@item.Date</td>
                                    <td>@item.Reload_Rs</td>
                                    <td>@item.Sale_Rs</td>
                                    <td>@item.Earning_Rs</td>

                                    </tr>
                                    }*@

                                </tbody>
                            </table>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Key Information</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-0 mt-0">
                            <table class="table table-striped d-md-table d-block">
                                <thead>
                                    <tr style="background-color:#636363;color:#fff;">
                                        <th>Terminal ID</th>
                                        <th>Date of Installation</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    @foreach (var item in Model.KeyInformationResponseModels)
                                    {
                                        <tr>
                                            <td>@item.TerminalId</td>
                                            <td>@item.DateOfInstallation</td>

                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>



                    <div class="border-1 rounded border-primary mt-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Notifications</p>
                        <div class="Notification_list" onload="notification">
                            <div class="microsoft text_width_area">
                                <marquee height="360" scrollamount="1" direction="up" truespeed="1" scrolldelay="40" onmouseover="this.stop();" onmouseout="this.start();" behaviour="scroll" id="Marquee1">



                                    <div class="marquee" id="NotificationCall">
                                        @*<p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                        <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    *@</div>
                                </marquee>
                            </div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Download</p>
                        <div class="d-flex align-items-center justify-content-start mt-3">
                            <div class="download_cards_box mb-3 product_guide_bg">
                                <i class="fa fa-download"></i>
                                <a href="#" class="text-white">Product Guide<i class="fa fa-angle-double-right"></i></a>
                            </div>
                            <div class="download_cards_box mb-3 web_user_guide_bg">
                                <i class="fa fa-download"></i>


                                <a href="#" class="text-white"> Web User Guide<i class="fa fa-angle-double-right"></i></a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/javascript">



    function searchMerchant() {

        var merchantId = "3010000008";


        //$(this).show();
        //  $(#test).hide();




        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLastTrasnaction", "MerchantDashboard")',
            contentType: "application/json; charset=utf-8",
            data: { MerchantId: merchantId },
            dataType: "json",
            success: function(data, status, xhr) {
                var v = data;
                var testHtml = '';
                //document.getElementById("test").style.display = "block";

                var x = document.getElementById('test1');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }


                $.each(data, function(i, data) { // bind the dropdown list using json result


                    //if (data.length > 0) {
                    //    document.getElementById("noRecord1").style.display = "none";
                    //    //document.getElementById("failureMsg").style.display = "none";
                    //    //document.getElementById("failureMsg").innerHTML = "";

                    //    $("#test1 td").parent().remove();
                    //    $('#test1 table').DataTable().clear().destroy();

                    //    $("#noRecord1").html("");
                    //    $("#noRecord1").append("<span>No Record Found</span>");
                    //    document.getElementById("noRecord1").style.display = "block";
                    //}
                    //else {

                    testHtml = testHtml + ' <tr    >><td >' + data.terminalId + '</td>><td>' + data.accountNo + '</td><td>' + data.vechileNo + '</td> <td>' + data.txnDate + '</td>  <td>' + data.txnType + '</td> <td>' + data.amount + '</td></tr>'

                    //}

                });
                //document.getElementById("test1").style.display = "block";
                $("#test").html(testHtml);
                console.log(v);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }



    function lastBatch() {

        var merchantId = "3010000008";

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLastBatch", "MerchantDashboard")',
            contentType: "application/json; charset=utf-8",
            data: { MerchantId: merchantId },
            dataType: "json",
            success: function(data, status, xhr) {
                var v = data;
                console.log(v);
                var testHtml = '';

                var x = document.getElementById('test2');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }


                $.each(data, function(i, data) { // bind the dropdown list using json result




                    if (data.settlementDate == null) {

                        data.settlementDate = "-";
                    }

                    if (data.receivable_Rs_ == null) {

                        data.receivable_Rs_ = "-";
                    }

                    testHtml = testHtml + '<tr>><td>' + data.terminalId + '</td>><td>' + data.batchID + '</td><td>' + data.settlementDate + '</td> <td>' + data.receivable_Rs_ + '</td>  <td>' + data.payable + '</td></tr>'
                });
                $("#lastBatchTable").html(testHtml);
                console.log(v);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }


    function lastSaleEarning() {

        var merchantId = "3010000008";
        if (MerchantId = !"") { }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLastSalesEarning", "MerchantDashboard")',
            contentType: "application/json; charset=utf-8",
            data: { MerchantId: merchantId },
            dataType: "json",
            success: function(data, status, xhr) {
                var v = data;
                console.log(v);
                var testHtml = '';

                var x = document.getElementById('test3');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }
                if (data.length.data > 0) { console.log("No record Found") }
                $.each(data, function(i, data) { // bind the dropdown list using json result


                    testHtml = testHtml + '<tr><td>' + data.date + '</td><td>' + data.reload_Rs + '</td> <td>' + data.sale_Rs + '</td>  <td>' + data.earning_Rs + '</td></tr>'
                });
                $("#lastSalesEarningTable").html(testHtml);
                console.log(v);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }


    function lastKeyEvent() {

        var merchantId = "3010000021";

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetkeyLastEvents", "MerchantDashboard")',
            contentType: "application/json; charset=utf-8",
            data: { MerchantId: merchantId },
            dataType: "json",
            success: function(data, status, xhr) {
                var v = data;
                console.log(v);
                var testHtml = '';

                var x = document.getElementById('test4');
                if (x.style.display === 'none') {
                    x.style.display = 'block';
                } else {
                    x.style.display = 'none';
                }

                $.each(data, function(i, data) { // bind the dropdown list using json result

                    if (data.lastLogin == null) {

                        data.settlementDate = "NA";
                    }

                    if (data.lastTransaction == null) {

                        data.lastTransaction = "NA";
                    }
                    if (data.lastCashReload == null) {

                        data.lastCashReload = "NA";
                    }

                    if (data.lastCashSale == null) {

                        data.lastCashSale = "NA";
                    }

                    if (data.lastCCMSRecharge == null) {

                        data.lastCCMSRecharge = "NA";
                    }

                    if (data.lastBatchSettled == null) {

                        data.lastBatchSettled = "NA";
                    }


                    if (data.unsettledBatchNumber == "") {

                        data.unsettledBatchNumber = "NA";
                    }


                    if (data.unsettledTxnCount == "") {

                        data.unsettledTxnCount = "NA";
                    }

                    if (data.lastPasswordChange == null) {

                        data.lastPasswordChange = "NA";
                    }

                    if (data.lastContactDetailsUpdate == "") {

                        data.lastContactDetailsUpdate = "NA";
                    }
                    testHtml = testHtml + ' <tr    ><td class="font-weight-bold">Last Login</td><td >' + data.lastLogin + '</td></tr><tr><td class="font-weight-bold">Last Transaction</td><td>' + data.lastTransaction + '</td></tr><tr><td class="font-weight-bold">Last Cash Reload</td><td>' + data.lastCashReload + '</td></tr><tr> <td class="font-weight-bold">Last Cash Sale</td><td>' + data.lastCashSale + '</td> </tr> <tr><td class="font-weight-bold">Last CCMS Recharge</td> <td>' + data.lastCCMSRecharge + '</td></tr> <tr><td class="font-weight-bold">Last Batch Setteled</td> <td>' + data.lastBatchSettled + '</td></tr> <tr><td class="font-weight-bold">Unsettled Batch Number</td><td>' + data.unsettledBatchNumber + '</td></tr> <tr><td class="font-weight-bold">Unsettled Txn Count</td> <td>' + data.unsettledTxnCount + '</td></tr><tr> <td class="font-weight-bold">Last Password Change</td><td>' + data.lastPasswordChange + '</td></tr> <tr><td class="font-weight-bold">Last Contact Details Update</td><td>' + data.lastContactDetailsUpdate + '</td> </tr>'

                    //testHtml = testHtml + '<tr><td>' + data.lastLogin + '</td><td>' + data.lastTransaction + '</td> <td>' + data.lastCashReload + '</td>  <td>' + data.lastCashSale + '</td> <td>' + data.lastCCMSRecharge + '</td> <td>' + data.lastBatchSettled + '</td> <td>' + data.unsettledBatchNumber + '</td> <td>' + data.unsettledTxnCount + '</td> <td>' + data.lastPasswordChange + '</td><td>' + data.lastContactDetailsUpdate + '</td> </tr>'
                    //              });
                });
                $("#keyEventTable").html(testHtml);
                console.log(v);
            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }

$(document).ready(function() {

    var usertype = "Merchant";


    $.ajax({
        type: 'POST',  // http method
        url: '@Url.Action("NotificationContent", "MerchantDashboard")',
        contentType: "application/json; charset=utf-8",
        data: { UserType: usertype },
        dataType: "json",
        success: function(data, status, xhr) {
            var v = data;
          
            console.log(v);
            var testHtml = '';


            //var x = document.getElementById('test3');
            //if (x.style.display === 'none') {
            //    x.style.display = 'block';
            //} else {
            //    x.style.display = 'none';
            //}
            //if (data.length.data > 0) { console.log("No record Found") }
            $.each(data, function(i, data) { // bind the dropdown list using json result


                testHtml = testHtml + '<tr><td>' + data.content + '</td></tr>'
            });
            $("#NotificationCall").html(testHtml);
            console.log(v);
        },
        error: function(jqXhr, textStatus, errorMessage) {
            alert("Error");
        }
    });
});






</script>