@using Microsoft.AspNetCore.Http;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <meta name="theme-color" content="#74cbcb" />
    <link rel="manifest" href="~/assets/manifest.json">
    <title>DriveTrackPlus : DT Plus</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdn.datatables.net/1.11.4/css/dataTables.bootstrap4.min.css" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/assets/aos/aos.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">
    <link rel="stylesheet" href="~/assets/css/font-awesome.min.css">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery.es-drawermenu.min.css">
    <script src="~/assets/js/jquery.slidereveal.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.es-drawermenu.js"></script>
    <script src="~/assets/js/mloyal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="~/js/CommonRegexDeclaration.js"></script>
    <script src="~/js/CommonValidations.js"></script>

    <script>
        $(document).ready(function(){

         $(function () {
              $('[data-toggle="tooltip"]').tooltip()
            })
          
        });
    
    </script>



    @*For Sumo Select Dropdowns*@
    <script src="~/js/jquery.sumoselect.min.js"></script>
    <link href="~/css/sumoselect.min.css" rel="stylesheet" />

    <style>
        .btmMargin {
            padding-bottom: 3.5%;
        }

        .displayNone {
            display: none;
        }

        .comment_error {
            width: 100%;
            float: left;
            font-size: 12px;
            color: #f00;
            top: 100%;
        }
        .dropdown-menu.radio .dropdown-item { 
	        position:relative;
	        overflow:hidden; 
	        cursor:pointer; }

        .dropdown-menu.radio input { 
	        visibility: hidden; 
	        position:absolute; left: -30px; }

        .dropdown-menu.radio i { 
	        font-weight:normal; font-style:normal; 
	        display:block; }

        .dropdown-item.active {
          background-color:#555; 
          color:#fff;
        }
        .dropdown-menu.radio .dropdown-item { 
	        position:relative;
	        overflow:hidden; 
	        cursor:pointer; }

        .dropdown-menu.radio input { 
	        visibility: hidden; 
	        position:absolute; left: -30px; }

        .dropdown-menu.radio i { 
	        font-weight:normal; font-style:normal; 
	        display:block; }

        .dropdown-menu.radio.show .dropdown-item.active {
          background-color:#073a7a; 
          color:#fff;
        }
        .btn_filter {
            background: #084693;
            color: #fff;
            font-size: 12px;
            height: 42px;
            border-radius: 30px;
            min-width: 140px;
        }
        .dropdown-menu.radio.show {
            background: #084693;
        }
        .dropdown-menu.radio.show .dropdown-item i{
            color: #fff;
            font-size: 12px;
        }
        .dropdown-menu.radio.show .dropdown-item i{
            padding: 5px 10px;
        }
        .dropdown-menu.radio.show .dropdown-item:focus, 
        .dropdown-menu.radio.show .dropdown-item:hover {
            color: #fff;
            text-decoration: none;
            background-color: #0f58b2;
        }

    </style>
</head>

<body>
    <header class="bb1">
        <div class="top_header pt-2 pt-md-3">
            <div class="d-flex align-items-center justify-content-start flex-wrap navbar-expand-lg">
                <div class="d-flex align-items-center justify-content-start col-lg-3 col-md-4 col-7 p-2">
                    <button class="navbar-toggler navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/assets/images/menu_icon.png" class="img-fluid" alt="">
                    </button>
                    <a class="navbar-brand header_logo" href="index.html"> <img src="~/assets/images/logo.png" class="img-fluid" alt=""> </a>
                </div>
                <div class="col-lg-6 col-12 d-none d-lg-block">
                    <div class="input-group mb-0 header_input_group  bg-white align-items-center">
                        <div class="input-group-prepend"> <span class="input-group-text "><img src="~/assets/images/search_icon.png" alt=""></span> </div>
                        <input type="search" class="form-control" aria-label="Start Searching" placeholder="Start Searching...">
                        <div class="input-group-append">
                            @*<div class="customSumoFilter">
                                <select name="" id="">
                                    <option value="">Filter By</option>
                                    <option value="">Customer Search</option> 
                                    <option value="">Card Search</option>
                                    <option value="">Merchant Search</option>
                                    <option value="">Terminal Search</option>
                                </select>
                            </div>*@

                            <div class="dropdown">
	                            <button type="button" class="btn btn_filter dropdown-toggle" data-toggle="dropdown">
	  	                            <span>Filter By</span>
	                            </button>
	                            <div class="dropdown-menu radio">
    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="005" name="alphabet">
                                    <i>Customer Search</i>
                                  </label>

    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="006" name="alphabet">
                                    <i>Card Search</i>
                                  </label>

    	                            <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="007" name="alphabet">
                                    <i>Merchant Search</i>
                                  </label>
                                  <label class="dropdown-item">
                                    <input class="jRadioDropdown" type="radio" value="008" name="alphabet">
                                    <i>Terminal Search</i>
                                  </label>
	                            </div>
                        </div>
                    </div>
                </div>
                </div>
                <div class="col-lg-3 col-md-8 col-5 py-2">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center justify-content-start">
                            <ul class="list-unstyled d-flex align-items-center header_right m-0">
                                <li>Welcome <a href="#a"> @Context.Session.GetString("UserName")</a></li>
                                <li><a href="#aaa" id="logOutId" class="logOut_btn d-flex align-items-center justify-content-center"><img src="~/assets/images/logout_logo.png" alt=""><span class="ml-2 d-none d-sm-block"> Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg main_header p-0">
                <div class="container-fluid position-relative">
                    <div class="d-flex align-items-center justify-content-start w-100">
                        <div class="top_navs">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav main_navs">
                                    <li><a href="@Url.Action("Profile", "Home")" class="active">Home</a></li>
                                    <li>
                                        <a href="@Url.Action("Index", "Admin")">Admin</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Security")">Security</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            @*<li><a href="#">Manage Users</a></li>
                                <li><a href="#">Manage Roles</a></li>
                                <li><a href="#">Multiple Customer Mapping</a></li>
                                <li><a href="#">View Multiple Customer Mapping</a></li>
                                <li><a href="#">Rights to Change Monthly Sale Limit</a></li>
                                <li><a href="#">User Creation Request</a></li>*@
                                                            <li><a href="@Url.Action("UserCreationApproval", "Security")">User Creation Approval</a></li>
                                                            @*<li><a href="#">User Creation Request View</a></li>
                                <li><a href="#">Manage Aggregator Users</a></li>
                                <li><a href="#">Aggregator AddOn Users Approval</a></li>
                                <li><a href="#">Manage API Role</a></li>*@
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Hotlisting")">Hotlisting</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("HotlistAndReactivate", "Hotlisting")">Hotlist/Reactivate</a></li>
                                                            <li><a href="@Url.Action("ViewHotlistedEntity", "Hotlisting")">Hotlisted/Reactivated Details</a></li>
                                                            <li><a href="@Url.Action("HotlistApprovalView", "Hotlisting")">Hotlist Approval</a></li>
                                                            @*<li><a href="#">Hotlist Approval</a></li>
                                <li><a href="#">Bulk Hotlist</a></li>*@
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "ManageRbe")">Manage RBE</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("ChangeRbeMapping", "ManageRbe")">Change RBE Mapping</a></li>
                                                            <li><a href="@Url.Action("RbeUserList", "ManageRbe")">Manage RBE Users</a></li>
                                                            <li><a href="@Url.Action("RbeDeviceIdResetRequest", "ManageRbe")">RBE Device Id Reset Request</a></li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                @*<li><a href="#">Manage RBE</a></li>*@
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Locations")">Locations</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("HeadOfficeDetails", "Locations")">Head Office Details</a></li>
                                                            <li><a href="@Url.Action("ZonalOfficersList", "Locations")">Zonal Office Details</a></li>
                                                            <li><a href="@Url.Action("RegionalOfficersList", "Locations")">Regional Office Details</a></li>
                                                            <li><a href="@Url.Action("CountryRegionList", "Locations")">Country Region Details</a></li>
                                                            <li><a href="@Url.Action("StateList", "Locations")">State Details</a></li>
                                                            <li><a href="@Url.Action("DistrictList", "Locations")">District Details</a></li>
                                                            <li><a href="@Url.Action("CityList", "Locations")">City Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Officer")">Officers</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("Details", "Officer")">Manage Officers</a></li>
                                                            <li><a href="@Url.Action("OfficerDetails", "Officer")">Officer Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                @* <li class="hasSub">
                        <a href="#">Configurations</a>
                        <div class="level2Menu_div">
                            <ul class="level2Menu">
                                <li><a href="#">Service Details</a></li>
                                <li><a href="#">Transaction Schema Details</a></li>
                                <li><a href="#">Txn Schema Allocation Details</a></li>
                                <li><a href="#">Configure Notification</a></li>
                                <li><a href="#">Order Transaction Schema</a></li>
                                <li><a href="#">Parameter Details</a></li>
                                <li><a href="#">Entity Parameter Details</a></li>
                                <li><a href="#">File Formats</a></li>
                                <li><a href="#">Loyalty Reward Events</a></li>
                                <li><a href="#">Redemption Request Rule</a></li>
                                <li><a href="#">View Transaction Allocation Details</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hasSub">
                        <a href="#">Audit Logs</a>
                        <div class="level2Menu_div">
                            <ul class="level2Menu">
                                <li><a href="#">View Audits Details</a></li>
                                <li><a href="#">Terminal Log Report</a></li>
                                <li><a href="#">Terminal Updates Log</a></li>
                                <li><a href="#">User Login Log</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="hasSub">
                        <a href="#">Setup Reports</a>
                        <div class="level2Menu_div">
                            <ul class="level2Menu">
                                <li><a href="#">Report Configurations</a></li>
                                <li><a href="#">Manage Mails</a></li>
                                <li><a href="#">Manage Profiles</a></li>
                                <li><a href="#">Manage Profile Group</a></li>
                            </ul>
                        </div>
                    </li>*@
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Customer")">Customer</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "CustomerManage")">Profile</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("ManageProfile", "CustomerManage")">Manage Profile</a></li>

                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Cards")">Cards</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("ManageCards", "Cards")">Manage Cards</a></li>
                                                            <li><a href="@Url.Action("ViewCardSearch", "ViewCard")">View Card Limits</a></li>
                                                            <li><a href="@Url.Action("AcDcCardSearch", "Cards")">Deactivate / Reactivate Card Usage</a></li>
                                                            <li><a href="@Url.Action("SetSaleLimit", "Cards")">Set Sale Limits for Cards</a></li>
                                                            <li><a href="@Url.Action("SetCcmsLimitForAllCards", "Cards")">Set CCMS Limit for All Cards</a></li>
                                                            <li><a href="@Url.Action("SetCcmsForIndCards", "Cards")">Set CCMS Limit for Individual Cards</a></li>
                                                            <li><a href="@Url.Action("MappingCardToMerchant", "Cards")">Mapping Cards to Merchants</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Search")">Search</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("ControlCardSearch", "ControlCard")">Control Card Search</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Enrollments")">Enrollments</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("GetFormNumber", "Customer")">Generate Form Number</a></li>
                                                            <li><a href="@Url.Action("OnlineForm", "Customer")">Add New Customer</a></li>
                                                            <li><a href="@Url.Action("UploadDoc", "Customer")">Upload Document</a></li>
                                                            <li><a href="@Url.Action("AddCardDetails", "Customer")">Add New Card</a></li>
                                                            <li><a href="@Url.Action("FeeWaiver", "CustomerFeeWaiver")">Approve Fee Waiver</a></li>
                                                            <li><a href="@Url.Action("ValidateNewCustomer", "Customer")">Validate New Customer</a></li>
                                                            @*<li><a href="@Url.Action("UserCreationApproval", "Security")">User Creation Approval</a></li>*@
                                                            <li><a href="@Url.Action("ViewCustomerSearch", "ViewCustomer")">View Customer</a></li>
                                                            <li><a href="@Url.Action("Details", "ValidateNewCards")">Validate Cards</a></li>
                                                            <li><a href="@Url.Action("SearchCustomerandCardForm", "Interfaces")">Search Customer and Card Form</a></li>
                                                            <li><a href="@Url.Action("AddAddOnCards", "ApplicationFormDataEntry")">Add Add-On Cards</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "MyHpOTCCardCustomer")">My HP (OTC) Card Customer</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("RequestForOTCCard", "MyHpOTCCardCustomer")">Request for My HP (OTC) Card</a></li>
                                                            <li><a href="@Url.Action("ViewOTCCards", "MyHpOTCCardCustomer")">View Requested My HP (OTC) Card</a></li>
                                                            <li><a href="@Url.Action("OTCCardsAllocation", "MyHpOTCCardCustomer")">MID Allocation of Cards</a></li>
                                                            <li><a href="@Url.Action("CustomerCardCreation", "MyHpOTCCardCustomer")">MY HP(OTC) Customer Creation</a></li>
                                                            <li><a href="@Url.Action("ViewOTCCardsMerchatMapping", "MyHpOTCCardCustomer")">View MY HP (OTC) Card Merchant Allocation</a></li>
                                                            <li><a href="@Url.Action("MyHPOTCCardAllocationandActivation", "MyHpOTCCardCustomer")">My HP(OTC)Card Allocation & Activation</a></li>
                                                            <li><a href="@Url.Action("DealerOTCCardRequests", "MyHpOTCCardCustomer")">My HP (OTC) Dealer Card Requests</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "TatkalCardCustomer")">Tatkal Card Customer</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("RequestForTatkalCard", "TatkalCardCustomer")">Add Tatkal Card Request</a></li>
                                                            <li><a href="@Url.Action("CreateTatkalCustomer", "TatkalCardCustomer")">Create Tatkal Customer</a></li>
                                                            <li><a href="@Url.Action("ViewRequestedTatkalCard", "TatkalCardCustomer")">View Requested Tatkal Card</a></li>
                                                            <li><a href="@Url.Action("ViewAllocatedMapCard", "TatkalCardCustomer")">View Tatkal Cards</a></li>
                                                            <li><a href="@Url.Action("MapTatkalCardtoTatkalCustomer", "TatkalCardCustomer")">Map Tatkal Card to Tatkal Customer</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "DriverCardCustomer")">Driver Card Customer</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("RequestForDriverCard", "DriverCardCustomer")">Request For Driver Cards</a></li>
                                                            <li><a href="@Url.Action("ViewRequestDriverCard", "DriverCardCustomer")">View Requested Driver Card</a></li>
                                                            <li><a href="@Url.Action("DriverCardAllocation", "DriverCardCustomer")">Cards Allocation to Merchant Via Web</a></li>
                                                            <li><a href="@Url.Action("CreateDriverCardCustomer", "DriverCardCustomer")">Create Driver Card Customer</a></li>
                                                            <li><a href="@Url.Action("ViewDriverCardsMerchatMapping", "DriverCardCustomer")">View Driver Cards Merchant Allocation</a></li>
                                                            <li><a href="@Url.Action("DriverCardAllocationandActivation", "DriverCardCustomer")">Driver Card Allocation and Activation</a></li>
                                                            <li><a href="@Url.Action("DealerDriverCardRequests", "DriverCardCustomer")">Dealer Driver Card Requests</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "CustomerFinancial")">Financials</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("BalanceInfo", "Customer")">Balance Info</a></li>
                                                            <li><a href="@Url.Action("CardToCardBalanceTransfer", "CustomerFinancial")">Card To Card Balance Transfer</a></li>
                                                            <li><a href="@Url.Action("CCMSToCardBalanceTransfer", "CustomerFinancial")">CCMS To Card Balance Transfer</a></li>
                                                            <li><a href="@Url.Action("CardToCCMSBalanceTransfer", "CustomerFinancial")">Card To CCMS Balance Transfer</a></li>
                                                            <li><a href="@Url.Action("CustomerTransactionDetails", "CustomerFinancial")">Transaction Details</a></li>
                                                            <li><a href="@Url.Action("ViewAccountStatement", "CustomerFinancial")">View Account Statement</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    @*<li><a href="#">Parent Customer</a></li>
        <li><a href="#">Rewards</a></li>*@
                                    <li>
                                        <a href="@Url.Action("Index", "Merchant")">Merchant</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Profile", "Merchant")">Profile</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("CreateMerchant", "Merchant")">Manage Profile</a></li>
                                                            <li><a href="@Url.Action("RejectedMerchant", "Merchant")">Rejected Merchants</a></li>

                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "TerminalManagement")">Terminal Management</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            @*<li><a href="@Url.Action("ManageTerminal", "TerminalManagement")">Manage Terminal</a></li>
        <li><a href="@Url.Action("RegenerateIac", "TerminalManagement")">Regenerate Iac</a></li>
        <li><a href="@Url.Action("UnblockTerminal", "TerminalManagement")">Unblock Terminal</a></li>*@
                                                            <li><a href="@Url.Action("ManageTerminal", "TerminalManagement")">Manage Terminal</a></li>
                                                            <li><a href="@Url.Action("TerminalInstallationRequest", "TerminalManagement")">Terminal Installation Request</a></li>
                                                            <li><a href="@Url.Action("TerminalInstallationRequestClose", "TerminalManagement")">Terminal Installation Request Close</a></li>
                                                            <li><a href="@Url.Action("ViewTerminalInstallationRequestStatus", "TerminalManagement")">View Terminal Installation Request Status</a></li>
                                                            <li><a href="@Url.Action("TerminalDeInstallationRequest", "TerminalManagement")">Terminal DeInstallation Request</a></li>
                                                            <li><a href="@Url.Action("TerminalDeInstallationRequestClose", "TerminalManagement")">Terminal DeInstallation Request Close</a></li>
                                                            <li><a href="@Url.Action("ViewTerminalDeinstallationRequestStatus", "TerminalManagement")">View Terminal Deinstallation Request Status</a></li>
                                                            <li><a href="@Url.Action("ProblematicDeInstalledToDeInstalled", "TerminalManagement")">Problematic DeInstalled To DeInstalled</a></li>
                                                            <li><a href="@Url.Action("ManageAutomationIntegrationStatus", "TerminalManagement")">Manage Automation Integration Status</a></li>
                                                            <li><a href="@Url.Action("ViewTerminalMerchantMappingStatus", "TerminalManagement")">View Terminal Merchant Mapping Status</a></li>
                                                            <li><a href="@Url.Action("SearchTerminal", "TerminalManagement")">Search</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                @*<li class="hasSub">
                        <a href="#">Financials</a>
                        <div class="level2Menu_div">
                            <ul class="level2Menu">
                                <li><a href="@Url.Action("SettlementDetails", "MerchantFinancials")">Settlement Details</a></li>
                                <li><a href="@Url.Action("TransactionDetails", "MerchantFinancials")">Transaction Details</a></li>
                                <li><a href="@Url.Action("ReceivablePayableDetails", "MerchantFinancials")">Receivable Payable Details</a></li>
                                <li><a href="@Url.Action("BatchDetails", "MerchantFinancials")">Batch Details</a></li>
                                <li><a href="@Url.Action("ERPReloadSaleEarningDetails", "MerchantFinancials")">ERP Reload/Sale/Earning Details</a></li>
                                <li><a href="@Url.Action("MerchantDeltaReport", "MerchantFinancials")">Merchant Sale/Reload Delta Details</a></li>
                                <li><a href="@Url.Action("MerchantAccountStatementRequest", "MerchantFinancials")">Merchant Account Statement Request</a></li>
                                <li><a href="@Url.Action("MerchantAccountStatement", "MerchantFinancials")">Merchant Account Statement Download</a></li>
                                <li><a href="@Url.Action("ReFuelCardPaymentConfirmation", "MerchantFinancials")">HP Re-Fuel Card Payment Confirmation</a></li>
                                <li><a href="@Url.Action("ViewEarningBreakUp", "MerchantFinancials")">View Earning BreakUp</a></li>
                            </ul>
                        </div>
                    </li>*@
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "Approvals")">Approvals</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("VerifyMerchant", "Merchant")">Merchant Approval</a></li>
                                                            <li><a href="@Url.Action("TerminalInstallationRequestApproval", "TerminalManagement")">Terminal Installation Request Approval</a></li>
                                                            <li><a href="@Url.Action("TerminalDeInstallationRequestApproval", "Approvals")">Terminal DeInstallation Request Approval</a></li>
                                                            <li><a href="@Url.Action("TerminalDeInstallationRequestAuthorization", "Approvals")">Terminal DeInstallation Request Authorization</a></li>
                                                            @*<li><a href="@Url.Action("ViewTerminalInstallationRequestStatus", "TerminalManagement")">View Terminal Installation Request Status</a></li>
                                <li><a href="@Url.Action("TerminalDeInstallationRequest", "TerminalManagement")">Terminal DeInstallation Request</a></li>
                                <li><a href="@Url.Action("TerminalDeInstallationRequestClose", "TerminalManagement")">Terminal DeInstallation Request Close</a></li>
                                <li><a href="@Url.Action("ViewTerminalDeinstallationRequestStatus", "TerminalManagement")">View Terminal Deinstallation Request Status</a></li>
                                <li><a href="@Url.Action("ProblematicDeInstalledToDeInstalled", "TerminalManagement")">Problematic DeInstalled To DeInstalled</a></li>
                                <li><a href="@Url.Action("ManageAutomationIntegrationStatus", "TerminalManagement")">Manage Automation Integration Status</a></li>
                                <li><a href="@Url.Action("ViewTerminalMerchantMappingStatus", "TerminalManagement")">View Terminal Merchant Mapping Status</a></li>*@
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("SearchMerchant", "Merchant")">Search</a>
                                                    @*<div class="level2Menu_div">
                            <ul class="level2Menu">
                                <li><a href="@Url.Action("SearchMerchant", "Merchant")">Search</a></li>
                            </ul>
                        </div>*@
                                                </li>
                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "AshokLeyLand")">Ashok Leyland</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("AlEnroll", "AshokLeyLand")">AL Dealer Enrollment</a></li>
                                                            <li><a href="@Url.Action("DealerOTCCardRequest", "AshokLeyLand")">AL OTC Card Request</a></li>
                                                            <li><a href="@Url.Action("CreateMultipleOTCCard", "AshokLeyLand")">Customer/Card Creation</a></li>
                                                            <li><a href="@Url.Action("ViewALOTCCardsDealerMapping", "AshokLeyLand")">AL View Card Dealer Allocation</a></li>
                                                        </ul>
                                                    </div>
                                                </li>

                                                <li class="hasSub">
                                                    <a href="@Url.Action("Index", "MerchantFinancials")">Financials</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("SettlementDetails", "MerchantFinancials")">Settlement Details</a></li>
                                                            <li><a href="@Url.Action("TransactionDetails", "MerchantFinancials")">Transaction Details</a></li>
                                                            <li><a href="@Url.Action("ViewUploadMerchantCautionLimit", "MerchantFinancials")">View/Update Merchant Caution Limit</a></li>
                                                            <li><a href="@Url.Action("BatchDetails", "MerchantFinancials")">Batch Details</a></li>
                                                            <li><a href="@Url.Action("MerchantDeltaReport", "MerchantFinancials")">Merchant Sale/Reload Delta Details</a></li>
                                                            <li><a href="@Url.Action("ERPReloadSaleEarningDetails", "MerchantFinancials")">ERP Reload/Sale/Earning Details</a></li>
                                                            <li><a href="@Url.Action("ReceivablePayableDetails", "MerchantFinancials")">Receivable-Payable Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>

                                            </ul>
                                        </div>
                                    </li>
                                    
                        
                                      <li>
                                        <a href="#aaa">Interfaces</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="@Url.Action("index","DtpSupport")">DTP Support</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("BlockUnBlockCustomerCcmsAccount", "DtpSupport")">Block/UnBlock Customer CCMS Account</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>


                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <div class="bg-grey px-0 ">
            <div class="container-fluid">
                <div class="mt-1 w-100">
                    <marquee width="100%" direction="left">
                        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
                    </marquee>
                </div>
            </div>
            <div class="container">
                <div class="d-flex align-items-stretch row">
                    <div class="col-md-3 pl-0 pr-0 d-lg-none d-md-none">
                        <div class="sidebar_wrapper  h-100" id="sidebar_inner">
                            <div class="sidebar_menus">
                                <ul>
                                    <li><a href="#" class="active">Home</a></li>
                                    <li><a href="#">Admin</a></li>
                                    <li><a href="#">Customer</a></li>
                                    <li><a href="#">Parent Customer</a></li>
                                    <li><a href="#">Rewards</a></li>
                                    <li><a href="#">Merchant</a></li>
                                    <li><a href="#">Interfaces</a></li>
                                    <li><a href="#">Training & Demo</a></li>
                                    <li><a href="#">CRM Module</a></li>
                                    <li><a href="#">Reports</a></li>
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">Uploads</a></li>
                                    <li><a href="#">COMCO Manager</a></li>
                                    <li><a href="#">RM</a></li>
                                    <li><a href="#">Customer Leads</a></li>
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Value Added Services</a></li>
                                    <li><a href="#">Fastag/NBFCs</a></li>
                                </ul>
                            </div>
                            <div id="trigger_inner" class="trigger"></div>
                        </div>
                    </div>
                    @RenderBody()
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </main>
    <div id="loader">
        <div class="loader_overlay"></div>
        <div class="loader_img"><img src="~/assets/images/loader.gif" class="img-fluid" alt="Loader Image" /></div>
    </div>
    <footer class="main_footer">
        <div class="copyright_text p-4">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="col-md-4 col-12 py-2">
                        <div class="footer_links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">DriveTrackPlus Version(Build 4.8.3, Revision 19830)</p>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">© 2021, HPCL. All rights reserved</p>
                    </div>
                </div>
            </div>
            <a href="#" class="bottom_logo"><img src="~/assets/images/footer_hp.png" class="img-fluid" alt=""></a>
        </div>
    </footer>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
    </body>
</html>
<script src="https://cdn.datatables.net/1.11.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.4/js/dataTables.bootstrap4.min.js"></script>
<script>

    var today = '@Context.Session.GetString("Today")';
    var dateflag = "N";
    var localStrNum = '@Context.Session.GetString("LocalStorage")';
    localStorage.setItem("clearStorage", localStrNum);

    $(document).ready(function () {
        //setTimeout(function(){
        $('.datatable').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
            "autoWidth": false,
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });

        $('.search_test').SumoSelect({ search: true, searchText: 'Enter Text here.' });

        if ($('.fromDate').val() != undefined){
            setFromDateFormat();
        }

        if ($('.toDate').val() != undefined){
            setToDateFormat();
        }

        $('select').SumoSelect({
            placeholder: '-Select-',
            search: true
        });

        if (localStorage.getItem("clearStorage") === localStrNum) {
            window.localStorage.clear();
        }
        //$(".error").addClass("displayNone");
        // },3000)

    });

    function setFromDateFormat(){
        $(".fromDate").attr("readonly", true);
        $('.fromDate').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            maxDate: new Date(today),
            autoclose: "true"
        });
        
         if (($('.fromDate').val() != undefined)  && ($('.fromDate').val() != "") ){
            var d = stringToDate($('.fromDate').val(),"dd-mm-yyyy");
            var ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
            var mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
            var da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
            $('.fromDate').val(`${da}-${mo}-${ye}`);
         }
    }

    function setToDateFormat(){
        $(".toDate").attr("readonly", true);
        $('.toDate').datepicker({
            dateFormat: 'dd-mm-yy',
            changeMonth: true,
            changeYear: true,
            maxDate: new Date(today),
            autoclose: "true"
        });
        if (($('.toDate').val() != undefined)  && ($('.toDate').val() != "") ){
            var d1 = stringToDate($('.toDate').val(),"dd-mm-yyyy");
            var ye1 = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d1)
            var mo1 = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d1)
            var da1 = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d1)
            $('.toDate').val(`${da1}-${mo1}-${ye1}`);
        }
    }

    function checkDates(dateId,n) {
        var dateflag="Y";
        if (($('.fromDate').val() != undefined) && ($('.toDate').val() != undefined) && ($('.fromDate').val() != "") && ($('.toDate').val() != "")){

            var d = stringToDate($('.fromDate').val(),"dd-mm-yyyy");
            var ye = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d)
            var mo = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d)
            var da = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d)
            //$('.fromDate').val(`${mo}-${da}-${ye}`);

            var d1 = stringToDate($('.toDate').val(),"dd-mm-yyyy");
            var ye1 = new Intl.DateTimeFormat('en', { year: 'numeric' }).format(d1)
            var mo1 = new Intl.DateTimeFormat('en', { month: '2-digit' }).format(d1)
            var da1 = new Intl.DateTimeFormat('en', { day: '2-digit' }).format(d1)
            //$('.toDate').val(`${mo1}-${da1}-${ye1}`);
            
            var fromD =d;
            var toD =  d1;           
            
            if (fromD != "" && toD != "") {
                if (fromD > toD) {
                    $("#" + dateId + "").attr("style", "display:block");
                    $("#" + dateId + "").html("'From Date' should be less or equal to 'To date'");
                    dateflag = "N";
                }
                else if(n>0)
                {
                    var aday = 24 * 60 * 60 * 1000;
                    if ((Math.abs(toD-fromD) / aday) > n)
                    {
                        $("#" + dateId + "").attr("style", "display:block");
                        $("#" + dateId + "").html("Difference between From Date and To Date should not be more than " + n + " days");
                        dateflag = "N";
                    }
                    else {
                        $("#" + dateId + "").html("");
                        $("#" + dateId + "").attr("style", "display:none");
                    }
                }
                else {
                    $("#" + dateId + "").html("");
                    $("#" + dateId + "").attr("style", "display:none");
                }
            }
        }

        return dateflag;
    }

    document.addEventListener("submit", function(){ 
        $("#loader").fadeIn();
        if (event.defaultPrevented){
            $("#loader").fadeOut();
        }
    });

    function stringToDate(date, format) {
        var formatArr = format.split("-");
        var dateArr = date.split("-");
        var monthIndex = formatArr.indexOf("mm");
        var dayIndex = formatArr.indexOf("dd");
        var yearIndex = formatArr.indexOf("yyyy");
        var month = parseInt(dateArr[monthIndex]);
        month -= 1;
        var outputDate = new Date(dateArr[yearIndex], month, dateArr[dayIndex]);
        return outputDate;
    }
     $('.fromDate,.toDate').on("cut copy paste",function(e) {
      e.preventDefault();
    });

    function checkForSpecialChars(str){
        var flag = "N";
        var count = 0;
        for (var i = 0; i < str.length; i++) {
            if (!str.charAt(i).match(notOnlySpecialChars)){
                if(!str.charAt(i + 1).match(notOnlySpecialChars)){
                    flag = "Y";
                    break;
                }
            }
        }
        if (flag == "N"){
            return false;
        }
        else{
            return true;
        }
    }
     
</script>

<script>
        $("#logOutId").on('click', function () {
            sessionStorage.clear();
            window.location.href = '@Html.Raw(@Url.Action("Index", "Home"))';
        });

        // Change the button text & add active class
            $('.jRadioDropdown').change(function() {
              var dropdown = $(this).closest('.dropdown');
              var thislabel = $(this).closest('label');

              dropdown.find('label').removeClass('active'); 
              if( $(this).is(':checked') ) {
                thislabel.addClass('active');
                dropdown.find('span').html( thislabel.text() );
              }

            });    
 
            //Add tabindex on labels
            $('label.dropdown-item').each(function (index, value){
              $(this).attr('tabindex', 0 );
              $(this).find('input').attr('tabindex', -1 );
            });

            //Add keyboard navigation
            $('label.dropdown-item').keypress(function(e){
              if((e.keyCode ? e.keyCode : e.which) == 13){
                $(this).trigger('click');
              }
            });

</script>