@using Microsoft.AspNetCore.Http;

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="~/favicon.ico">
    <meta name="theme-color" content="#74cbcb" />
    <link rel="manifest" href="~/assets/manifest.json">
    <title>DriveTrackPlus : DT Plus</title>
    <!-- Bootstrap core CSS -->
    <link href="~/assets/css/bootstrap.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="~/assets/aos/aos.css" rel="stylesheet">
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/css/owl.theme.default.css">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="~/assets/js/vendor/popper.min.js"></script>
    <script src="~/assets/aos/aos.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="~/assets/css/jquery.es-drawermenu.min.css">
    <script src="~/assets/js/jquery.slidereveal.min.js" type="text/javascript"></script>
    <script src="~/assets/js/jquery.es-drawermenu.js"></script>
    <script src="~/assets/js/mloyal.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <style>
        .btmMargin {
            padding-bottom: 3.5%;
        }
        .displayNone {
            display:none;
        }
        .comment_error {
            width: 100%;
            float: left;
            font-size: 12px;
            color: #f00;
            top: 100%;
        }
    </style>
</head>

<body>
    <header class="bb1">
        <div class="top_header pt-2 pt-md-3">
            <div class="d-flex align-items-center justify-content-start flex-wrap navbar-expand-lg">
                <div class="d-flex align-items-center justify-content-start col-lg-3 col-md-4 col-7 p-2">
                    <button class="navbar-toggler navbar_toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <img src="~/assets/images/menu_icon.png" class="img-fluid" alt="">
                    </button>
                    <a class="navbar-brand header_logo" href="index.html"> <img src="~/assets/images/logo.png" class="img-fluid" alt=""> </a>
                </div>
                <div class="col-lg-6 col-12 d-none d-lg-block">
                    <div class="input-group mb-0 header_input_group  bg-white">
                        <div class="input-group-prepend"> <span class="input-group-text "><img src="~/assets/images/search_icon.png" alt=""></span> </div>
                        <input type="search" class="form-control" aria-label="Start Searching" placeholder="Start Searching">
                        <div class="input-group-append">
                            <div class="search_filter_btn">
                                <select name="" id="">
                                    <option value="">Filter By</option>
                                    <option value="">Category</option>
                                    <option value="">Products</option>
                                    <option value="">Loyalty</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-8 col-5 py-2">
                    <div class="d-flex align-items-center justify-content-end">
                        <div class="d-flex align-items-center justify-content-start">
                            <ul class="list-unstyled d-flex align-items-center header_right m-0">
                                <li>Welcome <a href="#a"> @Context.Session.GetString("UserName")</a></li>
                                <li><a href="@Html.Raw(@Url.Action("Index", "Home"))" id="logOutId" class="logOut_btn d-flex align-items-center justify-content-center"><img src="~/assets/images/logout_logo.png" alt=""><span class="ml-2 d-none d-sm-block"> Logout</span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg main_header p-0">
                <div class="container-fluid position-relative">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <div class="top_navs">
                            <div class="collapse navbar-collapse" id="navbarNav">
                                <ul class="navbar-nav main_navs">
                                    <li><a href="@Url.Action("Profile", "Home")" class="active">Home</a></li>
                                    <li>
                                        <a href="#">Admin</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="#">Security</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">Manage Users</a></li>
                                                            <li><a href="#">Manage Roles</a></li>
                                                            <li><a href="#">Multiple Customer Mapping</a></li>
                                                            <li><a href="#">View Multiple Customer Mapping</a></li>
                                                            <li><a href="#">Rights to Change Monthly Sale Limit</a></li>
                                                            <li><a href="#">User Creation Request</a></li>
                                                            <li><a href="#">User Creation Approval</a></li>
                                                            <li><a href="#">User Creation Request View</a></li>
                                                            <li><a href="#">Manage Aggregator Users</a></li>
                                                            <li><a href="#">Aggregator AddOn Users Approval</a></li>
                                                            <li><a href="#">Manage API Role</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="#">Hotlisting</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">Hotlist/Reactivate</a></li>
                                                            <li><a href="#">Hotlisted/Reactivated Details</a></li>
                                                            <li><a href="#">Hotlist Approval</a></li>
                                                            <li><a href="#">Bulk Hotlist</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li><a href="#">Manage RBE</a></li>
                                                <li class="hasSub">
                                                    <a href="#">Locations</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">Head Office Details</a></li>
                                                            <li><a href="#">Zonal Office Details</a></li>
                                                            <li><a href="#">Regional Office Details</a></li>
                                                            <li><a href="#">Country Region Details</a></li>
                                                            <li><a href="#">State Details</a></li>
                                                            <li><a href="#">District Details</a></li>
                                                            <li><a href="#">City Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="#">Officers</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("Details", "Officer")">Manage Officers</a></li>
                                                            <li><a href="#">Officer Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="#">Configurations</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">Service Details</a></li>
                                                            <li><a href="#">Transaction Schema Details</a></li>
                                                            <li><a href="#">Txn Schema Allocation Details</a></li>
                                                            <li><a href="#">Configure Notification</a></li>
                                                            <li><a href="#">Order Transaction Schema</a></li>
                                                            <li><a href="#">Parameter Details</a></li>
                                                            <li><a href="#">Entity Parameter Details</a></li>
                                                            <li><a href="#">File Formats</a></li>
                                                            <li><a href="#">Loyalty Reward Events</a></li>
                                                            <li><a href="#">Redemption Request Rule</a></li>
                                                            <li><a href="#">View Transaction Allocation Details</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="#">Audit Logs</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">View Audits Details</a></li>
                                                            <li><a href="#">Terminal Log Report</a></li>
                                                            <li><a href="#">Terminal Updates Log</a></li>
                                                            <li><a href="#">User Login Log</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                                <li class="hasSub">
                                                    <a href="#">Setup Reports</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="#">Report Configurations</a></li>
                                                            <li><a href="#">Manage Mails</a></li>
                                                            <li><a href="#">Manage Profiles</a></li>
                                                            <li><a href="#">Manage Profile Group</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Customer</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="#">Cards</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("ManageCards", "Cards")">Manage Cards</a></li>
                                                            <li><a href="@Url.Action("ViewCardSearch", "ViewCard")">View Card Limits</a></li>
                                                            <li><a href="@Url.Action("AcDcCardSearch", "Cards")">Deactivate / Reactivate Card Usage</a></li>
                                                            <li><a href="@Url.Action("SetSaleLimit", "Cards")">Set Sale Limits for Cards</a></li>
                                                            <li><a href="@Url.Action("SetCcmsLimitForAllCards", "Cards")">Set CCMS Limit for All Cards</a></li>
                                                            <li><a href="@Url.Action("SetCcmsForIndCards", "Cards")">Set CCMS Limit for Individual Cards</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">Parent Customer</a></li>
                                    <li><a href="#">Rewards</a></li>
                                    <li>
                                        <a href="#">Merchant</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="#">Profile</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("CreateMerchant", "Merchant")">Manage Profile</a></li>
                                                            <li><a href="@Url.Action("VerifyMerchant", "Merchant")">Verify Merchant Profile</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="#">Interfaces</a>
                                        <div class="subMenu_div">
                                            <ul class="subMenu">
                                                <li class="hasSub">
                                                    <a href="#">Application Form Data Entry</a>
                                                    <div class="level2Menu_div">
                                                        <ul class="level2Menu">
                                                            <li><a href="@Url.Action("OnlineForm", "Customer")">Add New Customer</a></li>
                                                            <li><a href="@Url.Action("UploadDoc", "Customer")">Upload Document</a></li>
                                                            <li><a href="@Url.Action("AddCardDetails", "Customer")">Add New Card</a></li>
                                                            <li><a href="@Url.Action("FeeWaiver", "CustomerFeeWaiver")">Approve Fee Waiver</a></li>
                                                            <li><a href="@Url.Action("ValidateNewCustomer", "Customer")">Customer Validate</a></li>
                                                            <li><a href="@Url.Action("ViewCustomerSearch", "ViewCustomer")">View Customer</a></li>
                                                        </ul>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li><a href="#">Training & Demo</a></li>
                                    <li><a href="#">CRM Module</a></li>
                                    <li><a href="#">Reports</a></li>
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">Uploads</a></li>
                                    <li><a href="#">COMCO Manager</a></li>
                                    <li><a href="#">RM</a></li>
                                    <li><a href="#">Customer Leads</a></li>
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Value Added Services</a></li>
                                    <li><a href="#">Fastag/NBFCs</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main role="main">
        <div class="bg-grey px-0 ">
            <div class="container-fluid">
                <div class="d-flex align-items-stretch row">
                    <div class="col-md-3 pl-0 pr-0">
                        <div class="sidebar_wrapper  h-100" id="sidebar_inner">
                            <div class="sidebar_menus">
                                <ul>
                                    <li><a href="#" class="active">Home</a></li>
                                    <li><a href="#">Admin</a></li>
                                    <li><a href="#">Customer</a></li>
                                    <li><a href="#">Parent Customer</a></li>
                                    <li><a href="#">Rewards</a></li>
                                    <li><a href="#">Merchant</a></li>
                                    <li><a href="#">Interfaces</a></li>
                                    <li><a href="#">Training & Demo</a></li>
                                    <li><a href="#">CRM Module</a></li>
                                    <li><a href="#">Reports</a></li>
                                    <li><a href="#">Downloads</a></li>
                                    <li><a href="#">Uploads</a></li>
                                    <li><a href="#">COMCO Manager</a></li>
                                    <li><a href="#">RM</a></li>
                                    <li><a href="#">Customer Leads</a></li>
                                    <li><a href="#">Search</a></li>
                                    <li><a href="#">Value Added Services</a></li>
                                    <li><a href="#">Fastag/NBFCs</a></li>
                                </ul>
                            </div>
                            <div id="trigger_inner" class="trigger"></div>
                        </div>
                    </div>
                    @RenderBody()
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </main>
    <footer class="main_footer">
        <div class="copyright_text p-4">
            <div class="container-fluid">
                <div class="d-flex justify-content-between align-items-center flex-wrap">
                    <div class="col-md-4 col-12 py-2">
                        <div class="footer_links">
                            <ul>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Legal Notice</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">DriveTrackPlus Version(Build 4.8.3, Revision 19830)</p>
                    </div>
                    <div class="col-md-4 col-12 py-2">
                        <p class="footer_text text-white text-sm text-center mb-0">© 2021, HPCL. All rights reserved</p>
                    </div>
                </div>
            </div>
            <a href="#" class="bottom_logo"><img src="~/assets/images/footer_hp.png" class="img-fluid" alt=""></a>
        </div>
    </footer>
    <script>
        AOS.init({
            easing: 'ease-in-out-sine'
        });
    </script>
</body>
</html>


@*<script>
        $("#logOutId").on('click', function () {
            console.log("token", sessionStorage.getItem("Token"));
            sessionStorage.removeItem('Token');
            window.location.href = '@Html.Raw(@Url.Action("Index", "Home"))';
            $("#logOutId").attr('href', url);
        });
    </script>*@
