@model IEnumerable<HPCL.Common.Models.CommonEntity.MenuDetailModel>
@using Microsoft.AspNetCore.Http;

@foreach (var item in Model.Where(x => x.MenuId == x.ParentMenuId && x.UserID == Context.Session.GetString("UserId")).OrderBy(x => x.MenuOrder))
{
	if (item.Action == "Index" || item.Action == "Profile")
@*	if (item.Controller == null || item.Controller == "")
*@	{
		<li>
			<a href="@Url.Action(item.Action, item.Controller)" class="anchor">@item.MenuName</a>
			<div class="subMenu_div">
				<ul class="subMenu">
			@foreach (var item1 in Model.Where(x => x.ParentMenuId == item.MenuId && x.MenuId != item.MenuId).OrderBy(x => x.MenuOrder))
			{
				if (item1.Action == "Index" || item1.Action == "Profile")
				@*if (item1.Controller == null || item1.Controller == "")*@
				{
					<li class="hasSub">
					<a href="@Url.Action(item.Action, item1.Controller)" class="anchor">@item1.MenuName</a>
					<div class="level2Menu_div">
						<ul class="level2Menu">
						@foreach (var item2 in Model.Where(x => x.ParentMenuId == item1.MenuId && x.MenuId != item1.MenuId).OrderBy(x => x.MenuOrder))
						{
							if (item2.Action == "Index" || item2.Action == "Profile")
@*							if (item2.Controller == null || item2.Controller == "")
*@							{

									@foreach (var item3 in Model.Where(x => x.ParentMenuId == item2.MenuId && x.MenuId != item2.MenuId).OrderBy(x => x.MenuOrder))
									{
										if (item3.Action == "Index" || item3.Action == "Profile")
@*										if (item3.Controller == null || item3.Controller == "")
*@										{
											<li><a href="@Url.Action(item.Action, item3.Controller)" class="anchor">@item3.MenuName</a></li>
										}
										else
										{
											<li><a href="@Url.Action(item3.Action, item3.Controller)" class="anchor">@item3.MenuName</a></li>
										}
									}
							}
							else
							{
								<li><a href="@Url.Action(item2.Action, item2.Controller)" class="anchor">@item2.MenuName</a></li>
							}
						}
						</ul>
					</div>
					</li>
				}
				else
				{
					<li>
						<a href="@Url.Action(@item1.Action, @item1.Controller)" class="anchor">@item1.MenuName</a>
					</li>
				}
			}
				</ul>
			</div>
		</li>
	}
}

<script type="text/javascript">

    $('a').click(function (e){  
        if (e.ctrlKey) {
            return false;
        }
    });

</script>