@model HPCL.Common.Models.ViewModel.CustomerFinancial.AmountTransferExcel

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Financials</a> </li>
            <li class="breadcrumb-item font-weight-light">Upload CCMS To Card Balance Transfer</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-3 bg-grey m-0 font-weight-bold">Balance Transfer CCMS To Card</p>
                        <button class="btn btn_primary add_update_btn" onclick="exportReportToExcel()">Download Sample CCMS To Card Balance Transfer</button>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-start flex-wrap">
                                <div class="col-lg-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-2 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-3 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerDefaultVal", @class = "form-control", @readonly="readonly" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new {@id="CustomerIdErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="col-lg-7 col-12">
                                            <div class="d-flex align-items-start justify-content-start mt-0">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" onclick="searchCustomer()">Search</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" onclick="resetClick()">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                        <label class="font-weight-normal col-md-2 col-12">Available CCMS Balance</label>
                                        <div class="col-md-3 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.AvailableCcmsBalance, new { @class = "form-control-plaintext", @readonly="readonly" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mb-3 text-center alert alert-danger" id="noRecord" style="display:none;"></div>
                                </div>
                            </div>
                            <div class="align-items-start flex-wrap" id="uploadSection">
                                <div class="col-lg-12 col-12">
                                    <p class="text-dark px-0 pb-2 mb-3 font-weight-bold" style="border-bottom: 1px solid #ccc;">
                                        Upload CCMS Balance Transfer File
                                    </p>
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-2 col-12 mb-0">Select File <sup class="text-danger">*</sup></label>
                                        <div class="col-md-3 col-12">
                                            <div class="custom_select">
                                                <input class="form-control-file" id="excel_file" name="batchid" type="file" value="">
                                                <span style="display:none" class="error" id="excel_file_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-12">
                                            <div class="d-flex align-items-start justify-content-start mb-0">
                                                <div class="px-0">
                                                    <button class="btn btn_primary" type="button" onclick="uploadBulkLimitRow()">Upload CCMS Balance Transfer File</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-12">
                                            <div class="d-flex align-items-start justify-content-start mb-0">
                                                <p class="mb-0"> Only .csv file is allowed!	</p>
                                            </div>
                                        </div>
                                        <p class="mb-0 mt-2 font-weight-bold" style="padding-top:2%">“Please add ‘ before Card Number. For example, if Card No. is 7000 0000 0000 0001, it should be mentioned as ‘7000000000000001 in the excel sheet in the “Card Number” column”.</p>
                                        <p class="mb-0 mt-2 font-weight-bold">“Please upload only one field either in the CardNumber column or in MobileNumber column, not in Both".</p>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="mb-3 text-center alert alert-danger" style="display:none;" id="ExcelDataError"></div>

                            <div id="successUpdate" class="mb-3 text-center alert alert-success" style="display:none;"></div>


                            <div class="row" id="reponseErr" style="display:none;">
                                <div class="d-inline-block">
                                    <div class="border-1 rounded border-grey pb-0">
                                        <p style="background-color: #3399FF;font-weight:bold;">
                                            Successful Transactions
                                        </p>
                                        <div class="mb-3 text-center alert alert-danger" id="checkRecord"></div>
                                    </div>
                                </div>
                                <div class="d-inline-block" style="margin-top:2%">
                                    <div class="border-1 rounded border-grey pb-0">
                                        <p style="background-color: #FF5050;font-weight:bold;">
                                            Unsuccessful Transactions
                                        </p>
                                        <div id="excel_data"></div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

<script>

       function searchCustomer(){

        var custId = $("#CustomerDefaultVal").val();

        var flag = "Y";
        if(custId.trim()==''){
            $("#CustomerIdErr").attr("style", "display:block");
            $("#CustomerIdErr").html("Customer ID should not be left empty");
            flag = "N";
        }
        else{
            if(custId.trim()!=''){
                if (!custId.match(mappedCustomerId)){
                    $("#CustomerIdErr").attr("style", "display:block");
                    $("#CustomerIdErr").html("Invalid Customer ID");
                    flag = "N";
                }
            }
        }

        if (flag == "N")
            e.preventDefault();

        if(flag == "Y"){

            $("#CustomerIdErr").attr("style", "display:none");

            $.ajax({
                url: "@Url.Action("SearchCcmsToCardBalanceTransfer", " CustomerFinancial")",
                type: "POST",
                dataType: "JSON",
                data: { customerId: custId},
                success: function (res) {

                    console.log("res",res);

                    if(res.searchList.success == true){
                        $("#CustomerDefaultVal").attr("readonly",true);
                        $("#uploadSection").show();
                    }else{
                        $("#CustomerDefaultVal").attr("readonly",true);
                        $("#noRecord").html("");
                        $("#noRecord").append("<span>" + res.searchList.message + "</span>");
                        document.getElementById("noRecord").style.display = "block";
                    }

                },
                error: function (ex) {
                    console.log('Failed' + ex);
                }
            });

        }
    }


    function resetClick(){
        $("#uploadSection").hide();
        $("#CustomerDefaultVal").attr("readonly",false);
        $("#CustomerDefaultVal").val('');
        document.getElementById("ExcelDataError").style.display = "none";
        document.getElementById("reponseErr").style.display = "none";
    }

    function exportReportToExcel() {
        var csv_data = [];
        var csvrow = [];
        csvrow.push("Card Number", "Mobile Number", "Transfer Amount");
        csv_data.push(csvrow.join(","));
        csv_data = csv_data.join('\n');
        downloadCSVFile(csv_data);
    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv",
            width: "900"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "CCMSToCardAmountTransfer.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }


    $("#excel_file").change(function () {

        document.getElementById("successUpdate").style.display = "none";
        document.getElementById("reponseErr").style.display = "none";

        var fileUpload = document.getElementById("excel_file");
            var regex = /(.*?)\.(csv)$/;
            if (regex.test(fileUpload.value)) {
                if (typeof (FileReader) != "undefined") {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        var table = document.createElement("table");
                        table.setAttribute("id", "ExcelTable");

                        table.classList.add("table");
                        table.classList.add("table-striped");
                        table.classList.add("d-block");
                        table.classList.add("table-bordered");
                        table.classList.add("table-responsive");
                        table.classList.add("nowrap");
                        table.classList.add("mt-3");

                        var rows = e.target.result.split("\n");
                        for (var i = 0; i < rows.length; i++) {
                            var cells = rows[i].split(",");
                            if (cells.length > 1) {
                                var row = table.insertRow(-1);
                                for (var j = 0; j < cells.length; j++) {
                                    var cell = row.insertCell(-1);
                                    cell.innerHTML = cells[j].replace(/`/g, '');
                                }
                            }
                        }
                        var dvCSV = document.getElementById("excel_data");
                        dvCSV.innerHTML = "";
                        dvCSV.appendChild(table);

                        var rows = document.getElementById('ExcelTable').rows;

                        console.log("rows",rows.length);

                        $("tr:first").append("<td class ='errMsg'>Error Msg</td>");
                        $("tr:not(:first)").append("<td class ='errMsg'></td>");


                        if(rows.length != 0){
                            $('#ExcelTable tr:gt(0)').each(function(index, tr) {
                                var CardNo = $(tr).find(':nth-child(1)').text();
                                var MobileNo = $(tr).find(':nth-child(2)').text();
                                var TransferAmount = $(tr).find(':nth-child(3)').text();
                               
                                var currentIndex = index + 1;

                                if(CardNo.trim() == ''){
                                    $("#ExcelDataError").html('');
                                    $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Card Number should not blank</span>");
                                    $("#excel_file").val('');
                                    document.getElementById("ExcelDataError").style.display = "block";
                                    return false;
                                }else{
                                    if(CardNo.trim() != ''){
                                        if(!CardNo.trim().match(/^\d{16}$/)){
                                            $("#ExcelDataError").html('');
                                            $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Invalid Card Number</span>");
                                            $("#excel_file").val('');
                                            document.getElementById("ExcelDataError").style.display = "block";
                                            return false;
                                        }
                                    }
                                }

                                if(MobileNo.trim() == ''){
                                    $("#ExcelDataError").html('');
                                    $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Mobile Number should not blank</span>");
                                    $("#excel_file").val('');
                                    document.getElementById("ExcelDataError").style.display = "block";
                                    return false;
                                }else{
                                    if(MobileNo.trim() != ''){
                                        if(!MobileNo.trim().match(/^[6789]\d{9}$/)){
                                            $("#ExcelDataError").html('');
                                            $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Invalid Mobile Number</span>");
                                            $("#excel_file").val('');
                                            document.getElementById("ExcelDataError").style.display = "block";
                                            return false;
                                        }
                                    }
                                }

                                if(TransferAmount.trim()==''){
                                    $("#ExcelDataError").html('');
                                    $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Transfer Amount should not blank</span>");
                                    $("#excel_file").val('');
                                    document.getElementById("ExcelDataError").style.display = "block";
                                    return false;
                                }
                                else{
                                    if(TransferAmount.trim() !=''){
                                        if (!TransferAmount.trim().match(number)){
                                            $("#ExcelDataError").html('');
                                            $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Transfer Amount should be Numeric</span>");
                                            $("#excel_file").val('');
                                            document.getElementById("ExcelDataError").style.display = "block";
                                            return false;
                                        }else if(TransferAmount.trim() == 0){
                                            $("#ExcelDataError").html('');
                                            $("#ExcelDataError").append("<span>Record No "+currentIndex+":- Transfer Amount should be more than 0</span>");
                                            $("#excel_file").val('');
                                            document.getElementById("ExcelDataError").style.display = "block";
                                            return false;
                                        }
                                    }
                                }

                            })
                        }
                    }
                    reader.readAsText(fileUpload.files[0]);
                } else {
                    alert("This browser does not support HTML5.");
                }
            } else {
                 $("#excel_file_error").attr("style", "display:block");
                 $("#excel_file_error").html("Please upload a valid CSV file.");
                 $("#excel_file").val('');
            }
    });

    function uploadBulkLimitRow(){

        document.getElementById("reponseErr").style.display = "none";
        document.getElementById("ExcelDataError").style.display = "none";

        var customerId = $("#CustomerDefaultVal").val();

             var flag = "Y";

        if($("#excel_file").val() == ''){
             $("#excel_file_error").attr("style", "display:block");
             $("#excel_file_error").html("Please add a CSV file.");
             flag = "N";
        }

        if (flag == "N")
            e.preventDefault();


        if(flag == "Y"){

            $("#excel_file_error").attr("style", "display:none");

            if($("#excel_file").val() != ''){

                var updateArray = [];
                $('#ExcelTable tr:gt(0)').each(function(index, tr) {
                    var CardNo = $(tr).find(':nth-child(1)').text();
                    var MobileNo = $(tr).find(':nth-child(2)').text();
                    var TransferAmount = $(tr).find(':nth-child(3)').text();

                    updateArray.push({
                        CardNo:CardNo,
                        MobileNo:MobileNo,
                        TransferAmount:TransferAmount
                    });
                })

                $.ajax({
                    url: "@Url.Action("CCMSToCardBalanceTransferAmount", "CustomerFinancial")",
                    type: "POST",
                    dataType: "JSON",
                    data: { customerId: customerId, ccmsToCardTransfer: JSON.stringify(updateArray)},
                    success: function (res) {

                        console.log("res",res);

                        if(res.reasonList.data.status == 1){
                            $("#successUpdate").html('');
                            $("#successUpdate").append("<span>"+res.reasonList.data[0].reason+"</span>");
                            $("#excel_file").val('');
                            document.getElementById("successUpdate").style.display = "block";
                        }else{

                            $("#checkRecord").html('');
                            $("#checkRecord").append("<span>"+res.reasonList.message+"</span>")
                            $('#ExcelTable tr:gt(0)').each(function(index, tr) {

                                var currentIndex = index + 1;

                                var Cardno = $(tr).find(':nth-child(1)').text();
                                for(var i =0;i<res.reasonList.data.length;i++){
                                    if(res.reasonList.data[i].status == 0){
                                        if(Cardno == res.reasonList.data[i].cardNo){
                                            var bindRes = "<span>Record No "+currentIndex+":- "+(res.reasonList.data[i].reason)+"</span><br>";

                                            $(tr).find(':nth-child(4)').append(bindRes);
                                        }
                                    }
                                }
                            });

                            $('#ExcelTable tr:gt(0)').each(function(index, tr){
                                var err = $(tr).find(':nth-child(4)').text();
                                if(err == ''){
                                    $(this).hide();
                                }
                            });

                            $("#excel_file").val('');
                            document.getElementById("reponseErr").style.display = "grid";

                        }

                    },
                    error: function (ex) {
                        console.log('Failed' + ex);
                    }
                });
            }
        }
    }
</script>
