@model HPCL.Common.Models.ViewModel.CustomerFinancial.GetViewAccountStatement
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4" style="background: #edecec !important;">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Financial</a> </li>
            <li class="breadcrumb-item font-weight-light">View Account Statement</li>
        </ul>
        <form id="formValid">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">View Account Statement</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3 bg-white">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12"> 
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", @id="custIdVal" })
                                                @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Statement Period From<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.FromDate, "", new { @class = "text-danger", @id = "fromDate_error" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"> Statement Period To </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.ToDate, "", new { @class = "text-danger", @id = "toDate_error" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="searchStatement()">Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="resetClick()">Reset</button>
                                </div>
                            </div>

                        </div>

                        <div class="clearfix"></div>

                        <div>
                            <div class="mb-3 text-center alert alert-danger" style="display:none;" id="noRecord">
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="col-12 col-md-12 px-0 mt-3 bg-white p-3">
                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">CCMS Account Summery</legend>
                                <div class="table-responsive" id="AccTblResponse" style="padding:1%;display:none;">
                                    <table id="AccountSummeryTbl" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Opening Balance(Rs)</th>
                                                <th>Credits(Rs)</th>
                                                <th>Debits(Rs)</th>
                                                <th>Closing Balance(Rs)</th>
                                                <th>Total Drivestars(Points)</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div>
                                    <div class="mb-3 text-center alert alert-danger" style="display:none;" id="noRecordAccountSum">
                                        No Record Found
                                    </div>
                                </div>

                            </fieldset>

                            <fieldset class="border-1 rounded border-grey bg-white p-3">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Transaction Details</legend>
                                <div class="table-responsive" id="CardTransTblResponse" style="padding:1%;display:none;">
                                    <table id="CardTransTbl" class="datatable table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Card Number</th>
                                                <th>Vehicle No./User Name</th>
                                                <th>Transaction Type</th>
                                                <th>Product</th>
                                                <th>Price</th>
                                                <th>Volume(Ltr.)</th>
                                                <th>Amount</th>
                                                <th>Reward Type</th>
                                                <th>Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div>
                                    <div class="alert alert-warning" role="alert" style="display:none;padding:0%;" id="noRecordCardTrans">
                                        No Record Found
                                    </div>
                                </div>

                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<script>
   

    $(document).ready(function () {
         var loginType = '@Context.Session.GetString("LoginType")';

        console.log(loginType);

        if (loginType == "Customer") {
            $("#custIdVal").val('@Context.Session.GetString("UserId")');
            $("#custIdVal").attr("readonly", true);
        }

       // setDates();
    });

  

    function resetClick() {
        window.location.reload(true);
    }

    function searchStatement() {
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();

        var flag = "Y";
        if (fromdate == "") {
            $("#fromDate_error").attr("style", "display:block");
            $("#fromDate_error").html("Select From Date");
            flag = "N";
        }
        if (todate == "") {
            $("#toDate_error").attr("style", "display:block");
            $("#toDate_error").html("Select To Date");
            flag = "N";
        }
        if (fromdate != "" && todate != "") {
            flag = checkDates("fromDate_error");
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
            if ($("#formValid").valid()) {
                GridCall();
            } else {
                return false;
            }
        }
    }

    function GridCall() {
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("ViewAccountStatement", "CustomerFinancial")',
            data: $('#formValid').serialize(),  // data to submit
            success: function (res, status, xhr) {

                console.log(res);

                if (res.searchList.success == true) {
                    document.getElementById("noRecord").style.display = "none";

                    var girdListAcc = res.searchList.data.getCcmsAccountSummary;
                    var cardTrans = res.searchList.data.getCardTransactionDetails;

                    if (girdListAcc.length > 0) {
                        document.getElementById("noRecordAccountSum").style.display = "none";

                        $("#AccountSummeryTbl td").parent().remove();

                        for (var i = 0; i < girdListAcc.length; i++) {

                            var rows = "<tbody><tr>"
                                + "<td>" + (i + 1) + "</td>"
                                + "<td>" + (girdListAcc[i].openingBalance) + "</td>"
                                + "<td>" + (girdListAcc[i].credits) + "</td>"
                                + "<td>" + (girdListAcc[i].debits) + "</td>"
                                + "<td>" + (girdListAcc[i].closingBalance) + "</td>"
                            "<td></td>"
                                + "</tr ></tbody>";

                            $('#AccountSummeryTbl').append(rows);
                        }
                        document.getElementById('AccTblResponse').style.display = 'block';
                    } else {
                        document.getElementById('AccTblResponse').style.display = 'none';
                        document.getElementById("noRecordAccountSum").style.display = "block";
                    }

                    if (cardTrans.length > 0) {
                        document.getElementById('noRecordCardTrans').style.display = 'none';

                        $("#CardTransTbl td").parent().remove();
                        $('#CardTransTbl').DataTable().clear().destroy();

                        var tbl = $('#CardTransTbl').DataTable({
                            paging: true,
                            searching: false,
                            stateSave: true,
                            "bDestroy": true,
                            "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                            "autoWidth": false,
                            "oLanguage": {
                                "sLengthMenu": "Display _MENU_ Records",
                                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                            }
                        });

                        for (var i = 0; i < cardTrans.length; i++) {

                            var srNumber = (i + 1);
                            var cardNo = (cardTrans[i].cardNo || '');
                            var vechileNo = (cardTrans[i].vechileNo || '');
                            var transactionType = (cardTrans[i].transactionType || '');
                            var product = (cardTrans[i].product || '');
                            var price = (cardTrans[i].price);
                            var volume = (cardTrans[i].volume);
                            var amount = (cardTrans[i].amount);
                            var rewardType = (cardTrans[i].rewardType || '');
                            var date = (cardTrans[i].date || '');

                            tbl.row.add([
                                srNumber,
                                cardNo,
                                vechileNo,
                                transactionType,
                                product,
                                price,
                                volume,
                                amount,
                                rewardType,
                                date
                            ]).draw();
                        }
                        document.getElementById('CardTransTblResponse').style.display = 'block';
                    } else {
                        document.getElementById('CardTransTblResponse').style.display = 'none';
                        document.getElementById('noRecordCardTrans').style.display = 'block';
                    }
                }
                else {
                    document.getElementById("AccTblResponse").style.display = "none";
                    document.getElementById("CardTransTblResponse").style.display = "none";
                    document.getElementById('noRecordCardTrans').style.display = 'none';
                    document.getElementById("noRecordAccountSum").style.display = "none";
                    $("#noRecord").html("");
                    $("#noRecord").append("<span>" + res.searchList.message + "</span>");
                    document.getElementById("noRecord").style.display = "block";
                }

            },
            error: function (jqXhr, textStatus, errorMessage) {
                console.log("Error");
            }
        });

    }
</script>