@model HPCL.Common.Models.ResponseModel.MyHpOTCCardCustomer.MyCardAllocationandActivationModel
@using HPCL.Common.Resources
@*<fieldset class="border-1 rounded border-grey h-100 w-auto">*@
@if (Model.MyCardAllocationandActivationDetails.Count() > 0)
{
    @*<div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
        <div class="border-1 rounded border-grey pb-3">
            <p class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Allocation and Activation Details</p>
            <div class="d-flex align-items-center flex-wrap mb-3">
            </div>
        </div>
    </div>*@
    <div class="">
        <table id="cardAllocandActivationDetails" class="datatable table table-striped table-bordered table-responsive" style="width:100%;">
            <thead>
                <tr>
                    <th>Sr#</th>
                    <th>ZO</th>
                    <th>RO</th>
                    <th>Form Number</th>
                    <th>Card Number</th>
                    <th>Customer Id</th>
                    <th>Customer Name</th>
                    <th>Mapping Date</th>
                    <th>Allocated MID</th>
                    <th>Retail Outlet Name</th>
                    <th>ZO</th>
                    <th>RO</th>
                    <th>Date of MID Allocation</th>
                    <th>First Transaction Date</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int Slno = 1;
                }
                @foreach (var item in Model.MyCardAllocationandActivationDetails)
                {
                    <tr>
                        <td>@Slno</td>
                        <td>@item.ZonalOfficeName</td>
                        <td>@item.RegionalOfficeName</td>
                        <td>@item.FormNumber</td>
                        <td>@item.CardNo</td>
                        <td>@item.CustomerId</td>
                        <td>@item.CustomerName</td>
                        <td>@item.MappingDate</td>
                        <td>@item.AllocatedMID</td>
                        <td>@item.RetailOutletName</td>
                        <td>@item.ZO</td>
                        <td>@item.RO</td>
                        <td>@item.AllocationDate</td>
                        <td>@item.FirstTransactionDate</td>
                    </tr>
                    Slno++;
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
}
else
{
    <div class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>

