<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RequestForOTCCard", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Request for My HP (OTC) Card</h4>
                        <p>Request for My HP (OTC) Card</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewOTCCards", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/view_multiple_customer_mapping.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Requested My HP (OTC) Card</h4>
                        <p>View Requested My HP (OTC) Card</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("OTCCardsAllocation", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_roles.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>MID Allocation of Cards via Web</h4>
                        <p>Allocate Cards to Merchant</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("CustomerCardCreation", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>MY HP(OTC) Customer Creation</h4>
                        <p>MY HP(OTC) Customer Creation</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewOTCCardsMerchatMapping", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View MY HP (OTC) Card Merchant Allocation</h4>
                        <p>View MY HP (OTC) Card Merchant Allocation</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("MyHPOTCCardAllocationandActivation", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>My HP (OTC) Card Allocation & Activation</h4>
                        <p>My HP (OTC) Card Allocation & Activation</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DealerOTCCardRequests", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>My HP (OTC) Dealer Card Requests</h4>
                        <p>My HP (OTC) Dealer Card Requests</p>
                    </div>
                </a>
            </div>
            
            @*<div class="col-lg-3 col-md-4 col-12 mb-3">
            <a href="@Url.Action("SetCcmsLimitForAllCards", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Set CCMS Limit for ALl Cards</h4>
                    <p>Set CCMS Limit for ALl Cards</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
            <a href="@Url.Action("SetCcmsForIndCards", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Set CCMS Limit for Individual Cards</h4>
                    <p>Set CCMS Limit for Individual User Card</p>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-4 col-12 mb-3">
            <a href="@Url.Action("MappingCardToMerchant", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Mapping Cards to Merchant</h4>
                    <p>View User Creation Request Status </p>
                </div>
            </a>
        </div>*@
        </div>
    </div>
</div>