@model HPCL.Common.Models.ViewModel.MyHpOTCCardCustomer.GetCardAllocationActivation
@using HPCL.Common.Resources
@using Microsoft.AspNetCore.Http;
<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "MyHpOTCCardCustomer")" class="text_primary">My HP (OTC) Card Customer</a> </li>
            <li class="breadcrumb-item font-weight-light">My HP (OTC) Card Allocation & Activation</li>
        </ul>
        <div id="reason" class="mb-3 text-center" style="background-color: #a0f1d6;"></div>
        <form id="formSubmit">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">My HP (OTC) Card Allocation & Activation</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.ZonalOfc</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.ZoneMdl, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getCustomerRegionalOfc()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.RegionalOfc</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                               @* @Html.DropDownListFor(m => m.RegionalOfficeId, new SelectList(Model.RegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })*@
                                               <select name="RegionalOfficeId" id="RegionalOfficeId" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            <span style="display:none" class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            <span style="display:none" class="error" id="toDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.CustomerId</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="customerId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div style="display:none;">@Html.TextBoxFor(m => m.RegionalId)</div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="searchCardActivationandAllocation()">SEARCH</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnReset" type="button">RESET</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnDownload" type="button">DOWNLOAD</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="cardActivationandAllocation">

        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    var fromdate = $("#FromDate").val();
    var todate = $("#ToDate").val();
    $(document).ready(function () {
        $(".toBeHiddenOnSuccess").show();
       
    });
    $("#btnReset").click(function () {
        location.reload();

    });
    function getCustomerRegionalOfc() {
        var id = $('#ZonalOfficeId :selected').val();
        if(id>0){
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Common")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#RegionalOfficeId").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == 0) {
                            $('<option>',
                                {
                                    value: 0,
                                    text: "-All-"
                                }).html("--All--").appendTo("#RegionalOfficeId");
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                        }

                    });
                    $("#RegionalOfficeId")[0].sumo.reload();
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
        }
        else{
             $("#RegionalOfficeId").html('');
            $("#RegionalOfficeId")[0].sumo.reload();
        }
    };
     $('select').SumoSelect({
            placeholder: '-All-',
            search: true,
            searchText: 'Enter Text here.'
        });
    $("#RegionalOfficeId").change(function () {
        var id = this.value;
        $("#RegionalId").val(id);
    });

    function searchCardActivationandAllocation() {
        var fromD = "";
        var toD = "";
        var customerId = $("#CustomerId").val();
        if ($("#FromDate").val() != "")
            fromD = $("#FromDate").val();
        if ($("#ToDate").val() != "")
            toD = $("#ToDate").val();
        var flag = "Y";
        flag = checkDates("fromDate_error");
        if ((fromD != "" && toD == "") || (fromD == "" && toD != "")) {
            $("#toDate_error").attr("style", "display:block");
            $("#toDate_error").html("Please Select Both From Date and To Date");
            flag = "N";
        }
        if (customerId != "") {
            if (!customerId.match(mappedCustomerId)) {
                $("#customerId_error").attr("style", "display:block");
                $("#customerId_error").html("Invalid Customer ID");
                flag = "N";
            }
        }
        if (flag == "N")
            return;
        if (flag == "Y")  {
            $("#toDate_error").html("");
            $("#toDate_error").attr("style", "display:none");
            $("#fromDate_error").html("");
            $("#fromDate_error").attr("style", "display:none");
            $("#customerId_error").attr("style", "display:none");
            $("#customerId_error").html("");
        }
        var zoID = $("#ZonalOfficeId").val();
        var roID = $("#RegionalOfficeId").val();
        var fromDate = $("#FromDate").val();
        var toDate = $("#ToDate").val();
        
        
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("SearchCardActivationandAllocation", "MyHpOTCCardCustomer")',
            data: $('#formSubmit').serialize(),
            success: function (data, status, xhr) {
                console.log(data);
                var v = data;
                if (status == 'success') {
                    $("#cardActivationandAllocation").html(data);
                    $('html, body').animate({
                        scrollTop: $("#cardActivationandAllocation").offset().top
                    }, 2000);
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }
     $("#CustomerId").on("blur", function () {
         var customerId = $("#CustomerId").val();
         if (customerId != "") {
            if (!customerId.match(mappedCustomerId)) {
                $("#customerId_error").attr("style", "display:block");
                $("#customerId_error").html("Invalid Customer ID");
                flag = "N";
            }
             else{
                $("#customerId_error").attr("style", "display:none");
                $("#customerId_error").html("");
            }
         }
         else{
             $("#customerId_error").attr("style", "display:none");
             $("#customerId_error").html("");
         }
     });
</script>

