@model HPCL.Common.Models.ViewModel.MyHpOTCCardCustomer.MIDAllocationOfCardsModel
@using HPCL.Common.Resources
@{
    ViewData["Title"] = "Request for My HP (OTC) Card";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "MyHpOTCCardCustomer")" class="text_primary">My HP (OTC) Card Profile</a> </li>
            <li class="breadcrumb-item font-weight-light">View Requested My HP (OTC) Card</li>
        </ul>
        <form method="post" data-ajax="true" data-ajax-controller="MyOTCCardCustomer" data-ajax-action="ViewOTCCards" data-ajax-method="POST" data-ajax-failure="OnFailure">
            <div class="w-100">

                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">View Requested My HP (OTC) Card</p>
                        <div class="alert alert-danger alert-cust-success" id="dvRemarks" style="@(Model.Remarks=="" ? "display:none":"display:block")">
                            @Html.DisplayFor(m => m.Remarks)
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Region Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.CustomerRegionID, new SelectList(Model.RegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })
                                                <span class="error" id="CustomerRegionID_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"></label>
                                        <div class="col-md-7 col-12">
                                            <div class="d-flex align-items-center justify-content- mt-0 mb-3">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" id="btnSearch" type="button">@Label.Search</button>
                                                </div>
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" onclick="ResetFields();">@Label.Reset</button>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                        
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="ViewRequestedMyHPOTCCardTbl">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    function ResetFields() {

        ViewRequestedMyHPOTCCardTbl.style.display = "none";
        $("#CustomerRegionID").val(0);
        document.getElementById("CustomerRegionID_error").innerHTML = "";
    };



    $("#CustomerRegionID").change(function () {
        var id = this.value;
        if (id != 0) {
            document.getElementById("CustomerRegionID_error").innerHTML = "";
        }
    });


    $("#btnSearch").click(function () {
        var RegionID = document.getElementById("CustomerRegionID").value;
        console.log(RegionID);
        if (RegionID == '' || RegionID == "0") {
            //alert('Enter Vehicle No');
            document.getElementById("CustomerRegionID_error").innerHTML = "Please Select Region Name";
            return;
        }
        else {
            document.getElementById("CustomerRegionID_error").innerHTML = "";
        }

        var result = false;

       ViewRequestedMyHPOTCCardTbl.style.display = "block";

        $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetAllViewCardsForOtcCard", "MyHpOTCCardCustomer")',
            contentType: "application/json; charset=utf-8",
            data: { RegionalId: RegionID },  // data to submit
            dataType: "text",
            success: function (data, status, xhr) {
                    var v = data;
                    //console.log(data);
                    if (status == 'success') {
                        $("#ViewRequestedMyHPOTCCardTbl").html(data);
                        $('html, body').animate({
                            scrollTop: $("#ViewRequestedMyHPOTCCardTbl").offset().top
                        }, 2000);
                    }
                    else {
                        console.log(v);
                    }
                },
            error: function (jqXhr, textStatus, errorMessage) {
                document.getElementById("CustomerRegionID_error").innerHTML = "Error populating card details";
                ViewRequestedMyHPOTCCardTbl.style.display = "none";

            }
        });

    });

</script>