@model HPCL.Common.Models.ResponseModel.JCB.GetJCBDealerCardDispatchResponse
@using HPCL.Common.Resources

<p class="text_primary px-0 py-2 m-0 font-weight-bold" style="font-size: 12px;">Dispatch Details</p>
@if (Model.Data.Count() > 0)
{
    <div class="clearfix"></div>
    <table class="table table-striped d-md-table table-bordered table-responsive" style="width:100%;" id="tblCustomer">
        <thead>
            <tr>
                <th>Card No.</th>
                <th>Dispatch Date</th>
                <th>Courier Name</th>
                <th>AirwaysBill No.</th>
                <th>Status</th>
                <th>Delivered To</th>
                <th>Delivery Date</th>
                <th>Return Reason</th>
                @*<th>MO Comments</th>*@
            </tr>
        </thead>
        <tbody class="bg-white">
            @{
                int Sno = 1;
            }
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@item.CardNo</td>
                    <td>@item.DispatchDate</td>
                    <td>@item.CourierName</td>
                    <td>@item.AirwaysBillNo</td>
                    <td>@item.DispatchStatus</td>
                    <td>@item.DeliveredTo</td>
                    <td>@item.DeliveryDate</td>
                    <td>@item.ReturnReason</td>
                    @*<td>@item.MOComments</td>*@
                </tr>
                Sno++;
            }
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('.table').DataTable({
    //        "lengthMenu": [10, 20, 50, 100, 200, 500],
    //        "oLanguage": {
    //            "sLengthMenu": "Display _MENU_ Records",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ Records",
    //        }
    //    });
    //});

</script>