<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBDealerEnrollment", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>JCB Dealer Enrollment</h4>
                        <p>JCB Dealer Enrollment</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBDealerOTCCardRequest", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>JCB Dealer OTC Card Request</h4>
                        <p>JCB Dealer OTC Card Request</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewJCBUnmappedOTCCards", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>JCB Unmapped OTC Cards</h4>
                        <p>JCB Unmapped OTC Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBCustomerEnrollment", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>JCB Customer Enrollment</h4>
                        <p>JCB Customer Enrollment</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBManageProfile", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Profile</h4>
                        <p>Manage Profile</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBResetPasswordByMo", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Reset Password</h4>
                        <p>Reset Password of Customer by MO</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBManageCards", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Cards</h4>
                        <p>Manage Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBAddOrEditMobile", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Map Mobile No</h4>
                        <p>Map Mobile No</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("JCBHotlistAndReactivate", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Hotlist/Reactivate</h4>
                        <p>Hotlist Customer/Card</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewJCBDealerOTCCardStatus", "JCB")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View JCB Dealer OTC Card Status</h4>
                        <p>View JCB Dealer OTC Card Status</p>
                    </div>
                </a>
            </div>
            
        </div>
    </div>
</div>