@model HPCL.Common.Models.ViewModel.JCB.JCBCustomerAdvancedSearchModel

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","JCB")" class="text_primary">JCB Dashboard</a> </li>
            <li class="breadcrumb-item font-weight-light">Advance Search </li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">Advance Search </p>
                        <div class="offset-lg-2 col-lg-8 col-md-12 col-12 py-3 bg-white">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer Name : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerName, new { @class = "form-control", autocomplete = "off", maxlength = "50" })
                                                @Html.ValidationMessageFor(m => m.CustomerName, "", new {@id="CustomerNameMsg", @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionCustomerName, "YES", new { @id = "rbtnCustomerName",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionCustomerName, "NO", new { @id = "rbtnCustomerName",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Form Number : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FormNumber, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.FormNumber, "", new {@id="FormNumberErrMsg", @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionFormNumber, "YES", new { @id = "rbtnFormNumber",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionFormNumber, "NO", new { @id = "rbtnFormNumber",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new {@id="CustomerIdErrMsg", @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionCustomerId, "YES", new { @id = "rbtnCustomerId",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionCustomerId, "NO", new { @id = "rbtnCustomerId",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer Type : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.CustomerType, new SelectList(Model.lstCustomerType, "CustomerTypeID", "CustomerTypeName"), new { @class = "form-control", disabled = "disabled" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionCustomerType, "YES", new { @id = "rbtnCustomerType",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @*<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                    <label class="form-check-label" for="inlineRadio2">OR</label>*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.CustomerZonalOfficeMdl, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control" })
                                                <span class="error" id="zonalOffice_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionZonalOffice, "YES", new { @id = "rbtnZonalOffice",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionZonalOffice, "NO", new { @id = "rbtnZonalOffice",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Regional Office : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.RegionalOfficeID, new SelectList(Model.CustomerRegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })
                                                <span class="error" id="regionalOffice_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionRegionalOffice, "YES", new { @id = "rbtnRegionalOffice",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionRegionalOffice, "NO", new { @id = "rbtnRegionalOffice",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">PinCode : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Pincode, new { @class = "form-control", maxlength = "6", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.Pincode, "", new {@id="PincodeErrMsg", @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionPincode, "YES", new { @id = "rbtnPincode",@class="radio-button" })
                                                    <span class="ml-2">AND</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-6">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionPincode, "NO", new { @id = "rbtnPincode",@class="radio-button" })
                                                    <span class="ml-2">OR</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Mobile : </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control",maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                @Html.ValidationMessageFor(m => m.MobileNo, "", new {@id="MobileNoErrMsg", @class = "error" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-8 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">&nbsp;</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <div class="form-check form-check-inline">
                                                    @Html.RadioButtonFor(m => m.OptionResult, "YES", new { @id = "rbtnResult",@class="radio-button" })
                                                    <span class="ml-2">Result in Grid</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <div class="col-md-12 col-12">
                                            <div class="d-flex align-items-center justify-content-center mt-0">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="button" id="btnSearch">Search</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                @*<div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                    <table id="UserMappingTable" class="table table-striped d-block table-bordered table-responsive mt-3 nowrap" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S.No</th>
                                <th>Customer Name</th>
                                <th>Form Number</th>
                                <th>Customer ID</th>
                                <th>Customer Type</th>
                                <th>Regional Office</th>
                                <th>Zonal Office</th>
                                <th>User Name</th>
                                <th>Status</th>
                                <th>Name On Card</th>
                                <th>Residence Type</th>
                                <th>Constitution</th>
                                <th>IT Permanent A/C</th>
                                <th>Bank Name</th>
                                <th>Bank Branch Name</th>
                                <th>Bank Account Number</th>
                                <th>Control Card No.</th>
                                <th>City</th>
                                <th>State</th>
                                <th>PinCode</th>
                                <th>Office Phone</th>
                                <th>Mobile</th>
                                <th>Email</th>
                                <th>District</th>
                                <th>Sales Area</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Sandeep Saxena1</td>
                                <td>9000080112</td>
                                <td>2001164283</td>
                                <td>DICV Customer</td>
                                <td>DELHI RRO</td>
                                <td>NORTH ZONE</td>
                                <td>2001164283</td>
                                <td>Hotlist</td>
                                <td>Sandeep Kumar</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>1600473685</td>
                                <td>Basant Vihar Vasant</td>
                                <td>DELHI</td>
                                <td>112233</td>
                                <td>0120-3254656546</td>
                                <td>9716010245</td>
                                <td>sandeep.saxena@commdel.net</td>
                                <td>NEW DELHI</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Sandeep Saxena1</td>
                                <td>9000080112</td>
                                <td>2001164283</td>
                                <td>DICV Customer</td>
                                <td>DELHI RRO</td>
                                <td>NORTH ZONE</td>
                                <td>2001164283</td>
                                <td>Hotlist</td>
                                <td>Sandeep Kumar</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>1600473685</td>
                                <td>Basant Vihar Vasant</td>
                                <td>DELHI</td>
                                <td>112233</td>
                                <td>0120-3254656546</td>
                                <td>9716010245</td>
                                <td>sandeep.saxena@commdel.net</td>
                                <td>NEW DELHI</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Sandeep Saxena1</td>
                                <td>9000080112</td>
                                <td>2001164283</td>
                                <td>DICV Customer</td>
                                <td>DELHI RRO</td>
                                <td>NORTH ZONE</td>
                                <td>2001164283</td>
                                <td>Hotlist</td>
                                <td>Sandeep Kumar</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>1600473685</td>
                                <td>Basant Vihar Vasant</td>
                                <td>DELHI</td>
                                <td>112233</td>
                                <td>0120-3254656546</td>
                                <td>9716010245</td>
                                <td>sandeep.saxena@commdel.net</td>
                                <td>NEW DELHI</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Sandeep Saxena1</td>
                                <td>9000080112</td>
                                <td>2001164283</td>
                                <td>DICV Customer</td>
                                <td>DELHI RRO</td>
                                <td>NORTH ZONE</td>
                                <td>2001164283</td>
                                <td>Hotlist</td>
                                <td>Sandeep Kumar</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>&nbsp;</td>
                                <td>1600473685</td>
                                <td>Basant Vihar Vasant</td>
                                <td>DELHI</td>
                                <td>112233</td>
                                <td>0120-3254656546</td>
                                <td>9716010245</td>
                                <td>sandeep.saxena@commdel.net</td>
                                <td>NEW DELHI</td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>*@
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="viewALOTCCardDealerAllocationTbl" style="overflow: scroll; width: 1100px;">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<script>
     $(document).ready(function () {

              $('select').SumoSelect({
                placeholder: '-Select-',
                search: true,
                searchText: 'Enter Text here.'
              });
     });

     $("#ZonalOfficeId").change(function () {
            var id = this.value;
            if (id != 0) 
            {
                $("#zonalOffice_error").html("");
            }
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetRegionalDetails", "JCB")',
                data: { ZonalOfficeID: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') 
                    {
                        $("#RegionalOfficeID").html("");
                        //$('<option>',
                        //        {
                        //            value: 0,
                        //            text: data.regionalOfficeName
                        //        }).html(data.regionalOfficeName).appendTo("#RegionalOfficeID");
                        $.each(data, function (i, data) 
                        { // bind the dropdown list using json result
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#RegionalOfficeID");
                        });
                        $("#RegionalOfficeID")[0].sumo.reload();
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating Customer Region");
                }
            });
        });

         $("#btnSearch").click(function () {
             //debugger;
             
                var customerName = $("#CustomerName").val();
                var optionCustomerName = $("input[name='OptionCustomerName']:checked").val();
                var formNumber = $("#FormNumber").val();
                var optionFormNumber = $("input[name='OptionFormNumber']:checked").val();
                var customerId = $("#CustomerId").val();
                var optionCustomerId = $("input[name='OptionCustomerId']:checked").val();
                var customerType = $("#CustomerType").val();
                var optionCustomerType = $("input[name='OptionCustomerId']:checked").val();
                var zonalOfficeId = $("#ZonalOfficeId").val();
                var optionZonalOffice = $("input[name='OptionZonalOffice']:checked").val();
                var RegionalOfficeId = $("#RegionalOfficeID").val();
                var optionRegionalOffice = $("input[name='OptionRegionalOffice']:checked").val();
                var Pin = $("#Pincode").val();
                var optionPincode = $("input[name='OptionPincode']:checked").val();
                var MobileNo = $("#MobileNo").val();

                var getAllData = [];

                getAllData.push({
                    CustomerName: customerName,
                    OptionCustomerName: optionCustomerName,
                    FormNumber: formNumber,
                    OptionFormNumber:optionFormNumber,
                    Customerid: customerId,
                    OptionCustomerId: optionCustomerId,
                    CustomerType: customerType,
                    OptionCustomerType: optionCustomerType,
                    ZonalOfficeId: zonalOfficeId,
                    OptionZonalOffice: optionZonalOffice,
                    RegionalOfficeID: RegionalOfficeId,
                    OptionRegionalOffice: optionRegionalOffice,
                    Pincode: Pin,
                    OptionPincode: optionPincode,
                    MobileNo: MobileNo
                })

             viewALOTCCardDealerAllocationTbl.style.display = "block";

             $.ajax({
                url: "@Url.Action("GetJCBAdvancedSearch", "JCB")",
                type: "POST",
                data: { str: JSON.stringify(getAllData) },
                dataType: "text",
                success: function (data, status, xhr) {
                     var v = data;
                     if (status == 'success')
                     {
                         $("#viewALOTCCardDealerAllocationTbl").html(data);
                         $('html, body').animate({
                             scrollTop: $("#viewALOTCCardDealerAllocationTbl").offset().top
                         }, 2000);
                         //$("#DealerCode").prop('readonly', true);
                     }
                     else
                     {
                         console.log(v);
                         //$("#DealerCode").prop('readonly', false);
                     }
                 },
                 error: function (jqXhr, textStatus, errorMessage) 
                 {
                     alert("Error");
                    //$("#DealerCode").prop('readonly', false);
                 }
             });


         });

</script>