@model List<HPCL.Common.Models.ViewModel.Officers.OfficerDetailsTableModel>
@using HPCL.Common.Resources

<table id="OfficerTable" class="table table-striped table-bordered dt-responsive nowrap mt-3" style="width:100%">
    <thead>
        <tr>
            <th>@Label.ZO</th>
            <th>@Label.RO</th>
            <th>@Label.State</th>
            <th>@Label.District</th>
            <th>@Label.MarketingOfficerName</th>
            <th>@Label.MarketingOfficerEmail</th>
            <th>@Label.ZonalOfficer</th>
            <th>@Label.ZonalOfficerEmail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ZonalOfficeName</td>
                <td>@item.RegionalOfficeName</td>
                <td>@item.StateName</td>
                <td>@item.DistrictName</td>
                <td>@item.MarketingOfficerName</td>
                <td>@item.MarketingOfficerEmail</td>
                <td>@item.ZonalOfficerName</td>
                <td>@item.ZonalOfficerEmail</td>
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>
