@model HPCL_Web.Models.OfficerModel

    <marquee width="100%" direction="left" height="30%">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
    <div class="col-lg-12 p-4 p-md-4">
        <div class="bg-white p-2 p-md-4">
            <h5>Manage Officers</h5>
            @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@
            @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
            {
                <div class="tab-content mt-3" id="myTabContent">
                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                        <div class="w-100">
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div class="border-1 rounded border-grey"></div>
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                                <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                    <div>
                                        <div class="py-2 pr-4 pl-0 pr-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">First Name <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <span class="error" id="firstName_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">User Name <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                                    </div>
                                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="userName_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Location <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        <select id="location" class="form-control"></select>
                                                        @Html.ValidationMessageFor(m => m.LocationID, "", new { @class = "text-danger" })
                                                    </div>
                                                    <span class="error" id="location_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                    <div>
                                        <div class="py-2 pr-4 pl-0 pr-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Last Name</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="row">
                                                        <div class="col-4 col-12">
                                                            <div class="custom_select">
                                                                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                            </div>
                                                            <span class="error" id="lastName_error"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Officer Type <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.DropDownListFor(m => m.OfficerTypeID, new SelectList(Model.OfficerTypeMdl, "OfficerID", "OfficerTypeName"), new { @class = "form-control" })
                                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="officerType_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div class="border-1 rounded border-grey"></div>
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                                <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                    <div>
                                        <div class="py-2 pr-4 pl-0 pr-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Address 1 <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                                    </div>
                                                    <span class="error" id="address1_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="address3_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap" id="statediv">
                                                <label class="font-weight-normal col-md-5 col-12">State <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control" })
                                                    <span class="error" style="font-size: 14px; color: #dc3545 !important " id="state_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Pin</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
                                                    <span class="error" id="pin_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Phone</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="phone_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="fax_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                    <div>
                                        <div class="py-2 pr-4 pl-0 pr-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Address 2</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="row">
                                                        <div class="col-4 col-12">
                                                            <div class="custom_select">
                                                                @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                                            </div>
                                                            <span class="error" id="address2_error"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">City</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                                    <span class="error" id="city_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">District <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        <select id="district" class="form-control"></select>
                                                        @Html.ValidationMessageFor(m => m.District, "", new { @class = "text-danger" })
                                                        @*@Html.DropDownListFor(m => m.OfficerType, new SelectList(Model.OfficerTypeMdl, "OfficerID", "OfficerTypeName"))*@
                                                    </div>
                                                    <span class="error" id="district_error"></span>

                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Mobile<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                        <span class="error" id="mobile_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Email<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                    <span class="error" id="email_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn" type="button" id="btnAdd" name="submit" style="background-color:#084693;color:white;">Add</button>
                                    <button class="btn" type="button" id="btnCancel" name="cancel" style="background-color:#084693;color:white;">Cancel</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            }
            @*</form>*@
        </div>
    </div>

    <script type="text/javascript">
        $("#btnAdd").click(function () {
            let flag = 'Y';
            let firstName = $("#FirstName").val();
            let userName = $("#UserName").val();
            let address1 = $("#Address1").val();
            let mobile = $("#Mobile").val();
            let email = $("#Email").val();

            if ($("#OfficerTypeID").val() == 0) {
                $("#officerType_error").html("Officer Type is required");
                flag = 'N';
            }
            if ($("#State").val() == 0) {
                $("#statediv").addClass("btmMargin");
                $("#state_error").html("State is required");
                flag = 'N';
            }
            if ($.trim(firstName) == "" || $.trim(userName) == "" || $.trim(address1) == ""
                || $.trim(mobile) == "" || $.trim(email) == "") {
                flag = 'NS';
            }
            if (flag == 'Y' || flag == 'NS') {
                $("#form1").submit();
            }
        });
        $("#OfficerTypeID").change(function () {
            var id = this.value;

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetLocationDetails", "Officer")',
                data: { OfcrType: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#location").html(v);
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating Location Data");
                }
            });
        });
        $("#State").change(function () {
            var id = this.value;

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetDistrictDetails", "Officer")',
                data: { Stateid: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#district").html(v);
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating District Data");
                }
            });
        });
        $("#UserName").on("blur", function () {
            var UserName = this.value;

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("ValidateUserName", "Officer")',
                data: { userName: UserName },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success' && v == 'Y') {
                        $("#userName_error").html("User Name Exists");
                    }
                    else {
                        $("#userName_error").html("");
                        console.log(v);
                    }
                }
            });
        });
    </script>