@model HPCL.Common.Models.ViewModel.Officers.OfficerModel
@using HPCL.Common.Resources

<div class="bg-white p-2 p-md-4 w-100">
    <h5>Manage Officers</h5>
    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1", name = "form1" }))
    {
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="w-100">
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div class="border-1 rounded border-grey">
                            @if (Model.Error != "")
                            {
                                <div id="error" class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;">@Model.Error</div>
                            }
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                            <div class="py-3 d-flex align-items-center justify-content-start flex-wrap">
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.FirstName <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })*@
                                            </div>
                                            <span class="error" id="firstName_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 offset-md-1 mb-0">@Label.LastName</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="lastName_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100" id="userNamediv">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0" id="userNameLabel">@Label.UserName <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                @*@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })*@
                                            </div>
                                            <span class="error" id="userName_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 offset-md-1 mb-0">@Label.OfficerType <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.OfficerTypeID, new SelectList(Model.OfficerTypeMdl, "OfficerTypeID", "OfficerTypeName"), new { @class = "form-control", onchange = "getLocation()" })
                                            <span class="error" id="officerType_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Location <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select id="location" class="form-control"></select>
                                            </div>
                                            <span class="error" id="location_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2" id="commAddressForm">
                        <div class="border-1 rounded border-grey">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address<br />(if different from Retail Outlet Address)</p>
                            <div class="py-3 d-flex align-items-center justify-content-start flex-wrap">
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Address1 <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                            </div>
                                            <span class="error" id="address1_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Address2</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="address2_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Address3</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="address3_error"></span>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Mobile<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                <span class="error" id="mobile_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Email<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            <span class="error" id="email_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.City</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                            <span class="error" id="city_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100" id="statediv">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.State <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control", onchange = "getDistrict()" })
                                            <span class="error" id="state_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100" id="districtdiv">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.District <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select id="district" class="form-control"></select>
                                            </div>
                                            <span class="error" id="district_error"></span>
                                        </div>
                                    </div>
                                </div>
                                @*<div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                        <div class="form-group d-flex align-items-center flex-wrap w-100" id="statediv">
                                            <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.State <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control", onchange = "getDistrict()" })
                                                <span class="error" id="state_error"></span>
                                            </div>
                                        </div>
                                    </div>*@
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Pin</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Phone</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="phone_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="form-group d-flex align-items-center flex-wrap w-100">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="fax_error"></span>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div style="display:none;">@Html.TextBoxFor(m => m.LocationID)</div>
                    <div style="display:none;">@Html.TextBoxFor(m => m.DistrictID)</div>
                    <div style="display:none;">@Html.TextBoxFor(m => m.OfficerTypeName)</div>
                    @*<div id="Error" style="font-size: 14px; color: #dc3545 !important; text-align: center;">@Html.Raw(ViewBag.Message)</div>*@
                    <div class="clearfix"></div>

                    <div class="d-flex align-items-center justify-content-center flex-wrap mt-3 px-4 w-100 mb-3">
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <button class="btn btn_primary" type="submit" onclick="CreateOfficer();">@Label.Add</button>
                        </div>
                        <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                            <a asp-controller="Officer" asp-action="Details" class="btn btn_primary" type="button">@Label.Cancel</a>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    }
</div>

<script type="text/javascript">
    var ofcrTypeID = $("#OfficerTypeID").val();
    var locationID = $("#LocationID").val();
    var districtID = $("#DistrictID").val();
    var stateID = $("#State").val();
    var message = "@ViewBag.Message";

    $(document).ready(function () {
        if (message != "") {
            getLocation();
            getDistrict();
        }
    });

    //$("#btnAdd").click(function () {
    //    let flag = 'Y';
    //    let firstName = $("#FirstName").val();
    //    let userName = $("#UserName").val();
    //    let address1 = $("#Address1").val();
    //    let mobile = $("#Mobile").val();
    //    let email = $("#Email").val();

    //    if ($("#OfficerTypeID").val() == 0) {
    //        $("#officerType_error").html("Officer Type is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#officerType_error").html("");
    //    }
    //    if ($("#State").val() == 0) {
    //        $("#statediv").addClass("btmMargin");
    //        $("#state_error").html("State is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#state_error").html("");
    //    }
    //    if ($("#location").val() == 0) {
    //        $("#location_error").html("Location is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#location_error").html("");
    //    }
    //    if ($("#district").val() == 0) {
    //        $("#districtdiv").addClass("btmMargin");
    //        $("#district_error").html("State is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#district_error").html("");
    //    }
    //    if ($.trim(firstName) == "" || $.trim(userName) == "" || $.trim(address1) == ""
    //        || $.trim(mobile) == "" || $.trim(email) == "") {
    //        flag = 'NS';
    //    }

    //    if (flag == 'N') {
    //        $("#form1").submit(function (e) {
    //            e.preventDefault();
    //        });
    //    }
    //    else {
    //        $("#form1").unbind().submit();
    //    }
    //});

    function CreateOfficer() {

        var ret = "Y";

        //$("#OfficerTypeName").val($('#OfficerTypeID :selected').text());
        if (document.form1.FirstName.value == "") {
            document.getElementById("firstName_error").innerHTML = "First Name is required";
            document.form1.FirstName.focus();
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            ret = "N";
        }
        else if (!document.form1.FirstName.value.match(nameCheck)) {
            document.getElementById("firstName_error").innerHTML = "First Name has invalid characters";
            if (ret != "N") {
                document.form1.FirstName.focus();
            }
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            ret = "N";
        }
        else {
            document.getElementById("firstName_error").innerHTML = "";
        }

        if (document.form1.LastName.value != "") {
            if (!document.form1.LastName.value.match(nameCheck)) {
                document.getElementById("lastName_error").innerHTML = "Last Name has invalid characters";
                if (ret != "N") {
                    document.form1.LastName.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
        }

        if (document.form1.UserName.value == "") {
            document.getElementById("userName_error").innerHTML = "User Name is required";
            if (ret != "N") {
                document.form1.UserName.focus();
            }
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            ret = "N";
        }
        else {
            document.getElementById("userName_error").innerHTML = "";
        }

        if (document.form1.OfficerTypeID.value == "" || document.form1.OfficerTypeID.value == "0") {
            document.getElementById("officerType_error").innerHTML = "Officer Type is required";
            if (ret != "N") {
                document.form1.OfficerTypeID.focus();
            }
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            ret = "N";
        }
        else {
            document.getElementById("officerType_error").innerHTML = "";
        }

        if (document.form1.location.value == "" || document.form1.location.value == "0") {
            document.getElementById("location_error").innerHTML = "Location is required";
            if (ret != "N") {
                document.form1.location.focus();
            }
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            ret = "N";
        }
        else {
            document.getElementById("location_error").innerHTML = "";
        }

        if ($('#OfficerTypeID :selected').text() != "RBE") {

            if (document.form1.Address1.value == "") {
                document.getElementById("address1_error").innerHTML = "Address 1 is required";
                if (ret != "N") {
                    document.form1.Address1.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else {
                document.getElementById("address1_error").innerHTML = "";
            }

            if (document.form1.State.value == "" || document.form1.State.value == "0") {
                document.getElementById("state_error").innerHTML = "State is required";
                if (ret != "N") {
                    document.form1.State.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else {
                document.getElementById("state_error").innerHTML = "";
            }

            if (document.form1.district.value == "" || document.form1.district.value == "0") {
                document.getElementById("district_error").innerHTML = "District is required";
                if (ret != "N") {
                    document.form1.district.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else {
                document.getElementById("district_error").innerHTML = "";
            }

            if (document.form1.Mobile.value == "") {
                document.getElementById("mobile_error").innerHTML = "Mobile is required";
                if (ret != "N") {
                    document.form1.Mobile.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else if (!document.form1.Mobile.value.match(phoneno)) {
                document.getElementById("mobile_error").innerHTML = "Mobile Number should have 10 Digits";
                if (ret != "N") {
                    document.form1.Mobile.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else {
                document.getElementById("mobile_error").innerHTML = "";
            }

            if (document.form1.Email.value == "") {
                document.getElementById("email_error").innerHTML = "Email Id is required";
                if (ret != "N") {
                    document.form1.Email.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else if (!document.form1.Email.value.match(email)) {
                document.getElementById("email_error").innerHTML = "Invalid Email Address";
                if (ret != "N") {
                    document.form1.Email.focus();
                }
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                ret = "N";
            }
            else {
                document.getElementById("email_error").innerHTML = "";
            }
        }
        var confirmstring = "Are you sure ?";
        if (ret == "Y") {
            if (confirm(confirmstring)) {
                $("#form1").unbind().submit();
            }
        }
    };

    function getLocation() {
        var id = $('#OfficerTypeID :selected').val();
        var name = $('#OfficerTypeID :selected').text();

        if (name == "RBE") {
            $("#userNameLabel").html("Emp. ID *");
            $("#commAddressForm").hide();
        }
        else if (name == "RSM"){
            $("#userNameLabel").html("Emp. ID *");
            $("#commAddressForm").show();
        }
        else {
            $("#userNameLabel").html("User Name *");
            $("#commAddressForm").show();
        }

        if (ofcrTypeID != "" && ofcrTypeID != "0") {
            id = ofcrTypeID;
        }
        if (id != 0) {
            $("#officerType_error").html("");
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLocationDetails", "Common")',
            data: { OfcrType: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    if (id == "1" || id == "4" || id == "6") {
                        $("#location").html("");
                        $.each(data, function (i, data) {
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "Select Location"
                                    }).html("Select Location").appendTo("#location");
                                if (data.regionalOfficeID == locationID) {
                                    $('<option selected = "selected">',
                                        {
                                            value: data.regionalOfficeID,
                                            text: data.regionalOfficeName
                                        }).html(data.regionalOfficeName).appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: data.regionalOfficeID,
                                            text: data.regionalOfficeName
                                        }).html(data.regionalOfficeName).appendTo("#location");
                                }
                            }
                            else if (data.regionalOfficeID == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }
                        });
                    }
                    else if (id == "3" || id == "5") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "Select Location"
                                    }).html("Select Location").appendTo("#location");
                                if (data.zonalOfficeID == locationID) {
                                    $('<option selected = "selected">',
                                        {
                                            value: data.zonalOfficeID,
                                            text: data.zonalOfficeName
                                        }).html(data.zonalOfficeName).appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: data.zonalOfficeID,
                                            text: data.zonalOfficeName
                                        }).html(data.zonalOfficeName).appendTo("#location");
                                }
                            }
                            else if (data.zonalOfficeID == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                        });
                    }
                    else if (id == "2") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "Select Location"
                                    }).html("Select Location").appendTo("#location");
                                if (data.hqCode == locationID) {
                                    $('<option selected = "selected">',
                                        {
                                            value: data.hqid,
                                            text: data.hqName
                                        }).html(data.hqName).appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: data.hqid,
                                            text: data.hqName
                                        }).html(data.hqName).appendTo("#location");
                                }
                            }
                            else if (data.hqCode == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.hqid,
                                        text: data.hqName
                                    }).html(data.hqName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.hqid,
                                        text: data.hqName
                                    }).html(data.hqName).appendTo("#location");
                            }
                        });
                    }
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Location Data");
            }
        });
    };

    function getDistrict() {
        //var id = this.value;
        var id = $('#State :selected').val();
        if (stateID != "" && stateID != "0") {
            id = stateID;
        }

        if (id != 0) {
            $("#state_error").html("");
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetDistrictDetails", "Common")',
            data: { Stateid: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == 0) {
                            $('<option>',
                                {
                                    value: 0,
                                    text: "Select District"
                                }).html("Select District").appendTo("#district");
                            if (data.districtID == districtID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.districtID,
                                        text: data.districtName
                                    }).html(data.districtName).appendTo("#district");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.districtID,
                                        text: data.districtName
                                    }).html(data.districtName).appendTo("#district");
                            }
                        }
                        else if (data.districtID == districtID) {
                            $('<option selected = "selected">',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating District Data");
            }
        });
    };

    $("#location").change(function () {
        var id = this.value;
        $("#LocationID").val(id);
    });

    $("#district").change(function () {
        var id = this.value;
        $("#DistrictID").val(id);
    });

    $("#UserName").on("blur", function () {
        var UserName = this.value;
        if (UserName != "") {
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("ValidateUserName", "Common")',
                data: { userName: UserName },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success' && v == '0') {
                        $("#userNamediv").addClass("btmMargin");
                        $("#userName_error").html("User Name Exists");
                    }
                    else {
                        $("#userName_error").html("");
                        console.log(v);
                    }
                }
            });
        }
    });

    $("#FirstName").on("blur", function () {
        if ($("#FirstName").val().length > 0) {
            document.getElementById("firstName_error").innerHTML = "";
        }
    });
    $("#UserName").on("blur", function () {
        if ($("#UserName").val().length > 0) {
            document.getElementById("userName_error").innerHTML = "";
        }
    });
    $("#OfficerTypeID").on("blur", function () {
        if ($("#OfficerTypeID").val().length > 0) {
            document.getElementById("officerType_error").innerHTML = "";
        }
    });
    $("#location").on("blur", function () {
        if ($("#location").val().length > 0) {
            document.getElementById("location_error").innerHTML = "";
        }
    });
    $("#Address1").on("blur", function () {
        if ($("#Address1").val().length > 0) {
            document.getElementById("address1_error").innerHTML = "";
        }
    });
    $("#State").on("blur", function () {
        if ($("#State").val().length > 0) {
            document.getElementById("state_error").innerHTML = "";
        }
    });
    $("#district").on("blur", function () {
        if ($("#district").val() != null) {
            if ($("#district").val().length > 0) {
                document.getElementById("district_error").innerHTML = "";
            }
        }
    });
    $("#Mobile").on("blur", function () {
        if ($("#Mobile").val().length > 0) {
            document.getElementById("mobile_error").innerHTML = "";
        }
    });
    $("#Email").on("blur", function () {
        if ($("#Email").val().length > 0) {
            document.getElementById("email_error").innerHTML = "";
        }
    });
</script>