@model HPCL_Web.Models.Officer.OfficerModel

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Manage Officers</h5>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1", name = "form1" }))
        {
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">First Name <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })*@
                                                </div>
                                                <span class="error" id="firstName_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap" id="userNamediv">
                                            <label class="font-weight-normal col-md-5 col-12" id="userNameLabel">User Name <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                    @*@Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })*@
                                                </div>
                                                <span class="error" id="userName_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Location <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select id="location" class="form-control"></select>
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="location_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Last Name</label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                        </div>
                                                        <span class="error" id="lastName_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Officer Type <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.DropDownListFor(m => m.OfficerTypeID, new SelectList(Model.OfficerTypeMdl, "OfficerTypeID", "OfficerTypeName"), new { @class = "form-control", onchange = "getLocation()" })
                                                <span class="error" id="officerType_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2" id="commAddressForm">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 1 <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                                </div>
                                                <span class="error" id="address1_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="address3_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap" id="statediv">
                                            <label class="font-weight-normal col-md-5 col-12">State <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control", onchange = "getDistrict()" })
                                                <span class="error" id="state_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Pin</label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Pin, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Phone</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="phone_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="fax_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Address 2</label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                                        </div>
                                                        <span class="error" id="address2_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">City</label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                                <span class="error" id="city_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap" id="districtdiv">
                                            <label class="font-weight-normal col-md-5 col-12">District <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select id="district" class="form-control"></select>
                                                </div>
                                                <span class="error" id="district_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Mobile<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                    <span class="error" id="mobile_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Email<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                <span class="error" id="email_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.LocationID)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.DistrictID)</div>
                        <div id="Error" style="font-size: 14px; color: #dc3545 !important; text-align: center;">@Html.Raw(ViewBag.Message)</div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn" type="submit" style="background-color:#084693;color:white;" onclick="CreateOfficer()">Add</button>
                                <a asp-action="Details" class="btn" type="button" style="background-color:#084693;color:white;">Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    var ofcrTypeID = $("#OfficerTypeID").val();
    var locationID = $("#LocationID").val();
    var districtID = $("#DistrictID").val();
    var stateID = $("#State").val();
    var message = "@ViewBag.Message";

    $(document).ready(function () {
        if (message != "") {
            getLocation();
            getDistrict();
        }
    });

    //$("#btnAdd").click(function () {
    //    let flag = 'Y';
    //    let firstName = $("#FirstName").val();
    //    let userName = $("#UserName").val();
    //    let address1 = $("#Address1").val();
    //    let mobile = $("#Mobile").val();
    //    let email = $("#Email").val();

    //    if ($("#OfficerTypeID").val() == 0) {
    //        $("#officerType_error").html("Officer Type is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#officerType_error").html("");
    //    }
    //    if ($("#State").val() == 0) {
    //        $("#statediv").addClass("btmMargin");
    //        $("#state_error").html("State is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#state_error").html("");
    //    }
    //    if ($("#location").val() == 0) {
    //        $("#location_error").html("Location is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#location_error").html("");
    //    }
    //    if ($("#district").val() == 0) {
    //        $("#districtdiv").addClass("btmMargin");
    //        $("#district_error").html("State is required");
    //        flag = 'N';
    //    }
    //    else {
    //        $("#district_error").html("");
    //    }
    //    if ($.trim(firstName) == "" || $.trim(userName) == "" || $.trim(address1) == ""
    //        || $.trim(mobile) == "" || $.trim(email) == "") {
    //        flag = 'NS';
    //    }

    //    if (flag == 'N') {
    //        $("#form1").submit(function (e) {
    //            e.preventDefault();
    //        });
    //    }
    //    else {
    //        $("#form1").unbind().submit();
    //    }
    //});

    function CreateOfficer() {
        var ret = false;

        if (document.form1.FirstName.value == "") {
            document.getElementById("firstName_error").innerHTML = "First Name is required";
            document.form1.FirstName.focus();
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            return ret;
        }
        else {
            document.getElementById("firstName_error").innerHTML = "";
        }

        if (document.form1.UserName.value == "") {
            document.getElementById("userName_error").innerHTML = "User Name is required";
            document.form1.UserName.focus();
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            return ret;
        }
        else {
            document.getElementById("userName_error").innerHTML = "";
        }

        if (document.form1.OfficerTypeID.value == "") {
            document.getElementById("officerType_error").innerHTML = "Officer Type is required";
            document.form1.OfficerTypeID.focus();
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            return ret;
        }
        else {
            document.getElementById("officerType_error").innerHTML = "";
        }

        if (document.form1.location.value == "") {
            document.getElementById("location_error").innerHTML = "Location is required";
            document.form1.location.focus();
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
            return ret;
        }
        else {
            document.getElementById("location_error").innerHTML = "";
        }

        if ($('#OfficerTypeID :selected').text() != "RBE" && $('#OfficerTypeID :selected').text() != "RSM") {

            if (document.form1.Address1.value == "") {
                document.getElementById("address1_error").innerHTML = "Address 1 is required";
                document.form1.Address1.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else {
                document.getElementById("address1_error").innerHTML = "";
            }

            if (document.form1.State.value == "") {
                document.getElementById("state_error").innerHTML = "State is required";
                document.form1.State.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else {
                document.getElementById("state_error").innerHTML = "";
            }

            if (document.form1.district.value == "") {
                document.getElementById("district_error").innerHTML = "District is required";
                document.form1.district.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else {
                document.getElementById("district_error").innerHTML = "";
            }

            if (document.form1.Mobile.value == "") {
                document.getElementById("mobile_error").innerHTML = "Mobile is required";
                document.form1.Mobile.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else if (!document.form1.Mobile.value.match(phoneno)) {
                document.getElementById("mobile_error").innerHTML = "Mobile Number should have 10 Digits";
                document.form1.Mobile.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else {
                document.getElementById("mobile_error").innerHTML = "";
            }

            if (document.form1.Email.value == "") {
                document.getElementById("email_error").innerHTML = "Email Id is required";
                document.form1.Email.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else if (!document.form1.Email.value.match(email)) {
                document.getElementById("email_error").innerHTML = "Invalid Email Address";
                document.form1.Email.focus();
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
                return ret;
            }
            else {
                document.getElementById("email_error").innerHTML = "";
                ret = true;
            }
        }
        else {
            ret = true;
        }

        if (ret == true) {
            $("#form1").unbind().submit();
        }

    };

    function getLocation() {
        var id = $('#OfficerTypeID :selected').val();
        var name = $('#OfficerTypeID :selected').text();

        if (name == "RBE" || name == "RSM") {
            $("#userNameLabel").html("Emp. ID *");
            $("#commAddressForm").hide();
        }
        else {
            $("#userNameLabel").html("User Name *");
            $("#commAddressForm").show();
        }

        if (ofcrTypeID != "" && ofcrTypeID != "0") {
            id = ofcrTypeID;
        }
        if (id != 0) {
            $("#officerType_error").html("");
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLocationDetails", "Officer")',
            data: { OfcrType: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    if (id == "1" || id == "4" || id == "6") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (data.regionalOfficeID == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }
                        });
                    }
                    else if (id == "3" || id == "5") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (data.zonalOfficeID == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                        });
                    }
                    else if (id == "2") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (data.hqi == locationID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.hqid,
                                        text: data.hqName
                                    }).html(data.hqName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.hqid,
                                        text: data.hqName
                                    }).html(data.hqName).appendTo("#location");
                            }
                        });
                    }
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Location Data");
            }
        });
    };

    function getDistrict() {
        //var id = this.value;
        var id = $('#State :selected').val();
        if (stateID != "" && stateID != "0") {
            id = stateID;
        }

        if (id != 0) {
            $("#state_error").html("");
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetDistrictDetails", "Officer")',
            data: { Stateid: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (data.districtID == districtID) {
                            $('<option selected = "selected">',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating District Data");
            }
        });
    };

    $("#location").change(function () {
        var id = this.value;
        $("#LocationID").val(id);
    });

    $("#district").change(function () {
        var id = this.value;
        $("#DistrictID").val(id);
    });

    $("#UserName").on("blur", function () {
        var UserName = this.value;

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("ValidateUserName", "Officer")',
            data: { userName: UserName },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success' && v == 'Y') {
                    $("#userNamediv").addClass("btmMargin");
                    $("#userName_error").html("User Name Exists");
                }
                else {
                    $("#userName_error").html("");
                    console.log(v);
                }
            }
        });
    });
</script>