@model IEnumerable<HPCL.Common.Models.ViewModel.Officers.OfficerListModel>
@using HPCL.Common.Resources

<div class="mt-1 w-100">
    <marquee width="100%" direction="left">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
</div>
<div class="bg-white p-2 p-md-4 w-100">
    <h5>Manage Officers</h5>
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form1" }))
    {
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="w-100">
                    <div class="border-1 rounded border-grey mb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Search Officer</p>
                        <div class="py-3">
                            <div id="addUpdateMessage" class="mb-3 text-center" style="background-color: #a0f1d6;">@Html.Raw(ViewBag.AddUpdateMessage)</div>
                            <div class="d-flex align-items-center justify-content-start flex-wrap">
                                <div class="col-md-6 col-12 d-flex align-items-center justify-content-start flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.OfficerType</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <select id="officerType" name="officerType" class="form-control" onchange="getLocationFunc()"></select>
                                        </div>
                                        <span class="error" id="district_error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 d-flex align-items-center justify-content-start flex-wrap mb-3">
                                    <label class="font-weight-normal col-md-4 col-12 mb-0 offset-md-1">@Label.Location</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            <select id="location" name="location" class="form-control"></select>
                                        </div>
                                        <span class="error" id="district_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center flex-wrap mt-3 px-4 w-100">
                                <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                    <button class="btn btn_primary">@Label.Search</button>
                                </div>
                                <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                    <a class="btn btn_primary" asp-controller="Officer" asp-action="Create">@Label.AddOfficer</a>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    }
    <table class="datatable table table-striped table-responsive d-md-table d-block text-nowrap display" id="OfficerDetailsTbl" style="width:100%">
        <thead>
            <tr>
                <th style="display:none;">OfficerID</th>
                <th style="">@Label.SerialNumber</th>
                <th style="">@Label.OfficerType</th>
                <th style="">@Label.FirstName</th>
                <th style="">@Label.LastName</th>
                <th style="">@Label.Email</th>
                <th style="">@Label.Mobile</th>
                <th style="">@Label.Location</th>
                <th style="">@Label.Action</th>
            </tr>
        </thead>
        <tbody>
            @{
                int i = 0;
            }
            @foreach (var item in Model)
            {
                i++;
                <tr>
                    <td style="display:none;">@item.OfficerID</td>
                    <td>@i</td>
                    <td>@item.OfficerTypeName</td>
                    <td>@item.FirstName</td>
                    <td>@item.LastName</td>
                    <td>@item.EmailId</td>
                    <td>@item.MobileNo</td>
                    <td>@item.LocationName</td>
                    <td>
                        <div class="d-flex align-items-center justify-content-center">
                            <a asp-action="EditOfficer" asp-route-OfficerID="@item.OfficerID" class="action_btn d-block"><img src="~/assets/images/officerPage/editPage.png" class="img-fluid" /></a>
                            @if (item.OfficerTypeName != "HO")
                            {
                                <a asp-action="EditLocation" asp-route-OfficerID="@item.OfficerID" class="action_btn d-block"><img src="~/assets/images/officerPage/editLocation.png" class="img-fluid" /></a>
                            }
                            <a asp-action="Delete" class="action_btn d-block" asp-route-OfficerID="@item.OfficerID" onclick="return confirm('Are sure wants to delete?');"><img src="~/assets/images/officerPage/delete.png" class="img-fluid" /></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<script type="text/javascript">
    var ofcType = '@ViewBag.OfficerType';
    var loc = '@ViewBag.location';
    var message = '@ViewBag.Message';
    var addupdatemsg = '@ViewBag.AddUpdateMessage';

    $(document).ready(function () {
        if (message != "") {
            alert(message);
        }
        if (addupdatemsg == "") {
            $("#addUpdateMessage").hide();
        }
        else {
            $("#addUpdateMessage").show();
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetOfficerTypeDetails", "Common")',
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#officerType").html("");
                    $.each(data, function (i, data) {
                        if (i == 0) {
                            if (ofcType == 0) {
                                $('<option selected>',
                                    {
                                        value: 0,
                                        text: "All"
                                    }).html("All").appendTo("#officerType");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "All"
                                    }).html("All").appendTo("#officerType");
                            }
                        }
                        if (ofcType == data.officerTypeID) {
                            $('<option>',
                                {
                                    value: data.officerTypeID,
                                    text: data.officerTypeName,
                                    selected: "selected"
                                }).html(data.officerTypeName).appendTo("#officerType");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.officerTypeID,
                                    text: data.officerTypeName
                                }).html(data.officerTypeName).appendTo("#officerType");
                        }
                    });
                    $('<option>',
                        {
                            value: 0,
                            text: "All"
                        }).html(data.regionName).appendTo("#location");
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Location Data");
            }
        });
        if (ofcType != "" && ofcType != "0" && ofcType != null) {
            getLocationFunc();
        }
        
    });

    function getLocationFunc() {
        var id = $('#officerType :selected').val();

        if (ofcType != "" && ofcType != "0" && ofcType != null) {
            id = ofcType;
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLocationDetails", "Common")',
            data: { OfcrType: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    if (id == "1" || id == "4" || id == "6") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                if (loc == 0) {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All",
                                            selected: "selected"
                                        }).html("All").appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All"
                                        }).html("All").appendTo("#location");
                                }
                            }
                            if (loc == data.regionalOfficeID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#location");
                            }

                        });
                    }
                    else if (id == "3" || id == "5") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                if (loc == 0) {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All",
                                            selected: "selected"
                                        }).html("All").appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All"
                                        }).html("All").appendTo("#location");
                                }
                            }
                            if (loc == data.zonalOfficeID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName,
                                        selected: "selected"
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.zonalOfficeID,
                                        text: data.zonalOfficeName
                                    }).html(data.zonalOfficeName).appendTo("#location");
                            }
                        });
                    }
                    else if (id == "2") {
                        $("#location").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                if (loc == 0) {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All",
                                            selected: "selected"
                                        }).html("All").appendTo("#location");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: 0,
                                            text: "All"
                                        }).html("All").appendTo("#location");
                                }
                            }
                            if (loc == data.hqid) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.hqid,
                                        text: data.hqName,
                                        selected: "selected"
                                    }).html(data.hqName).appendTo("#location");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.hqid,
                                        text: data.hqName
                                    }).html(data.hqName).appendTo("#location");
                            }
                        });
                    }
                    else {
                        $('<option>',
                            {
                                value: 0,
                                text: "All"
                            }).html("All").appendTo("#location");
                    }
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Location Data");
            }
        });
    };
</script>