@model HPCL.Common.Models.ViewModel.Officers.OfficerLocationModel
@using HPCL.Common.Resources

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Officer Details</h5>
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
        {
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tlab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Location Mapping</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <table style="border: 1px solid black;border-collapse: collapse;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid black;border-collapse: collapse;">@Label.Regions</th>
                                            <th style="border: 1px solid black;border-collapse: collapse;">@Label.UserName</th>
                                            <th style="border: 1px solid black;border-collapse: collapse;">@Label.Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var item in Model.LocationMappings)
                                            {
                                                <tr>
                                                    <td style="border: 1px solid black;border-collapse: collapse;">@item.ROName</td>
                                                    <td style="border: 1px solid black;border-collapse: collapse;">@Model.UserName</td>
                                                    <td style="border: 1px solid black;border-collapse: collapse;">
                                                        <a asp-action="DeleteLocation" asp-route-userName="@Model.UserName" asp-route-zonalID="@item.ZOId" asp-route-regionalID="@item.ROId" asp-route-officerID="@Model.OfficerID" onclick="return confirm('Are sure wants to delete?');"><img src="~/assets/images/officerPage/delete.png" style="width: 15%;" /></a>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">@Label.AddLocation</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.ZoneOfc <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.DropDownListFor(m => m.ZoneOfcID, new SelectList(Model.ZoneOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getRegionalOfc()" })
                                                </div>
                                                <span class="error" id="zonalOffice_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.RegionalOfc <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select id="regionalOffice" class="form-control"></select>
                                                </div>
                                                <span class="error" id="regionalOffice_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.IsNewUser</label>
                                            <div class="col-md-7 col-12">
                                                @Html.CheckBoxFor(m => m.IsNewUser, new { @class = "form-control", @style = "width: 5%" })
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.UserName <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                <span class="error" id="userName_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.UserName, new { id = "userNameValue" })</div>
                        <div id="Error" style="font-size: 14px; color: #dc3545 !important; text-align: center;">@Html.Raw(ViewBag.Message)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.OfficerID)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.RegionalOfcID)</div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                @*<button class="btn" type="submit" name="submit" style="background-color:#084693;color:white;" onclick="addLocation()">@Label.AddLocation</button>*@
                                <button class="btn btn_primary" type="submit" onclick="addLocationOfficer()">@Label.AddLocation</button>
                                <button class="btn btn_primary" type="submit">@Label.Reset</button>
                                @*<button class="btn" type="submit" name="cancel" style="background-color:#084693;color:white;">@Label.Reset</button>*@
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
    </div>
</div>
<script type="text/javascript">
    var message = "@ViewBag.Message";
    var zonalId = $("#ZoneOfcID").val();

    $(document).ready(function () {
        getRegionalOfc();
    });

    $("#IsNewUser").change(function () {
        if (this.checked) {
            $("#UserName").val("");
        }
        else {
            let userNameVal = $("#userNameValue").val();
            $("#UserName").val(userNameVal);
        }
    });

    function addLocationOfficer() {
        var ret = "Y";

        if (document.form1.ZoneOfcID.value == "" || document.form1.ZoneOfcID.value == "0") {
            document.getElementById("zonalOffice_error").innerHTML = "Zonal Office is required";
            document.form1.ZoneOfcID.focus();
            ret = "N";
        }
        else {
            document.getElementById("zonalOffice_error").innerHTML = "";
        }

        if (document.form1.regionalOffice.value == "" || document.form1.regionalOffice.value == "0") {
            document.getElementById("regionalOffice_error").innerHTML = "Regional Office is required";
            document.form1.regionalOffice.focus();
            ret = "N";
        }
        else {
            document.getElementById("regionalOffice_error").innerHTML = "";
        }

        if (document.form1.UserName.value == "") {
            document.getElementById("userName_error").innerHTML = "User Name is required";
            document.form1.UserName.focus();
            ret = "N";
        }
        else {
            document.getElementById("userName_error").innerHTML = "";
        }
        alert(ret);
        if (ret == "Y") {
            $("#form1").unbind().submit();
        }
        else {
            $("#form1").submit(function (e) {
                e.preventDefault();
            });
        }
    };

    function getRegionalOfc() {
        var id = $('#ZoneOfcID :selected').val();

        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        if (zonalId != 0 && zonalId != "" && zonalId != null) {
            id = zonalId;
        }

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Common")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == 0) {
                            $('<option>',
                                {
                                    value: 0,
                                    text: "--Select--"
                                }).html("--Select--").appendTo("#regionalOffice");
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#regionalOffice");
                        }
                        else {
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#regionalOffice");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };

    $("#regionalOffice").change(function () {
        var id = this.value;
        $("#RegionalOfcID").val(id);
    });
</script>