@model HPCL_Web.Models.Officer.OfficerLocationModel

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Officer Details</h5>
        <form name="applicationForm" onsubmit="return submitForm()" class="w-100">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tlab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Location Mapping</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <table style="border: 1px solid black;border-collapse: collapse;">
                                    <thead>
                                        <tr>
                                            <th style="border: 1px solid black;border-collapse: collapse;">Regions</th>
                                            <th style="border: 1px solid black;border-collapse: collapse;">User Name</th>
                                            <th style="border: 1px solid black;border-collapse: collapse;">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                            <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                            <td style="border: 1px solid black;border-collapse: collapse;"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add Location</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Zone Office <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.DropDownListFor(m => m.ZoneOfcID, new SelectList(Model.ZoneOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getRegionalOfc()" })
                                                </div>
                                                <span class="error" id="zonalOffice_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <select id="regionalOffice" class="form-control"></select>
                                                </div>
                                                <span class="error" id="regionalOffice_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Is New User</label>
                                            <div class="col-md-7 col-12">
                                                @Html.CheckBoxFor(m => m.IsNewUser, new { @class = "form-control", @style = "width: 5%" })
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">User Name <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                <span class="error" id="userName_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.UserName, new { id = "userNameValue"})</div>
                        <div id="Error" style="font-size: 14px; color: #dc3545 !important; text-align: center;">@Html.Raw(ViewBag.Message)</div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn" type="submit" name="submit" style="background-color:#084693;color:white;">Add Location</button>
                                <button class="btn" type="submit" name="cancel" style="background-color:#084693;color:white;">Reset</button>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#IsNewUser").change(function () {
        if (this.checked) {
            $("#UserName").val("");
        }
        else {
            let userNameVal = $("#userNameValue").val();
            $("#UserName").val(userNameVal);
        }
    });

    function getRegionalOfc() {
        var id = $('#ZoneOfcID :selected').val();

        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Officer")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        $('<option>',
                            {
                                value: data.regionalOfficeID,
                                text: data.regionalOfficeName
                            }).html(data.regionalOfficeName).appendTo("#regionalOffice");
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };
</script>