@model HPCL.Common.Models.ViewModel.Officers.OfficerModel
@using HPCL.Common.Resources

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Manage Officers</h5>
        @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
        {
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.FirstName <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                                <span class="error" id="firstName_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.LastName</label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                        </div>
                                                        <span class="error" id="lastName_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.OfficerType <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.DropDownListFor(m => m.OfficerTypeID, new SelectList(Model.OfficerTypeMdl, "OfficerTypeID", "OfficerTypeName"), new { @class = "form-control", disabled = "disabled" })
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="officerType_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Address1 <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                                </div>
                                                <span class="error" id="address1_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Address3</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="address3_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap" id="statediv">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.State <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control" })
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important" id="state_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Pin</label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
                                                <span class="error" id="pin_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Phone</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="phone_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Fax</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="fax_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                                <div>
                                    <div class="py-2 pr-4 pl-0 pr-md-4">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Address2</label>
                                            <div class="col-md-7 col-12">
                                                <div class="row">
                                                    <div class="col-4 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                                        </div>
                                                        <span class="error" id="address2_error"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.City</label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                                <span class="error" id="city_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap" id="districtdiv">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.District <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.DropDownListFor(m => m.DistrictID, new SelectList(Model.OfficerDistrictMdl, "districtID", "districtName"), new { @class = "form-control" })
                                                    <select id="district" class="form-control" style="display:none;"></select>
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="district_error"></span>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Mobile<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                    <span class="error" id="mobile_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">@Label.Email<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                                <span class="error" id="email_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.LocationID)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.DistrictID)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.OfficerID)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.OfficerTypeID)</div>
                        <div id="Error" style="font-size: 14px; color: #dc3545 !important;text-align:center;">@Html.Raw(ViewBag.Message)</div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn" type="submit" id="btnAdd" name="submit" style="background-color:#084693;color:white;">@Label.Save</button>
                                <a asp-action="Details" class="btn" type="button" id="btnCancel" name="cancel" style="background-color:#084693;color:white;">@Label.Cancel</a>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
        @*</form>*@
    </div>
</div>

<script type="text/javascript">
    var ofcrTypeID = $("#OfficerTypeID").val();
    var districtID = $("#DistrictID").val();
    var stateID = $("#State").val();

        $("#btnAdd").click(function () {
            let flag = 'Y';
            let firstName = $("#FirstName").val();
            let address1 = $("#Address1").val();
            let mobile = $("#Mobile").val();
            let email = $("#Email").val();

            if ($("#State").val() == 0) {
                $("#statediv").addClass("btmMargin");
                $("#state_error").html("State is required");
                flag = 'N';
            }
            else {
                $("#state_error").html("");
            }
            if ($("#district").val() == 0) {
                $("#districtdiv").addClass("btmMargin");
                $("#district_error").html("State is required");
                flag = 'N';
            }
            else {
                $("#district_error").html("");
            }
            if ($.trim(firstName) == "" || $.trim(address1) == ""
                || $.trim(mobile) == "" || $.trim(email) == "") {
                flag = 'NS';
            }

            if (flag == 'N') {
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
            }
        });

    $("#State").change(function () {
        var id = this.value;

        if (stateID != "" && stateID != "0") {
            id = stateID;
        }
            $("#DistrictID").hide();
            $("#district").css("display", "block");
            if (id != 0) {
                $("#state_error").html("");
            }


            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetDistrictDetails", "Officer")',
                data: { Stateid: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#district").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            $('<option>',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        });
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating District Data");
                }
            });
        });
        $("#district").change(function () {
            var id = this.value;
            $("#DistrictID").val(id);
        });
</script>