@model HPCL.Common.Models.ViewModel.Officers.OfficerModel
@using HPCL.Common.Resources

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Details", "Officer")" class="text_primary">Manage Officers</a> </li>
            <li class="breadcrumb-item font-weight-light">Edit Officer</li>
        </ul>
        @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@
        @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
        {
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <div class="border-1 rounded border-grey ">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                        <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.FirstName <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                            </div>
                                            <span class="error" id="firstName_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                            <div>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.LastName</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="lastName_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.OfficerType <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.OfficerTypeID, new SelectList(Model.OfficerTypeMdl, "OfficerTypeID", "OfficerTypeName"), new { @class = "form-control", disabled = "disabled" })
                                            <span class="error" style="font-size: 14px; color: #dc3545 !important " id="officerType_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2" id="commAddressForm">
                    <div class="border-1 rounded border-grey">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                        <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Address1 <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Address1, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Address1, "", new { @class = "text-danger" })
                                            </div>
                                            <span class="error" id="address1_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Address3</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Address3, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="address3_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap" id="statediv">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.State <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.State, new SelectList(Model.OfficerStateMdl, "StateID", "StateName"), new { @class = "form-control" , onchange = "getDistrict()"})
                                            <span class="error" id="state_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Pin</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Pin, new { @class = "form-control" })
                                            <span class="error" id="pin_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Phone</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Phone, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="phone_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Fax, new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="fax_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 py-2">
                            <div>
                                <div class="py-2 pr-4 pl-0 pr-md-4">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Address2</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4 col-12">
                                                    <div class="custom_select">
                                                        @Html.TextBoxFor(m => m.Address2, new { @class = "form-control" })
                                                    </div>
                                                    <span class="error" id="address2_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.City</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                            <span class="error" id="city_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap" id="districtdiv">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.District <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @*@Html.DropDownListFor(m => m.DistrictID, new SelectList(Model.OfficerDistrictMdl, "districtID", "districtName"), new { @class = "form-control" })*@
                                                <select id="district" class="form-control"></select>
                                            </div>
                                            <span class="error" id="district_error"></span>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Mobile<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.Mobile, "", new { @class = "text-danger" })
                                                <span class="error" id="mobile_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">@Label.Email<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                                            <span class="error" id="email_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div style="display:none;">@Html.TextBoxFor(m => m.LocationID)</div>
                <div style="display:none;">@Html.TextBoxFor(m => m.DistrictID)</div>
                <div style="display:none;">@Html.TextBoxFor(m => m.OfficerID)</div>
                <div style="display:none;">@Html.TextBoxFor(m => m.OfficerTypeID)</div>
                <div id="Error" style="font-size: 14px; color: #dc3545 !important;text-align:center;">@Html.Raw(ViewBag.Message)</div>
                <div class="clearfix"></div>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <div class="px-2">
                        <button class="btn btn_primary" type="submit" id="btnAdd" name="submit">@Label.Save</button>
                    </div>
                    <div class="px-2">
                        <a asp-action="Details" class="btn btn_primary" type="button" id="btnCancel" name="cancel">@Label.Cancel</a>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>

        }
        @*</form>*@
    </div>
</div>

<script type="text/javascript">
    var ofcrTypeID = $("#OfficerTypeID").val();
    var districtID = $("#DistrictID").val();
    var stateID = $("#State").val();

    $(document).ready(function () {
        if ($('#OfficerTypeID :selected').text() == "RBE") {
            $("#commAddressForm").hide();
        }
        getDistrict();
        var ret="Y";
    });

        $("#btnAdd").click(function () {
            let flag = 'Y';
            let firstName = $("#FirstName").val();
            let address1 = $("#Address1").val();
            let mobile = $("#Mobile").val();
            let email = $("#Email").val();
            if (firstName.trim() == "") {
                document.getElementById("firstName_error").innerHTML = "First Name is required";
                flag = 'N';
            }
            else if (!(firstName.match(nameWithNumCheck))|| !(firstName.match(atLeastOneAlphabet))) {
                document.getElementById("firstName_error").innerHTML = "First Name has invalid characters";
                flag = 'N';
            }
            if ($("#Address1").val().trim() == "") {
                document.getElementById("address1_error").innerHTML = "Address 1 is required";
                flag="N";
            }
            else if (checkForSpecialChars($("#Address1").val().trim())){
                document.getElementById("address1_error").innerHTML = "Address 1 is Invalid";
                flag="N";
            }
            else if ($("#Address1").val().match(onlyNumbers)){
                document.getElementById("address1_error").innerHTML = "Address 1 is Invalid";
                flag="N";
            }
            if ($("#Address2").val().trim() != "") {
                if (checkForSpecialChars($("#Address2").val().trim())){
                    document.getElementById("address2_error").innerHTML = "Address 2 is Invalid";
                    flag="N";
                }
                else if ($("#Address2").val().match(onlyNumbers)){
                    document.getElementById("address2_error").innerHTML = "Address 2 is Invalid";
                    flag="N";
                }
            }
            if ( $("#Address3").val().trim() != "") {
                if (checkForSpecialChars( $("#Address3").val().trim())){
                    document.getElementById("address3_error").innerHTML = "Address 3 is Invalid";
                    flag="N";
                }
                else if ( $("#Address3").val().match(onlyNumbers)){
                    document.getElementById("address3_error").innerHTML = "Address 3 is Invalid";
                    flag="N";
                }
            }
            if ($("#Mobile").val().trim() == "") {
                document.getElementById("mobile_error").innerHTML = "Mobile Number is required";
                flag="N";
            }
            else if (!$("#Mobile").val().match(phoneno)) {
                document.getElementById("mobile_error").innerHTML = "Mobile Number is Invalid";
                flag="N";
            }
            if ($("#Email").val().trim() == "") {
                document.getElementById("email_error").innerHTML = "Email Id is required";
                flag="N";
            }
            else if (!$("#Email").val().match(email)) {
                document.getElementById("email_error").innerHTML = "Invalid Email Address";
                flag="N";
            }
            if ($("#LastName").val() != "") {
                if (!($("#LastName").val().match(nameWithNumCheck)) || !($("#LastName").val().match(atLeastOneAlphabet))) {
                    document.getElementById("lastName_error").innerHTML = "Last Name has invalid characters";
                    flag="N";
                }
            }
            if ($("#City").val().trim() != "") {
                if (!$("#City").val().match(CitynameCheck)){
                    document.getElementById("city_error").innerHTML = "City is Invalid";
                    flag="N";
                }
            }
            if ($("#State").val() == 0) {
                $("#statediv").addClass("btmMargin");
                $("#state_error").html("State is required");
                flag = 'N';
            }
            else {
                $("#state_error").html("");
            }
            if ($("#district").val() == 0) {
                $("#districtdiv").addClass("btmMargin");
                $("#district_error").html("District is required");
                flag = 'N';
            }
            else {
                $("#district_error").html("");
            }
            if (flag == 'N') {
                $("#form1").submit(function (e) {
                    e.preventDefault();
                });
            }
        });

    function getDistrict() {
        var id = $('#State :selected').val();

        //if (stateID != "" && stateID != "0") {
        //    id = stateID;
        //}
        //$("#DistrictID").hide();
        //$("#district").css("display", "block");
        if (id != 0) {
            $("#state_error").html("");
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetDistrictDetails", "Common")',
                data: { Stateid: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#district").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "Select District"
                                    }).html("Select District").appendTo("#district");
                                if (data.districtID == districtID) {
                                    $('<option selected = "selected">',
                                        {
                                            value: data.districtID,
                                            text: data.districtName
                                        }).html(data.districtName).appendTo("#district");
                                }
                                else {
                                    $('<option>',
                                        {
                                            value: data.districtID,
                                            text: data.districtName
                                        }).html(data.districtName).appendTo("#district");
                                }
                            }
                            else if (data.districtID == districtID) {
                                $('<option selected = "selected">',
                                    {
                                        value: data.districtID,
                                        text: data.districtName
                                    }).html(data.districtName).appendTo("#district");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.districtID,
                                        text: data.districtName
                                    }).html(data.districtName).appendTo("#district");
                            }
                        });
                        $("#district")[0].sumo.reload()
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating District Data");
                }
            });
        }
        else{
            $("#district").html('');
            $("#district")[0].sumo.reload();
        }
    }
    $("#district").change(function () {
        var id = this.value;
        $("#DistrictID").val(id);
    });


    $("#FirstName").on("blur", function () {
        let firstName = this.value;
        if (firstName.trim() == "") {
            document.getElementById("firstName_error").innerHTML = "First Name is required";
            firstName.focus();
            
        }
        else if (!(firstName.match(nameWithNumCheck))|| !(firstName.match(atLeastOneAlphabet))) {
            document.getElementById("firstName_error").innerHTML = "First Name has invalid characters";
                firstName.focus();
           
        }
        else {
            document.getElementById("firstName_error").innerHTML = "";
        }
    });


    $("#Address1").on("blur", function () {
        if ($("#Address1").val().trim() == "") {
            document.getElementById("address1_error").innerHTML = "Address 1 is required";
            
                $("#Address1").focus();
            
        }
        else if (checkForSpecialChars($("#Address1").val().trim())){
            document.getElementById("address1_error").innerHTML = "Address 1 is Invalid";
            
                $("#Address1").focus();
           
        }
        else if ($("#Address1").val().match(onlyNumbers)){
            document.getElementById("address1_error").innerHTML = "Address 1 is Invalid";
           
                $("#Address1").focus();
            
        }
        else {
            document.getElementById("address1_error").innerHTML = "";
        }
    });

    $("#Address2").on("blur", function() {
        if ($("#Address2").val().trim() != "") {
            if (checkForSpecialChars($("#Address2").val().trim())){
                document.getElementById("address2_error").innerHTML = "Address 2 is Invalid";
                
                    $("#Address2").focus();
               
            }
            else if ($("#Address2").val().match(onlyNumbers)){
                document.getElementById("address2_error").innerHTML = "Address 2 is Invalid";
                
                    $("#Address2").focus();
                
            }
            else {
                document.getElementById("address2_error").innerHTML = "";
            }
        }
        else {
                document.getElementById("address2_error").innerHTML = "";
            }
    });

    $("#Address3").on("blur", function() {
        if ( $("#Address3").val().trim() != "") {
            if (checkForSpecialChars( $("#Address3").val().trim())){
                document.getElementById("address3_error").innerHTML = "Address 3 is Invalid";
                
                     $("#Address3").focus();
               
            }
            else if ( $("#Address3").val().match(onlyNumbers)){
                document.getElementById("address3_error").innerHTML = "Address 3 is Invalid";
                
                     $("#Address3").focus();
               
            }
            else {
                document.getElementById("address3_error").innerHTML = "";
            }
        }
        else {
                document.getElementById("address3_error").innerHTML = "";
            }
    });
    $("#State").on("change", function () {
        if ($("#State").val() == "" || $("#State").val() == "0") {
            document.getElementById("state_error").innerHTML = "State is required";
            
                $("#State").focus();
           
        }
        else {
            document.getElementById("state_error").innerHTML = "";
        }
    });
    $("#district").on("change", function () {
        if ($("#district").val() == "" ||$("#district").val() == "0") {
            document.getElementById("district_error").innerHTML = "District is required";
           
                $("#district").focus();
            
        }
        else {
            document.getElementById("district_error").innerHTML = "";
        }
    });
    $("#Mobile").on("blur", function () {
        if ($("#Mobile").val().trim() == "") {
            document.getElementById("mobile_error").innerHTML = "Mobile Number is required";
            $("#Mobile").val("");
            
                $("#Mobile").focus();
            
        }
        else if (!$("#Mobile").val().match(phoneno)) {
            document.getElementById("mobile_error").innerHTML = "Mobile Number is Invalid";
            
                $("#Mobile").focus();
            
        }
        else {
            document.getElementById("mobile_error").innerHTML = "";
        }
    });
    $("#Email").on("blur", function () {
        if ($("#Email").val().trim() == "") {
            document.getElementById("email_error").innerHTML = "Email Id is required";
            $("#Email").val("");
            
                $("#Email").focus();
            
        }
        else if (!$("#Email").val().match(email)) {
            document.getElementById("email_error").innerHTML = "Invalid Email Address";
            
                $("#Email").focus();
            
        }
        else {
            document.getElementById("email_error").innerHTML = "";
        }
    });
    $("#LastName").on("blur", function(){
        if ($("#LastName").val() != "") {

            if (!($("#LastName").val().match(nameWithNumCheck)) || !($("#LastName").val().match(atLeastOneAlphabet)))  {
                document.getElementById("lastName_error").innerHTML = "Last Name has invalid characters";
                
                    $("#LastName").focus();
               
            }
            else{
                document.getElementById("lastName_error").innerHTML = "";
            }
        }
        else{
            document.getElementById("lastName_error").innerHTML = "";
        }
    });
    $("#City").on("blur", function() {
        if ($("#City").val().trim() != "") {
            if (!$("#City").val().match(CitynameCheck)){
                document.getElementById("city_error").innerHTML = "City is Invalid";
                
                    $("#City").focus();
                
            }
            else {
                document.getElementById("city_error").innerHTML = "";
            }
        }
    });
</script>