@model HPCL_Web.Models.Officer.OfficerDetailsModel

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Officer</a> </li>
            <li class="breadcrumb-item font-weight-light">Officer Details</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Officer Details</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Zonal Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfcID, new SelectList(Model.OfficerZones, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getRegionalOfc()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Regional Office <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12 offset-md-1">
                                            <div class="custom_select">
                                                <select name="regionalOffice" id="regionalOffice" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">State Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.StateID, new SelectList(Model.OfficerStates, "StateID", "StateName"), new { @class = "form-control", onchange = "getDistrict()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">District Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12 offset-md-1">
                                            <div class="custom_select">
                                                <select name="district" id="district" class="form-control">
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2 mb-3">
                                    <button class="btn btn_primary" type="button" onclick="searchOfficerDetailsTbl()">Search</button>
                                </div>
                                <div class="px-2 mb-3">
                                    <button class="btn btn_primary" type="button" onclick="return showregAddress()">Reset</button>
                                </div>
                                <div class="px-2 mb-3">
                                    <button class="btn btn_primary" type="button" onclick="">Export to Excel</button>
                                </div>
                            </div>
                        </div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.RegionalOfcIdVal)</div>
                        <div style="display:none;">@Html.TextBoxFor(m => m.DistrictIdVal)</div>
                        <div class="clearfix"></div>
                        <div class="px-3" id="officerDetailsTbl">

                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    //var zonalOfcId = $("#ZonalOfcID").val();
    //var regionalOfcId = $("#RegionalOfcIdVal").val();
    //var stateId = $("#StateID").val();
    //var districtId = $("#DistrictIdVal").val();

    $(document).ready(function () {
        $('<option>',
            {
                value: "0",
                text: "--All--"
            }).html("--All--").appendTo("#regionalOffice");

        $('<option>',
            {
                value: "0",
                text: "--All--"
            }).html("--All--").appendTo("#district");
    });


    function searchOfficerDetailsTbl() {
        var zoID = $("#ZonalOfcID").val();
        var roID = $("#RegionalOfcIdVal").val();
        var state = $("#StateID").val();
        var district = $("#DistrictIdVal").val();

        $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetOfficerDetailsTable", "Officer")',
            contentType: "application/json; charset=utf-8",
            data: { ZonalOfcID: zoID, RegionalOfcID : roID, StateID : state, DistrictID : district },
            dataType: "text",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#officerDetailsTbl").html(data);
                    $('html, body').animate({
                        scrollTop: $("#officerDetailsTbl").offset().top
                    }, 2000);
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Sales Area Data");
            }
        });
    };

    function getRegionalOfc() {
        var id = $('#ZoneOfcID :selected').val();
        $("#RegionalOfcIdVal").val("0");
        //if (zonalOfcId != "" && zonalOfcId != "0") {
        //    id = zonalOfcId;
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Officer")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#regionalOffice").html("");
                    $.each(data, function (i, data) {
                        if (i == "0") {
                            $('<option>',
                                {
                                    value: "0",
                                    text: "--All--"
                                }).html("--All--").appendTo("#regionalOffice");
                        }
                        //else if (data.regionalOfficeID == regionalOfcId){
                        //    $('<option selected = "selected">',
                        //        {
                        //            value: data.regionalOfficeID,
                        //            text: data.regionalOfficeName
                        //        }).html(data.regionalOfficeName).appendTo("#regionalOffice");
                        //}
                        else {
                            $('<option>',
                                {
                                    value: data.regionalOfficeID,
                                    text: data.regionalOfficeName
                                }).html(data.regionalOfficeName).appendTo("#regionalOffice");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };

    function getDistrict() {
        //var id = this.value;
        var id = $('#StateID :selected').val();
        $("#DistrictIdVal").val("0");
        //if (stateId != "" && stateId != "0") {
        //    id = stateId;
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetDistrictDetails", "Officer")',
            data: { Stateid: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        if (i == "0"){
                            $('<option>',
                                {
                                    value: "0",
                                    text: "--All--"
                                }).html("--All--").appendTo("#district");
                        }
                        //else if (data.districtID == districtId) {
                        //    $('<option selected = "selected">',
                        //        {
                        //            value: data.districtID,
                        //            text: data.districtName
                        //        }).html(data.districtName).appendTo("#district");
                        //}
                        else {
                            $('<option>',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo("#district");
                        }
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating District Data");
            }
        });
    };

    function tableToCSV() {

        searchOfficerDetailsTbl();

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {

            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');

            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {

                // Get the text data of each cell
                // of a row and push it to csvrow
                csvrow.push(cols[j].innerHTML);
            }

            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }

        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file 
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "OfficerInformation.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }

    function downloadExcel() {
        var zoID = $("#ZonalOfcID").val();
        var roID = $("#RegionalOfcIdVal").val();
        var state = $("#StateID").val();
        var district = $("#DistrictIdVal").val();

        $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("DownloadExcel", "Officer")',
            contentType: 'application/json; charset=utf-8',
            data: { ZonalOfcID: zoID, RegionalOfcID: roID, StateID: state, DistrictID: district },
            dataType: "text",
            beforeSend: function () {
                startLoader();
            },
            success: function (response) {
                var blob = new Blob([response], { type: 'application/ms-excel' });
                var downloadUrl = URL.createObjectURL(blob);
                var a = document.createElement("a");
                a.href = downloadUrl;
                a.download = "OfficerInformation.xls";
                document.body.appendChild(a);
                a.click();
            },
            complete: function () {
                stopLoader();
            }
        });
    };

    function startLoader() {

    }

    function stopLoader() {

    }

    $("#regionalOffice").change(function () {
        var id = this.value;
        $("#RegionalOfcIdVal").val(id);
    });

    $("#district").change(function () {
        var id = this.value;
        $("#DistrictIdVal").val(id);
    });
</script>