@model HPCL.Common.Models.ViewModel.VolvoEicher.VEDealerOTCCardStatusViewModel
@using HPCL.Common.Resources
@if (Model.Data.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="OTCCardStatus">
        <thead style="background-color:lightgray;">
            <tr>
                 <th style="width:5%;">S.No.</th>
                <th style="width:5%;">Dealer Code</th>
                <th style="width:10%;">Dealer Name</th>
                <th style="width:10%;">Total Allocated Cards</th>
                <th style="width:10%;">Total Mapped Cards</th>
                <th style="width:10%;">Total Unmapped Cards</th>
                
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@i</td>
                    <td>@item.DealerCode</td>
                    <td>@item.DealerName</td>
                    <td>@item.TotalAllocatedCards</td>
                    <td>@item.TotalMappedCards</td>
                    <td>@item.TotalUnmappedCards</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

    function tableToCSVDwld() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');

        console.log("rows", rows);

        if (rows.length > 0) 
        {

            for (var i = 0; i < rows.length; i++) 
            {
                if(i==0)
                {
                    var cols = rows[i].querySelectorAll('td,th');

                    console.log("cols", cols);

                    var csvrow = [];
                    for (var j = 0; j < cols.length; j++) 
                    {

                        csvrow.push(cols[j].innerHTML);
                    }
                    csv_data.push(csvrow.join(","));
                }
            }

            var tableName = $('#OTCCardStatus').DataTable();
            tableName.rows().every(function(){
                //console.log(this.data()[0]);
                var csvrow = [];

                csvrow.push(this.data()[0]);
                csvrow.push(this.data()[1]);
                csvrow.push(this.data()[2]);
                csvrow.push(this.data()[3]);
                csvrow.push(this.data()[4]);
                csvrow.push(this.data()[5]);

                csv_data.push(csvrow.join(","));
            });

            csv_data = csv_data.join('\n');

            downloadCSVFile(csv_data);
        }
    }

    function downloadCSVFile(csv_data) {
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });
        var temp_link = document.createElement('a');
        temp_link.download = "VEDealerOTCCardStatus.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);
        temp_link.click();
        document.body.removeChild(temp_link);
    }
   
</script>