@model HPCL.Common.Models.ViewModel.VolvoEicher.VEDealerOTCCardStatusViewModel
@using HPCL.Common.Resources
@if (Model.Data.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="OTCCardStatus">
        <thead style="background-color:lightgray;">
            <tr>
                 <th style="width:5%;">S.No.</th>
                <th style="width:5%;">Dealer Code</th>
                <th style="width:10%;">Dealer Name</th>
                <th style="width:10%;">Total Allocated Cards</th>
                <th style="width:10%;">Total Mapped Cards</th>
                <th style="width:10%;">Total Unmapped Cards</th>
                
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@i</td>
                    <td>@item.DealerCode</td>
                    <td>@item.DealerName</td>
                    <td>@item.TotalAllocatedCards</td>
                    <td>@item.TotalMappedCards</td>
                    <td>@item.TotalUnmappedCards</td>
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
   
</script>

