@model HPCL.Common.Models.ViewModel.ApplicationFormDataEntry.AddAddOnCard
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Enrollments")" class="text_primary">Enrollment</a> </li>
            <li class="breadcrumb-item font-weight-light">Add Add-On Cards</li>
        </ul>
        <form id="formValid">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add Add-On Cards</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @id = "CustomerIdVal" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger", @id = "CustomerIdValErrMsg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="CheckCustomer()">SEARCH</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer Name<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <div id="customerName"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"> Form Name <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FormNumber, new { @class = "form-control", @id = "formNameVal" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.FormNumber, "", new { @class = "text-danger", @id = "formNameValErrMsg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">No of Cards<sup class="text-danger">*</sup> </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.NoOfCards, new {@id="noofCardVal", @class = "form-control" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.NoOfCards, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"> RBE ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.RBEId, new { @class = "form-control", @id = "RbeVal" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.RBEId, "", new { @class = "text-danger", @id = "RbeValErrMsg" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">RBE Name<sup class="text-danger">*</sup> </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.RBEName, new { @class = "form-control", @id = "RbeNameVal" })
                                            </div>
                                            @Html.ValidationMessageFor(m => m.RBEName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Preference</legend>
                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <div class="d-flex align-items-center justify-content-start">
                                            <div class="d-flex align-items-center justify-content-start mr-3">
                                                @Html.RadioButtonFor(m => m.CardPreference, "Card", new { @id = "cardChecked", disabled = "disabled" }) <span class="ml-2"> Card </span>
                                            </div>
                                            <div class="d-flex align-items-center justify-content-start">
                                                @Html.RadioButtonFor(m => m.CardPreference, "Cardless", new { @id = "cardlessChecked", disabled = "disabled" }) <span class="ml-2"> Cardless </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Fee Payment Details</legend>
                                <div class="col-md-4 col-12">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <div class="d-flex align-items-center justify-content-start">
                                                <div class="d-flex align-items-center justify-content-start mr-3">
                                                    @Html.RadioButtonFor(m => m.FeePaymentsCollectFeeWaiver, "Online", new { @id = "rbtnOnline", @class = "radio-toolbar", @disabled = "disabled" })
                                                    <span class="ml-2">Online</span>
                                                </div>
                                                <div class="d-flex align-items-center justify-content-start mr-3">
                                                    @Html.RadioButtonFor(m => m.FeePaymentsCollectFeeWaiver, "Fee Waiver", new { @id = "rbtnFeeWaiver", @class = "radio-toolbar", @disabled = "disabled" })
                                                    <span class="ml-2">Fee Waiver</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="onlineRadioClick" style="display:none;">
                                    <div class="d-flex align-items-center justify-content-start flex-wrap col-12">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Payment Source<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FeePaymentNo, new { @id = "FeePaymentNoId", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.FeePaymentNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Payment Date<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FeePaymentDate, new { @id = "FeePaymentDateId", @class = "form-control", @type = "Date" })
                                                    @Html.ValidationMessageFor(m => m.FeePaymentDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div id="feeWaiverRadioClick" style="display:none;">
                                    <div class="d-flex align-items-center justify-content-start flex-wrap col-12">
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Approval Email From<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FeePaymentNo, new { @id = "FeePaymentNoId", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.FeePaymentNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Approval Email Date<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FeePaymentDate, new { @id = "FeePaymentDateId", @class = "form-control", @type = "Date" })
                                                    @Html.ValidationMessageFor(m => m.FeePaymentDate, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="AddCardTbl()">ADD</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="ResetClick()">RESET</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>


                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Details</legend>
                                <div class="table-responsive" id="tblResponse">
                                    <table id="cardsRow" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S No.</th>
                                                <th>Vehicle Number/Card Identifier</th>
                                                <th>Vehicle Type</th>
                                                <th>Vehicle Make</th>
                                                <th>Year Of Registration</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </fieldset>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button">ADD CARDS</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>


<script>

    function CheckCustomer() {
        //val custId = $("#CustomerIdVal").val();

        if ($("#CustomerIdVal").val() == "") {
            $('#CustomerIdValErrMsg').text("Customer ID should not be Empty");
            return false;
        } else {
            if (!$("#CustomerIdVal").val().match(mappedCustomerId)) {
                $("#CustomerIdValErrMsg").attr("style", "display:block");
                $("#CustomerIdValErrMsg").html("start with 2 and contains 10 digits");
                return false;
            }
        }
        $('#CustomerIdValErrMsg').text("");

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetFormName", "ApplicationFormDataEntry")',
            data: { customerId: $("#CustomerIdVal").val() },  // data to submit
            dataType: "json",
            success: function (res) {
                console.log(res);
                if (res.searchResult.data.getNameandFormNumberbyCustomerId.length > 0) {
                    $("#customerName").append("<span>" + res.searchResult.data.getNameandFormNumberbyCustomerId[0].customerName + "</span>");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                console.log(xhr);
            }
        });
    };

    $("#formNameVal").on("blur", function () {
        var formNumberVal = document.getElementById("formNameVal").value;
        if (formNumberVal == "") {
             document.getElementById("formNameValErrMsg").innerHTML = "Form Number is Required";
             return false;
        }
        else {
             document.getElementById("formNameValErrMsg").innerHTML = "";
        }
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("CheckAddOnForm", "ApplicationFormDataEntry")',
            data: { formNumber: formNumberVal },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                console.log(data);
                if (data.searchResult[0].status == 0) {
                    $("#formNameValErrMsg").text(data.searchResult[0].reason);
                } else {
                    $("#formNameValErrMsg").text("");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    });

    $("#RbeVal").on("blur", function () {
        var custRBEId = document.getElementById("RbeVal").value;
         if (custRBEId == "") {
             document.getElementById("RbeValErrMsg").innerHTML = "";
             document.getElementById("RbeNameVal").innerHTML = "";
            return (false);
        }
        else {
             document.getElementById("RbeValErrMsg").innerHTML = "";
        }
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetCustomerRBEName", "Customer")',
            data: { RBEId: custRBEId },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                console.log(data);
                console.log(status);
                var v = data;
                if (status == 'success') {
                    document.getElementById("RbeNameVal").value = data.rbeName;
                    //found = true;

                    if (data == "Failed to load Customer Details")
                        document.getElementById("RbeNameVal").value = "";
                }
                else {
                    $("#RBEId_error").html("");
                    document.getElementById("RbeNameVal").value = "";
                    console.log(v);
                    //found = false;
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                document.getElementById("RbeNameVal").value = "";
            },
            statusCode: {
                1024: function () {
                    document.getElementById("RbeNameVal").value = "";
                }
            }
        });
    });

    function AddCardTbl() {

        var cardsCount = $("#noofCardVal").val();

         $("#cardsRow td").parent().remove();

        for(var i = 0; i < cardsCount; i++){

              var rows = "<tbody><tr>"
                    + "<td>" + (i+1) + "</td>"
                    + "<td><input class='form-control mobn' name='' type='text'></td>"
                    + "<td><select class='form-control vls'><option>Select</option></select></td>"
                    + "<td><input class='form-control amt' name='' type='text'></td>"
                     + "<td><input class='form-control amt' name='' type='text'></td>"
                    + "</tr></tbody>";

                $('#cardsRow').append(rows);
        }

         $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetVehicleTypeDetails", "Common")',
                dataType: "json",
                success: function (data, status, xhr) {
  
                console.log(data);

                $.each(data.sortedtList, function (i, option) {
                    $("<option/>").val(option.vehicleTypeId).text(option.vehicleTypeName).appendTo(".vls");
                });

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating Customer Region");
                }
            });
    }
</script>
