<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("OnlineForm", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Add New Customer</h4>
                        <p>Add New Customer Form</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("UploadDoc", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_roles.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Upload Document</h4>
                        <p>Upload Document</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("AddCardDetails", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/mcm.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Add New Card</h4>
                        <p>Add New Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("FeeWaiver", "CustomerFeeWaiver")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/view_multiple_customer_mapping.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Approve Fee Waiver</h4>
                        <p>Approve Fee Waiver</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ValidateNewCustomer", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Validate New Customer</h4>
                        <p>Validate New Customer Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewCustomerSearch", "ViewCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Customer</h4>
                        <p>View Customer Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("SearchCustomerandCardForm", "Interfaces")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation_app.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Search Customer and Card Form</h4>
                        <p>Search Customer and Card Form</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("Details", "ValidateNewCards" )" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Validate Cards</h4>
                        <p>Validate Cards</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>