@model HPCL.Common.Models.ViewModel.MODashboard.MODashboardModel
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Home</a> </li>
            <li class="breadcrumb-item font-weight-light">MO Dashboard</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Pending Terminal</span>
                            <span class="text-white m-0 get_btn" onclick="pendingTerminal()">Get Details</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-0">
                            <table class="table table-striped d-md-table d-block">
                                <tbody>
                                    
                                        
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Region Information </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-0 mt-0">
                            <table class="table table-striped d-md-table d-block">
                                <tbody>
                                     @foreach (var item in Model.RegionInformationResponseModel)
                                    {
                                     <tr>
                                        <td class="font-weight-bold">Total Customers</td>
                                        <td>@item.TotalCustomers</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Fleet Customers</td>
                                        <td>@item.FleetCustomers</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Non Fleet Customers</td>
                                        <td>@item.NonFleetCustomers</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Corporate Customers</td>
                                        <td>@item.CorporateCustomers</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Customers with Attached Vehicles</td>
                                        <td>@item.CustomerswithAttachedVechicles</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Generic Card Customers</td>
                                        <td>@item.GenericCardCustomers</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Tatkal Card Customers</td>
                                        <td>@item.TatkalCardCustomers</td>
                                    </tr>
                                     <tr>
                                        <td class="font-weight-bold">OTC Card Customers</td>
                                        <td>@item.OTCCardCustomers</td>
                                    </tr>
                                     <tr>
                                        <td class="font-weight-bold">Driver Card Customers</td>
                                        <td>@item.DriverCardCustomers</td>
                                    </tr>
                                     <tr>
                                        <td class="font-weight-bold">Active Customers Of Last Month</td>
                                        <td>@item.ActiveCustomersOfLastMonth</td>
                                    </tr>
                                      <tr>
                                        <td class="font-weight-bold">No Of Cards</td>
                                        <td>@item.NoOfCards</td>
                                    </tr>
                                       <tr>
                                        <td class="font-weight-bold">Active Cards Of Last Month</td>
                                        <td>@item.ActiveCardsOfLastMonth</td>
                                    </tr>
                                     <tr>
                                        <td class="font-weight-bold">T-1 Customers</td>
                                        <td>@item.T1Customer</td>
                                    </tr>
                                     <tr>
                                      <td class="font-weight-bold">T-1 Customers</td>
                                        <td>@item.T2Customer</td>
                                    </tr>
                                     <tr>
                                      <td class="font-weight-bold">HP Re-Fuel Card Customers</td>
                                        <td>@item.HPRe_FuelCardCustomers</td>
                                    </tr>
                                    <tr>
                                      <td class="font-weight-bold">Active HP Re-Fuel Card Customers of last month</td>
                                        <td>@item</td>
                                    </tr>
                                     <tr>
                                      <td class="font-weight-bold">No of Approved or Active Dealers with minimum 1 installed terminal</td>
                                        <td>@item.NoofApprovedorActiveDealerswithminimum1installedterminal</td>
                                    </tr>
                                     <tr>
                                      <td class="font-weight-bold">No of installed and active terminals</td>
                                        <td>@item.Noofinstalledandactiveterminals</td>
                                    </tr>
                                    <tr>
                                      <td class="font-weight-bold">Active Dealers of last month</td>
                                        <td>@item.ActiveDealersoflastmonth</td>
                                    </tr>
                                     <tr>
                                      <td class="font-weight-bold">Active Terminals of last month</td>
                                        <td>@item.ActiveTerminalsoflastmonth</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Quick Links</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-2 mt-3" style="height: 380px;overflow-y: scroll;">
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Customer Balance
                                </div>
                                <div class="links_cards_box mb-3">
                                    Customer Transation Summary
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Card Sale Limit	Setting
                                </div>
                                <div class="links_cards_box mb-3">
                                    individual Card CCMS Limit Setting
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Card PIN Unblocking
                                </div>
                                <div class="links_cards_box mb-3">
                                    Fuel Redemption Approval
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Gift Redemption Approval
                                </div>
                                <div class="links_cards_box mb-3">
                                    Receivable/Payable of Dealers
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white px-0 bg_blue_sty m-0 font14">Pending for Your Approval</span>
                            <span class="text-white m-0 get_btn">Get Details</span>
                        </div>

                        <div class="col-lg-12 col-md-12 col-12 py-0 px-0">
                            <ul class="Pending_approval_list">
                                <li><a href="#">Unapproved Cards</a></li>
                                <li><a href="#">Card Renewal Requests</a></li>
                                <li><a href="#">Fuel Redemptions</a></li>
                                <li><a href="#">Gift Redemptions</a></li>
                                <li><a href="#">Card Reissuance Requests</a></li>
                                <li><a href="#">Add-On Card Requests</a></li>
                                <li><a href="#">OTC Card Customer Creation</a></li>
                                <li><a href="#">AMEX Bank Customer Referral</a></li>
                                <li><a href="#">HDFC Bank Customer Referral</a></li>
                                <li><a href="#">ICICI Bank Customer Referral</a></li>
                                <li><a href="#">Customer Address Change Request</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white px-0 bg_blue_sty m-0 font14">Pending Requests Raised by You</span>
                            <span class="text-white m-0 get_btn">Get Details</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 py-0 px-0">
                            <ul class="Pending_approval_list">
                                <li><a href="#">Lead Sharing with AMEX Bank</a></li>
                                <li><a href="#">Lead Sharing with HDFC Bank</a></li>
                                <li><a href="#">Lead Sharing with ICICI Bank</a></li>
                                <li><a href="#">Parent Customer Approval</a></li>
                                <li><a href="#">Parent Customer Authorization</a></li>
                                <li><a href="#">Exception Request for HDFC Bank Credit Pouch</a></li>
                                <li><a href="#">Exception Request for ICICI Bank Credit Pouch</a></li>
                                <li><a href="#">Merchant Creation</a></li>
                                <li><a href="#">Add-On Terminals</a></li>
                                <li><a href="#">Reinstallation</a></li>
                                <li><a href="#">Deinstallation Approval</a></li>
                                <li><a href="#">Deinstallation Authorization</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white px-3 bg_blue_sty m-0 font14">Download</span>
                            <span class="text-white m-0 get_btn">Get Details</span>
                        </div>
                        <div style="height:200px; overflow-y:scroll;">
                            <div class="d-flex align-items-center justify-content-start mt-3">
                                <div class="download_cards_box mb-3 product_guide_bg">
                                    <i class="fa fa-download"></i>
                                    MO Web User
                                </div>
                                <div class="download_cards_box mb-3 web_user_guide_bg">
                                    <i class="fa fa-download"></i>
                                    EDC Terminal QRG - 5.11
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div class="download_cards_box mb-3 product_guide_bg">
                                    <i class="fa fa-download"></i>
                                    MO Web User
                                </div>
                                <div class="download_cards_box mb-3 web_user_guide_bg">
                                    <i class="fa fa-download"></i>
                                    EDC Terminal QRG - 5.11
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">User Information </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-0 mt-0">
                            <table class="table table-striped d-md-table d-block">
                                <tbody>
                                    @foreach (var item in Model.UserInformationResponseModel)
                                    {

                                      <tr>
                                        <td class="font-weight-bold">Name</td>
                                        <td>@item.Name</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">RO</td>
                                        <td>@item.RO</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">ZO</td>
                                        <td>@item.ZO</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Mobile</td>
                                        <td>@item.MobileNo</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Email</td>
                                        <td>@item.EmailId</td>
                                    </tr>
                                    <tr>
                                        <td class="font-weight-bold">Last Login</td>
                                        <td>@item.LastLogin</td>
                                    </tr>

                                        }
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Notifications</p>
                        <div class="Notification_list">
                            <div class="microsoft text_width_area">
                                <div class="marquee">
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
function pendingTerminal()
{
    var userName="adityaMo";

      $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetPendingTerminal", "MODashboard")',
            data: { userName: userName },
            dataType: "json",
            success: function(data, status, xhr) {
                var v = data;
            /* if (status == 'success') {
                     $("#searchMerchantTbl").html(data);
                     $('html, body').animate({
                         scrollTop: $("#searchMerchantTbl").offset().top
                     }, 2000);
            }*/
                 
                console.log(v);

              
            },
            error: function(jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });


}



</script>
