@{
    Layout = "";
}

@model HPCL.Common.Models.ResponseModel.CCMSRecharge.RedirectToPGResponseData

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  
@using Microsoft.AspNetCore.Http;

<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>  
        <script type="text/javascript">
           $(document).ready(function () {
               $("#ccmsRec").submit();
           });
       </script>
    <title>
    </title>
</head>
<body>

   

    <form id="ccmsRec" method="post" action="@Context.Session.GetString("pgurlccmsrec")">          
        <input type="hidden" value="@Context.Session.GetString("reqhashccmsrec")"/>
        <input type="hidden" value="@Context.Session.GetString("accesscodeccmsrec")"/>
    </form>

    @* <form id="ccmsRec" method="post" action="@Model.response.apiurl">          
        <input type="hidden" value="@Model.response.request_Hash"/>
        <input type="hidden" value="@Model.response.accessCode"/>
    </form>*@

</body>
</html>
