@model HPCL.Common.Models.ViewModel.DICV.DICVUpdateMobileModal

@using Microsoft.AspNetCore.Http;
@using HPCL.Common.Resources

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","DICV")" class="text_primary">DICV Dashboard</a> </li>
            <li class="breadcrumb-item font-weight-light">Cardless Mapping</li>
        </ul>
        <form id="formSub">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-0">
                            <div class="border-1 rounded border-grey">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add Edit Cardless Mapping</p>
                            
                             <div id="serviceUpdateResponse" class="mb-3 text-center alert alert-success" style="margin-top:1%;display:none;"></div>

                            <div class="col-md-6 col-12" style="margin-top:1%">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">@Label.CardNumber</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CardNumber, new {@id="cardNoVal", @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            @Html.HiddenFor(m=>m.MobileNumber, new {@id="mobNoVll"})
                            <div class="col-md-6 col-12" style="margin-top:1%">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">@Label.MobileNumber</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.MobileNumber, new {@id="mobNoVllNew", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new {@id="mobNoVllNewErrMsg", @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">@Label.LimitType</label>
                                    <div class="col-md-7 col-12">
                                        <select class="form-control" disabled="disabled" id="limitTypeVal">
                                            <option value="-1">@Context.Session.GetString("lmtType")</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">@Label.Amount</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CCMSReloadSaleLimitValue, new { @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnSave" onclick="updateMobNoClick()" name="submit">@Label.UpdateMobile</button>
                                </div>
                                <div class="px-2">
                                    <a class="btn btn_primary" href="#aaa" id="btnCancel" name="cancel">@Label.Back</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="noRecord" class="mb-3 text-center alert alert-danger" style="margin-top:1%;display:none;"></div>
                   </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script type="text/javascript">

        $('.restrictPaste').on('paste', function (event) {
            if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
                event.preventDefault();
            }
       });

       $(document).ready(function () {
            function isNumberKey(evt) {
                var charCode = (evt.which) ? evt.which : event.keyCode;
                if (charCode != 46 && charCode > 31
                    && (charCode < 48 || charCode > 57))
                    return false;

                return true;
            }
       });
function updateMobNoClick(){

    document.getElementById("serviceUpdateResponse").style.display = "none";
    document.getElementById("noRecord").style.display = "none";

    var mobNoExist = $("#mobNoVll").val();
    var mobNoNew = $("#mobNoVllNew").val();
    var crdNo = $("#cardNoVal").val();
    var limitTypeVall = $("#limitTypeVal").val();
    var CCMSReloadSaleLimitVal = $("#CCMSReloadSaleLimitValue").val();

    if ($("#formSub").valid()) {
        if (confirm('Do you want to proceed with mapping of the Mobile No. for Cardless Transactions?')) {
            if(mobNoExist == mobNoNew){
                $("#mobNoVllNewErrMsg").text("Mobile Number is same.");
                return false;
            }else{

                document.getElementById("serviceUpdateResponse").style.display = "none";
                document.getElementById("noRecord").style.display = "none";

                $.ajax({
                    url: "@Url.Action("JCBCardlessMappingUpdate", "JCB")",
                    type: "POST",
                    traditional: true,
                    data: { mobNoNew: mobNoNew, crdNo: crdNo },
                    success: function (res) {

                        console.log("res",res);
                        if(res.updateResponse[0].status == 1){
                            $("#serviceUpdateResponse").html("");
                            $("#serviceUpdateResponse").append("<span>" + (res.updateResponse[0].reason) + "</span>");
                            $("#mobNoVll").val(mobNoNew);
                            document.getElementById("serviceUpdateResponse").style.display = "block";
                        }else{
                            $("#noRecord").html("");
                            $("#noRecord").append("<span>" + (res.updateResponse[0].reason) + "</span>");
                            document.getElementById("noRecord").style.display = "block";
                        }
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });
            }
        }
    }
}

function OnFailure(data) {
    alert(data);
}

$("#btnCancel").on('click', function () {

    var edit = "edit";
    sessionStorage.setItem("editFlow", edit);

    window.location.href = '@Html.Raw(@Url.Action("JCBManageCards"))';
});

</script>