<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVDealerEnrollment", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>DICV Officer Enrollment</h4>
                        <p>DICV Officer Enrollment</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVDealerOTCCardRequest", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>DICV Dealer OTC Card Requests</h4>
                        <p>DICV Dealer OTC Card Requests</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVCustomerEnrollment", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>DICV Customer Enrollment</h4>
                        <p>DICV Customer Enrollment</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVHotlistAndReactivate", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Hotlist/Reactivate</h4>
                        <p>Hotlist Customer/Card</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVResetPasswordByMo", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Reset Password</h4>
                        <p>Reset Password of Customer by MO</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVAddOrEditMobile", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Map Mobile No</h4>
                        <p>Map Mobile No</p>
                    </div>
                </a>
            </div>
            
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVManageCards", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Cards</h4>
                        <p>Manage Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewDICVDealerOTCCardStatus", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View Dealer OTC Card Status</h4>
                        <p>View Dealer OTC Card Status</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVManageProfile", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Update Customer Details</h4>
                        <p>Update Customer Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVBalanceInfo", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Balance Info</h4>
                        <p>Balance Info</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVCustomerTransactionDetails", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Transaction Details</h4>
                        <p>Transaction Details</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DICVCustomerAdvancedSearch", "DICV")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/user_creation.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Advance Search</h4>
                        <p>Advance Search</p>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>