@model HPCL.Common.Models.ViewModel.CustomerDashboardModel
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Home</a> </li>
            <li class="breadcrumb-item font-weight-light">Customer Dashboard</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Key Events</span>
                            <span class="text-white m-0 get_btn" onclick="KeyEvents()">Get Details</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-0">
                            <table class="table table-striped d-md-table d-block">
                                <tbody id="test1">
                                    @* @* @foreach (var item2 in Model.KeyEventsResponseModels)
                                        {
                                        <tr>
                                        <td class="font-weight-bold">Last Login</td>
                                        <td>@item2.LastLogin</td>

                                        </tr>
                                        <tr>
                                        <td class="font-weight-bold">Last Transaction</td>
                                        <td>@item2.LastTransaction</td>

                                        </tr>
                                        <tr>
                                        <td class="font-weight-bold">Last Redemption</td>
                                        <td>@item2.LastRedemption</td>

                                        </tr>
                                        <tr>
                                        <td class="font-weight-bold">Last Password Change</td>
                                        <td>@item2.LastPasswordChange</td>

                                        </tr>
                                        <tr>
                                        <td class="font-weight-bold">Last Contact Details Update</td>
                                        <td>@item2.LastContactDetailsUpdate</td>

                                        </tr>
                                        }*@
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Verify Your Details </span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-2 mt-3">
                            <form>
                                <div class="input-group mb-3">
                                     <label style="width:100%;">Registered Email Address</label>
                                    
                                    <div class="input-group-prepend verify_form">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"></i></span>

                                    </div>
                                     @foreach (var item2 in Model.verifyYourDetailsResponseModels)
                                        {
                                    <input type="text" class="form-control" placeholder="@item2.RegisteredEmailAddress" aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="text_primary update-txt"><a href="#">Update</a></span>
                                    }
                                </div>

                                <div class="input-group mb-3">
                                    <label style="width:100%;">Registered Mobile Number</label>
                                    <div class="input-group-prepend verify_form">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa fa-mobile"></i></span>
                                    </div>
                                    @foreach (var item2 in Model.verifyYourDetailsResponseModels)
                                        {
                                    <input type="text" class="form-control" placeholder="@item2.RegisteredMobileNumber" aria-label="Username" aria-describedby="basic-addon1">
                                    <span class="text_primary update-txt"><a href="#">Update</a></span>
                                        }
                                </div>
                                
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between">
                            <span class="text-white m-0 font14">Quick Links</span>
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 px-2 mt-3">
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Online Recharge
                                </div>
                                <div class="links_cards_box mb-3">
                                    View Card Limit
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Set Sale Limits
                                </div>
                                <div class="links_cards_box mb-3">
                                    Set CCMS Limits
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-start mt-0">
                                <div class="links_cards_box mb-3">
                                    Card PIN Unblock
                                </div>
                                <div class="links_cards_box mb-3">
                                    Loyalty Redemption
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="border-1 rounded border-primary pb-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Account Summary</p>
                        <div class="col-lg-12 col-md-12 col-12 px-0">
                            <table class="table table-striped d-md-table d-block">
                                <thead>
                                    <tr style="background-color:#636363;color:#fff;">
                                        <th width="33%">Account</th>
                                        <th width="33%">Balance</th>
                                        <th width="33%">Update</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item2 in Model.accountSummaryResponseModels)
                                    {
                                        <tr style="background-color:#feffb3;color:#000;font-weight: 500;font-size: 14px;">
                                            <td colspan="3">CCMS and Cards Accounts</td>
                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px;font-weight: bold;color: #084693;">CCMS</td>
                                            <td>@item2.CCMS</td>
                                            <td>@item2.LastUpdateForCCMS</td>


                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px;font-weight: bold;color: #084693;">Card Cash</td>
                                            <td>@item2.CardCash</td>
                                            <td>@item2.LastUpdateForCardCash</td>

                                        </tr>



                                        <tr style="background-color:#feffb3;color:#000;font-weight: 500;font-size: 14px;">
                                            <td colspan="3">Loyalty Accounts</td>


                                        </tr>
                                        <tr>
                                            <td style="font-size: 14px;font-weight: bold;color: #084693;">Drivestars</td>
                                            <td>@item2.Drivestars</td>
                                            <td>@item2.LastUpdateForDrivestars</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bg_blue_sty pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -3px;">
                            <span class="text-white m-0">Last 5 Transactions</span>
                            <span class="text-white m-0 get_btn" onclick="Last5Transactions()">Get Details</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 col-md-12 col-12 px-0">
                        <table class="table table-striped d-md-table d-block">
                            <thead>
                                <tr style="background-color:#636363;color:#fff;">
                                    <th width="20%">Account</th>
                                    <th width="20%">Vehicle No/User Name</th>
                                    <th width="20%">Txn Date</th>
                                    <th width="20%">Txn Type</th>
                                    <th width="20%">Amount (Rs.)</th>
                                </tr>
                            </thead>
                            <tbody id="test2">
                                @*  @foreach (var item2 in Model.LastFiveTransactionsResponseModels)
                                    {
                                    <tr>
                                    <td>@item2.AccountNo</td>
                                    <td>@item2.VehicleNo_UserName</td>
                                    <td>@item2.TxnDate</td>
                                    <td>@item2.TxnType</td>
                                    <td>@item2.Amount</td>
                                    </tr>
                                    }*@
                            </tbody>
                        </table>
                    </div>
                    <div class="clearfix"></div>
                    <div class="bg_blue_sty pb-0">
                        <div class="bg-darkgray px-2 py-2 d-flex align-items-center justify-content-end" style="margin-top: -3px;">
                            <span class="text-white m-0"><a href="#" class="text-white">@Html.ActionLink("View All Transactions","CustomerTransactionDetails","CustomerFinancial")<i class="fa fa-angle-double-right"></i></a></span>
                        </div> 

                        <!--<div class="col-lg-12 col-md-12 col-12 py-2 px-2">

                        </div>-->
                        <div class="clearfix"></div>
                    </div>
                    <div class="border-1 rounded border-primary pb-0">
                        <div class="bg_blue_sty px-2 py-2 d-flex align-items-center justify-content-between" style="margin-top: -3px;">
                            <span class="text-white m-0">Lastest Drivestars Transactions</span>
                            <span class="text-white m-0 get_btn" onclick="LastestDrivestarsTransactions()">Get Details</span>
                        </div>

                        <div class="d-flex align-items-center justify-content-between">
                            <div class="col-lg-6 col-md-6 col-12 px-2 py-2">
                                <h2 class="last_rw_dt_txt">Last Rewarding Details</h2>
                                <table class="table table-striped d-md-table d-block mb-0">
                                    <tbody id="test3">
                                        @* @foreach (var item2 in Model.LastestDrivestarsTransactionResponseModel)
                                            {
                                            <tr>
                                            <td style="font-size:13px">Transaction Type:</td>
                                            <td>@item2.TransactionType</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Description:</td>
                                            <td>@item2.Description</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Period:</td>
                                            <td>@item2.Period</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Transaction Date:</td>
                                            <td>@item2.TransactionDate</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Drivestars Awarded:</td>
                                            <td>@item2.DrivestarsAwarded</td>
                                            </tr>
                                            }*@
                                    </tbody>
                                </table>
                                <p class="text-white m-0 text-center" style="background: #7e7e7e;padding: 7px 10px;"><a href="#" class="text-white">@Html.ActionLink("View All Rewarding Details","CustomerTransactionDetails","CustomerFinancial")<i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-12 px-2 py-2">
                                <h2 class="last_rw_dt_txt">Last Redemption Details</h2>
                                <table class="table table-striped d-md-table d-block mb-0">
                                    <tbody id="">
                                        @*  @foreach (var item2 in Model.LastestDrivestarsTransactionResponseModel)
                                            {
                                            <tr>
                                            <td style="font-size:13px">ReferenceNumber</td>
                                            <td>@item2.ReferenceNumber</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Item Name:</td>
                                            <td>@item2.ItemName</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Requested Date:</td>
                                            <td>@item2.RequestedDate</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Redeemed Points:</td>
                                            <td>@item2.RedeemedPoints</td>
                                            </tr>
                                            <tr>
                                            <td style="font-size:13px">Status:</td>
                                            <td>@item2.Status</td>
                                            </tr>
                                            }*@
                                    </tbody>
                                </table>
                                <p class="text-white m-0 text-center" style="background: #7e7e7e;padding: 7px 10px;"><a href="#" class="text-white">@Html.ActionLink("View All Rewarding Details","CustomerTransactionDetails","CustomerFinancial")<i class="fa fa-angle-double-right"></i></a></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-primary pb-0">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Reminder</p>
                        <div class="bg_blue_sty pb-0">
                            @foreach (var item2 in Model.reminderResponseModels)
                            {
                                <div class="light_blue px-2 py-2 d-flex align-items-center justify-content-between">
                                    <span class="text-white m-0">Expiring Drivestars</span>
                                    <span class="text-white m-0">@item2.ExpiringDrivestars</span>
                                </div>
                                <div class="light_blue px-2 py-2 d-flex align-items-center justify-content-between">
                                    <span class="text-white m-0">Expiring Cards</span>
                                    <span class="text-white m-0">@item2.ExpiringCards</span>
                                </div>
                            }
                            <!--<div class="col-lg-12 col-md-12 col-12 py-2 px-2">
                            </div>-->
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Notifications</p>
                        <div class="Notification_list">
                            <div class="microsoft text_width_area">
                                <div class="marquee">
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                    <p>Windows 8 and Windows RT are focused on your life—your friends and family, your apps, and your stuff. With new things like the <a href="https://windows.microsoft.com/en-US/windows-8/start-screen">Start screen</a>, <a href="https://windows.microsoft.com/en-US/windows-8/charms">charms</a>, and a <a href="https://windows.microsoft.com/en-US/windows-8/microsoft-account">Microsoft account</a>, you can spend less time searching and more time doing.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="border-1 rounded border-primary mt-3">
                        <p class="text-white px-3 py-2 bg_blue_sty m-0 font14">Download</p>
                        <div class="d-flex align-items-center justify-content-start mt-3">
                            <div class="download_cards_box mb-3 product_guide_bg">
                                <i class="fa fa-download"></i>
                                Product Guide
                            </div>
                            <div class="download_cards_box mb-3 web_user_guide_bg">
                                <i class="fa fa-download"></i>
                                Web User Guide
                            </div>
                        </div>
                        <div class="feedback_Area">
                            <i class="fa fa-comments"></i> Feedback
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<script type="text/javascript">
    function KeyEvents()
    {
        var customerID = "2600000097";

          $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetKeyEvents", "CustomerDashboard")',
                data: { CustomerId: customerID },
                dataType: "json",
                success: function(data, status, xhr) {
                    var v = data;
                    console.log(v)
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        var testHtml = '<tr><td class="font-weight-bold">LastLogin</td><td>' + data.lastLogin + '</td></tr><tr><td class="font-weight-bold">LastTransaction</td><td>' + data.lastTransaction +
                        '</td></tr><tr><td class="font-weight-bold">LastRedemption</td><td>' + data.lastRedemption +'</td></tr><tr><td class="font-weight-bold">LastPasswordChange</td><td>' + data.lastPasswordChange +
                        '</td></tr><tr><td class="font-weight-bold">LastContactDetailsUpdate</td><td>' + data.lastContactDetailsUpdate +'</td></tr>'
                        $("#test1").html(testHtml);
                    });

                },
                error: function(jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
          });


    }



    function Last5Transactions()
    {
        var customerID = "2000000141";

          $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetLast5Transactions", "CustomerDashboard")',
                data: { CustomerId: customerID },
                dataType: "json",
                success: function(data, status, xhr) {
                    var v = data;
                    console.log(v);
                    var testHtml = '';
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        testHtml = testHtml + '<tr><td>' + data.accountNo + '</td><td>' + data.vehicleNo_UserName +
                        '</td><td>' + data.txnDate +'</td><td>' + data.txnType +
                        '</td><td>' + data.amount +'</td></tr>'
                    });
                    $("#test2").html(testHtml);

                },
                error: function(jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
          });


    }

    function LastestDrivestarsTransactions()
    {
        var customerID = "";

          $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetLastestDrivestarsTransactions", "CustomerDashboard")',
                data: { CustomerId: customerID },
                dataType: "json",
                success: function(data, status, xhr) {
                    var v = data;
                    console.log(v);
                     
                    $.each(data, function (i, data) { // bind the dropdown list using json result

                         testHtml = testHtml + '<tr><td>' + data.transactionType + '</td><td>' + data.description +
                        '</td><td>' + data.period +'</td><td>' + data.transactionDate +
                        '</td><td>' + data.drivestarsAwarded +'</td></tr>' + data.referenceNumber +
                        '</td></tr>' + data.itemName +'</td></tr>' + data.requestedDate +'</td><td>' + data.redeemedPoints +'</td></tr>'
                        + data.status + '</td><td>'
                         '<tr><td class="font-weight-bold">transactionType</td><td>' + data.transactionType + '</td></tr><tr><td class="font-weight-bold">description</td><td>' + data.description + 
                         '</td></tr><tr><td class="font-weight-bold">period</td><td>' + data.period + '</td></tr><tr><td class="font-weight-bold">transactionDate</td><td>' + data.transactionDate +
                         '</td></tr><tr><td class="font-weight-bold">drivestarsAwarded</td><td>' + data.drivestarsAwarded +  '</td></tr><tr><td class="font-weight-bold">referenceNumber</td><td>' + data.referenceNumber +
                         '</td></tr><tr><td class="font-weight-bold">itemName</td><td>' + data.itemName + '</td></tr><tr><td class="font-weight-bold">requestedDate</td><td>' + data.requestedDate +
                         '</td></tr><tr><td class="font-weight-bold">redeemedPoints</td><td>' + data.redeemedPoints + '</td></tr><tr><td class="font-weight-bold">drivestarsAwarded</td><td>' + data.drivestarsAwarded +'</td></tr>'
                    });
                     $("#test3").html(testHtml);
                },
                error: function(jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
          });


    }
</script>