@model HPCL.Common.Models.RequestModel.Approvals.TerminalDeInstallationRequestAuthorizationWithRemark
@using HPCL.Common.Resources
@if (Model.TerminalDeInstallationRequestAuthorizationTbl.Count() > 0)
{
    
    <table id="terminalDeInstallApprovalTable" class="table table-striped table-bordered table-responsive mt-3" style="width:100%;">
        <thead>
            <tr>
                <th>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="checkAll" value="option1" aria-label="...">
                    </div>
                </th>
                <th>Merchant ID</th>
                <th>Terminal ID</th>
                <th>Retail Outlet Name</th>
                <th>Spends of Last Quarter</th>
                <th>No. Of Transactions of Last Quarter</th>
                <th>Zonal Office</th>
                <th>Regional Office</th>
                <th>Status</th>
                <th>Remark</th>
                <th>Requested By</th>
                <th>Requested Date</th>
                <th>Approved By</th>
                <th>Approved Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TerminalDeInstallationRequestAuthorizationTbl)
            {
                <tr>
                    <td>
                        <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                        </div>
                    </td>
                    <td class="merchantId"><a data-toggle='modal' href='#MerchantSummaryView' onclick='ViewMerchantSummary(this)' role='tab'><span>@item.MerchantId</span></a></td>
                    <td class="terminalId">@item.TerminalId</td>
                    <td>@item.RetailOutletName</td>
                    <td>@item.SpendsOfLastQuater</td>
                    <td>@item.NoOfTransactionsOfLastQuater</td>
                    <td>@item.ZonalOfficeName</td>
                    <td>@item.RegionalOfficeName</td>
                    <td>@item.StatusName</td>
                    <td>@item.ApprovalRemark</td>
                    <td>@item.RequestedBy</td>
                    <td>@item.RequestedDate</td>
                    <td>@item.ApprovedBy</td>
                    <td>@item.ApprovedDate</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="d-flex align-items-center justify-content-center flex-wrap mt-0 mb-3">
        <div class="col-12 col-md-6">
            <label class="font-weight-normal col-md-3 col-12">Remark <sup class="text-danger">*</sup></label>
            <div class="col-md-9 col-12">
                <div class="custom_select">
                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                    <span class="error" id="remark_error"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="d-flex align-items-center justify-content-center mt-0">
        <div class="px-2">
            <button class="btn btn_primary" type="button" onclick="terminalDeInstallationForFinal('Approve');">Authorize</button>
        </div>
        <div class="px-2">
            <button class="btn btn_primary" type="button" onclick="terminalDeInstallationForFinal('Reject');">Reject</button>
        </div>
    </div>
}
else
{
    <div class="alert alert-danger text-center">
        @Model.Message
    </div>
}
<div class="modal fade" id="MerchantSummaryView" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="max-width:960px; margin:20px auto;">
        <div class="modal-content">
            <div class="modal-header py-2">
                <h5 class="modal-title" id="exampleModalLabel" style="font-size:18px;">Merchant Summary</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-lg-12 col-md-12 col-12 toBeHiddenOnSuccess" id="MerchantSummaryData">
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    function terminalDeInstallationForFinal(action) {
         var flag = "Y";
        var remark = $("#Remark").val();

        ObjApprovalRejectDetail = [];
        $("#terminalDeInstallApprovalTable tr").each(function () {
            if ($(this).find('input[type="checkbox"]').is(":checked")) {
                    let merchant = $(this).find(".merchantId")[0].innerText;
                    let terminal = $(this).find(".terminalId").html();
                    if (merchant != undefined && terminal != undefined) {
                        ObjApprovalRejectDetail.push({ MerchantId: merchant, TerminalId: terminal });
                    }


            }
        });
        if (ObjApprovalRejectDetail.length == 0) {
            if(action=="Approve")
                alert("Please select at least one request to authorize.");
            if(action=="Reject")
                alert("Please select at least one request to reject.");
            flag = "N";
            return;
        }
        if (remark.trim() == "") {
            $("#remark_error").html("Please enter Remark.");
            flag = "N";
            return;
        }
        else
            $("#remark_error").html("");
            var confirmText="";
             if(action=="Approve")
                confirmText="Do you want to authorize selected Terminal Deinstallation Request(s) ?.";
            if(action=="Reject")
             confirmText ="Do you want to reject selected Terminal Deinstallation Request(s) ?.";
        if (ObjApprovalRejectDetail.length > 0 && flag == "Y") {
            if (confirm(confirmText)) {
                var modal = { Remark: remark, ModifiedBy: "", ObjTerminalDeInstallationAuthorizationInput: ObjApprovalRejectDetail, Action: action, UserId: "", Useragent: "", Userip: "", };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("TerminalDeInstallRequestApprovalRejectionAuth", "Approvals")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(modal),
                    success: function (data) {
                        if(data.length>0){
                            if(data[0]=="0")
                                $("#reason").addClass("alert-danger");
                            else
                                $("#reason").addClass("alert-success");
                            $("#reason").html(data[1]);
                            $("#reason").attr("style","display:block");
                            $(".toBeHiddenOnSuccessAuth").hide();
                        }
                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                    });
                }
            }


    };
    $("#Remark").on("blur", function () {
         var remark = $("#Remark").val();
         if (remark.trim() == "") {
             $("#remark_error").attr("style", "display:block");
             $("#remark_error").html("Please enter Remark.");

         }
         else{
             $("#remark_error").attr("style", "display:none");
             $("#remark_error").html("");
         }
     });
     function ViewMerchantSummary(o){
        var erpCode=o.innerText.substr(2);
         $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetMerchantSummaryData", "TerminalManagement")',
            contentType: "application/json; charset=utf-8",
            data: { ERPCode: erpCode },
            dataType: "text",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#MerchantSummaryData").html("");
                    $("#MerchantSummaryData").html(data);
                  $('#MerchantSummaryView').modal('show');
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });
    }
</script>
