@model List<HPCL.Common.Models.ResponseModel.Approvals.GetTerminalDeInstallationRequestApprovalReponseModal>
@using HPCL.Common.Resources

<table id="UserMappingTable" class="table table-striped table-bordered table-responsive mt-3" style="width:100%;">
    <thead>
        <tr>
            <th>
                <div class="form-check">
                    <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                </div>
            </th>
            <th>Merchant ID</th>
            <th>Terminal ID</th>
            <th>Retail Outlet Name</th>
            <th>Spends of Last Quarter</th>
            <th>No. Of Transactions of Last Quarter</th>
            <th>Zonal Office</th>
            <th>Remark</th>
            <th>Regional Office</th>
            <th>Requested By</th>
            <th>Requested Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="form-check">
                        <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                    </div>
                </td>
                <td>@item.MerchantId</td>
                <td>@item.TerminalId</td>
                <td>@item.RetailOutletName</td>
                <td>@item.SpendsOfLastQuater</td>
                <td>@item.NoOfTransactionsOfLastQuater</td>
                <td>@item.ZonalOfficeName</td>
                <td>@item.ApprovalRemark</td>
                <td>@item.RegionalOfficeName</td>
                <td>@item.RequestedBy</td>
                <td>@item.RequestedDate</td>
            </tr>
        }
    </tbody>
</table>
<div class="clearfix"></div>
<div class="d-flex align-items-center justify-content-center mt-0">
    <div class="px-2">
        <button class="btn btn_primary" type="button">Approve</button>
    </div>
    <div class="px-2">
        <button class="btn btn_primary" type="button">Reject</button>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>
