@model HPCL.Common.Models.ViewModel.Approvals.TerminalDeInstallationRequestAuthorizationRequestModal
@using HPCL.Common.Resources

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "Approvals")" class="text_primary">Approvals</a> </li>
            <li class="breadcrumb-item font-weight-light"> Terminal Deinstallation Request Authorization</li>
        </ul>
        <div id="reason" class="mb-3 text-center alert" style="display:none"></div>
        <form class="toBeHiddenOnSuccessAuth">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold"> Terminal Deinstallation Request Authorization</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">SBU Type <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.SBUTypeId, new SelectList(Model.SBUTypes, "SBUId", "SBUName"), new { @class = "form-control" })
                                                <span class="error" id="sbuType_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.ZonalOfc <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.ZonalOfficeId, new SelectList(Model.ZoneMdl, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getTerminalRegionalOfc()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal  col-md-4 col-12">@Label.RegionalOfc <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.RegionalOfficeId, new SelectList(Model.RegionMdl, "RegionalOfficeID", "RegionalOfficeName"), new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                            <span class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error');" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.Merchant</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantID,  new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="merchantId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="d-flex align-items-center flex-wrap">

                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">@Label.TerminalID</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.TerminalID, new{ @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span style="display:none" class="error" id="terminalId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div style="display:none;">@Html.TextBoxFor(m => m.RegionalOfficeId)</div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="searchTerminalDeInstallAuthDetailsTbl()">Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="resetFields()">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccessAuth" id="terminalDeInstallAuthorizationDetailsTbl">
        </div>
        <div class="clearfix"></div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".toBeHiddenOnSuccessAuth").show();

    });
     $("#SBUTypeId").change(function () {
             var id = this.value;

             $.ajax({
                 type: 'POST',  // http method
                 url: '@Url.Action("GetZonalOfficebySBUType", "Common")',
                 data: { SBUTypeId: id },  // data to submit
                 dataType: "json",
                 success: function (data, status, xhr) {
                     var v = data;
                     if (status == 'success') {

                         $("#ZonalOfficeId").html("");
                         $.each(data, function (i, data) { // bind the dropdown list using json result
                                 if (i == 0) {
                                 $('<option>',
                                     {
                                         value: 0,
                                         text: "--All--"
                                     }).html("--All--").appendTo("#ZonalOfficeId");
                                 }
                                 else{
                                 $('<option>',
                                     {
                                         value: data.zonalOfficeID,
                                         text: data.zonalOfficeName
                                     }).html(data.zonalOfficeName).appendTo("#ZonalOfficeId");
                                 }
                         });
                         $("#ZonalOfficeId")[0].sumo.reload();
                     }
                     else {
                         console.log(v);
                     }
                 },
                 error: function (jqXhr, textStatus, errorMessage) {
                     alert("Error Populating Customer Zone");
                 }
             });
         });
    function getTerminalRegionalOfc() {
        var id = $('#ZonalOfficeId :selected').val();
        if(id>0){
            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetRegionalOfcDetails", "Common")',
                data: { ZonalOfcID: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#RegionalOfficeId").html("");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            if (i == 0) {
                                $('<option>',
                                    {
                                        value: 0,
                                        text: "-All-"
                                    }).html("--All--").appendTo("#RegionalOfficeId");
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                            }
                            else {
                                $('<option>',
                                    {
                                        value: data.regionalOfficeID,
                                        text: data.regionalOfficeName
                                    }).html(data.regionalOfficeName).appendTo("#RegionalOfficeId");
                            }

                        });
                        $("#RegionalOfficeId")[0].sumo.reload();
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
            });
        }
        else{
             $("#RegionalOfficeId").html('');
            $("#RegionalOfficeId")[0].sumo.reload();
        }
    };

    $("#RegionalOfficeId").change(function () {
        var id = this.value;
        $("#RegionalOfficeId").val(id);
    });

    function searchTerminalDeInstallAuthDetailsTbl() {
        var flag="Y";
        var zoID = $("#ZonalOfficeId").val();
        var roID = $("#RegionalOfficeId").val();
        var fromDate = $("#FromDate").val();
        var toDate = $("#ToDate").val();
        var merchantID = $("#MerchantID").val();
        var terminalID = $("#TerminalID").val();
          if (fromDate != "" && toDate != "") {
            flag = checkDates("fromDate_error");
        }
        if (merchantID != "") {
            if (!merchantID.match(mappedMerchantID)) {
                $("#merchantId_error").attr("style", "display:block");
                $("#merchantId_error").html("Please enter valid Merchant ID");
                flag = "N";
            }
        }
        if (terminalID != "") {
            if (!terminalID.match(mappedterminalID)) {
                $("#terminalId_error").attr("style", "display:block");
                $("#terminalId_error").html("Please enter valid Terminal ID");
                flag = "N";
            }
        }


        if(flag=="Y"){
             var sbuTypeid = $("#SBUTypeId").val();
            $.ajax({
                type: 'GET',  // http method
                url: '@Url.Action("GetTerminalsForAuthorization", "Approvals")',
                contentType: "application/json; charset=utf-8",
                data: { zonalOfcID: zoID, regionalOfcID: roID, fromDate: fromDate, toDate: toDate, merchantId: merchantID, terminalId: terminalID,SBUTypeId:sbuTypeid},
                dataType: "text",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#terminalDeInstallAuthorizationDetailsTbl").html(data);
                        $('html, body').animate({
                            scrollTop: $("#terminalDeInstallAuthorizationDetailsTbl").offset().top
                        }, 2000);
                         $("#FromDate").attr("disabled",true);
                        $("#ToDate").attr("disabled",true);
                        $("#MerchantID").attr("disabled",true);
                        $("#TerminalID").attr("disabled",true);
                        $("#ZonalOfficeId").attr("disabled",true);
                        $("#RegionalOfficeId").attr("disabled",true);
                        $("#SBUTypeId").attr("disabled",true);
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
            });
        }
    }
    function resetFields() {
       window.location.reload(true);
    }
     $('select').SumoSelect({
            placeholder: '-All-',
            search: true,
            searchText: 'Enter Text here.'
        });
         $("#MerchantID").on("blur", function () {
         var merchantId = $("#MerchantID").val();
         if (merchantId != "") {
            if (!merchantId.match(mappedMerchantID)) {
                $("#merchantId_error").attr("style", "display:block");
                $("#merchantId_error").html("Please enter valid Merchant ID");

            }
            else{
                $("#merchantId_error").attr("style", "display:none");
                $("#merchantId_error").html("");
            }
         }
         else{
             $("#merchantId_error").attr("style", "display:none");
             $("#merchantId_error").html("");
         }
     });
     $("#TerminalID").on("blur", function () {
         var terminalId = $("#TerminalID").val();
         if (terminalId != "") {
             if (!terminalId.match(mappedterminalID)) {
                 $("#terminalId_error").attr("style", "display:block");
                 $("#terminalId_error").html("Please enter valid Terminal ID");
             }
             else{
                 $("#terminalId_error").attr("style", "display:none");
                 $("#terminalId_error").html("");
             }
         }
         else{
             $("#terminalId_error").attr("style", "display:none");
             $("#terminalId_error").html("");
         }
     });
</script>
