
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SuccessRedirect</title>
</head>
<body>
    <div class="createmessagearea alert alert-success">
    @*<b>Customer Created Successfully With Customer Reference No @ViewBag.CustomerReferenceNo </b> &nbsp;&nbsp; @Html.ActionLink("Create Cards", "AddCardDetails", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null)*@
    @*<b>Customer Created Successfully With Customer Reference No @ViewBag.CustomerReferenceNo </b> &nbsp;&nbsp; @Html.ActionLink("Upload KYC Documents", "UploadDoc", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null)*@
    @if(ViewBag.Status=="Update"){
        <p>@ViewBag.Message With Customer Reference No. @ViewBag.CustomerReferenceNo  &nbsp;&nbsp; <br />@Html.ActionLink("Update KYC Documents", "UploadFleetDoc", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null)</p> 
    }
     else{
        <p>Customer Created Successfully With Customer Reference No. @ViewBag.CustomerReferenceNo  &nbsp;&nbsp;<br /> @Html.ActionLink("Create Cards", "AddCardDetails", new { CustomerReferenceNo = @ViewBag.CustomerReferenceNo }, null)</p>
     }
    </div>
</body>
</html>
