@model HPCL.Common.Models.ViewModel.Customer.UploadDoc

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","AggregatorFleet")" class="text_primary">Aggregator Fleet</a> </li>
            <li class="breadcrumb-item font-weight-light">Upload Document</li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Upload Document</p>
                    <div class="w-100">

                        @Html.ValidationSummary(false)

                        <form method="post" data-ajax="true" asp-controller="AggregatorFleet" asp-action="UploadFleetDoc" data-ajax-method="POST" data-ajax-success="OnSuccessUploadDoc" data-ajax-failure="OnFailure">
                            @*<p class="text-dark pb-2 mb-0 font-weight-bold ml-4 mr-4" style="border-bottom: 1px solid #ccc;">
                                Search
                                </p>*@
                            <div class="d-flex align-items-center justify-content-between flex-wrap pt-0">
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Reference Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CustomerReferenceNo, new { @id = "CustomerReferenceNoId", @class = "form-control restrictPaste", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CustomerReferenceNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div id="resSearch" style="display:none" class="w-100 mb-3">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap pt-0">
                                        <div class="col-md-6 col-12 px-2">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Name</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerName", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12 px-2">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12 mb-0">Form Number</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FormNumber, new { @id = "FormNumber", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="openSearchGrid()">SEARCH</button>
                                </div>
                                <div class="px-2">
                                    <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetClick()">RESET</a>
                                </div>
                            </div>
                            @Html.HiddenFor(model => Model.IdProofFrontSRC)
                            @Html.HiddenFor(model => Model.Type)
                        </form>
                    </div>
                    <div id="noRecord" class="mb-3 text-center alert alert-danger" style="display:none;"></div>
                </div>
                <div class="clearfix"></div>


                <div id="uploadSection" style="display:none;">

                    <div class="form-group d-flex align-items-center flex-wrap">
                    </div>

                    <form id="saveDocs" method="post" data-ajax="true" enctype="multipart/form-data" asp-controller="AggregatorFleet" asp-action="SaveUploadDoc" data-ajax-method="POST" data-ajax-success="OnSuccessUploadDocSave" data-ajax-failure="OnFailure">
                        <div id="docUpdateId">

                            <div class="border-1 rounded border-grey mb-3">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">ID Proof of Owner/Partner</p>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Upload ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.IdProofFront, new { @id = "IdProofFront", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br />File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.IdProofFront, "", new { @id = "idFrontErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idPfrontImg"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>

                            <div class="border-1 rounded border-grey mb-4 pt-0">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">Customer Address Proof</p>
                              

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Upload Address Proof<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.AddressProofFront, new { @id = "AddressProofFront", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br />File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.AddressProofFront, "", new { @id = "addFrontErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idAfrontImg"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                             <div class="border-1 rounded border-grey mb-4 pt-0">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">PAN Card Details</p>
                                


                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Upload PAN Card<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.PanCard, new { @id = "PanCard", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br />File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.PanCard, "", new { @id = "panCardErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="panCardImg"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>

                             <div class="border-1 rounded border-grey mb-4 pt-0">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">Vehicle Details</p>
                               

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Upload Vehicle Details<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.VehicleDetails, new { @id = "VehicleDetails", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br />File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.VehicleDetails, "", new { @id = "vehicleDetailsErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="vehicleDetailsImg"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>

                             <div class="border-1 rounded border-grey mb-4 pt-0">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">Signed Customer Form</p>
                              

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Upload Customer Form<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CustomerForm, new { @id = "CustomerForm", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br />File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.CustomerForm, "", new { @id = "customerFormErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="customerFormImg"></div>
                                        </div>
                                    </div>
                                </div>
                                
                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="submit" id="btnSaveDoc" name="submit">SAVE</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>


<script>



     function resetClick() {
         document.getElementById('CustomerReferenceNoId').value = '';
         $("#CustomerReferenceNoId").prop('readonly', false);
          window.location.href = '@Url.Action("UploadFleetDoc", "AggregatorFleet", new { customerReferenceNo = "" })';
     };

     $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

     var idFront;
     var addFront;
     var panImg;
     var vehicleImg;
     var CustFormImg;

     $(document).ready(function () {

         if ($("#CustomerReferenceNoId").val() != "") {
             openSearchGrid();
             $("#btnSave").click();
         }
         $("#IdProofFront").change(function () {
             $("#idFrontErr").text("");
             $("#idPfrontImg").html("");

             //var rv = true;
             idFront = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(idFront == addFront){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Image already used");
                return false;
             }else if(idFront == panImg){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Image already used");
                return false;
             }else if(idFront == vehicleImg){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Image already used");
                return false;
             }else if(idFront == CustFormImg){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Image already used");
                return false;
             }
             console.log("this.files[0].size  :",this.files[0].size);

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if (regexImage.test($(this).val())) {
                             $("#idPfrontImg").show();
                             $("#idPfrontImg").append("<img />");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idPfrontImg img").attr("src", e.target.result);
                                 $("#idPfrontImg img").attr("style", "width: 200px");
                                 $("#idPfrontImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                              $("#idPfrontImg").hide();
                         }
                     }else{
                        $("#idFrontErr").text("");
                        $('#IdProofFront').val('');
                        $("#idPfrontImg").hide();
                        $("#idFrontErr").text("Document Image should not exceeded from 5MB");
                        idFront = "";
                     }

                 } else {
                     $('#IdProofFront').val('');
                 }
             } else {
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Invalid File Type");
                idFront = "";
             }
         });

         $("#AddressProofFront").change(function () {
             $("#addFrontErr").html("");
             $("#idAfrontImg").html("");

             addFront = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(addFront == idFront){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Image already used");
                return false;
             }else if(addFront == panImg){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Image already used");
                return false;
             }else if(addFront == vehicleImg){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Image already used");
                return false;
             }
             else if(addFront == CustFormImg){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Image already used");
                return false;
             }

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if(regexImage.test($(this).val())) {
                             $("#idAfrontImg").show();
                             $("#idAfrontImg").append("<img />");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idAfrontImg img").attr("src", e.target.result);
                                 $("#idAfrontImg img").attr("style", "width: 200px");
                                 $("#idPfrontImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#idAfrontImg").hide();
                         }
                      }else{
                        $("#addFrontErr").text("");
                        $('#AddressProofFront').val('');
                        $("#idAfrontImg").hide();
                        $("#addFrontErr").text("Document Image should not exceeded from 5MB");
                        addFront="";
                     }
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Invalid File Type");
                addFront="";
             }
         });

         $("#PanCard").change(function () {
             $("#panCardErr").text("");
             $("#panCardImg").html("");

             //var rv = true;
             panImg = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(panImg == addFront){
                $("#panCardErr").text("");
                $('#PanCard').val('');
                $("#panCardImg").hide();
                $("#panCardErr").text("Image already used");
                return false;
             }else if(panImg == idFront){
                $("#panCardErr").text("");
                $('#PanCard').val('');
                $("#panCardImg").hide();
                $("#panCardErr").text("Image already used");
                return false;
             }else if(panImg == vehicleImg){
                $("#panCardErr").text("");
                $('#PanCard').val('');
                $("#panCardImg").hide();
                $("#panCardErr").text("Image already used");
                return false;
             }else if(panImg == CustFormImg){
                $("#panCardErr").text("");
                $('#PanCard').val('');
                $("#panCardImg").hide();
                $("#panCardErr").text("Image already used");
                return false;
             }
             console.log("this.files[0].size  :",this.files[0].size);

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if (regexImage.test($(this).val())) {
                             $("#panCardImg").show();
                             $("#panCardImg").append("<img />");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#panCardImg img").attr("src", e.target.result);
                                 $("#panCardImg img").attr("style", "width: 200px");
                                 $("#panCardImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                              $("#panCardImg").hide();
                         }
                     }else{
                        $("#panCardErr").text("");
                        $('#PanCard').val('');
                        $("#panCardImg").hide();
                        $("#panCardErr").text("Document Image should not exceeded from 5MB");
                        panImg = "";
                     }

                 } else {
                     $('#PanCard').val('');
                 }
             } else {
                $("#panCardErr").text("");
                $('#PanCard').val('');
                $("#panCardImg").hide();
                $("#panCardErr").text("Invalid File Type");
                panImg = "";
             }
         });

         $("#VehicleDetails").change(function () {
             $("#vehicleDetailsErr").html("");
             $("#vehicleDetailsImg").html("");

             vehicleImg = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(vehicleImg == idFront){
                $("#vehicleDetailsErr").text("");
                $('#VehicleDetails').val('');
                $("#vehicleDetailsImg").hide();
                $("#vehicleDetailsErr").text("Image already used");
                return false;
             }else if(vehicleImg == panImg){
                $("#vehicleDetailsErr").text("");
                $('#VehicleDetails').val('');
                $("#vehicleDetailsImg").hide();
                $("#vehicleDetailsErr").text("Image already used");
                return false;
             }else if(vehicleImg == addFront){
                $("#vehicleDetailsErr").text("");
                $('#VehicleDetails').val('');
                $("#vehicleDetailsImg").hide();
                $("#vehicleDetailsErr").text("Image already used");
                return false;
             }
             else if(vehicleImg == CustFormImg){
                $("#vehicleDetailsErr").text("");
                $('#VehicleDetails').val('');
                $("#vehicleDetailsImg").hide();
                $("#vehicleDetailsErr").text("Image already used");
                return false;
             }

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if(regexImage.test($(this).val())) {
                             $("#vehicleDetailsImg").show();
                             $("#vehicleDetailsImg").append("<img />");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#vehicleDetailsImg img").attr("src", e.target.result);
                                 $("#vehicleDetailsImg img").attr("style", "width: 200px");
                                 $("#vehicleDetailsImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#vehicleDetailsImg").hide();
                         }
                      }else{
                        $("#vehicleDetailsErr").text("");
                        $('#VehicleDetails').val('');
                        $("#vehicleDetailsImg").hide();
                        $("#vehicleDetailsErr").text("Document Image should not exceeded from 5MB");
                        vehicleImg="";
                     }
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#vehicleDetailsErr").text("");
                $('#VehicleDetails').val('');
                $("#vehicleDetailsImg").hide();
                $("#vehicleDetailsErr").text("Invalid File Type");
                vehicleImg="";
             }
         });

         $("#CustomerForm").change(function () {
             $("#customerFormErr").html("");
             $("#customerFormImg").html("");

             CustFormImg = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(CustFormImg == idFront){
                $("#customerFormErr").text("");
                $('#CustomerForm').val('');
                $("#customerFormImg").hide();
                $("#customerFormErr").text("Image already used");
                return false;
             }else if(CustFormImg == panImg){
                $("#customerFormErr").text("");
                $('#CustomerForm').val('');
                $("#customerFormImg").hide();
                $("#customerFormErr").text("Image already used");
                return false;
             }else if(CustFormImg == addFront){
                $("#customerFormErr").text("");
                $('#CustomerForm').val('');
                $("#customerFormImg").hide();
                $("#customerFormErr").text("Image already used");
                return false;
             }
             else if(CustFormImg == vehicleImg){
                $("#customerFormErr").text("");
                $('#CustomerForm').val('');
                $("#customerFormImg").hide();
                $("#customerFormErr").text("Image already used");
                return false;
             }

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if(regexImage.test($(this).val())) {
                             $("#customerFormImg").show();
                             $("#customerFormImg").append("<img />");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#customerFormImg img").attr("src", e.target.result);
                                 $("#customerFormImg img").attr("style", "width: 200px");
                                 $("#customerFormImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#customerFormImg").hide();
                         }
                      }else{
                        $("#customerFormErr").text("");
                        $('#CustomerForm').val('');
                        $("#customerFormImg").hide();
                        $("#customerFormErr").text("Document Image should not exceeded from 5MB");
                        CustFormImg="";
                     }
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#customerFormErr").text("");
                $('#CustomerForm').val('');
                $("#customerFormImg").hide();
                $("#customerFormErr").text("Invalid File Type");
                CustFormImg="";
             }
         });
     
     });


    /* docUpdateId*/
     function openSearchGrid() {
         if ($("#CustomerReferenceNoId").val() == "") {
             document.getElementById('resSearch').style.display = 'none';
             document.getElementById('uploadSection').style.display = 'none';
         }
     };

    function OnSuccessUploadDoc(res) {

        console.log(res);

        if (res.searchCustomer.result.success == true) {

            document.getElementById("noRecord").style.display = "none";

            //$("#resSearch div").parent().remove();

            document.getElementById("CustomerName").value = res.searchCustomer.result.data[0].customerName;
            document.getElementById("FormNumber").value = res.searchCustomer.result.data[0].formNumber;
            if(res.searchCustomer.result.data[0].status != 0){
                document.getElementById('uploadSection').style.display = 'block';
                document.getElementById('resSearch').style.display = 'block';
                $("#CustomerReferenceNoId").prop('readonly', true);
            }else{
                $("#noRecord").html("");
                $("#noRecord").append("<span>" + res.searchCustomer.result.data[0].reason + "</span>");
                document.getElementById('uploadSection').style.display = 'none';
                document.getElementById('resSearch').style.display = 'block';
                $("#CustomerReferenceNoId").prop('readonly', true);
                document.getElementById("noRecord").style.display = "block";
            }
        } else {
            document.getElementById('uploadSection').style.display = 'none';
            document.getElementById('resSearch').style.display = 'none';
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchCustomer.result.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    };

    function OnSuccessUploadDocSave(res) {
        //debugger;
        const myArray = res.split(",");
        console.log(myArray[1]);
        //alert(res);
        /*alert(myArray[0]);*/
        //var customerReferenceNo = $('#CustomerReferenceNo').val();
        //console.log(customerReferenceNo);
        var imagePath = $('#IdProofFrontSRC').val();

        //if (imagePath != "")
        //    window.location.href = '@Url.Action("ValidateFleetCustomer", "AggregatorFleet")';
        //else
            window.location.href = '@Url.Action("SuccessUploadRedirect", "AggregatorFleet")?customerReferenceNo='+myArray[1];

    };

     function OnFailure(data) {
         alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

</script>