@model HPCL.Common.Models.ViewModel.AshokLeyLand.ViewALOTCCardDealerMappingModel
@using HPCL.Common.Resources
<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index", "AshokLeyland")" class="text_primary">Ashok Leyland</a> </li>
            <li class="breadcrumb-item font-weight-light">AL View Card Dealer Allocation</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">AL View Card Dealer Allocation</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Dealer Code <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.DealerCode, new { @class = "form-control", maxlength = "25", autocomplete = "off", onkeypress = "return AllowAlphaNumeric(event)" })
                                                <span class="error" id="DealerCode_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Card Number </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CardNumber, new { @class = "form-control", autocomplete = "off", maxlength = "16", onkeypress = "return isNumberKey(event)" })
                                                @*<span class="error" id="CardNumber_error"></span>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnSearch">@Label.Search</button>
                                </div>
                                @*<div class="px-2">
                                        <button class="btn btn_primary" type="button" id="btnExport">Export to Excel</button>
                                    </div>*@
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset">@Label.Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="viewALOTCCardDealerAllocationTbl">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
    <script type="text/javascript">

        
        $("#btnReset").click(function () 
        {
             window.location.href = '@Url.Action("ViewALOTCCardsDealerMapping", "AshokLeyLand")';
        });

        $("#btnSearch").click(function () {
            //debugger;
            var dealerCode = document.getElementById("DealerCode").value.trim();
            if (document.getElementById("DealerCode").value.trim() == "") 
            {
                document.getElementById("DealerCode_error").innerHTML = "Please enter Dealer Code";
                return (false);
            }
            else 
            {
                if (localStorage.getItem("DEALERFOUND") == 0) 
                {
                    if(localStorage.getItem("DEALERMSG")=="")
                    {
                        document.getElementById("DealerCode_error").innerHTML = "Invalid Dealer Code";
                        return (false);
                    }
                    else
                    {
                        document.getElementById("DealerCode_error").innerHTML = localStorage.getItem("DEALERMSG");
                        return (false);
                    }
                }
                else 
                {
                    document.getElementById("DealerCode_error").innerHTML = "";
                }
            }
                        
            var cardNumber = document.getElementById("CardNumber").value;

            //var found = false;
            viewALOTCCardDealerAllocationTbl.style.display = "block";

            $.ajax({
                type: 'GET',  // http method
                url: '@Url.Action("GetViewALOTCCardDealerAllocation", "AshokLeyLand")',
                contentType: "application/json; charset=utf-8",
                data: { DealerCode: dealerCode, CardNo: cardNumber },
                dataType: "text",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $("#viewALOTCCardDealerAllocationTbl").html(data);
                        $('html, body').animate({
                            scrollTop: $("#viewALOTCCardDealerAllocationTbl").offset().top
                        }, 2000);
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error");
                }
            });


        });

      $("#DealerCode").on("blur", function () {
        debugger;
        localStorage.setItem("DEALERFOUND", "0");
        localStorage.setItem("DEALERMSG", "");

        var dealerCode = document.getElementById("DealerCode").value.trim();
        if (dealerCode == "") 
        {
            document.getElementById("DealerCode_error").innerHTML = "Please enter Dealer Code";
            return (false);
        }
        else 
        {
            document.getElementById("DealerCode_error").innerHTML = "";
        }


        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("CheckDealerCodeIsValid", "Common")',
            data: { DealerCode: dealerCode },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                console.log(data);
                console.log(status);
                console.log(data.status);

                if (status == 'success') 
                {
                    if (data.status == 1) 
                    {
                        document.getElementById("DealerCode_error").innerHTML = "";
                        localStorage.setItem("DEALERFOUND", "1");
                    }
                    else 
                    {
                        document.getElementById("DealerCode_error").innerHTML = data.reason;
                        localStorage.setItem("DEALERFOUND", "0");
                        localStorage.setItem("DEALERMSG", data.reason);
                    }

                    if (data == "Failed to load Dealer Details") 
                    {
                        document.getElementById("DealerCode_error").innerHTML = "Invalid Dealer Code";
                        localStorage.setItem("DEALERFOUND", "0");
                        localStorage.setItem("DEALERMSG", "Invalid Dealer Code");
                    }
                }
                else 
                {
                    document.getElementById("DealerCode_error").innerHTML = "Invalid Dealer Code";
                    localStorage.setItem("DEALERFOUND", "0");
                    localStorage.setItem("DEALERMSG", "Invalid Dealer Code");
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                document.getElementById("DealerCode_error").innerHTML = "Invalid Dealer Code";
                localStorage.setItem("DEALERFOUND", "0");
                localStorage.setItem("DEALERMSG", "Invalid Dealer Code");
            }
        });


    });

    </script>
