@model HPCL.Common.Models.ViewModel.CustomerRequest.GetCardRenwalRequestList

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>


<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4" style="background: #edecec !important;">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Request</a> </li>
            <li class="breadcrumb-item font-weight-light">Card Renewal Request</li>
        </ul>
        <form id="formVal" method="post" data-ajax="true" data-ajax-controller="CustomerRequest" data-ajax-action="CardRenewalRequest" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey h-100">
                        <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">Card Renewal Request</p>
                        <div class="col-lg-12 col-md-12 col-12 p-3 bg-white">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerDefaultVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CustomerId, "", new {@id="CustomerIdErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0 offset-md-1">Card Number</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CardNo, new {@id="cardNoVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="d-flex align-items-center justify-content-center flex-wrap px-4">
                                <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                    <button class="btn btn_primary" type="submit" name="submit">SEARCH</button>
                                </div>
                                <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                    <a class="btn btn_primary" href="#" id="btnCancel" onclick="resetClick()"> <i class="fa fa-refresh" aria-hidden="true">&nbsp;</i> RESET</a>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div id="UpdateGrid" style="display:none;margin-top:1%">
                                <div class="table-responsive">
                                    <table id="CardSearch" class="datatable table table-striped d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th>S.No.</th>
                                                <th><input type="checkbox" name="allListCheck" class="checkAll" /></th>
                                                <th>Customer ID</th>
                                                <th>Customer Name</th>
                                                <th style="width:1%">Card Numer</th>
                                                <th>Expiry Date</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-md-3 flex-wrap px-4 mb-3">
                                    <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                        <button class="btn btn_primary" type="button" id="btnSave" name="submit" onclick="updateCards()">SUBMIT</button>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    <div id="successUpdate" class="mt-3 mb-0 text-center alert alert-success" style="display:none;"></div>
                    <div class="clearfix"></div>
                    <div id="noRecord" class="mt-3 mb-0 text-center alert alert-danger" style="display:none;"></div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>

@using Microsoft.AspNetCore.Http;
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

<script>

     $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        var loginType = '@Context.Session.GetString("LoginType")';

        if (loginType == "Customer") {

            $("#CustomerDefaultVal").val('@Context.Session.GetString("UserId")');
            $("#CustomerDefaultVal").attr("readonly", true);

            $.ajax({
                url: "@Url.Action("CardRenewalRequest", "CustomerRequest")",
                type: "POST",
                data: $("#formVal").serialize(),
                dataType: "JSON",
                success: function (data) {

                    OnSuccess(data);

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }
    });

    function resetClick() {
        $("#CustomerDefaultVal").attr("readonly", false);
        $("#cardNoVal").attr("readonly", false);
        window.location.reload(true);
    }

    function OnSuccess(res) {
        console.log(res, "data");

        if (res.searchList.success == true) {

            document.getElementById("noRecord").style.display = "none";
            document.getElementById("successUpdate").style.display = "none";

            var searchGrid = res.searchList.data;

            $('#CardSearch').DataTable().clear().destroy();

            var tbl = $('#CardSearch').DataTable({
                paging: true,
                searching: false,
                stateSave: true,
                "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                "autoWidth": false,
                "oLanguage": {
                    "sLengthMenu": "Display _MENU_ Records",
                    "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                }
            });

            for (var i = 0; i < searchGrid.length; i++) {

                var expDts;

                if(((searchGrid[i].expiryDate) == "01/01/0001 00:00:00") || ((searchGrid[i].expiryDate) == "01/01/1900 00:00:00") || ((searchGrid[i].expiryDate) == null)){
                    expDts = "";
                }else{
                    expDts = moment(searchGrid[i].expiryDate, 'DD-MM-YYYY').format('DD-MM-YYYY');
                }

                var srNumber = (i+1);
                var pressCheck = "<input type='checkbox' class='checkEnable' name='enableRow'>";
                var customerId = "<span class='getCustId'>" + (searchGrid[i].customerId || '') + "</span>";
                var individualOrgName = (searchGrid[i].individualOrgName || '');
                var cardNo = "<span class='getCardNo'>" + (searchGrid[i].cardNo || '') + "</span>";
                var expiryDate = expDts + "<span style='display:none;' class='getVehicleNo'>" + (searchGrid[i].vechileNo || '') + "</span>";

                tbl.row.add([
                    srNumber,
                    pressCheck,
                    customerId,
                    individualOrgName,
                    cardNo,
                    expiryDate
                ]).draw();
            }

            $("#CustomerDefaultVal").attr("readonly", true);
            $("#cardNoVal").attr("readonly", true);

            document.getElementById("UpdateGrid").style.display = "grid";
        } else {
            document.getElementById("UpdateGrid").style.display = "none";
            document.getElementById("successUpdate").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    $(".checkAll").click(function () {
        if (this.checked) {
            $(".checkEnable").prop("checked", true);
        } else {
            $(".checkEnable").prop("checked", false);
        }
    });

    function updateCards(){

        var updateArray = new Array();

        var flag = "Y";
        var CardNo;
        var VechileNo;

        var customerId = $("#CustomerDefaultVal").val();

        $("#CardSearch input[type=checkbox]:checked").each(function () {

            var row = $(this).closest("tr");

            CardNo = row.find('.getCardNo').text();
            VechileNo = row.find('.getVehicleNo').val();

            updateArray.push({
                CardNo: CardNo,
                VechileNo: VechileNo
            });
        });

        if (CardNo == undefined) {
                alert("Please select at least one record");
                flag = "N";
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {

            if (confirm('Are you sure!You want to Renew the selected card(s)?')) {
                console.log('ok');

                $.ajax({
                    url: "@Url.Action("UpdateCardRenwalRequest", "CustomerRequest")",
                    type: "POST",
                    dataType: "JSON",
                    data: {CustomerId:customerId, updatePostArray:JSON.stringify(updateArray)},
                    success: function (res) {

                        console.log("res",res);

                        if(res.reasonList[0].status == 1){
                            document.getElementById("noRecord").style.display = "none";
                            document.getElementById("UpdateGrid").style.display = "none";
                            //$("#CustomerDefaultVal").val('');
                            //$("#CardNo").val('');
                            $("#successUpdate").html("");
                            $("#successUpdate").append("<span>" + res.reasonList[0].reason + "</span>");
                            document.getElementById("successUpdate").style.display = "block";
                        }else{
                            document.getElementById("UpdateGrid").style.display = "none";
                            document.getElementById("successUpdate").style.display = "none";
                            $("#noRecord").html("");
                            $("#noRecord").append("<span>" + res.reasonList[0].reason + "</span>");
                            document.getElementById("noRecord").style.display = "block";
                        }
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            } else {
                console.log('cancel')
            }
        }
    }
</script>