@model HPCL.Common.Models.ViewModel.CustomerRequest.GetSmsAlertForMultipleMobileDetailReq

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="bg-white p-2 p-md-4">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Requests</a> </li>
        <li class="breadcrumb-item font-weight-light">Configure SMS Alerts to Multiple Mobile Number(s)</li>
    </ul>
    <form id="formVal" method="post" data-ajax="true" data-ajax-controller="CustomerRequest" data-ajax-action="ConfigureSMSAlertstoMultipleMobileNumber" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
        <div class="w-100">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                <div class="border-1 rounded border-grey pb-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Configure SMS Alerts to Multiple Mobile Number(s)</p>
                    <div class="col-lg-12 col-md-12 col-12 pt-3">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-12 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-0">
                                    <label class="font-weight-normal col-md-2 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                    <div class="col-sm-3 col-md-3 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.CustomerID, new { @id = "CustomerDefaultVal", @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-7 col-12">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="px-0">
                                                <button class="btn btn_primary regrate_btn" type="submit">Search</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div id="noRecord" class="mb-3 text-center" style="background-color: #fee4e4;display:none;margin-top:1%"></div>

                        <div id="successUpdate" class="mb-3 text-center" style="background-color: #a0f1d6;display:none;"></div>

                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div id="updateSection" style="display:none;">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Customer Information</p>
                        <div class="col-lg-12 col-md-12 col-12 pt-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer Name</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <input class="form-control" id="customerName" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Name On Card</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <input class="form-control" id="NameOnCard" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Registered Mobile</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <input class="form-control" id="RegisteredMobile" type="text" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Alternate Mobile Number(s)</p>

                        <table width="100%" border="0" style="margin-top:1%;margin-bottom:1%;" id="alternameMobSection">
                        </table>

                        <div class="clearfix"></div>

                        <div class="col-md-7 col-12">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="px-0">
                                    <button class="btn btn_primary regrate_btn" type="button" onclick="updateAlertnateMob()">Submit</button>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>

            <div class="clearfix"></div>

            <div id="successDelete" class="mb-3 text-center" style="background-color: #a0f1d6;display:none;"></div>

        </div>
    </form>
    <div class="clearfix"></div>
</div>

<script>
    $('#CustomerDefaultVal').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    function resetClick(){
        location.reload();
    }

    $(document).ready(function () {
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
     });

     function OnSuccess(res){
         console.log(res);
         if (res.searchList.success == true) {

             document.getElementById("noRecord").style.display = "none";
             document.getElementById("successUpdate").style.display = "none";

             var basicCustDetails = res.searchList.data.customerDetail;
             var alternameMobDetails = res.searchList.data.customerMultipleMobileDetail;

             $("#customerName").val(basicCustDetails[0].customerName);
             $("#NameOnCard").val(basicCustDetails[0].nameOnCard);
             $("#RegisteredMobile").val(basicCustDetails[0].communicationMobileNo);

             $("#alternameMobSection td").parent().remove();

             for(var i =0; i<4;i++){
                 var appendFields = "<tbody><tr>"
                                 + "<td>Mobile Number</td>"
                                 + "<td style='display:flex;'><input type='text' id='MobNoId_"+i+"' maxlength='10' onkeypress='return isNumberKey(event)' onchange='mobNoChange(this," + (i) + ")' style='width:50%;' class='form-control mbNo cgl'/><i style='display:none;margin-top:10px;margin-left:5px;' class='fa fa-exclamation-triangle errs' id='mobNoErr"+i+"' aria-hidden='true'></i></td>"
                                 + "<td>Name</td>"
                                 + "<td><input type='text' id='NameId_"+i+"' style='width:50%;' class='form-control nm'/></td>"
                                 + "<td>Designation</td>"
                                 + "<td><input type='text' id='DesignationId_"+i+"' style='width:50%;' class='form-control desgn'/></td>"
                                 + "<td class='deleteButton'><button class='btn btn_primary dlt' type='button' style='height:20px;'>Delete</button></td>"
                                 + "</tr></tbody>";

                $("#alternameMobSection").append(appendFields);
             }

             for(var j=0;j<alternameMobDetails.length;j++){
                 $("#MobNoId_"+j).val(alternameMobDetails[j].mobileNo);
                 $("#NameId_"+j).val(alternameMobDetails[j].name);
                 $("#DesignationId_"+j).val(alternameMobDetails[j].designation);
             }

             $("#alternameMobSection .deleteButton").each(function () {

                    var row = $(this).closest("tr");

                    var Mob = row.find('.mbNo').val();
                    if(Mob == ''){
                        row.find('.dlt').css("display", "none");
                        row.find('.mbNo').attr("readonly", false);
                    }else{
                        row.find('.dlt').css("display", "block");
                        row.find('.mbNo').attr("readonly", true);
                    }
             });

             document.getElementById("updateSection").style.display = "block";
         }else{
            document.getElementById("updateSection").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
         }
     }

    $("#alternameMobSection").on('paste', '.cgl', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

     function updateAlertnateMob(){

         var updateArray = new Array();
         var flag = "Y";

         $("#alternameMobSection .deleteButton").each(function () {

                var row = $(this).closest("tr");

                var selectedRow = $(this).closest("tr")[0];

                var indexS = (selectedRow.rowIndex) - 1;

                var MobileNo = row.find('.mbNo').val();
                var Name = row.find('.nm').val();
                var Designation = row.find('.desgn').val();

                var CustomerID = $("#CustomerDefaultVal").val();

                if(MobileNo != ''){
                    updateArray.push({
                        CustomerID: CustomerID,
                        MobileNo: MobileNo,
                        Name: Name,
                        Designation: Designation
                    })
                }

                if(MobileNo.trim() != ''){
                    if(!MobileNo.match(/^[6789]\d{9}$/)){
                        document.getElementById('mobNoErr'+indexS).title="Invalid Mobile Number";
                        document.getElementById('mobNoErr'+indexS).style.display = "block";
                        flag = "N";
                    }
                }

         });

         console.log("updateArray",updateArray);

         if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
          if (confirm('Are you sure you want to submit !')) {
                console.log('ok');

                $.ajax({
                    url: "@Url.Action("UpdateSmsAlertForMultipleMobileDetail", "CustomerRequest")",
                    type: "POST",
                    traditional: true,
                    data: { customerDetailForSmsAlert: JSON.stringify(updateArray) },
                    success: function (res) {

                        if(res.reasonList[0].status == 1){
                             document.getElementById("updateSection").style.display = "none";
                             document.getElementById("noRecord").style.display = "none";
                             $("#CustomerDefaultVal").val('');
                             $("#successUpdate").html("");
                             $("#successUpdate").append("<span>" + res.reasonList[0].reason + "</span>");
                             document.getElementById("successUpdate").style.display = "block";
                        }else{
                            $("#noRecord").html("");
                            $("#noRecord").append("<span>" + res.reasonList[0].reason + "</span>");
                            document.getElementById("noRecord").style.display = "block";
                        }
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            } else {
                console.log('cancel')
            }
         }
     }


    $("#alternameMobSection").on('click', '.deleteButton', function (e) {

        var currentRow = $(this).closest("tr");

         var selectedRow = $(this).closest("tr")[0];

        var indexS = selectedRow.rowIndex;

        console.log("indexS",indexS);

        var CustomerID = $("#CustomerDefaultVal").val();
        var MobileNo = currentRow.find('.mbNo').val();

        if (confirm('Are you sure you want to delete !')) {
                console.log('ok');

            $.ajax({
                url: "@Url.Action("DeleteSmsAlertForMultipleMobileDetail", "CustomerRequest")",
                type: "POST",
                traditional: true,
                data: { CustomerID:CustomerID, MobileNo:MobileNo },
                success: function (res) {

                    if(res.reasonList[0].status == 1){
                            document.getElementById("alternameMobSection").deleteRow(indexS);
                          
                              $.ajax({
                                url: "@Url.Action("ConfigureSMSAlertstoMultipleMobileNumber", "CustomerRequest")",
                                type: "POST",
                                traditional: true,
                                data: $('#formVal').serialize(),
                                success: function (res) {

                                   console.log("res duplicate",res);

                                     var alternameMobDetails = res.searchList.data.customerMultipleMobileDetail;

                                     $("#alternameMobSection td").parent().remove();

                                     for(var i =0; i<4;i++){
                                         var appendFields = "<tbody><tr>"
                                                         + "<td>Mobile Number</td>"
                                                         + "<td style='display:flex;'><input type='text' id='MobNoId_"+i+"' maxlength='10' onkeypress='return isNumberKey(event)' onchange='mobNoChange(this," + (i) + ")' style='width:50%;' class='form-control mbNo cgl'/><i style='display:none;margin-top:10px;margin-left:5px;' class='fa fa-exclamation-triangle errs' id='mobNoErr"+i+"' aria-hidden='true'></i></td>"
                                                         + "<td>Name</td>"
                                                         + "<td><input type='text' id='NameId_"+i+"' style='width:50%;' class='form-control nm'/></td>"
                                                         + "<td>Designation</td>"
                                                         + "<td><input type='text' id='DesignationId_"+i+"' style='width:50%;' class='form-control desgn'/></td>"
                                                         + "<td class='deleteButton'><button class='btn btn_primary dlt' type='button' style='height:20px;'>Delete</button></td>"
                                                         + "</tr></tbody>";

                                        $("#alternameMobSection").append(appendFields);
                                     }

                                     for(var j=0;j<alternameMobDetails.length;j++){
                                         $("#MobNoId_"+j).val(alternameMobDetails[j].mobileNo);
                                         $("#NameId_"+j).val(alternameMobDetails[j].name);
                                         $("#DesignationId_"+j).val(alternameMobDetails[j].designation);
                                     }

                                     $("#alternameMobSection .deleteButton").each(function () {

                                            var row = $(this).closest("tr");

                                            var Mob = row.find('.mbNo').val();
                                            if(Mob == ''){
                                                row.find('.dlt').css("display", "none");
                                                row.find('.mbNo').attr("readonly", false);
                                            }else{
                                                row.find('.dlt').css("display", "block");
                                                row.find('.mbNo').attr("readonly", true);
                                            }
                                     });
                                },
                                error: function (ex) {
                                    alert('Failed' + ex);
                                }
                            });


                    }else{
                        document.getElementById("successDelete").style.display = "none";
                        $("#successDelete").html("");
                        $("#successDelete").append("<span>" + res.reasonList[0].reason + "</span>");
                        document.getElementById("successDelete").style.display = "block";
                    }
                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });

        } else {
            console.log('cancel')
        }
    });

    function mobNoChange(o, rowSelected){
        var mobNo = o.value;

        if(mobNo.trim() != ''){
        if(!mobNo.match(/^[6789]\d{9}$/)){
            document.getElementById('mobNoErr'+rowSelected).title="Invalid Mobile Number";
            document.getElementById('mobNoErr'+rowSelected).style.display = "block";
            return false;
        }else{
            document.getElementById('mobNoErr'+rowSelected).style.display = "none";
        }
        }

    }
</script>