@model HPCL.Common.Models.ViewModel.CustomerRequest.ConfigureEmailAlertViewModel

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Request</a> </li>
            <li class="breadcrumb-item font-weight-light">Configure Email Alerts</li>
        </ul>

        <form method="post" class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mb-3">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Configure Email Alerts</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mt-3">
                                        <label id="lblCardNo" class="font-weight-normal col-md-3 col-12">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                            </div>
                                            <span style="display:none" class="error" id="customerId_error"></span>
                                        </div>

                                    </div>
                                </div>

                            </div>

                            <div class="col-12 d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="submit">SEARCH</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="button" onclick="location.href='@Url.Action("ConfigureEmailAlerts", "CustomerRequest")'">RESET</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
        <div class="toBeHiddenOnSuccess">
            @if (Model.Data.Count() > 0)
            {
                @if (Model.Data.First().Status == "1")
                {
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Allowed Email</p>
                    <table class="table table-striped table-bordered table-responsive d-md-table" style="width:100%;word-wrap:break-word;table-layout:fixed;" id="tblConfigureEmail">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th style="display:none">S.No.</th>
                                <th>Service Name</th>
                                <th>Allowed</th>
                                <th style="display:none">ID</th>

                            </tr>
                        </thead>
                        <tbody id="searchTableBody">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.Data)
                            {
                                i = i + 1;

                                <tr>
                                    <td style="display:none">@i</td>
                                    <td>@item.ServiceName</td>
                                    @if (item.ServiceStatus == "1")
                                    {
                                        <td><input type="checkbox" id="allowedCheck_@i" checked /></td>
                                    }
                                    else
                                    {
                                        <td><input type="checkbox" id="allowedCheck_@i" /></td>
                                    }
                                    <td style="display:none">@item.ServieId</td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    <div class="clearfix"></div>
                    <div class="col-12 d-flex align-items-center justify-content-center mt-3">
                        <div class="px-2">
                            <button class="btn btn_primary" id="btnConfigure" type="button">SUBMIT</button>
                        </div>

                    </div>
                }
                else
                {

                    @if (Model.Data.First().Status == "0")
                    {
                        <div id="reason" class="mb-3 text-center alert alert-danger">@Model.Data.First().Reason</div>
                    }

                }
            }
            else

            {
                @if (Model.Message != "" && Model.Message != null)
                {
                    <div id="noRecord" class="mb-3 text-center alert alert-danger">@Model.Message</div>
                }
            }
        </div>
        <div class="clearfix"></div>
        <div id="response" class="mb-3 text-center alert"></div>

    </div>
</div>
<script type="text/javascript">
       $("#btnSearch").on("click", (function (e) {

           var flag = "Y";

         var customerId = $("#CustomerID").val();
             if (customerId.trim() != "") {
                 if (!(customerId.match(mappedCustomerId))) {
                     $("#customerId_error").attr("style", "display:block");
                     $("#customerId_error").html("Invalid Customer ID");
                     flag="N";
                 }
                 else{
                     $("#customerId_error").attr("style", "display:none");
                     $("#customerId_error").html("");
                 }
             }
             else{
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Please enter Customer ID");
                 flag="N";
             }

           if (flag == "N")
               e.preventDefault();
      })
      );
     $("#CustomerID").on("blur", function () {
             var customerId = $("#CustomerID").val();
             if (customerId.trim() != "") {
                 if (!(customerId.match(mappedCustomerId))) {
                     $("#customerId_error").attr("style", "display:block");
                     $("#customerId_error").html("Invalid Customer ID");
                 }
                 else{
                     $("#customerId_error").attr("style", "display:none");
                     $("#customerId_error").html("");
                 }
             }
             else{
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Please enter Customer ID");
             }
         });
    $("#btnConfigure").on("click", (function (e) {
        var flag="Y";
         var customerId = $("#CustomerID").val();
         if (customerId.trim() != "") {
             if (!(customerId.match(mappedCustomerId))) {
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Invalid Customer ID");
                 flag="N";
             }
             else{
                 $("#customerId_error").attr("style", "display:none");
                 $("#customerId_error").html("");
             }
         }
         else{
             $("#customerId_error").attr("style", "display:block");
             $("#customerId_error").html("Please enter Customer ID");
             flag="N";
         }
         if (flag == "N")
             e.preventDefault();
         else{

             EmailConfig=[];
             $("#tblConfigureEmail tbody tr").each(function () {
                 debugger;
                  var row = $(this);
                 var allowedStatus=0;
                 if (row.find('input[type="checkbox"]').is(":checked")) {
                     allowedStatus=1
                 }
                 var serviceId = row[0].cells[3].textContent;
                 EmailConfig.push({ ServiceId: serviceId, AllowedStatus: allowedStatus });
             });

               if (confirm('Are you sure you want to submit?')) {
                 var reqmodel = {CustomerId: customerId, objConfigureEmailAlert: EmailConfig };
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("UpdateConfigureEmailAlert", "CustomerRequest")',
                     contentType: "application/json; charset=utf-8",
                     dataType: 'json',
                     data: JSON.stringify(reqmodel),
                     success: function (data) {
                        if(data.length>0){
                               if(data[0].status=="0"){
                                  $("#response").addClass("alert-danger");
                                  if($("#response").hasClass("alert-success"))
                                     $("#response").removeClass("alert-success");
                               }
                               else{
                                   $("#response").addClass("alert-success");
                                   if($("#response").hasClass("alert-danger"))
                                     $("#response").removeClass("alert-danger");
                               }
                               $("#response").html(data[0].reason);
                               $("#response").attr("style","display:block");
                               $(".toBeHiddenOnSuccess").hide();
                           }

                     },
                     error: function (ex) {
                         alert('Error.' + ex);
                     }
                 });
             }
         }
     }));
</script>