@model HPCL.Common.Models.ViewModel.CustomerRequest.GetHotlistCardsPermanently

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>


<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Request</a> </li>
            <li class="breadcrumb-item font-weight-light">Hotlist Cards</li>
        </ul>
        <form id="formVal">
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="border-1 rounded border-grey h-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Hotlist Card(s) Permanently</p>
                        <div class="p-2 p-md-4">
                            <div class="w-100">
                                <div id="successUpdate" class="mb-3 text-center alert alert-success" style="display:none;"></div>
                                @*                                    <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Search</legend>
                                *@                                    <div class="d-flex align-items-center justify-content-between flex-wrap">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-4 col-12 mb-0">Customer ID<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.CustomerID, new { @id = "CustomerDefaultVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.CustomerID, "", new {@id="CustomerIdErr", @class = "text-danger error" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-4 col-12 mb-0 offset-md-1">Card Number</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="d-flex align-items-center justify-content-center flex-wrap px-4 mt-2">
                                    <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                        <button class="btn btn_primary" type="button" onclick="searchCards()">SEARCH</button>
                                    </div>
                                    <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                        <a class="btn btn_primary" href="#" id="btnCancel" onclick="resetClick()">RESET</a>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div id="UpdateGrid" style="display:none;margin-top:1%">
                                <div class="table-responsive">
                                    <table id="CardSearch" class="datatable table table-striped d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th style="width:1%;">S.No.</th>
                                                <th><input type="checkbox" name="allListCheck" class="checkAll" /></th>
                                                <th>Card Number</th>
                                                <th>Vehicle No./User Name</th>
                                                <th>Vehicle Type</th>
                                                <th>Year Of Reg.</th>
                                                <th>Manufacturer</th>
                                                @*<th>Owned/Attached</th>*@
                                                <th>Live/Test</th>
                                                <th>Hotlist Reason</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                                <div class="d-flex align-items-center justify-content-center mt-md-3 flex-wrap px-4 mb-3">
                                    <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                        <button class="btn btn_primary" type="button" id="btnSave" name="submit" onclick="updateCards()">Hotlist Permanently</button>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div id="noRecord" class="mt-3 mb-0 text-center alert alert-danger" style="display:none;"></div>
                </div>
            </div>
        </form>
        <table id="responseTbl" class="table table-stripeds table-bordered table-responsive nowrap mt-3" style="width:50%;display:none;">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Card PAN</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@using Microsoft.AspNetCore.Http;

<script>

     $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
    });

    function resetClick() {
        $("#CustomerDefaultVal").attr("readonly", false);
        $("#CardNo").attr("readonly", false);
        window.location.reload(true);
    }

    function searchCards(){
        var flag = "Y";

        var customerId = $("#CustomerDefaultVal").val();
        var cardNo = $("#CardNo").val();

        if(customerId == '' && cardNo == ''){
            $("#CustomerIdErr").text("Enter either Customer ID and/or Card Number");
            flag = "N";
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
            if ($("#formVal").valid()) {

                $("#CustomerIdErr").text("");

                $.ajax({
                    type: 'POST',  // http method
                    url: '@Url.Action("HotlistCardsPermanently", "CustomerRequest")',
                    data: $('#formVal').serialize(),  // data to submit
                    success: function (res, status, xhr) {

                        OnSuccess(res);

                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error");
                    }
                });
            } else {
                return false;
            }
        }
    }

    function OnSuccess(res) {
        console.log(res, "data");

        if (res.searchList.success == true) {

            document.getElementById("noRecord").style.display = "none";
            document.getElementById("successUpdate").style.display = "none";
            document.getElementById("responseTbl").style.display = "none";

            if(res.searchList.data[0].status == 1){

                var searchGrid = res.searchList.data;

                $('#CardSearch').DataTable().clear().destroy();

                var tbl = $('#CardSearch').DataTable({
                    paging: true,
                    searching: false,
                    stateSave: true,
                    "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                    "autoWidth": false,
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ Records",
                        "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                    }
                });

                for (var i = 0; i < searchGrid.length; i++) {

                    var yrOfReg;

                    if((searchGrid[i].yearOfRegistration) == '0'){
                        yrOfReg = '';
                    }else{
                        yrOfReg = searchGrid[i].yearOfRegistration;
                    }

                    var srNumber = (i+1);
                    var pressCheck = "<input type='checkbox' class='checkEnable' name='enableRow'>";
                    var cardNo = "<span class='getCardNo'>" + (searchGrid[i].cardNo || '') + "</span>";
                    var userName = "<input class='form-control' type='text' value='" + (searchGrid[i].vechileNo || '') + "' readonly='readonly'>";
                    var vehicleType = "<select readonly='readonly' disabled='disabled' class='form-control'><option value='" + (searchGrid[i].vechileType || '') + "'>" + (searchGrid[i].vechileType || '') + "</option></select>";
                    var yrOfReg = "<input class='form-control' type='text' value='" + (yrOfReg) + "' readonly='readonly'>";
                    var manufacturer = "<input class='form-control' type='text' value='" + (searchGrid[i].manufacturer || '') + "' readonly='readonly'>";
                    //var ownedAttched = "<select readonly='readonly' disabled='disabled' class='form-control'><option value='" + (searchGrid[i].ownedORAttachedId || '') + "'>" + (searchGrid[i].ownedORAttachedName || '') + "</option></select>";
                    var cardCategory = "<select readonly='readonly' disabled='disabled' class='form-control'><option value='" + (searchGrid[i].cardCategory || '') + "'>" + (searchGrid[i].cardCategory || '') + "</option></select>";
                    var hotlistReason = "<div style='width:160px;display:flex;'><select onblur='reasonOnChange(this," + (i) + ")' readonly='readonly' disabled='disabled' class='form-control htlstReason'><option value='0'>Select</option></select><i style='display:none;margin-top:10px;' class='fa fa-exclamation-triangle errss' id='hotlistreason_error_"+i+"' aria-hidden='true'></i></div>";

                    tbl.row.add([
                        srNumber,
                        pressCheck,
                        cardNo,
                        userName,
                        vehicleType,
                        yrOfReg,
                        manufacturer,
                        //ownedAttched,
                        cardCategory,
                        hotlistReason
                    ]).draw();
                }

                $.ajax({
                    type: 'POST',  // http method
                    url: '@Url.Action("GetHotlistReason", "Common")',
                    dataType: "json",
                    success: function (data, status, xhr) {

                        console.log(data);

                        $.each(data.hotlistReasonList, function (i, option) {
                            $("<option/>").val(option.statusId).text(option.statusName).appendTo(".htlstReason");
                        });
                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        alert("Error Populating Hotlist Reason Type");
                    }
                });

                $("#CustomerDefaultVal").attr("readonly", true);
                $("#CardNo").attr("readonly", true);

                document.getElementById("UpdateGrid").style.display = "block";
            }else{
                document.getElementById("UpdateGrid").style.display = "none";
                document.getElementById("successUpdate").style.display = "none";
                $("#noRecord").html("");
                $("#noRecord").append("<span>" + res.searchList.data[0].reason + "</span>");
                document.getElementById("noRecord").style.display = "block";
            }
        } else {
            document.getElementById("UpdateGrid").style.display = "none";
            document.getElementById("successUpdate").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    $(".checkAll").click(function () {
        if (this.checked) {
            $(".checkEnable").prop("checked", true);
            $('#CardSearch .checkEnable').closest("tr").find('.htlstReason').attr("disabled", false);
            $('#CardSearch .checkEnable').closest("tr").find('.htlstReason').attr("readonly", false);
        } else {
            $(".checkEnable").prop("checked", false);
            $('#CardSearch').closest("tr").find('.htlstReason').attr("disabled", true);
            $('#CardSearch').closest("tr").find('.htlstReason').attr("readonly", true);
            $('#CardSearch').closest("tr").find('.errss').css("display", "none");
        }
    });

    $("#CardSearch").on('click', '.checkEnable', function (e) {

        currentRow = $(this).closest("tr");

        if ($(this).is(':checked')) {
            currentRow.find('.htlstReason').attr("readonly", false);
            currentRow.find('.htlstReason').attr("disabled", false);
        }
        if (!$(this).is(':checked')) {
            currentRow.find('.htlstReason').attr("readonly", true);
            currentRow.find('.htlstReason').attr("disabled", true);
            currentRow.find('.errss').css("display", "none");
        }
    });

    function updateCards(){

        var customerId = $("#CustomerDefaultVal").val();

        var updateArray = new Array();


        var flag = "Y";
        var cardNo;

        $("#CardSearch input[type=checkbox]:checked").each(function () {

            document.getElementById("responseTbl").style.display = "none";

            var selectedRow = $(this).closest("tr")[0];
            console.log("index",selectedRow.rowIndex);

            var indexS = (selectedRow.rowIndex) - 1;

            console.log("indexS",indexS);

            var row = $(this).closest("tr");

            cardNo = row.find('.getCardNo').text();
            var StatusId = row.find('.htlstReason option:selected').val();

            updateArray.push({
                cardNo: cardNo,
                StatusId: StatusId
            });

            if(StatusId == 0){
                document.getElementById('hotlistreason_error_'+indexS).title="Please Select Hotlist Reason";
                document.getElementById('hotlistreason_error_'+indexS).style.display = "block";
                flag = "N";
            }

        });

         if (cardNo == undefined) {
                alert("Please select atleast one record.");
                flag = "N";
         }

         if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
            $("#CardSearch input[type=checkbox]:checked").each(function () {
                var selectedRow = $(this).closest("tr")[0];
                console.log("index",selectedRow.rowIndex);
                var indexS = (selectedRow.rowIndex) - 1;
                document.getElementById('hotlistreason_error_'+indexS).style.display = "none";
                $(this).closest("tr").find(".checkEnable").prop('checked',false);
                $(this).closest("tr").find('.htlstReason').attr("readonly", true);
                $(this).closest("tr").find('.htlstReason').attr("disabled", true);
            });

            if (confirm('Are you sure! You want to holist the selected card(s)?')) {
                console.log('ok');

                $.ajax({
                    url: "@Url.Action("UpdatePermanentlyHotlistCards", "CustomerRequest")",
                    type: "POST",
                    dataType: "JSON",
                    data: { CustomerId: customerId, cardsList: JSON.stringify(updateArray)},
                    success: function (res) {

                        console.log("res",res);

                        if(res.reasonList[0].status == 1){
                            document.getElementById("noRecord").style.display = "none";
                            $("#successUpdate").html("");
                            $("#successUpdate").append("<span>" + res.reasonList[0].reason + "</span>");
                            document.getElementById("successUpdate").style.display = "block";
                        }else{
                            $("#responseTbl td").parent().remove();

                            for (var i = 0; i < res.reasonList.length; i++) {

                                var rows = "<tbody><tr>"
                                    + "<td>"+(i+1)+"</td>"
                                    + "<td><span class='cardNoVal'>" + (res.reasonList[i].cardNo || '') + "</span></td>"
                                    + "<td>" + (res.reasonList[i].reason || '') + "</td>"
                                    + "</tr ></tbody>";

                                $('#responseTbl').append(rows);
                            }

                            $("#formVal").hide();
                            document.getElementById("responseTbl").style.display = "block";
                        }
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            } else {
                console.log('cancel')
            }
        }
    }

    function reasonOnChange(o, rowSelected){
        var StatusId = o.value;

        if(StatusId == 0){
            document.getElementById('hotlistreason_error_'+rowSelected).title="Please Select Hotlist Reason";
            document.getElementById('hotlistreason_error_'+rowSelected).style.display = "block";
            return false;
        }else{
            document.getElementById('hotlistreason_error_'+rowSelected).title="";
            document.getElementById('hotlistreason_error_'+rowSelected).style.display = "none";
        }
    }
</script>