<div style="width:100%;">
    <div class="py-3 px-0 p-md-4">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("ConfigureSMSAlertstoMultipleMobileNumber", "CustomerRequest")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/customer-balance.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Configure SMS Alerts to Multiple Mobile Number(s)</h4>
                        <p>Configure SMS Alerts to Multiple Mobile Number(s)</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("ConfCardPhone", "Configure")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>SMS Alerts to Individual Card Users</h4>
                        <p>SMS Alerts to Individual Card Users</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("CardRenewalRequest", "CustomerRequest")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Card Renewal Requests</h4>
                        <p>Card Renewal Requests</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("UpdateContactPersonDetails", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Update Customer Contact Person Details</h4>
                        <p>Update Customer Contact Person Details</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("ConfigureSMSAlerts", "CustomerRequest")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Configure SMS Alerts</h4>
                        <p>Configure SMS Alerts</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("CCMSBalanceAlert", "Customer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Low CCMS Balance Alert Configuration</h4>
                        <p>Low CCMS Balance Alert Configuration</p>
                    </div>
                </a>
            </div>

            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("HotlistCardsPermanently", "CustomerRequest")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Hotlist Card(s) Permanently</h4>
                        <p>Hotlist Card(s) Permanently</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>