<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("SettlementDetails", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Settlement Details</h4>
                        <p>Settlement Details</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("TransactionDetails", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Transaction Details</h4>
                        <p>Transaction Details</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ViewUploadMerchantCautionLimit", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>View/Update Merchant Caution Limit</h4>
                        <p>View/Update Merchant Caution Limit</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("BatchDetails", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Batch Details</h4>
                        <p>Batch Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("MerchantDeltaReport", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Merchant Sale/Reload Delta Details</h4>
                        <p>Merchant Sale/Reload Delta Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ERPReloadSaleEarningDetails", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>ERP Reload/Sale/Earning Details</h4>
                        <p>ERP Reload/Sale/Earning Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ReceivablePayableDetails", "MerchantFinancials")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Receivable-Payable Details</h4>
                        <p>Receivable-Payable Details</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("MerchantIndex", "Dealer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Dealer Credit Management</h4>
                        <p>Dealer Credit Management</p>
                    </div>
                </a>
            </div>
           

        </div>
    </div>
</div>