@model HPCL.Common.Models.ViewModel.MerchantFinancials.MerchantReceivablePayableModel
@using HPCL.Common.Resources

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","MerchantFinancials")" class="text_primary">Financial</a> </li>
            <li class="breadcrumb-item font-weight-light">Receivable-Payable Details</li>
        </ul>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form1", @class = "toBeHiddenOnSuccess" }))
        {
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Receivable - Payable Details</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="col-md-2 col-12">&nbsp;</label>
                                        <div class="col-md-10 col-12">
                                            <div class="form-check form-check-inline">
                                                @*<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">*@
                                                @Html.RadioButtonFor(m => m.TerminalOrMerchant, "Merchant", new { @class = "form-check-input", @id = "rbtnMerchant" })
                                                <label class="form-check-label" for="inlineRadio3">Merchant</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                @*<input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">*@
                                                @Html.RadioButtonFor(m => m.TerminalOrMerchant, "Terminal", new { @class = "form-check-input", @id = "rbtnTerminal" })
                                                <label class="form-check-label" for="inlineRadio2">Terminal</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12"><label id="lblMerchant">Merchant ID</label> <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantId, new { @id = "MerchantId", @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span class="error" id="MerchantId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">From Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error','31');" })
                                            </div>
                                            <span class="error" id="fromDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error','31');" })
                                            </div>
                                            <span class="error" id="toDate_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="submit" id="btnSearch">@Label.Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset">@Label.Reset</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnExport" onclick="tableToCSV()">@Label.ExportToExcel</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        }
        <div id="show_Table" class="toBeHiddenOnSuccess">
            @if (Model.ReceivablePayableDetails.Count() > 0)
            {
                <div class="table-responsive">
                    <table class="datatable table table-striped table-bordered d-md-table d-block text-nowrap display table-responsive mt-3" style="width:100%;" id="TerminalRequestDetails">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th style="width:5%;">Sr No</th>
                                <th style="width:10%;">Terminal ID</th>
                                <th style="width:5%;">Batch ID</th>
                                <th style="width:10%;">Settlement Date</th>
                                <th style="width:10%;">Receivable(Rs.)</th>
                                <th style="width:10%;">Payable(Rs.)</th>
                            </tr>
                        </thead>
                        <tbody id="searchTableBody">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.ReceivablePayableDetails)
                            {
                                i = i + 1;

                                <tr>
                                    <td>@item.SrNumber</td>
                                    <td>@item.TerminalId</td>
                                    <td>@item.BatchId</td>
                                    <td>@item.SettlementDate</td>
                                    <td>@item.Receivable</td>
                                    <td>@item.Payable</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div class="clearfix"></div>
            }
            else
            {
                <div class="mt-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;padding:5px;border-radius:4px;@(Model.Message=="" ? "display:none":"display:block")">
                    @Model.Message
                </div>
            }
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    //debugger;

   

    $(document).ready(function () {
       
        if ($('input[name=TerminalOrMerchant]:checked').val() == "Merchant") {
            document.getElementById("lblMerchant").innerHTML = "Merchant";
        } else {
            document.getElementById("lblMerchant").innerHTML = "Terminal";
        }
    });

    $("#btnSearch").on("click", (function (e) {
        debugger;
        var fromdate = $("#FromDate").val();
        var todate = $("#ToDate").val();
        var merchantId = $("#MerchantId").val().trim();
        var flag = "Y";
        if (fromdate == "") {
            $("#fromDate_error").attr("style", "display:block");
            $("#fromDate_error").html("Select From Date");
            flag = "N";
        }

        if (todate == "") {
            $("#toDate_error").attr("style", "display:block");
            $("#toDate_error").html("Select To Date");
            flag = "N";
        }
        if (fromdate != "" && todate != "") {
            flag = checkDates("fromDate_error","31");
        }
        if (merchantId == "") {
            if ($('input[name=TerminalOrMerchant]:checked').val() == "Merchant") {
                $("#MerchantId_error").attr("style", "display:block");
                $("#MerchantId_error").html("Please enter valid Merchant ID");
                flag = "N";
            }
            else {
                $("#MerchantId_error").attr("style", "display:block");
                $("#MerchantId_error").html("Please enter valid Terminal ID");
                flag = "N";
            }
        }
        else {
            $("#MerchantId_error").attr("style", "display:none");
            $("#MerchantId_error").html("");
        }

        if (merchantId != "") {
            if ($('input[name=TerminalOrMerchant]:checked').val() == "Merchant") {
                if (!merchantId.match(mappedMerchantID)) {
                    $("#MerchantId_error").attr("style", "display:block");
                    $("#MerchantId_error").html("Please enter valid Merchant ID");
                    flag = "N";
                }
            }
            else {
                if (!merchantId.match(mappedterminalID)) {
                    $("#MerchantId_error").attr("style", "display:block");
                    $("#MerchantId_error").html("Please enter valid Terminal ID");
                    flag = "N";
                }
            }
        }

      

        if (flag == "Y") {
            $("#toDate_error").attr("style", "display:none");
            $("#toDate_error").html("");
            $("#fromDate_error").attr("style", "display:none");
            $("#fromDate_error").html("");
            $("#MerchantId_error").attr("style", "display:none");
            $("#MerchantId_error").html("");
        }
        if (flag == "N")
            e.preventDefault();

    })
    );

    $("#btnReset").click(function () {
        ////setDates();
        //$("#show_Table").html("");
        //$("#MerchantId").val("");
        //$("#fromDate_error").html("");
        //$("#toDate_error").html("");
        //$("#MerchantId_error").html("");
        location.reload();
    });


    $('input[name=TerminalOrMerchant]').click(function () {
        if ($('input[name=TerminalOrMerchant]:checked').val() == "Merchant") {
            document.getElementById("lblMerchant").innerHTML = "Merchant";
        } else {
            document.getElementById("lblMerchant").innerHTML = "Terminal";
        }
        $("#MerchantId_error").html("");
        document.getElementById("MerchantId").value = "";
    });

    function tableToCSV() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        var rows = document.getElementsByTagName('tr');
        for (var i = 0; i < rows.length; i++) {

            // Get each column data
            var cols = rows[i].querySelectorAll('td,th');

            // Stores each csv row data
            var csvrow = [];
            for (var j = 0; j < cols.length; j++) {

                // Get the text data of each cell
                // of a row and push it to csvrow
                csvrow.push(cols[j].innerHTML);
            }

            // Combine each column value with comma
            csv_data.push(csvrow.join(","));
        }

        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "ReceivablePayableDetails.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
</script>