@model HPCL.Common.Models.ViewModel.Customer.ViewCustomerSearch

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="bg-white p-2 p-md-4 w-100">

    @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@

    <form method="post" data-ajax="true" data-ajax-controller="ViewCustomerSearch" data-ajax-action="ViewCustomerSearch" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">

        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
            <div class="border-1 rounded border-grey h-100">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold"> View Customer </p>
                <div class="py-2 p-md-4">
                    <table id="ViewCustomerSearch" class="table table-striped table-bordered table-responsive text-nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Zonal Office Name")
                                </th>

                                <th>
                                    @Html.DisplayName("Regional Office Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Form Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Customer Reference No")
                                </th>
                                <th>
                                    @Html.DisplayName("Customer ID")
                                </th>
                                <th>
                                    @Html.DisplayName("Customer Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Created Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Role Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Created By")
                                </th>
                                <th>
                                    @Html.DisplayName("Status Name")
                                </th>

                                <th>
                                    @Html.DisplayName("KYC Status")
                                </th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.CustomerViewModalOutputs)
                            {
                                <tr>
                                    <td>@item.ZonalOfficeName</td>
                                    <td>@item.RegionalOfficeName</td>
                                    <td>@item.FormNumber</td>
                                    <td>@item.CustomerReferenceNo</td>
                                    <td>@item.CustomerID</td>
                                    <td>@item.CustomerName</td>
                                    <td>@item.CreatedDate</td>
                                    <td>@item.CreatedRoleName</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.StatusName</td>
                                    <td>@item.KYCStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </form>

</div>
@*<script type="text/javascript">
        function showGrid() {
            if ($("input:text").val() == "") {
                document.getElementById('ViewCustomerSearch').style.display = 'none';
            }
            if (($("input:text").val() != "")) {
                document.getElementById('ViewCustomerSearch').style.display = 'inline-table';
            }
        }

        function resetFields() {
            $("input:text").each(function () {
                $(this).val("");
            });
            $("#ViewCustomerSearch td").parent().remove();
            document.getElementById('ViewCustomerSearch').style.display = 'none';
        }


        function OnSuccess(data) {

            console.log(data);

            $("#ViewCustomerSearch td").parent().remove();

            for (var i = 0; i < data.searchList.length; i++) {

                var rows = "<tbody><tr>"
                                    + "<td>" + (res.searchList[i].ZonalOfficeName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].RegionalOfficeName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].FormNumber || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerReferenceNo || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerID || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CreatedDate || '') + "</td>"
                                    + "<td>" + (res.searchList[i].monthlySaleBal || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CreatedBy || '') + "</td>"
                                    + "<td>" + (res.searchList[i].StatusName || '') + "</td>"
                                    + "</tr></tbody > ";

                $('#ViewCustomerSearch').append(rows);


            }
        }

        function OnFailure(data) {
            alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
        }

        $("#ViewCustomerSearch").on('click', '.updateStatus', function (e) {

            var currentRow = $(this).closest("tr");

            var cardNumber = currentRow.find(".crdNo").text();


            console.log(customerid, "customerID");



            $.ajax({
                url: "@Url.Action("UpdateStatus","ViewCustomerSearch")",
                type: "POST",
                dataType: "JSON",
                data: { customerId: customerid },
                success: function (res) {

                    console.log(res,"res");

                    $.ajax({
                        url: "@Url.Action("RefreshGrid", "ViewCustomerSearch")",
                        type: "POST",
                        dataType: "JSON",
                        success: function (res) {


                            $("#ViewCustomerSearch td").parent().remove();

                            for (var i = 0; i < res.searchList.length; i++) {

                                var rows = "<tbody><tr>"
                                    + "<td>" + (res.searchList[i].ZonalOfficeName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].RegionalOfficeName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].FormNumber || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerReferenceNo || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerID || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CustomerName || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CreatedDate || '') + "</td>"
                                    + "<td>" + (res.searchList[i].monthlySaleBal || '') + "</td>"
                                    + "<td>" + (res.searchList[i].CreatedBy || '') + "</td>"
                                    + "<td>" + (res.searchList[i].StatusName || '') + "</td>"
                                    + "</tr></tbody > ";

                                $('#ViewCustomerSearch').append(rows);


                            }

                        },
                        error: function (ex) {
                            alert('Failed' + ex);
                        }
                    });

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        });

    </script>*@