<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ChangeRbeMapping", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Change RBE Mapping</h4>
                        <p>Change RBE Mapping</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ApproveChangedRbeMapping", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Approve Changed RBE Mapping</h4>
                        <p>Approve Change RBE Location</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RbeMobileChangeRequest", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>RBE Mobile Change Request</h4>
                        <p>RBE Mobile Change Request</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ApproveChangeRbeMobile", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Approve Changed RBE Mobile</h4>
                        <p>Approve Changed RBE Mobile</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("DeviceIdResetRequest", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>RBE Device Id Reset Request</h4>
                        <p>RBE Device Id Reset Request</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ApproveRbeDeviceIdResetRequest", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Approve RBE Device ID Reset Request</h4>
                        <p>Approve RBE Device ID Reset Request</p>
                    </div>
                </a>
            </div>

            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("RbeUserList", "ManageRbe")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage RBE Users</h4>
                        <p>Manage RBE Users</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>