@model HPCL.Common.Models.ViewModel.ManageRbe.RbeUserList
@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Manage RBE</a> </li>
            <li class="breadcrumb-item font-weight-light">RBE User List</li>
        </ul>
        <form id="formValid">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-0">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">RBE User List</p>

                        <fieldset class="border-1 rounded border-grey" style="margin:1%">
                            <div class="col-lg-12 col-md-12 col-12 py-3">

                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-4 col-12"> First Name </label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.FirstName, new { @id = "custIdVal", @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.FirstName, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-4 col-12"> User Name </label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                                                </div>
                                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="d-flex align-items-center justify-content-center mt-0">
                                    <div class="px-2">
                                        <button class="btn btn_primary" type="button" onclick="searchRbeUserList()">Search</button>
                                    </div>
                                    <div class="px-2">
                                        <button class="btn btn_primary" type="button" onclick="resetClick()">Reset</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>

                        <div class="clearfix"></div>

                        <div id="noRecord" class="mb-3 text-center" style="background-color: #fee4e4;display:none;margin-top:1%"></div>

                        <div class="clearfix"></div>
                        <div class="col-12 col-md-12 px-0 mt-3">
                            <div class="table-responsive" id="tblResponse" style="display:none;padding:1%;">
                                <table id="RbeUserListTbl" class="datatable table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>S No.</th>
                                            <th>RBE ID</th>
                                            <th>User Name</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Email Id</th>
                                            <th>Region</th>
                                            <th>Zone</th>
                                            <th>View KYC</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div id="detailsWaiverSection" style="display:block;">

                        <div id="viewRbeAllDetails" style="display:none;">

                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">User Details</legend>

                                <div class="form-group d-flex align-items-center flex-wrap">
                                </div>

                                <div class="d-flex align-items-center justify-content-between flex-wrap" style="padding:1%">

                                    <div style="margin-bottom:10px;" id="userNameId"></div>

                                    <div class="form-group d-flex align-items-center flex-wrap">
                                    </div>

                                    <table id="roleLoc" class="table table-bordered table-responsive" style="display:inline-table;">
                                        <tr>
                                            <th>Role</th>
                                            <th>Location</th>
                                        </tr>
                                    </table>
                                </div>

                            </fieldset>

                            <fieldset class="border-1 rounded border-grey">
                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">KYC Details</legend>

                                <div class="d-flex align-items-center justify-content-between flex-wrap" style="padding-top:1%">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Id Proof</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" id="IdProofVal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Number</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" id="IdPDocVal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" style="padding-top:1%;">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Front Photo</label>
                                            <div class="col-md-7 col-12">
                                                <div>
                                                    <img id="IdDocFront" style="height: 200px; width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Back Photo</label>
                                            <div class="col-md-7 col-12">
                                                <div>
                                                    <img id="IdDocBack" style="height: 200px; width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" style="padding-top:1%;">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Address Proof</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" id="AddressProofVal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Number</label>
                                            <div class="col-md-7 col-12">
                                                <input type="text" id="AddDocVal" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" style="padding-top:1%;">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Front Photo</label>
                                            <div class="col-md-7 col-12">
                                                <div>
                                                    <img id="AddDocFront" style="height: 200px; width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">Document Back Photo</label>
                                            <div class="col-md-7 col-12">
                                                <div>
                                                    <img id="AddDocBack" style="height: 200px; width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12" style="padding-top:1%;">
                                        <div class="form-group">
                                            <label class="font-weight-normal col-md-5 col-12">RBE Photo</label>
                                            <div class="col-md-7 col-12">
                                                <div>
                                                    <img id="RbePhotoId" style="height: 200px; width: 100%;" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group d-flex align-items-center flex-wrap">
                                </div>

                            </fieldset>

                        </div>

                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>


<script>

    function resetClick() {
        location.reload();
    }

    function searchRbeUserList() {
        if ($("#formValid").valid()) {

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("RbeUserList", "ManageRbe")',
                data: $('#formValid').serialize(),  // data to submit
                success: function (res, status, xhr) {

                    console.log(res);

                    if (res.searchList.success == true) {

                        var girdList = res.searchList.data;

                        document.getElementById("noRecord").style.display = "none";

                        var girdList = res.searchList.data;

                        $("#RbeUserListTbl td").parent().remove();

                        $('#RbeUserListTbl').DataTable().clear().destroy();

                        var tbl = $('#RbeUserListTbl').DataTable({
                            paging: true,
                            searching: false,
                            stateSave: true,
                            "bDestroy": true,
                            "lengthMenu": [5, 10, 20, 50, 100, 200, 500, 1000, 2000],
                            "autoWidth": false,
                            "oLanguage": {
                                "sLengthMenu": "Display _MENU_ Records",
                                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                            }
                        });

                        for (var i = 0; i < girdList.length; i++) {

                            var srNumber = (i + 1);
                            var rbeID = (girdList[i].rbeid || '');
                            var userName = "<span class='usrName'>"+(girdList[i].userName || '')+"</span>";
                            var firstName = (girdList[i].firstName || '');
                            var lastName = (girdList[i].lastName || '');
                            var emailId = (girdList[i].emailId || '');
                            var region = (girdList[i].region || '');
                            var zone = (girdList[i].zone || '');
                            var viewKYC = "<a href='#aaa' class='viewKycCls'>" + (girdList[i].viewKYC || '') + "</a>";

                            tbl.row.add([
                                srNumber,
                                rbeID,
                                userName,
                                firstName,
                                lastName,
                                emailId,
                                region,
                                zone,
                                viewKYC
                            ]).draw();
                        }
                        document.getElementById('tblResponse').style.display = 'block';
                    } else {
                        document.getElementById("tblResponse").style.display = "none";
                        $("#noRecord").html("");
                        $("#noRecord").append("<span>" + res.searchList.message + "</span>");
                        document.getElementById("noRecord").style.display = "block";
                    }

                },
                error: function (jqXhr, textStatus, errorMessage) {
                    console.log("Error");
                }
            });
        } else {
            return false;
        }
    }


     $("#RbeUserListTbl").on('click', '.viewKycCls', function (e) {

        var currentRow = $(this).closest("tr");

        var userName = currentRow.find(".usrName").text();

        console.log(userName, "cust");

         $.ajax({
            url: "@Url.Action("ViewRbeDetails", "Security")",
            type: "POST",
            dataType: "JSON",
             data: { userName: userName },
             success: function (res) {
                 console.log(res);

                 if (res.viewRbeDetailsList.success == true) {
                     document.getElementById("noRecord").style.display = "none";
                     $("#userNameId").html("");
                     $("#roleLoc").html("");
                     $("#userNameId").append("<span>User Name: " + userName + "</span>")
                     $("#roleLoc").append("<tbody><tr><td>" + (res.viewRbeDetailsList.data[0].roleName || '') + "</td><td>" + (res.viewRbeDetailsList.data[0].location || '') + "</td></tr></tbody > ")
                     $('#IdProofVal').val(res.viewRbeDetailsList.data[0].idProofTypeName);
                     $('#IdPDocVal').val(res.viewRbeDetailsList.data[0].idProofDocumentNo);
                     $("#IdDocFront").attr("src", res.viewRbeDetailsList.data[0].idProofFront);
                     $("#IdDocBack").attr("src", res.viewRbeDetailsList.data[0].idProofBack);
                     $('#AddressProofVal').val(res.viewRbeDetailsList.data[0].addressProofTypeName);
                     $('#AddDocVal').val(res.viewRbeDetailsList.data[0].addressProofDocumentNo);
                     $("#AddDocFront").attr("src", res.viewRbeDetailsList.data[0].addressProofFront);
                     $("#AddDocBack").attr("src", res.viewRbeDetailsList.data[0].addressProofBack);
                     $("#RbePhotoId").attr("src", res.viewRbeDetailsList.data[0].rbePhoto);

                     document.getElementById("viewRbeAllDetails").style.display = "block";
                 } else {
                     document.getElementById("viewRbeAllDetails").style.display = "none";
                     $("#noRecord").html("");
                     $("#noRecord").append("<span>" + res.viewRbeDetailsList.message + "</span>");
                     document.getElementById("noRecord").style.display = "block";
                 }
             },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    });

</script>