@model HPCL.Common.Models.ViewModel.Dealer.DealerCreditSaleStatement
@using HPCL.Common.Resources
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
*@
@if (Model.Data.Count() > 0)
{

    <table class="datatable table table-striped table-bordered table-responsive d-md-table" style="width:100%;" id="creditSaleStatementTbl">
        <thead style="background-color:lightgray;">
            <tr>

                <th>Transaction Type</th>
                <th>Transaction Date</th>
                <th>Account Number</th>
                <th>Token Number</th>
                <th>Transaction Amount</th>
                <th>Balance</th>
            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@item.TransactionType</td>
                    <td>@item.TransactionDate</td>
                    <td>@item.AccountNumber</td>
                    <td>@item.TokenNumber</td>
                    <td>@item.TransactionAmount</td>
                    <td>@item.Balance</td>
                    
                </tr>
            }
        </tbody>
    </table>

}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#creditSaleStatementTbl').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
     function tableToCSV() {

        // Variable to store the final csv data
        var csv_data = [];

        // Get each row data
        //var rows = document.getElementsByTagName('tr');
        $("#creditSaleStatementTbl tr").each(function () {
            var row = $(this);
            //debugger;
            //for (var i = 0; i < rows.length; i++) {

                // Get each column data
                var cols = row[0].querySelectorAll('td,th');

                // Stores each csv row data
                var csvrow = [];
                for (var j = 0; j < cols.length; j++) {

                    // Get the text data of each cell
                    // of a row and push it to csvrow
                    csvrow.push(cols[j].innerHTML);
                }

                // Combine each column value with comma
                csv_data.push(csvrow.join(","));
            //}
        });
        // Combine each row data with new line character
        csv_data = csv_data.join('\n');

        // Call this function to download csv file
        downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "DealerCreditSaleStatement.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
    function generatePDF() {
     var doc = new jsPDF();  //create jsPDF object
     var htmlstring = '';  
     var tempVarToCheckPageHeight = 0;  
     var pageHeight = 0;  
     pageHeight = doc.internal.pageSize.height;  
     margins = {  
        top: 120,  
        bottom: 60,  
        left: 40,  
        right: 40,  
        width: 800  
     };  
     var y = 20;  
     doc.setLineWidth(2);  
     
     doc.text(20, y = y + 30, "Dealer Credit Sale Statement");  

     doc.autoTable({  
        html: '#creditSaleStatementTbl',  
        startY: 70,  
        theme: 'striped',
        columnStyles: {  
            0: {  
                cellWidth: 30,  
            },  
            1: {  
                cellWidth: 30,  
            },  
            2: {  
                cellWidth: 30,  
            },
            3: {  
                cellWidth: 30,  
            },
            4: {  
                cellWidth: 30,  
            },
            5: {  
                cellWidth: 30,  
            }  
        },  
        styles: {  
            minCellHeight: 10  
        }  
     })  
     doc.save('DealerCreditStatement.pdf');  
     
}
</script>

