@model HPCL.Common.Models.ViewModel.Dealer.DealerForCreditSaleViewModel
@using HPCL.Common.Resources
@{
    string CustomerID = ViewBag.CustomerID;
}
<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("DealerCreditMapping","Dealer")" class="text_primary">Dealer Credit Mapping</a> </li>
            <li class="breadcrumb-item font-weight-light">Map Dealer For Credit Sale</li>
        </ul>
        <div id="reason" class="mb-3 text-center alert" ></div>
        <form class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Map Dealer For Credit Sale</p>

                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-3 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span class="error" id="CustomerId_error"></span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-3 col-12">No of Entries ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.NoofEntries, new { @class = "form-control", maxlength = "2", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span class="error" id="number_error"></span>
                                            </div>
                                        </div>

                                    </div>
                                </div>



                            </div>
                            <div class="clearfix"></div>

                            <div class="d-flex align-items-center flex-wrap mb-3 justify-content-center">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnAdd">ADD</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset" onclick="location.href='@Url.Action("MapDealerForCreditSale", "Dealer",new{CustomerID=CustomerID})'">CANCEL</button>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                    </div>


                </div>
            </div>
        </form>
        <div id="show_Table" class="col-lg-12 col-md-12 col-12 pl-0 pr-0 pt-3 toBeHiddenOnSuccess">

            @if (!String.IsNullOrEmpty(Model.NoofEntries))
            {
                @for (int i = 0; i < Convert.ToInt32(Model.NoofEntries); i++)
                {

                    <div class="d-flex align-items-center flex-wrap">
                        <div class="col-lg-4 col-12">
                            <div class="d-flex align-items-center flex-wrap mb-3">
                                <label class="font-weight-normal col-md-6 col-12">Merchant ID <sup class="text-danger">*</sup></label>
                                <div class="col-md-6 col-12">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.MerchantID, new { @id="MerchantID_"+@i, @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off", onblur="validateMerchant("+@i+");" })
                                        <span class="error" id="MerchantID_error_@i"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="d-flex align-items-center flex-wrap mb-3">
                                <label class="font-weight-normal col-md-6 col-12">Credit Period<sup class="text-danger">*</sup></label>
                                <div class="col-md-6 col-12">
                                    <div class="custom_select">
                                        @Html.DropDownListFor(m => m.CreditPeriod, new[]{
                                new SelectListItem(){ Text = "--Select--", Value = "-1" },
                                new SelectListItem(){ Text = "7 Days", Value = "7"},
                                new SelectListItem(){ Text = "14 Days", Value = "14"},
                                new SelectListItem(){ Text = "21 Days", Value = "21"},
                                new SelectListItem(){ Text = "30 Days", Value = "30"},
                                new SelectListItem(){ Text = "10 Days", Value = "10"},
                                }, null, new { @id="CreditPeriod_"+@i,@class = "form-control px-0" ,@onchange="validateCreditperiod("+@i+");"})
                                        <span class="error" id="creditPeriod_error_@i"></span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="d-flex align-items-center flex-wrap mb-3">
                                <label class="font-weight-normal col-md-6 col-12">Effective Date<sup class="text-danger">*</sup></label>
                                <div class="col-md-6 col-12">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.EffectiveDate, new {@id="EffectiveDate_"+@i,  @class = "form-control nodefaultDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "validateDate('EffectiveDate_"+@i+"','EffectiveDate_error_"+@i+"');" })
                                        <span class="error" id="EffectiveDate_error_@i"></span>
                                    </div>
                                </div>

                            </div>
                        </div>



                    </div>
                }
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <div class="px-2">
                        <button class="btn btn_primary" type="button" onclick="SaveDealerForCreditSale();">SAVE</button>
                    </div>

                </div>

            }


        </div>


        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
     $(document).ready(function () {
         $("#CustomerID").attr("disabled",true);
         if($("#NoofEntries").val().trim()!="")
             $("#NoofEntries").attr("disabled",true);
         });
      $("#btnAdd").on("click",(function(e){
             var customerId=$("#CustomerID").val();
             var noofEntries=$("#NoofEntries").val();
          var flag="Y";
          if(customerId.trim()!=""){
              if (!customerId.match(mappedCustomerId))
                 {
                     $("#CustomerId_error").attr("style", "display:block");
                     $("#CustomerId_error").html("Invalid Customer ID");
                     flag="N";
                 }
          }
          else{
              $("#CustomerId_error").attr("style", "display:block");
              $("#CustomerId_error").html("Customer Id is required");
              flag="N";
          }
          if(noofEntries.trim()!=""){
              if(noofEntries<1 ||noofEntries>10){
                  $("#number_error").attr("style", "display:block");
                  $("#number_error").html("No of Entries should be valid numeric value between 1 to 10");
                 flag="N";
              }
          }
          else{
               $("#number_error").attr("style", "display:block");
              $("#number_error").html("No of Entries should be valid numeric value between 1 to 10");
              flag="N";
          }
          if(flag=="N")
             e.preventDefault();
         else{
             var url = '@Html.Raw(@Url.Action("MapDealerForCreditSale", "Dealer",new { CustomerID = "aa",NoofEntries="bb"}))';
             debugger;
             url = url.replace("aa", encodeURIComponent(customerId)).replace("bb", encodeURIComponent(noofEntries));
             window.location.href=url;
         }
      }));
        function SaveDealerForCreditSale() {
         merchantDetail = [];
         var customerId=$("#CustomerID").val();
             var noofEntries=$("#NoofEntries").val();
          var flag="Y";
          if(customerId.trim()!=""){
              if (!customerId.match(mappedCustomerId))
                 {
                     $("#CustomerId_error").attr("style", "display:block");
                     $("#CustomerId_error").html("Invalid Customer ID");
                     flag="N";
                 }
          }
          else{
              $("#CustomerId_error").attr("style", "display:block");
              $("#CustomerId_error").html("Customer Id is required");
              flag="N";
          }
          if(noofEntries.trim()!=""){
              if(noofEntries<1 ||noofEntries>10){
                  $("#number_error").attr("style", "display:block");
                  $("#number_error").html("No of Entries should be valid numeric value between 1 to 10");
                 flag="N";
              }
          }
          else{
               $("#number_error").attr("style", "display:block");
              $("#number_error").html("No of Entries should be valid numeric value between 1 to 10");
              flag="N";
          }
          for(var i=0;i<noofEntries;i++){
                  var merchantId = $("#MerchantID_"+i).val();
                  var creditPeriod = $("#CreditPeriod_"+i).val();
                  var creditPeriodText="";
                  var effectiveDate=$("#EffectiveDate_"+i).val();
                  if(merchantId.trim()!=""){
                      if (!merchantId.match(mappedMerchantID))
                      {
                         $("#MerchantID_error_"+i).attr("style", "display:block");
                         $("#MerchantID_error_"+i).html("Invalid Merchant ID");
                         flag="N";
                      }
                  }
                  else{
                      $("#MerchantID_error_"+i).attr("style", "display:block");
                     $("#MerchantID_error_"+i).html("Please enter Merchant ID.");
                     flag="N";
                  }
                  if(creditPeriod.trim()=="-1"){
                      $("#creditPeriod_error_"+i).attr("style", "display:block");
                     $("#creditPeriod_error_"+i).html("Please select Credit Period.");
                     flag="N";
                  }
                  else{
                      creditPeriodText=$('#CreditPeriod_'+i+' :selected').text();
                  }
                  if(effectiveDate.trim()==""){
                      $("#EffectiveDate_error_"+i).attr("style", "display:block");
                     $("#EffectiveDate_error_"+i).html("Please enter Effective Date.");
                     flag="N";
                  }
                  if(flag=="Y")
                     merchantDetail.push({ MerchantID: merchantId, CreditPeriod: creditPeriodText,EffectiveDate:effectiveDate });
          }
         if (flag == "Y") {
                 var reqModel = { CustomerID: customerId, TypeMapDealerForCreditSale: merchantDetail };
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("SaveDealerForCreditSale", "Dealer")',
                     contentType: "application/json; charset=utf-8",
                     dataType: 'json',
                     data: JSON.stringify(reqModel),
                     success: function (res) {
                         if(res.length>0){
                            $("#reason").html("");
                            for(var i=1;i<res.length;i++){
                                $("#reason").append("<span>" + res[i] + "</span></br>");
                            }
                            if(res[0]=="0")
                                $("#reason").addClass("alert-danger");
                            else
                                $("#reason").addClass("alert-success");
                            $(".toBeHiddenOnSuccess").hide();
                        }
                     },
                     error: function (ex) {
                         alert('Error.' + ex);
                     }
                 });
             
         }


     };
    function validateMerchant(i){
        var merchantId=$("#MerchantID_"+i).val();
        if(merchantId.trim()!=""){
             if (!merchantId.match(mappedMerchantID))
             {
                 $("#MerchantID_error_"+i).attr("style", "display:block");
                 $("#MerchantID_error_"+i).html("Invalid Merchant ID");
             }
             else{
                 $("#MerchantID_error_"+i).attr("style", "display:none");
                 $("#MerchantID_error_"+i).html("");
             }
         }
         else{
             $("#MerchantID_error_"+i).attr("style", "display:block");
             $("#MerchantID_error_"+i).html("Please enter Merchant ID.");
         }
    }
    function validateCreditperiod(i){
         var creditPeriod = $("#CreditPeriod_"+i).val();
          if(creditPeriod.trim()=="-1"){
             $("#creditPeriod_error_"+i).attr("style", "display:block");
             $("#creditPeriod_error_"+i).html("Please select Credit Period.");
         }
         else{
             $("#creditPeriod_error_"+i).attr("style", "display:none");
             $("#creditPeriod_error_"+i).html("");
         }
    }
</script>