@model List<HPCL.Common.Models.ViewModel.Merchant.SearchDetailsTableModel>
@using HPCL.Common.Resources

<table class="table table-striped table-bordered table-responsive mt-3" style="width:100%;">
    <thead>
        <tr>
            <th>Merchant ID</th>
            <th>ERP ID</th>
            <th>Old Merchant Id</th>
            <th>Retail Outlet Name</th>
            <th>RO</th>
            <th>Sales Area</th>
            <th>City</th>
            <th>Merchant Type</th>
            <th>State</th>
            <th>Status</th>
            <th>Highway No.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.MerchantId</td>
                <td>@item.ErpId</td>
                <td>@item.OlMerchantId</td>
                <td>@item.RetailOutletName</td>
                <td>@item.RO</td>
                <td>@item.SalesArea</td>
                <td>@item.City</td>
                <td>@item.MerchantType</td>
                <td>@item.State</td>
                <td>@item.Status</td>
                <td>@item.HighwayNo</td>
                <td>
                    <div class="d-flex align-items-center justify-content-center">
                        <a asp-controller="Merchant" asp-action="CreateMerchant" asp-route-merchantIdValue="@item.MerchantId" asp-route-actionFlow="View" class="d-block"><i class="fa fa-eye" aria-hidden="true" data-toggle="tooltip" data-placement="bottom" title="View"></i></a>
                        <a asp-controller="Merchant" asp-action="CreateMerchant" asp-route-merchantIdValue="@item.MerchantId" asp-route-actionFlow="Edit" class="d-block"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        <a asp-controller="" asp-action="" class="action_btn d-block" asp-route-OfficerID=""><i class="fa fa-files-o" aria-hidden="true"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


<script type="text/javascript">
    $(document).ready(function () {
        $('.table').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });

</script>
