@model HPCL_Web.Models.MerchantModel

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Manage Profile</h5>
        <ul class="nav nav-tabs mt-2 form_tabs" id="formTab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" href="#basicInfo" role="tab" aria-controls="basicInfo" aria-selected="true">Basic Information</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Contact Details</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="terminalDetails-tab" data-toggle="tab" href="#terminalDetails" role="tab" aria-controls="terminalDetails" aria-selected="false">Terminal Details</a> </li>
            <li class="nav-item"> <a class="nav-link disable" id="summaryDetails-tab" data-toggle="tab" href="#summaryDetails" role="tab" aria-controls="summaryDetails" aria-selected="false">Summary Details</a> </li>
            @*<li class="nav-item"> <a class="nav-link disable" id="uploadDocuments-tab" data-toggle=l"tab" href="#uploadDocuments" role="tab" aria-controls="uploadDocuments" aria-selected="false">Upload Documents</a> </li>*@
        </ul>
        <form name="applicationForm" onsubmit="return submitForm()" class="w-100">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Basic Information</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Merchant ID</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.MerchantID, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Retail Outlet Name<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.RetailOutletName, new { @class = "form-control" })
                                            <span class="error" id="retailOutletName_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Merchant Type<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.MerchantType, new SelectList(Model.MerchantTypes, "MerchantTypeCode", "MerchantTypeName"), new { @class = "form-control" })
                                            <span class="error" id="merchantType_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Dealer Name</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.DealerName, new { @class = "form-control" })
                                            <span class="error" id="dealerName_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mapped Merchant Id<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.MappedMerchantID, new { @class = "form-control" })
                                            <span class="error" id="mappedMerchantId_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Dealer Mobile No.<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.DealerMobileNumber, new { @class = "form-control" })
                                            <span class="error" id="dealerMobileNum_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Outlet Category<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.OutletCategory, new SelectList(Model.OutletCategories, "OutletCategoryCode", "OutletCategoryName"), new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="outletCategory_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Highway No<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @*@Html.DropDownListFor(m => m.PreHighwayNumber, new SelectList(Model.PreHighwayNumbers, "PreHighwayNumberID", "PreHighwayNumberName"), new { @class = "form-control" })*@
                                                    <select name="comm_states" id="" class="form-control">
                                                        <option value="1">NH</option>
                                                        <option value="2">SH</option>
                                                    </select>
                                                </div>
                                                <div class="col-8 pl-0">
                                                    @Html.TextBoxFor(m => m.HighwayNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <span class="error" id="highwayNum_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mapped Merchant Id<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.HighwayName, new { @class = "form-control" })
                                            <span class="error" id="highwayName_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12"></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                </div>
                                                <div class="col-8 pl-0">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">SBU Type<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.SBUType, new SelectList(Model.SBUTypes, "SBUId", "SBUName"), new { @class = "form-control" })
                                            <div class="error" id="sbuType_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">
                                            LPG-CNG Sale<sup class="text-danger">*</sup><br />(3 months average in KL)
                                        </label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.LPG_CNGSale, new { @class = "form-control" })
                                            <div class="error" id="lpgCngSale_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Pan Card Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.PANCardNumber, new { @class = "form-control" })
                                            <div class="error" id="panCardNum_error"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">GST Number</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.GSTNumber, new { @class = "form-control" })
                                            <div class="error" id="gstNum_error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Retail Outlet Address</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 1<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_Address1, new { @class = "form-control" })
                                            <span class="error" id="retail_address1_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 2<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_Address2, new { @class = "form-control" })
                                            <span class="error" id="retail_address2_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_Address3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Location</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_Location, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">City<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_City, new { @class = "form-control" })
                                            <span class="error" id="retail_city_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12"></label>
                                        <div class="col-md-7 col-12">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">State<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.Retail_Outlet_State, new SelectList(Model.RetailOutletStates, "StateID", "StateName"), new { @class = "form-control", onchange = "getRetailDistrict()" })
                                            </div>
                                            <span class="error" id="retail_state_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">District<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="retailDistrict" id="retailDistrict" class="form-control"></select>
                                            </div>
                                            <span class="error" id="retail_district_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Pin<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Retail_Outlet_Pin, new { @class = "form-control" })
                                            <span class="error" id="retail_pincode_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone Office<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.Retail_Outlet_PhoneOfficeCode, new { @class = "form-control" })
                                                </div>
                                                <div class="col-8 pl-0">
                                                    @Html.TextBoxFor(m => m.Retail_Outlet_PhoneOffice, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="retail_officePhone_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.Retail_Outlet_FaxCode, new { @class = "form-control" })
                                                </div>
                                                <div class="col-8 pl-0">
                                                    @Html.TextBoxFor(m => m.Retail_Outlet_Fax, new { @class = "form-control" })
                                                </div>
                                                <span class="error" id="retail_faxNumber_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Business Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Zonal Office<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.ZonalOffice, new SelectList(Model.ZonalOffices, "ZonalOfficeID", "ZonalOfficeName"), new { @class = "form-control", onchange = "getMerchantRegionalOfc()" })
                                            <span class="error" id="zonal_office_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Regional Office<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="regionalOfc" id="regionalOfc" class="form-control" onchange="getMerchantSalesArea()"></select>
                                            </div>
                                            <span class="error" id="regionalOfc_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Sales Area<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="salesArea" id="salesArea" class="form-control"></select>
                                            </div>
                                            <span class="error" id="salesArea_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">ERP Code<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.ERPCode, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Contact Person Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Name<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
                                                </div>
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.MName, new { @class = "form-control" })
                                                </div>
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.LName, new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <span class="error" id="contact_name_error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mobile<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Mobile, new { @class = "form-control" })
                                        </div>
                                        <span class="error" id="mobile_error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Email<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                        </div>
                                        <span class="error" id="email_error"></span>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Misc</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Misc, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mt-3">
                            <div class="px-2">
                                <button class="btn btn_primary px-4 py-2" type="button" onclick="return showregCommAddress()">Next</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                    <div class="border-1 rounded border-grey h-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 1</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Comm_Address1, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 2</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Comm_Address2, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address 3</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Comm_Address3, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">City</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Comm_City, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">State</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.Comm_State, new SelectList(Model.CommStates, "StateID", "StateName"), new { @class = "form-control", onchange = "getMerchantRegionalOfc()" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">District</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                <select name="commDistrict" id="commDistrict" class="form-control"></select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Pin</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.Comm_Pin, new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone Number</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.Comm_Pre_PhoneNumber, new { @class = "form-control" })
                                                </div>
                                                <div class="col-8 pl-0">
                                                    @Html.TextBoxFor(m => m.Comm_PhoneNumber, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.TextBoxFor(m => m.Comm_Pre_Fax, new { @class = "form-control" })
                                                </div>
                                                <div class="col-8 pl-0">
                                                    @Html.TextBoxFor(m => m.Comm_Fax, new { @class = "form-control" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="">Previous</button>
                        </div>
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="return showTerminalDetails()">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="terminalDetails" role="tabpanel" aria-labelledby="terminalDetails-tab">
                    <div class="border-1 rounded border-grey w-100 mt-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Other Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">No. of Live Terminal(s)</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.NumOfLiveTerminals, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12"></label>
                                        <div class="col-md-7 col-12">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Terminal Type Requested</label>
                                        <div class="col-md-7 col-12">
                                            <div class="row">
                                                <div class="col-4">
                                                    @Html.RadioButtonFor(m => m.TerminalTypeRequested, new { @class = "form-control" })
                                                    <p class="m-0">GPRS Installation</p>
                                                </div>
                                                <div class="col-4">
                                                    @Html.RadioButtonFor(m => m.TerminalTypeRequested, new { @class = "form-control" })
                                                    <p class="m-0">Desktop Installation</p>
                                                </div>
                                                <div class="col-4">
                                                    @Html.RadioButtonFor(m => m.TerminalTypeRequested, new { @class = "form-control" })
                                                    <p class="m-0">Wifi Installation</p>
                                                </div>
                                            </div>
                                            <div class="error" id="comm_faxNumber_error"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="d-flex align-items-center justify-content-center mt-3">
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="">Previous</button>
                        </div>
                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" type="button" onclick="">Next</button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="summaryDetails" role="tabpanel" aria-labelledby="summaryDetails-tab">
                    <div class="border-1 rounded border-grey w-100">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Summary Details</p>
                        <div class="py-2 p-md-4">
                            <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Number Of Cards </label>
                                        <div class="col-md-7 col-12">
                                            <input type="text" class="form-control">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-lg-6 col-md-12 col-12">
                                    <p class="font-weight-bold">Fee Payment Details</p>
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <div class="d-flex align-items-center justify-content-start flex-wrap">
                                            <label class="d-flex align-items-center justify-content-start mr-4">
                                                <input type="radio" name="fee_payment" class="mr-2" checked>
                                                <span>Fee Collect(Cheque)</span>
                                            </label>
                                            <label class="d-flex align-items-center justify-content-start">
                                                <input type="radio" name="fee_payment" class="mr-2">
                                                <span>Fee Waiver</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
                                                    <label>DD/Cheque No</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center justify-content-start flex-wrap">
                                                    <label>DD/Cheque Date</label>
                                                    <input type="date" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" onClick="" type="button">Previous</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary px-4 py-2" onClick="" type="button">Next</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
    function showregCommAddress() {

        //	if(localStorage.getItem("showregAddress")) {
        //		document.getElementById("address-tab").click();
        //		document.getElementById("address-tab").classList.remove("disable");
        //	}
        //	else {
        var ret = false;

        if (document.applicationForm.RetailOutletName.value == "") {
            document.getElementById("retailOutletName_error").innerHTML = "Retail Outlet is required";
            document.applicationForm.RetailOutletName.focus();
            return ret;
        }
        else {
            document.getElementById("retailOutletName_error").innerHTML = "";
        }

        if (document.applicationForm.MerchantType.value == "0") {
            document.getElementById("merchantType_error").innerHTML = "Merchant Type is required";
            document.applicationForm.MerchantType.focus();
            return ret;
        }
        else {
            document.getElementById("merchantType_error").innerHTML = "";
        }

        if (document.applicationForm.DealerName.value == "") {
            document.getElementById("dealerName_error").innerHTML = "Dealer Name is required";
            document.applicationForm.DealerName.focus();
            return ret;
        }
        else {
            document.getElementById("dealerName_error").innerHTML = "";
        }

        if (document.applicationForm.MappedMerchantID.value == "") {
            document.getElementById("mappedMerchantId_error").innerHTML = "Mapped Merchant ID is required";
            document.applicationForm.MappedMerchantID.focus();
            return ret;
        }
        else {
            document.getElementById("mappedMerchantId_error").innerHTML = "";
        }

        if (document.applicationForm.DealerMobileNumber.value == "") {
            document.getElementById("dealerMobileNum_error").innerHTML = "Dealer Mobile Number is required";
            document.applicationForm.DealerMobileNumber.focus();
            return ret;
        }
        else {
            document.getElementById("dealerMobileNum_error").innerHTML = "";
        }

        if (document.applicationForm.OutletCategory.value == "0") {
            document.getElementById("outletCategory_error").innerHTML = "Outlet Category is required";
            document.applicationForm.OutletCategory.focus();
            return ret;
        }
        else {
            document.getElementById("outletCategory_error").innerHTML = "";
        }

        if (document.applicationForm.HighwayNumber.value == "") {
            document.getElementById("highwayNum_error").innerHTML = "Highway Number is required";
            document.applicationForm.HighwayNumber.focus();
            return ret;
        }
        else {
            document.getElementById("highwayNum_error").innerHTML = "";
        }

        if (document.applicationForm.HighwayName.value == "") {
            document.getElementById("highwayName_error").innerHTML = "Highway Name is required";
            document.applicationForm.HighwayName.focus();
            return ret;
        }
        else {
            document.getElementById("highwayName_error").innerHTML = "";
        }

        if (document.applicationForm.SBUType.value == "0") {
            document.getElementById("sbuType_error").innerHTML = "SBU Type is required";
            document.applicationForm.SBUType.focus();
            return ret;
        }
        else {
            document.getElementById("sbuType_error").innerHTML = "";
        }

        if (document.applicationForm.LPG_CNGSale.value == "") {
            document.getElementById("lpgCngSale_error").innerHTML = "LPG CNG Sale is required";
            document.applicationForm.LPG_CNGSale.focus();
            return ret;
        }
        else {
            document.getElementById("lpgCngSale_error").innerHTML = "";
        }

        if (document.applicationForm.PANCardNumber.value == "") {
            document.getElementById("panCardNum_error").innerHTML = "PAN Card is required";
            document.applicationForm.PANCardNumber.focus();
            return ret;
        }
        else {
            document.getElementById("panCardNum_error").innerHTML = "";
        }

        if (document.applicationForm.GSTNumber.value == "") {
            document.getElementById("gstNum_error").innerHTML = "GST Number is required";
            document.applicationForm.GSTNumber.focus();
            return ret;
        }
        else {
            document.getElementById("gstNum_error").innerHTML = "";
        }

        if (document.applicationForm.Retail_Outlet_Address1.value == "") {
            document.getElementById("retail_address1_error").innerHTML = "Address 1 is required";
            document.applicationForm.Retail_Outlet_Address1.focus();
            return ret;
        }
        else {
            document.getElementById("retail_address1_error").innerHTML = "";
        }

        if (document.applicationForm.Retail_Outlet_Address2.value == "") {
            document.getElementById("retail_address2_error").innerHTML = "Address 2 is required";
            document.applicationForm.Retail_Outlet_Address2.focus();
            return ret;
        }
        else {
            document.getElementById("retail_address2_error").innerHTML = "";
        }

        if (document.applicationForm.Retail_Outlet_City.value == "") {
            document.getElementById("retail_city_error").innerHTML = "City is required";
            document.applicationForm.Retail_Outlet_City.focus();
            return ret;
        }
        else {
            document.getElementById("retail_city_error").innerHTML = "";
            ret = true;
        }
       // //console.log(ret);

       // if (document.applicationForm.customerType.value == "-1") {
       //     document.getElementById("customerType_error").innerHTML = "This information is required";
       //     document.applicationForm.customerType.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("customerType_error").innerHTML = "";
       // }

       // if (document.applicationForm.zonalOffice.value == "-1") {
       //     document.getElementById("zonalOffice_error").innerHTML = "This information is required";
       //     document.applicationForm.zonalOffice.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("zonalOffice_error").innerHTML = "";
       // }

       // if (document.applicationForm.applicationDate.value == "") {
       //     document.getElementById("applicationDate_error").innerHTML = "This information is required";
       //     document.applicationForm.applicationDate.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("applicationDate_error").innerHTML = "";
       // }

       // if (document.applicationForm.salesArea.value == "") {
       //     document.getElementById("salesArea_error").innerHTML = "This information is required";
       //     document.applicationForm.salesArea.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("salesArea_error").innerHTML = "";
       // }


       // if (document.applicationForm.customerSubType.value == "-1") {
       //     document.getElementById("customerSubType_error").innerHTML = "This information is required";
       //     document.applicationForm.customerSubType.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("customerSubType_error").innerHTML = "";
       // }
       // /*else {
       //     y = document.applicationForm.mobileno.value;
       //     if((y.charAt(0)!="9") && (y.charAt(0)!="8") && (y.charAt(0)!="7") && (y.charAt(0)!="6"))
       //     {
       //         document.getElementById("phone_error").innerHTML="Mobile Number should start with 6, 7, 8, 9";
       //         document.applicationForm.mobileno.focus();
       //         return false
       //     }
       //     else if (y.length<10)
       //     {
       //         document.getElementById("phone_error").innerHTML="Invalid phone number (e.g.: 9999990000)";
       //         document.applicationForm.mobileno.focus();
       //         return false;
       //     }

       //         else {
       //             document.getElementById("phone_error").innerHTML="";
       //         }
       // }*/

       // if (document.applicationForm.regionalOffice.value == "-1") {
       //     document.getElementById("regionalOffice_error").innerHTML = "This information is required";
       //     document.applicationForm.regionalOffice.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("regionalOffice_error").innerHTML = "";
       // }


       // if (document.applicationForm.individualName.value == "") {
       //     document.getElementById("individualName_error").innerHTML = "This information is required";
       //     document.applicationForm.individualName.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("individualName_error").innerHTML = "";
       // }



       // if (document.applicationForm.nameOnCard.value == "") {
       //     document.getElementById("nameOnCard_error").innerHTML = "This information is required";
       //     document.applicationForm.nameOnCard.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("nameOnCard_error").innerHTML = "";
       // }


       // /*if (document.applicationForm.pincode.value == "") {
       //    document.getElementById("picode_error").innerHTML="This information is required";
       //    return (false);
       //}
       //else {
       //    var pin = document.applicationForm.pincode.value;
       //     if (pin.length<6)
       //    {
       //        document.getElementById("picode_error").innerHTML="Invalid Pincode, Must be six digits";
       //        document.applicationForm.pincode.focus();
       //        return false;
       //    }
       //    else {
       //            document.getElementById("picode_error").innerHTML="";
       //        }
       //}*/
       // //if (document.applicationForm.typeOfbusiness.value == "-1") {
       //     document.getElementById("typeOfbusiness_error").innerHTML = "This information is required";
       //     document.applicationForm.typeOfbusiness.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("typeOfbusiness_error").innerHTML = "";
       // }


       // if (document.applicationForm.incomeTaxPan.value == "") {
       //     document.getElementById("incomeTaxPan_error").innerHTML = "This information is required";
       //     document.applicationForm.incomeTaxPan.focus();
       //     return ret;
       // }
       // else {
       //     document.getElementById("incomeTaxPan_error").innerHTML = "";
       //     ret = true
       // }

       // /*if (!document.applicationForm.tc.checked) {
       //     //toast("true");
       //     document.getElementById("tc_error").innerHTML="Must Agree to Terms and Conditions";
       //     return (false);
       // }
       // else {
       //     // toast("false");
       //         document.getElementById("tc_error").innerHTML="";
       //     }*/

       // //document.applicationForm.submit();
        document.getElementById("address-tab").click();
        document.getElementById("address-tab").classList.remove("disable");
        localStorage.setItem("showregAddress", true);
        return ret;
    }
    function showTerminalDetails() {
        var ret = true;

        document.getElementById("terminalDetails-tab").click();
        document.getElementById("terminalDetails-tab").classList.remove("disable");
        localStorage.setItem("showTerminalDetails", true);
        return ret;
    }

    function getRetailDistrict() {
        //var id = this.value;
        var id = $('#Retail_Outlet_State :selected').val();

        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetDistrictDetails", "Merchant")',
            data: { Stateid: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        $('<option>',
                            {
                                value: data.districtID,
                                text: data.districtName
                            }).html(data.districtName).appendTo("#retailDistrict");
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating District Data");
            }
        });
    };

    function getMerchantRegionalOfc() {
        var id = $('#ZonalOffice :selected').val();

        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetRegionalOfcDetails", "Merchant")',
            data: { ZonalOfcID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        $('<option>',
                            {
                                value: data.regionalOfficeID,
                                text: data.regionalOfficeName
                            }).html(data.regionalOfficeName).appendTo("#regionalOfc");
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Regional Office Data");
            }
        });
    };

    function getMerchantSalesArea() {
        var id = $('#regionalOfc :selected').val();

        //if (id != 0) {
        //    $("#state_error").html("");
        //}

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetSalesAreaDetails", "Merchant")',
            data: { RegionalID: id },  // data to submit
            dataType: "json",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#district").html("");
                    $.each(data, function (i, data) { // bind the dropdown list using json result
                        $('<option>',
                            {
                                value: data.salesAreaID,
                                text: data.salesAreaName
                            }).html(data.salesAreaName).appendTo("#salesArea");
                    });
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Sales Area Data");
            }
        });
    };
</script>
