@model HPCL.Common.Models.ViewModel.Merchant.MerchantModel
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Profile</h5>
        <div class="tab-content mt-3" id="myTabContent">

            <div class="border-1 rounded border-grey w-100">
                <div class="py-2 p-md-4">
                    <div class="row">
                        <div class="col-12 float-left">
                            <div class="col-6 float-left">
                                <p class="text_primary px-3 py-2 m-0 font-weight-bold">Basic Information</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class=" d-flex align-items-start flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Merchant ID :</label>
                                        <div class="col-md-7 col-12" id="SummaryMerchantID">
                                            <label class="font-weight-normal  col-12">@Model.MerchantID</label>
                                           
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Retail Outlet Name :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetailOutletName">
                                            <label class="font-weight-normal  col-12">@Model.RetailOutletName</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Merchant Type :</label>
                                        <div class="col-md-7 col-12" id="SummaryMerchantType">
                                            <label class="font-weight-normal  col-12">@Model.MerchantType</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Dealer Name :</label>
                                        <div class="col-md-7 col-12" id="SummaryDealerName">
                                            <label class="font-weight-normal  col-12">@Model.DealerName</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Dealer Mobile Number :</label>
                                        <div class="col-md-7 col-12" id="SummaryDealerMobileNum">
                                            <label class="font-weight-normal  col-12">@Model.DealerMobileNumber</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Outlet Category :</label>
                                        <div class="col-md-7 col-12" id="SummaryOutletCategory">
                                            <label class="font-weight-normal  col-12">@Model.OutletCategory</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Highway No :</label>
                                        <div class="col-md-7 col-12" id="SummaryHighwayNum">
                                            <label class="font-weight-normal  col-12">@Model.HighwayNumber</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Highway Name :</label>
                                        <div class="col-md-7 col-12" id="SummaryHighwayName">
                                            <label class="font-weight-normal  col-12">@Model.HighwayName</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">LPG-CNG Sale :<br />(3 months average in KL)</label>
                                        <div class="col-md-7 col-12" id="SummaryLPGCNGSale">
                                            <label class="font-weight-normal  col-12">@Model.LPG_CNGSale</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Pan Card Number :</label>
                                        <div class="col-md-7 col-12" id="SummaryPanCardNum">
                                            <label class="font-weight-normal  col-12">@Model.PANCardNumber</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">GST Number :</label>
                                        <div class="col-md-7 col-12" id="SummaryGSTNum">
                                            <label class="font-weight-normal  col-12">@Model.GSTNumber</label>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">SBU Type :</label>
                                        <div class="col-md-7 col-12" id="SummarySBUType">
                                            <label class="font-weight-normal  col-12">@Model.SBUType</label>
                                        </div>
                                    </div>
                                </div>
                                <p class="text_primary px-3 py-2 m-0 font-weight-bold">Business Details</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">ERP Code :</label>
                                        <div class="col-md-7 col-12" id="SummaryERPCode">
                                            <label class="font-weight-normal  col-12">@Model.ERPCode</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Sales Area :</label>
                                        <div class="col-md-7 col-12" id="SummarySalesArea">
                                            <label class="font-weight-normal  col-12">@Model.SalesArea</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Regional Office, Zonal Office :</label>
                                        <div class="col-md-7 col-12" id="SummaryRegionalZonalOfc">
                                            <label class="font-weight-normal  col-12">@Model.RegionalOffice , @Model.ZonalOffice</label>
                                        </div>
                                    </div>
                                </div>
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Communication Address</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address :</label>
                                        <div class="col-md-7 col-12" id="SummaryAddress">
                                            <label class="font-weight-normal  col-12">@Model.Comm_Address1</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">City (PIN) :</label>
                                        <div class="col-md-7 col-12" id="SummaryCity">
                                            <label class="font-weight-normal  col-12">@Model.Comm_City</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">District, State :</label>
                                        <div class="col-md-7 col-12" id="SummaryDistrict">
                                            <label class="font-weight-normal  col-12">@Model.Comm_District , @Model.Comm_State</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone Office :</label>
                                        <div class="col-md-7 col-12" id="SummaryPhoneOfc">
                                            <label class="font-weight-normal  col-12">@Model.Comm_PhoneNumber</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax :</label>
                                        <div class="col-md-7 col-12" id="SummaryFax">
                                            <label class="font-weight-normal  col-12">@Model.Comm_Fax</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 float-left">
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Retail Outlet Address</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Address :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetAddress">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_Address1</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Location :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetLocation">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_Location</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">City (PIN) :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetCity">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_City</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">District, State :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetDistrictState">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_District , @Model.Retail_Outlet_State</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Phone Office :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetPhoneOfc">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_PhoneOffice</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Fax :</label>
                                        <div class="col-md-7 col-12" id="SummaryRetFax">
                                            <label class="font-weight-normal  col-12">@Model.Retail_Outlet_Fax</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 float-left">

                            </div>
                            <div class="col-6 float-left">
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Contact Person Details</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Name :</label>
                                        <div class="col-md-7 col-12" id="SummaryName">
                                            <label class="font-weight-normal  col-12">@Model.FName</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Mobile :</label>
                                        <div class="col-md-7 col-12" id="SummaryMobile">
                                            <label class="font-weight-normal  col-12">@Model.Mobile</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Email :</label>
                                        <div class="col-md-7 col-12" id="SummaryEmail">
                                            <label class="font-weight-normal  col-12">@Model.Email</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Misc :</label>
                                        <div class="col-md-7 col-12" id="SummaryMisc">
                                            <label class="font-weight-normal  col-12">@Model.Misc</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-6 float-left">
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Bank Account Details</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Account Holder Name :</label>
                                        <div class="col-md-7 col-12" id="SummaryAccHolderName">
                                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">ICICI Bank Account No :</label>
                                        <div class="col-md-7 col-12" id="SummaryBankAccNum">
                                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Branch Location :</label>
                                        <div class="col-md-7 col-12" id="SummaryBranchLocation">
                                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                         
                            @*<div class="col-6 float-left">
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Caution Limit Details</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">DTP Caution Limit in RS :</label>
                                        <div class="col-md-7 col-12" id="SummaryDTPCautionLimit">
                                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">HPPAY Caution Limit in RS :</label>
                                        <div class="col-md-7 col-12" id="SummaryHpPayCautionLimit">
                                            @Html.TextBoxFor(m => m.MerchantType, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Branch Location :</label>
                                        <div class="col-md-7 col-12" id="SummaryBranchLocation">
                                            @Html.TextBoxFor(m => m.MerchantType, new { @class = "form-control", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                            </div>*@
                          
                            <div class="col-6 float-left">
                                <p class="text_primary px-3 py-2  m-0 font-weight-bold">Terminal Details</p>
                                <div class="col-lg-12 col-md-12 col-12">
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">No. of Live Terminal :</label>
                                        <div class="col-md-7 col-12" id="SummaryNumOfLiveTerminals">
                                            <label class="font-weight-normal  col-12">@Model.NumOfLiveTerminals</label>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12">Terminal Type :</label>
                                        <div class="col-md-7 col-12" id="SummaryTerminalType">
                                            <label class="font-weight-normal  col-12">@Model.TerminalTypeRequested</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div id="Error" style="font-size: 14px; color: #dc3545 !important; text-align: center;">@Html.Raw(ViewBag.Message)</div>*@
                    <div class="clearfix"></div>

                    <div class="d-flex align-items-center justify-content-center mt-3">

                        <div class="px-2">
                            <button class="btn btn_primary px-4 py-2" id="btnCancel" type="submit">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script type="text/javascript">
    $('#btnCancel').click(function () {
        document.location = '@Url.Action("RejectedMerchant", "Merchant")';
    });
</script>
