@model HPCL.Common.Models.ViewModel.Merchant.MerchantApprovalModel

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Profile", "Merchant")" class="text_primary">Merchant Approval</a> </li>
            <li class="breadcrumb-item font-weight-light">Verify Merchant Profile</li>
        </ul>
        <div id="reason" class="mb-3 text-center displayNone" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;"></div>
        <h5>Merchant Approval</h5>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form1" }))
        {
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 py-2">
                            <div class="border-1 rounded border-grey">
                                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Merchant Approval</p>
                                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-3">
                                    <div class="d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="col-lg-6 col-12 mb-2 d-flex align-items-center justify-content-start flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">Select Category</label>
                                        <div class="col-md-7 col-12"> 
                                            <div class="custom_select">
                                                @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryType"), new { @class = "form-control" })
                                            </div>
                                            <span class="error" id="categoryID"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 mb-2 d-flex align-items-center justify-content-start flex-wrap">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">From Date</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control", @Type = "Date" })
                                            </div>
                                            <span class="error" id="fromDate"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start flex-wrap">
                                    <div class="col-lg-6 col-12 mb-2 d-flex align-items-center justify-content-start flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12">To Date</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select"> 
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control", @Type = "Date" })
                                            </div>
                                            <span class="error" id="toDate"></span>
                                        </div>
                                    </div>
                                    </div>
                                    <div class="col-12 d-flex align-items-center justify-content-center">
                                        <div class="px-2">
                                            <button class="btn btn_primary" type="submit" id="searchBtn">Search</button>
                                        </div>
                                        <div class="px-2">
                                            <button class="btn btn_primary" type="button" onclick="setDates();">Reset</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
        <div id="show_Table" class="mt-2">
            @if (Model.MerchantApprovalTableDetails.Count() > 0)
            {<div class="table-responsive">
                    <table class="table table-striped text-nowrap datatable" id="merchantApprovalDetails">
                        <thead style="background-color:lightgray;">
                            <tr>
                                <th style="width:5%;"><input type="checkbox" id="checkAll" /></th>
                                <th style="width:10%;">ERP Code</th>
                                <th style="width:10%;">RO</th>
                                <th style="width:20%;">Retail Outlet Name</th>
                                <th style="width:10%;">City</th>
                                <th>Type</th>
                                <th style="width:10%;">Created Date</th>
                                <th style="width:10%;">Created By</th>
                                <th style="width:10%;">Verified Date</th>
                                <th style="width:10%;">Verified By</th>
                                <th style="width:10%;">Comments</th>
                            </tr>
                        </thead>
                        <tbody id="searchMerchantTableBody">
                            @{
                                int i = 0;
                            }
                            @foreach (var item in Model.MerchantApprovalTableDetails)
                            {
                                i = i + 1;
                                string MerchantIDVal = "30" + @item.ErpCode;
                                <tr>
                                    <td><input type="checkbox" id="check_@i" /></td>
                                    <td><a class="erp_code text_primary" asp-action="CreateMerchant" asp-route-MerchantIDValue="@MerchantIDVal" asp-route-fromDate="@Model.FromDate" asp-route-toDate="@Model.ToDate" asp-route-category="@Model.CategoryID" asp-route-actionFlow="Edit">@item.ErpCode</a></td>
                                    <td>@item.RegionalOfficeName</td>
                                    <td>@item.RetailOutletName</td>
                                    <td>@item.City</td>
                                    <td>@item.MerchantTypeName</td>
                                    <td>@item.CreatedTime</td>
                                    <td>@item.CreatedBy</td>
                                    <td>@item.VerifiedDate</td>
                                    <td>@item.VerifiedBy</td>
                                    <td><input type="text" id="comments_@i" class="form-control" /><span class="comment_error"></span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                @*<div class="container">
                        @if (pager.TotalPages > 0)
                        {
                            <ul class="pagination justify-content-end">
                                @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                                {
                                    <li class="page-item @(pge == pager.CurrentPage ? " active" : "" )">
                                        <a class="btn btn_primary px-3 py-2" asp-controller="Merchant" asp-action="VerifyMerchant" asp-route-pg="@pge">@pge</a>
                                    </li>
                                }
                            </ul>
                        }
                    </div>*@
                <div class="col-12 d-flex align-items-center justify-content-center mt-3 px-0">
                    <div class="col-md-3 col-12 d-flex align-items-center justify-content-center">
                        <div class="pr-2">
                            <button class="btn btn_primary" type="button" onclick="approvalOrReject('Approve');">APPROVE</button>
                        </div>
                        <div class="pl-2">
                            <button class="btn btn_primary" type="button" onclick="approvalOrReject('Reject');">REJECT</button>
                        </div>
                    </div>
                </div>

            }
            else
            {
                <div class="col-12 text-center alert-danger p-2">
                    No Records found!
                </div>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var fromdate = $("#FromDate").val();
    var todate = $("#ToDate").val();
    var notFoundError = "@ViewBag.NotFoundError";

    $(document).ready(function () {

        if (notFoundError == "") {
            if (fromdate == "") {
                $("#FromDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true,
                    dateFormat: 'dd-mm-yy'
                });
            }
            else {
                $("#FromDate").datepicker({ dateFormat: 'dd-mm-yy' });
            }

            if (todate == "") {
                $("#ToDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true,
                    dateFormat: 'dd-mm-yy'
                });
                setDates();
            }
            else {
                $("#ToDate").datepicker({ dateFormat: 'dd-mm-yy' });
            }
        }
        else {
            alert("Details not found");
        }
    });

    function setDates() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (day < 10 ? '0' : '') + day + '-' +
            (month < 10 ? '0' : '') + month +  '-' +
            d.getFullYear();

        $("#FromDate").val(output);
        $("#ToDate").val(output);
        $("#CategoryID").val(1);

        $("#show_Table").html("");
    };

    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    var flag = "Y";

    function approvalOrReject(action) {
        ObjApprovalRejectDetail = [];
        $("#merchantApprovalDetails tr").each(function () {
            $(this).find(".comment_error").html("");
            if ($(this).find('input[type="checkbox"]').is(":checked")) {
                $("#reason").addClass("displayNone");
                let comment = $(this).find("input:text").val();
                if (comment == "") {
                    $(this).find(".comment_error").html("Please fill comment.");
                    flag = "N";
                }
                else {
                    flag = "Y";
                }
                let erpCode = $(this).find("a.erp_code").html();
                if (erpCode != undefined) {
                    ObjApprovalRejectDetail.push({ ErpCode: erpCode, Comments: comment });
                }
            }
            else {
                $("#reason").removeClass("displayNone");
                $("#reason").html("Please select atleast one Erp Code");
            }
        });

        if (ObjApprovalRejectDetail.length > 0 && flag == "Y") {
            var erpnmodel = { ApprovedBy: "", ObjApprovalRejectDetail: ObjApprovalRejectDetail, StatusId: action, UserId: "", Useragent: "", Userip: "", };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ActionOnMerchantID", "Merchant")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(erpnmodel),
                    success: function (data) {
                        alert(data);
                        //$("#reason").removeClass("displayNone");
                        $("#searchBtn").click();
                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                });
        }
    };
</script>
