@model HPCL_Web.Models.Merchant.MerchantApprovalModel
@{
    ViewData["Title"] = "Details";
    PagerModel pager = new PagerModel();
    int pageNo = 0;

    if (ViewBag.pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <h5>Merchant Approval</h5>
        @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "form1" }))
        {
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="w-100">
                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                            <div class="border-1 rounded border-grey"></div>
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Search Officer</p>
                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                                <div>
                                    <div class="row">
                                        <div class="col-xs-4" style="width:40%;margin-left:1.5%;">
                                            <label class="font-weight-normal col-md-5 col-12">Select Category</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.DropDownListFor(m => m.CategoryID, new SelectList(Model.Categories, "CategoryID", "CategoryType"), new { @class = "form-control" })
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="categoryID"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width:35%;">
                                            <label class="font-weight-normal col-md-5 col-12"></label>
                                            <div class="col-md-7 col-12" style="margin-left:-20%;">
                                                <div class="custom_select">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width: 40%; margin-left: 1.5%; margin-top: 1%;">
                                            <label class="font-weight-normal col-md-5 col-12">From Date</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control" })
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="fromDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width:35%;">
                                            <label class="font-weight-normal col-md-5 col-12"></label>
                                            <div class="col-md-7 col-12" style="margin-left:-20%;">
                                                <div class="custom_select">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width:40%;margin-left:1.5%;margin-top:1%;">
                                            <label class="font-weight-normal col-md-5 col-12">To Date</label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control" })
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="toDate"></span>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width:35%;">
                                            <label class="font-weight-normal col-md-5 col-12"></label>
                                            <div class="col-md-7 col-12" style="margin-left:-20%;">
                                                <div class="custom_select">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-4" style="width: 40%; margin-left: 1.5%; margin-top: 1%;">
                                            <label class="font-weight-normal col-md-5 col-12"></label>
                                            <div class="col-md-7 col-12">
                                                <div class="custom_select">
                                                    <button class="btn btn-primary" style="display: inline-block; margin: 0 auto;  width:40%;" type="submit">Search</button>
                                                    <button class="btn btn-primary" style="display: inline-block; margin: 0 auto; width: 40%;" type="button" onclick="setDates();">Reset</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        }
        <div id="show_Table">
            @if (Model.MerchantApprovalTableDetails.Count() > 0)
            {
                <table class="table table-striped" id="merchantApprovalDetails">
                    <thead style="background-color:lightgray;">
                        <tr>
                            <th style="width:5%;"><input type="checkbox" id="checkAll" /></th>
                            <th style="width:10%;">ERP Code</th>
                            <th style="width:10%;">RO</th>
                            <th style="width:20%;">Retail Outlet Name</th>
                            <th style="width:10%;">City</th>
                            <th>Type</th>
                            <th style="width:10%;">Created Date</th>
                            <th style="width:10%;">Created By</th>
                            <th style="width:10%;">Verified Date</th>
                            <th style="width:10%;">Verified By</th>
                            <th style="width:10%;">Comments</th>
                        </tr>
                    </thead>
                    <tbody id="searchMerchantTableBody">
                        @{
                            int i = 0;
                        }
                        @foreach (var item in Model.MerchantApprovalTableDetails)
                        {
                            i = i + 1;
                            string MerchantIDVal = "30" + @item.ErpCode;
                            <tr>
                                <td><input type="checkbox" id="check_@i" /></td>
                                <td><a class="erp_code" asp-action="CreateMerchant" asp-route-MerchantIDValue="@MerchantIDVal" asp-route-fromDate="@Model.FromDate" asp-route-toDate="@Model.ToDate" asp-route-category="@Model.CategoryID">@item.ErpCode</a></td>
                                <td>@item.RegionalOfficeName</td>
                                <td>@item.RetailOutletName</td>
                                <td>@item.City</td>
                                <td>@item.MerchantTypeName</td>
                                <td>@item.CreatedTime</td>
                                <td>@item.CreatedBy</td>
                                <td>@item.VerifiedDate</td>
                                <td>@item.VerifiedBy</td>
                                <td><input type="text" id="comments_@i" /><span class="comment_error"></span></td>
                            </tr>
                        }
                    </tbody>
                </table>
                <div class="container">
                    @if (pager.TotalPages > 0)
                    {
                        <ul class="pagination justify-content-end">
                            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
                            {
                                <li class="page-item @(pge == pager.CurrentPage ? " active" : "" )">
                                    <a class="page-link" asp-controller="Merchant" asp-action="VerifyMerchant" asp-route-pg="@pge">@pge</a>
                                </li>
                            }
                        </ul>
                    }
                </div>
                <button class="btn btn-primary" style="display: inline-block; margin: 0 auto;  width:10%;" type="button" onclick="approvalOrReject('Approve');">APPROVE</button>
                <button class="btn btn-primary" style="display: inline-block; margin: 0 auto; width: 10%;" type="button" onclick="approvalOrReject('Reject');">REJECT</button>

            }
        </div>
    </div>
</div>
<script type="text/javascript">
    var fromdate = $("#FromDate").val();
    var todate = $("#ToDate").val();
    var notFoundError = "@ViewBag.NotFoundError";

    $(document).ready(function () {

        if (notFoundError == "") {
            if (fromdate == "") {
                $("#FromDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true
                });
            }
            else {
                $("#FromDate").datepicker();
            }

            if (todate == "") {
                $("#ToDate").datepicker({
                    "setDate": new Date(),
                    "autoclose": true
                });
                setDates();
            }
            else {
                $("#ToDate").datepicker();
            }
        }
        else {
            alert("Details not found");
        }
    });

    function setDates() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (month < 10 ? '0' : '') + month + '/' +
            (day < 10 ? '0' : '') + day + '/' +
            d.getFullYear();

        $("#FromDate").val(output);
        $("#ToDate").val(output);
        $("#CategoryID").val(1);

        $("#show_Table").html("");
    };

    $("#checkAll").click(function () {
        $('input:checkbox').not(this).prop('checked', this.checked);
    });

    var flag = "Y";

    function approvalOrReject(action) {
        ObjApprovalRejectDetail = [];
        $("#merchantApprovalDetails tr").each(function () {
            $(this).find(".comment_error").html("");
            if ($(this).find('input[type="checkbox"]').is(":checked")) {
                let comment = $(this).find("input:text").val();
                if (comment == "") {
                    $(this).find(".comment_error").html("Please fill comment.");
                    flag = "N";
                }
                else {
                    flag = "Y";
                }
                let erpCode = $(this).find("a.erp_code").html();
                if (erpCode != undefined) {
                    ObjApprovalRejectDetail.push({ ErpCode: erpCode, Comments: comment });
                }
            }
        });

        if (ObjApprovalRejectDetail.length > 0 && flag == "Y") {
            var erpnmodel = { ApprovedBy: "", ObjApprovalRejectDetail: ObjApprovalRejectDetail, StatusId: action, UserId: "", Useragent: "", Userip: "", };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ActionOnMerchantID", "Merchant")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(erpnmodel),
                    success: function (data) {
                        alert(data.message);
                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                });
        }
    };
</script>