@model HPCL.Common.Models.ViewModel.ParentCustomer.ControlCardSearchModel
@using HPCL.Common.Resources

@if (Model.Data.Count() > 0)
{
    <table id="ControlCardTbl" class="datatable table table-striped table-bordered d-md-table d-block text-nowrap display table-responsive" style="width:100%;">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Zonal Office</th>
                <th>Regional Office</th>
                <th>Customer ID</th>
                <th>Customer Name </th>
                <th>Control Card No.</th>
         
            </tr>
        </thead>
        <tbody>
            @{
                int Slno = 1;
            }
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@Slno</td>
                    <td>@item.ZonalOfficeName</td>
                    <td>@item.RegionalOfficeName</td>
                    <td>@item.CustomerID</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ControlCardNo</td>

                </tr>
                Slno++;
            }
        </tbody>
    </table>


    <div class="clearfix"></div>
}
else
{
    <div class="alert alert-danger mt-3 text-center">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
     
    });
</script>

