@model HPCL.Common.Models.ViewModel.ParentCustomer.ParentCustomerBalanceInfoModel
<div class="bg-white w-100">
    <div class="tab-pane" id="BasicInfo" role="tabpanel" aria-labelledby="BasicInfo-tab">
        <div class="col-lg-6 col-md-12 col-12 pl-0 pl-0 pb-2">
            <div class="border-1 rounded border-grey h-100">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Application Details</p>
                <div class="py-3 px-2 px-md-4">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Zonal Office: </label>
                        <div class="col-md-7 col-12">

                            @Html.TextBoxFor(m => m.ZonalOfficeName, new { @id = "ZonalOfficeID", @class = "form-control", @readonly = true })
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Regional Office: </label>
                        <div class="col-md-7 col-12">
                            @*<div class="custom_select">*@

                            @Html.TextBoxFor(m => m.RegionalOfficeName, new { @id = "RegionalOfficeID", @class = "form-control", @readonly = true })
                            @*</div>*@

                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Customer Type: </label>
                        <div class="col-md-7 col-12">
                            <div class="custom_select">

                                @Html.TextBoxFor(m => m.CustomerTypeName, new { @id = "CustomerTypeId", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Customer Sub Type: </label>
                        <div class="col-md-7 col-12">
                            <div class="custom_select">

                                @Html.TextBoxFor(m => m.CustomerSubtypeName, new { @id = "CustomerSubtypeId", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Sales Area: </label>
                        <div class="col-md-7 col-12">
                            @Html.TextBoxFor(m => m.SalesArea, new { id = "SalesArea", @class = "form-control", @readonly = true })

                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Form Number: </label>
                        <div class="col-md-7 col-12">
                            @Html.TextBoxFor(m => m.FormNumber, new { id = "FormNumber", @class = "form-control", @readonly = true })
                            <span class="error" id="salesArea_error"></span>
                        </div>
                    </div>

                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Application Date:  </label>
                        <div class="col-md-7 col-12">
                            @Html.TextBoxFor(m => m.DateOfApplication, new { id = "DateOfApplication", @class = "form-control", @readonly = true })
                        </div>
                    </div>
                    @*<div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Signed On: </label>
                        <div class="col-md-7 col-12">
                        @Html.TextBoxFor(m => m.SignedOn, new { id = "SignedOn", @class = "form-control", @readonly = true })
                        <span class="error" id="applicationDate_error"></span>
                        </div>
                        </div>*@
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-12 pr-0 pr-0 pb-2">
            <div class="border-1 rounded border-grey h-100">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Personal Details</p>
                <div class="py-3 px-2 px-md-4">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Individual/Org. Name: </label>
                        <div class="col-md-7 col-12">
                            <div class="row">
                                <div class="col-5">
                                    <div class="custom_select">
                                        @Html.TextBoxFor(m => m.IndividualOrgNameTitle, new { @id = "IndividualOrgNameTitle", @class = "form-control", @readonly = true })
                                    </div>
                                    <span class="error" id="salutaion_error"></span>
                                </div>
                                <div class="col-7 pl-0">
                                    @Html.TextBoxFor(m => m.IndividualOrgName, new { @id = "IndividualOrgName", @class = "form-control", @readonly = true })
                                    <span class="error" id="individualName_error"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Name on Card: </label>
                        <div class="col-md-7 col-12">
                            @*<input type="text" name="nameOnCard" class="form-control">*@
                            @Html.TextBoxFor(m => m.NameOnCard, new { @id = "NameOnCard", @class = "form-control", @readonly = true })
                            <span class="error" id="nameOnCard_error"></span>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Type of Business Entity: </label>
                        <div class="col-md-7 col-12">
                            <div class="custom_select">
                                @Html.TextBoxFor(m => m.TypeOfBusinessEntityName, new { @id = "TypeOfBusinessEntityId", @class = "form-control", @readonly = true })
                            </div>
                            <span class="error" id="typeOfbusiness_error"></span>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Residence Status:</label>
                        <div class="col-md-7 col-12">
                            <div class="custom_select">
                                @Html.TextBoxFor(m => m.ResidenceStatus, new { @id = "ResidenceStatus", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Income Tax PAN:</label>
                        <div class="col-md-7 col-12">
                            @Html.TextBoxFor(m => m.IncomeTaxPan, new { @id = "IncomeTaxPan", @class = "form-control", @readonly = true })
                            <span class="error" id="incomeTaxPan_error"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
        </div>
    </div>


    <div class="tab-pane" id="AddressSection" role="tabpanel" aria-labelledby="Address-tab">
        <div class="mb-3">
            <div class="border-1 rounded border-grey w-100">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                <div class="py-3 px-2 px-md-4">
                    <div class="row w-100" id="comm_add">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 1:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationAddress1, new { @id = "CommunicationAddress1", @class = "form-control", @readonly = true })
                                        <div class="error" id="perma_address1_error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 2:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationAddress2, new { @id = "CommunicationAddress2", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_address2" class="form-control">*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 3:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationAddress3, new { @id = "CommunicationAddress3", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_address3" class="form-control">*@
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Location:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationLocation, new { @id = "CommunicationLocation", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_location" class="form-control">*@
                                        <span class="error" id="perma_location_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">City:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationCityName, new { @id = "CommunicationCityName", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_city" class="form-control">*@
                                        <span class="error" id="perma_city_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Pin code:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationPincode, new { @id = "CommunicationPincode", @class = "form-control", @readonly = true })
                                        @*<input type="number" name="perma_pincode" class="form-control">*@
                                        <span class="error" id="perma_pincode_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">State:</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.CommunicationStateName, new { @id = "CommunicationStateId", @class = "form-control", @readonly = true })

                                        </div>
                                        <span class="error" id="perma_state_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">District:</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @*<select id="CommunicationDistrictId" class="form-control"></select>*@
                                            @Html.TextBoxFor(m => m.CommunicationDistrictName, new { @id = "CommunicationDistrictId", @class = "form-control", @readonly = true })
                                        </div>
                                        <span class="error" id="perma_district_error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Mobile:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationMobileNo, new { @id = "CommunicationMobileNo", @class = "form-control", @readonly = true })
                                        <div class="error" id="comm_mobileNumber_error"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Email:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.CommunicationEmailid, new { @id = "CommunicationEmailid", @class = "form-control", @readonly = true })
                                        <div class="error" id="comm_email_error"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane" id="PerAddressSection" role="tabpanel" aria-labelledby="PerAddress-tab">
        <div class="mb-3">
            <div class="border-1 rounded border-grey w-100">
                <p class="text_primary px-3 py-2  bg-grey m-0 font-weight-bold">Permanent/Registered Office Address</p>
                <div class="py-3 px-2 px-md-4">
                    <div class="row w-100" id="permanent_add">
                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 1:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentAddress1, new { @id = "PermanentAddress1", @class = "form-control", @readonly = true })
                                        <div class="error" id="perma_address1_error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 2:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentAddress2, new { @id = "PermanentAddress2", @class = "form-control", @readonly = true })
                                        <div class="error" id="perma_address2_error"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Address 3:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentAddress3, new { @id = "PermanentAddress3", @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Location:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentLocation, new { @id = "PermanentLocation", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_location" class="form-control">*@
                                        <span class="error" id="perma_location_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">City:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentCityName, new { @id = "PermanentCityName", @class = "form-control", @readonly = true })
                                        @*<input type="text" name="perma_city" class="form-control">*@
                                        <span class="error" id="perma_city_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Pin code:</label>
                                    <div class="col-md-7 col-12">
                                        @Html.TextBoxFor(m => m.PermanentPincode, new { @id = "PermanentPincode", @class = "form-control", @readonly = true })
                                        <span class="error" id="perma_pincode_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">State:</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.PermanentStateName, new { @id = "PermanentStateId", @class = "form-control", @readonly = true })

                                        </div>
                                        <span class="error" id="perma_state_error"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">District:</label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.PermanentDistrictName, new { @id = "PermanentDistrictId", @class = "form-control", @readonly = true })
                                        </div>
                                        <span class="error" id="perma_district_error"></span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="tab-pane" id="OfficialDetails" role="tabpanel" aria-labelledby="OfficialDetails-tab">
        <div class="border-1 rounded border-grey w-100">
            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Key Official</p>
            <div class="py-2 p-md-4">
                <div class="d-flex align-items-center justify-content-between flex-wrap row">
                    <div class="col-lg-6 col-md-12 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Title </label>
                            <div class="col-md-7 col-12">
                                <div class="row">
                                    <div class="col-12">
                                        @Html.TextBoxFor(m => m.KeyOfficialTitle, new { @id = "KeyOfficialTitle", @class = "form-control", @readonly = true })
                                    </div>
                                </div>
                                <span class="error" id="officialTitle_error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Individual Initials </label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialIndividualInitials, new { @id = "KeyOfficialIndividualInitials", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">First Name </label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialFirstName, new { @id = "KeyOfficialFirstName", @class = "form-control", @readonly = true })
                                <span class="error" id="official_fName_error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Last Name</label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialLastName, new { @id = "KeyOfficialLastName", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Middle Name </label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialMiddleName, new { @id = "KeyOfficialMiddleName", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Designation </label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialDesignation, new { @id = "KeyOfficialDesignation", @class = "form-control", @readonly = true })
                                <span class="error" id="official_designation_error"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Date of Birth</label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialDOB, new { id = "KeyOfficialDOB", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Mobile</label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialMobile, new { @id = "KeyOfficialMobile", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Email</label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialEmail, new { @id = "KeyOfficialEmail", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="form-group d-flex align-items-center flex-wrap">
                            <label class="font-weight-normal col-md-5 col-12">Date of Anniversary</label>
                            <div class="col-md-7 col-12">
                                @Html.TextBoxFor(m => m.KeyOfficialDOA, new { id = "KeyOfficialDOA", @class = "form-control", @readonly = true })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="border-1 rounded border-grey w-100 mt-3">
        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Other Details</p>
        <div class="py-2 p-md-4">
            <div class="d-flex align-items-center justify-content-between flex-wrap row">

                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Area of Operation</label>
                        <div class="col-md-7 col-12">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                @Html.TextBoxFor(m => m.AreaOfOperation, new { @class = "form-control", style = "width:230px;", @readonly = "readonly", disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Fleet Size (No. of Vehicles Owned)</label>
                        <div class="col-md-7 col-12">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                    <span class="d-flex font-12">HCV</span>
                                    @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedHCV, new { @id = "FleetSizeNoOfVechileOwnedHCV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                    @* <input type="text" class="w-100">*@
                                </div>
                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                    <span class="d-flex font-12">LCV</span>
                                    @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedLCV, new { @id = "FleetSizeNoOfVechileOwnedLCV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                    @*<input type="text" class="w-100">*@
                                </div>
                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                    <span class="d-flex font-12">MUV/SUV</span>
                                    @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedMUVSUV, new { @id = "FleetSizeNoOfVechileOwnedMUVSUV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                    @*<input type="text" class="w-100">*@
                                </div>
                                <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                    <span class="d-flex font-12">Car/Jeep</span>
                                    @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedCarJeep, new { @id = "FleetSizeNoOfVechileOwnedCarJeep", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                    @*<input type="text" class="w-100">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Type of Fleet</label>
                        <div class="col-md-7 col-12">
                            <div class="custom_select">

                                @Html.TextBoxFor(m => m.KeyOfficialTypeOfFleetName, new { @id = "KeyOfficialTypeOfFleetId", @class = "form-control", @readonly = true })

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Card applied for</label>
                        <div class="col-md-7 col-12">
                            @Html.TextBoxFor(m => m.KeyOfficialCardAppliedFor, new { @id = "KeyOfficialCardAppliedFor", @class = "form-control", @readonly = true, disabled = "disabled" })
                            @*<input type="text" class="form-control">*@
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="form-group d-flex align-items-center flex-wrap">
                        <label class="font-weight-normal col-md-5 col-12">Approx Monthly Spends on Vehicles</label>
                        <div class="col-md-7 col-12">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <div class="py-2">
                                        <div class=" position-relative">
                                            @Html.TextBoxFor(m => m.KeyOfficialApproxMonthlySpendsonVechile1, new { @id = "KeyOfficialApproxMonthlySpendsonVechile1", @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class=" py-2">
                                        <div class=" position-relative">
                                            @Html.TextBoxFor(m => m.KeyOfficialApproxMonthlySpendsonVechile2, new { @id = "KeyOfficialApproxMonthlySpendsonVechile2", @class = "form-control", @readonly = true })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/javascript">

        $(document).ready(function () {
            if($("#FleetSizeNoOfVechileOwnedHCV").val()=="0")
                $("#FleetSizeNoOfVechileOwnedHCV").val("");
                
            if($("#FleetSizeNoOfVechileOwnedLCV").val()=="0")
                $("#FleetSizeNoOfVechileOwnedLCV").val("");
                
            if($("#FleetSizeNoOfVechileOwnedCarJeep").val()=="0")
                $("#FleetSizeNoOfVechileOwnedCarJeep").val("");
                
           if( $("#FleetSizeNoOfVechileOwnedMUVSUV").val()=="0")
                $("#FleetSizeNoOfVechileOwnedMUVSUV").val("");
                
            if($("#KeyOfficialApproxMonthlySpendsonVechile1").val()=="0")
                $("#KeyOfficialApproxMonthlySpendsonVechile1").val("");
                
            if($("#KeyOfficialApproxMonthlySpendsonVechile2").val()=="0")
                $("#KeyOfficialApproxMonthlySpendsonVechile2").val("");
            if($("#KeyOfficialDOA").val().indexOf('1900')!=-1)
                $("#KeyOfficialDOA").val("");
            if($("#KeyOfficialDOB").val().indexOf('1900')!=-1)
                $("#KeyOfficialDOB").val("");
                
        });
</script>