@model HPCL.Common.Models.ViewModel.ParentCustomer.ViewCustomerCardorDispatchDetails
@using HPCL.Common.Resources
@if (Model.Search == "Card")
{
    @if (Model.CardData.Count() > 0)
    {

        <table class="table table-striped table-bordered table-responsive" style="width:100%;" id="CardDetails">
            <thead style="background-color:lightgray;">
                <tr>
                    <th style="width:5%;">S.No.</th>
                    <th style="width:5%;">Card Number</th>
                    <th style="width:10%;">Vehicle Number</th>
                    <th style="width:10%;">Issue Date</th>
                    <th style="width:10%;">Expiry Date</th>
                    <th style="width:20%;">Status</th>
                </tr>
            </thead>
            <tbody id="searchTableBody">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.CardData)
                {
                    i = i + 1;

                    <tr>
                        <td>@i</td>
                        <td>@item.CardNumber</td>
                        <td>@item.VehicleNumber</td>
                        <td>@item.IssueDate</td>
                        <td>@item.ExpiryDate</td>
                        <td>@item.Status</td>
                    </tr>
                }
            </tbody>
        </table>

        <div class="clearfix"></div>

    }
    else
    {
        <div class="mb-3 text-center alert alert-danger">
            @Model.Message
        </div>
    }
}
@if (Model.Search == "Dispatch")
{
    @if (Model.DispatchData.Count() > 0)
    {

        <table class=" table table-striped table-bordered table-responsive" style="width:100%;" id="CardDetails">
            <thead style="background-color:lightgray;">
                <tr>
                    <th style="width:5%;">S.No.</th>
                    <th style="width:5%;">Dispatch No</th>
                
                </tr>
            </thead>
            <tbody id="searchTableBody">
                @{
                    int i = 0;
                }
                @foreach (var item in Model.DispatchData)
                {
                    i = i + 1;

                    <tr>
                        <td>@i</td>
                        <td>@item.DispatchNumber</td>
               
                    </tr>
                }
            </tbody>
        </table>

        <div class="clearfix"></div>

    }
    else
    {
        <div class="mb-3 text-center alert alert-danger">
            @Model.Message
        </div>
    }
}
@*
<script type="text/javascript">
     $(document).ready(function () {
         $('.table').DataTable({
             "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
             "oLanguage": {
                 "sLengthMenu": "Display _MENU_ Records",
                 "info": "Showing _START_ to _END_ of _TOTAL_ Records",
             }
         });
     });
   
</script>*@

