@model HPCL.Common.Models.ResponseModel.ParentCustomer.ParentCustomerReportModel
@using HPCL.Common.Resources
@if (Model.Data.Count() > 0)
{
     <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Enrollment Details</p>
    <table class="datatable table table-striped table-bordered table-responsive" style="width:100%;" id="dealerCreditStatustbl">
        <thead style="background-color:lightgray;">
            <tr>
                <th style="width:5%;">S.No.</th>
                <th style="width:5%;">Customer ID</th>
                <th style="width:5%;">Customer Name</th>
                <th style="width:5%;">Modified Date</th>
                <th style="width:5%;">Modified By</th>
                <th style="width:5%;">Status</th>

            </tr>
        </thead>
        <tbody id="searchTableBody">
            @{
                int i = 0;
            }
            @foreach (var item in Model.Data)
            {
                i = i + 1;

                <tr>
                    <td>@i</td>
                    <td>@item.CustomerID</td>
                    <td>@item.CustomerName</td>
                    <td>@item.ModifiedDate</td>
                    <td>@item.ModifiedBy</td>
                    <td>@item.RequestStatus</td>

                </tr>
            }
        </tbody>
    </table>

    <div class="clearfix"></div>

}
else
{
    <div class="mb-3 text-center alert alert-danger">
        @Model.Message
    </div>
}

<script type="text/javascript">

  
</script>

