@model HPCL.Common.Models.ResponseModel.Customer.GetCustomerCardWiseBalanceResponse
@using HPCL.Common.Resources

@if (Model.Data.Count() > 0)
{

    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Card-wise Balance Details(@ViewBag.CustomerID)</p>
    <table id="cardAllocandActivationDetails" class="datatable table table-striped table-bordered d-md-table d-block text-nowrap display table-responsive" style="width:100%;">
        <thead>
            <tr>
                <th>S.No.</th>
                <th>Card Number</th>
                <th>Mobile Number</th>
                <th>Last Date of Transaction</th>
                <th>Vehicle No./Card Identifier</th>
                <th>Card Balance(in Rs.)</th>
            </tr>
        </thead>
        <tbody>
            @{
                int Slno = 1;
            }
            @foreach (var item in Model.Data)
            {
                <tr>
                    <td>@Slno</td>
                    <td>@item.CardNo</td>
                     <td>@item.Mobileno</td>
                    <td>@item.LastDateOfTransaction</td>
                    <td>@item.VechileNo</td>
                    <td>@item.CardBalance</td>

                </tr>
                Slno++;
            }
        </tbody>
    </table>


    <div class="clearfix"></div>
}
else
{
    <div class="alert alert-danger text-center mt-3">
        No Records found!
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        //var table = $('#cardAllocandActivationDetails').DataTable().clear().destroy();

        $('#cardAllocandActivationDetails').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>

