@model HPCL.Common.Models.ViewModel.ParentCustomer.ViewParentChildTransactionDetailsModel
@using HPCL.Common.Resources

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>

<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4" style="overflow: hidden;">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Financial","ParentCustomer")" class="text_primary">Financials</a> </li>
            <li class="breadcrumb-item font-weight-light">View Parent Child Transaction Details</li>
        </ul>
        <form id="formSubmit">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">View Parent Child Transaction Details</p>

                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Parent Customer ID </label>
                                        <div class="col-md-7 col-12 ">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ParentCustomerID, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" ,@readonly="readonly"})
                                                <span class="error" id="parentCustomerId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Child Customer ID(s) </label>
                                        <div class="col-md-4 col-12 ">
                                            <div class="custom_select">

                                                @Html.DropDownListFor(m => m.ChildCustomerId, new SelectList(Model.ChildCustomerIds, "ChildCustomerID", "ChildCustomerID"), new { @class="form-control ", multiple = "true" })

                                                <span class="error" id="childCustomerId_error"></span>
                                            </div>
                                        </div>
                                        <div class="col-md-3 col-12 ">
                                            <div class="custom_select">
                                                <input type="checkbox" name="checkAll" id="checkAll" />
                                                <label class="font-weight-normal ">All Customer</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">From Date<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.FromDate, new { @class = "form-control fromDate",@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error','31');"  })
                                                <span style="display:none" class="error" id="fromDate_error"></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">To Date<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.ToDate, new { @class = "form-control toDate" ,@placeholder="dd-mm-yyyy", @autocomplete = "off", @onchange = "checkDates('fromDate_error','31');" })
                                                <span style="display:none" class="error" id="toDate_error"></span>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mb-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnSearch">@Label.Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="tableToCSV()" id="btnExporttoExcel">EXPORT TO EXCEL</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="generatePDF()" id="btnExporttoPDF">EXPORT TO PDF</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset">@Label.Reset</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" onclick="location.href='@Url.Action("ParentCustomerTransactionDetails", "ParentCustomer")'" id="btnBack">BACK</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                </div>
                <div class="clearfix"></div>

            </div>
        </form>
        <div class="clearfix"></div>
        <div id="reason" class="mb-3 text-center alert alert-danger" style="display:none">
        </div>
        <div id="show_table" style="display:none">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Summary of Transactions Details</p>
                <table id="TransactionSummary" class="table table-striped d-md-table table-bordered table-responsive mt-3" style="width:100%;">
                    <thead>
                        <tr>
                            <th>Account Number</th>
                            <th>Customer Name</th>
                            <th>Sale</th>
                            <th>Reload(CCMS & CASH)</th>
                            <th>CCMS Rescharge</th>

                        </tr>
                    </thead>

                </table>
                <div id="summaryReason" class="mb-3 text-center alert alert-danger" style="display:none">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Parent Customer Transaction Details</p>
                <div id="divParentDetails">
                    <table id="ParentDetails" class="datatable table table-striped d-block table-bordered nowrap table-responsive mt-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Terminal ID</th>
                                <th>Merchant</th>
                                <th>Batch ID /ROC</th>
                                <th>Account Number</th>
                                <th>Vehicle No./User Name</th>
                                <th>Txn Date</th>
                                <th>Txn Type</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Volume(Ltr.)</th>
                                <th>Currency</th>
                                <th>Service Charge</th>
                                <th>Amount</th>
                                <th>Odometer Reading</th>
                                <th>Status</th>

                            </tr>
                        </thead>

                    </table>
                </div>
                <div id="parentReason" class="mb-3 text-center alert alert-danger" style="display:none">
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Child Customer Transaction Details</p>
                <div id="divChildDetails">
                    <table id="ChildDetails" class="datatable table table-striped d-block table-bordered nowrap table-responsive mt-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Terminal ID</th>
                                <th>Customer ID</th>
                                <th>Merchant</th>
                                <th>Batch ID /ROC</th>
                                <th>Account Number</th>
                                <th>Vehicle No./User Name</th>
                                <th>Txn Date</th>
                                <th>Txn Type</th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Volume(Ltr.)</th>
                                <th>Currency</th>
                                <th>Service Charge</th>
                                <th>Amount</th>
                                <th>Odometer Reading</th>
                                <th>Status</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div id="childReason" class="mb-3 text-center alert alert-danger" style="display:none">
                </div>
            </div>
            <p class="px-3 py-2 m-0">** Service tax included in service charge.</p>
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;display:none;" id="divLocation">
                <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold" id="locationText"></p>
                <div id="divLocationDetails">
                    <table id="locationDetailsTbl" class="table table-striped d-md-table d-block table-bordered nowrap table-responsive mt-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Customer ID</th>
                                <th>Location</th>
                                <th>City</th>
                                <th>District</th>
                                <th>NH</th>
                                <th>State</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <div id="locationReason" class="mb-3 text-center alert alert-danger" style="display:none">
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div class="col-lg-12 px-0" style="display:none">
    <div class="bg-white p-2 p-md-4" style="overflow: hidden;">


        <div class="w-100">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                <div class="border-1 rounded border-grey pb-3">
                    <div class="col-lg-12 col-md-12 col-12 py-3" id="filterRepo">
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-6 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <h5 class="font-weight-normal">PARENT CUSTOMER ID :<span id="parentId"></span></h5>
                                  
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center flex-wrap">
                            <div class="col-lg-6 col-12">
                                <div class="d-flex align-items-center flex-wrap mb-3">
                                    <h5  class="font-weight-normal">PERIOD :<span id="period"></span></h5>
                                  

                                </div>
                            </div>
                        </div>


                    </div>

                </div>

            </div>
            <div class="clearfix"></div>

        </div>

        <div class="clearfix"></div>
        <div id="show_table">
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;">
                <table id="ParentDetailsforPDF" class="table table-striped d-block table-bordered nowrap table-responsive mt-3" style="width:100%;">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Terminal ID</th>
                            <th>Merchant</th>
                            <th>Batch ID /ROC</th>
                            <th>Account Number</th>
                            <th>Vehicle No./User Name</th>
                            <th>Txn Date</th>
                            <th>Txn Type</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Volume(Ltr.)</th>
                            <th>Currency</th>
                            <th>Service Charge</th>
                            <th>Amount</th>
                            <th>Odometer Reading</th>
                            <th>Status</th>

                        </tr>
                    </thead>

                </table>


            </div>
            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" style="width:100%;">
                <table id="ChildDetailsforPDF" class="table table-striped d-block table-bordered nowrap table-responsive mt-3" style="width:100%;">
                    <thead>
                        <tr>
                            <th>S.No.</th>
                            <th>Terminal ID</th>
                            <th>Customer ID</th>
                            <th>Merchant</th>
                            <th>Batch ID /ROC</th>
                            <th>Account Number</th>
                            <th>Vehicle No./User Name</th>
                            <th>Txn Date</th>
                            <th>Txn Type</th>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Volume(Ltr.)</th>
                            <th>Currency</th>
                            <th>Service Charge</th>
                            <th>Amount</th>
                            <th>Odometer Reading</th>
                            <th>Status</th>
                        </tr>
                    </thead>

                </table>


            </div>

        </div>
    </div>
    <div class="clearfix"></div>
</div>

<script type="text/javascript">
      $(document).ready(function () {
          debugger;

    });
    $('select#ChildCustomerId').on('sumo:initialized', function(sumo) {
        var selectedChildIds="@ViewBag.SelectedChildCustomerIds";

          if(selectedChildIds!=""){
              if(selectedChildIds=="All"){
                  $('#ChildCustomerId')[0].sumo.selectAll();
                  $("#checkAll").prop("checked",true);
              }
              else{
                  var ids=[];
                  if(selectedChildIds.indexOf(',')!=-1)
                            ids=selectedChildIds.split(',');
                        else
                            ids[0]=selectedChildIds;

                  for(var i=0; i<ids.length;i++){
                      $('#ChildCustomerId')[0].sumo.selectItem(ids[i]);
                  }
              }
          }
    });
      $("#checkAll").click(function () {
          debugger;
        if(this.checked)
            $('#ChildCustomerId')[0].sumo.selectAll();
        else{
            $('#ChildCustomerId')[0].sumo.unSelectAll();
        }
    });
    $("#btnReset").on("click",(function(e){
        var parentId=$("#ParentCustomerID").val();
        var url = '@Html.Raw(@Url.Action("ViewParentChildTransactionDetails", "ParentCustomer",new { ParentCustomerID="MNO"}))';
        url = url.replace("MNO",parentId);
        window.location.href=url;
    }));
     $("#btnSearch").on("click",(function(e){
        var parentId=$("#ParentCustomerID").val();
        var fromdate = $("#FromDate").val();
          var todate = $("#ToDate").val();
          var flag="N"
           if (fromdate == "") {
              $("#fromDate_error").attr("style", "display:block");
              $("#fromDate_error").html("Select From Date");
              flag = "N";
          }
          if (todate == "") {
              $("#toDate_error").attr("style", "display:block");
              $("#toDate_error").html("Select To Date");
              flag = "N";
         }
          if (fromdate != "" && todate != "") {
              flag = checkDates("fromDate_error","31");
          }
          if (flag == "N")
              e.preventDefault();
          objChildIds=[];
          var childIds= $('#ChildCustomerId')[0];
          var i=0;
          $("#ChildCustomerId option:selected").each(function(){
              i++;
              var selectedText=$(this).val();
              objChildIds.push({Id:i,ChildCustomerID:selectedText});
          });
          if (flag == "Y") {
              $("#ParentCustomerID").attr("readonly",true);
              $("#FromDate").attr("disabled",true);
              $("#ToDate").attr("disabled",true);
              $("#ChildCustomerId").attr("disabled",true);
              $("#checkAll").attr("disabled",true);
              var reqModel={ParentCustomerID:parentId,FromDate:fromdate,ToDate:todate,ObjChildCustomerIdDtl:objChildIds};
              console.log(JSON.stringify(reqModel));
              $.ajax({
                  type: 'POST',  // http method
                  url: '@Url.Action("GetParentChildTransactionDetails", "ParentCustomer")',
                  contentType: "application/json; charset=utf-8",
                  data: JSON.stringify(reqModel),
                  dataType: "JSON",
                  success: function (res, status, xhr) {
                      console.log(res);
                      if (status == 'success') {
                           $("#TransactionSummary td").parent().remove();
                           $("#ParentDetails td").parent().remove();
                           $("#ChildDetails td").parent().remove();
                           $("#ParentDetailsforPDF td").parent().remove();
                           $("#ChildDetailsforPDF td").parent().remove();
                           var dataSummary=res.data.getParentTransactionsSaleDetails;
                           var parentDetails=res.data.getParentTransactionsDetailSummary;
                           var childDetails=res.data.getChildTransactionsDetailSummary;
                           $("#parentId").text(parentId);
                           $("#period").text(fromdate +" - "+ todate);
                           if(dataSummary.length>0){


                                for (var i = 0; i < dataSummary.length; i++) {
                                    var rows = "<tbody><tr>"
                                    + "<td>" + (dataSummary[i].accountNumber || '') + "</td>"
                                    + "<td>" + (dataSummary[i].customerName || '') + "</td>"
                                    + "<td>" + (dataSummary[i].sale || '') + "</td>"
                                    + "<td>" + (dataSummary[i].reloadCcmsCash || '') + "</td>"
                                    + "<td>" + (dataSummary[i].ccmsRecharge || '') + "</td>"
                                    + "</tr ></tbody>";
                                    $('#TransactionSummary').append(rows);
                                }

                                $("#summaryReason").attr("style","display:none");
                                $("#summaryReason").html("");
                                $("#TransactionSummary").attr("style","display:block");
                            }
                            else{
                                $("#summaryReason").attr("style","display:block");
                                $("#summaryReason").html("No Transaction Found");
                                $("#TransactionSummary thead").attr("style","display:none");

                            }
                            if(parentDetails.length>0){
                                 $('#ParentDetails').DataTable().clear().destroy();

                                var tbl = $('#ParentDetails').DataTable();
                                //    paging: true,
                                //    searching: false,
                                //    stateSave: true,
                                //    "bDestroy": true,
                                //    "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                                //    "autoWidth": false,
                                //    "oLanguage": {
                                //        "sLengthMenu": "Display _MENU_ Records",
                                //        "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                                //    }
                                //});

                                for (var i = 0; i < parentDetails.length; i++) {
                                    var srNumber = (i + 1);
                                    var terminalId = "<a href='#' class='location' onclick='loadTransactionLocationDetails(this,"+parentDetails[i].customerID+","+parentDetails[i].transactionId+")'>"+(parentDetails[i].terminalId|| '')+"</a>";
                                    var merchant =  (parentDetails[i].retailOutletName || '');
                                     var batchIdandROC =  "";
                                    if(parentDetails[i].batchIdandROC !="0")
                                        batchIdandROC=parentDetails[i].batchIdandROC;
                                    var accountNumber =  (parentDetails[i].accountNumber || '');
                                    var vechileNo =  (parentDetails[i].vechileNo || '');

                                    var txnDate =  (parentDetails[i].txnDate || '');
                                    var txnType =  (parentDetails[i].txnType || '');
                                    var productName =  (parentDetails[i].productName || '');
                                    var price =  (parentDetails[i].price || '');
                                    var volume =  (parentDetails[i].volume || '');
                                    var currency =  (parentDetails[i].currency || '');
                                    var serviceCharge =  (parentDetails[i].serviceCharge || '');
                                    var amount =  (parentDetails[i].amount || '');
                                    var odometerReading =  (parentDetails[i].odometerReading || '');
                                    var trStatus =  (parentDetails[i].trStatus || '');
                                    var transactionId =  (parentDetails[i].transactionId || '');
                                    tbl.row.add([
                                        srNumber,
                                        terminalId,
                                        merchant,
                                        batchIdandROC,
                                        accountNumber,
                                        vechileNo,
                                        txnDate,
                                        txnType,
                                        productName,
                                        price,
                                        volume,
                                        currency,
                                        serviceCharge,
                                        amount,
                                        odometerReading,
                                        trStatus
                                    ]).order( [ 1, 'asc' ] ).draw();

                                     var rows = "<tbody><tr>"
                                     + "<td>" + srNumber + "</td>"
                                    + "<td>" + (parentDetails[i].terminalId || '') + "</td>"
                                    + "<td>" + (parentDetails[i].retailOutletName || '') + "</td>"
                                    + "<td>" + (parentDetails[i].batchIdandROC || '') + "</td>"
                                    + "<td>" + (parentDetails[i].accountNumber || '') + "</td>"
                                    + "<td>" + (parentDetails[i].vechileNo || '') + "</td>"
                                    + "<td>" + (parentDetails[i].txnDate || '') + "</td>"
                                    + "<td>" + (parentDetails[i].txnType || '') + "</td>"
                                    + "<td>" + (parentDetails[i].productName || '') + "</td>"
                                    + "<td>" + (parentDetails[i].price || '') + "</td>"
                                    + "<td>" + (parentDetails[i].volume || '') + "</td>"
                                    + "<td>" + (parentDetails[i].currency || '') + "</td>"
                                    + "<td>" + (parentDetails[i].serviceCharge || '') + "</td>"
                                    + "<td>" + (parentDetails[i].amount || '') + "</td>"
                                    + "<td>" + (parentDetails[i].odometerReading || '') + "</td>"
                                    + "<td>" + (parentDetails[i].trStatus || '') + "</td>"
                                    + "</tr ></tbody>";
                                    $('#ParentDetailsforPDF').append(rows);
                                }

                                $("#parentReason").attr("style","display:none");
                                $("#parentReason").html("");
                                $("#divParentDetails").attr("style","display:block");
                            }
                            else{
                                $("#parentReason").attr("style","display:block");
                                $("#parentReason").html("No Transaction Found");
                                 $("#divParentDetails").attr("style","display:none");

                            }
                            if(childDetails.length>0){
                                 $('#ChildDetails').DataTable().clear().destroy();

                                var tbl = $('#ChildDetails').DataTable();
                                //    paging: true,
                                //    searching: false,
                                //    stateSave: true,
                                //    "bDestroy": true,
                                //    "lengthMenu": [10, 20, 50, 100, 200, 500, 1000, 2000],
                                //    "autoWidth": false,
                                //    "oLanguage": {
                                //        "sLengthMenu": "Display _MENU_ Records",
                                //        "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                                //    }
                                //});

                                for (var j = 0; j < childDetails.length; j++) {
                                    var srNumber = (j + 1);
                                    var terminalId ="<a href='#' class='location' onclick='loadTransactionLocationDetails(this,"+childDetails[j].customerID+","+childDetails[j].transactionId+")'>"+(childDetails[j].terminalId|| '')+"</a>";
                                    var customerID = (childDetails[j].customerID || '');
                                    var merchant =  (childDetails[j].retailOutletName || '');
                                    var batchIdandROC =  "";
                                    if(childDetails[j].batchIdandROC !="0")
                                        batchIdandROC=childDetails[j].batchIdandROC;
                                    var accountNumber =  (childDetails[j].accountNumber || '');
                                    var vechileNo =  (childDetails[j].vechileNo || '');

                                    var txnDate =  (childDetails[j].txnDate || '');
                                    var txnType =  (childDetails[j].txnType || '');
                                    var productName =  (childDetails[j].productName || '');
                                    var price =  (childDetails[j].price || '');
                                    var volume =  (childDetails[j].volume || '');
                                    var currency =  (childDetails[j].currency || '');
                                    var serviceCharge =  (childDetails[j].serviceCharge || '');
                                    var amount =  (childDetails[j].amount || '');
                                    var odometerReading =  (childDetails[j].odometerReading || '');
                                    var trStatus =  (childDetails[j].trStatus || '');
                                    var transactionId =  (childDetails[j].transactionId || '');
                                    tbl.row.add([
                                        srNumber,
                                        terminalId,
                                        customerID,
                                        merchant,
                                        batchIdandROC,
                                        accountNumber,
                                        vechileNo,
                                        txnDate,
                                        txnType,
                                        productName,
                                        price,
                                        volume,
                                        currency,
                                        serviceCharge,
                                        amount,
                                        odometerReading,
                                        trStatus
                                    ]).order( [ 1, 'asc' ] ).draw();
                                    var rows = "<tbody><tr>"
                                     + "<td>" + srNumber + "</td>"
                                    + "<td>" + (childDetails[j].terminalId || '') + "</td>"
                                    + "<td>" + (childDetails[j].customerID || '') + "</td>"
                                    + "<td>" + (childDetails[j].retailOutletName || '') + "</td>"
                                    + "<td>" + (childDetails[j].batchIdandROC || '') + "</td>"
                                    + "<td>" + (childDetails[j].accountNumber || '') + "</td>"
                                    + "<td>" + (childDetails[j].vechileNo || '') + "</td>"
                                    + "<td>" + (childDetails[j].txnDate || '') + "</td>"
                                    + "<td>" + (childDetails[j].txnType || '') + "</td>"
                                    + "<td>" + (childDetails[j].productName || '') + "</td>"
                                    + "<td>" + (childDetails[j].price || '') + "</td>"
                                    + "<td>" + (childDetails[j].volume || '') + "</td>"
                                    + "<td>" + (childDetails[j].currency || '') + "</td>"
                                    + "<td>" + (childDetails[j].serviceCharge || '') + "</td>"
                                    + "<td>" + (childDetails[j].amount || '') + "</td>"
                                    + "<td>" + (childDetails[j].odometerReading || '') + "</td>"
                                    + "<td>" + (childDetails[j].trStatus || '') + "</td>"
                                    + "</tr ></tbody>";
                                    $('#ChildDetailsforPDF').append(rows);
                                }

                                $("#childReason").attr("style","display:none");
                                $("#childReason").html("");
                                $("#divChildDetails").attr("style","display:block");
                            }
                            else{
                                $("#childReason").attr("style","display:block");
                                $("#childReason").html("No Transaction Found");
                                $("#divChildDetails").attr("style","display:none");
                            }
                            if(dataSummary.length==0){
                                $("#show_table").attr("style","display:none");

                                $("#reason").attr("style","display:block");
                                $("#reason").html(res.data.message);
                            }
                            else{
                                $("#show_table").attr("style","display:block");
                                $("#reason").attr("style","display:none");
                                $("#reason").html("");
                            }
                        }
                  },
              });
          }
    }));
    function loadTransactionLocationDetails(o,customerId,transactionId){
        var terminalId=o.innerText;
        var reqModel={CustomerId:customerId.toString(),TransactionId:transactionId.toString()};
        console.log(JSON.stringify(reqModel));
        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetTransactionLocationDetails", "ParentCustomer")',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(reqModel),
            dataType: "json",
            success: function (res, status, xhr) {
                console.log(res);
                if (status == 'success') {
                    $("#locationDetailsTbl td").parent().remove();
                    var locationDetails=res.transactionLocationDetails;

                    if(locationDetails.length>0){
                        for (var i = 0; i < locationDetails.length; i++) {
                            var rows = "<tbody><tr>"
                            + "<td>" + (locationDetails[i].name || '') + "</td>"
                            + "<td>" + (customerId || '') + "</td>"
                            + "<td>" + (locationDetails[i].location || '') + "</td>"
                            + "<td>" + (locationDetails[i].city || '') + "</td>"
                            + "<td>" + (locationDetails[i].district || '') + "</td>"
                            + "<td>" + (locationDetails[i].nh || '') + "</td>"
                            + "<td>" + (locationDetails[i].state || '') + "</td>"
                            + "</tr ></tbody>";
                            $('#locationDetailsTbl').append(rows);
                        }
                        $("#locationText").text("Transaction Location Details (Terminal ID :"+terminalId+")");
                        $("#locationReason").attr("style","display:none");
                        $("#locationReason").html("");
                        $("#divLocation").attr("style","display:block");
                        $("#divLocationDetails").attr("style","display:block");

                    }
                    else{
                        $("#locationReason").attr("style","display:block");
                        $("#locationReason").html("No Data Found");
                        $("#divLocation").attr("style","display:block");
                        $("#divLocationDetails").attr("style","display:none");

                    }
                    $('html, body').animate({
                                scrollTop: $("#divLocation").offset().top
                            }, 2000);

                }
            }
        })
    }
    function tableToCSV() {
         debugger;
            // Variable to store the final csv data
            var csv_data = [];
            var csvrow = [];

            var fromdate = $("#FromDate").val();
            var todate = $("#ToDate").val();
            var parentId=$("#ParentCustomerID").val();

            var csvrowId = [];
            csvrowId.push("Parent Customer ID : "+ parentId);
            csv_data.push(csvrowId.join(","));
            csv_data.join('\n');
            var csvrowdate= [];
            csvrowdate.push("Period:"+fromdate +" To "+ todate);
            csv_data.push(csvrowdate.join(","));
            csv_data.join('\n');
            var csvrowBrk= [];
            csvrowBrk.push("");
            csv_data.push(csvrowBrk.join(","));
            csv_data.join('\n');

            var csvrowName = [];
            csvrowName.push("Parent Customer Transaction Details Report");
            csv_data.push(csvrowName.join(","));
            csv_data.join('\n');

            csvrow.push("S.No.","Terminal ID", "Merchant", "BatchID/ROC","Account Number","Vehicle Number","Transaction Date","Transaction Type",
            "Product","Price","Volume(Ltr.)","Currency","Service Charge","Amount(Rs.)","Odometer Reading","Status");
            csv_data.push(csvrow.join(","));

            var tableName1 = $('#ParentDetails').DataTable();
            var i=0
            tableName1.rows().every(function(){
               i++;
                            var csvrow = [];
                            var text=this.data()[1];
                            let startPos=text.indexOf(">")+1;
                            let endPos=text.indexOf("</");
                            terminalId=text.slice(startPos,endPos);
                            csvrow.push(i);
                            csvrow.push(terminalId);
                            csvrow.push(this.data()[2]);
                            csvrow.push(this.data()[3]);
                            csvrow.push(this.data()[4]);
                            csvrow.push(this.data()[5]);
                            csvrow.push(this.data()[6]);

                            csvrow.push(this.data()[7]);
                            csvrow.push(this.data()[8]);
                            csvrow.push(this.data()[9]);
                            csvrow.push(this.data()[10]);
                            csvrow.push(this.data()[11]);
                            csvrow.push(this.data()[12]);

                            csvrow.push(this.data()[13]);
                            csvrow.push(this.data()[14]);
                            csvrow.push(this.data()[15]);
                            csvrow.push(this.data()[16]);
                            csv_data.push(csvrow.join(","));
                        });
                        // Combine each row data with new line character
            //csv_data = csv_data.join('\n');

            var csvrowName1 = [];
            csvrowName1.push("Child Customer Transaction Details Report");
            csv_data.push(csvrowName1.join(","));
            csv_data.join('\n');

            var csvrowBrk1= [];
            csvrowBrk.push("");
            csv_data.push(csvrowBrk1.join(","));
            csv_data.join('\n');
            var csvrow2 = [];
            csvrow2.push("S.No.","Terminal ID","Customer ID", "Merchant", "BatchID/ROC","Account Number","Vehicle Number","Transaction Date","Transaction Type","Product","Price","Volume(Ltr.)","Currency","Service Charge","Amount(Rs.)","Odometer Reading","Status");
            csv_data.push(csvrow2.join(","));
            // Get each row data
            //var rows = document.getElementsByTagName('tr');
            var tableName2 = $('#ChildDetails').DataTable();
            var j=0
            tableName2.rows().every(function(){
               j++;
                            var csvrow = [];
                            var text=this.data()[1];
                            let startPos=text.indexOf(">")+1;
                            let endPos=text.indexOf("</");
                            terminalId=text.slice(startPos,endPos);
                            csvrow.push(j);
                            csvrow.push(terminalId);
                            csvrow.push(this.data()[2]);
                            csvrow.push(this.data()[3]);
                            csvrow.push(this.data()[4]);
                            csvrow.push(this.data()[5]);
                            csvrow.push(this.data()[6]);
                            csvrow.push(this.data()[7]);
                            csvrow.push(this.data()[8]);
                            csvrow.push(this.data()[9]);
                            csvrow.push(this.data()[10]);
                            csvrow.push(this.data()[11]);
                            csvrow.push(this.data()[12]);

                            csvrow.push(this.data()[13]);
                            csvrow.push(this.data()[14]);
                            csvrow.push(this.data()[15]);
                            csvrow.push(this.data()[16]);

                            csvrow.push(this.data()[17]);
                            csv_data.push(csvrow.join(","));
                        });
                        // Combine each row data with new line character
            csv_data = csv_data.join('\n');

            // Call this function to download csv file
            downloadCSVFile(csv_data);

    }

    function downloadCSVFile(csv_data) {

        // Create CSV file object and feed
        // our csv_data into it
        CSVFile = new Blob([csv_data], {
            type: "text/csv"
        });

        // Create to temporary link to initiate
        // download process
        var temp_link = document.createElement('a');

        // Download csv file
        temp_link.download = "Transaction-Details.csv";
        var url = window.URL.createObjectURL(CSVFile);
        temp_link.href = url;

        // This link should not be displayed
        temp_link.style.display = "none";
        document.body.appendChild(temp_link);

        // Automatically click the link to
        // trigger download
        temp_link.click();
        document.body.removeChild(temp_link);
    }
     


        function generatePDF() {
             var doc = new jsPDF({
                orientation: 'l', // landscape
                unit: 'pt', // points, pixels won't work properly
                format: [1020, 680] // set needed dimensions for any element
            })
          //create jsPDF object
           source = $('#filterRepo')[0];
             var htmlstring = '';
             var tempVarToCheckPageHeight = 0;
             var pageHeight = 0;
             pageHeight = doc.internal.pageSize.height;
             var finalY = 100;
             margins = {
                top: 50,
                bottom: 60,
                left: 10,
                right: 10,
                width: 800
             };
             doc.setFontSize(10);
             var y = 20;
             doc.setLineWidth(3);
               doc.fromHTML(
                    source, // HTML string or DOM elem ref.
                    margins.left, // x coord
                    margins.top, { // y coord
                        'width': margins.width, // max width of content on PDF
                    })

             //doc.text(300, y = y + 20, "Customer Transaction Details");
             doc.text("PARENT TRANSACTION DETAILS REPORT",
                    10,
                    finalY + 20
                    )
             doc.autoTable({
                html: '#ParentDetailsforPDF',
                startY: finalY + 40,
                tableWidth: 'wrap',
                margin: {right:10,left:10},
                //theme: 'striped',
                 useCss: true,
                columnStyles: { text: { cellWidth: 'auto' } },
                styles: {
                    minCellHeight: 10
                }
             })
             finalY = doc.lastAutoTable.finalY
            doc.text("CHILD TRANSACTION DETAILS REPORT",
                    10,
                    finalY + 20
                    )
               doc.autoTable({
                html: '#ChildDetailsforPDF',
                startY: finalY + 40,
                tableWidth: 'wrap',
                margin: {right:10,left:10},
                //theme: 'striped',
                 useCss: true,
                columnStyles: { text: { cellWidth: 'auto' } },
                styles: {
                    minCellHeight: 10
                }
             })
             doc.save('PCTransactionDetails.pdf');

        }
</script>