@model HPCL_Web.Models.UserInfoModel
@{
    Layout = "_LayoutLogin";
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="login_wrapper py-sm-5 py-3">
    <div class="d-flex align-items-center justify-content-end flex-wrap">
        <div class="col-md-6 col-lg-6 col-12 bg-white p-3 p-sm-5 border_grey_1">
            <div class="text-center">
                <h3 class="login_heading text-center">Login to DriveTrack Plus</h3>
            </div>
            <div class="bg-white w-100">
                @*<form action="" name="register_form">*@
                <form method="post" data-ajax="true" data-ajax-controller="Home" data-ajax-action="Index" data-ajax-method="POST" data-ajax-success="OnSuccessLogin" data-ajax-failure="OnFailure">
                    <div class="form-group mb-3 position-relative">
                        <label class="mb-1">Username<sup class="text-danger">*</sup></label>
                        <input type="text" class="form-control login_input br-0" asp-for="@Model.UserId">
                        <span class="error" id="username_error" asp-validation-for="@Model.UserId"></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group mb-3 position-relative">
                        <label class="mb-1">Password<sup class="text-danger">*</sup></label>
                        <input type="password" class="form-control login_input br-0" asp-for="@Model.Password">
                        <span class="error" id="pass_error" asp-validation-for="@Model.Password"></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="form-group mb-3 position-relative">
                        <label class="mb-1">Enter Captcha</label>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control login_input br-0" aria-label="Recipient's username" aria-describedby="basic-addon2" name="captcha">
                            <div class="input-group-append">
                                <span class="input-group-text bg-white" id="basic-addon2">11muPg</span>
                            </div>
                            <a href="#" class="refresh_btn"><img src="~/assets/images/refresh_icon.jpg" alt=""></a>
                        </div>
                        <span class="error" id="captcha_error"></span>
                        <div class="clearfix"></div>
                    </div>
                    <div class="mt-4 mb-3">
                        @*<button class="btn btn_primary login_btn br-0" type="button" onClick="Validate()">Login</button>*@
                        <button class="btn btn_primary login_btn br-0" type="submit">Login</button>
                    </div>
                    <div class="text-center">
                        <p>Forgot Password? <a href="#" class="primary_link">Click Here</a></p>
                    </div>
                    <div class="error" id="loginError"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="text-center mt-4 mb-2">
    <h4 class="d-inline-block note_1">Now Enjoy "0" charge for your CCMS Recharge using Payment Gateway for Debit Card, Net Banking, UPI and Wallet transactions.</h4>
</div>



<script type="text/javascript">
    function OnSuccessLogin(res) {
        if (res.loginRes[0].status == 0) {
            alert(res.loginRes[0].reason);
        }
        if (res.loginRes[0].status == 1) {
            window.location.href = '@Html.Raw(@Url.Action("Profile", "Home"))';
        }
    }

    function OnFailure(data) {
        alert(data);
    }
</script>
