@model HPCL.Common.Models.ResponseModel.Customer.GetCustomerContactPersonRequestForApproval
@using HPCL.Common.Resources

@if (Model.Data.ObjOldCustomerContactValue.Count > 0 && Model.Data.ObjNewCustomerContactValue.Count > 0)
{
    <div class="clearfix"></div>
    <p class="text_primary px-0 py-2 m-0 font-weight-bold" style="font-size: 10px;">Customer ID: @Model.CustomerId </p>
    <table class="table table-striped d-md-table table-bordered table-responsive" style="width:100%;" id="tblCustomer">
        <thead>
            <tr>
                <th>Change Type</th>
                <th>Old Vaue</th>
                <th>New Vaue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First Name</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialTitle @Model.Data.ObjOldCustomerContactValue[0].KeyOfficialFirstName</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialTitle @Model.Data.ObjNewCustomerContactValue[0].KeyOfficialFirstName</td>
            </tr>
            <tr>
                <td>Middle Name</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialMiddleName</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialMiddleName</td>
            </tr>
            <tr>
                <td>Last Name</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialLastName</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialLastName</td>
            </tr>
            <tr>
                <td>Designation</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialDesignation</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialDesignation</td>
            </tr>
            <tr>
                <td>Date Of Birth</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialDOB</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialDOB</td>
            </tr>
             <tr>
                <td>Office Phone</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialPhoneNo</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialPhoneNo</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialFax</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialFax</td>
            </tr>
            <tr>
                <td>Date Of Anniversary</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialDOA</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialDOA</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialEmail</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialEmail</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>@Model.Data.ObjOldCustomerContactValue[0].KeyOfficialMobile</td>
                <td>@Model.Data.ObjNewCustomerContactValue[0].KeyOfficialMobile</td>
            </tr>
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('.table').DataTable({
    //        "lengthMenu": [10, 20, 50, 100, 200, 500],
    //        "oLanguage": {
    //            "sLengthMenu": "Display _MENU_ Records",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ Records",
    //        }
    //    });
    //});

</script>