@model HPCL.Common.Models.ResponseModel.Customer.GetCustomerAddressRequestForApproval
@using HPCL.Common.Resources

@if (Model.Data.ObjOldCustomerAddressValue.Count > 0 && Model.Data.ObjNewCustomerAddressValue.Count > 0)
{
    <div class="clearfix"></div>
    <p class="text_primary px-0 py-2 m-0 font-weight-bold" style="font-size: 10px;">Customer ID: @Model.CustomerId </p>
    <table class="table table-striped d-md-table table-bordered table-responsive" style="width:100%;" id="tblCustomer">
        <thead>
            <tr>
                <th>Change Type</th>
                <th>Old Vaue</th>
                <th>New Vaue</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="3" style="font-weight:bold">Communication Address</td>
            </tr>
            <tr>
                <td>Address1</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationAddress1</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationAddress1</td>
            </tr>
            <tr>
                <td>Address2</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationAddress2</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationAddress2</td>
            </tr>
            <tr>
                <td>Address3</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationAddress3</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationAddress3</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationLocation</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationLocation</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationCityName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationCityName</td>
            </tr>
            <tr>
                <td>PIN Code</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationPincode</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationPincode</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationStateName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationStateName</td>
            </tr>
            <tr>
                <td>District</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationDistrictName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationDistrictName</td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationMobileNo</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationMobileNo</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationEmailid</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationEmailid</td>
            </tr>
           @* <tr>
                <td>Office Phone</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationPhoneNo</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationPhoneNo</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].CommunicationFax</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].CommunicationFax</td>
            </tr>*@
            <tr>
                <td colspan="3" style="font-weight:bold">Office Address</td>
            </tr>
            <tr>
                <td>Address1</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentAddress1</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentAddress1</td>
            </tr>
            <tr>
                <td>Address2</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentAddress2</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentAddress2</td>
            </tr>
            <tr>
                <td>Address3</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentAddress3</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentAddress3</td>
            </tr>
            <tr>
                <td>Location</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentLocation</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentLocation</td>
            </tr>
            <tr>
                <td>City</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentCityName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentCityName</td>
            </tr>
            <tr>
                <td>PIN Code</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentPincode</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentPincode</td>
            </tr>
            <tr>
                <td>State</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentStateName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentStateName</td>
            </tr>
            <tr>
                <td>District</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentDistrictName</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentDistrictName</td>
            </tr>
            @*<tr>
                <td>Office Phone</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentPhoneNo</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentPhoneNo</td>
            </tr>
            <tr>
                <td>Fax</td>
                <td>@Model.Data.ObjOldCustomerAddressValue[0].PermanentFax</td>
                <td>@Model.Data.ObjNewCustomerAddressValue[0].PermanentFax</td>
            </tr>*@
        </tbody>
    </table>
}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}
<script type="text/javascript">
    //$(document).ready(function () {
    //    $('.table').DataTable({
    //        "lengthMenu": [10, 20, 50, 100, 200, 500],
    //        "oLanguage": {
    //            "sLengthMenu": "Display _MENU_ Records",
    //            "info": "Showing _START_ to _END_ of _TOTAL_ Records",
    //        }
    //    });
    //});

</script>