@model HPCL.Common.Models.ViewModel.Customer.CustomerCardInfo
@using HPCL.Common.Resources
@{
    ViewData["Title"] = "Add Customer Card Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row w-100">
    <div class="col-lg-12">
        <div class="bg-white p-2 p-md-4">
            <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
                <li class="breadcrumb-item"><a href="@Url.Action("Index", "Enrollments")" class="text_primary">Enrollments</a> </li>
                <li class="breadcrumb-item font-weight-light">Add Card</li>
            </ul>
            <h5>Add Card</h5>
            @using (Html.BeginForm("AddCardDetails", "Customer", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="w-100">
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div class="border-1 rounded border-grey">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add New Card</p>
                            <div class="alert alert-danger alert-cust-success" id="dvRemarks" style="@(Model.Message=="" ? "display:none":"display:block")">
                                @Html.DisplayFor(m => m.Message)
                            </div>
                            <div class="py-3 px-0 px-md-2">

                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-3">
                                            <label class="font-weight-normal col-md-5 col-12">Customer Ref No. <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.CustomerReferenceNo, new { @id = "CustomerReferenceNo", @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                                <span class="error" id="CustomerReferenceNo_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="d-flex align-items-center justify-content-start flex-wrap mb-3">
                                            <div class="col-12 col-md-auto">
                                                <button class="btn btn_primary px-4 py-2" type="button" id="btnSearch">@Label.Search</button>
                                            </div>
                                            <div class="col-12 col-md-auto">
                                                <button class="btn btn_primary px-4 py-2" type="button" id="btnHeaderReset">@Label.Reset</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Customer Name <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerName", @class = "form-control", @readonly = "readonly" })
                                                <span class="error" id="CustomerName_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">Form Number <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.FormNumber, new { @id = "FormNumber", @class = "form-control", @readonly = "readonly" })
                                                <span class="error" id="FormNumber_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">No. of Cards <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.NoOfCards, new { @id = "NoOfCards", @class = "form-control", maxlength = "2", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span class="error" id="NoOfCards_error"></span>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12" id="lblNoOfVehicles" style="display:none;">No. of Vehicles (For All Cards) <sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.NoOfVehiclesAllCards, new { @id = "NoOfVehiclesAllCards", @class = "form-control", maxlength = "2", onkeypress = "return isNumberKey(event)", @style = "display:none", autocomplete = "off" })
                                                <span class="error" id="NoOfVehiclesAllCards_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">RBE ID </label> @*<sup class="text-danger">*</sup>*@
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.RBEId, new { @id = "RBEId", @class = "form-control" })
                                                <span class="error" id="RBEId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-12 mb-3">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12">RBE Name </label> @*<sup class="text-danger">*</sup>*@
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.RBEName, new { @id = "RBEName", @class = "form-control", @readonly = "readonly" })
                                                <span class="error" id="RBEName_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>

                        @*<div class="ml-4 mr-4" style="display:none;" id="divNoRecord">
                            <div class="alert alert-danger" role="alert" style="display:none;" id="noRecord">
                        </div>*@

                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="ViewCardDetailsTbl">
                        </div>
                       
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div style="display:none">
                <table id="OldVehicleDetails">
                    <thead>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ObjCardDetail)
                        {
                            <tr>
                                <td>@item.CardIdentifier</td>
                                <td>@item.VechileNo</td>
                                <td>@item.VehicleType</td>
                                <td>@item.VehicleMake</td>
                                <td>@item.YearOfRegistration</td>
                                <td>@item.MobileNo</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
                <div style="display:none;">@Html.TextBoxFor(m => m.CustomerTypeId)</div>
                @Html.HiddenFor(model => Model.FeePaymentsCollectFeeWaiver)
                @Html.HiddenFor(model => Model.CardPreference)
                @Html.HiddenFor(model => Model.Status)
                @Html.HiddenFor(model => Model.FeePaymentDate)
                @Html.HiddenFor(model => Model.FeePaymentNo)
                @Html.HiddenFor(model => Model.VehicleNoVerifiedManually)
            }
        </div>
    </div>


</div>

<script type="text/javascript">

    var feePaymentDate = $("#FeePaymentDate").val();
    var notFoundError = "@ViewBag.NotFoundError";

    $(document).ready(function () 
    {

        //if (!document.getElementById("rbtnCard").checked && !document.getElementById("rbtnCardless").checked) {
        //    document.getElementById("rbtnCard").checked = true;
        //    document.getElementById("rbtnCardless").checked = false;
        //}

        //if(document.getElementById("Status").value=="1")
        //{
        //     document.getElementById("divDetails").style.display = "block";
        //     document.getElementById("divSubmit").style.display = "none";

        //     var customerTypeId = document.getElementById("CustomerTypeId").value;

        //     if (customerTypeId == "905" || customerTypeId == "909")
        //     {
        //        $('#lblNoOfVehicles').show();
        //        $('#NoOfVehiclesAllCards').show();
        //        $('#NoOfVehiclesAllCards').attr("readonly", false);
        //    }
        //    else {
        //        $('#lblNoOfVehicles').hide();
        //        $('#NoOfVehiclesAllCards').hide();
        //    }

        //    //if($("#dvRemarks").html().trim()=="")
        //    //{
        //       $("#btnSearch").click();
        //    //}
        //}
        //else
        //{
        //     document.getElementById("divDetails").style.display = "none";
        //     document.getElementById("divSubmit").style.display = "none";
        //}

        if($("#dvRemarks").html().trim()!="")
        {

                ViewCardDetailsTbl.style.display = "block";
                var customerTypeId = document.getElementById("CustomerTypeId").value;

                    var vehicles = [];
                    var checked=false;

                    checked=$("#VehicleNoVerifiedManually").val();

                    var FeePayments=$("#FeePaymentsCollectFeeWaiver").val();

                     console.log(FeePayments);

                     if(FeePayments===undefined)
                     {
                        FeePayments="0";
                     }
                     else if(FeePayments==undefined)
                     {
                        FeePayments="0";
                     }
                     else if(FeePayments=="undefined")
                     {
                        FeePayments="0";
                     }

                        vehicles.push({
                            CustomerTypeId: customerTypeId,
                            Message: $("#dvRemarks").html().trim(),
                            CardPreference: $("#CardPreference").val(),
                            FeePaymentDate: $("#FeePaymentDate").val(),
                            FeePaymentNo: $("#FeePaymentNo").val(),
                            FeePaymentsCollectFeeWaiver: FeePayments,
                            CardIdentifier: "",
                            VechileNo: "",
                            VehicleType: "",
                            VehicleMake: "",
                            YearOfRegistration: "",
                            MobileNo: "",
                            NoOfCards: "",
                            NoofVehicles: "",
                            VehicleNoVerifiedManually: checked
                        });

                    console.log("Value Check");
                    console.log(vehicles);

                        $.ajax({
                            type: 'GET',  // http method
                            url: '@Url.Action("GetAddCardPaymentDetailsPartialView", "Customer")',
                            contentType: "application/json; charset=utf-8",
                            data: { str: JSON.stringify(vehicles) },
                            dataType: "text",
                            success: function (data, status, xhr) {
                                    var v = data;
                                    //console.log(data);
                                    if (status == 'success') {
                                        $("#ViewCardDetailsTbl").html(data);
                                        $('html, body').animate({
                                            scrollTop: $("#ViewCardDetailsTbl").offset().top
                                        }, 2000);
                                    }
                                    else {
                                        console.log(v);
                                    }
                                },
                            error: function (jqXhr, textStatus, errorMessage) {
                                //document.getElementById("CustomerRegionID_error").innerHTML = "Error populating card details";
                                ViewCardDetailsTbl.style.display = "none";

                            }
                        });


                            
            $("#CustomerReferenceNo").prop('readonly', true);

            if (customerTypeId == "905" || customerTypeId == "909") 
            {
                $('#lblNoOfVehicles').show();
                $('#NoOfVehiclesAllCards').show();
                $('#NoOfVehiclesAllCards').attr("readonly", false);
            }
            else 
            {
                $('#lblNoOfVehicles').hide();
                $('#NoOfVehiclesAllCards').hide();
            }

        }

        if($("#dvRemarks").html().trim()=="" && document.getElementById("CustomerReferenceNo").value.trim()!="")
        {
            $("#btnSearch").click();
        }

    });

    function setDates() {
        var d = new Date();

        var month = d.getMonth() + 1;
        var day = d.getDate();
        var output = (day < 10 ? '0' : '') + day + '-' +
            (month < 10 ? '0' : '') + month + '-' +
            d.getFullYear();

        $("#FeePaymentDate").val(output);

    };

    $("#btnSearch").click(function () {
        debugger;

        var custRefNo = document.getElementById("CustomerReferenceNo").value.trim();
        if (custRefNo == "") 
        {
            document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
            return (false);
        }
        else 
        {
            if (document.getElementById("CustomerReferenceNo").value.substring(0, 1) == "0") 
            {
              document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
              return false;
            }
            else 
            {
                if (document.getElementById("CustomerReferenceNo").value.length < 10) 
                {
                    document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
                    return false;
                }
                else 
                {
                    if (!(document.getElementById("CustomerReferenceNo").value.match(number))) 
                    {
                        document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
                        return false;
                    }
                    else
                    {
                        document.getElementById("CustomerReferenceNo_error").innerHTML = "";
                    }
                }
            }
        }

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetCustomerDetailsForAddCard", "Customer")',
                data: { customerReferenceNo: custRefNo },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {

                    var v = data;
                    if (status == 'success')
                    {
                        if(data.formNumber=="")
                        {
                            alert(data.remarks);
                        }
                        else
                        {
                            //alert(data.status);
                            if(data.status==0)
                            {
                                //document.getElementById("divDetails").style.display = "none";
                                //document.getElementById("divSubmit").style.display = "none";
                                ViewCardDetailsTbl.style.display = "none";
                                alert(data.reason);
                                //$("#noRecord").html("");
                                //$("#noRecord").append("<span>" + data.reason + "</span>");
                                //document.getElementById("noRecord").style.display = "block";
                                //document.getElementById("divNoRecord").style.display = "block";
                                
                            }
                            else
                            {
                                //document.getElementById("divDetails").style.display = "block";
                                //document.getElementById("divSubmit").style.display = "none";
                                ViewCardDetailsTbl.style.display = "block";
                                //document.getElementById("noRecord").style.display = "none";
                                //document.getElementById("divNoRecord").style.display = "none";
                                document.getElementById("CustomerTypeId").value = data.customerTypeId;
                                var customerTypeId = document.getElementById("CustomerTypeId").value;

                                    var vehicles = [];
                                    var checked=false;
                                    var FeePayments=$("#FeePaymentsCollectFeeWaiver").val();

                                     checked=$("#VehicleNoVerifiedManually").val();

                                     console.log(FeePayments);

                                     if(FeePayments===undefined)
                                     {
                                        FeePayments="0";
                                     }
                                     else if(FeePayments==undefined)
                                     {
                                        FeePayments="0";
                                     }
                                     else if(FeePayments=="undefined")
                                     {
                                        FeePayments="0";
                                     }

                                     vehicles.push({
                                         CustomerTypeId: customerTypeId,
                                         Message: $("#dvRemarks").html().trim(),
                                         CardPreference: $("#CardPreference").val(),
                                         FeePaymentDate: $("#FeePaymentDate").val(),
                                         FeePaymentNo: $("#FeePaymentNo").val(),
                                         FeePaymentsCollectFeeWaiver: FeePayments,
                                         CardIdentifier: "",
                                         VechileNo: "",
                                         VehicleType: "",
                                         VehicleMake: "",
                                         YearOfRegistration: "",
                                         MobileNo: "",
                                         NoOfCards: "",
                                         NoofVehicles: "",
                                         VehicleNoVerifiedManually: checked
                                     });

                                 console.log("Value Check");
                                 console.log(vehicles);

                                     $.ajax({
                                         type: 'GET',  // http method
                                         url: '@Url.Action("GetAddCardPaymentDetailsPartialView", "Customer")',
                                         contentType: "application/json; charset=utf-8",
                                         data: { str: JSON.stringify(vehicles) },
                                         dataType: "text",
                                         success: function (data, status, xhr) {
                                                 var v = data;
                                                 //console.log(data);
                                                 if (status == 'success') {
                                                     $("#ViewCardDetailsTbl").html(data);
                                                     $('html, body').animate({
                                                         scrollTop: $("#ViewCardDetailsTbl").offset().top
                                                     }, 2000);
                                                 }
                                                 else {
                                                     console.log(v);
                                                 }
                                             },
                                         error: function (jqXhr, textStatus, errorMessage) {
                                             //document.getElementById("CustomerRegionID_error").innerHTML = "Error populating card details";
                                             ViewCardDetailsTbl.style.display = "none";

                                         }
                                     });

                            }
                            document.getElementById("CustomerName").value = data.customerName;
                            document.getElementById("FormNumber").value = data.formNumber;
                            //document.getElementById("NoOfCardsTbl").deleteTHead();
                            //$("#NoOfCardsTbl td").parent().remove();
                            
                            $("#CustomerReferenceNo").prop('readonly', true);
                            console.log(customerTypeId);
                            if (customerTypeId == "905" || customerTypeId == "909") 
                            {
                                $('#lblNoOfVehicles').show();
                                $('#NoOfVehiclesAllCards').show();
                                $('#NoOfVehiclesAllCards').attr("readonly", false);
                            }
                            else 
                            {
                                $('#lblNoOfVehicles').hide();
                                $('#NoOfVehiclesAllCards').hide();
                            }
                            console.log(data.paymentType);

                            //if(customerTypeId == "902" || customerTypeId == "917")
                            //{
                            //    document.getElementById("divVehicleNoVerifiedManually").style.display = "none";
                            //}
                            //else
                            //{
                            //     document.getElementById("divVehicleNoVerifiedManually").style.display = "block";
                            //}

                            if (data.rbeId != "") {
                                document.getElementById("RBEId").value = data.rbeId;
                                document.getElementById("RBEName").value = data.rbeName;
                                $("#RBEId").prop('readonly', true);
                            }
                            else {
                                document.getElementById("RBEId").value = "";
                                document.getElementById("RBEName").value = "";
                                $("#RBEId").prop('readonly', false);
                            }

                            //if (data.paymentType != "")
                            //{
                            //    document.getElementById("FeePaymentNo").value = data.paymentType;
                            //    document.getElementById("FeePaymentDate").value = data.paymentReceivedDate;
                            //    $("#FeePaymentNo").prop('readonly', true);
                            //    $("#FeePaymentDate").prop('readonly', true);

                            //    document.getElementById("rbtnCard").checked = true;
                            //    document.getElementById("rbtnCard").disabled = true;
                            //    document.getElementById("CardPreference").value = document.getElementById("rbtnCard").value;

                            //    document.getElementById("rbtnCardless").checked = false;
                            //    document.getElementById("rbtnCardless").disabled = true;

                            //    document.getElementById("rbtnOnline").checked = true;
                            //    document.getElementById("rbtnOnline").disabled = true;

                            //    document.getElementById("rbtnFeeWaiver").checked = false;
                            //    document.getElementById("rbtnFeeWaiver").disabled = true;

                            //    $('#lblChequeNo').text('');
                            //    $('#lblChequeNo').append("Payment Source<sup class='text-danger'>*</sup>");
                            //    $('#lblChequeDate').text('');
                            //    $('#lblChequeDate').append("Payment Date<sup class='text-danger'>*</sup>");
                            //    document.getElementById("NoOfCards").value = data.noOfCards;
                            //    $("#NoOfCards").prop('readonly', true);
                            //    document.getElementById("ReceivedAmount").value = data.receivedAmount;

                            //}
                            //else
                            //{
                            //    $("#rbtnOnline").prop('disabled', true);
                            //    document.getElementById("rbtnOnline").checked = false;
                            //    document.getElementById("rbtnCard").checked = false;
                            //    $("#rbtnCard").prop('disabled', false);
                            //    $("#FeePaymentNo").prop('readonly', false);
                            //    $("#FeePaymentDate").prop('readonly', false);
                            //    $('#lblChequeNo').text('');
                            //    $('#lblChequeNo').append("Approval Email From<sup class='text-danger'>*</sup>");
                            //    $('#lblChequeDate').text('');
                            //    $('#lblChequeDate').append("Approval Email Date<sup class='text-danger'>*</sup>");
                            //    document.getElementById("NoOfCards").value = "";
                            //    $("#NoOfCards").prop('readonly', false);
                            //    document.getElementById("ReceivedAmount").value = "";
                            //}

                       }
                    }
                    else {
                        $("#CustomerReferenceNo_error").html("");
                        console.log(v);
                        document.getElementById("CustomerName").value = "";
                        document.getElementById("FormNumber").value = "";
                        document.getElementById("CustomerTypeId").value = "";
                        var customerTypeId = document.getElementById("CustomerTypeId").value;
                        $("#CustomerReferenceNo").prop('readonly', false);
                        console.log(customerTypeId);
                        if (customerTypeId == 905 || customerTypeId == 909) {
                            $('#lblNoOfVehicles').show();
                            $('#NoOfVehiclesAllCards').show();
                        }
                        else {
                            $('#lblNoOfVehicles').hide();
                            $('#NoOfVehiclesAllCards').hide();
                        }
                    }
                }
            });


    });


    $("#RBEId").on("blur", function () {
        //debugger;
         var custRBEId = document.getElementById("RBEId").value;
         if (custRBEId == "") {
             //document.getElementById("RBEId_error").innerHTML = "RBE Id cannot be left blank";
             document.getElementById("RBEId_error").innerHTML = "";
             document.getElementById("RBEName").innerHTML = "";
            return (false);
        }
        else {
             document.getElementById("RBEId_error").innerHTML = "";
        }

        //var found = false;

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetCustomerRBEName", "Customer")',
                data: { RBEId: custRBEId },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    console.log(data);
                    console.log(status);
                    var v = data;
                    if (status == 'success') {
                        document.getElementById("RBEName").value = data.rbeName;
                        //found = true;
                        if(data.statusCode==1000)
                        {
                            document.getElementById("RBEName").value = data.rbeName;
                            document.getElementById("RBEId_error").innerHTML ="";
                        }
                        else
                        {
                            //document.getElementById("RBEId_error").innerHTML = data.reason;
                            document.getElementById("RBEId_error").innerHTML = "Invalid RBE ID";
                            document.getElementById("RBEName").value = "";
                        }

                        if (data == "Failed to load Customer Details")
                            document.getElementById("RBEName").value = "";
                    }
                    else {
                        $("#RBEId_error").html("");
                        document.getElementById("RBEName").value = "";
                        console.log(v);
                        //found = false;
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    document.getElementById("RBEName").value = "";
                },
                statusCode: {
                    1024: function () {
                        document.getElementById("RBEName").value = "";
                    }
                }
            });


    });

     


</script>

<script language="javascript">
      //$(document).ready(function () {

      //});

      function RemoveSpecialChar(txtName) {
          if (txtName.value != '' && txtName.value.match(/^[\w ]+$/) == null) {
              txtName.value = txtName.value.replace(/[\W]/g, '');
          }
      }

      function VehicleTypeChange(o, rowSelected) 
      {
          var vehicleType = o.value;
          console.log(vehicleType);

        if(vehicleType.trim()=='--Select--')
        {
            document.getElementById('ddlVehicleType_error_'+rowSelected).innerHTML="Select Vehicle Type";
            return
        }
        else
        {
            document.getElementById('ddlVehicleType_error_'+rowSelected).innerHTML="";
        } 

     }

     function VehicleMakeChange(o, rowSelected) 
     {
          var vehicleMake = o.value;
          console.log(vehicleMake);

        if(vehicleMake.trim()=='')
        {
            document.getElementById('VehicleMake_error_'+rowSelected).innerHTML="Enter Vehicle Make";
            return
        }
        else
        {
            document.getElementById('VehicleMake_error_'+rowSelected).innerHTML="";
        } 

     }

     function MobileNoChange(o, rowSelected) 
     {
         var mobile = o.value;
         console.log(mobile);
         var isValid=true;
         var customerTypeId = document.getElementById("CustomerTypeId").value;
         var PrevMobile = "";
         var CurMobile =  "";

        if(mobile.trim()=='')
        {
            document.getElementById('MobileNo_error_'+rowSelected).innerHTML="Enter Mobile No.";
            isValid = false;
        }
        else
        {
            if (mobile.charAt(0) == "0") 
            {
                document.getElementById('MobileNo_error_'+rowSelected).innerHTML="Invalid Mobile No.";
                isValid = false;
            }
            else if (mobile.length < 10) 
            {
                document.getElementById('MobileNo_error_'+rowSelected).innerHTML="Invalid Mobile No.";
                isValid = false;
            }
            else if(!mobile.match(phoneno)) 
            {
                document.getElementById('MobileNo_error_'+rowSelected).innerHTML="Invalid Mobile No.";
                isValid = false;
            }
            else
            {
                document.getElementById('MobileNo_error_'+rowSelected).innerHTML="";
            }
        }
        
        if(isValid)
        {
            j=0;i=0;
            cnt=0;
            console.log('Before Checking For Duplicate MobileNo');
            $("#NoOfCardsTbl tbody tr").each(function () 
            {
                var row = $(this);
                j=0;
                i=i+1;
                cnt = 0;
                $("#NoOfCardsTbl tbody tr").each(function () 
                {
                    var row1 = $(this);

                    j=j+1;
                    if(i>0 && j>1 && j>i)
                    {
                        var PrevMobile = row.find("td:eq(2) input[type='text']").val();
                        var CurMobile =  row1.find("td:eq(2) input[type='text']").val();

                        if (customerTypeId == "905" || customerTypeId == "909")
                        {
                            PrevMobile = row.find("td:eq(7) input[type='text']").val();
                            CurMobile =  row1.find("td:eq(7) input[type='text']").val();
                        }
                        else if (customerTypeId == "901" || customerTypeId == "906")
                        {
                            PrevMobile = row.find("td:eq(6) input[type='text']").val();
                            CurMobile =  row1.find("td:eq(6) input[type='text']").val();
                        }
                        else
                        {
                            PrevMobile = row.find("td:eq(2) input[type='text']").val();
                            CurMobile =  row1.find("td:eq(2) input[type='text']").val();
                        }

                        if(PrevMobile!="" && CurMobile!="")
                        {
                            if(PrevMobile.trim().toUpperCase()==CurMobile.trim().toUpperCase())
                            {
                                document.getElementById('MobileNo_error_'+cnt).innerHTML="Duplicate Mobile Number";
                            }
                        }
                    }

                    cnt=cnt+1;
                });

            });

        }


     }

     function CardIdentifierChange(o, rowSelected) 
     {
         var identifier = o.value;
         console.log(identifier);
         var isValid=true;

        if(identifier.trim()=='')
        {
            document.getElementById('CardIdentifier_error_'+rowSelected).innerHTML="Enter Card Identifier";
            isValid=false;
        }
        else
        {
            if (identifier.charAt(0) == "0") 
            {
                document.getElementById('CardIdentifier_error_'+rowSelected).innerHTML="Invalid Card Identifier";
                isValid=false;
            }
            else if (identifier.length < 2 || identifier.length > 16) 
            {
                document.getElementById('CardIdentifier_error_'+rowSelected).innerHTML="Invalid Card Identifier";
                isValid=false;
            }
            else if(!identifier.match(number)) 
            {
                document.getElementById('CardIdentifier_error_'+rowSelected).innerHTML="Invalid Card Identifier";
                isValid = false;
            }
            else
            {
                document.getElementById('CardIdentifier_error_'+rowSelected).innerHTML="";
            }
        } 

        if(isValid)
        {
            //cnt=0;
            //$("#NoOfCardsTbl tbody tr").each(function () 
            //{
            //    var row = $(this);
                
            //    var cardIdentifier = row.find("td:eq(1) input[type='text']").val();

            //    if(cardIdentifier.trim()=='')
            //    {
            //        document.getElementById('CardIdentifier_error_'+cnt).innerHTML="Enter Card Identifier";
            //    }
            //    else
            //    {
            //        if(cardIdentifier.trim()!='')
            //        {
            //            if(cardIdentifier.length<2 || cardIdentifier.length>16)
            //            {
            //              document.getElementById('CardIdentifier_error_'+cnt).innerHTML ="Invalid Card Identifier";
            //            }
            //            else if(!cardIdentifier.match(number))
            //            {
            //              document.getElementById('CardIdentifier_error_'+cnt).innerHTML ="Invalid Card Identifier";
            //            }
            //            else
            //            {
            //                document.getElementById('CardIdentifier_error_'+cnt).innerHTML="";
            //            }
            //        }
            //    }               
                                                             
              
            //    cnt=cnt+1;

            //});


            var j=0;i=0;
            var cnt=0;
            console.log('Before Checking For Duplicate Card Identifier');
            $("#NoOfCardsTbl tbody tr").each(function () 
            {
                var row = $(this);
                j=0;
                i=i+1;
                cnt = 0;
                $("#NoOfCardsTbl tbody tr").each(function () 
                {
                    var row1 = $(this);

                    j=j+1;
                    if(i>0 && j>1 && j>i)
                    {
                        var PrevIdent = row.find("td:eq(1) input[type='text']").val();
                        var CurIdent =  row1.find("td:eq(1) input[type='text']").val();

                        if(PrevIdent!="" && CurIdent!="")
                        {
                            if(PrevIdent.trim().toUpperCase()==CurIdent.trim().toUpperCase())
                            {

                                if(CurIdent.length<2 || CurIdent.length>16)
                                {
                                  document.getElementById('CardIdentifier_error_'+cnt).innerHTML ="Invalid Card Identifier";
                                  flag = "N";
                                }
                                else if(!CurIdent.match(number))
                                {
                                  document.getElementById('CardIdentifier_error_'+cnt).innerHTML ="Invalid Card Identifier";
                                  flag = "N";
                                }
                                else
                                {
                                    document.getElementById('CardIdentifier_error_'+cnt).innerHTML="Duplicate Card Identifier";
                                    flag = "N";
                                }

                            }
                        }
                    }

                    cnt=cnt+1;
                });

            });

        }

     }
     
     function YearOfRegistrationChange(o, rowSelected) 
     {
        var yearReg = o.value;
        console.log(yearReg);
        const d = new Date();
        let curYear = d.getFullYear();

        if(yearReg.trim()=='')
        {
            document.getElementById('YearOfRegistration_error_'+rowSelected).innerHTML="Enter Year of Reg.";
            return;
        }
        else
        {
             if(yearReg.trim()!='')
             {
                if (!yearReg.match(number)) 
                {
                    document.getElementById('YearOfRegistration_error_'+rowSelected).innerHTML="Invalid Year of Reg.";
                    return false;
                }
                else if (yearReg.length < 4) 
                {
                    document.getElementById('YearOfRegistration_error_'+rowSelected).innerHTML="Invalid Year of Reg.";
                    return false;
                }
                else if (yearReg < 1980 || yearReg > curYear) 
                {
                    document.getElementById('YearOfRegistration_error_'+rowSelected).innerHTML="Invalid Year of Reg.";
                    return false;
                }
                else
                {
                    document.getElementById('YearOfRegistration_error_'+rowSelected).innerHTML="";
                }
               
            } 
        }
 
     }    
     
      function CheckVechileNoUsed(o, rowSelected) {
          debugger;
          var vehicleNo = o.value;
          console.log(vehicleNo);

          var customerTypeId = document.getElementById("CustomerTypeId").value;


          var selected = $("input[name='CardPreference']:checked").val();
          if (selected == "" || selected == undefined)
              selected = "Not Selected";
          console.log(selected);
                    
        if(vehicleNo.trim()=='')
        {
            document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Enter Vehicle No.";
            return false;
        }
        else
        {
            if(vehicleNo.trim()!='')
            {
                if(vehicleNo.length<6 || vehicleNo.length>10)
                {
                    document.getElementById('VechileNo_error_'+rowSelected).innerHTML ="Invalid Vehicle No.";
                    return false;
                }
            }
        }   


          console.log(rowSelected);
          var tbl = document.getElementById('NoOfCardsTbl');
          mytablebody = tbl.getElementsByTagName("tbody")[0];
          myrow = mytablebody.getElementsByTagName("tr")[rowSelected];
          var mycel;
          var mycelStatus;
          if (customerTypeId == "901" || customerTypeId == "906") {
              if (selected.toUpperCase() == "CARDLESS") {
                  mycel = myrow.getElementsByTagName("td")[7];
                  mycelStatus=myrow.getElementsByTagName("td")[8];
              }
              else {
                  mycel = myrow.getElementsByTagName("td")[6];
                  mycelStatus=myrow.getElementsByTagName("td")[7];
              }
          }
          else if (customerTypeId == "905" || customerTypeId == "909") {//Attached,Generic
              if (selected.toUpperCase() == "CARDLESS") {
                  mycel = myrow.getElementsByTagName("td")[8];
                  mycelStatus=myrow.getElementsByTagName("td")[9];
              }
              else {
                  mycel = myrow.getElementsByTagName("td")[7];
                  mycelStatus=myrow.getElementsByTagName("td")[8];
              }
          }
          console.log(mycel);
          if (vehicleNo == '') 
          {
              //mycel.innerHTML = "Enter Vehicle No.";
              document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Enter Vehicle No.";
              mycelStatus.innerHTML = "0";
              return;
          }
          else 
          {
              document.getElementById('VechileNo_error_'+rowSelected).innerHTML="";
              //mycel.innerHTML = "";
              mycelStatus.innerHTML = "0";
          }

          var result = false;


          $.ajax({
              type: 'POST',  // http method
              url: "CheckVechileNoUsed/Customer",
              data: { VechileNo: vehicleNo },  // data to submit
              dataType: "json",
              success: function (data, status, xhr) {
                  console.log(data);
                  if (data.status == "0") {
                      //mycel.innerHTML = "Vehicle No. already exists";
                      document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Vehicle No. already exists";
                      mycelStatus.innerHTML = "1";
                  }
                  else {
                      //mycel.innerHTML = "";
                      document.getElementById('VechileNo_error_'+rowSelected).innerHTML="";
                      mycelStatus.innerHTML = "0";
                  }
              },
              error: function (jqXhr, textStatus, errorMessage) {
                  //mycel.innerHTML = "Vehicle No. already exists";
                  document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Vehicle No. already exists";
                  mycelStatus.innerHTML = "1";

              }
          });

      }

      $("#btnHeaderReset").click(function () {
          debugger;
          document.getElementById("CustomerReferenceNo").value = "";
          $("#CustomerReferenceNo").prop('readonly', false);
          document.getElementById("CustomerReferenceNo_error").innerHTML = "";
          document.getElementById("CustomerName").value = "";
          document.getElementById("FormNumber").value = "";
          $('#lblNoOfVehicles').hide();
          $('#NoOfVehiclesAllCards').hide();
          document.getElementById("RBEId").value = "";
          document.getElementById("RBEName").value = "";
          $("#RBEId").prop('readonly', false);
          document.getElementById("NoOfVehiclesAllCards_error").innerHTML = "";
          document.getElementById("NoOfCards").value = "";
          $("#NoOfCards").prop('readonly', false);
          $('#NoOfCards').attr("readonly", false);
          document.getElementById("NoOfVehiclesAllCards").value = "";
          document.getElementById("NoOfCards_error").innerHTML = "";
          document.getElementById("RBEId_error").innerHTML = "";
          document.getElementById("RBEName_error").innerHTML = "";

         ViewCardDetailsTbl.style.display = "none";
         $("#Remarks").html('');
         $("#dvRemarks").html('');
         dvRemarks.style.display = 'none';

          //document.getElementById("rbtnCardless").checked = false;
          //document.getElementById("rbtnCardless").disabled = false;

          //document.getElementById("rbtnCard").checked = false;
          //document.getElementById("rbtnCard").disabled = false;

          //document.getElementById("rbtnOnline").checked = false;
          //document.getElementById("rbtnOnline").disabled = false;

          //document.getElementById("rbtnFeeWaiver").checked = false;
          //document.getElementById("rbtnFeeWaiver").disabled = false;

          //document.getElementById("FeePaymentNo").value = "";
          //document.getElementById("FeePaymentDate").value = "";

          //$("#rbtnCard").prop('disabled', false);
          //$("#FeePaymentNo").prop('readonly', false);
          //$("#FeePaymentDate").prop('readonly', false);

          //document.getElementById("ReceivedAmount").value = "";
          //$('#NoOfCardsTbl > tr').remove();
          //document.getElementById('NoOfCardsTbl').style.display = 'none';
                    
          //$('#FeePaymentDate').attr("readonly", false);
          //$('#FeePaymentNo').attr("readonly", false);
         
          //document.getElementById("FeePaymentNo_error").innerHTML = "";
          //document.getElementById("Common_error").innerHTML = "";
          //document.getElementById("divSubmit").style.display = "none";
          //document.getElementById("divDetails").style.display = "none";
          //document.getElementById("VehicleNoVerifiedManually").checked = false;
      });

      function IsAlphaNumeric(keyCode) {
           return ((keyCode >= 48 && keyCode <= 57) || (keyCode >= 65 && keyCode <= 90) || keyCode == 8 || keyCode == 46 ||
                    (keyCode >= 97 && keyCode <= 122) || keyCode == 37 || keyCode == 38 || keyCode == 39 || keyCode == 40);
      }

      function ValidateVehicleNo(rowSelected) 
      {
          debugger;
          var customerTypeId = document.getElementById("CustomerTypeId").value;

          if($(VehicleNoVerifiedManually).prop("checked"))
          {
              return false;
          }

          var tbl = document.getElementById('NoOfCardsTbl');
          mytablebody = tbl.getElementsByTagName("tbody")[0];
          myrow = mytablebody.getElementsByTagName("tr")[rowSelected];
          mycel = myrow.getElementsByTagName("td")[1];
          mycelValidStatus = myrow.getElementsByTagName("td")[1];

          if (customerTypeId == "901" || customerTypeId == "906") {//Fleet
              mycel = myrow.getElementsByTagName("td")[1];
          }
          else if (customerTypeId == "905" || customerTypeId == "909") {//Attached,Generic
              mycel = myrow.getElementsByTagName("td")[2];
          }

          console.log(mycel);
          var vehicleNo = mycel.getElementsByTagName("input")[0].value;

          console.log(vehicleNo);


          var selected = $("input[name='CardPreference']:checked").val();
          if (selected == "" || selected == undefined)
              selected = "Not Selected";
          console.log(selected);


          console.log(rowSelected);
          var tbl = document.getElementById('NoOfCardsTbl');
          mytablebody = tbl.getElementsByTagName("tbody")[0];
          myrow = mytablebody.getElementsByTagName("tr")[rowSelected];
          var mycel;
          if (customerTypeId == "901" || customerTypeId == "906") {//Fleet
              if (selected.toUpperCase() == "CARDLESS") {
                  mycel = myrow.getElementsByTagName("td")[7];
                  mycelValidStatus = myrow.getElementsByTagName("td")[9];
              }
              else {
                  mycel = myrow.getElementsByTagName("td")[6];
                  mycelValidStatus = myrow.getElementsByTagName("td")[8];
              }
          }
          else if (customerTypeId == "905" || customerTypeId == "909") {//Attached,Generic
              if (selected.toUpperCase() == "CARDLESS") {
                  mycel = myrow.getElementsByTagName("td")[8];
                  mycelValidStatus = myrow.getElementsByTagName("td")[10];
              }
              else {
                  mycel = myrow.getElementsByTagName("td")[7];
                  mycelValidStatus = myrow.getElementsByTagName("td")[9];
              }
          }
          console.log(mycel);
          if (vehicleNo == '') 
          {
              //mycel.innerHTML = "Enter Vehicle No";
              document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Enter Vehicle No.";
              return false;
          }
          else 
          {
                if(vehicleNo.length<6 || vehicleNo.length>10)
                {
                    document.getElementById('VechileNo_error_'+cnt).innerHTML ="Invalid Vehicle No.";
                    return false;
                }
                else
                {
                   document.getElementById('VechileNo_error_'+rowSelected).innerHTML="";
                }
          }


          $.ajax({
              type: 'POST',  // http method
              url: "CheckVehicleRegistrationValid/Customer",
              data: { RegistrationNumber: vehicleNo },  // data to submit
              dataType: "json",
              success: function (data, status, xhr) {
                  //debugger;
                  var jsonData = JSON.parse(data);
                  if (status == 'success' && jsonData['statusCode'] == '101') {
                      result = true;
                      //mycel.innerHTML = "Vehicle Number is valid";
                      //mycel.innerHTML = "";
                      document.getElementById('VechileNo_error_'+rowSelected).innerHTML="";
                      console.log(jsonData);
                      mycelValidStatus.innerHTML="1";
                      //console.log(mycel.innerHTML);
                  }
                  else 
                  {
                      //mycel.innerHTML = "Invalid Vehicle Number";
                      document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Invalid Vehicle No.";
                      mycelValidStatus.innerHTML="0";
                  }
              },
              error: function (jqXhr, textStatus, errorMessage) 
              {
                  //mycel.innerHTML = "Invalid Vehicle Number";
                  document.getElementById('VechileNo_error_'+rowSelected).innerHTML="Invalid Vehicle No.";
                  mycelValidStatus.innerHTML="0";

              }
          });

      }

    $('#VehicleNoVerifiedManually').click(function()
    {
          var customerTypeId = document.getElementById("CustomerTypeId").value;
          console.log(customerTypeId);
          if ($(this).prop("checked"))
          {
             $(".verify").addClass("disabled");
          }
          else
          {
              $('.verify').removeClass("disabled");
          }

    });

   $("#NoOfCards").on("blur", function () 
   {
    //debugger;
       if (document.getElementById('NoOfCards').value.trim() == "") 
       {
            document.getElementById("NoOfCards_error").innerHTML = "No. of Cards cannot be left blank";
            return false;
       }
       else 
       {
            if (Number(document.getElementById('NoOfCards').value) <= 0 || Number(document.getElementById('NoOfCards').value) > 10) 
            {
                document.getElementById("NoOfCards_error").innerHTML = "No. of Cards may be 1 to 10";
                return false;
            }
            else 
            {
                document.getElementById("NoOfCards_error").innerHTML = "";
            }
       }
        
    });

   $("#NoOfVehiclesAllCards").on("blur", function () 
   {
    //debugger;
       var noofCards = document.getElementById('NoOfCards').value.trim();
       if(noofCards=="") noofCards = 0;
       if (document.getElementById('NoOfVehiclesAllCards').value.trim() == "") 
       {
            document.getElementById("NoOfVehiclesAllCards_error").innerHTML = "No. of Vehicles cannot be left blank";
            return false;
       }
       else 
       {
            if (Number(document.getElementById('NoOfVehiclesAllCards').value) <= 0 || Number(document.getElementById('NoOfVehiclesAllCards').value) > 10) 
            {
                document.getElementById("NoOfVehiclesAllCards_error").innerHTML = "No. of Vehicles may be 1 to 10";
                return false;
            }
            else 
            {
                if (Number(document.getElementById('NoOfVehiclesAllCards').value) < noofCards) 
                {
                     document.getElementById("NoOfVehiclesAllCards_error").innerHTML = "No. of Vehicles cannnot be less than No. of Cards";
                }
                else
                {
                    document.getElementById("NoOfVehiclesAllCards_error").innerHTML = "";
                }
                
            }
       }
        
    });

    $('#CustomerReferenceNo').keypress(function (e) {
        if (e.keyCode == 13) {  // detect the enter key
            $('#btnSearch').click();
        }
    });

    $("#CustomerReferenceNo").on("blur", function () 
    {
        debugger;
        var custRefNo = document.getElementById("CustomerReferenceNo").value;
        if (custRefNo == "") 
        {
            document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
            return (false);
        }
        else 
        {
            if (document.getElementById("CustomerReferenceNo").value.substring(0, 1) == "0") 
            {
              document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
              return false;
            }
            else
            {
                if (document.getElementById("CustomerReferenceNo").value.length < 10) 
                {
                    document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
                    return false;
                }
                else
                {
                    if (!(document.getElementById("CustomerReferenceNo").value.match(number))) 
                    {
                        document.getElementById("CustomerReferenceNo_error").innerHTML = "Please enter 10 digits Customer Reference No.";
                        return false;
                    }
                    else
                    {
                        document.getElementById("CustomerReferenceNo_error").innerHTML = "";
                    }
                }
           }
       }

   });

   $('#NoOfCards').on("cut copy paste",function(e) {
      e.preventDefault();
    });

   $('#NoOfVehiclesAllCards').on("cut copy paste",function(e) {
      e.preventDefault();
    });

</script>