@model HPCL.Common.Models.ViewModel.Customer.CustomerBalanceInfoModel
@using HPCL.Common.Resources
@{
    ViewData["Title"] = "Customer Balance Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="mt-1 w-100">
    <marquee width="100%" direction="left">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
</div>

<div class="col-lg-12 px-0">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Financials</a> </li>
            <li class="breadcrumb-item font-weight-light">Balance Info</li>
        </ul>
        <form>
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Balance Info</p>
                        <div class="alert alert-danger alert-cust-success" id="dvRemarks" style="@(Model.Remarks=="" ? "display:none":"display:block")">
                            @Html.DisplayFor(m => m.Remarks)
                        </div>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12 offset-md-1">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                                <span class="error" id="CustomerId_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Customer Status <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButtonFor(m => m.CustomerStatus, "Live", new { @id = "rbtnCustomerStatusLive" })
                                                <label class="form-check-label" for="inlineRadio1">Live</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                                @Html.RadioButtonFor(m => m.CustomerStatus, "Test", new { @id = "rbtnCustomerStatusTest" })
                                                <label class="form-check-label" for="inlineRadio2">Test</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnSearch">@Label.Search</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button" id="btnReset">@Label.Reset</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button">Recharge Your Account</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button">Add/Edit Mobile</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3" id="dvCustomerBalance" style="width:100%;display:none;">
                        <table id="CustomerBalanceTbl" class="table1 table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                            <thead>
                                <tr>
                                    <th>Customer ID</th>
                                    <th>Card Balance</th>
                                    <th>CCMS Balance</th>
                                    <th>Drivestars</th>
                                    <th>Expired Drivestars</th>
                                    <th>Expiring Drivestars</th>
                                    <th>Daily Cash Limit</th>
                                    <th>Daily Cash Limit Balance</th>
                                    <th>Card-wise Balances</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

            <!-- Modal : Card1 -->
            <div class="modal fade" id="myModalCard1" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content" style='overflow:scroll; height:800px;width:800px;'>
                        <div class="modal-body">
                            <div class="tab-pane" id="BasicInfo" role="tabpanel" aria-labelledby="BasicInfo-tab">
                                <div class="col-lg-6 col-md-12 col-12 pl-0 pl-0 pb-2">
                                    <div class="border-1 rounded border-grey h-100">
                                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Application Details</p>
                                        <div class="py-3 px-2 px-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Zonal Office: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.DropDownListFor(m => m.ZonalOfficeID, Enumerable.Empty<SelectListItem>(), new { @id = "ZonalOfficeID", @class = "form-control", disabled = "true" })
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Regional Office: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @*<div class="custom_select">*@
                                                    @Html.DropDownListFor(m => m.RegionalOfficeID, Enumerable.Empty<SelectListItem>(), new { @id = "RegionalOfficeID", @class = "form-control", disabled = "true" })
                                                    @*</div>*@

                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Customer Type: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownListFor(m => m.CustomerTypeId, Enumerable.Empty<SelectListItem>(), new { @id = "CustomerTypeId", @class = "form-control", disabled = "true" })

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Customer Sub Type: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownListFor(m => m.CustomerSubtypeId, Enumerable.Empty<SelectListItem>(), new { @id = "CustomerSubtypeId", @class = "form-control", disabled = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Sales Area: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.SalesArea, new { id = "SalesArea", @class = "form-control", @readonly = true })
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Form Number: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FormNumber, new { id = "FormNumber", @class = "form-control", @readonly = true })
                                                    <span class="error" id="salesArea_error"></span>
                                                </div>
                                            </div>

                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Application Date:  </label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.DateOfApplication, new { id = "DateOfApplication", @class = "form-control", @readonly = true })
                                                </div>
                                            </div>
                                            @*<div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Signed On: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.SignedOn, new { id = "SignedOn", @class = "form-control", @readonly = true })
                                                    <span class="error" id="applicationDate_error"></span>
                                                </div>
                                            </div>*@
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-12 col-12 pr-0 pr-0 pb-2">
                                    <div class="border-1 rounded border-grey h-100">
                                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Personal Details</p>
                                        <div class="py-3 px-2 px-md-4">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Individual/Org. Name: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="row">
                                                        <div class="col-5">
                                                            <div class="custom_select">
                                                                @Html.DropDownListFor(m => m.IndividualOrgNameTitle, Enumerable.Empty<SelectListItem>(), new { @class = "form-control px-0", @id = "IndividualOrgNameTitle", disabled = "true" })
                                                            </div>
                                                            <span class="error" id="salutaion_error"></span>
                                                        </div>
                                                        <div class="col-7 pl-0">
                                                            @Html.TextBoxFor(m => m.IndividualOrgName, new { @id = "IndividualOrgName", @class = "form-control", @readonly = true })
                                                            <span class="error" id="individualName_error"></span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Name on Card: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @*<input type="text" name="nameOnCard" class="form-control">*@
                                                    @Html.TextBoxFor(m => m.NameOnCard, new { @id = "NameOnCard", @class = "form-control", @readonly = true })
                                                    <span class="error" id="nameOnCard_error"></span> 
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Type of Business Entity: <sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownListFor(m => m.TypeOfBusinessEntityId, Enumerable.Empty<SelectListItem>(), new { @id = "TypeOfBusinessEntityId", @class = "form-control", disabled = "true" })
                                                    </div>
                                                    <span class="error" id="typeOfbusiness_error"></span>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Residence Status:</label>
                                                <div class="col-md-7 col-12">
                                                    <div class="custom_select">
                                                        @Html.DropDownListFor(m => m.ResidenceStatus, Enumerable.Empty<SelectListItem>(), new { @class = "form-control", @id = "ResidenceStatus", disabled = "true" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Income Tax PAN:<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.IncomeTaxPan, new { @id = "IncomeTaxPan", @class = "form-control", @readonly = true })
                                                    <span class="error" id="incomeTaxPan_error"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">
                                </div>
                            </div>


                            <div class="tab-pane" id="AddressSection" role="tabpanel" aria-labelledby="Address-tab">
                                <div class="mb-3">
                                    <div class="border-1 rounded border-grey w-100">
                                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Communication Address</p>
                                        <div class="py-3 px-2 px-md-4">
                                            <div class="row w-100" id="permanent_add">
                                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 1:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationAddress1, new { @id = "CommunicationAddress1", @class = "form-control", @readonly = true })
                                                                <div class="error" id="perma_address1_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 2:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationAddress2, new { @id = "CommunicationAddress2", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_address2" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 3:</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationAddress3, new { @id = "CommunicationAddress3", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_address3" class="form-control">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Location:</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationLocation, new { @id = "CommunicationLocation", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_location" class="form-control">*@
                                                                <span class="error" id="perma_location_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">City:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationCityName, new { @id = "CommunicationCityName", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_city" class="form-control">*@
                                                                <span class="error" id="perma_city_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Pin code:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationPincode, new { @id = "CommunicationPincode", @class = "form-control", @readonly = true })
                                                                @*<input type="number" name="perma_pincode" class="form-control">*@
                                                                <span class="error" id="perma_pincode_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">State:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.CommunicationStateId, Enumerable.Empty<SelectListItem>(), new { @id = "CommunicationStateId", @class = "form-control", disabled = "true" })

                                                                </div>
                                                                <span class="error" id="perma_state_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">District:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.CommunicationDistrictId, Enumerable.Empty<SelectListItem>(), new { @id = "CommunicationDistrictId", @class = "form-control", disabled = "true" })
                                                                    @*<select id="CommunicationDistrictId" class="form-control"></select>*@
                                                                </div>
                                                                <span class="error" id="perma_district_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Phone (Home): </label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        @*@Html.TextBoxFor(m => m.CommunicationDialCode, new { @id = "CommunicationDialCode", @class = "form-control", @readonly = true })*@
                                                                        @*<input type="number" name="perma_dial_code" id="permaDialCode" class="form-control">*@
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        @Html.TextBoxFor(m => m.CommunicationPhoneNo, new { @id = "CommunicationPhoneNo", @class = "form-control", @readonly = true })
                                                                        @*<input type="tel" name="perma_officePhone" class="form-control">*@
                                                                    </div>
                                                                </div>
                                                                <span class="error" id="perma_officePhone_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Mobile:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationMobileNo, new { @id = "CommunicationMobileNo", @class = "form-control", @readonly = true })
                                                                <div class="error" id="comm_mobileNumber_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Fax:</label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        @*@Html.TextBoxFor(m => m.CommunicationFaxCode, new { @id = "CommunicationFaxCode", @class = "form-control", @readonly = true })*@
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        @Html.TextBoxFor(m => m.CommunicationFax, new { @id = "CommunicationFax", @class = "form-control", @readonly = true })
                                                                        @*<input type="tel" name="perma_faxNumber_error" class="form-control">*@
                                                                    </div>
                                                                </div>
                                                                <span class="error" id="perma_faxNumber_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Email:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CommunicationEmailid, new { @id = "CommunicationEmailid", @class = "form-control", @readonly = true })
                                                                <div class="error" id="comm_email_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="py-2">
                                    <div class="border-1 rounded border-grey w-100">
                                        <p class="text_primary px-3 py-2  m-0 font-weight-bold">Permanent/Registered Office Address</p>
                                        <div class="py-3 px-2 px-md-4">
                                            <div class="row w-100" id="permanent_add">
                                                <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 1:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentAddress1, new { @id = "PermanentAddress1", @class = "form-control", @readonly = true })
                                                                <div class="error" id="perma_address1_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 2:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentAddress2, new { @id = "PermanentAddress2", @class = "form-control", @readonly = true })
                                                                <div class="error" id="perma_address2_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Address 3:</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentAddress3, new { @id = "PermanentAddress3", @class = "form-control", @readonly = true })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Location:</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentLocation, new { @id = "PermanentLocation", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_location" class="form-control">*@
                                                                <span class="error" id="perma_location_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">City:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentCityName, new { @id = "PermanentCityName", @class = "form-control", @readonly = true })
                                                                @*<input type="text" name="perma_city" class="form-control">*@
                                                                <span class="error" id="perma_city_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Pin code:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.PermanentPincode, new { @id = "PermanentPincode", @class = "form-control", @readonly = true })
                                                                <span class="error" id="perma_pincode_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">State:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.PermanentStateId, Enumerable.Empty<SelectListItem>(), new { @id = "PermanentStateId", @class = "form-control", disabled = "true" })

                                                                </div>
                                                                <span class="error" id="perma_state_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">District:<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.PermanentDistrictId, Enumerable.Empty<SelectListItem>(), new { @id = "PermanentDistrictId", @class = "form-control", disabled = "true" })
                                                                </div>
                                                                <span class="error" id="perma_district_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Phone (Home): </label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        @*@Html.TextBoxFor(m => m.PerOrRegAddressDialCode, new { @id = "PerOrRegAddressDialCode", @class = "form-control", @readonly = true })*@
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        @Html.TextBoxFor(m => m.PermanentPhoneNo, new { @id = "PermanentPhoneNo", @class = "form-control", @readonly = true })
                                                                    </div>
                                                                </div>
                                                                <span class="error" id="perma_officePhone_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Fax:</label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        @*@Html.TextBoxFor(m => m.PermanentFaxCode, new { @id = "PermanentFaxCode", @class = "form-control", @readonly = true })*@
                                                                    </div>
                                                                    <div class="col-8 pl-0">
                                                                        @Html.TextBoxFor(m => m.PermanentFax, new { @id = "PermanentFax", @class = "form-control", @readonly = true })
                                                                    </div>
                                                                </div>
                                                                <span class="error" id="perma_faxNumber_error"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix">

                                </div>


                            </div>

                            <div class="tab-pane" id="OfficialDetails" role="tabpanel" aria-labelledby="OfficialDetails-tab">
                                <div class="border-1 rounded border-grey w-100">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Key Official</p>
                                    <div class="py-2 p-md-4">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Title <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col-5">
                                                                @Html.DropDownListFor(m => m.KeyOfficialTitle, Enumerable.Empty<SelectListItem>(), new { @class = "form-control px-0", @id = "KeyOfficialTitle", disabled = "true" })
                                                            </div>
                                                        </div>
                                                        <span class="error" id="officialTitle_error"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Individual Initials <sup class="text-danger">*</sup> </label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialIndividualInitials, new { @id = "KeyOfficialIndividualInitials", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">First Name <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialFirstName, new { @id = "KeyOfficialFirstName", @class = "form-control", @readonly = true })
                                                        <span class="error" id="official_fName_error"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Last Name</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialLastName, new { @id = "KeyOfficialLastName", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Middle Name </label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialMiddleName, new { @id = "KeyOfficialMiddleName", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Designation </label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialDesignation, new { @id = "KeyOfficialDesignation", @class = "form-control", @readonly = true })
                                                        <span class="error" id="official_designation_error"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Date of Birth</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialDOB, new { id = "KeyOfficialDOB", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Phone (Office)</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                @*@Html.TextBoxFor(m => m.KeyOffDialCode, new { @id = "KeyOffDialCode", @class = "form-control", @readonly = true })*@
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                                @Html.TextBoxFor(m => m.KeyOfficialPhoneNo, new { @id = "KeyOfficialPhoneNo", @class = "form-control", @readonly = true })
                                                            </div>
                                                        </div>
                                                        <span class="error" id="comm_officePhone_error"></span>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Mobile<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialMobile, new { @id = "KeyOfficialMobile", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Fax</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col-4">
                                                                @*@Html.TextBoxFor(m => m.KeyOffFaxCode, new { @id = "KeyOffFaxCode", @class = "form-control", @readonly = true })*@
                                                            </div>
                                                            <div class="col-8 pl-0">
                                                                @Html.TextBoxFor(m => m.KeyOfficialFax, new { @id = "KeyOfficialFax", @class = "form-control", @readonly = true })
                                                            </div>
                                                        </div>
                                                        <div class="error" id="comm_faxNumber_error"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Email</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialEmail, new { @id = "KeyOfficialEmail", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Date of Anniversary</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialDOA, new { id = "KeyOfficialDOA", @class = "form-control", @readonly = true })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div class="border-1 rounded border-grey w-100 mt-3">
                                    <p class="text_primary px-3 py-2  m-0 font-weight-bold">Other Details</p>
                                    <div class="py-2 p-md-4">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap row">

                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Area of Operation</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                            @Html.TextBoxFor(m => m.AreaOfOperation, new { @class = "form-control", style = "width:230px;", @readonly = "readonly", disabled = "disabled" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Fleet Size (No of Vehicles Owned)</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                                                            <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                                <span class="d-flex font-12">HCV</span>
                                                                @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedHCV, new { @id = "FleetSizeNoOfVechileOwnedHCV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                                                @* <input type="text" class="w-100">*@
                                                            </div>
                                                            <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                                <span class="d-flex font-12">LCV</span>
                                                                @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedLCV, new { @id = "FleetSizeNoOfVechileOwnedLCV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                                                @*<input type="text" class="w-100">*@
                                                            </div>
                                                            <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                                <span class="d-flex font-12">MUV/SUV</span>
                                                                @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedMUVSUV, new { @id = "FleetSizeNoOfVechileOwnedMUVSUV", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                                                @*<input type="text" class="w-100">*@
                                                            </div>
                                                            <div class="py-md-3 mb-2 mb-sm-2 px-2 col-sm-6 col-md-3">
                                                                <span class="d-flex font-12">Car/Jeep</span>
                                                                @Html.TextBoxFor(m => m.FleetSizeNoOfVechileOwnedCarJeep, new { @id = "FleetSizeNoOfVechileOwnedCarJeep", @class = "w-100", @readonly = "readonly", disabled = "disabled" })
                                                                @*<input type="text" class="w-100">*@
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Type of Fleet</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.DropDownListFor(m => m.KeyOfficialTypeOfFleetId, Enumerable.Empty<SelectListItem>(), new { @id = "KeyOfficialTypeOfFleetId", @class = "form-control", @readonly = true, disabled = "disabled" })

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Card applied for</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.KeyOfficialCardAppliedFor, new { @id = "KeyOfficialCardAppliedFor", @class = "form-control", @readonly = true, disabled = "disabled" })
                                                        @*<input type="text" class="form-control">*@
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-12 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12">Approx Monthly Spends on Vehicles</label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col-12 col-sm-8">
                                                                <div class="py-2">
                                                                    <div class=" position-relative pr-4">
                                                                        @Html.TextBoxFor(m => m.KeyOfficialApproxMonthlySpendsonVechile1, new { @id = "KeyOfficialApproxMonthlySpendsonVechile1", @class = "form-control", @readonly = true })
                                                                     </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-12 col-sm-4">
                                                                <div class=" py-2">
                                                                    <div class=" position-relative pr-4">
                                                                        @Html.TextBoxFor(m => m.KeyOfficialApproxMonthlySpendsonVechile2, new { @id = "KeyOfficialApproxMonthlySpendsonVechile2", @class = "form-control", @readonly = true })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
            <!-- Modal : Card1 -->


        </form>
        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3 toBeHiddenOnSuccess" id="customerCardWiseBalancesTbl">
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        console.log(document.getElementById("rbtnCustomerStatusLive").checked);
        console.log(document.getElementById("rbtnCustomerStatusTest").checked);
        if (!document.getElementById("rbtnCustomerStatusLive").checked && !document.getElementById("rbtnCustomerStatusTest").checked) {
            document.getElementById("rbtnCustomerStatusLive").checked = true;
        }

    });

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode;
        if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }
    $("#btnReset").click(function () {

        $("#CustomerId").val("");
        document.getElementById("CustomerId_error").innerHTML = "";
        document.getElementById('dvCustomerBalance').style.display = 'none';
        document.getElementById('customerCardWiseBalancesTbl').style.display = 'none';
    });

    $("#btnSearch").click(function () {
        //debugger;
        var customerId = document.getElementById("CustomerId").value;
        if (customerId == "") {
            document.getElementById("CustomerId_error").innerHTML = "Customer Id is required";
            $("#CustomerId").focus;
            return (false);
        }
        else {
            document.getElementById("CustomerId_error").innerHTML = "";
        }

        //var found = false;

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetCustomerBalanceInfo", "Customer")',
                data: { CustomerID: customerId },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    console.log(data);
                    console.log(data.customerBalanceResponse);
                    console.log(status);

                    if (status == 'success') {
                        $("#CustomerBalanceTbl td").parent().remove();

                        for (var i = 0; i < data.customerBalanceResponse.length; i++) {
                            var customerID = data.customerBalanceResponse[i].customerID;
                            var rows = "<tbody><tr>"
                                //+ "<td class='nav-item'><a class='CardNumber' data-toggle='tab' href='#BasicInformation' onclick='ViewCardDetails(this)' role='tab'><span class='rowCardNo'>" + (data.customerBalanceResponse[i].customerID || '') + "</span></a></td>"
                                //+ "<td class='nav-item'><a class='CardNumber' onclick='ViewBasicInfo(this)' role='tab'><span class='rowCardNo'>" + (data.customerBalanceResponse[i].customerID || '') + "</span></a></td>"
                                + "<td class='nav-item'><a class='CardNumber' data-toggle='modal' href='#myModalCard1' onclick='ViewBasicInfo(this)' role='tab'><span class='rowCardNo'>" + (data.customerBalanceResponse[i].customerID || '') + "</span></a></td>"
                                + "<td><span class='rowData CustReferenceNo'>" + (data.customerBalanceResponse[i].cardBalance || '') + "</span></td>"
                                + "<td><span class='rowData cusId'>" + (data.customerBalanceResponse[i].ccmsLimitValue || '') + "</span></td>"
                                + "<td><span class='rowData'>" + (data.customerBalanceResponse[i].drivestars || '') + "</span></td>"
                                + "<td><span class='rowData'>" + (data.customerBalanceResponse[i].expiredDrivestars || '') + "</span></td>"
                                + "<td><span class='rowData'>" + (data.customerBalanceResponse[i].expiringDrivestars || '') + "</span></td>"
                                + "<td><span class='rowData'>" + (data.customerBalanceResponse[i].cashPurseLimit || '') + "</span></td>"
                                + "<td><span class='rowData'>" + (data.customerBalanceResponse[i].dailyCashLimitBalance || '') + "</span></td>"
                                //+ "<td><div class='d-flex align-items-center justify-content-left' style='min-height: 100%'><div class='px-2'><a href='#' class='d-block action_btn'><img src='assets/images/search_icon2.png' alt='View' class='img-fluid'></a></div></div></td></tr></tbody>"
                                + "<td class='nav-item'><a class='CardNumber' data-toggle='tab' onclick='ViewCardDetails(" + customerID + ")' role='tab'><img src='assets/images/search_icon2.png' alt='View' class='img-fluid'></a></td></tr></tbody>"


                            $('#CustomerBalanceTbl').append(rows);


                        }

                        document.getElementById('dvCustomerBalance').style.display = 'block';


                        //if (data == "Failed to load Customer Details")
                            //document.getElementById("RBEName").value = "";
                    }
                    else {
                        //$("#RBEId_error").html("");
                        //document.getElementById("RBEName").value = "";
                        //found = false;
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    //document.getElementById("RBEName").value = "";
                },
                statusCode: {
                    1024: function () {
                        //document.getElementById("RBEName").value = "";
                    }
                }
            });

    });

    function ViewCardDetails(customerId) {
        debugger;
        //var customerId = document.getElementById("CustomerId").value;
        //if (customerId == "") {
        //    document.getElementById("CustomerId_error").innerHTML = "Customer Id is required";
        //    $("#CustomerId").focus;
        //    return (false);
        //}
        //else {
        //    document.getElementById("CustomerId_error").innerHTML = "";
        //}

        if (customerId == "") {
            return (false);
        }
        else {

        }

        //var found = false;
        customerCardWiseBalancesTbl.style.display = "block";


        $.ajax({
            type: 'GET',  // http method
            url: '@Url.Action("GetCustomerCardWiseBalance", "Customer")',
            contentType: "application/json; charset=utf-8",
            data: { CustomerID: customerId },
            dataType: "text",
            success: function (data, status, xhr) {
                var v = data;
                if (status == 'success') {
                    $("#customerCardWiseBalancesTbl").html(data);
                    $('html, body').animate({
                        scrollTop: $("#customerCardWiseBalancesTbl").offset().top
                    }, 2000);
                }
                else {
                    console.log(v);
                }
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error");
            }
        });


    }

    function ViewBasicInfo(o) {
        //$("#CustomerProfile-tab").removeClass("disabled");
        //$("#Address-tab").removeClass("disabled");
        //$("#BasicInfo-tab").removeClass("disabled");
        //$("#OfficialDetails-tab").removeClass("disabled");
        //$('#BasicInfo-tab').tab('show');
        var customerId = o.innerText;
        $.ajax({
            url: "@Url.Action("GetCustomerDetailsByCustomerID", "Customer")",
            type: "POST",
            dataType: "JSON",
            data: { CustomerID: customerId },
            success: function (res) {
                console.log('Ravi');
                console.log(res);
                console.log(res.customer);

                //GetComDistrict(res[i].communicationStateId, res[i].communicationDistrictId);
                //GetPerDistrict(res[i].permanentStateId, res[i].permanentDistrictId);
                //GetSubType(res[i].customerTypeId, res[i].customerSubtypeId);
                                
                var zonalOffice = $('<option value="' + res.customer.zonalOfficeName + '">' + res.customer.zonalOfficeName + '</option>');
                $('#ZonalOfficeID').append(zonalOffice);

                var regionalOffice = $('<option value="' + res.customer.regionalOfficeName + '">' + res.customer.regionalOfficeName + '</option>');
                $('#RegionalOfficeID').append(regionalOffice);

                var typeOfCustomer = $('<option value="' + res.customer.customerTypeName + '">' + res.customer.customerTypeName + '</option>');
                $('#CustomerTypeId').append(typeOfCustomer);

                var customerSubtypeName = $('<option value="' + res.customer.customerSubtypeName + '">' + res.customer.customerSubtypeName + '</option>');
                $('#CustomerSubtypeId').append(customerSubtypeName);

                $('#SalesArea').val(res.customer.salesArea);
                $('#FormNumber').val(res.customer.formNumber);

                const dateObj = new Date(res.customer.dateOfApplication);
                console.log(dateObj);
                var month = dateObj.getMonth() + 1; //months from 1-12
                var day = dateObj.getDate();
                var year = dateObj.getFullYear();

                var newdate = day + "/" + month + "/" + year;
                console.log(dateObj.getDate());
                $('#DateOfApplication').val(newdate);

                var individualOrgNameTitle = $('<option value="' + res.customer.individualOrgNameTitle + '">' + res.customer.individualOrgNameTitle + '</option>');
                $('#IndividualOrgNameTitle').append(individualOrgNameTitle);


                $('#IndividualOrgName').val(res.customer.individualOrgName);
                $('#NameOnCard').val(res.customer.nameOnCard);

                var TypeOfBusinessEntity = $('<option value="' + res.customer.typeOfBusinessEntityName + '">' + res.customer.typeOfBusinessEntityName + '</option>');
                $('#TypeOfBusinessEntityId').append(TypeOfBusinessEntity);

                var residenceStatus = $('<option value="' + res.customer.residenceStatus + '">' + res.customer.residenceStatus + '</option>');
                $('#ResidenceStatus').append(residenceStatus);

                $('#IncomeTaxPan').val(res.customer.incomeTaxPan);
                $('#CommunicationAddress1').val(res.customer.communicationAddress1);
                $('#CommunicationAddress2').val(res.customer.communicationAddress2);
                $('#CommunicationAddress3').val(res.customer.communicationAddress3);
                $('#CommunicationLocation').val(res.customer.communicationLocation);
                $('#CommunicationCityName').val(res.customer.communicationCityName);
                $('#CommunicationPincode').val(res.customer.communicationPincode);

                var CommunicationState = $('<option value="' + res.customer.communicationStateName + '">' + res.customer.communicationStateName + '</option>');
                $('#CommunicationStateId').append(CommunicationState);

                var CommunicationDistrict = $('<option value="' + res.customer.communicationDistrictName + '">' + res.customer.communicationDistrictName + '</option>');
                $('#CommunicationDistrictId').append(CommunicationDistrict);

                $('#CommunicationPhoneNo').val(res.customer.communicationPhoneNo);
                $('#CommunicationMobileNo').val(res.customer.communicationMobileNo);
                $('#CommunicationFax').val(res.customer.communicationFax);
                $('#CommunicationEmailid').val(res.customer.communicationEmailid);

                $('#PermanentAddress1').val(res.customer.permanentAddress1);
                $('#PermanentAddress2').val(res.customer.permanentAddress2);
                $('#PermanentAddress3').val(res.customer.permanentAddress3);
                $('#PermanentLocation').val(res.customer.permanentLocation);
                $('#PermanentCityName').val(res.customer.permanentCityName);
                $('#PermanentPincode').val(res.customer.permanentPincode);

                var PermanentState = $('<option value="' + res.customer.permanentStateName + '">' + res.customer.permanentStateName + '</option>');
                $('#PermanentStateId').append(PermanentState);

                var PermanentDistrict = $('<option value="' + res.customer.permanentDistrictName + '">' + res.customer.permanentDistrictName + '</option>');
                $('#PermanentDistrictId').append(PermanentDistrict);

                $('#PermanentPhoneNo').val(res.customer.permanentPhoneNo);
                $('#PermanentFax').val(res.customer.permanentFax);

                var OfficialTitle = $('<option value="' + res.customer.keyOfficialTitle + '">' + res.customer.keyOfficialTitle + '</option>');
                $('#KeyOfficialTitle').append(OfficialTitle);

                $('#KeyOfficialIndividualInitials').val(res.customer.keyOfficialIndividualInitials);
                $('#KeyOfficialFirstName').val(res.customer.keyOfficialFirstName);
                $('#KeyOfficialLastName').val(res.customer.keyOfficialLastName);
                $('#KeyOfficialMiddleName').val(res.customer.keyOfficialMiddleName);
                $('#KeyOfficialDesignation').val(res.customer.keyOfficialDesignation);

                const dateDOB = new Date(res.customer.keyOfficialDOB);
                //$('#applicationDate').val(dateObj.getDate());
                console.log(dateDOB);
                var monthDOB = dateDOB.getMonth() + 1; //months from 1-12
                var dayDOB = dateDOB.getDate();
                var yearDOB = dateDOB.getFullYear();

                var newdateDOB = dayDOB + "/" + monthDOB + "/" + yearDOB;

                $('#KeyOfficialDOB').val(newdateDOB);

                $('#KeyOfficialPhoneNo').val(res.customer.keyOfficialPhoneNo);
                $('#KeyOfficialMobile').val(res.customer.keyOfficialMobile);
                $('#KeyOfficialFax').val(res.customer.keyOfficialFax);
                $('#KeyOfficialEmail').val(res.customer.keyOfficialEmail);

                const dateDOA = new Date(res.customer.keyOfficialDOA);
                console.log(dateDOA);
                var monthDOA = dateDOA.getMonth() + 1; //months from 1-12
                var dayDOA = dateDOA.getDate();
                var yearDOA = dateDOA.getFullYear();

                var newdateDOA = dayDOA + "/" + monthDOA + "/" + yearDOA;


                $('#KeyOfficialDOA').val(newdateDOA);

                $('#AreaOfOperation').val(res.customer.areaOfOperation);

                var KeyOfficialTypeOfFleet = $('<option value="' + res.customer.keyOfficialTypeOfFleetName + '">' + res.customer.keyOfficialTypeOfFleetName + '</option>');
                $('#KeyOfficialTypeOfFleetId').append(KeyOfficialTypeOfFleet);

                $('#KeyOfficialCardAppliedFor').val(res.customer.keyOfficialCardAppliedFor);
                $('#KeyOfficialApproxMonthlySpendsonVechile1').val(res.customer.keyOfficialApproxMonthlySpendsonVechile1);
                $('#KeyOfficialApproxMonthlySpendsonVechile2').val(res.customer.keyOfficialApproxMonthlySpendsonVechile2);

                $('#FleetSizeNoOfVechileOwnedHCV').val(res.customer.fleetSizeNoOfVechileOwnedHCV);
                $('#FleetSizeNoOfVechileOwnedLCV').val(res.customer.fleetSizeNoOfVechileOwnedLCV);
                $('#FleetSizeNoOfVechileOwnedMUVSUV').val(res.customer.fleetSizeNoOfVechileOwnedMUVSUV);
                $('#FleetSizeNoOfVechileOwnedCarJeep').val(res.customer.fleetSizeNoOfVechileOwnedCarJeep);
                
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    };

</script>