<div style="width:100%;">
    <div class="py-3 px-0 p-md-4">
        <div class="d-flex align-items-stretch justify-content-between flex-wrap">
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("Index", "CustomerManage")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/customer-balance.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Profile</h4>
                        <p>Profile</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("Index", "Cards")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/transaction-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Cards</h4>
                        <p>Cards</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("Index", "Search")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/vehicle-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Search</h4>
                        <p>Search</p>
                    </div>
                </a>
            </div>
            <div class="col-md-3 col-12 mb-3">
                <a href="@Url.Action("Index", "Enrollments")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="assets/images/card-detail.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Enrollments</h4>
                        <p>Enrollments</p>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-3 col-12 mb-3">
            <a href="@Url.Action("Index", "MyHpOTCCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="assets/images/card-limit.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>My HP (OTC) Card Customer</h4>
                    <p>My HP (OTC) Card Customer</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-12 mb-3">
            <a href="@Url.Action("Index", "TatkalCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="assets/images/card-parameter.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Tatkal Card Customer</h4>
                    <p>Tatkal Card Customer</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-12 mb-3">
            <a href="@Url.Action("Index", "DriverCardCustomer")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="assets/images/card-parameter.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Driver Card Customer</h4>
                    <p>Driver Card Customer</p>
                </div>
            </a>
        </div>
        <div class="col-md-3 col-12 mb-3">
            <a href="@Url.Action("Index", "CustomerFinancial")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                <div class="thumb_icon">
                    <img src="assets/images/card-parameter.png" class="img-fluid" alt="">
                </div>
                <div class="px-3">
                    <h4>Financials</h4>
                    <p>Financials</p>
                </div>
            </a>
        </div>

    </div>
</div>