@model HPCL.Common.Models.ViewModel.Customer.UploadDoc

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Enrollments")" class="text_primary">Enrollments</a> </li>
            <li class="breadcrumb-item font-weight-light">Upload Document</li>
        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Upload Document</p>
                    <div class="w-100">

                        @Html.ValidationSummary(false)

                        <form method="post" data-ajax="true" asp-controller="Customer" asp-action="UploadDoc" data-ajax-method="POST" data-ajax-success="OnSuccessUploadDoc" data-ajax-failure="OnFailure">
                            @*<p class="text-dark pb-2 mb-0 font-weight-bold ml-4 mr-4" style="border-bottom: 1px solid #ccc;">
                                Search
                            </p>*@
                            <div class="d-flex align-items-center justify-content-between flex-wrap pt-0">
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Form Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.FormNumber, new { @id = "CustomerReferenceNoId", @class = "form-control restrictPaste", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.FormNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12">
                                    <div class="d-flex align-items-center justify-content-start mb-3">
                                        <div class="px-2">
                                            <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="openSearchGrid()">SEARCH</button>
                                        </div> 
                                        <div class="px-2">
                                            <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetClick()">RESET</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-start">
                                <div id="resSearch" style="display:none" class="w-100 mb-3">
                                    <div class="d-flex align-items-center justify-content-between flex-wrap pt-0">
                                        <div class="col-md-6 col-12 px-2">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Name</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.CustomerName, new { @id = "CustomerName", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>
                                 @*       <div class="col-md-6 col-12 px-2">
                                            <div class="d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12 mb-0">Form Number</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.FormNumber, new { @id = "FormNumber", @class = "form-control", @readonly = "readonly" })
                                                </div>
                                            </div>
                                        </div>*@
                                    </div>
                                </div>
                            </div>
                            
                            @Html.HiddenFor(model => Model.IdProofFrontSRC)
                            @Html.HiddenFor(model => Model.Type)
                        </form>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="noRecord" class="mt-3 mb-0 text-center alert alert-danger" style="display:none;"></div>
                 <div class="clearfix"></div> 
                <div id="uploadSection" style="display:none;">

                    <div class="form-group d-flex align-items-center flex-wrap">
                    </div>

                    <form id="saveDocs" method="post" data-ajax="true" enctype="multipart/form-data" asp-controller="Customer" asp-action="SaveUploadDoc" data-ajax-method="POST" data-ajax-success="OnSuccessUploadDocSave" data-ajax-failure="OnFailure">
                        <div id="docUpdateId">

                            <div class="border-1 rounded border-grey mb-3">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">ID Proof</p>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Proof of Identity<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @*@Html.DropDownListFor(m => m.IdProofType, new SelectList(Model.ProofTypesModal, "ProofTypeId", "ProofTypeName"), new { @class = "form-control" })*@

                                            @Html.DropDownListFor(m => m.IdProofType, Enumerable.Empty<SelectListItem>(), "--Select ID Proof--", new { @class = "form-control proofType" })
                                            @Html.ValidationMessageFor(m => m.IdProofType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Document Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.IdProofDocumentNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.IdProofDocumentNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Front Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.IdProofFront, new { @id = "IdProofFront", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br/>File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.IdProofFront, "", new { @id = "idFrontErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Back Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.IdProofBack, new { @id = "IdProofBack", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br/>File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.IdProofBack, "", new { @id = "idBackErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idPfrontImg" ></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idPbackImg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>

                            <div class="border-1 rounded border-grey mb-4 pt-0">
                                <p class="text_primary px-3 py-2 bg-grey mb-3 font-weight-bold">Address Proof</p>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Proof of Address<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.DropDownListFor(m => m.AddressProofType, Enumerable.Empty<SelectListItem>(), "--Select Address Proof--", new { @class = "form-control proofType" })
                                            @Html.ValidationMessageFor(m => m.AddressProofType, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Document Number<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.AddressProofDocumentNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.AddressProofDocumentNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Front Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.AddressProofFront, new { @id = "AddressProofFront", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br/>File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.AddressProofFront, "", new { @id = "addFrontErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-5 col-12 mb-4">Back Photo<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.AddressProofBack, new { @id = "AddressProofBack", @class = "form-control form-control-file myfilen", Type = "file" })
                                            <p class="mb-0">Only pdf,gif,png,jpeg,jpg,doc,docx file supported.<br/>File size should not be greater than 5 MB.</p>
                                            @Html.ValidationMessageFor(m => m.AddressProofBack, "", new { @id = "addBackErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idAfrontImg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-2">
                                    <div class="form-group align-items-center flex-wrap">
                                        <div class="col-md-5 col-6"></div>
                                        <div class="col-md-7 col-12">
                                            <div id="idAbackImg"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                             
                            <div class="clearfix"></div>

                            <div class="d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" type="submit" id="btnSaveDoc" name="submit">SAVE</button>
                                </div>
                            </div>
                        </div>
                        <!-- Modal : Dialog -->
                        <!-- Image Download Modal -->
                        <div class="modal fade" id="dvViewImage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document" style="max-width:700px; width:100%;">
                                <div class="modal-content">
                                    <div class="modal-header py-2">
                                        <h5 class="modal-title" id="exampleModalLabel" style="font-size:14px;">View Image</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="col-12 col-sm-12">
                                        <img style="max-width:100%;width:100%;" src="/assets/images/id-card.png" alt="Image" id="imgAttachment" /> @*class="imgZoom py-3"*@
                                    </div>
                                    <div class="d-flex align-items-center justify-content-start flex-wrap px-3 mb-3">
                                        <button type="button" id="ImgDownload" class="btn btn_primary down_btn_sty">Download Image</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                        <!-- Modal : Dialog -->
                    </form>
                </div>

                <div class="clearfix"></div>

            </div>
        </div>
    </div>
</div>

<script>

     function resetClick() {
         document.getElementById('CustomerReferenceNoId').value = '';
         $("#CustomerReferenceNoId").prop('readonly', false);
          window.location.href = '@Url.Action("UploadDoc", "Customer", new { customerReferenceNo = "" })';
     };

     $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

     var idFront;
     var idBack;
     var addFront;
     var addBack;

          function idFrontClick(){
                var link = document.createElement('a');
                link.href = $('#idPfrontImg img')[0].src;
                link.download = $('#idPfrontImg img').attr('src');
                document.body.appendChild(link);
                link.click();     
                document.body.removeChild(link);
          }

          
          function idbackClick(){
                var link = document.createElement('a');
                link.href = $('#idPbackImg img')[0].src;
                link.download = $('#idPbackImg img').attr('src');
                document.body.appendChild(link);
                link.click();     
                document.body.removeChild(link);
          }

          function addfrotClick(){
                var link = document.createElement('a');
                link.href = $('#idAfrontImg img')[0].src;
                link.download = $('#idAfrontImg img').attr('src');
                document.body.appendChild(link);
                link.click();     
                document.body.removeChild(link);
          }

          function addBackClick(){
                var link = document.createElement('a');
                link.href = $('#idAbackImg img')[0].src;
                link.download = $('#idAbackImg img').attr('src');
                document.body.appendChild(link);
                link.click();     
                document.body.removeChild(link);
          }
 function adfimgClick() 
    {
        var upath = $('#idAfrontImg img')[0].src;
        var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
        //url = url.replace("zzzzxx", encodeURIComponent(upath));
        url = url.replace("zzzzxx", upath);
        window.location.href = url;
    }

    function adbimgClick() 
    {
        var upath = $('#idAbackImg img')[0].src;
        var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
        //url = url.replace("zzzzxx", encodeURIComponent(upath));
        url = url.replace("zzzzxx", upath);
        window.location.href = url;
    }

    function idfimgClick () 
    {
        var upath = $('#idPfrontImg img')[0].src;
        var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
        //url = url.replace("zzzzxx", encodeURIComponent(upath));
        url = url.replace("zzzzxx", upath);
        window.location.href = url;
    }

    function idbimgClick () 
    {
        var upath = $('#idPbackImg img')[0].src;
        var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
        //url = url.replace("zzzzxx", encodeURIComponent(upath));
        url = url.replace("zzzzxx", upath);
        window.location.href = url;
    }
     $(document).ready(function () {


         $('.proofType').SumoSelect({
            placeholder: '-Select-',
            search: true,
            searchText: 'Enter Text here.'
         });

         if ($("#CustomerReferenceNoId").val() != "") {
             openSearchGrid();
             $("#btnSave").click();
         }

         $.ajax({
             type: 'POST',  // http method
             url: '@Url.Action("ProofType", "Common")',
             dataType: "json",
             success: function (data, status, xhr) {

                 console.log(data);

                 $.each(data.proofTypeList, function (i, option) {
                     $("<option/>").val(option.proofTypeId).text(option.proofTypeName).appendTo(".proofType");
                 });

                 if (@Model.AddressProofType> 0)
                     document.getElementById("AddressProofType").value = @Model.AddressProofType;
                 if (@Model.IdProofType> 0)
                     document.getElementById("IdProofType").value = @Model.IdProofType;

                 $("#IdProofType")[0].sumo.reload();
                 $("#AddressProofType")[0].sumo.reload();
                 
                    // $("#idPfrontImg img").attr("src", @Model.IdProofFrontimg);
                    var ifimg="@Model.IdProofFrontimg";
                    var ibimg="@Model.IdProofBackimg";
                    var afimg="@Model.AddProofFrontimg";
                    var abimg="@Model.AddProofBackimg";
                    if(ifimg!="")
                    {     
                        //$("#idPfrontImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='idfimgClick()'>Download Image</button>");
                        //$('#idPfrontImg img').attr('src',  ifimg);
                        //$("#idPfrontImg img").attr("style", "width: 200px");
                        //$("#idPfrontImg img").attr("style", "height: 100px");
                        //$("#idPfrontImg img").show();

                        var extension = ifimg.substring(ifimg.lastIndexOf('.')+1);

                        if(extension.toLowerCase()=="gif" || extension.toLowerCase()=="png" || extension.toLowerCase()=="jpeg" || extension.toLowerCase()=="jpg")
                        {
                            $("#idPfrontImg").append("<img id='IdProofFrontSrc' class='imgZoom'/><a href='#' id='IdProofFrontDownloadlnk' onclick='OpenModelPOPup(1); return false;'><b>Enlarge " + extension + " </b></a>");
                            $('#idPfrontImg img').attr('src',  ifimg);
                            $("#idPfrontImg img").attr("style", "width: 200px");
                            $("#idPfrontImg img").attr("style", "height: 100px");
                            $("#idPfrontImg img").show();
                        }
                        else
                        {
                            $("#idPfrontImg").append("<img id='IdProofFrontSrc' class='imgZoom'/><a href='#' id='IdProofFrontDownloadlnk' onclick='OpenModelPOPup(1); return false;'><b>Download " + extension + "</b></a>");
                            $('#idPfrontImg img').attr('src',  ifimg);
                            $("#idPfrontImg img").attr("style", "width: 200px");
                            $("#idPfrontImg img").attr("style", "height: 100px");
                            $("#idPfrontImg img").show();
                        }

                    }
                    if(ibimg!="")
                    {
                        var extension = ibimg.substring(ibimg.lastIndexOf('.')+1);
                        //$("#idPbackImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='idbimgClick()'>Download Image</button>");
                        //$('#idPbackImg img').attr('src',  ibimg);
                        //$("#idPbackImg img").attr("style", "width: 200px");
                        //$("#idPbackImg img").attr("style", "height: 100px");
                        //$("#idPbackImg img").show();

                        if(extension.toLowerCase()=="gif" || extension.toLowerCase()=="png" || extension.toLowerCase()=="jpeg" || extension.toLowerCase()=="jpg")
                        {
                            $("#idPbackImg").append("<img id='IdProofBackSrc' class='imgZoom'/><a href='#' id='IdProofBackDownloadlnk' onclick='OpenModelPOPup(2); return false;'><b>Enlarge " + extension + " </b></a>");
                            $('#idPbackImg img').attr('src',  ibimg);
                            $("#idPbackImg img").attr("style", "width: 200px");
                            $("#idPbackImg img").attr("style", "height: 100px");
                            $("#idPbackImg img").show();
                        }
                        else
                        {
                            $("#idPbackImg").append("<img id='IdProofBackSrc' class='imgZoom'/><a href='#' id='IdProofBackDownloadlnk' onclick='OpenModelPOPup(2); return false;'><b>Download " + extension + "</b></a>");
                            $('#idPbackImg img').attr('src',  ibimg);
                            $("#idPbackImg img").attr("style", "width: 200px");
                            $("#idPbackImg img").attr("style", "height: 100px");
                            $("#idPbackImg img").show();
                        }

                    }
                    if(afimg!="")
                    {
                        //$("#idAfrontImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='adfimgClick()'>Download Image</button>");
                        //$('#idAfrontImg img').attr('src',  afimg);
                        //$("#idAfrontImg img").attr("style", "width: 200px");
                        //$("#idAfrontImg img").attr("style", "height: 100px");
                        //$("#idAfrontImg img").show();
                        var extension = afimg.substring(afimg.lastIndexOf('.')+1);

                        if(extension.toLowerCase()=="gif" || extension.toLowerCase()=="png" || extension.toLowerCase()=="jpeg" || extension.toLowerCase()=="jpg")
                        {
                            $("#idAfrontImg").append("<img id='AddressProofFrontSrc' class='imgZoom'/><a href='#' id='AddressProofFrontDownloadlnk' onclick='OpenModelPOPup(3); return false;'><b>Enlarge " + extension + " </b></a>");
                            $('#idAfrontImg img').attr('src',  afimg);
                            $("#idAfrontImg img").attr("style", "width: 200px");
                            $("#idAfrontImg img").attr("style", "height: 100px");
                            $("#idAfrontImg img").show();
                        }
                        else
                        {
                            $("#idAfrontImg").append("<img id='AddressProofFrontSrc' class='imgZoom'/><a href='#' id='AddressProofFrontDownloadlnk' onclick='OpenModelPOPup(3); return false;'><b>Download " + extension + "</b></a>");
                            $('#idAfrontImg img').attr('src',  afimg);
                            $("#idAfrontImg img").attr("style", "width: 200px");
                            $("#idAfrontImg img").attr("style", "height: 100px");
                            $("#idAfrontImg img").show();
                        }
                    }
                    if(abimg!="")
                    {
                        //$("#idAbackImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button'  onclick='adbimgClick()'>Download Image</button>");
                        //$('#idAbackImg img').attr('src',  abimg);
                        //$("#idAbackImg img").attr("style", "width: 200px");
                        //$("#idAbackImg img").attr("style", "height: 100px");
                        //$("#idAbackImg img").show();

                        var extension = abimg.substring(abimg.lastIndexOf('.')+1);

                        if(extension.toLowerCase()=="gif" || extension.toLowerCase()=="png" || extension.toLowerCase()=="jpeg" || extension.toLowerCase()=="jpg")
                        {
                            $("#idAbackImg").append("<img id='AddressProofBackSrc' class='imgZoom'/><a href='#' id='AddressProofBackDownloadlnk' onclick='OpenModelPOPup(4); return false;'><b>Enlarge " + extension + " </b></a>");
                            $('#idAbackImg img').attr('src',  abimg);
                            $("#idAbackImg img").attr("style", "width: 200px");
                            $("#idAbackImg img").attr("style", "height: 100px");
                            $("#idAbackImg img").show();
                        }
                        else
                        {
                            $("#idAbackImg").append("<img id='AddressProofBackSrc' class='imgZoom'/><a href='#' id='AddressProofBackDownloadlnk' onclick='OpenModelPOPup(4); return false;'><b>Download " + extension + "</b></a>");
                            $('#idAbackImg img').attr('src',  abimg);
                            $("#idAbackImg img").attr("style", "width: 200px");
                            $("#idAbackImg img").attr("style", "height: 100px");
                            $("#idAbackImg img").show();
                        }
                    }
                        
                 
             },
             error: function (jqXhr, textStatus, errorMessage) {
                 alert("Error Populating Proof Type");
             }
         });
    
         $("#IdProofFront").change(function () {
             $("#idFrontErr").text("");
             $("#idPfrontImg").html("");

             //var rv = true;
             idFront = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(idFront == idBack){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("File already used");
                return false;
             }else if(idFront == addFront){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("File already used");
                return false;
             }else if(idFront == addBack){
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("File already used");
                return false;
             }
             console.log("this.files[0].size  :",this.files[0].size);

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if (regexImage.test($(this).val())) {
                             $("#idPfrontImg").show();
                             $("#idPfrontImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='idFrontClick()' id='idFrontBtn'>Download Image</button>");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idPfrontImg img").attr("src", e.target.result);
                                 $("#idPfrontImg img").attr("style", "width: 200px");
                                 $("#idPfrontImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                              $("#idPfrontImg").hide();
                         }
                     }else{
                        $("#idFrontErr").text("");
                        $('#IdProofFront').val('');
                        $("#idPfrontImg").hide();
                        $("#idFrontErr").text("Document File should not exceeded from 5MB");
                        idFront = "";
                     } 

                 } else {
                     $('#IdProofFront').val('');
                 }
             } else {
                $("#idFrontErr").text("");
                $('#IdProofFront').val('');
                $("#idPfrontImg").hide();
                $("#idFrontErr").text("Invalid File Type");
                idFront = "";
             }
         });

         $("#IdProofBack").change(function () {
             $("#idBackErr").text("");
             $("#idPbackImg").html("");

             idBack = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(idBack == idFront){
                $("#idBackErr").text("");
                $('#IdProofBack').val('');
                $("#idPbackImg").hide();
                $("#idBackErr").text("File already used");
                return false;
             }else if(idBack == addFront){
                $("#idBackErr").text("");
                $('#IdProofBack').val('');
                $("#idPbackImg").hide();
                $("#idBackErr").text("File already used");
                return false;
             }else if(idBack == addBack){
                $("#idBackErr").text("");
                $('#IdProofBack').val('');
                $("#idPbackImg").hide();
                $("#idBackErr").text("File already used");
                return false;
             }
             var regex = /(.*?)\.(pdf|gif|png|jpeg|jpg|JPEG|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if (regexImage.test($(this).val())) {
                             $("#idPbackImg").show();
                             $("#idPbackImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='idbackClick()' id='idBack_btn'>Download Image</button>");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idPbackImg img").attr("src", e.target.result);
                                 $("#idPbackImg img").attr("style", "width: 200px");
                                 $("#idPbackImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#idPbackImg").hide();
                         }
                     }else{
                        $("#idBackErr").text("");
                        $('#IdProofBack').val('');
                        $("#idPbackImg").hide();
                        $("#idBackErr").text("Document File should not exceed 5MB");
                        idBack="";
                     } 
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#idBackErr").text("");
                $('#IdProofBack').val('');
                $("#idPbackImg").hide();
                $("#idBackErr").text("Invalid File Type");
                idBack="";
             }
         });

         $("#AddressProofFront").change(function () {
             $("#addFrontErr").html("");
             $("#idAfrontImg").html("");

             addFront = $(this).val().replace(/C:\\Fakepath\\/i, '');

             if(addFront == idFront){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("File already used");
                return false;
             }else if(addFront == idBack){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("File already used");
                return false;
             }else if(addFront == addBack){
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("File already used");
                return false;
             }

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if(regexImage.test($(this).val())) {
                             $("#idAfrontImg").show();
                             $("#idAfrontImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='addfrotClick()' id='addFront_btn'>Download Image</button>");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idAfrontImg img").attr("src", e.target.result);
                                 $("#idAfrontImg img").attr("style", "width: 200px");
                                 $("#idAfrontImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#idAfrontImg").hide();
                         }
                      }else{
                        $("#addFrontErr").text("");
                        $('#AddressProofFront').val('');
                        $("#idAfrontImg").hide();
                        $("#addFrontErr").text("Document File should not exceeded from 5MB");
                        addFront="";
                     } 
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#addFrontErr").text("");
                $('#AddressProofFront').val('');
                $("#idAfrontImg").hide();
                $("#addFrontErr").text("Invalid File Type");
                addFront="";
             }
         });

         $("#AddressProofBack").change(function () {
             $("#addBackErr").html("");
             $("#idAbackImg").html("");

             addBack = $("#AddressProofBack").val().replace(/C:\\Fakepath\\/i, '');

             if(addBack == idFront){
                $("#addBackErr").text("");
                $('#AddressProofBack').val('');
                $("#idAbackImg").hide();
                $("#addBackErr").text("File already used");
                return false;
             }else if(addBack == idBack){
                $("#addBackErr").text("");
                $('#AddressProofBack').val('');
                $("#idAbackImg").hide();
                $("#addBackErr").text("File already used");
                return false;
             }else if(addBack == addFront){
                $("#addBackErr").text("");
                $('#AddressProofBack').val('');
                $("#idAbackImg").hide();
                $("#addBackErr").text("File already used");
                return false;
             }

             var regex = /(.*?)\.(pdf|gif|png|jpeg|JPEG|jpg|doc|docx)$/;
             if (regex.test($(this).val().toLowerCase())) {
                 if (typeof (FileReader) != "undefined") {
                     if(this.files[0].size < 5242880){
                         var regexImage = /(.*?)\.(png|jpeg|JPEG|jpg|gif)$/;
                         if(regexImage.test($(this).val())) {
                             $("#idAbackImg").show();
                             $("#idAbackImg").append("<img class='imgZoom'/><button class='btn btn_primary' style='margin-top:2%' type='button' onclick='addBackClick()' id='addBack_btn'>Download Image</button>");
                             var reader = new FileReader();
                             reader.onload = function (e) {
                                 $("#idAbackImg img").attr("src", e.target.result);
                                 $("#idAbackImg img").attr("style", "width: 200px");
                                 $("#idAbackImg img").attr("style", "height: 100px");
                             }
                             reader.readAsDataURL($(this)[0].files[0]);
                         }else{
                             $("#idAbackImg").hide();
                         }
                    }else{
                        $("#addBackErr").text("");
                        $('#AddressProofBack').val('');
                        $("#idAbackImg").hide();
                        $("#addBackErr").text("Document File should not exceeded from 5MB");
                        addBack="";
                    } 
                 } else {
                     alert("This browser does not support FileReader.");
                 }
             } else {
                $("#addBackErr").text("");
                $('#AddressProofBack').val('');
                $("#idAbackImg").hide();
                $("#addBackErr").text("Invalid File Type");
                addBack="";
             }
         });

     });


    /* docUpdateId*/
     function openSearchGrid() {
         if ($("#CustomerReferenceNoId").val() == "") {
             document.getElementById('resSearch').style.display = 'none';
             document.getElementById('uploadSection').style.display = 'none';
         }
     };
 
    function OnSuccessUploadDoc(res) {
        debugger;
        console.log(res);

        if (res.searchCustomer.result.success == true) {

            document.getElementById("noRecord").style.display = "none";

            //$("#resSearch div").parent().remove();

            document.getElementById("CustomerName").value = res.searchCustomer.result.data[0].customerName;
            //document.getElementById("FormNumber").value = res.searchCustomer.result.data[0].formNumber;

            if(res.searchCustomer.result.data[0].status != 0){
                document.getElementById('uploadSection').style.display = 'block';
                document.getElementById('resSearch').style.display = 'block';
                $("#CustomerReferenceNoId").prop('readonly', true);
            }else{
                $("#noRecord").html("");
                $("#noRecord").append("<span>" + res.searchCustomer.result.data[0].reason + "</span>");
                document.getElementById('uploadSection').style.display = 'none';
                document.getElementById('resSearch').style.display = 'block';
                $("#CustomerReferenceNoId").prop('readonly', true);
                document.getElementById("noRecord").style.display = "block";
            }
        } else {
            document.getElementById('uploadSection').style.display = 'none';
            document.getElementById('resSearch').style.display = 'none';
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchCustomer.result.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    };

    function OnSuccessUploadDocSave(res) {
        //debugger;
        const myArray = res.split(",");
        console.log(myArray[1]);
        //alert(res);
        /*alert(myArray[0]);*/
        //var customerReferenceNo = $('#CustomerReferenceNo').val();
        //console.log(customerReferenceNo);
        var imagePath = $('#IdProofFrontSRC').val();
        if (imagePath != "")
            window.location.href = '@Url.Action("SuccessUploadDocumentRedirect", "Customer")?FormNumber='+myArray[1];
        else
            window.location.href = '@Url.Action("SuccessUploadRedirect", "Customer")?FormNumber='+myArray[1];

    };

     function OnFailure(data) {
         alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

    function OpenModelPOPup(selectedbutton)
    {
        if(selectedbutton==1)
        {
          var txt = $("#IdProofFrontDownloadlnk").html();
          let arr = txt.split(' ');
          if(arr[1].toLowerCase()=="gif" || arr[1].toLowerCase()=="png" || arr[1].toLowerCase()=="jpeg" || arr[1].toLowerCase()=="jpg")
          {
              $('#dvViewImage').modal('show');
              $('#imgAttachment').attr('src',$('#IdProofFrontSrc').prop('src'));
          }
          else
          {
              var upath = document.getElementById("IdProofFrontSrc").src;
              var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
              url = url.replace("zzzzxx", upath);
              window.location.href = url;
          }
        }
        else if(selectedbutton==2)
        {
          var txt = $("#IdProofBackDownloadlnk").html();
          let arr = txt.split(' ');
          if(arr[1].toLowerCase()=="gif" || arr[1].toLowerCase()=="png" || arr[1].toLowerCase()=="jpeg" || arr[1].toLowerCase()=="jpg")
          {
              $('#dvViewImage').modal('show');
              $('#imgAttachment').attr('src',$('#IdProofBackSrc').prop('src'));
          }
          else
          {
              var upath = document.getElementById("IdProofBackSrc").src;
              var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
              url = url.replace("zzzzxx", upath);
              window.location.href = url;
          }
        }
        else if(selectedbutton==3)
        {
          var txt = $("#AddressProofFrontDownloadlnk").html();
          let arr = txt.split(' ');
          if(arr[1].toLowerCase()=="gif" || arr[1].toLowerCase()=="png" || arr[1].toLowerCase()=="jpeg" || arr[1].toLowerCase()=="jpg")
          {
              $('#dvViewImage').modal('show');
              $('#imgAttachment').attr('src',$('#AddressProofFrontSrc').prop('src'));
          }
          else
          {
              var upath = document.getElementById("AddressProofFrontSrc").src;
              var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
              url = url.replace("zzzzxx", upath);
              window.location.href = url;
          }
        }
        else if(selectedbutton==4)
        {
          var txt = $("#AddressProofBackDownloadlnk").html();
          let arr = txt.split(' ');
          if(arr[1].toLowerCase()=="gif" || arr[1].toLowerCase()=="png" || arr[1].toLowerCase()=="jpeg" || arr[1].toLowerCase()=="jpg")
          {
              $('#dvViewImage').modal('show');
              $('#imgAttachment').attr('src',$('#AddressProofBackSrc').prop('src'));
          }
          else
          {
              var upath = document.getElementById("AddressProofBackSrc").src;
              var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
              url = url.replace("zzzzxx", upath);
              window.location.href = url;
          }
        }
    }

    $("#ImgDownload").click(function () 
    {
        var upath = document.getElementById("imgAttachment").src;
        var url = '@Html.Raw(@Url.Action("CreateFileResult","Customer", new { Filepath="zzzzxx"  }))';
        //url = url.replace("zzzzxx", encodeURIComponent(upath));
        url = url.replace("zzzzxx", upath);
        window.location.href = url;
    });
</script>


<style>
.imgZoom {
    transition:transform 0.25s ease;
}

.imgZoom:hover {
    -webkit-transform:scale(2.5);
    transform:scale(2.5);
}
</style>