@model HPCL.Common.Models.ResponseModel.Interface.GetCustomerandCardFormResponse
@using HPCL.Common.Resources
@*<fieldset class="border-1 rounded border-grey h-100 w-auto">*@
@if (Model.CardFormDetails.Count() > 0)
{

    <div class="">
        <table id="cardFormDetails" class="datatable table d-table table-striped table-bordered table-responsive" style="width:100%;">
            <thead>
                <tr>
                    <th>S.No.</th>
                    @*<th>Customer Ref. No.</th>*@
                    <th>Form No.</th>
                    <th>Customer ID</th>
                    <th>Vehicle Make</th>
                    <th>Vehicle Type</th>
                    <th>Year Of Registration</th>
                    <th>Vehicle No./Card Identifier</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int sno = 0;
                }
                @foreach (var item in Model.CardFormDetails)
                {
                    <tr>
                        <td>
                            @{
                                sno++;
                            }
                            @sno
                        </td>
                        @*<td>@item.CustomerReferenceNo</td>*@
                        <td>@item.FormNumber</td>
                        <td>@item.CustomerID</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.VehicleType</td>
                        @if (item.YearOfRegistration == "0")
                        {
                            <td></td>
                        }
                        else
                        {
                            <td>@item.YearOfRegistration</td>
                        }
                        <td>@item.VechileNo</td>
                        <td>@item.Status</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
}
else
{
    <div class="alert alert-danger mt-3 text-center ml-3 mr-3">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#cardFormDetails').DataTable({
            "lengthMenu": [10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>