@model HPCL.Common.Models.ResponseModel.Interface.GetCustomerandCardFormResponse
@using HPCL.Common.Resources
@*<fieldset class="border-1 rounded border-grey h-100 w-auto">*@
@if (Model.CardFormDetails.Count() > 0)
{

    <div class="">
        <table id="cardFormDetails" class="datatable table table-striped table-bordered table-responsive" style="width:100%;">
            <thead>
                <tr>
                    <th>Card Ref. No.</th>
                    <th>Vehicle No/User Name</th>
                    <th>Year Of Registration</th>
                    <th>Manufacturer</th>
                    <th>Form Number</th>
                    <th>RawCustomerID/CustomerId</th>
                    <th>Vehicle Type</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.CardFormDetails)
                {
                    <tr>
                        <td>@item.CustomerReferenceNo</td>
                        <td>@item.VechileNo</td>
                        <td>@item.YearOfRegistration</td>
                        <td>@item.Manufacturer</td>
                        <td>@item.FormNumber</td>
                        <td>@item.CustomerID</td>
                        <td>@item.VehicleType</td>
                        <td>@item.Status</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="clearfix"></div>
}
else
{
    <div class="mb-3 text-center" style="background-color: #f9c9c9; color: #8d0d0d; border-color: #f3abab;">
        @Model.Message
    </div>
}

<script type="text/javascript">
    $(document).ready(function () {
        $('#cardFormDetails').DataTable({
            "lengthMenu": [5, 10, 20, 50, 100, 200, 500],
            "oLanguage": {
                "sLengthMenu": "Display _MENU_ Records",
                "info": "Showing _START_ to _END_ of _TOTAL_ Records",
            }
        });
    });
</script>

