@model HPCL.Common.Models.ViewModel.Cards.SearchCards

@using HPCL.Common.Resources

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
<div class="bg-white p-2 p-md-4 w-100">
    <form method="post" data-ajax="true" data-ajax-controller="Cards" data-ajax-action="AcDcCardSearch" data-ajax-method="POST" data-ajax-success="OnSuccessAcDcSearch" data-ajax-failure="OnFailure">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Deactivate / Reactivate Card Usage</p>
                    <div class="py-2 p-md-4">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.CustomerId<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerDefaultVal", @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0 offset-md-1">@Label.CardNumber</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.MobileNumber</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center flex-wrap mt-3">
                            <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="showGrid()">@Label.Search</button>
                            </div>
                            <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetFields()">@Label.Reset</a>
                            </div>
                        </div>

                        <div>
                            <div class="alert alert-warning" role="alert" style="display:none;" id="noRecord">
                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div class="clearfix"></div>
                    </div>
                    <div class="col-12 col-md-12 mt-3">
                        <table id="CardSearch" class="table table-striped table-bordered table-responsive text-nowrap" style="display:none;">
                            <thead>
                                <tr>
                                    <th>
                                        @Label.SrNumber
                                    </th>
                                    <th>
                                        @Label.CardNumber
                                    </th>
                                    <th>
                                        @Label.VehicleNumber
                                    </th>
                                    <th>
                                        @Label.MobileNumber
                                    </th>
                                    <th>
                                        @Label.Action
                                    </th>
                                    <th style="display: none;">

                                    </th>
                                    <th style="display: none;">

                                    </th>

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@using Microsoft.AspNetCore.Http;


<script type="text/javascript">

       $(document).ready(function () {

        var loginType = '@Context.Session.GetString("LoginType")';

        if (loginType == "Customer") {

            $.ajax({
                url: "@Url.Action("AcDcCardSearch", "Cards")",
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    OnSuccessAcDcSearch(data);

                    $("#CustomerDefaultVal").val('@Context.Session.GetString("UserId")');
                    $("#CustomerDefaultVal").attr("readonly", true);

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }
    });


    function showGrid() {
        if ($("input:text").val() == "") {
            document.getElementById('CardSearch').style.display = 'none';
        }
        //if (($("input:text").val() != "")) {
        //    document.getElementById('CardSearch').style.display = 'inline-table';
        //}
    }

    function resetFields() {
        location.reload();
    }


    function OnSuccessAcDcSearch(res) {

        console.log(res);

        if (res.searchList.success == true) {

            var girdList = res.searchList.data;

            document.getElementById("noRecord").style.display = "none";

            $("#CardSearch td").parent().remove();

            for (var i = 0; i < girdList.length; i++) {

                var rows = "<tbody><tr>"
                    + "<td>" + (girdList[i].srNumber || '') + "</td>"
                    + "<td class='crdNo'>" + (girdList[i].cardNumber || '') + "</td>"
                    + "<td>" + (girdList[i].vechileNo || '') + "</td>"
                    + "<td>" + (girdList[i].mobileNumber || '') + "</td>"
                    + "<td class='statusId' style='display:none'>" + (girdList[i].cardStatus || '') + "</td>"
                    + "<td class='checkStatus' style='display:none'>" + (girdList[i].status || '') + "</td>"
                    + "<td class='changeTxt'></td>"
                    + "</tr ></tbody>";

                $('#CardSearch').append(rows);

                if (girdList[i].status == "Active") {
                    $(".changeTxt").replaceWith("<td class='d-flex align-items-center justify-content-start'><a class='updateStatus' type='submit' name='submit' style='cursor:pointer;' data-toggle='tooltip' title="" tooltip='Reactivate'><i class='fa fa-check-circle text-success' aria-hidden='true'></i></a></td>");
                }
                if (girdList[i].status == "InActive") {
                    $(".changeTxt").replaceWith("<td class='d-flex align-items-center justify-content-start'><a class='updateStatus' type='submit' name='submit'style='cursor:pointer;' data-toggle='tooltip' title="" tooltip='Deactivate'><i class='fa fa-times-circle text-danger' aria-hidden='true'></i></a></td>");
                }
            }
            document.getElementById('CardSearch').style.display = 'inline-table';
        } else {
            document.getElementById("CardSearch").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

    $("#CardSearch").on('click', '.updateStatus', function (e) {

        var currentRow = $(this).closest("tr");

        var cardNumber = currentRow.find(".crdNo").text();
        var cardStatus = currentRow.find(".statusId").text();
        var status = currentRow.find(".checkStatus").text();

        console.log(cardNumber, "cardNumber");
        console.log(cardStatus, "cardStatus");
        console.log(status, "status current");

        var dfs = (status == "Active") ? dfs = 5 : dfs = 4;

        $.ajax({
            url: "@Url.Action("UpdateStatus","Cards")",
            type: "POST",
            dataType: "JSON",
            data: { cardNo: cardNumber, Statusflag: dfs },
            success: function (resp) {

                console.log(resp,"res");

                $.ajax({
                    url: "@Url.Action("AcDcCardSearch", "Cards")",
                    type: "POST",
                    dataType: "JSON",
                    success: function (res) {

                        OnSuccessAcDcSearch(res);

                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    });

</script>
