@model HPCL.Common.Models.ViewModel.Cards.SearchCards

@using HPCL.Common.Resources

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
<div class="bg-white p-2 p-md-4 w-100" style="background: #edecec !important;">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Cards</a> </li>
        <li class="breadcrumb-item font-weight-light">Deactivate / Reactivate Card Usage</li>
    </ul>
    <form id="formVal">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100">
                    <p class="text-white px-3 py-2 m-0 font-weight-bold" style="background: #084693;">Deactivate / Reactivate Card Usage</p>
                    <div class="py-2 p-md-4 bg-white">
                        <div class="w-100">
                            <div class="d-flex align-items-center justify-content-between flex-wrap">
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.CustomerId<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerDefaultVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CustomerId, "", new {id="CustomerDefaultValErr", @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0 offset-md-1">@Label.CardNumber</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.CardNo, new {@id="cardNoVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 col-12 px-0">
                                    <div class="form-group d-flex align-items-center flex-wrap">
                                        <label class="font-weight-normal col-md-4 col-12 mb-0">@Label.MobileNumber</label>
                                        <div class="col-md-7 col-12">
                                            @Html.TextBoxFor(m => m.MobileNo, new {@id="mobNoVal", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                            @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="d-flex align-items-center justify-content-center flex-wrap mt-3">
                            <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                <button class="btn btn_primary" type="button" onclick="searchCards()">@Label.Search</button>
                            </div>
                            <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                <a class="btn btn_primary" href="#" id="btnCancel" name="cancel" onclick="resetFields()">@Label.Reset</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="table-responsive" id="CardSearch" style="display:none; padding:0px 1%;">
                        <table class="datatable table table-striped d-block d-md-table table-bordered table-responsive mt-3" style="width:100%;">
                            <thead>
                                <tr>
                                    <th style="width:5%;">
                                        S.No.
                                    </th>
                                    <th style="width:28.3%;">
                                        @Label.CardNumber
                                    </th>
                                    <th style="width:28.3%;">
                                        @Label.VehicleNumber
                                    </th>
                                    <th style="width:28.3%;">
                                        @Label.MobileNumber
                                    </th>
                                    <th style="width:28.3%;">
                                        Card Status
                                    </th>
                                    <th style="width:10%;">
                                        @Label.Action
                                    </th>
                                    <th style="display: none;">

                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div id="noRecord" class="mt-3 mb-0 text-center alert alert-danger" style="display:none;"></div>                       
            </div>
        </div>
    </form>
</div>


@using Microsoft.AspNetCore.Http;


<script type="text/javascript">

        $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

       $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
        var loginType = '@Context.Session.GetString("LoginType")';

        if (loginType == "Customer") {

            $.ajax({
                url: "@Url.Action("AcDcCardSearch", "Cards")",
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    OnSuccessAcDcSearch(data);

                    $("#CustomerDefaultVal").val('@Context.Session.GetString("UserId")');
                    $("#CustomerDefaultVal").attr("readonly", true);
                    document.getElementById('CardSearch').style.display = 'block';

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }
    });


    function resetFields() {
        window.location.reload(true);
    }

    function searchCards() {

        var flag = "Y";

        var customerId = $("#CustomerDefaultVal").val();
        var cardNo = $("#cardNoVal").val();
        var mobNo = $("#mobNoVal").val();

        if(mobNo != ''){
            if(cardNo == ''){
                if(customerId == ''){
                    $("#CustomerDefaultValErr").text("Customer ID should not be left empty");
                    flag = "N";
                }
            }
        }

        if(mobNo == '' && cardNo == ''){
            if(customerId == ''){
                $("#CustomerDefaultValErr").text("Please enter either Customer ID or Card Number.");
                flag = "N";
            }
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
            if ($("#formVal").valid()) {

                $.ajax({
                    type: 'POST',  // http method
                    url: '@Url.Action("AcDcCardSearch", "Cards")',
                    data: $('#formVal').serialize(),  // data to submit
                    success: function (res, status, xhr) {

                       OnSuccessAcDcSearch(res);

                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error");
                    }
                });
            } else {
                return false;
            }
        }
    }

    function OnSuccessAcDcSearch(res) {

        console.log(res);

        if (res.searchList.success == true) {

            var girdList = res.searchList.data;

            document.getElementById("noRecord").style.display = "none";

            $('#CardSearch table').DataTable().clear().destroy();

            var tbl = $('#CardSearch table').DataTable({
                'columns' : [
                    null,
                    null,
                    null,
                    null,
                    null,
                    null,
                    { className: "hide_column" }
                ]
            });

            for (var i = 0; i < girdList.length; i++) {

                var actionName;

                if (girdList[i].status == "Active") {
                    actionName = "<div class='changeTxt d-flex align-items-center justify-content-start'><a class='btn btn_primary updateStatus bg-success' type='submit'>Reactivate</a></div>";
                }
                if (girdList[i].status == "InActive") {
                    actionName = "<div class='changeTxt d-flex align-items-center justify-content-start'><a class='btn btn_primary updateStatus bg-danger' type='submit'>Deactivate</a></div>";
                }

                var srNumber = (girdList[i].srNumber || '');
                var cardNumber = "<span class='crdNo'>" + (girdList[i].cardNumber || '') + "</span>";
                var vechileNo = (girdList[i].vechileNo || '');
                var mobileNumber = (girdList[i].mobileNumber || '');
                var status = "<span class='checkStatus'>" + (girdList[i].status || '') + "</span>";
                var action = actionName;
                var cardStatus = "<span class='statusId' style='display:none'>" + (girdList[i].cardStatus || '') + "</span>";
                
                tbl.row.add([
                    srNumber,
                    cardNumber,
                    vechileNo,
                    mobileNumber,
                    status,
                    action,
                    cardStatus
                ]).draw();
           
            }
            document.getElementById('CardSearch').style.display = 'block';
        } else {
            document.getElementById("CardSearch").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }

    $("#CardSearch").on('click', '.updateStatus', function (e) {

        var currentRow = $(this).closest("tr");

        var cardNumber = currentRow.find(".crdNo").text();
        var cardStatus = currentRow.find(".statusId").text();
        var status = currentRow.find(".checkStatus").text();

        console.log(cardNumber, "cardNumber");
        console.log(cardStatus, "cardStatus");
        console.log(status, "status current");

        var dfs = (status == "Active") ? dfs = 5 : dfs = 4;

        $.ajax({
            url: "@Url.Action("UpdateStatus","Cards")",
            type: "POST",
            dataType: "JSON",
            data: { cardNo: cardNumber, Statusflag: dfs },
            success: function (resp) {

                console.log(resp,"res");

                $.ajax({
                    url: "@Url.Action("AcDcCardSearch", "Cards")",
                    type: "POST",
                    dataType: "JSON",
                    data: $('#formVal').serialize(), 
                    success: function (res) {

                        OnSuccessAcDcSearch(res);

                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    });

</script>

<style>
  .hide_column{
      display:none;
  }
</style>