@model HPCL.Common.Models.ViewModel.Cards.CorporateMultiRechargeLimitModel

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index","Cards")" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light">Corporate Multi Recharge Limit Configuration</li>
        </ul>

        <form method="post" class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mb-3">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Corporate Multi Recharge Limit Configuration</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3"> 
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mt-3">
                                        <label id="lblCardNo" class="font-weight-normal col-md-3 col-12">Customer ID<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)", autocomplete = "off" })
                                            </div>
                                            <span style="display:none" class="error" id="customerId_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-12 d-flex align-items-center justify-content-center mt-3">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="submit">SEARCH</button>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" id="btnSearch" type="button" onclick="location.href='@Url.Action("CorporateMultiRechargeLimitConfig", "Cards")'">RESET</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </form>
        <div class="clearfix"></div>

        @if (Model.Data.Count() > 0)
        {
            @if (Model.Data.First().Reason == null)
            {
                <div class="w-100">
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mb-3 toBeHiddenOnSuccess">
                        <div class="border-1 rounded border-grey pb-3">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Select limits to be Configured</p>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 col-md-12 col-12 py-3">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-12 col-12">
                                        <div class="d-flex align-items-center flex-wrap mt-3">
                                            @foreach (var item in Model.Data)
                                            {
                                                <label id="lblLimitType" class="font-weight-normal">@item.TypeOfLimit:</label>
                                                @if (item.CheckUncheckId == "0")
                                                {
                                                    <input type="checkbox" class="col-md-1 align-content-start" id="@item.LimitId" name="@item.TypeOfLimit" value="@item.CheckUncheckId">
                                                }
                                                @if (item.CheckUncheckId == "1")
                                                {
                                                    <input type="checkbox" class="col-md-1 align-content-start" id="@item.LimitId" name="@item.TypeOfLimit" checked value="@item.CheckUncheckId">
                                                }
                                            }
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div> 
                                <div class="col-12 d-flex align-items-center justify-content-center mt-3">
                                    <div class="px-2">
                                        <button class="btn btn_primary" id="btnConfigure" type="button">CONFIGURE LIMITS</button>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            }
            else
            {

                @if (Model.Data.First().Status == "0")
                {
                    <div id="reason" class="mb-3 text-center alert alert-danger">@Model.Data.First().Reason</div>
                }
                @if (Model.Data.First().Status == "1")
                {
                    <div id="reason" class="mb-3 text-center alert alert-success">@Model.Data.First().Reason</div>
                }
            }
        }
        else
        {
            @if (Model.Message != "" && Model.Message != null)
            {
                <div id="noRecord" class="mb-3 text-center alert alert-danger">@Model.Message</div>
            }
        }

        <div class="clearfix"></div>
        <div id="response" class="mb-3 text-center alert"></div>

    </div>
</div>
<script type="text/javascript">
       $("#btnSearch").on("click", (function (e) {

           var flag = "Y";

         var customerId = $("#CustomerID").val();
             if (customerId.trim() != "") {
                 if (!(customerId.match(corporateCustomerCheck))) {
                     $("#customerId_error").attr("style", "display:block");
                     $("#customerId_error").html("Customer ID should be 10 digit number and start with 28.");
                     flag="N";
                 }
                 else{
                     $("#customerId_error").attr("style", "display:none");
                     $("#customerId_error").html("");
                 }
             }
             else{
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Enter Customer ID");
                 flag="N";
             }

           if (flag == "N")
               e.preventDefault();
      })
      );
     $("#CustomerID").on("blur", function () {
             var customerId = $("#CustomerID").val();
             if (customerId.trim() != "") {
                 if (!(customerId.match(corporateCustomerCheck))) {
                     $("#customerId_error").attr("style", "display:block");
                     $("#customerId_error").html("Customer ID should be 10 digit number and start with 28.");
                 }
                 else{
                     $("#customerId_error").attr("style", "display:none");
                     $("#customerId_error").html("");
                 }
             }
             else{
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Enter Customer ID");
             }
         });
    $("#btnConfigure").on("click", (function (e) {
        var flag="Y";
         var customerId = $("#CustomerID").val();
         if (customerId.trim() != "") {
             if (!(customerId.match(corporateCustomerCheck))) {
                 $("#customerId_error").attr("style", "display:block");
                 $("#customerId_error").html("Customer ID should be 10 digit number and start with 28.");
                 flag="N";
             }
             else{
                 $("#customerId_error").attr("style", "display:none");
                 $("#customerId_error").html("");
             }
         }
         else{
             $("#customerId_error").attr("style", "display:block");
             $("#customerId_error").html("Enter Customer ID");
             flag="N";
         }
         if (flag == "N")
             e.preventDefault();
         else{

             LimitConfig=[];
             $('input[type=checkbox]').each(function() {
                 debugger;
                 var statusFlag=0;
                 if(this.checked)
                     statusFlag=1;
                 var limitType=this.id;
                 LimitConfig.push({ CustomerID: customerId, Limittype: limitType, StatusFlag:statusFlag});
             });

               if (confirm('Are you sure you want to configure these limits.')) {
                 var LimitReqmodel = {  ObjLimitConfig: LimitConfig };
                 $.ajax({
                     type: 'POST',
                     url: '@Url.Action("ConfigureLimits", "Cards")',
                     contentType: "application/json; charset=utf-8",
                     dataType: 'json',
                     data: JSON.stringify(LimitReqmodel),
                     success: function (data) {
                        if(data.length>0){
                               if(data[0].status=="0"){
                                  $("#response").addClass("alert-danger");
                                  if($("#response").hasClass("alert-success"))
                                     $("#response").removeClass("alert-success");
                               }
                               else{
                                   $("#response").addClass("alert-success");
                                   if($("#response").hasClass("alert-danger"))
                                     $("#response").removeClass("alert-danger");
                               }
                               $("#response").html(data[0].reason);
                               $("#response").attr("style","display:block");
                               $(".toBeHiddenOnSuccess").hide();
                           }

                     },
                     error: function (ex) {
                         alert('Error.' + ex);
                     }
                 });
             }
         }
     }));
</script>