@model HPCL.Common.Models.ViewModel.Cards.EnableCustomerServicesModel
@using HPCL.Common.Resources;
@{
    ViewData["Title"] = "Enable / Disable Products and Transactions";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light">Enable / Disable Products and Transactions</li>
        </ul>
        <div id="reason" class="mb-3 text-center alert alert-success mt-3" style="display:none;"></div>
        <div id="dvNoData" style="display:none;" class="alert alert-danger mt-3 text-center ml-3 mr-3"></div>
        <form id="formVal" class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Enable / Disable Products and Transactions</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "error", @id = "CustomerIdValErrMsg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Card Number </label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control restrictPaste", maxlength = "16", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "error", @id = "CardNoErrMsg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Mobile Number</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control", maxlength = "10", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "error", @id = "MobileNoErrMsg" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-0">
                            <div class="px-2">
                                <button class="btn btn_primary" type="button" id="btnSearch">@Label.Search</button>
                            </div>
                            <div class="px-2">
                                <button class="btn btn_primary" type="button" id="btnReset">@Label.Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="display:none;" class="alert alert-danger mt-3 text-center ml-3 mr-3" id="noRecord"></div>
                <div class="clearfix"></div>
                <div id="dvDetails" style="display:none">
                    <div class="col-lg-6 col-md-6 col-12 pl-0 pr-2 mt-3">
                        <div class="border-1 rounded border-grey pb-3">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Available Product</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3" style="min-height:398px">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-md-12 col-12 px-0" id="AvailableProductTbl">
                                        <table class="table d-md-table d-block" style="width:100%;" id="AvailablePTbl">
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 pl-2 pr-0 mt-3">
                        <div class="border-1 rounded border-grey pb-3">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Allowed Product</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3" style="min-height:398px">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-md-12 col-12 px-0" id="AllowedProductTbl">
                                        <table class="table d-md-table d-block" style="width:100%;" id="AllowedPTbl">
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 pl-0 pr-2 mt-3">
                        <div class="border-1 rounded border-grey pb-3">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Available Transaction Type</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3" style="min-height:398px">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-md-12 col-12 px-0" id="AvailableTransactionsTypeTbl">
                                        <table class="table d-md-table d-block" style="width:100%;" id="AvailableTTbl">
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-12 pl-2 pr-0 mt-3">
                        <div class="border-1 rounded border-grey pb-3">
                            <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Allowed Transaction Type</p>
                            <div class="col-lg-12 col-md-12 col-12 py-3" style="min-height:398px">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-md-12 col-12 px-0" id="AllowedTransactionsTypeTbl">
                                        <table class="table d-md-table d-block" style="width:100%;" id="AllowedTTbl">
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                     <div class="clearfix"></div>
                      <div class="d-flex align-items-center justify-content-center mt-0">
                         <div class="px-0">
                            <button class="btn btn_primary" id="btnsubmit" type="button">SAVE</button>
                         </div>
                      </div>
                </div>
                
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>
<div id="divFullProductsTbl" style="display:none">
    <table class="table d-md-table d-block" id="FullProductsTbl">
    </table>
</div>
<div id="divFullTransactionsTbl" style="display:none">
    <table class="table d-md-table d-block" id="FullTransactionsTbl">
    </table>
</div>
<script>

    $("#CustomerId").on("blur", function ()
    {
        if ($("#CustomerId").val().trim() == "")
        {
            $('#CustomerIdValErrMsg').html("Please enter Customer ID");
            return false;
        }
        else if (!$("#CustomerId").val().match(mappedCustomerId))
        {
            $("#CustomerIdValErrMsg").attr("style", "display:block");
            $("#CustomerIdValErrMsg").html("Invalid Customer ID");
            return false;
        }
        else
        {
            $('#CustomerIdValErrMsg').html("");
        }

    })

    $("#MobileNo").on("blur", function ()
    {
        //debugger;
        var comMobile = document.getElementById("MobileNo").value.trim();
        if (comMobile != "")
        {
            if (comMobile.substring(0, 1) == "0")
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                return false;
            }
            else if (comMobile.length < 10)
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                return false;
            }
            else if (!comMobile.match(phoneno))
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                return false;
            }
            else
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "";
            }
        }
        else
        {
            document.getElementById("MobileNoErrMsg").innerHTML = "";
        }
    });

    $("#CardNo").on("blur", function ()
    {
        //debugger;
        var cardNo = document.getElementById("CardNo").value.trim();
        if (cardNo != "")
        {
            if (cardNo.substring(0, 1) == "0")
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                return false;
            }
            else if (cardNo.length < 16)
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                return false;
            }
            else if (!cardNo.match(cardNoCheck))
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                return false;
            }
            else
            {
                document.getElementById("CardNoErrMsg").innerHTML = "";
            }
        }
        else
        {
            document.getElementById("CardNoErrMsg").innerHTML = "";
        }

    });
    $('#CustomerId').keypress(function (e) {
        if (e.keyCode == 13) {  // detect the enter key
            e.preventDefault();
            $('#btnSearch').click();
        }
    });

    $("#btnSearch").on("click", (function (e)
    {
        debugger;
        var flag="Y";
        if ($("#CustomerId").val().trim() == "")
        {
            $('#CustomerIdValErrMsg').html("Please enter Customer ID");
            $("#CustomerIdValErrMsg").attr("style", "display:block");
            flag="N";
        }
        else if (!$("#CustomerId").val().match(mappedCustomerId))
        {
            $("#CustomerIdValErrMsg").attr("style", "display:block");
            $("#CustomerIdValErrMsg").html("Invalid Customer ID");
            flag="N";
        }
        else
        {
            $('#CustomerIdValErrMsg').html("");
        }

        var cardNo = document.getElementById("CardNo").value.trim();
        if (cardNo != "")
        {
            if (cardNo.substring(0, 1) == "0")
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                $("#CardNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else if (cardNo.length < 16)
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                $("#CardNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else if (!cardNo.match(cardNoCheck))
            {
                document.getElementById("CardNoErrMsg").innerHTML = "Invalid Card Number";
                $("#CardNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else
            {
                document.getElementById("CardNoErrMsg").innerHTML = "";
            }
        }
        else
        {
            document.getElementById("CardNoErrMsg").innerHTML = "";
        }

        var comMobile = document.getElementById("MobileNo").value.trim();
        if (comMobile != "")
        {
            if (comMobile.substring(0, 1) == "0")
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                $("#MobileNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else if (comMobile.length < 10)
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                $("#MobileNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else if (!comMobile.match(phoneno))
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "Invalid Mobile Number. Min-Max 10 digits";
                $("#MobileNoErrMsg").attr("style", "display:block");
                flag="N";
            }
            else
            {
                document.getElementById("MobileNoErrMsg").innerHTML = "";
            }
        }
        else
        {
            document.getElementById("MobileNoErrMsg").innerHTML = "";
        }

        if(flag=="Y")
        {
              $.ajax({
                url: "@Url.Action("GetDetailForEnableDisableProductsAndTransactions","Cards")",
                type: "POST",
                dataType: "JSON",
                data: { CustomerId: $("#CustomerId").val(), CardNo: cardNo, MobileNo:comMobile },
                success: function (resp)
                {
                    debugger;
                    console.log(resp,"res");
                    if (resp.searchList.success == true)
                    {
                         if(resp.searchList.data.getProductsTransactionsStatus.length>0)
                         {
                            if(resp.searchList.data.getProductsTransactionsStatus[0].status==1)
                            {
                                $("#AvailableProductTbl td").parent().remove();
                                //$('#AvailableProductTbl table').DataTable().clear().destroy();

                                $("#AllowedProductTbl td").parent().remove();
                                $("#AvailableTransactionsTypeTbl td").parent().remove();
                                $("#AllowedTransactionsTypeTbl td").parent().remove();

                                $("#divFullProductsTbl td").parent().remove();
                                $("#divFullTransactionsTbl td").parent().remove();

                                var j=0;
                                var k=0;
                                var z=0;
                                var availableRows = "<tbody>"
                                var allowedRows = "<tbody>"
                                var availableTranRows = "<tbody>"
                                var allowedTranRows = "<tbody>"
                                var fullProductRows = "<tbody>"
                                var fullTransactionRows = "<tbody>"

                                for (var i = 0; i < resp.searchList.data.getProductsType.length; i++)
                                {
                                    z=z+1;
                                    //debugger;
                                    if(resp.searchList.data.getProductsType[i].statusFlag==0)
                                    {
                                        j=j+1;

                                        availableRows += "<tr>"
                                          + "<td style='width: 7%;'>"+ (j) +"</td>"
                                          + "<td style='width: 77%;'>" + resp.searchList.data.getProductsType[i].productName + "</td>"
                                          + "<td style='display:none'>" + resp.searchList.data.getProductsType[i].productID + "</td>"
                                          + "<td style='width: 16%;'><button class='btn btn_primary BtnAdd' type='button'>Add</button></td>"
                                          + "</tr >";

                                    }
                                    //debugger;
                                    if(resp.searchList.data.getProductsType[i].statusFlag==1)
                                    {
                                        k=k+1;

                                         allowedRows += "<tr>"
                                          + "<td style='width: 7%;'>"+ (k) +"</td>"
                                          + "<td style='width: 77%;'>" + resp.searchList.data.getProductsType[i].productName + "</td>"
                                          + "<td style='display:none'>" + resp.searchList.data.getProductsType[i].productID + "</td>"
                                          + "<td style='width: 16%;'><a class='Icons_sty' data-toggle='tooltip' title='' tooltip='Delete'><i class='fa fa-times-circle text-danger Delete'></i></a></td>"
                                          + "</tr >";
                                    }

                                    fullProductRows += "<tr>"
                                          + "<td>"+ (z) +"</td>"
                                          + "<td>" + resp.searchList.data.getProductsType[i].productName + "</td>"
                                          + "<td>" + resp.searchList.data.getProductsType[i].productID + "</td>"
                                          + "<td>" + resp.searchList.data.getProductsType[i].statusFlag + "</td>"
                                          + "</tr>";

                                }
                                availableRows += "</tbody>"
                                $('#AvailableProductTbl table').append(availableRows);

                                allowedRows += "</tbody>"
                                $('#AllowedProductTbl table').append(allowedRows);

                                fullProductRows += "</tbody>"
                                $('#divFullProductsTbl table').append(fullProductRows);

                                var j=0;
                                var k=0;
                                var z=0;
                                for (var i = 0; i < resp.searchList.data.getTransactionsType.length; i++)
                                {
                                    //debugger;
                                    if(resp.searchList.data.getTransactionsType[i].statusFlag==0)
                                    {
                                        j=j+1;

                                        availableTranRows += "<tr>"
                                          + "<td style='width: 7%;'>"+ (j) +"</td>"
                                          + "<td style='width: 77%;'>" + resp.searchList.data.getTransactionsType[i].transactionType + "</td>"
                                          + "<td style='display:none'>" + resp.searchList.data.getTransactionsType[i].transactionID + "</td>"
                                          + "<td style='width: 16%;'><button class='btn btn_primary BtnAdd' type='button'>Add</button></td>"
                                          + "</tr >";

                                    }
                                    //debugger;
                                    if(resp.searchList.data.getTransactionsType[i].statusFlag==1)
                                    {
                                        k=k+1;

                                         allowedTranRows += "<tr>"
                                          + "<td style='width: 7%;'>"+ (k) +"</td>"
                                          + "<td style='width: 77%;'>" + resp.searchList.data.getTransactionsType[i].transactionType + "</td>"
                                          + "<td style='display:none'>" + resp.searchList.data.getTransactionsType[i].transactionID + "</td>"
                                          + "<td style='width: 16%;'><a class='Icons_sty' data-toggle='tooltip' title='' tooltip='Delete'><i class='fa fa-times-circle text-danger Delete'></i></a></td>"
                                          + "</tr >";

                                    }

                                    z=z+1;

                                    fullTransactionRows += "<tr>"
                                          + "<td>"+ (z) +"</td>"
                                          + "<td>" + resp.searchList.data.getTransactionsType[i].transactionType + "</td>"
                                          + "<td>" + resp.searchList.data.getTransactionsType[i].transactionID + "</td>"
                                          + "<td>" + resp.searchList.data.getTransactionsType[i].statusFlag + "</td>"
                                          + "</tr>";

                                }

                                availableTranRows += "</tbody>"
                                $('#AvailableTransactionsTypeTbl table').append(availableTranRows);

                                allowedTranRows += "</tbody>"
                                $('#AllowedTransactionsTypeTbl table').append(allowedTranRows);

                                fullTransactionRows += "</tbody>"
                                $('#divFullTransactionsTbl table').append(fullTransactionRows);

                                document.getElementById("noRecord").style.display = "none";
                                document.getElementById("noRecord").innerHTML="";
                                document.getElementById("dvDetails").style.display = "block";
                            }
                            else
                            {
                                document.getElementById("noRecord").style.display = "block";
                                document.getElementById("noRecord").innerHTML=resp.searchList.data.getProductsTransactionsStatus[0].reason;
                                document.getElementById("dvDetails").style.display = "none";
                            }

                         }
                         else
                         {
                               document.getElementById("noRecord").style.display = "block";
                               document.getElementById("noRecord").innerHTML=resp.searchList.message;
                               document.getElementById("dvDetails").style.display = "none";
                         }
                         $("#CustomerId").prop('readonly', true);
                         $("#CardNo").prop('readonly', true);
                         $("#MobileNo").prop('readonly', true);
                    }
                    else
                    {
                        document.getElementById("noRecord").style.display = "block";
                        document.getElementById("noRecord").innerHTML=resp.searchList.message;
                        document.getElementById("dvDetails").style.display = "none";
                    }

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });


        }

     }));

    $("#btnReset").click(function ()
    {
        window.location.href = '@Url.Action("EnableCustomerServices", "Cards")';
    });

    $("#AllowedPTbl").on('click', '.Delete', function ()
    {
        debugger;
        row = $(this).closest("tr");
        var i = row[0].cells[0].textContent;
        var productID = row[0].cells[2].textContent;
        var productName = row[0].cells[1].textContent;
        //alert(productID);
        $("#FullProductsTbl tbody tr").each(function ()
        {
            debugger;
            var row1 = $(this);
            var rowProductID = row1[0].cells[2].textContent;

            if (rowProductID == productID)
            {
                row1[0].cells[3].innerHTML="0";
            }
        });
        //alert(i);
        if(i>0)
        {
           var j= AvailablePTbl.rows.length;
           var rowContent = "<tr>"
                                      + "<td style='width: 7%;'>"+ (j+1) +"</td>"
                                      + "<td style='width: 77%;'>" + productName + "</td>"
                                      + "<td style='display:none'>" + productID + "</td>"
                                      + "<td style='width: 16%;'><button class='btn btn_primary BtnAdd' type='button'>Add</button></td>"
                                      + "</tr>";

          $("#AvailablePTbl").find('tbody').append(rowContent);
          document.getElementById("AllowedPTbl").deleteRow(i-1);
        }

        var z=0;
        $("#AllowedPTbl tbody tr").each(function ()
        {
            z=z+1;
            var row2 = $(this);
            row2[0].cells[0].innerHTML=z;
        });

    });

    $("#AllowedTTbl").on('click', '.Delete', function ()
    {
        debugger;
        row = $(this).closest("tr");
        var i = row[0].cells[0].textContent;
        var transactionID = row[0].cells[2].textContent;
        var transactionType=row[0].cells[1].textContent;
        //alert(transactionID);

        $("#FullTransactionsTbl tbody tr").each(function ()
        {
            debugger;
            var row1 = $(this);
            var rowtransactionID = row1[0].cells[2].textContent;

            if (rowtransactionID == transactionID)
            {
                row1[0].cells[3].innerHTML="0";
            }
        });
        //alert(i);
        if(i>0)
        {
           var j= AvailableTTbl.rows.length;
           var rowContent = "<tr>"
                                      + "<td style='width: 7%;'>"+ (j+1) +"</td>"
                                      + "<td style='width: 77%;'>" + transactionType + "</td>"
                                      + "<td style='display:none'>" + transactionID + "</td>"
                                      + "<td style='width: 16%;'><button class='btn btn_primary BtnAdd' type='button'>Add</button></td>"
                                      + "</tr >";


          $("#AvailableTTbl").find('tbody').append(rowContent);
          document.getElementById("AllowedTTbl").deleteRow(i-1);
        }

        var z=0;
        $("#AllowedTTbl tbody tr").each(function ()
        {
            z=z+1;
            var row2 = $(this);
            row2[0].cells[0].innerHTML=z;
        });

    });

    $("#AvailablePTbl").on('click', '.BtnAdd', function ()
    {
        debugger;
        row = $(this).closest("tr");
        var i = row[0].cells[0].textContent;
        var productID = row[0].cells[2].textContent;
        var productName = row[0].cells[1].textContent;
        //alert(productID);
        $("#FullProductsTbl tbody tr").each(function ()
        {
            debugger;
            var row1 = $(this);
            var rowProductID = row1[0].cells[2].textContent;

            if (rowProductID == productID)
            {
                row1[0].cells[3].innerHTML="1";
            }
        });
        //alert(i);
        if(i>0)
        {
           var j= AllowedPTbl.rows.length;
           var rowContent = "<tr>"
                                      + "<td style='width: 7%;'>"+ (j+1) +"</td>"
                                      + "<td style='width: 77%;'>" + productName + "</td>"
                                      + "<td style='display:none'>" + productID + "</td>"
                                      + "<td style='width: 16%;'><a class='Icons_sty' data-toggle='tooltip' title='' tooltip='Delete'><i class='fa fa-times-circle text-danger Delete'></i></a></td>"
                                      + "</tr >";

          $("#AllowedPTbl").find('tbody').append(rowContent);
          document.getElementById("AvailablePTbl").deleteRow(i-1);
        }

        var z=0;
        $("#AllowedPTbl tbody tr").each(function ()
        {
            z=z+1;
            var row2 = $(this);
            row2[0].cells[0].innerHTML=z;
        });

    });

    $("#AvailableTTbl").on('click', '.BtnAdd', function ()
    {
        debugger;
        row = $(this).closest("tr");
        var i = row[0].cells[0].textContent;
        var transactionID = row[0].cells[2].textContent;
        var transactionType = row[0].cells[1].textContent;
        //alert(transactionID);
        $("#FullTransactionsTbl tbody tr").each(function ()
        {
            debugger;
            var row1 = $(this);
            var rowtransactionID = row1[0].cells[2].textContent;

            if (rowtransactionID == transactionID)
            {
                row1[0].cells[3].innerHTML="1";
            }
        });
        //alert(i);
        if(i>0)
        {
           var j= AllowedTTbl.rows.length;
           var rowContent = "<tr>"
                                      + "<td style='width: 7%;'>"+ (j+1) +"</td>"
                                      + "<td style='width: 77%;'>" + transactionType + "</td>"
                                      + "<td style='display:none'>" + transactionID + "</td>"
                                      + "<td style='width: 16%;'><a class='Icons_sty' data-toggle='tooltip' title='' tooltip='Delete'><i class='fa fa-times-circle text-danger Delete'></i></a></td>"
                                      + "</tr >";

          $("#AllowedTTbl").find('tbody').append(rowContent);
          document.getElementById("AvailableTTbl").deleteRow(i-1);
        }

        var z=0;
        $("#AllowedTTbl tbody tr").each(function ()
        {
            z=z+1;
            var row2 = $(this);
            row2[0].cells[0].innerHTML=z;
        });

    });

    $("#btnsubmit").click(function ()
    {

        var ObjProductsInput = [];
        var ObjTransactionsInput = [];

        $("#FullProductsTbl tbody tr").each(function () {
                var row = $(this);
                var productID = row[0].cells[2].textContent;
                var statusFlag= row[0].cells[3].textContent;

                ObjProductsInput.push({
                    productID: productID,
                    statusFlag: statusFlag
                });
        });

        $("#FullTransactionsTbl tbody tr").each(function () {
                var row = $(this);
                var transactionID = row[0].cells[2].textContent;
                var statusFlag= row[0].cells[3].textContent;

                ObjTransactionsInput.push({
                    TransactionID: transactionID,
                    StatusFlag: statusFlag
                });
        });


        if (confirm('Are you sure ! you want to save the Products and Transactions?')) 
        {
            $.ajax({
                url: "@Url.Action("EnableDisableProductsAndTransaction", "Cards")",
                type: "POST",
                dataType: "JSON",
                data: { ObjProducts: JSON.stringify(ObjProductsInput), ObjTransactions: JSON.stringify(ObjTransactionsInput), CustomerId: $("#CustomerId").val(), CardNo:$("#CardNo").val(), MobileNo :$("#MobileNo").val() },
                success: function (res) 
                {
                    console.log(res,"res");
                    if (res.commonResponseData.internel_Status_Code == 1000) 
                    {
                        $("#reason").html(res.commonResponseData.reason);
                        $(".toBeHiddenOnSuccess").hide();
                        document.getElementById("reason").style.display = "none";
                        document.getElementById("noRecord").style.display = "none";
                        document.getElementById("reason").style.display = "block";
                    }
                    else
                    {
                        document.getElementById("reason").style.display = "none";
                        document.getElementById("dvNoData").style.display = "block";
                        document.getElementById("dvNoData").innerHTML= res.commonResponseData.reason;
                        document.getElementById("noRecord").style.display = "none";
                    }
                },
                error: function (ex) 
                {
                    alert('Failed' + ex);
                }
            });
        } 
        else 
        {
            console.log('cancel')
        }

    });

</script>