@model HPCL.Common.Models.ViewModel.Cards.GetLimitUpdateForSingleRechargeCards

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="bg-white p-2 p-md-4">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Cards</a> </li>
        <li class="breadcrumb-item font-weight-light">Limit Update For Single Recharge Cards</li>
    </ul>

     <div id="successUpdate" class="mb-3 text-center" style="background-color: #a0f1d6;display:none;"></div>

    <form id="formVal" method="post" data-ajax="true" data-ajax-controller="Cards" data-ajax-action="LimitUpdateForSingleRechargeCards" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Limit Update For Single Recharge Cards</p>
                    <div class="p-2 p-md-4">
                        <div class="w-100">

                            <fieldset class="border-1 rounded border-grey">
                                <div class="d-flex align-items-center justify-content-between flex-wrap pt-3">
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Customer ID<sup class="text-danger">*</sup></label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.CustomerID, new { @id = "CustomerDefaultVal", @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-12">
                                        <div class="form-group d-flex align-items-center flex-wrap">
                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Card Number</label>
                                            <div class="col-md-7 col-12">
                                                @Html.TextBoxFor(m => m.Cardno, new { @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                                @Html.ValidationMessageFor(m => m.Cardno, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"></div>

                                <div class="d-flex align-items-center justify-content-center mt-md-3 flex-wrap px-4 mb-3">
                                    <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                        <button class="btn btn_primary py-2 px-4" type="submit" id="btnSave" name="submit" style="background-color:#084693;color:white;">SEARCH</button>
                                    </div>
                                </div>
                            </fieldset>

                        </div>

                        <div class="clearfix"></div>

                        <div id="noRecord" class="mb-3 text-center" style="background-color: #fee4e4;display:none;margin-top:1%"></div>


                        <div id="UpdateGrid" style="display:none;">

                            <div class="table-responsive">
                                <table id="CardSearch" class="datatable table table-striped d-block table-bordered table-responsive mt-3" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Sr. No</th>
                                            <th>Select</th>
                                            <th>Card Number</th>
                                            <th>Vehicle No/User Name</th>
                                            <th>Issue Date</th>
                                            <th>Expiry Date</th>
                                            <th>Status</th>
                                            <th>Type Of Limit</th>
                                            <th>CCMS Limit(Rs.)</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                            <div class="d-flex align-items-center justify-content-center mt-md-3 flex-wrap px-4 mb-3">
                                <div class="px-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                    <button class="btn btn_primary py-2 px-4" type="button" id="btnSave" name="submit" onclick="RechargeAmount()">NEXT</button>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@using Microsoft.AspNetCore.Http;
<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

<script>
    $('input').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

     $(document).ready(function () {
        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }
     });

      function OnSuccess(res) {
        console.log(res, "data");

        if (res.searchList.success == true) {

            document.getElementById("noRecord").style.display = "none";

            var searchGrid = res.searchList.data;

            $('#CardSearch').DataTable().clear().destroy();

                var tbl = $('#CardSearch').DataTable({
                    paging: true,
                    searching: false,
                    stateSave: true,
                    "lengthMenu": [5, 10, 20, 50, 100, 200, 500, 1000, 2000],
                    "autoWidth": false,
                    "oLanguage": {
                        "sLengthMenu": "Display _MENU_ Records",
                        "info": "Showing _START_ to _END_ of _TOTAL_ Records",
                    }
                });

                for (var i = 0; i < searchGrid.length; i++) {

                    var isDts;
                    var expDts;

                    if(((searchGrid[i].issueDate) == "01/01/0001 00:00:00") || ((searchGrid[i].issueDate) == "01/01/1900 00:00:00") || ((searchGrid[i].issueDate) == null)){
                        isDts = "";
                    }else{
                        isDts = moment(searchGrid[i].issueDate, 'DD-MM-YYYY').format('DD-MM-YYYY');
                    }

                    if(((searchGrid[i].expiryDate) == "01/01/0001 00:00:00") || ((searchGrid[i].expiryDate) == "01/01/1900 00:00:00") || ((searchGrid[i].expiryDate) == null)){
                        expDts = "";
                    }else{
                        expDts = moment(searchGrid[i].expiryDate, 'DD-MM-YYYY').format('DD-MM-YYYY');
                    }

                    var srNumber = (i+1);
                    var pressCheck = "<input type='checkbox' class='checkEnable' name='enableRow'>";
                    var cardNumber = "<span class='getCard'>" + (searchGrid[i].cardNumber || '') + "</span>";
                    var vechileNo = (searchGrid[i].vechileNo || '');
                    var issueDate = isDts;
                    var expiryDate = expDts;
                    var cardStatus = (searchGrid[i].cardStatus || '');
                    var typeOfLimit = "<select class='form-control limitTyp' readonly='readonly' disabled='disabled'><option value='"+searchGrid[i].limitId+"'>"+searchGrid[i].typeOfLimit+"</option></select>"
                    var ccmsLimitValue = "<div style='width:160px;display:flex;'><input maxlength='10' onkeypress='return isNumberKey(event)' class='form-control cgl amt' id='ccmslimitId_"+i+"' onchange='ccmslimitChange(this," + (i) + ")' name='" + (searchGrid[i].ccmsLimitValue || '') + "' type='text' value='" + (searchGrid[i].ccmsLimitValue || '') + "' readonly='readonly'><i style='display:none;margin-top:10px;' class='fa fa-exclamation-triangle errsss' id='ccmslimit_error_"+i+"' aria-hidden='true'></i></div>";

                    tbl.row.add([
                        srNumber,
                        pressCheck,
                        cardNumber,
                        vechileNo,
                        issueDate,
                        expiryDate,
                        cardStatus,
                        typeOfLimit,
                        ccmsLimitValue
                    ]).draw();
                }

                document.getElementById("UpdateGrid").style.display = "block";
        } else {
            document.getElementById("UpdateGrid").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    $("#CardSearch").on('click', '.checkEnable', function (e) {
        currentRow = $(this).closest("tr");
        if ($(this).is(':checked')) {
            currentRow.find('input:text').attr("readonly", false);
        }
        if (!$(this).is(':checked')) {
            currentRow.find('input:text').attr("readonly", true);
            currentRow.find('.errsss').css("display", "none");
        }
    });

    $("#CardSearch").on('paste', '.cgl', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });

    function RechargeAmount(){

        var updateArray = new Array();

        var customerId = $("#custIdVal").val();

        var flag = "Y";
        var Cardno;
        $("#CardSearch input[type=checkbox]:checked").each(function () {

            var selectedRow = $(this).closest("tr")[0];
            console.log("index",selectedRow.rowIndex);
            
            var indexS = (selectedRow.rowIndex) - 1;

            var row = $(this).closest("tr");

            Cardno = row.find('.getCard').text();
            var Limittype = row.find('.limitTyp').val();
            var Amount = row.find('.amt').val();

            updateArray.push({
                Cardno: Cardno,
                Limittype: Limittype,
                Amount: Amount
            });

            //if(transferAmount.trim() == ''){
            //    document.getElementById('amtToTrans_error_'+indexS).title="Please Enter Amount";
            //    document.getElementById('amtToTrans_error_'+indexS).style.display = "block";
            //    flag = "N";
            //}

            //if(transferAmount.trim() != ''){
            //    if(!(transferAmount < totalBal)){
            //        document.getElementById('amtToTrans_error_'+indexS).title="Amount should be less than or equal to Card Balance";
            //        document.getElementById('amtToTrans_error_'+indexS).style.display = "block";
            //        flag = "N";
            //    }else if(transferAmount.trim() == 0){
            //        document.getElementById('amtToTrans_error_'+indexS).title="Please Enter  Value greater than 0";
            //        document.getElementById('amtToTrans_error_'+indexS).style.display = "block";
            //        flag = "N";
            //    }
            //}
        });

        if (Cardno == undefined) {
            alert("Please select atleast one record");
            flag = "N";
        }

        console.log("updt", updateArray);

        if (flag == "N")
            e.preventDefault();

         if (flag == "Y") {
             $("#cardToCCMSSearch input[type=checkbox]:checked").each(function () {
                var selectedRow = $(this).closest("tr")[0];
                console.log("index",selectedRow.rowIndex);
                var indexS = (selectedRow.rowIndex) - 1;
                document.getElementById('amtTotransId_'+indexS).style.display = "none";
            });

            if (confirm('Do you want to process the selected record, confirm once')) {
                console.log('ok');

                $.ajax({
                    url: "@Url.Action("LimitUpdateForSingleRecharge", "Cards")",
                    type: "POST",
                    traditional: true,
                    data: { objCCMSLimits: JSON.stringify(updateArray) },
                    success: function (res) {
                        console.log("res",res);
                        $("#formVal").hide();
                        for(var i = 0; i < res.reasonList.length; i++){
                        $("#successUpdate").append("<span>"+res.reasonList[0].reason+"</span><br>");
                        }
                        document.getElementById('successUpdate').style.display = "block";
                    },
                    error: function (ex) {
                        alert('Failed' + ex);
                    }
                });
            } else {
                console.log('cancel')
            }
        }
    }
</script>
