@model HPCL.Common.Models.ViewModel.Cards.GetCustomerDetailsMapMerchant

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>


<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light">Mapping User Cards to Merchants</li>
        </ul>
        <div class="w-100">

            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                <div class="border-1 rounded border-grey pb-3">
                    <form method="post" data-ajax="true" asp-controller="Cards" asp-action="ManageMapping" data-ajax-method="POST" data-ajax-success="OnSuccessGetDetails" data-ajax-failure="OnFailure">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Mapping User Cards to Merchants</p>
                        <div id="searchCustomerId">
                            <div class="col-lg-12 col-md-12 col-12 py-0 pt-3">
                                <div class="d-flex align-items-center flex-wrap">
                                    <div class="col-lg-12 col-12">
                                        <div class="d-flex align-items-center flex-wrap mb-0">
                                            <label class="font-weight-normal col-md-2 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                            <div class="col-sm-3 col-md-3 col-12">
                                                <div class="custom_select">
                                                    @Html.TextBoxFor(m => m.CustomerID, new { @id = "CustomerDefaultVal", @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                                    @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="col-md-7 col-12">
                                                <div class="d-flex align-items-center flex-wrap">
                                                    <div class="px-0">
                                                        <button class="btn btn_primary regrate_btn" type="submit">Search</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                        <div class="form-group d-flex align-items-center flex-wrap">

                        </div>
                        <div class="form-group d-flex align-items-center flex-wrap">

                        </div>
                        <div class="form-group d-flex align-items-center flex-wrap">

                        </div>

                        <div>
                            <div class="alert alert-warning" role="alert" style="display:none;" id="noRecord">

                            </div>
                        </div>

                        <div class="clearfix"></div>

                        <div id="custResult" style="display:none;">

                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                                <div class="border-1 rounded border-grey pb-0">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Customer Details</p>
                                    <div class="col-lg-12 col-md-12 col-12 pt-2 pb-0">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-3 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-2">
                                                    <div class="font-weight-bold text-center col-12">
                                                        Customer ID
                                                    </div>
                                                    <div class="text-center col-12" id="custIdVal">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-2">
                                                    <div class="font-weight-bold text-center col-12">
                                                        ZO
                                                    </div>
                                                    <div class="text-center col-12" id="zoneIdVal">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-2">
                                                    <div class="font-weight-bold text-center col-12">
                                                        RO
                                                    </div>
                                                    <div class="text-center col-12" id="regionIdVal">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-2">
                                                    <div class="font-weight-bold text-center col-12">
                                                        Customer Name
                                                    </div>
                                                    <div class="text-center col-12" id="custNameIdVal">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                                <div class="border-1 rounded border-grey pb-0">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Select Card Criteria for Mapping</p>
                                    <div class="col-lg-12 col-md-12 col-12 pt-2 pb-0">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-12 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <div class="col-12">
                                                        <div class="form-check form-check-inline pr-3">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                                                            <label class="form-check-label" for="inlineRadio1">Individual Card</label>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                                                            <label class="form-check-label" for="inlineRadio2">All Cards</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </div>
                            <div class="clearfix"></div>

                            <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                                <table id="UserMappingTable" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                    <thead>
                                        <tr>
                                            <th>Select</th>
                                            <th>Card Number</th>
                                            <th>Vehicle Number</th>
                                            <th>Last Transaction Date</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>

                        </div>

                        <div class="clearfix"></div>
                    </form>


                    <form method="post" data-ajax="true" asp-controller="Cards" asp-action="GetMerchantForMapping" data-ajax-method="POST" data-ajax-success="OnSuccessSearch" data-ajax-failure="OnFailure">

                        <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">

                            <div id="reqMerchant" style="display:none;">
                                <div class="border-1 rounded border-grey pb-0">
                                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Merchant Search</p>
                                    <div class="col-lg-12 col-md-12 col-12 pt-2 pb-0">
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal col-md-4 col-12">Merchant ID <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.MerchantID, new { @class = "form-control", onkeypress = "return isNumberKey(event)" })
                                                            @Html.ValidationMessageFor(m => m.MerchantID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">State <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.DropDownListFor(m => m.StateID, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control stateVal" })
                                                            @Html.ValidationMessageFor(m => m.StateID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal col-md-4 col-12">District <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.DropDownListFor(m => m.DistrictID, Enumerable.Empty<SelectListItem>(), "--Select--", new { @class = "form-control distVal" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">City <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.City, new { @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="d-flex align-items-center flex-wrap">
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal col-md-4 col-12">Highway <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="custom_select">
                                                            @Html.TextBoxFor(m => m.HighwayName, new { @id = "CustomerDefaultVal", @class = "form-control" })
                                                            @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-12">
                                                <div class="d-flex align-items-center flex-wrap mb-3">
                                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Highway No <sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        <div class="row">
                                                            <div class="col-md-5">
                                                                <div class="custom_select">
                                                                    <select name="HighwayNo1" id="" class="form-control">
                                                                        <option value="7">NH</option>
                                                                        <option value="9">SH</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-7">
                                                                @Html.TextBoxFor(m => m.HighwayNo2, new { @id = "CustomerDefaultVal", @class = "form-control" })
                                                                @Html.ValidationMessageFor(m => m.CustomerID, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="d-flex align-items-center justify-content-center mt-0 mb-3">
                                            <div class="px-2">
                                                <button class="btn btn_primary" type="submit">Search</button>
                                            </div>
                                            <div class="px-2">
                                                <button class="btn btn_primary" type="button" onclick="resetClickMer()">Reset</button>
                                            </div>
                                        </div>


                                    </div>

                                    <div class="clearfix"></div>
                                </div>
                            </div>

                            <div>
                                <div class="alert alert-warning" role="alert" style="display:none;" id="noRecordMerchant">

                                </div>
                            </div>

                            <div class="clearfix"></div>

                            <div id="searchMerchantId" style="display:none;">

                                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                                    <table id="mapMerchantTbl" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                                        <thead>
                                            <tr>
                                                <th><input type="checkbox" name="merchantCheck" class="checkAll" /></th>
                                                <th>Merchant ID</th>
                                                <th>Merchant Name</th>
                                                <th>Retail Outlet Name</th>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        Allow   <input type="radio" value="Allow" name="status" checked>
                                    </div>
                                    <div class="col">
                                        Block   <input type="radio" value="Block" name="status">
                                    </div>
                                </div>

                                <div class="clearfix"></div>
                                <div class="d-flex align-items-center justify-content-center mt-0 mb-3">
                                    <div class="px-2">
                                        <button class="btn btn_primary" onclick="saveMapping()" type="button">SAVE</button>
                                    </div>
                                    <div class="px-2">
                                        <button class="btn btn_primary" type="button">CANCEL</button>
                                    </div>
                                </div>


                            </div>
                        </div>

                    </form>


                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>
</div>



<script type="text/javascript">

    function resetClickMer() {
        window.location.reload(true);
    }

    $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

                return true;
        }

        $('select').SumoSelect({
            placeholder: '-Select-',
            search: true,
            searchText: 'Enter Text here.'
        });

         $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetStateList", "Common")',
                dataType: "json",
             success: function (data, status, xhr) {

                 console.log(data);

                 $.each(data.stateLst, function (i, option) {
                     $("<option/>").val(option.stateID).text(option.stateName).appendTo(".stateVal");
                 });

                 $(".stateVal")[0].sumo.reload();
             },
             error: function (jqXhr, textStatus, errorMessage) {
                 alert("Error Populating Customer Region");
             }
         });
    });

    $(".stateVal").change(function () {
            var id = this.value;

             if(id == ""){
                $(".distVal").html("");
                $(".distVal")[0].sumo.reload();
                return false;
             }

            if (id != 0) {
                $("#state_error").html("");
            }

            $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetDistrictDetails", "Common")',
                data: { Stateid: id },  // data to submit
                dataType: "json",
                success: function (data, status, xhr) {
                    var v = data;
                    if (status == 'success') {
                        $(".distVal").html("");
                        $('<option>--Select District--</option>').appendTo(".distVal");
                        $.each(data, function (i, data) { // bind the dropdown list using json result
                            $('<option>',
                                {
                                    value: data.districtID,
                                    text: data.districtName
                                }).html(data.districtName).appendTo(".distVal");
                        });
                        $(".distVal")[0].sumo.reload();
                    }
                    else {
                        console.log(v);
                    }
                },
                error: function (jqXhr, textStatus, errorMessage) {
                    alert("Error Populating District Data");
                }
            });
    });

    function OnSuccessGetDetails(res) {

        console.log(res);

        if (res.searchList.success == true) {

            document.getElementById("noRecord").style.display = "none";
            document.getElementById("noRecordMerchant").style.display = "none";

            var custDetails = res.searchList.data.getCustomerDetails;
            var custCardDetails = res.searchList.data.getCustomerCardDetails;

            $("#custIdVal").append("<span>" + custDetails[0].customerID + "</span>");
            $("#zoneIdVal").append("<span>" + custDetails[0].zonalOfficeName + "</span>");
            $("#regionIdVal").append("<span>" + custDetails[0].regionalOfficeName + "</span>");
            $("#custNameIdVal").append("<span>" + custDetails[0].customerName + "</span>");

            $("#UserMappingTable td").parent().remove();

            for (var i = 0; i < custCardDetails.length; i++) {

                var rows = "<tbody><tr>"
                    + "<td><input type='checkbox' class='customerRow' name='customerCheck'></td>"
                    + "<td><span class='cardNoVal'>" + (custCardDetails[i].cardNo || '') + "</span></td>"
                    + "<td>" + (custCardDetails[i].cardIdentifier || '') + "</td>"
                    + "<td>" + (custCardDetails[i].lastTransactionDate || '') + "</td>"
                    + "</tr ></tbody>";

                $('#UserMappingTable').append(rows);
            }

            document.getElementById("searchCustomerId").style.display = "none";
            document.getElementById("custResult").style.display = "block";
            document.getElementById("reqMerchant").style.display = "block";
        } else {
            document.getElementById("custResult").style.display = "none";
            document.getElementById("reqMerchant").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    function OnSuccessSearch(res) {

        console.log(res);

        if (res.merchantList.success == true) {

            document.getElementById("noRecord").style.display = "none";
            document.getElementById("noRecordMerchant").style.display = "none";

            $("#mapMerchantTbl td").parent().remove();

            for (var i = 0; i < res.merchantList.data.length; i++) {

                var rows = "<tbody><tr>"
                    + "<td><input type='checkbox' class='merchantRow' name='merchantCheck'></td>"
                    + "<td><span class='merchantIdVal'>" + (res.merchantList.data[i].merchantId || '') + "</span></td>"
                    + "<td>" + (res.merchantList.data[i].merchantName || '') + "</td>"
                    + "<td>" + (res.merchantList.data[i].retailOutletName || '') + "</td>"
                    + "<td>" + (res.merchantList.data[i].address || '') + "</td>"
                    + "</tr ></tbody>";

                $('#mapMerchantTbl').append(rows);
            }
            document.getElementById("searchMerchantId").style.display = "block";
        } else {
            $("#noRecord").html("");
            $("#noRecordMerchant").html("");
            $("#noRecordMerchant").append("<span>" + res.merchantList.message + "</span>");
            document.getElementById("noRecord").style.display = "none";
            document.getElementById("noRecordMerchant").style.display = "block";
        }
    }

    $(".checkAll").click(function () {
        if (this.checked) {
            $(".merchantRow").prop("checked", true);
        } else {
            $(".merchantRow").prop("checked", false);
        }
    });

    function saveMapping() {

        var cardMerchantMap = [];
        var cardNo;
        var merchantId;

        var cardArray = [];
        var merchantArray = [];

        $("#UserMappingTable input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr");
            cardNo = row.find('.cardNoVal').text();

            cardArray.push({
                cardNo: cardNo
            });

        });

        $("#mapMerchantTbl input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr");
            merchantId = row.find('.merchantIdVal').text();

            merchantArray.push({
                merchantId: merchantId
            });
        });

        if ((cardNo == undefined) && (merchantId == undefined)){
            alert("Please select at least one card and merchant");
            return false;
        }

        if (cardNo == undefined) {
            alert("Please select at least one card");
            return false;
        }
        if (merchantId == undefined) {
            alert("Please select at least one merchant");
            return false;
        }

        console.log(cardNo, "cardNo");
        console.log(merchantId, "merchantId");

        console.log(cardArray, "cardArray");
        console.log(merchantArray, "merchantArray");

        var customerId = $("#CustomerDefaultVal").val();

        for (var i = 0; i < cardArray.length; i++) {

            for (var j = 0; j < merchantArray.length; j++) {

                cardMerchantMap.push({
                    cardNo: cardArray[i].cardNo,
                    merchantId: merchantArray[j].merchantId,
                    customerId: customerId
                });
            }
        }

      
        var status = $('input[name="status"]:checked').val();

         $.ajax({
                type: 'POST',  // http method
             url: '@Url.Action("SaveCustomerMappingMerchant", "Cards")',
             data: { objCardMerchantMaps: JSON.stringify(cardMerchantMap), status: status },
                dataType: "json",
             success: function (res) {
                 $("#noRecord").html("");
                 $("#noRecord").append("<span>" + res + "</span>");
                 document.getElementById("noRecord").style.display = "block";
             },
             error: function (data) {
                 alert(data);
             }
         });



        console.log(cardMerchantMap, "cardMerchantMap");
    }
</script>