@model HPCL_Web.Models.Cards.ManageCards.CustomerCards

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>
<div class="mt-1 w-100">
    <marquee width="100%" direction="left">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
</div>


    <div class="bg-white p-2 p-md-4 mb-2 w-100">
        @*<form name="applicationForm" onsubmit="return submitForm()" class="w-100">*@

        <form method="post" data-ajax="true" data-ajax-controller="Cards" data-ajax-action="ManageCards" data-ajax-method="POST" data-ajax-success="OnSuccess" data-ajax-failure="OnFailure">
            
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active asd" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">

                    <div class="border-1 rounded border-grey h-100">

                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold" id="ManageCardHeader"> Manage Card </p>
                        <div class="px-2 py-2 px-md-4">
                            <div>
                                <ul class="nav nav-tabs form_tabs mb-3">
                                    <li id="CustomerCards" class="nav-item">
                                        <a class="nav-link active" id="CustomerCardTab" data-toggle="tab" href="#CustomerCardsSection" role="tab">Customer Cards</a>
                                    </li>
                                    <li id="CardDetails" class="nav-item">
                                        <a class="nav-link disabled" id="CardDetailsTab" data-toggle="tab" href="#CardDetailsSection" role="tab">Card Details</a>
                                    </li>
                                    <li id="Limits" class="nav-item">
                                        <a class="nav-link disabled" id="LimitTab" data-toggle="tab" href="#LimitSection" role="tab">Limits</a>
                                    </li>
                                    <li id="Services" class="nav-item">
                                        <a class="nav-link disabled" id="ServicesTab" data-toggle="tab" href="#ServiceSection" role="tab">Services</a>
                                    </li>
                                </ul>
                            </div>

                            <div class="tab-content">
                                <div id="CustomerCardsSection" class="tab-pane active" role="tabpanel">
                                    <div class="w-100">
                                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                                            <div class="col-md-6 col-12 px-0">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12 mb-0">Customer ID<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control", @id = "GetCustomerIdValue" })
                                                        @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 px-0">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12  mb-0 offset-md-1">Card Number</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 px-0">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12  mb-0">Mobile Number</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.MobileNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 px-0">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12  mb-0  offset-md-1">Vehicle No</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.VehicleNumber, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.VehicleNumber, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12 px-0">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-4 col-12  mb-0">Status</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.DropDownListFor(m => m.StatusFlag, new SelectList(Model.StatusModals, "StatusId", "StatusName"), new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.StatusFlag, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="d-flex align-items-center justify-content-center flex-wrap">
                                        <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                            <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="document.getElementById('CardSearch').style.display = 'block';" style="background-color:#084693;color:white;">SEARCH</button>
                                        </div>
                                        <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                            <button class="btn btn_primary" id="btnCancel" name="cancel" style="background-color:#084693;color:white;">VIEW GENERIC / ATTACHED VEHICLE</button>                                            
                                        </div>
                                        <div class="px-md-2 mb-3 col-sm-auto col-12 mb-sm-0 mb-2">
                                            <button class="btn btn_primary" id="btnCancel" name="cancel" style="background-color:#084693;color:white;">DOWNLOAD GENERIC / ATTACHED VEHICLE</button>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-items-center flex-wrap">

                                    </div>
                                    <div class="mt-3" id="CardSearch" style="display:none;">
                                       <table class="table table-striped table-responsive text-nowrap display" style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>
                                                        @Html.DisplayName("Sr. Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Card Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Customer ID")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("User Id")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Card Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle No/User Name")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Vehicle Type")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Issue Date")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Expiry Date")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Status")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Year Of Registration")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Manufacturer")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("OWNED/ATTACHED")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Mobile Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("VIN Number")
                                                    </th>
                                                    <th>
                                                        @Html.DisplayName("Cardless Mapping")
                                                    </th>
                                                    <th style="display: none;">

                                                    </th>
                                                    <th style="display: none;">

                                                    </th>
                                                </tr>
                                            </thead>
                                        </table>
                                    </div>
                                </div>


                                <div id="CardDetailsSection" class="tab-pane" role="tabpanel">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                                        <div class="w-100">
                                            <div class="col-lg-6 col-md-12 col-12 pl-0 pr-md-2 pr-0 pb-2">
                                                <fieldset class="border-1 rounded border-grey">
                                                    <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Details</legend>

                                                    <div class="p-2 col-12">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Customer ID <sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CustomerId, new { @id = "CustomerIdCardValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Card Number</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CardNo, new { @id = "CardNoDValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Card Category <sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.CardCategory, Enumerable.Empty<SelectListItem>(), new { @id = "CardCategoryValue", @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Card Issue Type <sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="custom_select">
                                                                    @Html.DropDownListFor(m => m.CardIssueType, Enumerable.Empty<SelectListItem>(), new { @id = "CardIssueTypeValue", @class = "form-control", disabled = "disabled" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Request Date <sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.RequestDate, new { @id = "RequestDateValue", @class = "form-control", @readonly = "readonly" })
                                                                @Html.ValidationMessageFor(m => m.RequestDate, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Form Number</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.FormNumber, new { @id = "FormNumberValue", @class = "form-control", @readonly = "readonly" })
                                                                @Html.ValidationMessageFor(m => m.FormNumber, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">RBE ID<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.RbeId, new { @id = "RbeIdValue", @class = "form-control", @readonly = "readonly" })
                                                                @Html.ValidationMessageFor(m => m.RbeId, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">RBE Name<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.RbeName, new { @id = "RbeNameValue", @class = "form-control", @readonly = "readonly" })
                                                                @Html.ValidationMessageFor(m => m.RbeName, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-md-12 col-12 pr-0 pl-md-2 pl-0 pb-2">
                                            <fieldset class="border-1 rounded border-grey h-100">
                                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Vehicle Details</legend>
                                                <div class="px-4 p-2 col-12">
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Vehicle Reg. No./User Name<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            @Html.TextBoxFor(m => m.VehicleNumber, new { @id = "VehicleNumberValue", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Type<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            <div class="custom_select">
                                                                @Html.DropDownListFor(m => m.vehicleType, Enumerable.Empty<SelectListItem>(), new { @id = "vehicleTypeValue", @class = "form-control", disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Make<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            @Html.TextBoxFor(m => m.VehicleMake, new { @id = "VehicleMakeValue", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Year Of Reg.<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            @Html.TextBoxFor(m => m.YearOfReg, new { @id = "YearOfRegValue", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12 mb-0">Ownership Type<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            <div class="custom_select">
                                                                @Html.DropDownListFor(m => m.OwnerType, Enumerable.Empty<SelectListItem>(), new { @id = "OwnerTypeValue", @class = "form-control", disabled = "disabled" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group d-flex align-items-center flex-wrap">
                                                        <label class="font-weight-normal col-md-5 col-12  mb-0">VIN Number<sup class="text-danger">*</sup></label>
                                                        <div class="col-md-7 col-12">
                                                            @Html.TextBoxFor(m => m.VinNumber, new { @id = "VinNumberValue", @class = "form-control", @readonly = "readonly" })
                                                        </div>
                                                    </div>

                                                    <div id="getCardD">

                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>


                                    <div class="clearfix"></div>

                                    <div class="d-flex align-items-center justify-content-between flex-wrap">

                                        <div class="w-100">
                                            <fieldset class="border-1 rounded border-grey">
                                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Fee Payment Details</legend>
                                                <div class="px-4 p-2 col-12">
                                                    <div class="col-sm-10 col-12">
                                                        <div class="d-flex align-items-center justify-content-start flex-wrap mb-3">
                                                            <label class="mb-0 mr-4 d-flex align-items-center justify-content-start">
                                                                <input type="radio" name="optradio" class="mr-2" checked>
                                                                Fee Collect(CR)
                                                            </label>
                                                            <label class="mb-0 mr-4 d-flex align-items-center justify-content-start">
                                                                <input type="radio" name="optradio" class="mr-2">
                                                                Fee Collect(Cheque)
                                                            </label>
                                                            <label class="mb-0 mr-4 d-flex align-items-center justify-content-start">
                                                                <input type="radio" name="optradio" class="mr-2">
                                                                Fee Waiver
                                                            </label>
                                                        </div>
                                                    </div>

                                                    <div class="col-md-6 col-8">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Approval Email From</label>
                                                            <div class="col-md-7 col-12">
                                                                <input type="text" name="perma_address1" class="form-control">
                                                                <div class="error" id="perma_address1_error"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-8">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12">Approval Email Date</label>
                                                            <div class="col-md-7 col-12">
                                                                <input type="text" name="perma_address2" class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>

                                    </div>

                                </div>


                                <div id="LimitSection" class="tab-pane" role="tabpanel">
                                    <div class="w-100">

                                        <div class="d-flex align-items-center justify-content-between flex-wrap">
                                            <fieldset class="border-1 rounded border-grey">
                                                <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Card Parameters</legend>
                                                <div class="p-2 col-12">
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Sale Transaction Limit</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.SaleTranscationLimit, new { @id = "SaleTranscationLimitValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Daily Sale Limit</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.DailySaleLimit, new { @id = "DailySaleLimitValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Daily Credit Limit</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.DailyCreditLimit, new { @id = "DailyCreditLimitValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Cash Purse Limit</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.CashPurseLimit, new { @id = "CashPurseLimitValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Monthly Sale Limit</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.MonthlySaleLimit, new { @id = "MonthlySaleLimitValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Monthly Sale Balance</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.MonthlySaleBalance, new { @id = "MonthlySaleBalanceValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">CCMS Reload/Sale Limit<sup class="text-danger">*</sup></label>
                                                            <div class="col-md-7 col-12">
                                                                <div class="row">
                                                                    <div class="col-4">
                                                                        @*@Html.DropDownListFor(m => m.LimitTypeId, new SelectList(Model.LimitTypeModals, "LimitId", "Description"), new { @class = "form-control" })*@
                                                                        @Html.DropDownListFor(m => m.CCMSReloadSaleLimit, Enumerable.Empty<SelectListItem>(), new { @id = "CCMSReloadSaleLimitTypeValue", @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                                                    </div>
                                                                    <div class="col-4 pl-0">
                                                                        @Html.TextBoxFor(m => m.CCMSReloadSaleLimitValue, new { @id = "CCMSReloadSaleLimitValueId", @class = "form-control", @readonly = "readonly" })
                                                                    </div>
                                                                    <div class="col-4 pl-0">
                                                                        <p id="CCMSReloadDefineSaleValue"></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Expiry Date</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.TextBoxFor(m => m.ExpiryDate, new { @id = "LimitExpiryDateValue", @class = "form-control", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6 col-12 px-0">
                                                        <div class="form-group d-flex align-items-center flex-wrap">
                                                            <label class="font-weight-normal col-md-5 col-12 mb-0">Enable For Credit Transaction</label>
                                                            <div class="col-md-7 col-12">
                                                                @Html.DropDownListFor(m => m.AllowCreditTranscation, Enumerable.Empty<SelectListItem>(), new { @id = "AllowCreditTranscationValue", @class = "form-control", disabled = "disabled", @readonly = "readonly" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>


                                        </div>

                                        <div class="form-group d-flex align-items-center justify-content-center flex-wrap w-100 mt-4 mb-0">
                                            <div class="col-md-6 col-12">
                                                <div class="alert alert-success " role="alert">
                                                    ** *All Limits in Rupees
                                                </div>
                                            </div>
                                        </div>

                                        <div class="clearfix"></div>
                                    </div>
                                </div>

                                <div id="ServiceSection" class="tab-pane" role="tabpanel">

                                    <fieldset class="border-1 rounded border-grey">
                                        <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Select Services</legend>
                                        <div class="px-4 p-2 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>

                                            <ul class="list-group list-group-flush" id="wkslist">
                                            </ul>

                                            <div class="form-group d-flex align-items-center flex-wrap">

                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

@using Microsoft.AspNetCore.Http;


<script src="https://rawgit.com/moment/moment/2.2.1/min/moment.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        let tableData = sessionStorage.getItem("tableData");
        let getCusId = sessionStorage.getItem("cusmId");

        console.log(tableData, "tbl");

        let editOk = sessionStorage.getItem("editFlow");

        var loginType = '@Context.Session.GetString("LoginType")';

        console.log(editOk, "editOk");

        if (editOk == "edit" && loginType != "Customer") {

            $('#GetCustomerIdValue').html('');

            $('#GetCustomerIdValue').val(getCusId);
            $('#CardSearch table').html(tableData);
             $.ajax({
                url: "@Url.Action("ReloadUpdatedGrid", "Cards")",
                type: "POST",
                dataType: "JSON",
                 success: function (data) {

                      OnSuccess(data);

                     document.getElementById('CardSearch').style.display = 'block'

                     sessionStorage.removeItem('editFlow');
                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }

        if (editOk == "") {

            sessionStorage.removeItem('tableData');
            sessionStorage.removeItem('cusmId');

        }

        if (loginType == "Customer") {

            $.ajax({
                url: "@Url.Action("UpdatedGridList", "Cards")",
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    OnSuccess(data);

                    $("#GetCustomerIdValue").html('');
                    $("#GetCustomerIdValue").val('@Context.Session.GetString("UserId")');
                    $("#GetCustomerIdValue").attr("readonly", true);

                    document.getElementById('CardSearch').style.display = 'block';

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }


    });


    //$("#CustomerCardsSection").click(function () {
    //    $('#CardDetailsTab').tab('show');
    //    $("#ManageCardHeader").replaceWith("<p class='text_primary px-3 py-2 bg-grey m-0 font-weight-bold'>Manage Cards</p>");
    //});

    function OnSuccess(data) {
        //$("#CardSearch td").parent().remove();
        var rows = "<tbody>"
        for (var i = 0; i < data.searchList.length; i++) {

            rows += "<tr>"
                + "<td><span class='rowData'>" + (data.searchList[i].srNumber || '') + "</span></td>"
                + "<td class='nav-item'><a class='CardNumber' data-toggle='tab' href='#CardDetailsSection' onclick='ViewCardDetails(this)' role='tab'><span class='rowCardNo'>" + (data.searchList[i].cardNumber || '') + "</span></a></td>"
                + "<td><span class='rowData cusId'>" + (data.searchList[i].customerID || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].userID || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].cardIssueType || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].vechileNo || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].vehicleType || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].issueDate || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].expiryDate || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].status || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].yearOfRegistration || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].manufacturer || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].ownershipType || '') + "</span></td>"
                + "<td><span class='rowMobNo'>" + (data.searchList[i].mobileNumber || '') + "</span></td>"
                + "<td><span class='rowData'>" + (data.searchList[i].vinNumber || '') + "</span></td>"
                + "<td class='lmtName' style='display:none'>" + (data.searchList[i].limitTypeName || '') + "</td>"
                + "<td class='amts' style='display:none'>" + (data.searchList[i].ccmsReloadSaleLimitValue || '') + "</td>"
                + "<td><a href='#aaa' class='editNumber'>Edit</a></td></tr>";


            
        }

        rows += "</tbody>"

        $('#CardSearch table').append(rows);

       /* $('#CardSearch table').DataTable({
				"lengthMenu": [5, 10, 20, 50, 100, 200, 500, 1000, 2000],
                "autoWidth": false,
				"oLanguage": {
					"sLengthMenu": "Display _MENU_ Records",
					"info": "Showing _START_ to _END_ of _TOTAL_ Records",
				}					
			});*/

        let tableData = $('#CardSearch table').html();
        sessionStorage.setItem("tableData", tableData);

        let custmId = $('.cusId').html();
        sessionStorage.setItem("cusmId", custmId);
    }

    $("#CardSearch").on('click', '.editNumber', function (e) {

        var currentRow = $(this).closest("tr");

        var cardNumber = currentRow.find(".rowCardNo").text();
        var mobileNumber = currentRow.find(".rowMobNo").text();

        var LimitTypeName = currentRow.find(".lmtName").text();
        var CCMSReloadSaleLimitValue = currentRow.find(".amts").text();

        console.log("card number : ", cardNumber);
        console.log("mobile number : ", mobileNumber);

        var url = '@Html.Raw(@Url.Action("CardlessMapping", new { cardNumber = "dd", mobileNumber = "mm", LimitTypeName = "ll", CCMSReloadSaleLimitValue = "cc" }))';

        url = url.replace("dd", encodeURIComponent(cardNumber)).replace("mm", encodeURIComponent(mobileNumber)).replace("ll", encodeURIComponent(LimitTypeName)).replace("cc", encodeURIComponent(CCMSReloadSaleLimitValue));

        $(this).attr('href', url);

    });

    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }


    function ViewCardDetails(o) {

        var CardId = o.innerText;

        $.ajax({
            url: "@Url.Action("ViewCardDetails", "Cards")",
            type: "POST",
            dataType: "JSON",
            data: { CardId: CardId },
            success: function (res) {
                console.log("searchlist", res.cardDetailsList);
                console.log("servicelist", res.servicesDetailsList);

                console.log("card limit", res.limitDetailsList);

                $('#CustomerIdCardValue').val(res.cardDetailsList[0].customerID);
                $('#CardNoDValue').val(res.cardDetailsList[0].cardNumber);

                var cardCategory = $('<option value="' + res.cardDetailsList[0].cardCategory + '">' + res.cardDetailsList[0].cardCategory + '</option>');
                $('#CardCategoryValue').append(cardCategory);

                var issueType = $('<option value="' + res.cardDetailsList[0].cardIssueType + '">' + res.cardDetailsList[0].cardIssueType + '</option>');
                $('#CardIssueTypeValue').append(issueType);

                $('#RequestDateValue').val(res.cardDetailsList[0].requestDate);
                $('#FormNumberValue').val(res.cardDetailsList[0].formNumber);
                $('#RbeIdValue').val(0);
                $('#RbeNameValue').val(0);
                $('#VehicleNumberValue').val(res.cardDetailsList[0].vechileNo);

                var vehicleType = $('<option value="' + res.cardDetailsList[0].vehicleType + '">' + res.cardDetailsList[0].vehicleType + '</option>');
                $('#vehicleTypeValue').append(vehicleType);

                $('#VehicleMakeValue').val(res.cardDetailsList[0].vehicleMake);
                $('#YearOfRegValue').val(res.cardDetailsList[0].yearOfRegistration);

                var ownType = $('<option value="' + res.cardDetailsList[0].ownershipType + '">' + (res.cardDetailsList[0].ownershipType || '') + '</option>');
                $('#OwnerTypeValue').append(ownType);

                $('#VinNumberValue').val(res.cardDetailsList[0].vinNumber);

                $('#SaleTranscationLimitValue').val(res.limitDetailsList[0].saleTranscationLimit);
                $('#DailySaleLimitValue').val(res.limitDetailsList[0].dailySaleLimit);
                $('#DailyCreditLimitValue').val(res.limitDetailsList[0].dailyCreditLimit);
                $('#CashPurseLimitValue').val(res.limitDetailsList[0].cashPurseLimit);
                $('#MonthlySaleLimitValue').val(res.limitDetailsList[0].monthlySaleLimit);
                $('#MonthlySaleBalanceValue').val(res.limitDetailsList[0].monthlySaleBalance);

                var reloadSaleType = ('<option value="' + res.limitDetailsList[0].ccmsReloadSaleLimit + '">' + res.limitDetailsList[0].ccmsReloadSaleLimit + '</option>');
                $('#CCMSReloadSaleLimitTypeValue').append(reloadSaleType);

                $('#CCMSReloadSaleLimitValueId').val(res.limitDetailsList[0].ccmsReloadSaleLimitValue);
                $('#CCMSReloadDefineSaleValue').append("<span>(Available Limit: " + res.limitDetailsList[0].ccmsReloadSale + ")</span>");

                var momentDate = new Date(res.limitDetailsList[0].expiryDate);

                var abc = moment(momentDate).format('YYYY-MM-DD');

                console.log(abc, "date");

                $('#LimitExpiryDateValue').val(abc);

                var creditTransType = $('<option value="' + res.limitDetailsList[0].allowCreditTranscation + '">' + res.limitDetailsList[0].allowCreditTranscation + '</option>');
                $('#AllowCreditTranscationValue').append(creditTransType);


                for (var i = 0; i < res.servicesDetailsList.length; i++) {
                    var checkboxList = "<li class='list-group-item'>"
                        + "<div class='custom-control custom-checkbox'>"
                        + "<input type='checkbox' onclick='updateCheck(this)' class='custom-control-input cbk' name=" + res.servicesDetailsList[i].serviceID + " id=" + res.servicesDetailsList[i].serviceID + ">"
                        + "<label class='custom-control-label' for=" + res.servicesDetailsList[i].serviceID + ">" + res.servicesDetailsList[i].serviceName + "</label>"
                        + "</div></li>";

                    $('#wkslist').append(checkboxList);

                    if (res.servicesDetailsList[i].selectedServices == 1) {
                        console.log(res.servicesDetailsList[i].selectedServices);
                        $('input[name *= "' + res.servicesDetailsList[i].serviceID+'"]').prop('checked', true);
                    }
                }

                $("#ManageCardHeader").replaceWith("<p class='text_primary px-3 py-2 bg-grey m-0 font-weight-bold'>Manage Cards CARD PAN: ( " + CardId + ") </p>");

                $("#CardDetailsTab").removeClass("disabled");
                $("#LimitTab").removeClass("disabled");
                $("#ServicesTab").removeClass("disabled");
                $('#CardDetailsTab').tab('show');

                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
        });
    };
</script>

<script type="text/javascript">

    function updateCheck(serviceId) {

        var flag = 0;

        /*serviceId = $(a).attr("Id");*/
        console.log("change name : ", serviceId.id);
        if ($(serviceId).is(':checked')) {
            flag = 1;
            console.log("flag value : ", flag);
            //console.log("checked item : ", $(a).attr("Id"));
        } else {
            flag = 0;
            console.log("flag value : ", flag);
        }

        $.ajax({
            url: "@Url.Action("UpdateService","Cards")",
            type: "POST",
            dataType: "JSON",
            data: { serviceId: serviceId.id, flag: serviceId.checked },
            success: function (res) {
                if (serviceId.checked == true) {
                    $('input[name *= "' + serviceId.id + '"]').prop('checked', true);
                }
                alert(res);
            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });
    };

</script>
<style>
    .nav-item > li.active > a,
    .nav-item > li.active > a:focus,
    .nav-item > li.active > a:hover {
        background-color: gray;
    }

    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background-color: gray;
    }

    .nav-pills .nav-link {
        background-color: cornflowerblue;
        color: black;
    }

    .list-group-item {
        border: none;
    }
</style>