@model HPCL.Common.Models.ViewModel.Cards.SearchAllowedMerchant
@using Microsoft.AspNetCore.Http;

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light">Mapping User Cards to Merchants</li>
        </ul>
        <form method="post" data-ajax="true" data-ajax-controller="Cards" data-ajax-action="MappingCardToMerchant" data-ajax-method="POST" data-ajax-success="OnSuccessGetDetails" data-ajax-failure="OnFailure">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Mapping User Cards to Merchants</p>
                        <div class="col-lg-12 col-md-12 col-12 py-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Card Number <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @{
                                                    if (Context.Session.GetString("LoginType") == "Customer")
                                                    {
                                                        <select name="CardNumber" id="cardNumberVal" class="form-control cardListCls">
                                                            <option value="-1">--Select Card--</option>
                                                        </select>
                                                    }
                                                    else
                                                    {
                                                        <input type="text" name="CardNumber" class="form-control" />
                                                    }
                                                }
                                                @Html.ValidationMessageFor(m => m.CardNumber, "", new {@id= "cardNumberValErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal offset-md-1 col-md-4 col-12">Merchant ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.MerchantId, new {@id="merchantIdVal", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.MerchantId, "", new {@id= "merchantIdValErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Customer ID <sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.CustomerId, new {@id="customerIdVal", @class = "form-control" })
                                                @Html.ValidationMessageFor(m => m.CustomerId, "", new {@id= "customerIdValErr", @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="d-flex align-items-center justify-content-center mt-0">
                                <div class="px-2">
                                    <button class="btn btn_primary" id="searchFire" type="button" onclick="checkSearchVal()">Search</button>
                                </div>
                                <div class="px-2">
                                    <a class="btn btn_primary" href="@Url.Action("ManageMapping")">Manage Card Mapping</a>
                                </div>
                                <div class="px-2">
                                    <button class="btn btn_primary" type="button">Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                
                <div>
                    <div class="alert alert-warning" role="alert" style="display:none;" id="noRecord">

                    </div>
                </div>

                <div id="fetchDetails" style="display:none;">

                    <table id="getDetails" class="table table-striped d-md-table d-block table-bordered table-responsive nowrap mt-3" style="width:100%;">
                        <thead>
                            <tr>
                                <th><input type="checkbox" name="allListCheck" class="checkAll" /></th>
                                <th>Card Number</th>
                                <th>Customer ID</th>
                                <th>Merchant ID</th>
                                <th>Merchant Name</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                    </table>

                    <div class="clearfix"></div>

                    <div class="d-flex align-items-center justify-content-center mt-0">
                        <div class="px-2">
                            <button class="btn btn_primary" type="button" onclick="blockMap()">DELETE MAPPING</button>
                        </div>
                    </div>

                </div>

            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>


<script type="text/javascript">

    function checkSearchVal() {

        var mapMerchantID = /^(?=(3))[0-9]{10}$/;
        var mapCustomerID = /^(?=(2))[0-9]{10}$/;

        //var $inputs = $('input[name=CardNumber],input[name=MerchantId],input[name=CustomerId]');

        //$inputs.on('input', function () {
        //    $inputs.not(this).prop('required', !$(this).val().length);
        //});

        //if ($('#cardNumberVal').val() == "") {
        //    $('#cardNumberValErr').text("Card Number should not be empty");
        //    return false;
        //}

        //if ($('#merchantIdVal').val() == "") {
        //    $('#merchantIdValErr').text("Merchant ID should not be empty");
        //    return false;
        //}

        if (!$('#merchantIdVal').val() == "") {
            if (!$('#merchantIdVal').val().match(/^(?=(3))[0-9]{10}$/)) {
                $('#merchantIdValErr').text("Should start with 3 and 10 Digits Only");
                return false;
            }
        }

        //if ($('#customerIdVal').val() == "") {
        //    $('#customerIdValErr').text("Customer ID should not be empty");
        //    return false;
        //}

        if (!$('#customerIdVal').val() == "") {
            if (!$('#customerIdVal').val().match(/^(?=(2))[0-9]{10}$/)) {
                $('#customerIdValErr').text("Should start with 2 and 10 Digits Only");
                return false;
            }
        }

        $('#cardNumberValErr').text("");
        $('#merchantIdValErr').text("");
        $('#customerIdValErr').text("");

        if ($("#searchFire").valid()) {
            $("#searchFire").submit();
        }
    }


    $(document).ready(function () {

         $.ajax({
                type: 'POST',  // http method
                url: '@Url.Action("GetCardList", "Cards")',
                dataType: "json",
             success: function (data, status, xhr) {

                 console.log(data);

                 $.each(data.cardList, function (i, option) {
                     $("<option/>").val(option.cardNo).text(option.cardNo).appendTo(".cardListCls");
                 });
             },
             error: function (jqXhr, textStatus, errorMessage) {
                 alert("Error Populating Cards");
             }
         });
    });

    function OnSuccessGetDetails(res) {
        console.log(res);

        if (res.searchList.success == true) {

            document.getElementById("noRecord").style.display = "none";

            $("#getDetails td").parent().remove();

            for (var i = 0; i < res.searchList.data.length; i++) {

                var rows = "<tbody><tr>"
                    + "<td><input type='checkbox' class='rowSelect' name='rowCheck'></td>"
                    + "<td><span class='cardNoVal'>" + (res.searchList.data[i].cardNo || '') + "</span></td>"
                    + "<td><span class='merchantVal'>" + (res.searchList.data[i].merchantID || '') + "</span></td>"
                    + "<td><span class='customerVal'>" + (res.searchList.data[i].customerID || '') + "</span></td>"
                    + "<td>" + (res.searchList.data[i].merchantName || '') + "</td>"
                    + "<td>" + (res.searchList.data[i].status || '') + "</td>"
                    + "</tr ></tbody>";

                $('#getDetails').append(rows);
            }

            document.getElementById("fetchDetails").style.display = "block";
        } else {
            document.getElementById("fetchDetails").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchList.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    $(".checkAll").click(function () {
        if (this.checked) {
            $(".rowSelect").prop("checked", true);
        } else {
            $(".rowSelect").prop("checked", false);
        }
    });

    function blockMap() {

        var merchantArray = [];

        $("#getDetails input[type=checkbox]:checked").each(function () {
            var row = $(this).closest("tr");
            var cardNo = row.find('.cardNoVal').text();
            var merchantId = row.find('.merchantVal').text();
            var customerId = row.find('.customerVal').text();

            merchantArray.push({
                cardNo: cardNo,
                merchantId: merchantId,
                customerId: customerId
            });
        });


        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("DeleteCustomerMappingMerchant", "Cards")',
            data: { objCardMerchantMaps: JSON.stringify(merchantArray), status: "Block" },
            dataType: "json",
            success: function (data) {
                $("#noRecord").html("");
                $("#noRecord").append("<span>" + data + "</span>");
                document.getElementById("noRecord").style.display = "block";
            },
            error: function (data) {
                alert(data);
            }
        });

    }


</script>
