@model HPCL.Common.Models.ViewModel.Cards.GetCcmsLimitAll

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="mt-3 w-100">
    <marquee width="100%" direction="left">
        Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
    </marquee>
</div>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">

        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">


                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Set CCMS Limits for All Cards</p>
                    <div class="p-2 p-md-4">
                        <div class="w-100">
                            <div>
                                <form method="post" data-ajax="true" asp-controller="Cards" asp-action="SearchCcmsLimitForAllCards" data-ajax-method="POST" data-ajax-success="OnSuccessSetCcmsLimitAll" data-ajax-failure="OnFailure">

                                    <fieldset class="border-1 rounded border-grey">
                                        <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Select Customer</legend>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap pt-3">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Customer Id<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CustomerId, new { @id = "CCMSCustomerId", @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Status Flag</label>
                                                    <div class="col-md-7 col-12">

                                                        @Html.DropDownListFor(m => m.StatusFlag, Enumerable.Empty<SelectListItem>(), new { @class = "form-control statusVal" })
                                                        @Html.ValidationMessageFor(m => m.StatusFlag, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-md-12 col-12 mt-2">
                                            <div class="form-group d-flex align-items-center justify-content-center flex-wrap">
                                                <div class="col-md-2 col-12">
                                                    <button class="btn btn_primary py-2 px-4" type="submit" id="btnSave" name="submit" onclick="searchAllCards()" style="background-color:#084693;color:white;">SEARCH</button>
                                                </div>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="alert alert-warning" role="alert" style="display:none;" id="noRecord">

                                            </div>
                                        </div>


                                    </fieldset>
                                </form>
                            </div>

                            <div class="clearfix"></div>

                            <div class="mt-4">
                                <form method="post" data-ajax="true" asp-controller="Cards" asp-action="UpdateCcmsLimitAllCards" data-ajax-method="POST" data-ajax-success="OnSuccessUpdateCcmsLimitAllCards" data-ajax-failure="OnFailure">
                                    <fieldset class="border-1 rounded border-grey">
                                        <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Update CCMS Limit</legend>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap pt-3">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Type Of Limit<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.DropDownListFor(m => m.TypeOfLimit, Enumerable.Empty<SelectListItem>(), new { @class = "form-control limitVal" })
                                                        @Html.ValidationMessageFor(m => m.TypeOfLimit, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">CCMS Limit (Rs)</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CcmsLimit, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.CcmsLimit, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </fieldset>


                                    <div class="row" id="setAllLimit" style="display:none;">
                                        <div class="d-flex align-items-center justify-content-center flex-wrap mt-4">
                                            <div class="col-12 col-md-6">
                                                <div id="searchResponse" class="alert alert-warning" role="alert"> </div>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center flex-wrap mb-3 mt-3">
                                            <div class="col-md-2 col-12 d-flex align-items-center justify-content-center">
                                                <div class="pr-2 w-50">
                                                    <button class="btn btn_primary py-2 px-4" type="submit" name="submit">UPDATE</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>

                                    <div class="clearfix"></div>

                                </form>
                            </div>

                        </div>



                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@using Microsoft.AspNetCore.Http;


<script>
    $(document).ready(function () {

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetStatusType", "Common")',
            data: { status: "AllCardLimit" },
            dataType: "json",
            success: function (data, status, xhr) {

                console.log(data);

                $.each(data.statusTypeList, function (i, option) {
                    $("<option/>").val(option.statusId).text(option.statusName).appendTo(".statusVal");
                });
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Status Type");
            }
        });

         $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLimitType", "Common")',
            dataType: "json",
            success: function (data, status, xhr) {

                console.log(data);

                $.each(data.sortedtList, function (i, option) {
                    $("<option/>").val(option.limitId).text(option.description).appendTo(".limitVal");
                });
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Status Type");
            }
        });


        $("input:text").val('');

         var loginType = '@Context.Session.GetString("LoginType")';

        if (loginType == "Customer") {

            $.ajax({
                url: "@Url.Action("SearchCcmsLimitForAllCards", "Cards")",
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    OnSuccessSetCcmsLimitAll(data);

                    $("#CCMSCustomerId").val('@Context.Session.GetString("UserId")');
                    $("#CCMSCustomerId").attr("readonly", true);

                    document.getElementById("setAllLimit").style.display = "block";
                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }


    });

    function searchAllCards() {
        if ($("#CCMSCustomerId").val() == "") {
            document.getElementById('setAllLimit').style.display = 'none';
        }
        //if (($("#CCMSCustomerId").val() != "")) {
        //    document.getElementById('setAllLimit').style.display = 'block';
        //}
    };

    function OnSuccessSetCcmsLimitAll(res) {

        console.log(res);

        if (res.searchCcmsCard.success == true) {

            document.getElementById("noRecord").style.display = "none";

            $("#searchResponse").html('');

            var search = "<span>Actual CCMS Balance : " + res.searchCcmsCard.data[0].actualCCMSBalance + " Unallocated CCMS Balance : " + res.searchCcmsCard.data[0].unallocatedCCMSBalance + "</span>";

            $("#searchResponse").append(search);

            document.getElementById("setAllLimit").style.display = "block";

        } else {
            document.getElementById("setAllLimit").style.display = "none";
            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchCcmsCard.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    function OnFailure(data) {
        alert(data);
    }

    function OnSuccessUpdateCcmsLimitAllCards(data) {
        $("#noRecord").html("");
        $("#noRecord").append("<span>" + data + "</span>");
        document.getElementById("noRecord").style.display = "block";
    }
    function OnFailure(data) {
        alert(data);
    }

</script>