@model HPCL.Common.Models.ViewModel.Cards.GetCcmsLimitAll

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<div class="col-lg-12">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Cards</a> </li>
            <li class="breadcrumb-item font-weight-light"><a href="@Url.Action("SetCcmsLimitForAllCards", "Cards")" class="text_primary">Set CCMS Limits for All Cards</a></li>
        </ul>
        <div id="reason" class="mb-3 text-center alert alert-success mt-3" style="display:none;"></div>
        <div class="tab-content mt-3" id = "respMsg">
            <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                <div class="border-1 rounded border-grey h-100 mt-3">


                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Set CCMS Limits for All Cards</p>
                    <div class="p-2 p-md-4">
                        <div class="w-100">
                            <div>
                                <form method="post" data-ajax="true" asp-controller="Cards" asp-action="SearchCcmsLimitForAllCards" data-ajax-method="POST" data-ajax-success="OnSuccessSetCcmsLimitAll" data-ajax-failure="OnFailure">

                                    <fieldset class="border-1 rounded border-grey">
                                        <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Select Customer</legend>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap pt-3">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Customer ID<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CustomerId, new { @id = "CCMSCustomerId", @class = "form-control restrictPaste", onkeypress = "return isNumberKey(event)" })
                                                        @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Card Status</label>
                                                    <div class="col-md-7 col-12">

                                                        @Html.DropDownListFor(m => m.StatusFlag, Enumerable.Empty<SelectListItem>(), new { @class = "form-control statusVal" })
                                                        @Html.ValidationMessageFor(m => m.StatusFlag, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="clearfix"></div>

                                        <div class="col-md-12 col-12 mt-2">
                                            <div class="form-group d-flex align-items-center justify-content-center flex-wrap">
                                                <div class="px-2">
                                                    <button class="btn btn_primary" type="submit" id="btnSave" name="submit" onclick="searchAllCards()" style="background-color:#084693;color:white;">SEARCH</button>
                                                </div>
                                            </div>
                                        </div>

                                    </fieldset>
                                </form>
                            </div>

                            <div id="noRecord" class="mb-3 text-center alert alert-danger" style="display:none;"></div>

                            <div class="clearfix"></div>

                            <div class="mt-4">
                    
                                    <fieldset class="border-1 rounded border-grey">
                                        <legend class="font-12 font-weight-bold d-inline-block w-auto ml-3 mb-0 px-2">Update CCMS Limit</legend>
                                        <div class="d-flex align-items-center justify-content-between flex-wrap pt-3">
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">Type Of Limit<sup class="text-danger">*</sup></label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.DropDownListFor(m => m.TypeOfLimit, Enumerable.Empty<SelectListItem>(),  new { @class = "form-control limitVal" })
                                                        @Html.ValidationMessageFor(m => m.TypeOfLimit, "", new {@id="TypeOfLimitErr", @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-12">
                                                <div class="form-group d-flex align-items-center flex-wrap">
                                                    <label class="font-weight-normal col-md-5 col-12 mb-0">CCMS Limit (Rs)</label>
                                                    <div class="col-md-7 col-12">
                                                        @Html.TextBoxFor(m => m.CcmsLimitRs, new {@id="CcmsLimitRs", @class = "form-control restrictPaste", @onblur = "ccmsLimitValidate(this)", @maxlength="10" })
                                                        @Html.ValidationMessageFor(m => m.CcmsLimitRs, "", new {@id="CcmsLimitRsErr", @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                    </fieldset>


                                    <div class="row" id="setAllLimit" style="display:none;">
                                        <div class="d-flex align-items-center justify-content-center flex-wrap mt-4">
                                            <div class="col-12 col-md-6">
                                                <div id="searchResponse" class="alert alert-warning mb-1" role="alert"> 
                                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td width="50%" class="actual"></td>
                                                                <td width="50%" class="unallocated"></td>
                                                            </tr>
                                                        </tbody>
                                                      </table>
                                                </div>
                                                <p class="warnMsg text_primary"></p>
                                            </div>
                                        </div>

                                        <div class="d-flex align-items-center justify-content-center flex-wrap mt-3">
                                            <div class="col-md-2 col-12 d-flex align-items-center justify-content-center">
                                                <div class="pr-2 w-50">
                                                    <button class="btn btn_primary py-2 px-4" type="button" name="submit" onclick="updateCards()">UPDATE</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>

                                    </div>

                                    <div class="clearfix"></div>
                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@using Microsoft.AspNetCore.Http;


<script>
        $('.restrictPaste').on('paste', function (event) {
        if (event.originalEvent.clipboardData.getData('Text').match(/[^\d]/)) {
            event.preventDefault();
        }
    });


    $("#CcmsLimitRs").on('keydown', function (event) {
        if (event.shiftKey == true) {
            event.preventDefault();
        }
        debugger;
        if ((event.keyCode >= 48 && event.keyCode <= 57) || (event.keyCode >= 96 && event.keyCode <= 105) || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 37 || event.keyCode == 39 || event.keyCode == 46 || event.keyCode == 190 || event.keyCode==110) {

        } else {
            event.preventDefault();
        }
        if($(this).val().indexOf('.') !== -1 && (event.keyCode == 190|| event.keyCode == 110))
            event.preventDefault();
     });

    $(document).ready(function () {

        function isNumberKey(evt) {
            var charCode = (evt.which) ? evt.which : event.keyCode;
            if (charCode != 46 && charCode > 31
                && (charCode < 48 || charCode > 57))
                return false;

            return true;
        }

        $('#CcmsLimitRs').attr("readonly", true);

        $('select').SumoSelect({
            placeholder: '-Select-',
            search: true,
            searchText: 'Enter Text here.'
        });

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetStatusType", "Common")',
            data: { status: "AllCardLimit" },
            dataType: "json",
            success: function (data, status, xhr) {

                console.log(data);

                $.each(data.statusTypeList, function (i, option) {
                    $("<option/>").val(option.statusId).text(option.statusName).appendTo(".statusVal");
                });
                $(".statusVal")[0].sumo.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Status Type");
            }
        });

        $.ajax({
            type: 'POST',  // http method
            url: '@Url.Action("GetLimitType", "Common")',
            dataType: "json",
            success: function (data, status, xhr) {

                console.log(data);

                $("<option/>").val("0").text("--Select Limit--").appendTo(".limitVal");

                $.each(data.sortedtList, function (i, option) {
                    $("<option/>").val(option.limitId).text(option.description).appendTo(".limitVal");
                });
                $(".limitVal")[0].sumo.reload();
            },
            error: function (jqXhr, textStatus, errorMessage) {
                alert("Error Populating Status Type");
            }
        });


        $("input:text").val('');

         var loginType = '@Context.Session.GetString("LoginType")';

        if (loginType == "Customer") {

            $.ajax({
                url: "@Url.Action("SearchCcmsLimitForAllCards", "Cards")",
                type: "POST",
                dataType: "JSON",
                success: function (data) {

                    OnSuccessSetCcmsLimitAll(data);

                    $("#CCMSCustomerId").val('@Context.Session.GetString("UserId")');
                    $("#CCMSCustomerId").attr("readonly", true);

                    document.getElementById("setAllLimit").style.display = "block";
                },
                error: function (ex) {
                    alert('Failed' + ex);
                }
            });
        }
    });

    $(".limitVal").change(function () {
        var selectedValue = $('.limitVal option:selected').text();

        if((selectedValue == "Unlimited") || (selectedValue == "--Select Limit--")){
            $('#CcmsLimitRs').val('');
            $("#CcmsLimitRsErr").text('');
            $('#CcmsLimitRs').attr("readonly", true);
        }else{
            $('#CcmsLimitRs').attr("readonly", false);
        }
    });


    function searchAllCards() {
        if ($("#CCMSCustomerId").val() == "") {
            document.getElementById('setAllLimit').style.display = 'none';
        }
    };

    function OnSuccessSetCcmsLimitAll(res) {

        console.log("res",res);

        if (res.searchCcmsCard.success == true) {

            $("#CcmsLimitRsErr").text('');

            $("#CcmsLimitRs").val('');

            $("#CcmsLimitRs").attr("readonly", true);

            $(".limitVal").val("0");

            $(".limitVal")[0].sumo.reload();

            document.getElementById("noRecord").style.display = "none";

            $(".actual").html('');
            $(".unallocated").html('');
            $(".warnMsg").html('');

            if(res.searchCcmsCard.data[0].ccmsUnlimitedStatus == 1){
                var unallocated = "<span>Unallocated CCMS Balance : 0</span>";
                var warningMsg = "<span><sup>*</sup>Balance is showing 0 because CCMS Limit is set 'UNLIMITED' for one or more cards</span>";
                $(".warnMsg").append(warningMsg);
            }else{
                var unallocated = "<span>Unallocated CCMS Balance : " + res.searchCcmsCard.data[0].unallocatedCCMSBalance + "</span>";
            }
            
            var actual = "<span>Actual CCMS Balance : " + res.searchCcmsCard.data[0].actualCCMSBalance + "</span>";
            
            $(".actual").append(actual);
            $(".unallocated").append(unallocated);

            document.getElementById("setAllLimit").style.display = "block";

        } else {
            document.getElementById("setAllLimit").style.display = "none";

            $("#CcmsLimitRsErr").text('');

            $("#CcmsLimitRs").val('');

            $("#CcmsLimitRs").attr("readonly", true);

            $(".limitVal").val("0");

            $(".limitVal")[0].sumo.reload();

            $("#noRecord").html("");
            $("#noRecord").append("<span>" + res.searchCcmsCard.message + "</span>");
            document.getElementById("noRecord").style.display = "block";
        }
    }

    function OnFailure(data) {
        alert("Issue with data");
    }

    function updateCards() {

        var limitype = $("#TypeOfLimit").val();
        var amountVal = $("#CcmsLimitRs").val();

        console.log(amountVal,"amountVal");

        var flag = "Y";

        if(limitype == ""){
            $("#TypeOfLimitErr").text("Required Type of Limit");
             flag = "N";
        }

        if(amountVal == ""){
            amountVal = 0;
        }else{
            if(!amountVal.match("^[0-9]{1,10}$")){
                $("#CcmsLimitRsErr").text("Please Enter numeric value");
                flag = "N";
            }else if((amountVal == 0) || !(amountVal < 5000001)){
                $("#CcmsLimitRsErr").text("Invalid CCMS Limit");
                flag = "N";
            }
        }

        if (flag == "N")
            e.preventDefault();

        if (flag == "Y") {
             //if ($("#updateAllCards").valid()) {
                 $.ajax({
                    type: 'POST',  // http method
                    url: '@Url.Action("UpdateCcmsLimitAllCards", "Cards")',
                    data: { limitype: limitype, amountVal:amountVal},
                    success: function (data) {

                        document.getElementById("respMsg").style.display = "none";
                        $("#reason").html("");
                        $("#reason").append("<span>" + data + "</span>");
                        document.getElementById("reason").style.display = "block";

                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        alert("Error Populating Status Type");
                    }
                });
            //}
        }
    }

    function ccmsLimitValidate(o){
        var amountVal = o.value;
        if(amountVal == ""){
            amountVal = 0;
        }else{
            if(!amountVal.match(/^[0-9.]+$/)){
                $("#CcmsLimitRsErr").text("Please Enter numeric value");
                return false;
            }else if((amountVal == 0) || !(parseFloat(amountVal) <= 5000000)){
                $("#CcmsLimitRsErr").text("Invalid CCMS Limit");
                return false;
            }else{
                $("#CcmsLimitRsErr").text("");
            }
        }
     }

</script>