@model HPCL_Web.Models.Cards.SetCardLimit.GetCardLimit

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.js"></script>

<marquee width="100%" direction="left" height="30%">
    Dear Fleet Customer, For TDS related information, Please check the latest notification at TDS Alert
</marquee>
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">

        <form method="post" data-ajax="true" data-ajax-controller="Cards" data-ajax-action="AcDcCardSearch" data-ajax-method="POST" data-ajax-success="OnSuccessSetLimit" data-ajax-failure="OnFailure">
            <div class="tab-content mt-3" id="myTabContent">
                <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
                    <div class="border-1 rounded border-grey h-100 mt-3">

                        
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Set Sale Limit for Cards</p>
                        <div class="py-2 p-md-4">
                            <div class="w-100">

                                <fieldset class="border-1 rounded border-grey">
                                    <legend class="font-weight-bold">Search Cards</legend>
                                    <div class="d-flex align-items-center justify-content-between flex-wrap">

                                        <div class="form-group d-flex align-items-center flex-wrap">

                                        </div>

                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Customer Id<sup class="text-danger">*</sup></label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.CustomerId, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.CustomerId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Card Number</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.CardNo, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.CardNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Mobile Number</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.TextBoxFor(m => m.MobileNo, new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.MobileNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-12">
                                            <div class="form-group d-flex align-items-center flex-wrap">
                                                <label class="font-weight-normal col-md-5 col-12">Card Status</label>
                                                <div class="col-md-7 col-12">
                                                    @Html.DropDownListFor(m => m.Statusflag, new SelectList(Model.CardStatusList, "StatusId", "StatusName"), new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(m => m.Statusflag, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="clearfix"></div>

                                    <div class="d-flex align-items-center justify-content-center mt-3">
                                        <div class="px-2">
                                            <button class="btn" type="submit" id="btnSave" name="submit" onclick="openSearchGrid()" style="background-color:#084693;color:white;">SEARCH</button>
                                            <a class="btn" href="#" id="btnCancel" name="cancel" onclick="resetClick()" style="background-color:#084693;color:white;">RESET</a>
                                            <a class="btn" href="#" id="btnCancel" name="cancel" style="background-color:#084693;color:white;">UPLOAD EXCEL</a>
                                        </div>
                                    </div>

                                    <div class="form-group d-flex align-items-center flex-wrap">

                                    </div>

                                </fieldset>
                                    
                            </div>                 

                            <div class="clearfix"></div>

                            <div class="form-group d-flex align-items-center flex-wrap">

                            </div>


                            <div id="UpdateGrid" style="display:none;">

                                <button class="btn" type="button" id="btnSave" name="submit" onclick="updateCards()" style="background-color:#084693;color:white;float:right;margin-bottom:10px;">UPDATE</button>

     
                                <table id="CardSearch" class="table table-striped table-bordered table-responsive" style="display:inline-table">
                                    <tr>

                                        <th>
                                            @Html.DisplayName("Select")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Card Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Vehicle No/User Name")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Mobile Number")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Status")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Issue Date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Expiry Date")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Cash Purse Limit")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Sale Txn limit")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Daily Sale Limit")
                                        </th>
                                        <th>
                                            @Html.DisplayName("Monthly Sale limit")
                                        </th>

                                    </tr>
                                </table>
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


<script>

    function openSearchGrid() {
        if ($("input:text").val() == "") {
            document.getElementById('UpdateGrid').style.display = 'none';
        }
        if (($("input:text").val() != "")) {
            document.getElementById('UpdateGrid').style.display = 'inline-table';
        }
    }

    function resetClick() {
        $("input:text").each(function () {
            $(this).val("");
        });
        $("#CardSearch td").parent().remove();
        document.getElementById('UpdateGrid').style.display = 'none';
    }

    function OnSuccessSetLimit(data) {

        console.log(data, "data");
        $("#CardSearch td").parent().remove();

        for (var i = 0; i < data.searchList.length; i++) {

            var rows = "<tbody><tr>"
                + "<td><input type='checkbox' class='checkEnable' name='enableRow'></td>"
                + "<td><span class='getCard'>" + (data.searchList[i].cardNumber || '') + "</span></a></td>"
                + "<td>" + (data.searchList[i].vechileNo || '') + "</td>"
                + "<td>" + (data.searchList[i].mobileNumber || '') + "</td>"
                + "<td>" + (data.searchList[i].status || '') + "</td>"
                + "<td>" + (data.searchList[i].issueDate || '') + "</td>"
                + "<td>" + (data.searchList[i].expiryDate || '') + "</td>"

                + "<td><input class='form-control cpl' name='" + (data.searchList[i].cashPurseLimit || '') + "' type='text' value='" + (data.searchList[i].cashPurseLimit || '') + "' readonly='readonly'></td>"
                + "<td><input class='form-control stl' name='" + (data.searchList[i].saleTxnLimit || '') + "' type='text' value='" + (data.searchList[i].saleTxnLimit || '') + "' readonly='readonly'></td>"
                + "<td><input class='form-control dsl' name='" + (data.searchList[i].dailySaleLimit || '') + "' type='text' value='" + (data.searchList[i].dailySaleLimit || '') + "' readonly='readonly'></td>"
                + "<td><input class='form-control msl' name='" + (data.searchList[i].monthlySaleLimit || '') + "' type='text' value='" + (data.searchList[i].monthlySaleLimit || '') + "' readonly='readonly'></td></tr></tbody>";


            $('#CardSearch').append(rows);
        }
    }

    var cardNo;
    var cashPurseLimit;
    var saleTxnLimit;
    var dailySaleLimit;
    var monthlySaleLimit;
    var currentRow;

    $("#CardSearch").on('click', '.checkEnable', function (e) {

        currentRow = $(this).closest("tr");

        if ($(this).is(':checked')) {

            currentRow.find('input:text').attr("readonly", false);

            cardNo = currentRow.find('.getCard').text();


            console.log("txt", textBoxValue);
        }
        if (!$(this).is(':checked')) {
            currentRow.find('input:text').attr("readonly", true);
        }
    });


    function OnFailure(data) {
        alert('HTTP Status Code: ' + data + '  Error Message: ' + data);
    }


    function updateCards() {

        cashPurseLimit = currentRow.find('.cpl').val();
        saleTxnLimit = currentRow.find('.stl').val();
        dailySaleLimit = currentRow.find('.dsl').val();
        monthlySaleLimit = currentRow.find('.msl').val();

        $.ajax({
            url: "@Url.Action("UpdateCards", "Cards")",
            type: "POST",
            dataType: "JSON",
                    data: {
                        cardNo : cardNo,
                        Cashpurse : cashPurseLimit,
                        Saletxn : saleTxnLimit,
                        Dailysale : dailySaleLimit,
                        Monthlysale : monthlySaleLimit
                    },
            success: function (res) {

                alert(res);

            },
            error: function (ex) {
                alert('Failed' + ex);
            }
        });

    }
</script>