@model IEnumerable<HPCL.Common.Models.ResponseModel.Cards.ViewGird>
@using System.Collections

@{
    ViewData["Title"] = "UserDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http;

<div class="col-lg-12">
<div class="bg-white p-2 p-md-4">
    <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
        <li class="breadcrumb-item"><a href="@Url.Action("Index")" class="text_primary">Cards</a> </li>
        <li class="breadcrumb-item font-weight-light"><a href="@Url.Action("SetCcmsForIndCards","Cards")" class="text_primary">Set CCMS Limit for Individual Cards</a></li>
    </ul>
    <div> 

        <div>
            <div class="form-group d-flex align-items-center flex-wrap">
            </div>
            <div class="form-group d-flex align-items-center flex-wrap">
            </div>

            @{
                if (@Context.Session.GetInt32("ResMsgCode") == 0){
                    <div id="noRecord" class="mb-3 text-center alert alert-danger">@Context.Session.GetString("ResMsg")</div>
                }
            }

            @{
                if (@Context.Session.GetInt32("ResMsgCode") == 1)
                {
                    <div id="limitSection" class="mb-3 text-center alert alert-success">@Context.Session.GetString("ResMsg")</div>

                    <table class="table table-striped table-bordered inputfields progresstabs" style="font-size:0.8vw;">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayName("Card Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Vehicle No")
                                </th>
                                <th>
                                    @Html.DisplayName("Issue Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Expiry Date")
                                </th>
                                <th>
                                    @Html.DisplayName("Status")
                                </th>
                                <th>
                                    @Html.DisplayName("Mobile Number")
                                </th>
                                <th>
                                    @Html.DisplayName("Limit Name")
                                </th>
                                <th>
                                    @Html.DisplayName("Amount")
                                </th>
                            </tr>
                        </thead>
                        <tbody id="myTable">
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Cardno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vehicleNo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.issueDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.expiryDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.status)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Mobileno)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.limitTypeText)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Amount)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>
</div>

<style>
    .outPopUp {
        position: absolute;
        width: 300px;
        height: 200px;
        z-index: 15;
        top: 50%;
        left: 50%;
        margin: -100px 0 0 -150px;
        background: red;
    }
</style>