@model HPCL.Common.Models.ViewModel.Security.ManageNewUserViewModel
@using Microsoft.AspNetCore.Http;
<div class="col-lg-12 p-4 p-md-4">
    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="@Url.Action("ManageUser","Security")" class="text_primary">Manage Users</a> </li>
            <li class="breadcrumb-item font-weight-light">Add User</li>
        </ul>
        <ul class="nav nav-tabs mt-2 form_tabs justify-content-end" id="formTab" role="tablist">
            <li class="nav-item"> <a class="nav-link active" id="userinfo-tab" data-toggle="tab" href="#userinfo" role="tab" aria-controls="userinfo" aria-selected="true">User Info</a> </li>
            <li class="nav-item"> <a class="nav-link" id="userrole-tab" data-toggle="tab" href="#userrole" role="tab" aria-controls="userrole" aria-selected="false">User Role</a> </li>

        </ul>
        <div class="tab-content mt-3" id="myTabContent">
            <div class="tab-pane fade show active" id="userinfo" role="tabpanel" aria-labelledby="userinfo-tab">
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">User Information</p>
                    <div class="py-2 p-md-4">
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">User Name <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.NewUserName, new { @class = "form-control", maxlength = "50"})
                                            <span class="error" style="display:none" id="userName_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Email <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.NewEmail, new { @class = "form-control", maxlength = "50"})
                                            <span class="error" style="display:none" id="email_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Password <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">

                                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", maxlength = "50"})
                                            <span class="error" style="display:none" id="password_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Confirm Password <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.PasswordFor(m => m.NewConfirmPassword, new { @class = "form-control", maxlength = "50"})
                                            <span class="error" style="display:none" id="confirmPassword_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex align-items-center justify-content-between flex-wrap row">
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal col-md-5 col-12">Secret Question <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.DropDownListFor(m => m.NewSecretQuestion, new SelectList(Model.CustomerSecretQueMdl, "SecretQuestionId", "SecretQuestionName"), new { @class = "form-control" })
                                            <span class="error" style="display:none" id="secretQuestion_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-12 col-12">
                                <div class="form-group d-flex align-items-center flex-wrap">
                                    <label class="font-weight-normal offset-md-1 col-md-4 col-12">Secret Question Answer <sup class="text-danger">*</sup></label>
                                    <div class="col-md-7 col-12">
                                        <div class="custom_select">
                                            @Html.TextBoxFor(m => m.NewSecretAnswer, new { @class = "form-control", maxlength = "50"})
                                            <span class="error" style="display:none" id="secretAns_error"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="d-flex align-items-center justify-content-center mt-0">
                            <div class="px-0">
                                <button class="btn btn_primary" id="btnCreate" type="button">Create User</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="tab-pane fade show" id="userrole" role="tabpanel" aria-labelledby="userrole-tab">
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">User Roles</p>
                    <div class="d-flex align-items-start flex-wrap mt-3">
                        <div class="col-12 col-lg-12">

                            <table id="ViewRedemptionTable" class="table table-striped d-block d-md-table table-bordered table-responsive mt-3" style="width:100%;">
                                <thead>
                                    <tr>
                                        <th>Role</th>
                                        <th>Location</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><a href="#">View Data Bank</a></td>
                                        <td>NORTH ZONE,NORTH CENTRAL ZONE,WEST ZONE,NORTH WEST ZONE,EAST ZONE,SOUTH Z...</td>
                                        <td><a href="#"><i class="fa fa-trash"></i></a></td>
                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="border-1 rounded border-grey w-100 mt-3">
                    <div class="d-flex align-items-start flex-wrap">
                        <div class="col-12 col-sm-3 px-0">
                            <div class="UserRoleArea">
                                <h2>User Role</h2>
                                @if (Model.getUserRolesandregions.Count() > 0)
                                {
                                    if (Model.getUserRolesandregions.First().Data.UserRoles.Count() > 0)
                                    {
                                        <ul style="max-height:400px; overflow-y:scroll;">
                                            @foreach (var item in Model.getUserRolesandregions.First().Data.UserRoles)
                                            {
                                                <li>@item.UserRole</li>

                                            }

                                        </ul>
                                    }
                                }

                            </div>
                        </div>
                        <div class="col-12 col-sm-9 px-0">
                            <div class="LocationsArea">
                                <h2>Locations Area</h2>
                                <div class="panel-group" id="accordion">
                                    <!-- /.panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="panel-title"></h4>
                                            <a class="" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" contenteditable="false">
                                                <div class="form-check form-check-inline">
                                                    <input class="form-check-input" type="checkbox" id="checkAll" value="option1">
                                                    <label class="form-check-label" for="inlineCheckbox1">All</label>
                                                </div>
                                            </a>
                                        </div>
                                        <!--/.panel-heading -->
                                        <div id="collapseTwo" class="panel-collapse collapse show">
                                            <div class="panel-body">
                                                <!-- nested -->
                                                <div class="panel-group" id="nested">
                                                    @{
                                                        int i = 0, j = 0;
                                                        string ZoneId = "0";
                                                    }
                                                    @foreach (var item in Model.getUserRolesandregions.First().Data.Locations.OrderBy(x => x.ZonalOfficeID))
                                                    {
                                                        i++;
                                                        @if (ZoneId != item.ZonalOfficeID)
                                                        {
                                                            ZoneId = item.ZonalOfficeID;
                                                            <div class="panel panel-default">
                                                                <div class="panel-heading">
                                                                    <h4 class="panel-title"></h4>
                                                                    <a class="collapsed" data-toggle="collapse" data-parent="#nested" href="#nested_@i">
                                                                        <div class="form-check form-check-inline">
                                                                            <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                            <label class="form-check-label" for="inlineCheckbox1">@item.ZonalOfficeName</label>
                                                                        </div>
                                                                    </a>

                                                                </div>
                                                                <!--/.panel-heading -->
                                                        <div id="nested_@i" class="panel-collapse collapse in">
                                                                    <div class="panel-body">
                                                                        <ul style="padding-left: 25px;">
                                                                            @foreach (var item1 in Model.getUserRolesandregions.First().Data.Locations.Where(x => x.ZonalOfficeID == item.ZonalOfficeID).OrderBy(x => x.ZonalOfficeID))
                                                                            {
                                                                                j++;
                                                                                <li>
                                                                                    <div class="form-check form-check-inline">
                                                                                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                                                                                        <label class="form-check-label" for="inlineCheckbox1">@item1.RegionalOfficeName</label>
                                                                                    </div>
                                                                                </li>
                                                                            }


                                                                        </ul>
                                                                    </div>
                                                                    <!--/.panel-body -->
                                                        </div>

                                                                <!--/.panel-collapse -->
                                                    </div>
                                                        }
                                                    }
                                                    <!-- /.panel -->

                                                </div>
                                                <!-- /.panel-group -->
                                                <!-- nested -->
                                            </div>
                                            <!--/.panel-body -->
                                            
                                        </div>
                                        <!--/.panel-collapse -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.panel-group -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <div class="px-2">
                        <button class="btn btn_primary" type="button">Previous</button>
                    </div>
                    <div class="px-2">
                        <button class="btn btn_primary" type="button">Create User</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="clearfix"></div>

<script type="text/javascript">
      $("#btnCreate").on("click", (function (e) {
         var userName=$("#NewUserName").val();
         var newEmail=$("#NewEmail").val();
         var password=$("#NewPassword").val();
         var confirm=$("#NewConfirmPassword").val();
         var secretAns=$("#NewSecretAnswer").val();
          var secretQstn =$("#NewSecretQuestion").val();
          var flag = "Y";

            if(userName.trim()==""){
                $("#userName_error").html("Please enter User Name");
                $("#userName_error").attr("style","display:block");
                flag="N";
            }
            else{
                if(!(userName.match(userNameCheck))){
                     $("#userName_error").html("Please enter valid User Name");
                     $("#userName_error").attr("style","display:block");
                      flag="N";
                }

            }
            if(newEmail.trim()==""){
                $("#email_error").html("Please enter Email");
                $("#email_error").attr("style","display:block");
                flag="N";
            }
            else{
                if(!(newEmail.match(email))){
                     $("#email_error").html("Please enter valid Email");
                     $("#email_error").attr("style","display:block");
                     flag="N";

                }
            }
            if(password.trim()==""){
                $("#password_error").html("Please enter Password");
                $("#password_error").attr("style","display:block");
                flag="N";
            }
            else{
               if(!(password.match(passwordCheck))){
                     $("#password_error").html("Please enter valid Password");
                     $("#password_error").attr("style","display:block");
                     flag="N";
                }
            }
            if(confirm.trim()==""){
                $("#confirmPassword_error").html("Please enter Confirm Password");
                $("#confirmPassword_error").attr("style","display:block");
                flag="N";

            }
            else{
                if(password!=""){
                    if(confirm!=password){
                         $("#confirmPassword_error").html("Please enter same Password");
                         $("#confirmPassword_error").attr("style","display:block");
                         flag="N";
                    }
                }
            }
            if(secretAns.trim()==""){
                $("#secretAns_error").html("Please enter Password Answer");
                $("#secretAns_error").attr("style","display:block");
                flag="N";

            }
            if (id == 0) {
                $("#secretQuestion_error").html("Please select Secret Question");
                $("#secretQuestion_error").attr("style","display:block");
                flag="N";
            }
          if (flag == "N")
              e.preventDefault();
           else{
              var ReqModel={};
               $.ajax({
               type: 'POST',  // http method
               url: '@Url.Action("InsertNewUser", "Security")',
               contentType: "application/json; charset=utf-8",
               dataType: 'JSON',
               data: JSON.stringify(ReqModel);
               success: function (data, status, xhr) {
                   var v = data;
                   if (status == 'success') {

                   }
                   else {
                       console.log(v);
                   }
               },
               error: function (jqXhr, textStatus, errorMessage) {
                   alert("Error"+ errorMessage);
               }
           });
               }
      })
      );
     $("#NewUserName").on("blur", function() {
         var userName=$("#NewUserName").val();
         if(userName.trim()==""){
            $("#userName_error").html("Please enter User Name");
            $("#userName_error").attr("style","display:block");

        }
        else{
            if(!(userName.match(userNameCheck))){
                 $("#userName_error").html("Please enter valid User Name");
                 $("#userName_error").attr("style","display:block");
            }
            else{
                 $("#userName_error").html("");
                 $("#userName_error").attr("style","display:none");
            }


        }
    });
     $("#NewEmail").on("blur", function() {
         var newEmail=$("#NewEmail").val();
         if(newEmail.trim()==""){
            $("#email_error").html("Please enter Email");
            $("#email_error").attr("style","display:block");

        }
        else{
            if(!(newEmail.match(email))){
                 $("#email_error").html("Please enter valid Email");
                 $("#email_error").attr("style","display:block");
            }
            else{
                 $("#email_error").html("");
                 $("#email_error").attr("style","display:none");
            }

        }
    });
     $("#NewPassword").on("blur", function() {
         var password=$("#NewPassword").val();
         if(password.trim()==""){
            $("#password_error").html("Please enter Password");
            $("#password_error").attr("style","display:block");

        }
        else{
           if(!(password.match(passwordCheck))){
                 $("#password_error").html("Please enter valid Password");
                 $("#password_error").attr("style","display:block");
            }
            else{
                 $("#password_error").html("");
                 $("#password_error").attr("style","display:none");
            }

        }
    });
     $("#NewConfirmPassword").on("blur", function() {
         var confirm=$("#NewConfirmPassword").val();
         if(confirm.trim()==""){
            $("#confirmPassword_error").html("Please enter Confirm Password");
            $("#confirmPassword_error").attr("style","display:block");

        }
        else{
            var password=$("#NewPassword").val();
            if(password!=""){
                if(confirm!=password){
                     $("#confirmPassword_error").html("Please enter same Password");
                     $("#confirmPassword_error").attr("style","display:block");
                }
                else{
                     $("#confirmPassword_error").html("");
                     $("#confirmPassword_error").attr("style","display:none");
                }
            }
            else{
                $("#confirmPassword_error").html("");
                $("#confirmPassword_error").attr("style","display:none");
            }

        }
    });
    $("#NewSecretAnswer").on("blur", function() {
         var secretAns=$("#NewSecretAnswer").val();
         if(secretAns.trim()==""){
            $("#secretAns_error").html("Please enter Password Answer");
            $("#secretAns_error").attr("style","display:block");

        }
        else{
            $("#secretAns_error").html("");
            $("#secretAns_error").attr("style","display:none");

        }
    });
    $("#NewSecretQuestion").change(function () {
        var id = this.value;
        if (id == 0) {
            $("#secretQuestion_error").html("Please select Secret Question");
            $("#secretQuestion_error").attr("style","display:block");
        }
        else{
            $("#secretQuestion_error").html("");
            $("#secretQuestion_error").attr("style","display:none");
        }
    });
</script>