<div style="width:100%;">
    <div class="pt-3 px-0">
        <div class="d-flex align-items-stretch justify-content-start flex-wrap">
             <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("UserCreationRequest", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Request</h4>
                        <p>User Creation Request</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("UserCreationApproval", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Approval</h4>
                        <p>Approval / Rejection of user Created</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("UserCreationRequestView", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Request View</h4>
                        <p>User Creation Request View</p>
                    </div>
                </a>
            </div>
          
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("UserCreationApprovalNonRBE", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>User Creation Approval</h4>
                        <p>User Creation Approval</p>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ManageRole", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Role</h4>
                        <p>Manage Role</p>
                    </div>
                </a>
            </div>
              <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ManageUser", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage User</h4>
                        <p>Manage User</p>
                    </div>
                </a>
            </div>
             <div class="col-lg-3 col-md-4 col-12 mb-3">
                <a href="@Url.Action("ManageAggregatorUsers", "Security")" class="dashboard_thumb py-3 d-flex align-items-start justify-content-start">
                    <div class="thumb_icon">
                        <img src="~/assets/images/manage_users.png" class="img-fluid" alt="">
                    </div>
                    <div class="px-3">
                        <h4>Manage Aggregator Users</h4>
                        <p>Manage Aggregator Users</p>
                    </div>
                </a>
            </div>
             
        </div>
    </div>
</div>