@model HPCL.Common.Models.ViewModel.Security.GetUserManageRoleModel
@using HPCL.Common.Resources


<div class="col-lg-12 p-4 p-md-4">

    <div class="bg-white p-2 p-md-4">
        <ul class="breadcrumb bread_custom bg-transparent m-0 pb-1 py-0 px-0">
            <li class="breadcrumb-item"><a href="#" class="text_primary">Manage Role</a> </li>
            <li class="breadcrumb-item font-weight-light">Add Role and Permissions</li>
        </ul>
        <div id="reason" class="mb-3 text-center alert" style="display:none"></div>
        <form class="toBeHiddenOnSuccess">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0">
                    <div class="border-1 rounded border-grey pb-3">
                        <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Add Role and Permissions</p>
                        <div class="col-lg-12 col-md-12 col-12 pt-3">
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Role Name<sup class="text-danger">*</sup></label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextBoxFor(m => m.RoleName, new { @class = "form-control", maxlength = "50"})
                                                <span class="error" style="display:none" id="roleName_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12">
                                    <div class="d-flex align-items-center flex-wrap mb-3">
                                        <label class="font-weight-normal col-md-4 col-12">Role Description</label>
                                        <div class="col-md-7 col-12">
                                            <div class="custom_select">
                                                @Html.TextAreaFor(m => m.RoleDescription, new { @class = "form-control", maxlength = "50"})
                                                <span class="error" id="roleDescription_error"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>

                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-0 mt-3">
                    <div class="border-1 rounded border-grey pb-0">
                        <div class="d-flex align-items-start flex-wrap">
                            <div class="col-12 col-lg-12 px-0">

                                <div class="ManageRoleArea" id="menuArea">
                                    <div class="panel-group" id="accordion">
                                        @{
                                            int i = 0, j = 0;
                                        }
                                        @foreach (var item in Model.Data.tblMenuDetails.Where(x => x.MenuId == x.ParentMenuId).OrderBy(x => x.MenuOrder))
                                        {
                                            i++;
                                            <!-- /.panel -->
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapse_@i" id=parentTitle_@i contenteditable="false">
                                                            <label class="form-check-label" for="inlineCheckbox1">@item.MenuName</label>
                                                        </a>
                                                    </h4>

                                                </div>
                                                <!--/.panel-heading -->
                                            <div id="collapse_@i" class="panel-collapse collapse" style="">
                                                    <div class="panel-body">
                                                        <!-- nested -->
                                                    <div class="panel-group" id="nested_@i">
                                                            @foreach (var item1 in Model.Data.tblMenuDetails.Where(x => x.ParentMenuId == item.MenuId && x.MenuId != item.MenuId).OrderBy(x => x.MenuOrder))
                                                            {
                                                                j++;

                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <h4 class="panel-title">
                                                                            <a data-toggle="collapse" data-parent="#nested_@i" href="#nested-collapse_@j" id="title_@j" class="collapsed">
                                                                                <label class="form-check-label" for="inlineCheckbox1">@item1.MenuName</label>
                                                                            </a>
                                                                        </h4>
                                                                    </div>
                                                                    <!--/.panel-heading -->
                                                            <div id="nested-collapse_@j" class="panel-collapse collapse in">

                                                                        <div class="panel-body">
                                                                            <table class="table table-striped d-md-table d-block table-bordered table-responsive" id="Permissiontable_@j" style="width:100%;">
                                                                                <thead>
                                                                                    <tr class="text-center" style="font-size: 16px;">
                                                                                        <th colspan="3">Permissions</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th>Pages</th>
                                                                                        <th>View</th>
                                                                                        <th>All</th>
                                                                                        <th style="display:none">Menu ID</th>
                                                                                        <th style="display:none"></th>
                                                                                        <th style="display:none"></th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <tr>
                                                                                        <td></td>
                                                                                        <td>Allow</td>
                                                                                        <td>Allow</td>
                                                                                        <td style="display:none">Menu ID</td>
                                                                                        <td style="display:none">parentTitle_@i</td>
                                                                                        <td style="display:none">collapse_@i</td>
                                                                                    </tr>
                                                                                    @foreach (var item2 in Model.Data.tblMenuDetails.Where(x => x.ParentMenuId == item1.MenuId && x.MenuId != item1.MenuId).OrderBy(x => x.MenuOrder))
                                                                                    {
                                                                                        <tr>
                                                                                            <td>@item2.MenuName</td>

                                                                                            @if (item2.AllowedAction == "2")
                                                                                            {
                                                                                                <td>

                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input position-static" type="checkbox" name="chkView_@item2.MenuId" id="chkView_@item2.MenuId" checked aria-label="...">
                                                                                                    </div>

                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input position-static" type="checkbox" name="chkAll_@item2.MenuId" id="chkAll_@item2.MenuId" checked aria-label="...">
                                                                                                    </div>
                                                                                                </td>
                                                                                            }
                                                                                            else if (item2.AllowedAction == "1")
                                                                                            {
                                                                                                <td>

                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input position-static" type="checkbox" name="chkView_@item2.MenuId" id="chkView_@item2.MenuId" checked aria-label="...">
                                                                                                    </div>

                                                                                                </td>
                                                                                                <td>
                                                                                                    <div class="form-check">
                                                                                                        <input class="form-check-input position-static" type="checkbox" name="chkAll_@item2.MenuId" id="chkAll_@item2.MenuId" aria-label="...">
                                                                                                    </div>
                                                                                                </td>
                                                                                            }
                                                                                            <td style="display:none">@item2.MenuId</td> @*Menu ID*@
                                                                                            <td style="display:none">parentTitle_@i</td>
                                                                                            <td style="display:none">collapse_@i</td>

                                                                                        </tr>
                                                                                    }

                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                        <!--/.panel-body -->
                                                            </div>
                                                                    <!--/.panel-collapse -->
                                                        </div>

                                                                <!-- nested -->
                                                                <!--/.panel-collapse -->
                                                                <!-- /.panel -->
                                                            }

                                                        </div>
                                                        <!--/.panel-body -->
                                                </div>
                                                </div>
                                            </div>
                                        }
                                        <input type="hidden" id="tblCount" value=@j>
                                        <!-- /.panel-group -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="d-flex align-items-center justify-content-center mt-3">
                    <div class="px-2">
                        <button class="btn btn_primary" type="button" onclick="SavePermissions();">SAVE ALL</button>
                    </div>

                </div>
            </div>
        </form>
        <div class="clearfix"></div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
         var count=$("#tblCount").val();
        if(count>0){
            for(var i=1;i<count+1;i++){
                debugger;
                 $("#Permissiontable_"+i+" tbody tr").each(function () {
                    var row = $(this);
                    if(row[0].rowIndex>2){
                        debugger;
                        var menuId = row[0].cells[3].textContent;
                        var parentId=row[0].cells[4].textContent;
                        var subParentId=row[0].cells[5].textContent;
                        
                        if(row.find('input[name=chkView_'+menuId+']').is(":checked") || row.find('input[name=chkAll_'+menuId+']').is(":checked")){
                            
                            if(!($("#nested-collapse_"+i).hasClass("show")))
                                $("#nested-collapse_"+i).addClass("show");
                            $("#title_"+i).removeClass("collapsed");
                            $("#title_"+i).attr("aria-expanded",true);
                            $("#"+parentId).removeClass("collapsed");
                            $("#"+parentId).attr("aria-expanded",true);
                            
                            if(!($("#"+subParentId).hasClass("show")))
                                $("#"+subParentId).addClass("show");

                        }
                     }
                 });
            }
        }

    });
    $("#menuArea").on("click",(function(e){

        var roleName=$("#RoleName").val();
        var roleDescription=$("#RoleDescription").val();
        if(roleName.trim()==""){
            $("#roleName_error").html("Role Name is required");
            $("#roleName_error").attr("style","display:block");
            if(!($("#menuArea").hasClass("disable"))){
                $("#menuArea").addClass("disable");
            }
        }
        else{

            $("#roleName_error").html("");
            $("#roleName_error").attr("style","display:none");
            if($("#menuArea").hasClass("disable")){
                $("#menuArea").removeClass("disable");
            }
        }
    }));
    $("#RoleName").on("blur", function() {
         var roleName=$("#RoleName").val();
         if(roleName.trim()==""){
            $("#roleName_error").html("Role Name is required");
            $("#roleName_error").attr("style","display:block");
            if(!($("#menuArea").hasClass("disable"))){
                $("#menuArea").addClass("disable");
            }
        }
        else{
            $("#roleName_error").html("");
            $("#roleName_error").attr("style","display:none");
            if($("#menuArea").hasClass("disable")){
                $("#menuArea").removeClass("disable");
            }
        }
    });
     function SavePermissions() {

        menuDetail = [];
        var flag="Y";
        var count=$("#tblCount").val();
        if(count>0){
            for(var i=0;i<count;i++){
                //var table=$("#Permissiontable_"i);

                 $("#Permissiontable_"+i+" tbody tr").each(function () {

                         var row = $(this);
                        if(row[0].rowIndex>2){


                             var allowedAction="0";
                             var menuId = row[0].cells[3].textContent;
                             if(row.find('input[name=chkView_'+menuId+']').is(":checked"))
                                allowedAction="1";
                             if(row.find('input[name=chkAll_'+menuId+']').is(":checked"))
                                allowedAction="2";

                             menuDetail.push({ MenuId: menuId, AllowedAction: allowedAction });
                         }


                 });
            }
            console.log(menuDetail);
        }
         var roleName=$("#RoleName").val();
        var roleDescription=$("#txtRoleDescription").val();
        if(roleName.trim()==""){
              $("#roleName_error").html("Role Name is required");
            $("#roleName_error").attr("style","display:block");
            if(!($("#menuArea").hasClass("disable"))){
                $("#menuArea").addClass("disable");
            }
            flag="N";
        }
        if (flag == "Y") {
                var reqModel = { RoleName: roleName, RoleDescription: roleDescription, ObjUpdate: menuDetail };
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("InsertManageRole", "Security")',
                    contentType: "application/json; charset=utf-8",
                    dataType: 'json',
                    data: JSON.stringify(reqModel),
                    success: function (data) {
                       if(data.length>0){
                            if(data[0].status=="0")
                                $("#reason").addClass("alert-danger");
                            else
                                $("#reason").addClass("alert-success");
                            $("#reason").html(data[0].reason);
                            $("#reason").attr("style","display:block");
                            $(".toBeHiddenOnSuccess").hide();
                        }

                    },
                    error: function (ex) {
                        alert('Error.' + ex);
                    }
                });

        }


    };
</script>   