@model List<HPCL.Common.Models.ViewModel.ValidateNewCards.VehicleDetailsModel>

<div class="bg-white p-2 p-md-4">
    <div class="tab-content mt-3" id="myTabContent">
        <div class="tab-pane fade show active" id="basicInfo" role="tabpanel" aria-labelledby="basicInfo-tab">
            <div class="w-100">
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <div class="border-1 rounded border-grey"></div>
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold"></p>
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div>
                            <div class="row">
                                <div class="col-xs-4" style="width:40%;margin-left:1.5%;">
                                    <label class="font-weight-normal col-md-5 col-12">RBE ID:</label>
                                    <div class="col-md-7 col-12" style="margin-left:-25%;">
                                        <div class="custom_select">
                                            @Model[0].RBEId
                                        </div>
                                        <span class="error" style="font-size: 14px; color: #dc3545 !important " id="categoryID"></span>
                                    </div>
                                </div>
                                <div class="col-xs-4" style="width: 40%; margin-left:18%;">
                                    <label class="font-weight-normal col-md-5 col-12">RBE Name:</label>
                                    <div class="col-md-7 col-12" style="margin-left:-20%;">
                                        <div class="custom_select">
                                            @Model[0].RbeName
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <div class="border-1 rounded border-grey"></div>
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Card Preference</p>
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div>
                            <div class="row">
                                <div class="col-xs-4" style="width:40%;margin-left:1.5%;">
                                    <label class="font-weight-normal col-md-5 col-12"></label>
                                    <div class="col-md-7 col-12" style="margin-left:-25%;">
                                        <div class="row">
                                            <div class="col-4">
                                                @if (!String.IsNullOrEmpty(Model[0].CardPreference) && Model[0].CardPreference == "Card")
                                                {
                                                    @Html.RadioButton(Model[0].CardPreference, "Card", new { @class = "form-control", @style = "width:20%;", @checked = true, @disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    <input type="radio" id="CardPreference" name="CardPreference" class="form-control" style="width:20%;" disabled="disabled" value="Card">
                                                }
                                                <p class="m-0">Card</p>
                                            </div>
                                            <div class="col-4">
                                                @if (!String.IsNullOrEmpty(Model[0].CardPreference) && Model[0].CardPreference == "Cardless")
                                                {
                                                    @Html.RadioButton(Model[0].CardPreference, "Cardless", new { @class = "form-control", @style = "width:20%;", @checked = true, @disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    <input type="radio" id="CardPreference" name="CardPreference" class="form-control" style="width:20%;" disabled="disabled" value="Cardless">
                                                }

                                                <p class="m-0">Cardless</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-4" style="width: 40%; margin-left:18%;">
                                    <label class="font-weight-normal col-md-5 col-12"></label>
                                    <div class="col-md-7 col-12" style="margin-left:-20%;">
                                        <div class="custom_select">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <div class="border-1 rounded border-grey"></div>
                    <p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Fee Payment Details</p>
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div>
                            <div class="row">
                                <div class="col-xs-4" style="width:40%;margin-left:1.5%;">
                                    <label class="font-weight-normal col-md-5 col-12"></label>
                                    <div class="col-md-7 col-12" style="margin-left:-25%;">
                                        <div class="row">
                                            <div class="col-4">
                                                @if (!String.IsNullOrEmpty(Model[0].FeePaymentsCollectorFeeWaiver) && Model[0].FeePaymentsCollectorFeeWaiver == "Fee Collect(CR)")
                                                {
                                                    @Html.RadioButton(Model[0].FeePaymentsCollectFeeWaiverId, "Fee Collect(CR)", new { @class = "form-control", @style = "width:20%;", @checked = true, @disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    <input type="radio" id="FeePaymentsCollectorFeeWaiver" name="CardPreference" class="form-control" style="width:20%;" disabled="disabled" value="Fee Collect(CR)">
                                                }
                                                <p class="m-0">Fee Collect(CR)</p>
                                            </div>
                                            <div class="col-4">
                                                @if (!String.IsNullOrEmpty(Model[0].FeePaymentsCollectorFeeWaiver) && Model[0].FeePaymentsCollectorFeeWaiver == "Fee Collect(Cheque)")
                                                {
                                                    @Html.RadioButton(Model[0].FeePaymentsCollectFeeWaiverId, "Fee Collect(Cheque)", new { @class = "form-control", @style = "width:20%;", @checked = true, @disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    <input type="radio" id="FeePaymentsCollectorFeeWaiver" name="CardPreference" class="form-control" style="width:20%;" disabled="disabled" value="Fee Collect(Cheque)">
                                                }
                                                <p class="m-0">Fee Collect(Checque)</p>
                                            </div>
                                            <div class="col-4">
                                                @if (!String.IsNullOrEmpty(Model[0].FeePaymentsCollectorFeeWaiver) && Model[0].FeePaymentsCollectorFeeWaiver == "Fee Waiver")
                                                {
                                                    @Html.RadioButton(Model[0].FeePaymentsCollectFeeWaiverId, "Fee Waiver", new { @class = "form-control", @style = "width:20%;", @checked = true, @disabled = "disabled" })
                                                }
                                                else
                                                {
                                                    <input type="radio" id="FeePaymentsCollectorFeeWaiver" name="CardPreference" class="form-control" style="width:20%;" disabled="disabled" value="Fee Waiver">
                                                }
                                                <p class="m-0">Fee Waiver</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12" style="/* width: 40%; *//* margin-left:18%; */">
                                    <label class="font-weight-normal col-md-5 col-12"></label>
                                    <div class="col-12" style="/* margin-left:-20%; */float: left;">
                                        <div class="col-4" style="float: left;">
                                            <label class="font-weight-normal col-md-5 col-12">CR No.:</label>
                                            <div class="col-md-7 col-12" style="margin-left:-25%;">

                                                @if (!string.IsNullOrEmpty(Model[0].CRNo))
                                                {
                                                    <div class="custom_select">
                                                        @Model[0].CRNo;
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom_select">
                                                        N/A
                                                    </div>
                                                }

                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="categoryID"></span>
                                            </div>
                                        </div>
                                        <div class="col-4" style="float: left;">
                                            <label class="font-weight-normal col-md-5 col-12">CR Date:</label>
                                            <div class="col-md-7 col-12" style="margin-left:-25%;">

                                                @if (!string.IsNullOrEmpty(Model[0].CRDate))
                                                {
                                                    <div class="custom_select">
                                                        @Model[0].CRDate;
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="custom_select">
                                                        N/A
                                                    </div>
                                                }
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="categoryID"></span>
                                            </div>
                                        </div>
                                        <div class="col-4" style="float: left;">
                                            <label class="font-weight-normal col-md-5 col-12">No. of cards:</label>
                                            <div class="col-md-7 col-12" style="margin-left:-18%;">
                                                <div class="custom_select">
                                                    @Model.Count
                                                </div>
                                                <span class="error" style="font-size: 14px; color: #dc3545 !important " id="categoryID"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <div class="border-1 rounded border-grey"></div>
                    @*<p class="text_primary px-3 py-2 bg-grey m-0 font-weight-bold">Fee Payment Details</p>*@
                    <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                        <div>
                            <div class="row" style="margin-left:0px; margin-right:-8px;">
                                <table class="table table-striped" id="merchantApprovalDetails">
                                    <thead style="background-color:lightgray;">
                                        <tr>
                                            <th style="width:5%;">S.No.</th>
                                            <th style="width:10%;">Vehicle Number /Card Identifier</th>
                                            <th style="width:10%;">Vehicle Owner Name</th>
                                        </tr>
                                    </thead>
                                    <tbody id="searchMerchantTableBody">
                                        @{
                                            int i = 0;
                                        }
                                        @foreach (var item in Model)
                                        {
                                            i = i + 1;
                                            <tr>
                                                <td>@i</td>
                                                <td>
                                                    @if (item.VechileNo != "")
                                                    {
                                                        @item.VechileNo;
                                                    }
                                                    else if (item.CardIdentifier != "")
                                                    {
                                                        @item.CardIdentifier;
                                                    }
                                                </td>
                                                <td>@item.VechileOwnerName</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-12 pl-0 pr-md-2 pr-0 py-2">
                    <label class="font-weight-normal col-md-5 col-12">Comments</label>
                    <div>
                        <textarea id="comments" name="comments" rows="4" cols="50" style="margin-left: -35%; border-radius: 10px;"></textarea>
                        <div class="error" id="comment_error" style="margin-top: -6%;  margin-left: 7%;"></div>
                        <div style="display:none;" id="custRefNo">@Model[0].CustomerReferenceNo</div>
                    </div>
                    <div>
                        <div class="row" style="margin-top: 3%; margin-left: 7%">
                            <button class="btn btn-primary" type="button" onclick="approveReject('4')">Approve</button>
                            <button class="btn btn-primary" style="margin-left:1%;" type="button" onclick="approveReject('13')">Reject</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function approveReject(action) {
        if ($("#comments").val() != "") {
            var approvemdl = { CustomerReferenceNo: $("#custRefNo").html(), Comments: $("#comments").val(), Approvalstatus: action, };
            console.log(approvemdl);
            $.ajax({
                type: 'POST',
                url: '@Url.Action("ActionOnCards", "ValidateNewCards")',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                data: JSON.stringify(approvemdl),
                success: function (data) {
                    alert(data.message);
                },
                error: function (ex) {
                    alert('Error.' + ex);
                }
            });
        }
        else {
            $("#comment_error").html("Comment is required");
        }
    }
</script>